---
layout: pages
title: 欧美城 · 服务之星
---
<div id="app" class="container">
    <div class="rule-container">
        <h4 class="sort-title layui-bg-red" style="width:100%">
            <i class="iconfont icon-20-rules mr-1"></i> 评选规则
        </h4>
        <div class="content">
            <p>
                <strong style="font-size:16px;width: 100%;display: block;">第一期“欧美城 · 服务之星”评比活动</strong>
            </p>
            <p>投票时间：7月8日00:00-7月9日23:59</p>
            <p>获奖公布：7月10日获奖名单公布；暂定7月15日表彰</p>
            <p>投票规则：<span style="font-size:18px;"></span><strong>投票期间公司全体员工每人拥有三次投票权</strong></span></p>
            <p>&nbsp;</p>
            <p>
                <strong style="font-size:16px;width: 100%;display: block;">奖励</strong>
            </p>
            <p>“服务之星”（一线人员）：<span>奖金2000元/人及徽章</span></p>
            <p>“服务之星”（管理人员）：<span>奖金3000元/人及徽章</span></p>
            <p style="line-height:15px!important">
                <span style="color: rgb(227, 108, 9);font-size:12px;">名单将在宣传栏公示表扬，并记录在员工档案，作为年终奖的依据。</span>
            </p>
        </div>
    </div>
</div>