---
layout: default
title: 聚焦欧美城 · 享受生活
---
<style>
.rule-container .content p{
    text-align: left;
}
.rule-container .content span{
    font-size: 16px;
}
</style>
<link rel="stylesheet" href="assets/css/rule.css">
<a href="apply.html" class="layui-btn layui-btn-fluid">
    <span class="text">我要报名</span>
</a>
<div class="rule-container">
    <h4 class="title bg-color">
        <i class="iconfont icon-20-rules"></i> 活动说明
    </h4>
    <div class="content">
        <p><strong><span style="font-size:16px;width: 100%;display: block;padding:10px 0;">“聚焦欧美城 享受生活”<br/>手机摄影比赛活动开始啦！</span></strong></p>
        <p>点击<span style="font-size:18px; color: rgb(192, 0, 0);"><strong>【我要报名</strong><strong>】</strong></span>填写报名信息</p>
        <p>活动时间：9月15日00:00-9月24日23:59</p>
        <p>&nbsp;</p>
        <p>获奖公布：9月25日获奖名单公布，具体领奖方式将由工作人员电话联系</p>
        <p>&nbsp;</p>
        <p>活动规则：活动期间<span style="font-size:18px;"></span><strong>每天每个微信账号可投1张票</strong></span>，禁止网络刷票、水军群求助（系统自动监测刷票情况，一经发现立即<strong><span style="color: rgb(192, 0, 0); font-size: 20px;">取消资格</span></strong>！）</p>
        <p>&nbsp;</p>
        <p>奖品：</p>
        <p>一等奖（1名）：<span><strong>欧美城家庭四人年卡一张</strong></span></p>
        <p>二等奖（1名）：<span><strong>欧美城家庭四人套票一份</strong><small>（含欧美城海洋世界门票4张，蜡像馆门票4张，攀岩一次体验票4张，使用有效期不限）</small></span></p>
        <p>三等奖（2名）：<span><strong>欧美城海洋世界家庭四人套票一份</strong><small>（含欧美城海洋世界门票四张，使用有效期不限制）</small></span></p>
        <p>优秀奖（30名）：<span><strong>欧美城海洋世界门票一张</strong> <small>（使用有效期不限制）</small></span></p>
        <p>&nbsp;</p>
        <p>地址：广东省惠州市惠城区小金口金龙大道99号</p>
        <p>咨询电话：0752-2888688</p>
        <p>主办方：惠州欧美城文化小镇</p>
        <p>&nbsp;</p>
        <p><span style="color: rgb(227, 108, 9);">活动所有解释权归主办方所有。</span></p>
        <p><br></p>
    </div>
</div>