<p class="desc">
    2013年9月，集团总部董事局主席吴晓翔先生（中国狮子城集团董事长、中华缘善基金会主席、香港华商慈善基金会主席）以个人名义发起并捐献人民币208万元整，成立了“广东省缘善公益基金会”同年10月经广东省民…
    <a href="">查看更多</a>
</p>
<div class="tab-detail clearfix">
    <div class="col-lg-5">
        <img data-original="../upload/201803/1521445582.png" alt="缘善公益" class="img-fluid"
            data-lazyload="true" src="../assets/img/1521445582.png" style="display: block;">
    </div>
    <div class="col-lg-7">
        <!-- <ul class="blocks-3 column-3"> -->
        <ul>
            <li style="width:100%;text-align: left">
                <a href=""><span style="width: 60%;overflow: hidden;">缘善公益潮南东溪小学助学见面会昨日圆满落幕！</span>[2018-07-02 ]</a>
            </li>
        </ul>
    </div>
</div>