---
layout: pages
title: category
---
<!-- Page Content -->
<div id="content">


      {% include Components/toolbar.html %}
      <!-- Main Content -->
      <div class="animated fadeinup page">
  
        <div class="shop-category center-align animated fadeinup delay-1">
          <div class="category-image">
            <div class="category-header">
              <i class="ion-heart right"></i>
            </div>
            <img src="../../static/img/product.jpg" alt="">
            <a href="product.html"><div class="opacity-overlay"></div></a>
          </div>
          <div class="category-preview p-20">
            <h4 class="uppercase">Clean Watch</h4>
            <h3 class="price">699.00 $</h3>
            <div class="rating">
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star"></i>
            </div>
            <a href="product.html" class="waves-effect waves-light btn primary-color">Buy</a>
          </div>
        </div>
  
        <div class="shop-category center-align animated fadeinup delay-2">
          <div class="category-image">
            <img src="../../static/img/product2.jpg" alt="">
            <a href="product.html"><div class="opacity-overlay"></div></a>
          </div>
          <div class="category-preview p-20">
            <h4 class="uppercase">Bottle Cup</h4>
            <h3 class="price">112.00 $</h3>
            <div class="rating">
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
            </div>
            <a href="product.html" class="waves-effect waves-light btn primary-color">Buy</a>
          </div>
        </div>
  
        <div class="shop-category center-align animated fadeinup delay-3">
          <div class="category-image">
            <img src="../../static/img/product3.jpg" alt="">
            <a href="product.html"><div class="opacity-overlay"></div></a>
          </div>
          <div class="category-preview p-20">
            <h4 class="uppercase">Random One</h4>
            <h3 class="price">64.30 $</h3>
            <div class="rating">
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star"></i>
              <i class="ion-star"></i>
            </div>
            <a href="product.html" class="waves-effect waves-light btn primary-color">Buy</a>
          </div>
        </div>
  
        <div class="shop-category center-align animated fadeinup delay-4">
          <div class="category-image">
            <img src="../../static/img/product4.jpg" alt="">
            <a href="product.html"><div class="opacity-overlay"></div></a>
          </div>
          <div class="category-preview p-20">
            <h4 class="uppercase">White Pack</h4>
            <h3 class="price">369.50 $</h3>
            <div class="rating">
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star"></i>
              <i class="ion-star"></i>
              <i class="ion-star"></i>
            </div>
            <a href="product.html" class="waves-effect waves-light btn primary-color">Buy</a>
          </div>
        </div>
  
        <div class="shop-category center-align animated fadeinup delay-4">
          <div class="category-image">
            <img src="../../static/img/product.jpg" alt="">
            <a href="product.html"><div class="opacity-overlay"></div></a>
          </div>
          <div class="category-preview p-20">
            <h4 class="uppercase">White Pack</h4>
            <h3 class="price">369.50 $</h3>
            <div class="rating">
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star"></i>
              <i class="ion-star"></i>
              <i class="ion-star"></i>
            </div>
            <a href="product.html" class="waves-effect waves-light btn primary-color">Buy</a>
          </div>
        </div>
  
        <div class="shop-category center-align animated fadeinup delay-4">
          <div class="category-image">
            <img src="../../static/img/product2.jpg" alt="">
            <a href="product.html"><div class="opacity-overlay"></div></a>
          </div>
          <div class="category-preview p-20">
            <h4 class="uppercase">White Pack</h4>
            <h3 class="price">369.50 $</h3>
            <div class="rating">
              <i class="ion-star active"></i>
              <i class="ion-star active"></i>
              <i class="ion-star"></i>
              <i class="ion-star"></i>
              <i class="ion-star"></i>
            </div>
            <a href="product.html" class="waves-effect waves-light btn primary-color">Buy</a>
          </div>
        </div>
        
      </div> <!-- End of Main Contents -->
  
      {% include footer.html %}
    
      
</div> <!-- End of Page Content -->