---
layout: pages
title: index-sliced
---
  <!-- Page Content -->
  <div id="content" class="bg-v-2">

     
      {% include Components/toolbar.html %}
      <!-- Main Content -->
      <div class="animated fadeinup">
        
        <!-- Slider -->         
        <div class="swiper-container slider-sliced">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-bottom-right valign-wrapper">
                <div class="valign center-align width-100 p-b-5em">
                  <h2 class="uppercase">Halo</h2>
                  <p>Is a mobile website, developed to make your life easer!</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-bottom-left valign-wrapper">
                <div class="valign left-align width-100 p-b-5em">
                  <h2 class="uppercase">Halo</h2>
                  <p>Is a mobile website, developed to make your life easer!</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-bottom-right valign-wrapper">
                <div class="valign right-align width-100 p-b-5em">
                  <h2 class="uppercase">Halo</h2>
                  <p>Is a mobile website, developed to make your life easer!</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
        <!-- End of Slider -->
  
      </div> <!-- End of Main Contents -->
    
      
    </div> <!-- End of Page Content -->