<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p style="padding:20px 10px;text-align:center;margin:0;font-size:18px;">
                  点击右上角 <img src="img/more.png" style="width:25px;"/><br/>
                  发送给朋友 <img src="img/zfpengyou.png" style="width:25px;"/>，或 朋友圈 <img src="img/pengquan.png" style="width:25px;"/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm btn-block" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>