<!-----运势详解----->
{% if page == "01.html" %}
<div class="xiangjie ztyc">
	<div class="ds">
		<ul>
			<li><strong>运势评分：</strong>58分</li>
			<li><strong>太岁关系：</strong>劫财</li>
			<li class="li_yb tup"><strong class="red"><img src="img/TB2Vkobb8NkpuFjy0FaXXbRCVXa_!!672358654.png">吉星：</strong>1个</li>
			<li class="li_yb"><strong class="red">偏官：</strong>偏官本不为吉星，但在2019克了劫财，故为吉利，竞争对手被压制。</li>
			<li class="li_yb tup"><strong class="black"><img src="img/TB2isgWcEhnpuFjSZFpXXcpuXXa_!!672358654.png">凶煞：</strong>4个</li>
			<li class="li_yb"><strong class="black">病符：</strong>犯之魂魄不安心烦躁，代表疾病、灾厄或是身体不好。</li>
			<li class="li_yb"><strong class="black">羊刃：</strong>羊刃能夺财, 劫官, 破坏命中的富贵气。</li>
			<li class="li_yb"><strong class="black">亡神：</strong>会导致流年不顺，发生各种灾祸和不利。</li>
			<li class="li_yb"><strong class="black">劫财：</strong>破财凶星，主导矛盾，是非，被兄弟朋友所拖累。</li>
			<li class="li_yb"><strong>婚姻宜配：</strong>龙、猴、牛大吉，心心相印，富贵幸福，万事易成功，享福终身。其他属相次之。</li>
			<li class="li_yb"><strong>婚姻忌配：</strong>马、兔、羊，不能富家，灾害并至，凶煞重重，甚至骨肉分离，不得安宁。</li>
			<div class="clear"></div>
		</ul>
    </div>
</div>
{% endif %}
<!--运势详解end-->