---
layout: pages
title: 谁看过我
---
<header>
    <div class="header_bg bg3">
        <a class="hd-lbtn " href="javascript:history.back()">
            <i class="header_top_l iconfont"></i>
        </a>
        <div class="header_h1">谁看过我</div>
    </div>
</header>
<section class="wap_member">
    <div class="wap_member_comp_h1">
        <span>被浏览的职位</span>
    </div>
    <div class="com_member_hr">
        <div class="com_member_hr_name">
            <a href="../c_resume_show.html" class="wap_member_com_name  com_member_hr_cblue">李生</a>
        </div>
        <div class="com_member_user_box">
            <div class="com_member_hr_tj">
                <div class="com_member_hr_p1">
                    <span class="member_c9">性别：</span>男 &nbsp;&nbsp;&nbsp;
                    <span class="member_c9">经验：</span>10年以上 &nbsp;&nbsp;&nbsp;
                    <span class="member_c9">学历：</span>高中以下
                    <div class="com_member_hr_p1">
                        <span class="member_c9">意向职位：</span>高级硬件工程师
                    </div>
                </div>
            </div>
            <div class="com_member_hr_p1">
                <span class="member_c9">浏览职位：</span>前端H5开发工程师</div>
            <div class="com_member_hr_p1">
                <span class="member_c9">浏览日期：</span>2018-12-16 </div>
        </div>
        <div class="com_member_hr_cz">
            <a href="javascript:void(0)" onclick="layer_del('确定要删除吗？','index.php?c=lookjobdel&id=4513')" class="yun_member_hr_bth">删除</a>
            <a href="javascript:void(0);" uid="2184" username="李生" class="yun_member_hr_bth sq_resume"> 邀请面试</a>
        </div>
    </div>
    <div class="com_member_hr">
        <div class="com_member_hr_name">
            <a href="../c_resume_show.html" class="wap_member_com_name  com_member_hr_cblue">李生</a>
        </div>
        <div class="com_member_user_box">
            <div class="com_member_hr_tj">
                <div class="com_member_hr_p1">
                    <span class="member_c9">性别：</span>男 &nbsp;&nbsp;&nbsp;
                    <span class="member_c9">经验：</span>10年以上 &nbsp;&nbsp;&nbsp;
                    <span class="member_c9">学历：</span>高中以下
                    <div class="com_member_hr_p1">
                        <span class="member_c9">意向职位：</span>高级硬件工程师
                    </div>
                </div>
            </div>
            <div class="com_member_hr_p1">
                <span class="member_c9">浏览职位：</span>网页美工设计师</div>
            <div class="com_member_hr_p1">
                <span class="member_c9">浏览日期：</span>2018-12-16 </div>
        </div>
        <div class="com_member_hr_cz">
            <a href="javascript:void(0)" onclick="layer_del('确定要删除吗？','index.php?c=lookjobdel&id=4515')" class="yun_member_hr_bth">删除</a>
            <a href="javascript:void(0);" uid="2184" username="李生" class="yun_member_hr_bth sq_resume"> 邀请面试</a>
        </div>
    </div>
</section>