---
layout: pages
title: 账户设置
---
<header>
    <div class="header_bg bg3">
        <a class="hd-lbtn " href="javascript:history.back()"><i class="header_top_l iconfont"></i></a>
        <div class="header_h1">账户设置</div>
    </div>
</header>
<!--账号设置-->
<a href="qy_info.html" class="yunset_box_cominfo">
    <img src="../images/14906489056.PNG">
    <div class="">494864068@qq.com</div>
    <div class="yunset_box_info">完善企业基本资料</div>
</a>

<ul class="yunset mt15">
    <li>
        <a href="qy_comcert.html">营业执照认证 <span class="yunset_tip">已上传等待审核</span> </a>
    </li>
</ul>
<ul class="yunset mt15">
    <li class="yunset_yx">
        <a href="qy_moblie.html">
            <span class="yunset_list_maxheight">手机</span>
            <span class="yunset_tip">
                <div class="yunset_yx_name">
                    （已绑定）13433598652
                </div>
                手机用于登录和找回密码请谨慎填写
            </span>
        </a>
    </li>

    <li class="yunset_yx">
        <a href="qy_email.html">
            <span class="yunset_list_maxheight">邮箱</span>
            <span class="yunset_tip ">
                <div class="yunset_yx_name">
                    （已绑定）494864068@qq.com
                </div>
                邮箱用于登录和找回密码请谨慎填写
            </span>
        </a>
    </li>
    <li>
        <a href="qy_binding.html">社交账号绑定</a>
    </li>
</ul>

<ul class="yunset mt15">
    <!-- <li>
        <a href="qy_map.html">企业设置地图
            <span class="yunset_tip">已设置</span>
        </a>
    </li> -->
    <li>
        <a href="qy_show.html">上传企业环境</a>
    </li>
</ul>
<ul class="yunset mt15">
    <li>
        <a href="qy_password.html">密码设置</a>
    </li>
    <li>
        <a href="qy_setname.html">用户名修改
            <div class="yunset_tip ">您有一次修改账户名的机会</div></a>
    </li>
    <li>
        <a href="qy_advice.html">意见反馈</a>
    </li>
</ul>
<div class="yunset_logout mt15">
    <a href="javascript:;" onclick="islogout('index.html','确认退出吗？');">退出登录</a>
</div>