---
layout: pages
title: 招聘会记录
---
<header>
    <div class="header_bg bg3">
        <a class="hd-lbtn " href="javascript:history.back()"><i class="header_top_l iconfont"></i></a>
        <div class="header_h1">招聘会记录</div>
    </div>
</header>
<section class="wap_member">
    <div class="wap_member_comp_h1" style="position:relative"><span>招聘会记录</span></div>
    <div class="wap_member_job_show">
        <div class="wap_member_no">亲爱的用户，目前您还没有参加的招聘会信息</div>
        <em class="wap_memberjob_fabu ">
            <a href="c_special.html" style="width:100%;height:43px; line-height:43px; font-size:16px; margin-top:10px; background:#F90;color:#fff; display:inline-block; text-align:center">查看招聘会信息</a>
        </em>
    </div>
</section>