---
layout: default
title: 在线报名
---
<style>
    .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
    .layui-input-block {
        margin-left: 100px!important;
    }
    .title{
        height: 50px;
        line-height: 30px;
    }
</style>
<div class="pt-2 pb-2 text-center">
    <img src="assets/img/gl_logo.png" width="140" alt="">
</div>
<div class="swiper-container carousel">
    <div class="swiper-wrapper">
        {% for entry in site.data.swiper %}
            {% for swiper in entry.glpzkdc %}
                <div class="swiper-slide">
                    <img src="{{swiper.src}}" class="d-block w-100" alt="">
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<div class="container p-0">
    <div class="p-2 pl-3 bg-info text-white">在线报名</div>
    <form class="layui-form layui-form-pane1" action="" lay-filter="first" style="width:100%">
        <div class="layui-form apply-form" style="width:100%">
            <div class="layui-form-item pt-1 pb-1 m-0 border-bottom">
                <label class="layui-form-label text-left pr-0 mb-0">手机号码</label>
                <div class="layui-input-block">
                    <input type="tel" name="phone" lay-verify="required|number" required placeholder="请输入手机号码" lay-verType="tips" autocomplete="off" class="layui-input border-0">
                </div>
            </div>
            <div class="layui-form-item pt-1 pb-1 m-0 border-bottom">
                <label class="layui-form-label text-left pr-0 mb-0">用户名1</label>
                <div class="layui-input-block">
                    <input type="text" name="name1" lay-verify="required|name" required placeholder="请输入姓名" autocomplete="off" class="layui-input border-0">
                </div>
            </div>
            <div class="layui-form-item pt-1 pb-1 m-0 border-bottom">
                <label class="layui-form-label text-left pr-0 mb-0">用户名2</label>
                <div class="layui-input-block">
                    <input type="text" name="name2" lay-verify="required|name" required placeholder="请输入姓名" autocomplete="off" class="layui-input border-0">
                </div>
            </div>
            <div class="layui-form-item pt-1 pb-1 m-0 border-bottom">
                <label class="layui-form-label text-left pr-0 mb-0">报名时间</label>
                <div class="layui-input-block mb-1">
                    <input type="text" class="layui-input border-0" id="time-format" placeholder="请选择报名时间">
                </div>
            </div>
            <div class="layui-form-item pt-1 pb-1 m-0 border-bottom">
                <label class="layui-form-label text-left pr-0 mb-0">报名金额</label>
                <div class="layui-input-block">
                    <input type="text" name="number" lay-verify="required|address" required placeholder="请输入报名金额" autocomplete="off" class="layui-input border-0">
                </div>
            </div>
            <div class="layui-form-item m-3">
                <div class="layui-row layui-col-space12 text-center">
                    <button class="layui-btn layui-col-sm4 w-100" lay-submit lay-filter="*">提  交</button>
                </div>
            </div>
        </div>
    </form>
</div>