---
layout: pages
title: 预约单-创建
---
<div class="page-content ticket" style="padding:5px;">
    <h3>填写客户信息</h3>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item mb-2" style="width:45%;">
            <div class="layui-input-block" style="margin-left:0;">
                <span class="layui-title">团体名称:</span>
                <input type="text" name="" placeholder="" class="text_add2" style="margin-left: 10px;">
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:45%;">
            <div class="layui-input-block" style="margin-left:0;">
                <span class="layui-title">团体编号:</span>
                <p style="height:38px;line-height:38px;width: 173px;margin-left:10px;">000222</p>
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:45%;">
            <div class="layui-input-block" style="margin-left: 0;">
                <span  class="layui-title">联系人:</span>
                <input type="text" name="" placeholder="" class="text_add2" style="margin-left: 10px;">
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:45%;">
            <div class="layui-input-block" style="margin-left: 0;">
                <span  class="layui-title">客户类型:</span>
                <p style="height:38px;line-height:38px;width:173px;margin-left:10px;">团体旅行社</p>
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:45%;">
            <div class="layui-input-block" style="margin-left: 0;">
                <span class="layui-title">联系电话:</span>
                <input type="text" name="" placeholder="" class="text_add2" style="margin-left: 10px;;">
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:45%;">
            <div class="layui-input-block" style="margin-left: 0;">
                <span class="layui-title">公司电话:</span>
                <!-- <input type="text" name="" placeholder="" class="text_add"> -->
                <p style="height:38px;line-height:38px;width:173px;margin-left:10px;">0752-2898788</p>
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:45%;">
            <div class="layui-input-block" style="margin-left: 0;">
                <span class="layui-title">预订员:</span>
                <input type="text" name="" placeholder="" class="text_add2" style="margin-left: 10px;">
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:45%;">
            <div class="layui-input-block" style="margin-left: 0;">
                <span  class="layui-title">游览日期:</span>
                <div style="margin-left:10px;">
                    <input type="text" name="" class="text_add2" id="starDate" style="width:30%;"> ~ <input type="text" name="" class="text_add2" id="endDate" style="width:30%;">
                </div>
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:45%;">
            <div class="layui-input-block" style="margin-left: 0;">
                <span class="layui-title" style="margin-right:10px;">支付方式:</span>
                <select lay-filter="aihao">
                    <option value="1">挂账</option>
                    <option value="2">预付款</option>
                    <option value="2">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:45%;">
            <div class="layui-input-block" style="margin-left: 0;">
                <span class="layui-title">备注:</span>
                <input type="text" name="" placeholder="" class="text_add2" style="margin-left: 10px;">
            </div>
        </div>
    </form>
    <div style="clear: both;"></div>
</div>
<div class="ticket" style="padding:0 5px;">
    <h3>选择要预订的门票</h3>
    <div style="display: flex;margin-top:5px;">
        <div style="width: 25%;">
            <form class="layui-form layui-form-pane" action="" style="display:flex;align-items:center;">
                <input type="text" class="text_add3" step="width:125px">
                <button type="button" class="layui-btn layui-btn-primary" style="margin-left:5px;">定位</button> 
            </form>
            <div class="dataList">
                加载数据中...
            </div>
        </div>
        <div style="width: 75%;">
          <div class="allBtn" style="height:38px;line-height:38px;margin-left:20px;">
            已选:0类票，合计:0张，订单金额:0元
          </div>
          <table class="layui-hide" id="yygl_add1" lay-filter="test"></table>
        </div>
    </div>
</div>