---
layout: pages
title: 预约单-查看详情
---
<div class="page-content">
     <!-- 预约单-查看详情 -->
     <ul class="dingdan_content">
        <li><span>订单号:</span>BK191220000011</li>
        <li><span>订单状态:</span>已出票</li>
        <li><span>订单金额:</span>210元</li>
        <li><span>数量:</span>3张</li>
     </ul>
    <div class="dingdan_list" style="background-color: #ffffff;">
        <h2>订单跟踪信息</h2>
        <table class="layui-hide" id="yygl_ddgzxx" lay-filter="test"></table>
    </div>
    <div>
        <h2>订单明细</h2>
        <ul class="mx_content">
          <li>团体名称:惠州市大众国际旅行</li>
          <li>团体编号:10040</li>
          <li>客户类型:学校</li>
          <li>游览日期:2019-12-20</li>
          <li>导游姓名:张峰</li>
          <li>联系电话:1340000000</li>
          <li>备注:</li>
        </ul>
    </div>
    <div style="background-color: #ffffff;">
        <table class="layui-hide" id="yygl_ddmx" lay-filter="test1"></table>
    </div>
</div>