---
layout: pages
title: 预约管理
---
<div class="easyui-layout ticket" style="width:100%;height:950px;">
  <div data-options="region:'west',border:false" class="leftChaXun" style="width:18%;padding:10px">
     <form class="layui-form layui-form-pane" action="">
       <h2>按以下条件进行查询</h2>
       <ul>
          <li><label>下单日期:</label><input type="text" class="text_add4" id="xdDate"></li>
          <li><label>至:</label><input type="text" class="text_add4" id="xdEndDate"></li>
          <li><label>游览日期:</label><input type="text" class="text_add4" id="ylDate"></li>
          <li><label>至:</label><input type="text" class="text_add4" id="ylEndDate"></li>
          <li>
            <label>订单状态:</label>
            <div class="layui-input-block" id="ddzt" lay-filter="ddzt" style="margin-left:0;"></div>
          </li>
          <li>
            <label>是否需要导览:</label>
            <div class="layui-input-block" id="daolan" lay-filter="daolan" style="margin-left:0;"></div>
          </li>
          <li><label>团体名称:</label><input type="text" class="text_add4"></li>
          <li><label>导游电话:</label><input type="text" class="text_add4"></li>
          <li><hr></li>
          <li><label>订单号:</label><input type="text" class="text_add4"></li>
          <li style="text-align: center;display: flex;justify-content: center;align-items: center;">
              <input type="checkbox" lay-skin="primary" id="yyd"> <label for="yyd" style="text-align:left;width:50%;">处理未结挂账预约单</label>
          </li>
          <li style="text-align: center;">
              <button type="button" class="layui-btn">重置</button> <button type="button" class="layui-btn layui-btn-primary">查询</button>
          </li>
      </ul>
     </form>
    </div>
  <div data-options="region:'center',border:false" style="width:82%;padding:10px;background-color: #eeeeee;">
      <h2>订单信息</h2>
      <div class="allBtn" style="margin:10px 0;">
          <form class="layui-form layui-form-pane" action="" style="display: flex;align-items: center;">
            <button type="button" class="layui-btn ">全选</button>
            <button type="button" class="layui-btn layui-btn-normal" id="piaolei_add"><i class="layui-icon">&#xe608;</i> 创建订单</button>
            <button type="button" class="layui-btn layui-btn-primary">订单详情</button>
            <button type="button" class="layui-btn layui-btn-primary">修改订单</button>
            <button type="button" class="layui-btn layui-btn-primary">取消订单</button>
            <button type="button" class="layui-btn layui-btn-primary">销账</button>
          </form>
      </div>
      <div style="background-color: #ffffff;">
          <table class="layui-hide" id="yygl_02" lay-filter="test"></table>
          <script type="text/html" id="barDemo">
              <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
      </div>
  </div>
</div>