<!-- Left Sidebar -->
<ul id="slide-out-left" class="side-nav collapsible">
    <li>
      <div class="sidenav-header primary-color">
        <div class="nav-avatar">
          <img class="circle avatar" src="../../static/img/user.jpg" alt="">
          <div class="avatar-body">
            <h3>狮子城</h3><p></p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="../../index.html" class="no-child" ><i class="ion-android-apps"></i> 场馆数据分析图</a>
    </li>
    <li>
      <a href="../../pages/chart.html" class="no-child" ><i class="ion-android-apps"></i> 综合数据分析图</a>
    </li>
    <li>
      <a href="../../pages/bar/bar_hysj.html" class="no-child"><i class="ion-android-apps"></i> 海洋世界</a>
    </li>
    <li>
      <a href="../../pages/bar/bar_kdc.html" class="no-child" ><i class="ion-android-apps"></i> 格林披治卡丁车馆</a>
    </li>
    <li>
      <a href="../../pages/bar/bar_zrcs.html" class="no-child" ><i class="ion-android-apps"></i> 真人CS体验馆</a>
    </li>
    <li>
      <a href="../../pages/bar/bar_qqzj.html" class="no-child" ><i class="ion-android-apps"></i> 奇奇之家</a>
    </li>
    <li>
      <a href="../../pages/bar/bar_qqjd.html" class="no-child" ><i class="ion-android-apps"></i> 奇奇主题酒店</a>
    </li>
</ul>
<!-- End of Sidebars -->