---
layout: pages
title: 考勤打卡
---
<div class="attPunch">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <svg class="icon mr-2 mt-1 text-success" aria-hidden="true">
            <use xlink:href="#icon-riqi"></use>
          </svg>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="date2" type="text" value="2018年12月12日">
        </div>
        <div class="weui_cell_ft">
            <i class="fa fa-angle-down"></i>
        </div>
      </div>
    </div>
    {% include modules/attPunch/mod_pos.html %}
    <!-- 置顶部 -->
    <!-- <div class="fixedBottom">
        <div class="ind_rel_btn text-white rounded-circle float-right text-center p-1 bg-success">
            <a href="workOutPunch.html" class="text-white">班外打卡</a>
        </div>
    </div> -->
</div>