---
layout: pages
title: 请假申请
---
<div class="leaveRequest">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label class="weui-label">请假类型</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" value="请选择请假类型" id="leaveType">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label class="weui-label">请假开始时</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="datetime-local" placeholder="请选择请假开始时间">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label class="weui-label">请假结束时</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="datetime-local" placeholder="请选择请假结束时间">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">请假原因</label>
            </div>
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="请输入请假原因" rows="3"></textarea>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">附件</label>
            </div>
            <div class="weui-cell__bd">
                <!-- <i class="fa fa-paperclip"></i> -->
                <input class="weui-input" type="file" placeholder="添加附件">
            </div>
        </div>
    </div>
    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
     <div class="mod_pos_btn_air w-100"><a href="">提交</a></div>
    </section>
</div>