---
layout: pages
title: 添加物料
---
<div class="matAppEdit">
    <div class="weui-cells__title">独型灯泡</div>
    <form action="" method="POST">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">归属仓库</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" value="工程物料" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">品牌</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" value="佛山照明" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">型号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" value="3W黄光" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">单价</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" value="15" readonly>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">库存</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" value="12" >
                </div>
            </div>
        </div>
        <div class="weui-btn-area m-3">
            <button type="button" class="weui-btn weui-btn_primary">确定</button>
        </div>
    </form>
</div>