---
layout: pages
title: 派发
---
<div class="send">
   <div class="pl-5 pr-5 pt-3 pb-3 text-center">
      <img src="../static/images/code.png" alt="">
      <p>扫一扫</p>
   </div>
   <div class="pl-5 pr-5">
     <div class="weui-cells__title text-center p-0 mb-3">或</div>
     <form>
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupInput" placeholder="请输入手机号">
        </div>
        <div class="form-group mb-0">
          <input type="text" class="form-control" id="formGroupInput2" placeholder="请输入提取码">
        </div>
     </form>
   </div>
   <!-- <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入手机号">
          </div>
        </div>
        <div class="weui-cell">
         <div class="weui-cell__bd">
           <input class="weui-input" placeholder="请输入提取码">
         </div>
        </div>
   </div> -->
   <div class="weui-btn-area ml-5 mr-5 m-3">
     <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
   </div>
</div>