---
layout: pages
title: 工单录入
---
<div class="workEntry">
    <div class="weui-grids">
            <a href="pubBarrier.html" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="../static/images/icon/g_01.png" alt="">
                </div>
                <p class="weui-grid__label">
                        公共报障
                </p>
            </a>
            <a href="envManagement.html" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="../static/images/icon/g_02.png" alt="">
                </div>
                <p class="weui-grid__label">
                        环境管理
                </p>
            </a>
            <a href="secService.html" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="../static/images/icon/g_03.png" alt="">
                </div>
                <p class="weui-grid__label">
                        安保服务
                </p>
            </a>
            <a href="taskRelease.html" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <img src="../static/images/icon/g_04.png" alt="">
                </div>
                <p class="weui-grid__label">
                        任务下达
                </p>
            </a>
    </div>
</div>