<script src="../static/js/jquery-2.1.0.min.js"></script>
<script src="../static/js/jquery.swipebox.min.js"></script>   
<script src="../static/js/jquery.smoothState.min.js"></script> 
<script src="../static/js/materialize.min.js"></script> 
<script src="../static/js/swiper.min.js"></script>  
<script src="../static/js/jquery.mixitup.min.js"></script>
<script src="../static/js/masonry.min.js"></script>
<script src="../static/js/chart.min.js"></script>
<script src="../static/js/functions.js"></script>