.companyDetail{
    background:$pgbg;
    margin-top:rem(161);
    min-height:rem(2382.8);
    margin-bottom:rem(161);
}

.pro_sea{
    width: 100%;
    &_pin{
       padding:0 4px;
       ul{
         display: flex;
         flex-grow:1;
       }
       li{
           list-style: none;
           justify-content:flex-start;
           justify-content:space-around;
           text-align: center;
           flex-grow:1;
           a{
               margin:5px;
               padding:5px 10px;
               background:$gray-200;
               text-decoration:none;
               border-radius:2px;
               display: block;
               font-size:$font-14;
               &.active{
                   background:$blue-deep;
                   border-color: $blue-deep;
                   color:$white;
               }
           }
       }
    }
}

.weui-navbar+.weui-tab__bd {
    padding-top: 45px!important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
    .weui-tab {
      height: 82%!important;
     }
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 375px) {
    .weui-tab {
        height: 85%!important;
     }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 414px) { 
    .weui-tab {
        height: 88%!important;
     }
  }
  