.forgetPassword{
    background-color:$white;
    margin-top:rem(161);
    padding:8%;
    .weui-cell{
      font-size:$font-14;
      padding:15px 0;
      color:$gray-600;
      &:before{
         left:0;
      }
    }
    .weui-cells{
      &:before{
         border-top:0;
      }  
    }
    .weui-cell__ft{
        position: absolute;
        right:0;
    }
}