.resume{
    background-color:$white;
    margin-top:rem(161);
    padding:8% 4%;
    .weui-cell{
        font-size:$font-14;
        padding:15px 0;
        color:$gray-600;
        &:before{
            left:0;
        }
    }
    .weui-cells{
        &:before{
            border-top:0;
        }  
    }
    .weui-cell__bd{
        text-align: right;
        padding-right: 10%;
        color:$select;
    }
    .page__hd {
        padding: 20px 0;
        position: relative;
    }
    .page__title{
        font-size:$font-18;
    }
    .weui-input{
        text-align:right;
    }
}