---
layout: default
title: 卡丁车选手信息
---
<div class="leaderDetail">
    <div class="page__hd bg-info">
        <div class="text-center" style="margin:0 auto">
            <div class="page__img">
                <img src="assets/img/glpz_img/1.png" class="border rounded-circle" />
            </div>
            <h1 class="page__title mt-2 mb-2">李舒男</h1>
            <p class="page__desc text-truncate text-white">卡丁车选手</p>
        </div>
        <div class="megEdit">
           <a href="leaderEdit.html">
              <i class="fa fa fa-cog text-white"></i>
           </a>
        </div>
    </div>
    <div class="mod_pos_item">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">性　　别</label>
                </div>
                <div class="weui-cell__bd"><p>男</p></div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">出生日期</label>
                </div>
                <div class="weui-cell__bd"><p>1990-04-22</p></div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">出生地址</label>
                </div>
                <div class="weui-cell__bd"><p>广东惠州</p></div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">手机号码</label>
                </div>
                <div class="weui-cell__bd"><p>1340000000</p></div>
            </div>
        </div>
    </div>
</div>