<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="StrSql" value="server=.;uid=sa;pwd=㒩㒠#㔮K㘚㘏㩷y㼄㽯±䂅;database=oa_jianzhi;"/>-->
    <add key="StrSql" value="server=.;uid=sa;pwd=123456;database=mybg;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<httpRuntime targetFramework="4.0"/>-->
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="512000" executionTimeout="3600" />
  </system.web>
</configuration>