<div class="mod_pos_item">
		<div class="weui-cells">
				<div class="weui-cell pt-0 pb-0 pr-0">
						<div class="weui-cell__hd">
							<label for="name" class="weui-label">应聘者中查找</label>
						</div>
						<div class="weui-cell__bd pr-0 pl-3">
								<div class="weui-cell weui-cell_select pl-0">
									<div class="weui-cell__bd">
											<select class="weui-select w-100" name="select1">
													<option value="1" selected="">编号</option>
													<option value="2">姓名</option>
													<option value="3">性别</option>
													<option value="4">学历</option>
													<option value="5">毕业学校</option>
													<option value="6">现所在地</option>
													<option value="7">电子邮件</option>
													<option value="8">所学专业</option>
											</select>
									</div>
								</div>
								<div class="weui-cell pl-0">
									<div class="weui-cell__bd">
										<input class="weui-input w-100 text-left" type="text" placeholder="请输入求职者"/>
									</div>
								</div>
						</div>
				</div>
				<div class="weui-cell weui-cell_select">
						<div class="weui-cell__hd">
										<label for="name" class="weui-label">处理状态</label>
						</div>
						<div class="weui-cell__bd pl-3">
								<select class="weui-select w-100" name="select1">
										<option selected="" value="1">内跟单员</option>
										<option value="2">2保安队长</option>
										<option value="3">外跟单员123</option>
								</select>
						</div>
				</div>
				<div class="weui-cell">
					 <a href="javascript:;" class="btn btn-outline-primary btn-block border-0 p-0"><i class="fa fa-search"></i> 开始搜查</a>
				</div>
		</div>
</div>