// color
$weuiColorPrimary: #0f78bc;
$weuiColorWarn: #E64340;
$weuiColorGray: #C8C8CD;

// link
$weuiLinkColorDefault: #586C94;

// background
$weuiBgColorDefault: #EFEFF4;
$weuiBgColorActive: #ECECEC;
$weuiBgColorBg: #ffffff;

// line
$weuiLineColorLight: #E5E5E5;
$weuiLineColorDark: #BCBAB6;

// text
$weuiTextColorTitle: #000000;
$weuiTextColorTips: #B2B2B2;
$weuiTextColorWarn: $weuiColorWarn;
$weuiTextColorGray: #999999;