---
layout: pages
title: 天天兼职
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_bg  bg3">
                    <a class="hd-lbtn mui-action-back" href="javascript:history.back();">
                        <i class="header_top_l"></i>
                    </a>
                    <div class="header_h1">
                        <div class="header_p_z"> 个人简历</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="header_navlist">
    <a href="javascript:void(0);" id="jobclick">
        <i class="naviconfont"></i>
    </a>
</div>
<form name="myform" method="post" action="">
    <section>
        <div class="resume_bg">
            <span class="resume_gx">2018-11-27 更新</span>
        </div>
        <div class="resume_info_pd">
            <div class="resume_info_pd_c">
                <div class="resume_info_pd_c_b">
                    <div class="resume_photo_box">
                        <div class="resume_photo muipreview" id="resume_photo">
                            <div class="resume_photo_c muipreview">
                                <img src="../images/14922051316.PNG">
                                <i class="user_tj_showxg"></i>
                            </div>
                        </div>
                        <div class="resume_info_n_c">
                            <div class="resume_user_name">彭女士
                                <span class="resume_user_nj">(女，41岁)</span>
                            </div>
                            <div class="resume_user_info_p">
                                <span class="resume_user_info_p_s">
                                    <i class="resume_user_info_xl"></i>高中学历</span>
                                <span class="resume_user_info_p_s">
                                    <i class="resume_user_info_nl"></i>10年以上经验</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resume_info_pd_c_b">
            <div class="resume_user_info_box">
                <div class="resume_user_info_p_box">
                </div>
            </div>
    </section>
    <div class="resume_show_pd">
        <section>
            <div class="resume_showbox">
                <div class="resume_showbox_tit">
                    <i class="resume_showbox_icon"></i>求职意向</div>
                <div class="resume_showbox_cont">
                    <ul class="user_resume_yxlist">
                        <!-- -->
                        <li class="user_resume_yxli">
                            <span class="user_resume_yx">
                                <i class="user_resume_yx_icon"></i>期望岗位</span>
                            <font color="#efb62e">销售代表</font>
                        </li>
                        <li class="user_resume_yxli">
                            <span class="user_resume_yx">
                                <i class="user_resume_yx_icon"></i>工作职能</span>
                            <span class="user_resume_yxzn">销售代表</span>
                        </li>
                        <li class="user_resume_yxli">
                            <span class="user_resume_yx">
                                <i class="user_resume_yx_icon"></i>期望城市</span>
                            <span class="user_resume_yxzn">大亚湾</span>
                        </li>
                        <li class="user_resume_yxli">
                            <span class="user_resume_yx">
                                <i class="user_resume_yx_icon"></i>期望薪资</span>￥2500-10000</li>
                        <li class="user_resume_yxli">
                            <span class="user_resume_yx">
                                <i class="user_resume_yx_icon"></i>工作性质</span>全职</li>
                        <li class="user_resume_yxli">
                            <span class="user_resume_yx">
                                <i class="user_resume_yx_icon"></i>到岗时间</span>随时到岗</li>
                        <li class="user_resume_yxli">
                            <span class="user_resume_yx">
                                <i class="user_resume_yx_icon"></i>所属行业</span>通信/电信运营、增值服务</li>
                        <li class="user_resume_yxli">
                            <span class="user_resume_yx">
                                <i class="user_resume_yx_icon"></i>目前状态</span>已离职，寻求新工作</li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="resume_showbox" id='tel'>
                <div class="resume_showbox_tit">
                    <i class="resume_showbox_icon resume_showbox_icon_lxfs"></i>联系方式</div>
                <div style="clear:both"></div>
                <div class="com_post_login" style="display:none">
                    <div class="com_post_look_toew">
                        <div class="look_resume_tel_login">
                            <div class="com_s_logoin_tip">请登录后查看联系方式</div>
                            <a href="qy_login.html" class="com_s_logoin">登录</a>
                            <a href="qy_register-usertype_2.html" class="com_s_reg">注册</a>
                        </div>
                    </div>
                </div>
                <div class="com_post_login">
                    <div class="com_post_look_toew">
                        <div class="look_resume_tel_login">
                            <a href='javascript:void(0)' onclick="isDownResume('167',1,'')">
                                <span>查看联系方式</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="job_show_tip">
                <div class="job_show_tip_jb">
                    <a href="javascript:void(0)" onclick="pleaselogin('您还未登录企业账号，是否登录？','https://www.zhirimao.com/wap/c_login.html')">
                        <span class="job_show_tip_tip_i"></span>举报</a>
                </div>
                <div class="job_show_tip_p">
                    <div class="job_show_tip_p_t">若该简历为广告简历 或 无意义简历 （乱写、乱填）,请您可以举报</div>
                </div>
            </div>
        </section>
        <!--工作经历 -->
        <section>
            <div class="resume_showbox">
                <div class="resume_showbox_tit">
                    <i class="resume_showbox_icon resume_showbox_icon_jl"></i>工作经历
                    <span class="yun_resume_jobtime">平均工作时长：5个月</span>
                </div>

                <div class="resume_showbox_pd">

                    <div class="resume_jy_list">
                        <i class="resume_jy_list_time"></i>
                        <aside>2018-05 至 2018-09 </aside>
                        <aside>
                            <div class="resume_jy_comname">广东朝阳全网通</div>
                            <aside>
                                <em>任职：</em>首保初级设计师</aside>
                            <em>职责：</em>网上店铺的首页基础设计。 </aside>
                    </div>
                </div>
            </div>
        </section>
        <!--教育经历 -->
        <section>
            <div class="resume_showbox">
                <div class="resume_showbox_tit">
                    <i class="resume_showbox_icon resume_showbox_icon_jyjl"></i>教育经历</div>
                <div class="resume_showbox_pd">
                    <div class="resume_jy_list">
                        <i class="resume_jy_list_time"></i>
                        <aside>2015-09 至 2018-06</aside>
                        <div class="firm_name_h1_h">珠海城市职业技术学院</div>
                        <aside>
                            <em>所学专业：</em>机电一体化</aside>
                        <aside>
                            <em>最高学历：</em>大专</aside>
                    </div>
                </div>
            </div>
        </section>
        <!--培训经历 -->
        <!--项目经历 -->
        <!--职业技能-->
        <section>
            <div class="resume_showbox" id="resume_skill muipreview">
                <div class="resume_showbox_tit">
                    <i class="resume_showbox_icon resume_showbox_icon_zyjn"></i>职业技能</div>
                <div class="resume_showbox_pd">
                    <div class="resume_jy_list">
                        <i class="resume_jy_list_time"></i>
                        <div class="firm_name_h1_h">英语四级 </div>
                        <aside>
                            <em>掌握时间：</em>1年</aside>
                    </div>
                </div>
            </div>
        </section>
        <!--我的作品-->
        <!--其他信息-->
        <section>
            <div class="resume_showbox">
                <div class="resume_showbox_tit">
                    <i class="resume_showbox_icon resume_showbox_icon_other"></i>其他信息</div>

                <div class="resume_showbox_pd">
                    <div class="resume_jy_list">
                        <i class="resume_jy_list_time"></i>
                        <div class="firm_name_h1_h">技能</div>
                        <aside>
                            <em>内容：</em>1、基本办公软件 2、cad绘图软件 3、photoshop
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!--黏贴简历内容-->
        <!--自我评价-->
        <section>
            <div class="resume_showbox">
                <div class="resume_showbox_tit">
                    <i class="resume_showbox_icon resume_showbox_icon_zwpj"></i>自我评价</div>
                <div class="resume_showbox_cont resume_showbox_cont_pj">
                    我是一个比较细心，做事认真负责的人。性格方面比较多变，根据面对不同的事而改变。在校期间也曾担任过老师助理，帮忙处理表格以及其他事物。
                </div>
                <!-- <div class="user_resume_yxjob"><span class="user_resume_yxjob_s">个性标签</span>-->
            </div>
        </section>
    </div>
    <section>
        <div class="yun_job_footer">
            <div class="yun_job_footer_fixed">
                <div class="yun_job_footer_bg">
                    <div class="yun_job_footer_fx_left">
                        <div class="yun_job_footer_fx">
                            <a href="javascript:void(0);" data-url="c_resume-a_share-id_1113.html" id="shareClick" class="yun_job_footer_bth">
                                <i class="iconfont_jobshare"></i>
                                <span class="yun_job_footer_s">分享</span>
                            </a>
                        </div>
                        <div class="yun_job_footer_fx">
                            <a href="javascript:phone('1')" class="yun_job_footer_bth">
                                <i class=" iconfont_usershowtel"></i>
                                <span class="yun_job_footer_s" style="color:#999">电话</span>
                            </a>

                        </div>
                        <div class="yun_job_footer_fx">
                            <a href="javascript:talent_pool('2101','1113');" class="yun_job_footer_bth">
                                <i class=" iconfont_sc"></i>
                                <span class="yun_job_footer_s">收藏</span>
                            </a>
                        </div>
                    </div>
                    <div class="yun_job_footer_fx_right">
                        <a href="javascript:void(0);" uid="2101" class="yun_job_footer_fx_right_bth sq_resume">面试邀请</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<!-- <script src="../js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="../js/layer.m.js" language="javascript"></script>
<script src="../js/public.js" language="javascript"></script>
<script src="../js/prefixfree.min.js" language="javascript"></script> -->
<script language="javascript" type="text/javascript">
    var wapurl = "";
    var integral_pricename = '积分';
    var weburl = "";
    // 查看联系方式，提示剩余下载简历数
    function isDownResume(eid, num, url) {
        layer.open({
            content: '您还可以查看' + num + '份简历，是否查看？',
            btn: ['查看', '取消'],
            shadeClose: false,
            yes: function () {
                for_link(eid);
            }
        });
    }
    function for_link(eid) {
        $.post("c_ajax-a_forlink.html", {
            eid: eid
        }, function (data) {
            var data = eval('(' + data + ')');
            var status = data.status;
            var type = data.type;
            if (status == 1 || status == -1) {
                layermsg(data.msg);
            } else if (status == 2) {
                layer.open({
                    content: data.msg,
                    btn: ['确认', '取消'],
                    shadeClose: false,
                    yes: function () {
                        if (type == 2) {
                            window.location.href = "member/index.php?c=getserver&id=" + eid + "&server=" + 12;
                        } else {
                            window.location.href = "member/index.php?c=getserver&id=" + eid + "&server=" + 7;
                        }
                    }
                });
            } else if (status == 3) {
                location.reload();
            } else if (status == 5) {
                layer.open({
                    content: data.msg,
                    btn: ['确认', '取消'],
                    shadeClose: false,
                    yes: function () {
                        window.location.href = "member/index.php?c=rating";

                    }
                });
            } else if (status == 6) {
                layermsg('您的账号未审核，审核通过的企业用户才可查看简历联系方式');
            }
        });
    }

    function down_integral(eid, uid) {
        $.post("c_ajax-a_downresume.html", {
            type: "integral",
            eid: eid,
            uid: uid
        }, function (data) {
            var data = eval('(' + data + ')');
            var status = data.status;
            var integral = data.integral;
            if (status == 1) {
                layermsg(data.msg);
                return false;
            } else if (status == 2) {
                layermsg('您还有' + integral + integral_pricename + '！不够查看联系方式!');
            } else if (status == 3) {
                location.reload();
            }
        })
    }

    function talent_pool(uid, eid) {
        $.post("c_ajax-a_talentpool.html", {
            eid: eid,
            uid: uid
        }, function (data) {
            if (data == '0') {
                notuser('', '', '企业账户', 'c_ajax-a_notuserout.html', '');
            } else if (data == '1') {
                layermsg('收藏成功！', 2, function () {
                    location.reload();
                });
            } else if (data == '2') {
                layermsg('该简历已收藏！');
            } else if (data == '3') {
                pleaselogin('您还未登录企业账号，是否登录？', 'qy_login.html')
            } else {
                layermsg('对不起，操作出错！');
            }
        });
    }

    function phone(data) {
        if (data == 1) {
            pleaselogin('您还未登录企业账号，是否登录？', 'qy_login.html')
        } else if (data == 2) {
            notuser('', '', '企业账户', 'c_ajax-a_notuserout.html', '');
        }
    }
</script>
<link rel="stylesheet" href="../css/mui.previewimage.css" type="text/css" />
<script src="../js/mui.min.js" language="javascript"></script>
<script src="../js/mui.zoom.js" language="javascript"></script>
<script src="../js/mui.previewimage.js" language="javascript"></script>
<script>
    $(function () {
        //企业详情页
        $(".muipreview").find('img').each(function () {
            $(this).attr('data-preview-src', '');
            $(this).attr('data-preview-group', '1');
        });
        mui.previewImage();

    })
</script>
<script src="../js/nativeshare.js" language="javascript"></script>
<link rel="stylesheet" href="../css/nativeshare.css" type="text/css"/>
<!-- 如果是UC QQ浏览器，弹出分享界面 -->
<script src='../js/appshare.js' type='text/javascript' ></script>
<div id="nativeShare"></div>
<script language="javascript">
if(navigator.userAgent.indexOf('Html5Plus') > -1){
var shares=null;
// 监听plusready事件  
document.addEventListener( "plusready", function(){
	document.getElementById("shareClick").addEventListener("click", function() {
		var message = {
				title: '卢女士-在惠城区寻找策划，文员，造价员，cad绘图员工作-惠州职日猫招聘人才网',
				content: '卢女士-在惠城区寻找策划，文员，造价员，cad绘图员工作-惠州职日猫招聘人才网',
				href: '',
				thumbs: ["../images/15310642363.JPG"] //分享缩略图
			}
		plusShare(message, function(res) {
			if(res) {
				plus.nativeUI.toast("分享成功");
			} else {
				plus.nativeUI.toast("分享失败");
			}
		})
	});
	});
}else{
	$(function(){
		$('#shareClick').click('click', function () {
			new nativeShare('nativeShare',config);
		}); 
		$('#otherBrowser').click(function(){
			$(this).hide();
		});
		$('#nativeShare').click(function(evt){
			if($(evt.target).parents(".share_bgbox").length == 0){
				$(this).hide();
			}
		});
	});
}
</script>
<!--分享-->
<div id="otherBrowser" style="width:100%;height:100%; background:rgba(51,51,51,0.9); position:fixed;left:0px;top:0px ; z-index:100000001;display:none" > 
<div class="yun_wap_share_tip" style="width:100%; position:absolute; z-index:100000001;top:50%; margin-top:-90px;">
<div class="yun_wap_share_tip_p"><i class="yun_wap_share_n">1.</i>点击浏览器顶部或底部的<i class="yun_wap_share_tip_i3"></i>或<i class="yun_wap_share_tip_i4"></i></div>
<div class="yun_wap_share_tip_p"><i class="yun_wap_share_n">2.</i>然后点击分享按钮<i class="yun_wap_share_tip_i"></i>或<i class="yun_wap_share_tip_i2"></i></div>
<div class="yun_wap_share_tip_p"><i class="yun_wap_share_n">3.</i>分享给朋友或者朋友圈</div>
</div>
</div>
<!--分享-->
<footer>
    <div style="width:100%; background:#fff; position:fixed;left:0px;right:0px;bottom:50px;top:0px ; z-index:100000000000;display:none"
        id="footerjob">
        <div class="foot_nav_close"></div>
        <div class="header_bg">
            <div class="foot_nav_chiose_t">选择栏目类别</div>
        </div>
        <div class="foot_nav_box">

            <ul class="foot_nav_box_list">
                <li>
                    <a href="https://www.zhirimao.com/wap/">
                        <span class="foot_nav_box_list_icon cor_1">
                            <i class="nav_icon iconfont_fothome "></i>
                        </span>
                        <div class="foot_nav_box_name">首页</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.zhirimao.com/wap/c_resume.html">
                        <span class="foot_nav_box_list_icon cor_2">
                            <i class="nav_icon iconfont_resume "></i>
                        </span>
                        <div class="foot_nav_box_name">简历</div>
                    </a>
                </li>

                <li>
                    <a href="https://www.zhirimao.com/wap/c_job.html">
                        <span class="foot_nav_box_list_icon cor_3">
                            <i class="nav_icon iconfont_job "></i>
                        </span>
                        <div class="foot_nav_box_name">全职</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.zhirimao.com/wap/c_part.html" class="foot_nav_box_a">
                        <span class="foot_nav_box_list_icon cor_4">
                            <i class="nav_icon iconfont_part "></i>
                        </span>
                        <div class="foot_nav_box_name">兼职</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.zhirimao.com/wap/c_tiny.html" class="foot_nav_box_a">
                        <span class="foot_nav_box_list_icon cor_7">
                            <i class="nav_icon iconfont_tiny "></i>
                        </span>
                        <div class="foot_nav_box_name">普工</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.zhirimao.com/wap/c_once.html" class="foot_nav_box_a">
                        <span class="foot_nav_box_list_icon cor_4">
                            <i class="nav_icon iconfont_once "></i>
                        </span>
                        <div class="foot_nav_box_name">店铺</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.zhirimao.com/wap/c_map.html" class="foot_nav_box_a">
                        <span class="foot_nav_box_list_icon cor_5">
                            <i class="nav_icon iconfont_map "></i>
                        </span>
                        <div class="foot_nav_box_name">附近</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.zhirimao.com/wap/c_company.html" class="foot_nav_box_a">
                        <span class="foot_nav_box_list_icon cor_2">
                            <i class="nav_icon iconfont_comp "></i>
                        </span>
                        <div class="foot_nav_box_name">企业</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.zhirimao.com/wap/c_zph.html" class="foot_nav_box_a">
                        <span class="foot_nav_box_list_icon cor_6">
                            <i class="nav_icon iconfont_zph "></i>
                        </span>
                        <div class="foot_nav_box_name">招聘会</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.zhirimao.com/wap/c_article-type_tj.html" class="foot_nav_box_a">
                        <span class="foot_nav_box_list_icon cor_8">
                            <i class="nav_icon iconfont_news "></i>
                        </span>
                        <div class="foot_nav_box_name">资讯</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.zhirimao.com/wap/c_evaluate.html" class="foot_nav_box_a">
                        <span class="foot_nav_box_list_icon cor_1">
                            <i class="nav_icon iconfont_cp "></i>
                        </span>
                        <div class="foot_nav_box_name">测评</div>
                    </a>
                </li>
                <!--  <li>
                    <a href="https://www.zhirimao.com/wap/c_advice.html" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_yj"><i class="nav_icon iconfont_yj "></i></span>
                        <div class="foot_nav_box_name">反馈</div>
                    </a>
                </li>-->
                <li>
                    <a href="https://www.zhirimao.com/wap/c_special.html" class="foot_nav_box_a">
                        <span class="foot_nav_box_list_icon cor_1">
                            <i class="nav_icon iconfont_zt "></i>
                        </span>
                        <div class="foot_nav_box_name">专题</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>



<script>
    $(document).ready(function () {
        $.get(wapurl + " ", function (data) {
            var datas = eval("(" + data + ")");
            if (datas.usertype == 1) {
                if (datas.msgNum) {
                    $('#sysmsgnum').html(datas.msgNum);
                    $('#tzmsgNum').html(datas.msgNum);
                    $('#tzmsgNum').show();
                }
                if (datas.wkyqnum > 0) {
                    $('#wkyqnum').html(datas.wkyqnum);
                    $('#wkyqnum').show();
                }
                $('#yqnum').html(datas.yqnum);
                $('#sq_jobnum').html(datas.sq_jobnum);
                $('#fav_jobnum').html(datas.fav_jobnum);
            }
            if (datas.usertype == 2) {
                if (datas.msgNum) {
                    $('#sysmsgnum').html(datas.msgNum);
                    $('#tzmsgNum').html(datas.msgNum);
                    $('#tzmsgNum').show();
                }
                $('#sqnum').html(datas.sqnum);
                $('#companyjobnum').html(datas.companyjobnum);
                $('#talent_pool_num').html(datas.talent_pool_num);
            }
            if (datas.usertype == 3) {
                if (datas.msgNum) {
                    $('#sysmsgnum').html(datas.msgNum);
                    $('#tzmsgNum').html(datas.msgNum);
                    $('#tzmsgNum').show();
                }
                $('#ypnum').html(datas.ypnum);
                $('#jobnum').html(datas.jobnum);
                $('#downnum').html(datas.downnum);
            }
        });
        $('#jobclick').click('click', function () {
            $('#footerjob').toggle();
            $('#footerresume').hide();
        });
        $('#footerjob').click('click', function () {
            $('#footerjob').hide();
        });
        $('#reg_mune_box').click('click', function () {
            $('#reg_mune').toggle();
            $('#footerresume').hide();
        });

        $('#reg_mune_box_news').click('click', function () {
            $('#reg_mune').toggle();
            $('#footerresume').hide();
        });

        $('#reg_mune').click('click', function () {
            $('#reg_mune').hide();
        });
        $('#reg_mune_boxs').click('click', function () {
            $('#reg_mune').toggle();
            $('#footerresume').hide();
        });
        $('#reg_mune').click('click', function () {
            $('#reg_mune').hide();
        });
    });
    var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
    if (isAndroid) {
        var orginHeight = document.documentElement.clientHeight || document.body.clientHeight;
        window.onresize = function () {
            var resizeHeight = document.documentElement.clientHeight || document.body.clientHeight;
            if (orginHeight * 1 > resizeHeight * 1) {
                $('.yun_footer_fix').css('display', 'none');
                document.activeElement.scrollIntoView(false);
            } else {
                $('.yun_footer_fix').css('display', 'block');
            }
        }
    }
</script>