---
layout: default
title: 完善简历
---
<header class="search">
        <div class="search_header">
            <div class="search_header_box">
                <div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
                <div class="search_center"><a href="javascript:;"> 完善简历(3/3) </a></div>
                <div class="search_right"><a href="javascript:;"></a></div>
            </div>
        </div>
</header>

<div class="resumePerfect">
    <div class="page__hd pt-0">
        <h1 class="page__title m-0">社会实践</h1>
    </div>
    <div class="weui-cells">
        <div class="weui-cell weui-cells_form">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="请详述您的社会实践内容" rows="3"></textarea>
                <div class="weui-textarea-counter"><span>0</span>/100</div>
            </div>
        </div>
    </div>
    <div class="weui-cells__tips text-right p-0">
            <a href="javascript:;" class="open-popup" data-target="#full">示例 <i class="weui-icon-info-circle"></i></a>
    </div>

    <div id="full" class='weui-popup__container'>
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <article class="weui-article">
                <h1>示例</h1>
                <p>
                    2014-06-2014-9 广州市轩辉信息科技有限公司 天猫店运营 参与学校合作的电子商务天猫店公司实习，期间学习运营，淘宝后台操作！
                    1.日常店铺违规隐患，每日查看店铺提醒区，及时处理售后；
                    2.争取活动资源，查看活动群，后台报名及活动进度情况；
                    3.关注每日销售量，店铺首页价格，优化宝贝标题等。
                </p>
            </article>
            <a href="javascript:;" class="weui-btn weui-btn_primary m-2 close-popup">关 闭</a>
        </div>
    </div>

    <div class="page__hd">
        <h1 class="page__title m-0">教育经历</h1>
    </div>
    <div class="weui-cells">
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="学校名称">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="最高学历">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="培养方式">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="专业名称">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="date2" value="入学时间">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="date3" value="毕业时间">
            </div>
        </div>
    </div>

    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
        <div class="mod_pos_btn_air"><a href="mine.html">保存完成</a></div>
        <div class="mod_pos_btn_rea"><a href="mine.html">稍后完善</a></div>
    </section>
</div>