<script>
      $(document).on("click", "#show-actions", function() {
        $.actions({
          actions: [
            {
              text: "苹果导航",
              className: "color-primary",
              onClick: function() {
                $.alert("定位成功");
              }
            },
            {
              text: "高德导航",
              className: "color-warning",
              onClick: function() {
                $.alert("定位成功");
              }
            }
          ]
        });
      });
</script>