<div class="navbar-collapse offcanvas-collapse4">
    <div class="offcanvas-collapse-bg">
        <section class="mod_pop">
                <h2 class="mod_pop_tit">薪资范围</h2>
                    <ul class="mod_pop_item mod_pop_sal">
                        <li><a href="javascript:;">面试</a></li>
                        <li><a href="javascript:;">2K以下</a></li>
                        <li><a href="javascript:;">2K-3K</a></li>
                        <li><a href="javascript:;">3K-4.5K</a></li>
                        <li><a href="javascript:;">4.5K-6K</a></li>
                        <li><a href="javascript:;">6K-8K</a></li>
                        <li><a href="javascript:;">8K-10K</a></li>
                        <li><a href="javascript:;">10K-15K</a></li>
                        <li><a href="javascript:;">15K-20K</a></li>
                        <li><a href="javascript:;">20K以上</a></li>
                    </ul>
                <h2 class="mod_pop_tit">性别要求</h2>
                <ul class="mod_pop_item mod_pop_sex">
                    <li><a href="javascript:;">男</a></li>
                    <li><a href="javascript:;">女</a></li>
                </ul> 
                <h2 class="mod_pop_tit">工作经验</h2>
                <ul class="mod_pop_item mod_pop_exp">
                    <li><a href="javascript:;">在读学生</a></li>
                    <li><a href="javascript:;">应届毕业生</a></li>
                    <li><a href="javascript:;">1-3年</a></li>
                    <li><a href="javascript:;">3-5年</a></li>
                    <li><a href="javascript:;">5-10年</a></li>
                    <li><a href="javascript:;">10年以上</a></li>
                </ul>
                <h2 class="mod_pop_tit">学历要求</h2>
                <ul class="mod_pop_item mod_pop_edu">
                    <li><a href="javascript:;">初中</a></li>
                    <li><a href="javascript:;">高中/中专</a></li>
                    <li><a href="javascript:;">大专</a></li>
                    <li><a href="javascript:;">本科</a></li>
                    <li><a href="javascript:;">硕士</a></li>
                    <li><a href="javascript:;">博士</a></li>
                </ul>
                <h2 class="mod_pop_tit">工作性质</h2>
                <ul class="mod_pop_item mod_pop_nat">
                    <li><a href="javascript:;">全职</a></li>
                    <li><a href="javascript:;">兼职</a></li>
                    <li><a href="javascript:;">实习</a></li>
                </ul> 
        </section>

        <!-- 底部按钮 -->
        <section class="mod_pos_btn">
            <div class="mod_pos_btn_air"><a href="javascript:;">重置</a></div>
            <div class="mod_pos_btn_rea"><a href="javascript:;">确定</a></div>
        </section>

    </div>
</div>