
.accent-text {
    color: #FF4081 !important;
  }
  .accent-color {
    background-color: #FF4081 !important;
  }
  .accent-border {
    border-color: #FF4081 !important;
  }
  .primary-text {
    color: #2196F3 !important;
  }
  .primary-color {
    background-color: #2196F3 !important;
  }
  .primary-border {
    border-color: #2196F3 !important;
  }
  .grey-blue {
    background-color: #f1f4f5;
  }
  .text-color {
    color: #76838f !important;
  }
  .text-light {
    font-weight: 400;
    color: #B2B2B4;
  }
