.blank-layout,
.fullscreen {
  width: 100%;
  height: 100vh;
}

.page {
  margin-top: 56px;
  overflow: auto;
  min-height: 512px;
  padding-bottom: 56px;
}

.none {
  display: none;
}

.h-banner {
  height: 212px;
  position: relative;
  z-index: 1;
  .parallax {
    height: 100%;
    img {
      display: block;
    }
  }
  .floating-button {
    position: absolute;
    bottom: -25px;
    right: 20px;
  }
}

.banner-title {
  line-height: 30px;
  padding-left: 30px;
  position: absolute;
  left: 33px;
  bottom: 30px;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  line-height: 56px;
  margin-left: 9px;
  text-transform: none;
  letter-spacing: normal;
  z-index: 9;
}

.banner {
  height: 300px;
  margin-top: 56px;
  position: relative;
  .parallax {
    height: 100%;
  }
}
.halo-nav {
  height: 56px;
  position: fixed;
  z-index: 2;
  top: 0px;
  background: none;
  transition: height 0.3s;
  background: none;
  &.smaller{
    height: 56px;
    span{
      bottom: 15px;
    }
  }
  &.h-bg {
    background-color: #2196F3;
  }
}
.box-shad-none {
  box-shadow: none;
}
.subtitle {
  position: absolute;
  left: 73px;
  bottom: 71px;
  color: #fff;
  opacity: 0.6;
}


/* Page Header */
.hero-header {
  position: relative;
  z-index: 1;
  .floating-button {
    position: absolute;
    bottom: -27px;
    right: 20px;
    z-index: 2;
    &.scrollable-fab{
      &.scrolled-down {
        position: fixed;
        bottom: 20px;
      }
    }
  }
  .hero-over {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
  }
}

/* Page Body */
.page-content {
  padding: 30px 20px;
}
#content {
  overflow: auto;
}

/* Footer */
.footer{
  text-align: center;
  padding: 0!important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer.page-footer {
  margin-top: 0;
}
.footer-copyright .right > i {
  margin-left: 10px;
  font-size: 20px;
}

body{
  position: relative;
}