body{max-width:32.2rem;min-height:16.1rem;margin:0 auto}
html{font-size:20px}
*{-webkit-tap-highlight-color:transparent;outline:0}
img{border:0 none;vertical-align:top}
em,i{font-style:normal}
ol,ul{list-style:none}
button,h1,h2,h3,h4,h5,h6,input,select{font-size:100%;font-family:inherit}
table{border-collapse:collapse;border-spacing:0}
a,a:visited{text-decoration:none;color:#333}
.row,dl,h2,h6,label,ol,p,ul{margin:0;padding:0}
.w-2{width:2%!important}
.w-5{width:5%!important}
.w-10{width:10%!important}
.w-20{width:20%!important}
.w-30{width:30%!important}
.w-40{width:40%!important}
.w-50{width:50%!important}
.w-55{width:55%!important}
.w-70{width:70%!important}
.mt-50{margin-top:2.51563rem}
em{font-style:normal;color:#dc3545}
.btn{font-size:.70437rem}
.mod_int,.mod_pos_item{background-color:#fff}
.btn-danger,.btn-outline-danger,.btn-outline-primary,.btn-outline-secondary,.btn-outline-success,.btn-primary,.btn-secondary,.btn-success,.btn-warning{padding:0 5px;margin-left:5px;font-size:12px}
.noContent{min-height:300px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-align:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;color:#6c757d}
.noContent i{font-size:60px;margin-bottom:10px}
.tooltip-inner{font-size:.60375rem}
.z-depth-1{-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}
.weui-cell_select .weui-cell__bd{padding-right:1.50937rem!important}
.weui-dialog,.weui-toast{visibility:inherit!important}
.MaxHeight500{max-height:430px;overflow:scroll!important}
.weui-grids a{text-decoration:none}
.icon{width:25px;height:25px;vertical-align:-.15em;fill:currentColor;overflow:hidden}
.search_bg_Ter_Whi .btn-group span{color:#6c757d}
.btn-group span{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:50px;height:50px;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;color:#dee2e6;font-size:.90563rem}
.btn-group .dropdown-menu{text-align:center;padding:0}
.btn-group .dropdown-menu a{color:#6c757d;font-size:.90563rem}
.fixedBottom{position:fixed;right:30px;bottom:45px;z-index:1000}
.fixedBottom .ind_rel_btn{width:50px;height:50px;font-size:12px;line-height:15px;background-color:rgba(0,0,0,.5);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.fixedBottom .ind_rel_btn a{width:30px;height:30px;display:block;text-decoration:none}
.weui-tab__bd{padding-top:47px!important}
.weui-search-bar__box,.weui-search-bar__label{height:35px!important;line-height:35px!important}
.bd-navbar,.bd-navbar a,.bd-navbar h6{height:2.51563rem}
.bd-navbar{width:100%;min-height:auto;background-color:#bd8438;color:#6c757d;position:fixed;top:0;z-index:1000}
.bd-navbar div{padding:0}
.bd-navbar div:last-child{padding-right:.3125rem;font-size:.60375rem}
.bd-navbar h6{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;text-align:center;font-size:.70437rem}
.bd-navbar a{color:#6c757d;text-decoration:none;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.bd-navbar i{font-size:1.00625rem;margin-right:1.5625rem}
.menu{position:fixed;right:0;left:0;bottom:0;padding:.23438rem 0rem .23438rem 0rem;z-index:1000;background-color:#fff;border-top:1px solid #e9ecef;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.menu.resMenu{padding:0}
.menu.resMenu a{height:2.51563rem;line-height:2.51563rem;border-right:1px solid #eee}
.menu.resMenu a:last-child{border-right:0}
.menu.resMenu a.active{color:#fff;background-color:#bd8438}
.menu i{font-size:1.00625rem;position:relative;margin:2px auto}
.menu span{font-size:.60375rem;display:block}
.menu a{display:block;text-decoration:none;text-align:center;position:relative;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;line-height:.9375rem;color:#6c757d;position:relative}
.menu a.active{color:#bd8438}
.menu a em{position:absolute;top:-3px;margin-left:5px;width:20px}
.menu a .weui-badge_dot{width:auto}
.mod_sign{display:inline-block;vertical-align:middle;margin-right:.32813rem;-webkit-border-radius:.23438rem;border-radius:.23438rem;color:#dc3545;font-size:.60375rem;border:1px solid #dc3545;padding:0rem .14063rem}
.mod_com{margin-right:.32813rem;-webkit-border-radius:.23438rem;border-radius:.23438rem;color:#bd8438;font-size:.805rem;border:1px solid #dee2e6}
.btn-primary{background-color:#f60;color:#fff!important;border:0}
.btn-primary:hover{color:#fff;background-color:#da5904;border-color:#fff}
.btn-primary:not(:disabled):not(.disabled):active{color:#fff;background-color:#da5904;border-color:#fff}
.btn-secondary{background-color:#e4a757;color:#fff!important;border:0!important}
.btn-secondary:hover{color:#fff;background-color:#0f78bc;border-color:#fff}
.btn-secondary:not(:disabled):not(.disabled):active{color:#fff;background-color:#0f78bc;border-color:#fff}
.accNumBtn a{color:#fff}
.mod_bot_btn{margin:.50313rem}
.mod_bot_btn a{display:block;text-decoration:none}
.mod_btn_blue{background-color:#bd8438;border-color:#bd8438}
.mod_pos_btn{position:fixed;bottom:0;left:0;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;font-size:.70437rem;z-index:99;background:#fff}
.mod_pos_btn_air,.mod_pos_btn_rea{width:50%;text-align:center;height:2.26406rem;line-height:2.26406rem;border:0;color:#fff}
.mod_pos_btn_air a,.mod_pos_btn_rea a{display:block;text-decoration:none}
.mod_pos_btn_air{background:#bd8438}
.mod_pos_btn_air a{color:#fff!important}
.mod_pos_btn_rea{border:1px solid #bd8438}
.mod_pos_btn_rea a{color:#bd8438!important}
.mod_pos_btn a{border-bottom:1px solid #e9ecef}
.mod_pos_btn a.dropdown-item{height:40px;line-height:25px;font-size:.70437rem}
.mod_pos_btn a:last-child{border-bottom:0}
.mod_pos_btn .dropdown-divider{margin:0}
.mod_pos_btn .dropdown-menu{padding:0!important}
.mod_tab{border-top:1px solid #F7F7F9}
.mod_int{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;font-size:.805rem;color:#6c757d;border-bottom:1px solid #F7F7F9}
.mod_int a{text-decoration:none}
.mod_int_tab.weui-bar__item--on{color:#bd8438;position:relative}
.mod_int_tab.weui-bar__item--on .bottom_line{height:.15094rem;width:20.5%;margin:0 auto;background:#bd8438;position:absolute;left:0;right:0;bottom:0}
.mod_int_tab_text{max-width:90%;height:2.26406rem;line-height:2.26406rem;margin:0 auto;display:block;font-size:.70437rem}
.mod_int_tab_set{max-width:90%;height:2.26406rem;line-height:2.26406rem;margin:0 auto;margin-right:.25156rem;vertical-align:middle}
.mod_int_tab_fix{width:100%;position:fixed;top:2.51563rem;left:0;z-index:9}
.mod_int_tab_fix a{width:33.33%;text-align:center}
#tabs-container{height:400px}
.tabs{border-top:1px solid #e9ecef;background:url(../images/headbg.png) no-repeat left top #f9fafa;-webkit-background-size:auto 100%;background-size:auto 100%;width:100%;height:38px;overflow:hidden}
.tabs a{font-weight:400;text-align:center;float:left;width:64px;height:38px;line-height:38px;color:#2a70be;text-decoration:none}
.tabs a.active{border-top:2px solid #2a70be;margin-top:-2px;background-image:url(../images/tab_ui.png);background-repeat:no-repeat;-webkit-background-size:64px 39px;background-size:64px 39px;background-position:left top;color:#c14545}
.fr{float:right}
.fl{float:left}
.search{position:fixed;top:0;left:0;right:0;z-index:1000}
.search_center,.search_left,.search_right{-webkit-box-flex:.5;-webkit-flex-grow:.5;-ms-flex-positive:.5;flex-grow:.5;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;color:#fff;font-size:.805rem}
.search_center a,.search_left a,.search_right a{display:block;color:#fff}
.search_left i{margin:0rem .25156rem;color:#fff;height:.50313rem;line-height:.50313rem}
.search_right{padding-right:0 1%}
.search_center{width:auto;height:2.51563rem;line-height:2.51563rem;-webkit-border-radius:1.00625rem;border-radius:1.00625rem;text-align:center;-webkit-box-flex:2;-webkit-flex-grow:2;-ms-flex-positive:2;flex-grow:2;color:#fff}
.search_bg{background-color:rgba(255,255,255,.05)!important}
.search_bg_Ter{background-color:#f8f9fa!important;border-bottom:1px solid #e9ecef}
.search_bg_Ter .search_center a,.search_bg_Ter .search_center i,.search_bg_Ter .search_left a,.search_bg_Ter .search_left i,.search_bg_Ter .search_right a,.search_bg_Ter .search_right i{color:#6c757d}
.search_bg_Ter .search_header_box_input{background-color:#e9ecef}
.search_bg_Ter_Whi{background-color:#f8f9fa!important;border-bottom:1px solid #e9ecef}
.search_bg_Ter_Whi .search_center a,.search_bg_Ter_Whi .search_center i,.search_bg_Ter_Whi .search_left a,.search_bg_Ter_Whi .search_left i,.search_bg_Ter_Whi .search_right a,.search_bg_Ter_Whi .search_right i{color:#6c757d}
.search_header{height:2.51563rem;position:relative;background-color:#bd8438}
.search_header_focusing .search_left,.search_header_focusing .search_right{display:none}
.search_header_focusing input{width:auto!important}
.search_header_box{height:2.51563rem;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.search_header_box a{text-decoration:none}
.search_header_box img{width:2.51563rem;height:2.51563rem;padding:.75469rem .75469rem}
.search_header_box_input{width:auto;height:1.71063rem;-webkit-border-radius:1.00625rem;border-radius:1.00625rem;text-align:center;margin:.4025rem 2%;-webkit-box-flex:2;-webkit-flex-grow:2;-ms-flex-positive:2;flex-grow:2;background:#eee}
.search_header_box_input i{margin:.35219rem .25156rem 0rem .25156rem;height:1.00625rem;color:#ced4da;font-size:.90563rem}
.search_header_box_input p{line-height:1.2075rem}
.search_header_box_input input{line-height:1.2075rem;font-size:.70437rem;padding-top:.25156rem;border:0;margin:0;padding:0;background-color:rgba(0,0,0,0);width:70%}
.search_header_box_input input:focus{outline:0}
.search_header_box .weui-search-bar__box{background:#fff;-webkit-border-radius:.75469rem;border-radius:.75469rem;margin-right:.50313rem;padding-right:.50313rem;height:auto}
.mod_pos_hig{position:fixed!important;top:2.51563rem;z-index:98;width:100%;background:#f7f7f7}
.mod_pos_his{z-index:1000;width:100%;max-height:31.44531rem;overflow:scroll}
.mod_pos_hix{position:fixed!important;top:0;z-index:999;width:100%;background:#f7f7f7}
.navbarTest{position:relative;height:40px;-webkit-box-sizing:border-box;box-sizing:border-box;background:#fff;border-bottom:1px solid #e0e0e0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.navbarTest_item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:100%;line-height:40px;font-size:16px;text-align:center;color:#000}
.navbarTest_item i{height:8px}
.navbarTest_item_active{color:#F05C3A}
.navbarTest_item_price{display:block;float:left}
.navbarTest_item_lift{width:20px;display:block;line-height:3px;float:left;margin-bottom:8px}
.navbarTest_item_filter{width:20px;display:block}
.swiper-pagination-bullet-active{opacity:1;background:#fff!important}
.slider{font-size:.70437rem;height:auto!important;margin:.25156rem 0}
.slider a{text-decoration:none}
.announcement{height:2.0125rem}
.announcement a{color:#294c7f;text-decoration:none;display:block;line-height:2.0125rem;height:2.0125rem;text-indent:.5em;overflow:hidden;font-size:.70437rem}
.icon-box{margin-bottom:25px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.icon-box i{margin-right:18px}
.icon-box__ctn{-webkit-flex-shrink:100;-ms-flex-negative:100;flex-shrink:100}
.icon-box__title{font-weight:400}
.icon-box__desc{margin-top:6px;font-size:12px;color:#888}
.icon_sp_area{margin-top:10px;text-align:left}
.icon_sp_area i:before{margin-bottom:5px}
.bd-navbar,.bd-navbar a,.bd-navbar h6{height:2.51563rem}
.bd-navbar{width:100%;min-height:auto;background-color:#bd8438;color:#6c757d;position:fixed;top:0;z-index:1000}
.bd-navbar div{padding:0}
.bd-navbar div:last-child{padding-right:.3125rem;font-size:.60375rem}
.bd-navbar h6{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;text-align:center;font-size:.70437rem}
.bd-navbar a{color:#6c757d;text-decoration:none;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.bd-navbar i{font-size:1.00625rem;margin-right:1.5625rem}
.title{margin:20px 15px 10px;color:#6d6d72;font-size:15px}
.oa-contact-cell{position:relative;margin:-11px 0}
.oa-contact-cell .mui-table .mui-table-cell{padding:11px 0;vertical-align:middle}
.oa-contact-avatar{width:75px}
.oa-contact-avatar img{-webkit-border-radius:50%;border-radius:50%}
.oa-contact-content{width:100%}
.oa-contact-name{margin-right:20px}
.oa-contact-name,oa-contact-position{float:left}
.mui-bar-tab .mui-tab-item1{display:table-cell;width:1%;height:50px;color:#929292;text-align:center;vertical-align:middle;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
.mui-bar-tab .mui-tab-item1.mui-active{color:#007aff}
.mui-bar-tab .mui-tab-item1 .mui-icon{top:3px;width:24px;height:24px;padding-top:0;padding-bottom:0}
.mui-bar-tab .mui-tab-item1 .mui-icon~.mui-tab-label{display:block;font-size:11px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.mui-bar-tab .mui-tab-item1 .mui-icon:active{background:0 0}
.login{padding:8%;background:#efeff4}
.login a{text-decoration:none}
.login .weui-cell{font-size:.70437rem;color:#6c757d;padding:15px}
.login .weui-cell:before{left:0}
.login .weui-cells:before{border-top:0}
.login .weui-cells:after{border-bottom:0}
.mine{background-color:#f7f7f7;height:100vh}
.mine .weui-cell{font-size:.70437rem;padding:15px 0;color:#6c757d}
.mine .weui-cell:before{left:0;border-top:1px solid #ced4da}
.mine .weui-cells:before{border-top:0}
.mine .weui-cells:last-child:after{border-bottom:0!important}
.mine .weui-cells a{text-decoration:none}
.mine .weui-cell__bd{text-align:right;padding-right:1.50937rem;color:#6c757d}
.mine .weui-cell__bd p{color:#adb5bd}
.mine .weui-cell__bd:after{top:55%}
.mine .weui-cell_select .weui-cell__bd:after{top:55%}
.mine .weui-flex{margin:.50313rem 0rem}
.mine .weui-flex a{text-decoration:none}
.mine .weui-label{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;font-size:.70437rem;color:#6c757d}
.mine .weui-label i{color:#fff;background-color:#e4a757;width:25px;height:25px;line-height:20px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-right:.25156rem;font-size:.70437rem;-webkit-border-radius:20px;border-radius:20px}
.mine .weui-tabbar__icon{margin:0 auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;color:#6c757d;font-size:1.2075rem}
.mine .mod_pos_item{padding-top:0;padding-bottom:0}
.mine .mod_pos_item:first-child{border-top:0}
.mine .mod_pos_item:last-child{margin-bottom:2.51563rem}
.mine .page__hd{padding:1.00625rem 0 1.00625rem .50313rem;position:relative;background-color:#fff;min-height:120px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.mine .page__hd a{color:#343a40;text-decoration:none;padding:.14141rem .25156rem}
.mine .page__title{font-size:.805rem;margin-bottom:.25156rem}
.mine .weui-tabbar__label{font-size:.70437rem;color:#6c757d}
.page__desc{color:#888;text-align:left;font-size:14px;margin-bottom:5px}
.page__img{width:auto;height:auto;position:absolute;right:5%;top:20%}
.page__img img{width:80px;height:80px}
.weui-flex__item{text-align:center}
.weui-img-badge{display:inline-block;position:relative}
.weui-img-badge span{position:absolute;top:-15px;right:-35px;-webkit-border-bottom-left-radius:0!important;border-bottom-left-radius:0!important}
.mod_pos_item{color:#aeaeae;position:relative;border-top:1px solid #F7F7F9;border-bottom:1px solid #F7F7F9;overflow:hidden;padding:.50313rem .75469rem;margin:0rem 0rem .50313rem 0rem}