<!DOCTYPE html>
<html lang="zh-cn" style="user-select: none;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>2020庚子年生肖运势</title>
    {% include head.html %}
</head>
<body style="background-color:#aa2135!important">
    {{ content }}
        <!-- <div id="share-2" data-disabled="wechat, facebook, twitter, google"></div> -->
    <!-- <div class="pay-btn" data-toggle="modal" data-target="#exampleModalScrollable">分享</div> -->
     <!-- <button type="button" class="btn pay-btn" data-toggle="modal" data-target="#exampleModalScrollable" style="">分享</button> -->
     <img class="bg" src="img/share.png" data-toggle="modal" data-target="#exampleModalScrollable" style="position: absolute;top:15px;left:15px;width:25px;">
    {% include model.html %}
    {% include script.html %}
</body>
</html>