<script>
       $(".zhiwei").select({
        title: "安排职位",
        items: [
          {
            title: "C#工程师",
            value: "001",
          },
          {
            title: "Java工程师",
            value: "002",
          },
          {
            title: "网页设计",
            value: "003",
          },
          {
            title: "前端开发",
            value: "004",
          },
          {
            title: "PHP后端开发",
            value: "005",
          },
          {
            title: "平面设计师",
            value: "006",
          },
          {
            title: "平台架构师",
            value: "007",
          },
          {
            title: "IOS开发",
            value: "008",
          },
          {
            title: "安卓开发",
            value: "009"
          }
        ]
      });
</script>