<div class="group">
    <img src="static/img/zy_12.jpg" />
</div>
<!--S footer start-->
<!-- <footer class="bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">
        <ul class="bd-footer-links">
            <li><a href="">首页</a></li>
            <li><a href="">关于我们</a></li>
            <li><a href="">汽车展示</a></li>
            <li><a href="">汽车租赁</a></li>
            <li><a href="">二手车服务</a></li>
            <li><a href="">新闻中心</a></li>
            <li><a href="">预约试驾</a></li>
            <li><a href="">联系我们</a></li>
        </ul>
    </div>
</footer> -->
<!--E footer end-->
      