<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
            <a class="nav-link" href="">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">关于我们</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">各地4s店</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">车型展示</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">汽车资讯</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">服务中心</a>
        </li>
      </ul>
    </div>
</header>