<script src="static/js/jquery-2.2.4.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery-weui.js"></script>
<script src="static/js/iconfont.js"></script>
<script src="static/js/fastclick.js"></script>
<script>
     $(function() {
         FastClick.attach(document.body);
     });
 </script>
<script>
    $("#leave_01").select({
        title: "请假类型",
        items: [
            {
                title: "事假",
                value: "001",
            },
            {
                title: "病假",
                value: "002"
            }
        ]
    });
</script>