<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-center">
    <a class="navbar-brand mr-0 mr-md-3 p-0" href="javascript:;">欧美城技术研发团队</a>
    <div class="bd-links collapse p-0">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/">首页</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/anli/">案例展示</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/pages/xgzz">相关资质</a>
              </li>
            </ul>
        </div>
    </div>
    <button class="btn btn-link bd-search-docs-toggle d-md-none s-ms-fright" type="button" id="open-right" data-activates="slide-out">
      {%- include icons/menu.svg width="30" height="30" -%}
    </button>
    <ul id="slide-out" class="side-nav d-md-none list-group">
        <li class="list-group-item">
            <a href="{{ site.baseurl }}/" class="d-flex justify-content-between align-items-center">首页
                {%- include icons/left_arrow.svg -%}</a>
        </li>
        <li class="list-group-item">
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/anli/" class="d-flex justify-content-between align-items-center">案例展示
                {%- include icons/left_arrow.svg -%}</a>
        </li>
        <li class="list-group-item">
            <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/pages/xgzz" class="d-flex justify-content-between align-items-center">相关资质
                {%- include icons/left_arrow.svg -%}</a>
        </li>
    </ul>
</header>
