<!-- Right Sidebar -->
<ul id="slide-out" class="side-nav d-md-none list-group">
    <li class="list-group-item">
        <a href="{{ site.baseurl }}/" class="d-flex justify-content-between align-items-center">首页
            {%- include icons/left_arrow.svg -%}</a>
    </li>
    <li class="list-group-item">
        <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/pages/about" class="d-flex justify-content-between align-items-center">关于欧美城
            {%- include icons/left_arrow.svg -%}</a>
    </li>
    <li class="list-group-item">
        <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/pages/project" class="d-flex justify-content-between align-items-center">文化项目
            {%- include icons/left_arrow.svg -%}</a>
    </li>
    <li class="list-group-item">
        <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/pages/news" class="d-flex justify-content-between align-items-center">欧美城新闻
            {%- include icons/left_arrow.svg -%}</a>
    </li>
    <li class="list-group-item">
        <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/pages/rczp" class="d-flex justify-content-between align-items-center">人才招聘
            {%- include icons/left_arrow.svg -%}</a>
    </li>
    <li class="list-group-item">
        <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/pages/content" class="d-flex justify-content-between align-items-center">联系我们
            {%- include icons/left_arrow.svg -%}</a>
    </li>
</ul>