<!-- Toolbar -->
<!-- Toolbar -->
{% if page.layout == "pages/activity" or page.layout == "pages/blog" %}
<div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/activity" %}
       <span class="title">Activity</span>
    {% else page.layout == "pages/blog "%}
       <span class="title">blog</span>
    {% endif %}
    <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
    </div>
</div>
{% endif %}
<!-- Toolbar -->
{% if page.layout == "pages/category" or page.layout == "pages/chart" %}
<div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/category" %}
        <span class="title">Category</span>
        {% else page.layout == "pages/chart" %}
        <span class="title">数据分析图</span>
        {% endif %}
        <!-- <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
        </div> -->
</div>
{% endif %}
<!-- Toolbar -->
{% if page.layout == "pages/checkout" or page.layout == "pages/contact" %}
<div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/checkout" %}
    <span class="title">checkout</span>
    {% else page.layout == "pages/contact" %}
    <span class="title">Contact</span>
    {% endif %}
    <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
    </div>
</div>
{% endif %}
{% if page.layout == "pages/dual-sidebar" or page.layout == "pages/faq" %}
<div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/dual-sidebar" %}
        <span class="title">Dual Sidebar</span>
        {% else page.layout == "pages/faq" %}
        <span class="title">Faq</span>
        {% endif %}
        <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
        </div>
</div>
{% endif %}
{% if page.layout == "pages/portfolio-card" or page.layout == "pages/gallery-filter" %}
<div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/portfolio-card" %}
        <span class="title">Card</span>
        {% else page.layout == "pages/gallery-filter" %}
        <span class="title">Filter</span>
        {% endif %}
        <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
        </div>
</div>
{% endif %}
{% if page.layout == "pages/portfolio-masonry" or page.layout == "pages/halo" or page.layout == "pages/index-sliced" or page.layout == "pages/index-drawer" or page.layout == "pages/index-walkthrough" %}
<div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/portfolio-masonry" %}
        <span class="title">Masonry</span>
        {% else page.layout == "pages/halo" %}
        <span class="title">Halo</span>
        {% endif %}
        <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
        </div>
</div>
{% endif %}
{% if page.layout == "pages/news" or page.layout == "pages/product" %}
<div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/news %}
        <span class="title">News</span>
        {% else page.layout == "pages/product" %}
        <span class="title">Product</span>
        {% endif %}
        <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
        </div>
</div>
{% endif %}
{% if page.layout == "pages/search" or page.layout == "pages/video" %}
<div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/search" %}
        <span class="title">Search</span>
        {% else page.layout == "pages/video" %}
        <span class="title">Video</span>
        {% endif %}
        <div class="open-right" id="open-right" data-activates="slide-out">
            <i class="ion-android-person"></i>
        </div>
</div>
{% endif %}
{% if page.layout == "pages/chat" or page.layout == "pages/blog-card" %}
<div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/chat" %}
      <span class="title">Chat</span>
    {% else page.layout == "pages/blog-card" %}
      <span class="title">blog</span>
    {% endif %}
    <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
    </div>
</div>
{% endif %}
{% if page.layout == "pages/portfolio-filter"%}
<div id="toolbar" class="primary-color">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/portfolio-filter" %}
      <span class="title">filter</span>
    {% endif %}
    <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
    </div>
</div>
{% endif %}
{% if page.layout == "pages/right-sidebar" %}
<div id="toolbar" class="primary-color">
    <span class="title">Right Sidebar</span>
    <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-menu"></i>
    </div>
</div>
{% endif %}

{% if page.layout == "pages/article" %}
<div id="toolbar" class="halo-nav box-shad-none">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/article" %}
       <span class="title none">Article</span>
    {% else %}
      <span class="title none">Drawing a Singl...</span>
    {% endif %}
    <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
    </div>
</div>
{% endif %}

{% if page.layout == "pages/material" %}
<div id="toolbar" class="halo-nav box-shad-none">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/material" %}
       <span class="title none">Material</span>
    {% else %}
       <span class="title none">Material La...</span>
    {% endif %}
    <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
    </div>
</div>
{% endif %}

{% if page.layout == "pages/shop" or page.layout == "pages/todo" %}
<div id="toolbar" class="halo-nav box-shad-none">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/shop" %}
       <span class="title none">Shop</span>
    {% else page.layout == "pages/todo" %}
       <span class="title none">ToDo</span>
    {% endif %}
    <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
    </div>
</div>
{% endif %}

{% if page.layout == "pages/timeline" or page.layout == "home" or page.layout == "pages/index-slider" %}
<div id="toolbar" class="halo-nav box-shad-none">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    {% if page.layout == "pages/timeline" %}
       <span class="title none">Jane Lee</span>
    {% else page.layout == "home" %}
       <span class="title none">Halo</span>
    {% endif %}
    <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
    </div>
</div>
{% endif %}

{% if page.layout == "pages/calendar" %}
<div id="toolbar" class="primary-color no-shadow">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
    <i class="ion-android-menu"></i>
    </div>
    <span class="title">March 2015</span>
    <div class="open-right" id="open-right" data-activates="slide-out">
    <i class="ion-android-person"></i>
    </div>
</div>
{% endif %}

{% if page.layout == "pages/login" %}
<div id="toolbar" class="tool-login primary-color animated fadeindown">
    <a href="javascript:history.back()" class="open-left">
        <i class="ion-android-arrow-back"></i>
    </a>
</div>
{% endif %}

{% if page.layout == "pages/Player" %}
<div id="toolbar" class="transparent">
    <div class="open-left" id="open-left" data-activates="slide-out-left">
        <i class="ion-android-menu"></i>
    </div>
    <span class="title">Player</span>
    <div class="open-right" id="open-right" data-activates="slide-out">
        <i class="ion-android-person"></i>
    </div>
</div>
{% endif %}

{% if page.layout == "pages/lockscreen" %}
<div id="toolbar" class="transparent">
    <a href="javascript:history.back()" class="open-left">
        <i class="ion-android-arrow-back"></i>
    </a>
</div>
{% endif %}

