<script src="../static/js/prefixfree.min.js" language="javascript"></script>
<script src="../static/js/jquery-1.8.0.min.js?v=9049" language="javascript"></script>
<script src="../static/js/layer.m.js" language="javascript"></script>
<script src="../static/js/public.js" language="javascript"></script>
<script src="../static/js/mui.min.js" language="javascript"></script>
<script src="../static/js/mui.picker.js" language="javascript"></script>
<script src="../static/js/mui.poppicker.js" language="javascript"></script>