<script charset="utf-8" src="../static/js/s.js" language="javascript"></script>
<script src="../static/js/hm.js" language="javascript"></script>
<script src="../static/js/push.js" language="javascript"></script>
<script src="../static/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="../static/js/layer.m.js" language="javascript"></script>
<script src="../static/js/public.js" language="javascript"></script>
<script src="../static/js/prefixfree.min.js" language="javascript"></script>
<script src="../static/js/mui.min.js" language="javascript"></script>
<script src="../static/js/mui.picker.min.js" language="javascript"></script>
<script src="../static/js/mui.poppicker.js" language="javascript"></script>
<script src="../static/js/pack.js" type="text/javascript"></script>
<script src="../static/js/forgetpw.js" language="javascript "></script>
<script src="../static/js/reg_ajax.js" charset="utf-8" language="javascript"></script>
<script src="../static/js/gt.js" language="javascript"></script>
<script src="../static/js/mobile.js" type="text/javascript "></script>
<script src="../static/js/swiper.js"></script>
<script src="../static/js/search.js" language="javascript"></script>
<script src="../static/js/demo.js" language="javascript"></script>
<script src="../static/js/mui.view.js" language="javascript"></script>
<script src="../static/js/binding.js" language="javascript"></script>
<script src="../static/js/compress.js" language="javascript"></script>


