<script src="static/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="static/js/prefixfree.min.js" language="javascript"></script>
<script src="static/js/layer.m.js" language="javascript"></script>
<script src="static/js/public.js" language="javascript"></script>
<script src="static/js/mui.min.js" language="javascript"></script>
<script src="static/js/gt.js"></script>
<script src="static/js/mobile.js" type="text/javascript"></script>
<script>
        var code_web = '前台登陆';
        $(document).ready(function () {
            $("#username,#txt_CheckCode,#usermoblie,#dynamiccode").focus(function () {
                var txAreaVal = $(this).val();
                if (txAreaVal == this.defaultValue) {
                    $(this).val("");
                }
            }).blur(function () {
                var txAreaVal = $(this).val();
                if (txAreaVal == this.defaultValue || $(this).val() == "") {
                    $(this).val(this.defaultValue);
                }
            }).keydown(function (e) {
                var ev = document.all ? window.event : e;
                if (ev.keyCode == 13) {
                    check_login('', 'vcode_imgs');
                } else {
                    return;
                }
            });
            //账号登录和手机登录tab选择
            $('#acount_login').click(function (data) {
                $('#acount_login').removeClass().addClass('login_box_h_list_cur');
                $('#mobile_login').removeClass();
                $('#login_normal_box').show();
                $('#login_sj_box').hide();
                $('#login_sjyz_box').hide();
                $('#act_login').val('0');
    
                $('#checkcodeDiv').hide();
            });
            $('#mobile_login').click(function (data) {
                $('#mobile_login').removeClass().addClass('login_box_h_list_cur');
                $('#acount_login').removeClass();
                $('#login_sj_box').show();
                $('#login_sjyz_box').show();
                $('#login_normal_box').hide();
                $('#act_login').val('1');
                $('#checkcodeDiv').show();
            });
        });
    
        var Timer;
        var smsTimer_time = 90; //倒数 90
        var smsTimer_flag = 90; //倒数 90
        var smsTime_speed = 1000; //速度 1秒钟
    
        //发送手机短信
        function send_msg(url) {
            var moblie = $('#usermoblie').val();
            var code;
            var geetest_challenge;
            var geetest_validate;
            var geetest_seccode;
            if (moblie == "" || moblie == "请输入手机号码") {
                layermsg("请输入手机号码！");
                return false;
            } else {
                var reg = /^[1][3456789]\d{9}$/;
                if (!reg.test(moblie)) {
                    layermsg('手机格式错误！');
                    return false;
                }
            }
            var codesear = new RegExp('前台登录');
            if (codesear.test(code_web)) {
                if (code_kind == 1) {
                    code = $.trim($("#checkcode").val());
                    if (!code) {
                        layermsg('请填写图片验证码！');
                        return false;
                    }
                } else if (code_kind == 3) {
                    geetest_challenge = $('input[name="geetest_challenge"]').val();
                    geetest_validate = $('input[name="geetest_validate"]').val();
                    geetest_seccode = $('input[name="geetest_seccode"]').val();
                    if (geetest_challenge == '' || geetest_validate == '' || geetest_seccode == '') {
                        $("#popup-submit").trigger("click");
                        layermsg('请点击按钮进行验证！');
                        return false;
                    }
                }
            }
            if (smsTimer_time == smsTimer_flag) {
                Timer = setInterval("smsTimer($('#send_msg_tip'))", smsTime_speed);
                $.post(url, {
                    moblie: moblie,
                    authcode: code,
                    geetest_challenge: geetest_challenge,
                    geetest_validate: geetest_validate,
                    geetest_seccode: geetest_seccode
                }, function (data) {
                    //alert(data);
                    var jsonObject = eval("(" + data + ")");
                    if (jsonObject.error !== 1) {
                        clearInterval(Timer);
                    }
                    layermsg(jsonObject.msg, 2, function () {
                        if (code_kind == 1) {
    
                            checkCode('vcode_img');
                        } else if (code_kind == 3) {
    
                            $("#popup-submit").trigger("click");
                        }
                        if (jsonObject.url) {
                            window.location.href = jsonObject.url;
                            window.event.returnValue = false;
                            return false;
                        }
                    });
                })
            } else {
                layermsg('请勿重复发送！', 2, 8);
                return false;
            }
        }
        //手机号码校验
        function testMb(mbNo) {
            var reg = /^[1][3456789]\d{9}$/; //验证手机号码   
            return reg.test(mbNo);
        }
        //倒计时
        function smsTimer(obj) {
            if (smsTimer_flag > 0) {
                $(obj).html('重新发送(' + smsTimer_flag + 's)');
                $(obj).attr({
                    'style': 'background:#eaebed;'
                });
                smsTimer_flag--;
            } else {
                $(obj).html('重新发送');
                $(obj).attr({
                    'style': 'background:#eaebed;'
                });
                smsTimer_flag = smsTimer_time;
                clearInterval(Timer);
            }
        }
    </script>