<footer>
    <div class="footer-navs layui-bg-gray text-dark"">
        <a href="index.html" class="link {% if page.layout == "index" %} active {% endif %}">
            <i class="fa fa-home mr-1" style="font-size:20px;"></i> <span class="text">首页</span>
        </a>
        <a href="tsort.html" class="link {% if page.layout == "tsort" %} active {% endif %}">
            <i class="iconfont icon-rank mr-1"></i> <span class="text">排行榜</span>
        </a>
        <a href="rule.html" class="link {% if page.layout == "rule" %} active {% endif %}">
            <i class="layui-icon layui-icon-form mr-1"></i> <span class="text">投票说明</span>
        </a>
    </div>
</footer>