<script src="assets/js/jquery-2.1.0.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
function countTime() {
    //获取当前时间  
    var date = new Date();
    var now = date.getTime();
    //设置截止时间  
    var str = "2019/07/09 00:00:00";
    var endDate = new Date(str);
    var end = endDate.getTime();
    //时间差  
    var leftTime = end - now;
    //定义变量 d,h,m,s保存倒计时的时间  
    var d, h, m, s;
    if (leftTime >= 0) {
        d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
        h = Math.floor(leftTime / 1000 / 60 / 60 % 24);
        m = Math.floor(leftTime / 1000 / 60 % 60);
        s = Math.floor(leftTime / 1000 % 60);
    }
    //将倒计时赋值到div中
    var dag = document.getElementById("_d");
    var hour = document.getElementById('_h');
    var mouse = document.getElementById('_m');
    var soure = document. getElementById('_s');
    if(d > 0){
        dag.innerHTML = d + "天";
    }else{
        dag.innerHTML = 0 + "天";
    }
    
    if(h > 0){
        hour.innerHTML = h + "时";
    }else{
        hour.innerHTML = 0 + "时";
    }

    if(m > 0){
        mouse.innerHTML = m + "分";
    }else{
        mouse.innerHTML = 0 + "分";
    }

    if(s > 0){
        soure.innerHTML = s + "秒";
    }else{
        soure.innerHTML = 0 + "秒";
    }
    //递归每秒调用countTime方法，显示动态时间效果  
    setTimeout(countTime, 1000);
}
</script>
<script src="src/layui.js"></script>
<script>
layui.use(['form', 'upload','layer'], function () {
    var $ = layui.jquery
        , layer = layui.layer;

    //触发事件
    /*var active = {
      tpdata: function(){
        layer.confirm('您是否确定投票？', {
            title: '提示',
            btn: ['确认','取消'] //按钮
        }, function(){
            layer.msg('成功投票', {icon: 1});
        }, function(){
            layer.msg('取消投票', {icon: 5});
        });
       }
    };*/
    /*var active = {
        tpdata: function(){
        layer.confirm('投票活动尚未开始', {
            title: '提示',
            btn: '取消'
        });
        }
    };
    $('.toupiao').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });*/
});
</script>
<script>
    window.setTimeout(function(){
        $('#myModal').modal('show')
    },100)
</script>