<!-- <div class="count-info layui-bg-green">
    <div class="info">
        <p class="type"><i class="iconfont icon-20-account"></i><span class="text">参赛数</span></p> <span class="num">3</span></div>
    <div class="info">
        <p class="type"><i class="iconfont icon-20-numbers"></i><span class="text">投票数</span></p> <span class="num">2</span></div>
    <div class="info">
        <p class="type"><i class="iconfont icon-20-views"></i><span class="text">访问量</span></p> <span class="num">42</span></div>
</div> -->
{% if page.layout == "home" or  page.layout == "tsort"  %}
<p class="count-down"><i class="iconfont icon-time font-color"></i> 活动
    <span class="text">结束</span>倒计时：
    <span id="_d">00</span>
    <span id="_h">00</span>
    <span id="_m">00</span>
    <span id="_s">00</span>
</p>
{% endif %}