---
layout: default
title: 用户反馈
---
<header class="search">
    <div class="search_header search_bg_Ter">
        <div class="search_header_box">
            <div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
            <div class="search_center"><a href="javascript:"> 反馈与帮助 </a></div>
            <div class="search_right"></div>
        </div>
    </div>
</header>
<div class="mineFeedbackHelp">

        <div class="mod_pos_item pr-0">
                <div class="weui-cells">
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">咨询对象</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请选择">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">提问主题</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请输入">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">反馈类型</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请选择">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">您的姓名</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请输入">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">您的电话</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请输入">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">电子邮件</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请输入">
                        </div>
                    </div>
                    <div class="weui-cell weui-cells_form">
                        <div class="weui-cell__bd workContent">
                            <label for="name" class="weui-label text-left mb-2">提问内容</label>
                            <textarea class="weui-textarea" placeholder="请输入" rows="6"></textarea>
                            <div class="weui-textarea-counter"><span>0</span>/1600</div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- 底部按钮 -->
        <section class="mod_pos_btn">
            <div class="mod_pos_btn_air w-100"><a href="mineFeed.html">提交问题</a></div>
        </section>
</div>