---
layout: default
title: 修改登录密码
---
<div class="mineBasicInfoEdit">
        <!-- 修改登录密码 -->

        <div class="mod_pos_item pr-0">
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <p class="text-primary pr-2">请输入6-20位英文字母、数字、下划线、中划线或.@字符组合的登录密码！</p>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">旧密码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="password" value="11111111111111">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">新密码</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">确定新密吗</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">密码强度</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="超强">
                    </div>
                </div>
            </div>
        </div>
    
        <!-- 底部按钮 -->
        <section class="mod_pos_btn">
            <div class="mod_pos_btn_air"><a href="mine.html">保存</a></div>
            <div class="mod_pos_btn_rea"><a href="mineResumeEdit.html">取消</a></div>
        </section>
</div>