/*qq、微博第三方登录*/
.yun_content{}
.yun_mc{ padding:0 5%;}
.yun_mc_cont{}
.model-prompt{ padding-top:10px; border-bottom:1px solid #ddd;}
.yun-img{ text-align:center;}
.yun-img img{}
.yun_model-text{ padding:0 5px;}
.yun_model-text p{ color:#666; font-size:14px; line-height:15px;}
.yun-item{}
.item_list{ padding-bottom:10px; margin-top:8px;}
.yun_chose_bel{ color:#999; font-size:14px;}
.item_list_sub{}
.item_list_sub input{ border:0; color:#fff; width:100%; height:35px; margin-bottom:8px;}
.item_list_sub .yun_sub_11{background:-webkit-gradient(linear,0 0,0 100%,from(#1369c0),to(#1369c0)); }
.item_list_sub .yun_sub_12{background:-webkit-gradient(linear,0 0,0 100%,from(#ff6600),to(#ff6600)); }
.item_list_sub .yun_sub_13{ background:-webkit-gradient(linear,0 0,0 100%,from(#006600),to(#006600)); }
.photo_i_box_subbc{ background:-webkit-gradient(linear,0 0,0 100%,from(#ff9900),to(#ff9900));color:#fff}
.pinless{ padding:0 2%; width:96%;}
.pinless_mail_con{ margin-top:10px;}