<div class="mod_pos_item">
	<div class="weui-cells">
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
								<label for="name" class="weui-label">部门</label>
				</div>
				<div class="weui-cell__bd text-right">
					<input class="weui-input w-25 text-right" type="text" placeholder="请选择"/>
				</div>
			</div>
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
								<label for="name" class="weui-label w-100">职位</label>
				</div>
				<div class="weui-cell__bd text-right">
					<input class="weui-input w-25 text-right" type="text" placeholder="请选择"/>
				</div>
			</div>
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
								<label for="name" class="weui-label w-100">关键字</label>
				</div>
				<div class="weui-cell__bd text-right">
					<input class="weui-input w-25 text-right" type="text" placeholder="请输入"/>
				</div>
			</div>
			<div class="weui-cell">
				<a href="javascript:;" class="btn btn-outline-primary btn-block border-0 p-0"><i class="fa fa-search"></i> 开始搜查</a>
			</div>
	</div>
</div>