---
layout: default
title: 技术研发团队
---
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-center d-none">
    <a class="navbar-brand mr-0 mr-md-3 p-0" href="javascript:;">欧美城技术研发团队</a>
    {% include common/menu.html %}
</header>
<div id="toolbar" class="halo-nav box-shad-none">
    <div class="title none">欧美城技术研发团队</div>
   <button class="btn btn-link bd-search-docs-toggle d-md-none s-ms-fright" type="button" id="open-right"
    data-activates="slide-out"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30"
        focusable="false" role="img">
        <title>Menu</title>
        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" />
    </svg>
    </button>
</div>
{% include common/right_menu.html %}
<div class="h-banner animated fadeindown">
    <div class="parallax">
        {% include components/swiper/swiper.html %}
        <!-- End of Slider -->
        <div class="banner-title text-center">欧美城技术研发团队</div>
    </div>
 </div>
<main class="bd-masthead" id="content" role="main">
    <div class="container p-0 m-scene">
        <div class="align-items-center">
            <h1 class="mb-3 text-info mt-0 d-none d-md-flex mt-3 animated fadeinright delay-1">技术研发团队介绍</h1>
            <h4 class="mb-3 text-info mt-0 text-center s-none animated fadeinright delay-1">
                <p class="border-bottom border-info w-75 pb-2 m-auto">技术研发团队介绍</p>
            </h4>
            <p class="lead text-justify animated fadeindown delay-1">　　为了迎合市场的发展需要，充分利用现代网络科技以及平台综合优势，2012年公司对IT部门进行升级改造，成立网络工程技术部（以下简称“技术部”），地点设在惠州欧美城内。直至2014年，技术部已发展成具30人规模的研发团队，在市场调研、产品设计、UI设计、原型塑造、数据架构、测试等方向都走向了标准化的执行路线。2015年初，研发团队进行了标准化的改革，对产品的需求分析、框架构建、编码规范、文档规范、团队配合模式等方面都进行了系统化的整改并制定了一系列项目研发标准，在严格把控各项目的研发进度和产品质量的前提下，提高了研发团队的工作效率，且有效的降低了研发成本。
                2016年，为了进一步提高研发产品的合理性、高效性、安全性。根据当前市场的主流以及未来的发展方向，团队配合模式调整为前后端完全分离，适应多元化的应用环境。
            </p>
            <h1 class="mb-3 text-info bd-text-purple-bright mt-3 d-none d-md-flex">业务涵盖范围</h1>
            <h4 class="mb-3 text-info bd-text-purple-bright mt-0 text-center s-none">
                <p class="border-bottom border-info w-75 pb-2 m-auto">业务涵盖范围</p>
            </h4>
            <p class="lead text-justify animated fadeindown delay-1">　　技术部所涉及的项目开发业务涵盖范围广，总体分为PC端开发、安卓手机端开发以及三维视觉效果体验三部分。其中，PC端开发包括：网站整站开发（企业官网、门户网站、商城等），系统开发（OA系统、点餐服务系统等）。
                安卓手机端开发包括：响应式网站开发，H5页面开发，APP开发以及微信小程序开发。三维视觉效果体验则包括：全景图拍摄，高空航拍以及后期加工处理。</p>
        </div>
        <div class="align-items-center">
            <!-- <h1 class="mb-3 bd-text-purple-bright mt-4 d-none d-md-flex mt-3 animated fadeinright delay-1">案例展示</h1> -->
            <h4 class="mb-0 text-info mt-4 text-center s-none animated fadeinright delay-1">
                <p class="border-bottom border-info w-75 pb-2 m-auto">案例展示</p>
            </h4>
        </div>
    </div>
</main>
<div class="s-none">
    {% include components/swiper/swiper1.html %}
</div>
<hr class="w-100 m-0">
{% include common/footer.html %}
{% include components/swiper/swiperjs.html %}