---
layout: default
title: 相关资质
---
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar justify-content-center">
    <a class="navbar-brand mr-0 mr-md-3 p-0" href="javascript:;">欧美城技术研发团队</a>
    {% include common/menu.html %}
    {% include common/right_menu.html %}
</header>
<main class="bd-content p-4" id="content" role="main">
<div class="container p-0">
    <h5 class="bd-title mt-0 mb-3" id="content">研发资质</h5>
    <div class="card pt-2 pb-2 p-4">
        <img class="w-100" src="assets/img/xgzz/01.jpg" alt="">
        <hr/>
        <img class="w-100" src="assets/img/xgzz/02.jpg" alt="">
        <hr/>
        <img class="w-100" src="assets/img/xgzz/03.jpg" alt="">
    </div>
</div>
</main>
<hr class="w-100 m-0">
{% include common/footer.html %}