<section>
    <div class="searchOptions clearfix">
        <ul class="searchOptions_list">
            <li class="grade popup" data-pop="grade">
                <a href="javascript:void(0);" class="searchOptions_list_a">
                    <span class="job_ov">
                        区域
                    </span>
                    <i class="searchOptions_icon"></i>
                </a>
            </li>
            <li class="Category popup" data-pop="Category">
                <a href="javascript:void(0);" class="searchOptions_list_a">
                    <span class="job_ov">职能</span>
                    <i class="searchOptions_icon"></i>
                </a>
            </li>
            <li class="Sort popup" data-pop="Sort">
                <a href="javascript:void(0);" class="searchOptions_list_a">
                    <span class="job_ov">经验</span>
                    <i class="searchOptions_icon  "></i>
                </a>
            </li>
            <li class="Gengduoj popup" data-pop="Gengduoj" style="border:none">
                <a href="javascript:void(0);" class="searchOptions_list_a">更多<i class="searchOptions_icon"></i></a>
            </li>
            <input type="hidden" id="searchurl" value="c=job" />
            <input type="hidden" id="waptype" value="1" />
        </ul>
    </div>
</section>