---
layout: pages
title: 基本信息-票类管理
---
<div class="page-content" style="overflow: hidden;padding: 10px;">
        <div class="layui-form-item mb-2" style="width:99%">
            <label class="layui-form-label layui-title">景区编码:</label>
            <div class="layui-input-block">
                <input type="text" name="" placeholder="" class="text_add ml-0">
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:99%">
            <label class="layui-form-label layui-title">名称:</label>
            <div class="layui-input-block">
                <input type="text" name="" placeholder="" class="text_add ml-0">
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:99%">
            <label class="layui-form-label layui-title">区号:</label>
            <div class="layui-input-block">
                <input type="text" name="" placeholder="" class="text_add ml-0">
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:99%">
            <label class="layui-form-label layui-title">区名:</label>
            <div class="layui-input-block">
                <input type="text" name="" placeholder="" class="text_add ml-0">
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:99%">
            <label class="layui-form-label layui-title">区域扣费:</label>
            <div class="layui-input-block">
                <input type="text" name="" placeholder="0" class="text_add ml-0">
            </div>
        </div>
        <div class="layui-form-item" style="width:49.5%">
            <!-- <label class="layui-form-label layui-title">退票功能:</label> -->
            <div class="layui-input-block">
                <input type="checkbox" name="" lay-skin="primary" id="jx" checked> <label for="jx">继续添加</label>
            </div>
        </div>
        <!-- <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div> -->
</div>