---
layout: pages
title: 基本信息-票类分组信息
---
<div class="page-content" style="overflow: hidden;padding: 10px;">
    <form action="">
        <div class="layui-form-item mb-2" style="width:99%">
            <label class="layui-form-label layui-title">上级功能:</label>
            <div class="layui-input-block">
                <input type="text" name="bianma" placeholder="周末/节假日" class="text_add ml-0" disabled>
            </div>
        </div>
        <div class="layui-form-item mb-2" style="width:99%">
            <label class="layui-form-label layui-title">功能名称:</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="" class="text_add ml-0">
            </div>
        </div>
        <div class="layui-form-item" style="width:99%">
            <!-- <label class="layui-form-label layui-title" for="qy1">继续添加</label> -->
            <div class="layui-input-block">
                <input type="checkbox" name="" lay-skin="primary" id="qy1" checked> <label for="qy1">继续添加</label>
            </div>
        </div>
        <!-- <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div> -->
    </form>
</div>