---
layout: pages
title: 基本信息-票类管理
---
<div class="easyui-layout" style="width:100%;height:950px;">
    <div data-options="region:'west',border:false" style="width:15%;padding:10px">
        <h2>检索</h2>
        <ul id="tt" class="easyui-tree">
            <li>
                <span>狮子城</span>
                <ul>
                   <li >
                       <span>成人票</span>
                       <ul>
                           <li>平日票</li>
                           <li>周末/节假票</li>
                       </ul>
                   </li>
                   <li>
                       <span>儿童票</span>
                       <ul>
                           <li>平日票</li>
                           <li>周末/节假票</li>
                       </ul>
                   </li>
                   <li><span>不分成人儿童</span></li>
                   <li><span>年卡</span></li>
                   <li><span>正价/半价票</span></li>
                   <li><span>停售票</span></li>
                   <li><span>套售票</span></li>
                   <li><span>卡丁车票</span></li>
                   <li><span>夏令海洋馆</span></li>
                   <li>
                       <span>奇奇之家</span>
                       <ul>
                          <li><span>奇奇套票</span></li>
                          <li><span>游泳</span></li>
                       </ul>
                   </li>
                   <li><span>大门票</span></li>
                   <li><span>CS馆</span></li>
                </ul>
            </li>
        </ul>
    </div>
    <div data-options="region:'center',border:false" style="width:85%;padding:10px;background-color: #eeeeee;">
        <h2>票类信息</h2>
        <div class="allBtn" style="display: flex;margin:10px 0;">
            <div class="layui-btn-group">
              <button type="button" class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon">&#xe608;</i> 新增</button>
              <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe642;</i> 修改</button>
              <button type="button" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon">&#xe640;</i> 删除</button>
              <button type="button" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe666;</i> 刷新</button>
            </div>
            <div style="margin-left: 10px;">
                <input type="text" class="layui-form-label" placeholder="请输入编号或者名称进行查询" style="padding:3px 15px!important;width:200px;text-align: left;"/>
            </div>
        </div>
        <table class="easyui-datagrid">
            <thead>
                <tr>
                    <th data-options="field:'编号',width:150">编号</th>
                    <th data-options="field:'名称',width:700">名称</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td><td>产品1</td>
                </tr>
                <tr>
                    <td>002</td><td>产品2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
