---
layout: pages
title: event
---
  <!-- Page Content -->
  <div id="content">


      {% include Components/toolbar.html %}
      
      <!-- Hero Header -->
      <div class="h-banner animated fadeindown">
        <div class="parallax primary-color">
          <div class="floating-button animated bouncein delay-3">
          <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
            <i class="ion-android-share-alt"></i>
          </span>
        </div>
          <span class="subtitle">Like these sweet mornings</span>
          <div class="banner-title">Drawing a Single Stroke</div>
        </div>
        </div>
      
      <!-- Article Content -->
      <div class="animated fadeinup delay-1">
        <div class="page-content">
          <p class="text-flow"><span class="dropcap">A</span> wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. 
          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
          <blockquote class="primary-border">"The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog."</blockquote>
          <!-- Slider -->         
          <div class="swiper-container slider m-b-20">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="../../static/img/5.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="../../static/img/8.jpg" alt="">
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
          <!-- End of Slider -->
          <p class="text-flow"><b>I am alone:</b> and feel the charm of existence in thisspot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
  
          <!-- Share -->
          <div class="share center-align m-t-30">
            <h3 class="uppercase">Share it!</h3>
            <i class="ion-social-facebook p-20 blue-text text-darken-4"></i>
            <i class="ion-social-twitter p-20 blue-text"></i>
            <i class="ion-social-pinterest p-20 red-text"></i>
          </div>
        </div>
  
        <!-- Comments -->
        <div class="comments">
          <h3 class="uppercase">3 Comments</h3>
          <ul class="comments-list">
            <li>
              <img src="../../static/img/user4.jpg" alt="" class="avatar circle">
              <div class="comment-body">
                <span class="author uppercase">Luke Noel</span>
                <span class="date">March 6</span>
                <p> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </li>
            <li>
              <img src="../../static/img/user.jpg" alt="" class="avatar circle">
              <div class="comment-body">
                <span class="author uppercase">Joel Roksin</span>
                <span class="date">March 8</span>
                <p> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </li>
            <li>
              <img src="../../static/img/user3.jpg" alt="" class="avatar circle">
              <div class="comment-body">
                <span class="author uppercase">Mike White</span>
                <span class="date">March 9</span>
                <p> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </li>
            <li class="your-comment">
              <img src="../../static/img/user2.jpg" alt="" class="avatar circle">
              <label for="textarea1">You</label>
              <textarea id="textarea1" class="materialize-textarea" placeholder="Write your comment..."></textarea>
            </li>
          </ul>
        </div>
  
        {% include footer.html %}
    
        
    </div> <!-- End of Page Content -->