---
layout: pages
title: faq
---
  <!-- Page Content -->
  <div id="content" class="grey-blue page">

      {% include Components/toolbar.html %}
      
      <!-- Main Content -->
      <div class="animated fadeinup">
        <!-- Collapsible -->
        <h4 class="p-20">Simple Dropdown</h4>
        <ul class="faq collapsible animated fadeinright delay-1" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="ion-android-arrow-dropdown right"></i>Information for you</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-arrow-dropdown right"></i>Some tips</div>
            <div class="collapsible-body"><p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-arrow-dropdown right"></i>Places near you</div>
            <div class="collapsible-body"><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-arrow-dropdown right"></i>Suggestions</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
          </li>
        </ul>
        
        <!-- Pop Out -->
        <h4 class="p-20">Popout Dropdown</h4>
        <ul class="faq collapsible popout animated fadeinright delay-2" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="ion-android-add right"></i>Information for you</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-add right"></i>Some tips</div>
            <div class="collapsible-body"><p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-add right"></i>Places near you</div>
            <div class="collapsible-body"><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-add right"></i>Suggestions</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
          </li>
        </ul>
        
        <!-- With Left Icon -->
        <h4 class="p-20">Left Icons Dropdown</h4>
        <ul class="faq collapsible animated fadeinright delay-3" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="ion-android-options"></i>Information for you</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-cloud"></i>Some tips</div>
            <div class="collapsible-body"><p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-pin"></i>Places near you</div>
            <div class="collapsible-body"><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="ion-android-hangout"></i>Suggestions</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
          </li>
        </ul>
  
        {% include footer.html %}
    
      
    </div> <!-- End of Page Content -->