---
layout: pages
title: index-walkthrough
---
  <!-- Page Content -->
  <div id="content">


      {% include Components/toolbar.html %}
      
      <!-- Main Content -->
      <div class="animated fadeinup">
        
        <!-- Slider -->         
        <div class="swiper-container steps">
          <div class="swiper-wrapper slider-steps">
            <div class="swiper-slide grey-blue">
              <div class="valign-wrapper">
                <div class="valign center-align p-l-r-50">
                  <i class="ion-iphone big"></i>
                  <h2 class="uppercase">Mobile First</h2>
                  <p>Halo is designed with Mobile in mind.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide grey-blue">
              <div class="valign-wrapper">
                <div class="valign center-align p-l-r-50">
                  <i class="ion-social-android big"></i>
                  <h2 class="uppercase">45+ Pages</h2>
                  <p>Just choose.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide grey-blue">
              <div class="valign-wrapper">
                <div class="valign center-align p-l-r-50">
                  <i class="ion-arrow-swap big"></i>
                  <h2 class="uppercase">Transition</h2>
                  <p>Smooth transitions.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="steps-controllers">
            <!-- Add Arrows -->
            <div><a href="index.html">SKIP</a></div>
            <div class="swiper-button-prev">PREV</div>
            <div class="swiper-button-next">NEXT</div>
          </div>
        </div>
        <!-- End of Slider -->
  
      </div> <!-- End of Main Contents -->
    
      
    </div> <!-- End of Page Content -->