---
layout: pages
title: portfolio-filter
---
  <!-- Page Content -->
  <div id="content" class="page">

      {% include Components/toolbar.html %}
  
      <!-- Main Content -->
      <div class="p-20 animated fadeinup">
  
        <!-- Filters -->
        <div class="controls">
          <button id="ChangeLayout" class="left">List</button>
          <label>Filter:</label>
          <button class="filter" data-filter="all">All</button>
          <button class="filter" data-filter=".category-1">Art</button>
          <button class="filter" data-filter=".category-2">Ink</button>
          <button class="filter" data-filter=".category-3">Pop</button>
        </div>
  
  
        <div id="filter">
          <!-- Swipeboox Contents -->
          <section id="image-filter">
            <div class="wrap small-width">
              <div data-pswp-uid="1" id="demo-gallery" class="demo-gallery">
                <a href="project.html" class="mix category-1">
                  <img src="../../static/img/1.jpg" alt="image">
                </a>
                <a href="project.html" class="mix category-1">
                  <img src="../../static/img/2.jpg" alt="image">
                </a>
                <a href="project.html" class="mix category-2">
                  <img src="../../static/img/3.jpg" alt="image">
                </a>
                <a href="project.html" class="mix category-2">
                  <img src="../../static/img/4.jpg" alt="image">
                </a>
                <a href="project.html" class="mix category-3">
                  <img src="../../static/img/5.jpg" alt="image">
                </a>
                <a href="project.html" class="mix category-1">
                  <img src="../../static/img/6.jpg" alt="image">
                </a>
                <a href="project.html" class="mix category-1">
                  <img src="../../static/img/7.jpg" alt="image">
                </a>
                <a href="project.html" class="mix category-1">
                  <img src="../../static/img/8.jpg" alt="image">
                </a>
                <a href="project.html" class="mix category-2">
                  <img src="../../static/img/9.jpg" alt="image">
                </a>
                <a href="project.html" class="mix category-2">
                  <img src="../../static/img/10.jpg" alt="image">
                </a>
              </div>
            </div>
          </section> <!-- End of Swipebox Contents -->
          
          <div class="clr"></div>
        </div>
        <!-- End of Main Contents -->
  
          
      </div> <!-- End of Page Content -->
      
      {% include footer.html %}
      
    </div>