---
layout: pages
title: portfolio-card
---
  <!-- Page Content -->
  <div id="content" class="grey-blue page">


      {% include Components/toolbar.html %}
  
      <!-- Main Content -->
      <div class="animated fadeinup">
  
        <div class="grid">
          <div class="grid-item gallery-item-card">
            <a href="project.html">
              <img src="../../static/img/1.jpg" alt="image">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>Jassie North</span>
                  <span class="small">Art</span>
                </div>
              </div>
            </a>
          </div>
          <div class="grid-item gallery-item-card">
            <a href="iproject.html">
              <img src="../../static/img/v1.jpg" alt="image">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>Jassie North</span>
                  <span class="small">Pop</span>
                </div>
              </div>
            </a>
          </div>
          <div class="grid-item gallery-item-card">
            <a href="project.html">
              <img src="../../static/img/2.jpg" alt="image">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>Jassie North</span>
                  <span class="small">Photo</span>
                </div>
              </div>
            </a>
          </div>
          <div class="grid-item gallery-item-card">
            <a href="project.html">
              <img src="../../static/img/3.jpg" alt="image">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>Jassie North</span>
                  <span class="small">Ink</span>
                </div>
              </div>
            </a>
          </div>
          <div class="grid-item gallery-item-card">
            <a href="iproject.html">
              <img src="../../static/img/v2.jpg" alt="image">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>Jassie North</span>
                  <span class="small">Photo</span>
                </div>
              </div>
            </a>
          </div>
          <div class="grid-item gallery-item-card">
            <a href="iproject.html">
              <img src="../../static/img/v3.jpg" alt="image">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>Jassie North</span>
                  <span class="small">Pop</span>
                </div>
              </div>
            </a>
          </div>
          <div class="grid-item gallery-item-card">
            <a href="project.html">
              <img src="../../static/img/4.jpg" alt="image">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>Jassie North</span>
                  <span class="small">Art</span>
                </div>
              </div>
            </a>
          </div>
          <div class="grid-item gallery-item-card">
            <a href="project.html">
              <img src="../../static/img/5.jpg" alt="image">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>Jassie North</span>
                  <span class="small">Ink</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        
        {% include footer.html %}
        
      </div>
      <!-- End of Main Contents -->
    </div> <!-- End of Page Content -->