---
layout: pages
title: portfolio-masonry
---
<!-- Page Content -->
<div id="content" class="page">


    {% include Components/toolbar.html %}

    <!-- Main Content -->
    <div class="animated fadeinup">

      <div class="grid">
        <div class="grid-item">
          <a href="project.html">
            <img src="../../static/img/1.jpg" alt="image">
          </a>
        </div>
        <div class="grid-item">
          <a href="project.html">
            <img src="../../static/img/v1.jpg" alt="image">
          </a>
        </div>
        <div class="grid-item">
          <a href="project.html">
            <img src="../../static/img/2.jpg" alt="image">
          </a>
        </div>
        <div class="grid-item">
          <a href="project.html">
            <img src="../../static/img/3.jpg" alt="image">
          </a>
        </div>
        <div class="grid-item">
          <a href="project.html">
            <img src="../../static/img/v2.jpg" alt="image">
          </a>
        </div>
        <div class="grid-item">
          <a href="project.html">
            <img src="../../static/img/v3.jpg" alt="image">
          </a>
        </div>
        <div class="grid-item">
          <a href="project.html">
            <img src="../../static/img/4.jpg" alt="image">
          </a>
        </div>
        <div class="grid-item">
          <a href="project.htmlg">
            <img src="../../static/img/5.jpg" alt="image">
          </a>
        </div>
      </div>
      
      {% include footer.html %}
       
    </div>
    <!-- End of Main Contents -->
    
  </div> <!-- End of Page Content -->