{% if page.layout != "index" %}
<!-- Fonts -->
<link href='../../static/css/googleSans.css' rel='stylesheet' type='text/css'>
<!-- Icons -->
<link href="../../static/css/ionicons.css" media="all" rel="stylesheet" type="text/css">
<!-- Styles -->
<link href="../../static/css/keyframes.css" rel="stylesheet" type="text/css">
<link href="../../static/css/materialize.css" rel="stylesheet" type="text/css">
<link href="../../static/css/swiper.css" rel="stylesheet" type="text/css">
<link href="../../static/css/swipebox.css" rel="stylesheet" type="text/css">
<link href="../../static/css/style.css" rel="stylesheet" type="text/css">
{% endif %}
{% if page.layout == "index" %}
<link href="../../static/css/style.css" rel="stylesheet" type="text/css">
<link href="../../static/css/chart.css" rel="stylesheet" type="text/css">
{% endif %}