---
layout: pages
title: 修改密码
---
<div class="passwordEdit">
    <div class="mod_pos_item">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">旧密码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" value="11111111111111">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">新密码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">确定新密吗</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入">
                </div>
            </div>
        </div>
    </div>
    <!-- 底部按钮 -->
    <div class="mod_bot_btn mt-2">
        <a href="../mine.html" class="weui-btn weui-btn_primary w-auto">保存</a>
    </div>
</div>