---
layout: pages
title: 仓库管理
---
<div class="warehouse">
    <div class="weui-grids">
        <a href="matApp.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="../static/images/icon/02.png" alt="">
            </div>
            <p class="weui-grid__label">
                    物料申请
            </p>
        </a>
        <!-- <a href="assetUse.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="../static/images/icon/06.png" alt="">
            </div>
            <p class="weui-grid__label">
                    资产领用
            </p>
        </a>
        <a href="redFlush.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="../static/images/icon/08.png" alt="">
            </div>
            <p class="weui-grid__label">
                    红冲退库
            </p>
        </a>
        <a href="retirement.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="../static/images/icon/11.png" alt="">
            </div>
            <p class="weui-grid__label">
                    残次品退库
            </p>
        </a>
        <a href="retAssets.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="../static/images/icon/15.png" alt="">
            </div>
            <p class="weui-grid__label">
                    资产归还
            </p>
        </a> -->
    </div>
</div>