//小屏导航
.s-ms-fright{
    position: absolute;
    right:10px;
    top: 0;
    bottom: 0;
    height: 60px;
    svg{
        color: $bd-white;
    }
}
//小屏
@media (max-width: 575.98px) { 
    .navbar-brand {
        align-items: left;
     }
    .drag-target{
        display: none;
    }
}
//大屏
@media (min-width: 768px){
    .s-none{
        display: none;
    }
    .card-deck{
        padding-top:40px;
    }
    .navbar-brand{
      display: flex;
      align-items: center;
      margin-left: 1rem;
      margin-right: 2rem!important;
    }
    //大屏轮播图
    .carousel{
      max-width: 1150px;
      margin:20px auto 0 auto;
    }
    .bd-search{
        span{
          display: none;
        }
    }
}

.bd-masthead{
    padding: 1rem 15px!important;
    h1{
      font-size: 2rem;
    }
}

// 更多详情
.about-more{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    .text-muted{
        display: block;
        width: 31.5%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 16px;
        margin: 0 auto;
        background-color: #bd8438;
        color:$white!important;
        border-radius: 5px;
    }
  }

//主题项目
.subject{
  .subject-ul{
      background-color:$gray-200;
      .subject-li{
         a{
           font-size: 14px;
         }
     }
   }
}

//业务涵盖
.yewu{
    th{
        text-align: center!important;
    }
}