---
layout: default
title: 首页
---
{% include qy-header.html %}
<!-- S 轮播图  -->
<div class="group">
    <img src="static/img/zy_03.jpg" />
</div>
<!-- E 轮播图 -->

<!-- S 振业汽车介绍 -->
<div class="group">
    <img src="static/img/zy_04.jpg" />
</div>
<!-- E 振业汽车介绍 -->

<!-- S 门店展示 -->
<div class="group">
    <img src="static/img/zy_05.jpg" />
</div>
<!-- E 门店展示  -->

<!-- S 汽车资讯 -->
<div class="group">
    <img src="static/img/zy_06.jpg" />
</div>
<!-- E 汽车资讯 -->

<!-- S 品牌展示 -->
<div class="group">
    <img src="static/img/zy_07.jpg" />
    <img src="static/img/zy_08.jpg" />
</div>
<!-- E 品牌展示 -->

<!-- S 服务范围 -->
<div class="group">
    <img src="static/img/zy_09.jpg" />
</div>
<!-- E 服务范围 -->

<!-- S 企业新闻/优惠活动 -->
<div class="group">
    <img src="static/img/zy_10.jpg" />
</div>
<!-- E 企业新闻/优惠活动 -->
{% include footer.html %}