[v-cloak] {
	display: none !important
}

[v-cloak] {
	display: none
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center
}

.container .sort-container {
	box-shadow: 0 .05rem .11rem 0 rgba(0, 0, 0, 0.1);
	margin-bottom: .85rem
}

.container .sort-title {
	font-size: 16px;
	color: #fff;
	text-align: center;
	width: 8.93rem;
	height: 1.07rem;
	line-height: 1.07rem;
	position: relative
}

.container .sort-title .icon {
	position: absolute;
	top: -18px;
	left: -15px;
	width: 32px;
	height: 32px;
	transform: rotateZ(-5deg)
}

.container .no-user {
	width: 100%;
	background-color: #fff;
	padding-bottom: .5rem
}

.container .no-user img {
	width: 100%;
	margin-bottom: 1.39rem
}

.container .no-user .text {
	font-size: 16px;
	color: #a0a0a0;
	text-align: center
}

.container .sort-table {
	width: 9rem;
	margin: 0
}

.container .sort-table thead tr th {
	font-weight: bold;
	text-align: center
}

.container .sort-table thead tr th .iconfont {
	font-size: 12px;
	margin-right: .1rem
}

.container .sort-table tbody tr {
	border-bottom: 1px solid #f2f2f2
}

.container .sort-table tbody tr td {
	text-align: center;
	word-break: break-all
}

.container .sort-table tbody tr td:nth-child(2) {
	text-align: left;
	display: flex;
	align-items: self-start
}

.container .sort-table tbody tr td:nth-child(2) img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin-right: 6px
}

.container .sort-table tbody tr td:nth-child(2) .iconfont {
	font-size: 28px;
	margin-right: 6px;
	color: #dedede
}

.container .sort-table tbody tr td .icon {
	width: 20px;
	height: 20px
}

.container .layui-table td {
	padding: 9px 0 !important
}

.container .load-more-btn {
	width: 9rem;
	font-size: 12px;
	color: #999;
	height: 1.5rem;
	border: 0;
	outline: 0;
	line-height: 1.75rem;
	margin-top: -1px
}

.container .load-more-btn.no-more {
	background-color: #fff !important;
	border-color: #fff !important
}

.container .anon-panel {
	border-radius: .05rem;
	background-color: #ffffff;
	width: 9rem;
	font-size: 14px;
	padding: .2rem;
	box-sizing: border-box;
	margin-bottom: .3rem
}

.container .anon-panel .title {
	font-size: 16px;
	color: #f4ba1c;
	margin-bottom: .3rem
}