.hero-header.hero-big {
	padding-top: 10vh
}

.bg-3 {
	background: #00BCD4
}

.hy-code .avatar {
	background-color: #fff;
	border: 1px solid #ddd;
	width: 70px;
	height: 70px;
	margin: 0 auto
}

.hy-code .code img {
	width: 180px;
	height: 180px;
	margin: 0 auto
}

.hy-code .num p {
	text-align: center
}

.hy-code .num p:first-child {
	font-size: 24px;
	margin: 20px 0 10px
}

.hy-code .num p:last-child {
	font-size: 16px;
	color: #BEBEBE
}

.opacity-overlay {
	background: url(../img/mkb.png) center no-repeat;
	background-size: 95%
}

.card1 {
	padding: 0 0 20px;
	position: relative
}

.card1 img {
	width: 90%;
	margin: 0 auto
}

.card1 .about1 {
	position: absolute;
	left: 35px;
	top: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.card1 .about1 .avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
	border: 2px solid #fff;
	background-color: #fff
}

.card1 .about1 ul {
	float: left;
	margin: 0
}

.card1 .about1 ul li {
	text-align: left
}

.card1 .about1 ul li h2 {
	font-size: 2.5rem
}

.card1 .about1 ul li p {
	font-size: 1.5rem
}

.card1 .code {
	position: absolute;
	right: 35px;
	top: 20px;
	background-color: #fff;
	padding: 3px
}

.card1 .code a {
	display: block
}

.card1 .code a img {
	width: 40px;
	height: 40px
}

.card1 .num {
	position: absolute;
	left: 35px;
	bottom: 40px
}

.card1 .num p {
	margin: 0
}

.card1 .detail {
	position: absolute;
	right: 35px;
	bottom: 35px;
	color: #C5C4CA
}

.activity {
	margin: 0;
	padding: 0 10px;
	border-bottom: 0;
	position: relative
}

.activity .single-news {
	padding: 0 10px;
	border-bottom: 1px solid #eee;
	font-size: 14px
}

.activity .single-news a {
	height: 60px;
	line-height: 60px;
	display: block
}

.activity .single-news a .single-news-channel {
	float: left
}

.activity .single-news a .single-news-category {
	float: right;
	color: #C5C4CA
}

.card-detail .media-top-object h6,.quickpay p {
	color: #888;
	margin: 0
}

.modal {
	max-height: 100%;
	width: 100%
}

.quickpay p {
	text-align: center;
	padding: 20px 0
}

.card-detail h5 {
	margin-bottom: 0;
	padding-bottom: 10px;
	font-weight: 700
}

.card-detail .media-top-object .media-body ul {
	margin: 0
}

.card-detail .media-top-object .media-body ul li {
	float: left;
	margin: 0 5px 10px;
	background-color: #eee;
	padding: 5px
}

.comments {
	border: 0
}