$font-10: rem(32.2);//10*3.22=32.2
$font-12: rem(38.64);//12*3.22=38.64
$font-14: rem(45.08);//14*3.22=45.08
$font-16: rem(51.52);//16*3.22=51.52
$font-18: rem(57.96);//18*3.22=57.96
$font-20: rem(64.4);//20*3.22=64.4
$font-24: rem(77.28);//24*3.22=77.28

// $font-10: rem(40);//10*4=40
// $font-12: rem(48);//12*4=48
// $font-14: rem(56);//14*4=56
// $font-16: rem(64);//16*4=64
// $font-18: rem(72);//18*4=72
// $font-20: rem(80);//20*4=80
// $font-24: rem(96);//24*4=96

// $font-10: rem(11.25);//0.2*75=15
// $font-14: rem(15);//14*4=56
// $font-20: rem(30);


// $font-12: rem(12);
// $font-14: rem(14);
// $font-16: rem(16);
// $font-18: rem(18);
// $font-20: rem(20);
// $font-24: rem(24);