<div class="bd-search d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
  <button class="btn btn-link bd-search-docs-toggle btn-block d-md-none p-0" type="button">
      {% if page.layout != "news" or page.layout != "about" or page.layout != "product" %}
    <img src="assets/img/arrow-down.png" height="20" />
    {% else %}
      <img src="../assets/img/arrow-down.png" height="20" />
    {% endif %}
  </button>
</div>
<nav class="collapse bd-links pt-0" id="bd-docs-nav">
  {%- assign page_slug = page.url | split: '/' | last -%}
  {%- for group in site.data.about -%}
  {%- assign link = group.pages | first -%}
  {%- assign link_slug = link.title | slugify -%}
  {%- assign group_slug = group.title | slugify -%}
  {%- assign active = nil -%}

  {%- if page.group == group_slug -%}
    {%- assign active = 'active' -%}
  {%- endif -%}

  <div class="bd-toc-item active">
      <div class="bd-toc-link text-danger">
          {{ group.name }}
      </div>

      <ul class="nav bd-sidenav">
        {%- for doc in group.pages -%}
          {%- assign doc_slug = doc.title | slugify -%}
          {%- assign active = nil -%}

          {%- if page.group == group_slug and page_slug == doc_slug -%}
            {%- assign active = 'active bd-sidenav-active' -%}
          {%- endif -%}

          <li{% unless active == nil %} class="{{ active }}" {% endunless %}>
            <a href="../{{ group_slug }}/{{ doc_slug }}.html">
              {{ doc.name }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endfor -%}
</nav>
