---
layout: pages3
title: 报表中心-VIP入闸查询
---
<!-- VIP入闸查询 -->
<div class="easyui-layout ticket" style="width:100%;height:930px;">
    <div data-options="region:'west',border:false" class="leftChaXun" style="width:18%;padding:10px;">
        <form class="layui-form layui-form-pane" action="">
            <div style="padding:10px;border:1px solid #eeeeee;">
               <h2>VIP信息查询</h2>
               <ul>
                  <li><label>有效日期:</label><input type="text" class="text_add3" id="ylDate"></li>
                  <li><label>至:</label><input type="text" class="text_add3" id="ylEndDate"></li>
                  <li><label>模糊查询:</label><input type="text" class="text_add3"></li>
                  <li style="text-align: center;margin-top:20px;margin-bottom: 0;">
                      <button type="button" class="layui-btn">重置</button> <button type="button" class="layui-btn layui-btn-primary">查询</button>
                  </li>
              </ul>
            </div>
        </form>
    </div>
    <div data-options="region:'center',border:false" class="" style="width:82%;padding:20px 0 0 0;">
        <h2>售票信息</h2>
        <div class="allBtn" style="display: flex;margin:10px 0;">
            <button type="button" class="layui-btn layui-btn-primary"">导出</button>
        </div>
        <div style="background-color: #ffffff;">
            <table class="layui-hide" id="bbzx_09" lay-filter="test"></table>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>