---
layout: pages3
title: 报表中心-入闸记录
---
<!-- 入闸记录 -->
<div class="easyui-layout ticket" style="width:100%;height:930px;">
    <div data-options="region:'west',border:false" class="leftChaXun" style="width:18%;padding:10px;">
        <form class="layui-form layui-form-pane" action="">
            <h2>检索</h2>
            <div class="" style="padding:10px;border:1px solid #eeeeee;margin-top: 10px;">
               <div class="sjd" style="text-align: center;padding:10px 0 0 0;color:#49B4E8;">
                   <a href="">[近3天]</a>
                   <a href="">[近7天]</a>
                   <a href="">[近30天]</a>
               </div>
               <ul>
                   <li><label>日期:</label><input type="text" class="text_add3" id="ylDate"></li>
                   <li><label>至:</label><input type="text" class="text_add3" id="ylEndDate"></li>
                   <li><label>门票条码:</label><input type="text" class="text_add3"></li>
                   <li style="text-align: center;margin-top:20px;margin-bottom: 0;">
                       <button type="button" class="layui-btn">清空</button> <button type="button" class="layui-btn layui-btn-primary">查询</button>
                   </li>
               </ul>
            </div>
        </form>
    </div>
    <div data-options="region:'center',border:false" class="" style="width:82%;padding:10px 0;">
        <h2>检票信息</h2>
        <div class="allBtn" style="display: flex;margin:10px 0;">
            <button type="button" class="layui-btn layui-btn-primary"">导出</button>
        </div>
        <div style="background-color: #ffffff;">
            <table class="layui-hide" id="bbzx_03" lay-filter="test"></table>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>