<div class="yun_footer">
    <div class="yun_footer_fix">
        <ul class="yun_footer_nav">
            <li class="yun_footer_nav_cur">
                <a href="index.html"><i class="yun_footer_nav_icon yun_footer_nav_home_cur"></i>首页</a>
            </li>
            <li>
                <a href="qy_resume.html"><i class="yun_footer_nav_icon yun_footer_nav_jl"></i>简历</a>
            </li>
            <li>
                <a href="qy_news.html"><i class="yun_footer_nav_icon yun_footer_nav_fx"></i>消息</a>
            </li>
            <li>
                <a href="qy_mine.html"><i class="yun_footer_nav_icon yun_footer_nav_user"></i>我的</a>
            </li>
        </ul>
    </div>
 </div>