---
layout: pages
title: 签到
---
<div class="checkIn">
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label text-center">序&nbsp;&nbsp;&nbsp;号</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" value="1" id="ci_01" readonly="readonly">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label text-center">部&nbsp;&nbsp;&nbsp;门</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入您所在部门" id="ci_02">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label text-center">姓&nbsp;&nbsp;&nbsp;名</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入您的姓名" id="ci_03">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label text-center">日&nbsp;&nbsp;&nbsp;期</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请选择日期" id="ci_04">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label text-center">时&nbsp;&nbsp;&nbsp;间</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请选择时间" id="ci_05">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label text-center">事&nbsp;&nbsp;&nbsp;由</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入事由" id="ci_06">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label text-center">审批人</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入审批人" id="ci_07">
            </div>
        </div>
    </div>
    <div class="weui-btn-area m-3">
        <a class="weui-btn weui-btn_primary" href="javascript:">提 交</a>
    </div>
</div>