---
layout: pages
title: 物料申请
---
<div class="matApp">
    <!-- 搜索物料 -->
    {% include components/search.html %}
     <header class="demos-header mt-2">
        <h1 class="demos-title text-center">物料列表</h1>
     </header>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd weui-cell">
            <div class="weui-cell__bd">独型灯泡</div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <ul>
                <li>
                    <span>归属仓库：</span>
                    <span>工程物料</span>
                </li>
                <li>
                    <span>品牌：</span>
                    <span>佛山照明</span>
                </li>
                <li>
                    <span>型号：</span>
                    <span>3W黄光</span>
                </li>
                <li>
                    <span>单价：</span>
                    <span>15</span>
                </li>
                <li>
                    <span>库存：</span>
                    <span>39个</span>
                </li>
                </ul>
            </div>
        </div>
        <div class="weui-cell__ft mr-3">
            <a href="matAppEdit.html" class="weui-btn weui-btn_mini weui-btn_primary">添加</a>
        </div>
    </div>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd weui-cell">
            <div class="weui-cell__bd">蝶型灯管</div>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <ul>
                <li>
                    <span>归属仓库：</span>
                    <span>工程物料</span>
                </li>
                <li>
                    <span>品牌：</span>
                    <span>佛山照明</span>
                </li>
                <li>
                    <span>型号：</span>
                    <span>3W白光</span>
                </li>
                <li>
                    <span>单价：</span>
                    <span>15</span>
                </li>
                <li>
                    <span>库存：</span>
                    <span>1套</span>
                </li>
                </ul>
            </div>
        </div>
        <div class="weui-cell__ft mr-3">
            <a href="matAppEdit.html" class="weui-btn weui-btn_mini weui-btn_primary">添加</a>
        </div>
    </div>
    
    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
        <div class="mod_pos_btn_air w-100"><a href="">提交</a></div>
    </section>
</div>