---
layout: pages
title: 企业详情
---
<div class="body_wap">
        <header class="header_h">
            <div class="header_fixed">
                <div class="header">
                    <div class="header_bg  bg3">
                        <a class="hd-lbtn mui-action-back" href="javascript:history.back();"><i class="header_top_l"></i></a>
                        <div class="header_h1">
                            <div class="header_p_z">公司详情</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="header_navlist">
        <a href="More.html" id="jobclick"><i class="naviconfont"></i></a>
    </div>
    <section>
        <div class="company_info">
            <div class="company_info_logo muipreview">
                <img class="avatar" src="https://dummyimage.com/70x70/ff6600/fff.png&text=logo" onerror="showImgDelay(this,&#39;../images/14906489056.PNG&#39;,2);"
                    data-preview-src="" data-preview-group="1">
            </div>
        </div>
        <div class="company_cominfo">
            <div class="company_infonname">惠州新爱婴早教演达中心 <i class="job_qy_rz_icon"></i></div>
            <div class="company_cominfo_p">
                <div class="company_cominfo_p_hy">教育/培训</div>
                <span class="company_info_basic"> 广东/惠州</span> <span class="company_info_basic company_info_basic_xz">股份制企业</span>
                <span class="company_info_basic company_info_basic_rs">10-50人</span>
            </div>
        </div>
    </section>
    <div class="com_map ">
        <span class="com_map_name">地址</span>惠城区演达大道63号TCL香榭园9-10号铺
    </div>
    <section>
        <div class=" mt15 none" id="businessInfo">
            <div class="com_new_contnet_box ">
                <div class="wap_title"><span class="">工商信息</span></div>
                <!----天眼查------->
                <div class="business">
                    <div class="businessInfo">
                        <ul class="basicMsgList clearfix" style="line-height:30px;height:275px; overflow:hidden" id="com_business">
                            <li>
                                <div class="clearfix"><span>统一社会信用代码：</span><em id="creditCode"></em></div>
                            </li>
                            <li>
                                <div class="clearfix"><span>成立日期：</span><em id="estiblishTime"></em></div>
                            </li>
                            <li>
                                <div class="clearfix"><span>组织机构代码：</span><em id="orgNumber"></em></div>
                            </li>
                            <li>
                                <div class="clearfix"><span>经营期限：</span><em id="Time"></em></div>
                            </li>
                            <li>
                                <div class="clearfix"><span>企业类型：</span><em id="companyOrgType"></em></div>
                            </li>
                            <li>
                                <div class="clearfix"><span>登记机关：</span><em id="regInstitute"></em></div>
                            </li>
                            <li>
                                <div class="clearfix"><span>经营状态：</span><em id="regStatus"></em></div>
                            </li>
                            <li>
                                <div class="clearfix"><span>注册资本：</span><em id="regCapital"></em></div>
                            </li>
                            <li>
                                <div class="clearfix"><span>注册地址：</span><em id="regLocation"></em></div><em id="regLocation">
                                </em>
                            </li><em id="regLocation">
                                <li>
                                    <div class="clearfix"><span>经营范围：</span><em id="businessScope"></em></div><em id="businessScope">
                                    </em>
                                </li><em id="businessScope">
                                </em>
                            </em>
                        </ul>
                        <em id="regLocation">
                            <em id="businessScope">
                                <div class="qxb clearfix">
                                    <div class="qxb_tg" style="background:#fafafa; padding:5px 10px ; text-align:center"><span>以上内容由</span>
                                        <span class="hxb">
                                            <a href="" class="tianyancha" id="tianyancha" target="_blank"><img src="../images/tycc.png" height="30" style="vertical-align:middle"></a>
                                        </span>
                                        <span>提供</span>
                                    </div>
                                </div>
                            </em>
                        </em>
                    </div>
                    <em id="regLocation"><em id="businessScope">
                            <div class="on-off" style="background:#f8f8f8; padding:5px 10px ;text-align: center"><a href="javascript:;" onclick="showbb()">展开信息</a></div>
                        </em></em>
                </div><em id="regLocation"><em id="businessScope">
                        <!---------END------>
                    </em></em>
            </div><em id="regLocation"><em id="businessScope">
                </em></em>
        </div><em id="regLocation"><em id="businessScope">
            </em></em>
    </section>
            <em id="regLocation"><em id="businessScope">
        <section id="content">
            <div class=" mt15">
                <div class="com_new_contnet_box ">
                    <div class="wap_title"><span class="">公司简介</span></div>
                    <div class="user_contnet_box_p  jobshow_content_lh muipreview">
                        <div style="width:100%;height:auto; overflow:hidden" id="com_content" class="img_auto">
                            新爱婴早教演达中心，让我们一起培养快乐、自信、健康、有创造力的宝宝！关注孩子成长的每一个细节！<br>
                            <div>
                                <br>
                            </div>
                        </div>
                        <div class="com_show_cont none"><a href="javascript:;" onclick="showcc()">展开信息</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="tel">
            <div class=" mt15">
                <div class="com_new_contnet_box ">
                    <div class="wap_title"><span class="">联系方式</span></div>
                    <div class="com_post_login"> <i class="com_post_tel iconfont"></i>企业没有公开联系信息！ </div>
                </div>
            </div>
        </section>
        <section id="job">
            <div class="mt15">
                <div class="index_warp_content">
                    <div class="wap_title"><span>正在招聘的职位</span></div>
                    <div class="com_show_joblist">
                        <a href="c_job_view.html" class="job_list">
                            <h3>
                                <font color="red">销售员</font>
                            </h3>
                            <aside class="job_qy_name">
                                <strong style="color:#ff6a6a; font-weight:normal">￥面议</strong>
                            </aside>
                            <div class="com_show_jiobc">
                                <span class="com_show_city"><i class="com_show_city_icon"></i>广东-惠州</span>
                            </div>
                            <aside class="job_pay"><span class="job_t_date job_t_date_t"> 一周内 </span></aside>
                        </a>
                    </div>
                    <div class="com_show_joblist">
                        <a href="c_job_view.html" class="job_list">
                            <h3>市场专员</h3>
                            <aside class="job_qy_name">
                                <strong style="color:#ff6a6a; font-weight:normal">￥面议</strong>
                            </aside>
                            <div class="com_show_jiobc">
                                <span class="com_show_city"><i class="com_show_city_icon"></i>广东-惠州</span>
                            </div>
                            <aside class="job_pay"><span class="job_t_date job_t_date_t"> 一周内 </span></aside>
                        </a>
                    </div>
                    <div class="com_show_joblist">
                        <a href="c_job_view.html" class="job_list">
                            <h3>
                                <font color="red">教师</font>
                            </h3>
                            <aside class="job_qy_name">
                                <strong style="color:#ff6a6a; font-weight:normal">￥面议</strong>
                            </aside>
                            <div class="com_show_jiobc">
                                <span class="com_show_city"><i class="com_show_city_icon"></i>广东-惠州</span> <span class="com_show_jy"><i class="com_show_jy_icon"></i>不限经验 </span>
                            </div>
                            <aside class="job_pay"><span class="job_t_date job_t_date_t"> 一周内 </span></aside>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--浮动框-->
        <section>
            <div class="yun_job_footer">
                <div class="yun_job_footer_fixed">
                    <div class="com_footer_bg">
                        <div class="com_footer">
                            <div class="com_footer_pd">
                                <a href="javascript:void(0);" data-url="" class="" id="shareClick">分享企业</a>
                            </div>
                        </div>
    
                        <div class="com_footer">
                            <div class="com_footer_pd">
                                <a href="javascript:void(0)" class="com_footer_gz" onclick="pleaselogin(&#39;您还未登录个人账号，是否登录？&#39;,&#39;c_login.html&#39;)">关注企业</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include modules/qy-share.html %}