---
layout: pages
title: 消息
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn " href="javascript:history.back();"><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">消息</div>
                </div>
            </div>
        </div>
    </header>

    <!--消息列表-->
    <div class="synews_box mt10">
        <a href="qy_hr.html">
            <i class="synews_box_icon"></i>
            <div class="synews_box_h1">应聘简历</div>
            <div class="synews_box_p">暂无新的用户申请职位！</div>
        </a>
    </div>
    <div class="synews_box mt10">
        <a href="qy_sxnews.html">
            <i class="synews_box_icon synews_box_icon_sx"></i>
            <div class="synews_box_h1">私信</div>
            <div class="synews_box_p">暂无消息 !</div>
        </a>
    </div>
    <div class="synews_box mt10">
        <a href="qy_msg.html">
            <i class="synews_box_icon synews_box_icon_pl"></i>
            <div class="synews_box_h1">职位咨询</div>
            <div class="synews_box_p">暂无新的用户咨询职位 !</div>
        </a>
    </div>
    <div class="synews_box mt10">
        <a href="qy_jobpack.html">
            <i class="synews_box_icon synews_box_icon_sj"></i>
            <div class="synews_box_h1">赏金投递</div>
            <div class="synews_box_p">暂无新的赏金投递!</div>
        </a>
    </div>
    <div class="synews_box mt10">
        <a href="qy_pl.html">
            <i class="synews_box_icon synews_box_icon_zx"></i>
            <div class="synews_box_h1">面试评价</div>
            <div class="synews_box_p">暂无新的面试评价!</div>
        </a>
    </div>
</div>