---
layout: pages
title: 职位管理
---
<header>
    <div class="header_bg bg3">
        <a class="hd-lbtn" href="javascript:history.back()"><i class="header_top_l iconfont"></i></a>
        <div class="header_h1">职位管理</div>
        <!-- 发布职位-->
        <div class="header_fa_add">
            <a href="qy_jobadd.html" class="header_fa_add_p">发布职位</a>
        </div>
        <!-- 发布兼职-->
    </div>
</header>
<ul class="yunset ">
    <li><a href="qy_job.html">全职管理<span class="yunset_tip">发布职位</span></a></li>
    <li><a href="qy_part.html">兼职管理<span class="yunset_tip">发布兼职</span></a></li>
</ul>
<!-- <ul class="yunset mt15">
    <li><a href="qy_jobpack.html">赏金推广职位<span class="yunset_tip">发布赏金推广</span></a></li>
</ul> -->
<ul class="yunset mt15">
    <li><a href="qy_zhaopinhui.html">招聘会记录</a></li>
    <li><a href="qy_special.html">专题招聘</a></li>
</ul>