---
layout: pages
title: 修改密码
---
<header>
    <div class="header_bg bg3">
        <a class="hd-lbtn " href="javascript:history.back()"><i class="header_top_l iconfont"></i></a>
        <div class="header_h1">修改密码</div>
    </div>
</header>
<section class="wap_member">
    <div class="mui-collapse-content">
        <ul class="yunset_password mt15">
            <form class="" method="post" action="" onsubmit="return ckpwd(this)">
                <li><span class="yunset_password_mname">原密码</span>
                    <div class="mui-input-row">

                        <input type="password" id="password" class="mui-input-password" placeholder="请输入原密码">
                    </div>
                </li>
                <li><span class="yunset_password_mname">新密码</span>
                    <div class="mui-input-row">

                        <input type="password" class="mui-input-password" id="passwordnew" placeholder="请输入新密码">
                    </div>
                </li>
                <li><span class="yunset_password_mname">确认密码</span>
                    <div class="mui-input-row">

                        <input type="password" class="mui-input-password" id="passwordconfirm" placeholder="请重复新密码">
                    </div>
                </li>
                <div class="yunset_bth_box">
                    <button class="mui-btn mui-btn-primary" type="button" onclick="savepwd();">确认</button>&nbsp;&nbsp;
                </div>
            </form>
        </ul>
    </div>
</section>