---
layout: pages
title: 购买会员
---
<header>
    <div class="header_bg bg3">
        <a class="hd-lbtn mui-action-back" href="javascript:history.back()"><i class="header_top_l iconfont"></i></a>
        <div class="header_h1">购买会员</div>
    </div>
</header>
<link rel="stylesheet" href="../css/mui.picker.min.css" type="text/css" />
<link rel="stylesheet" href="../css/style.css" type="text/css" />
<script src="../js/compress.js" language="javascript"></script>
<script>
    var integral = '114';
    var pro = '5';
</script>
<div id="app" class="mui-views">
    <div class="mui-view">
        <div class="mui-pages"></div>
    </div>
</div>
<!--页面主结构结束-->
<!--单页面开始-->
<div id="main" class="mui-page">
    <!--页面主内容区开始-->
    <div class="mui-page-content">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <section class="wap_member">
                    <div class="clear"></div>
                    <ul class="yun_m_tit_three">
                        <li class="yun_m_tit_cur"><a href="qy_rating.html">套餐会员</a></li>
                        <li><a href="qy_added.html">增值服务</a></li>
                    </ul>
                    <div class="clear"></div>
                    <div class="member_tc_list">
                        <ul id="level_rating">
                            <li class="member_set_meal_cur">
                                <div class="member_set_meal_name">
                                    <i class="member_set_meal_name_q"></i>
                                    <span class="member_set_meal_name_s">简历会员套餐</span> <span class="member_set_meal_jg">￥
                                        <span>
                                            49

                                        </span>
                                        <em class="member_set_meal_time">

                                            / 30天 </em>
                                    </span>

                                </div>
                                <div class="member_set_meal_cont">
                                    <div class="member_set_meal_cont_box">
                                        <div class="member_set_meal_showbox">
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 发布职位<span class="member_set_meal_mx_n">5</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 刷新职位<span class="member_set_meal_mx_n">2</span>次</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 下载简历<span class="member_set_meal_mx_n">10</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 邀请面试<span class="member_set_meal_mx_n">5</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 发布兼职<span class="member_set_meal_mx_n">5</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 刷新兼职<span class="member_set_meal_mx_n">2</span>次</div>
                                            </div>
                                        </div>

                                        <div class="member_tc_sm">
                                            <div class="member_tc_sm_c">
                                                说明： 简历下载数20份！主动出击寻找人才，只为中意简历付费！ </div>
                                        </div>
                                    </div>
                                </div>

                                <span id="ratingid" style="display: none;">4</span>
                                <input type="hidden" id="server_price" value="49 ">
                            </li>
                            <li>
                                <div class="member_set_meal_name">
                                    <i class="member_set_meal_name_q"></i>
                                    <span class="member_set_meal_name_s">积分会员套餐</span> <span class="member_set_meal_jg">￥
                                        <span>
                                            99

                                        </span>
                                        <em class="member_set_meal_time">

                                            / 30天 </em>
                                    </span>

                                </div>
                                <div class="member_set_meal_cont">
                                    <div class="member_set_meal_cont_box">
                                        <div class="member_set_meal_showbox">
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 发布职位<span class="member_set_meal_mx_n">5</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 刷新职位<span class="member_set_meal_mx_n">2</span>次</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 下载简历<span class="member_set_meal_mx_n">3</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 邀请面试<span class="member_set_meal_mx_n">3</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 发布兼职<span class="member_set_meal_mx_n">5</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 刷新兼职<span class="member_set_meal_mx_n">2</span>次</div>
                                            </div>
                                        </div>

                                        <div class="member_tc_sm">
                                            <div class="member_tc_sm_c">
                                                说明： 购买获666积分，赠送优惠券，进行置顶或推荐紧急会让你的信息成交更快哦。 赠送666积分 </div>
                                        </div>
                                    </div>
                                </div>

                                <span id="ratingid" style="display: none;">5</span>
                                <input type="hidden" id="server_price" value="99 ">
                            </li>
                            <li>
                                <div class="member_set_meal_name">
                                    <i class="member_set_meal_name_q"></i>
                                    <span class="member_set_meal_name_s">简历+积分会员套餐</span> <span class="member_set_meal_jg">￥
                                        <span>
                                            269

                                        </span>
                                        <em class="member_set_meal_time">

                                            / 30天 </em>
                                    </span>

                                </div>
                                <div class="member_set_meal_cont">
                                    <div class="member_set_meal_cont_box">
                                        <div class="member_set_meal_showbox">
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 发布职位<span class="member_set_meal_mx_n">10</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 刷新职位<span class="member_set_meal_mx_n">10</span>次</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 下载简历<span class="member_set_meal_mx_n">30</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 邀请面试<span class="member_set_meal_mx_n">10</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 发布兼职<span class="member_set_meal_mx_n">10</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 刷新兼职<span class="member_set_meal_mx_n">10</span>次</div>
                                            </div>
                                        </div>

                                        <div class="member_tc_sm">
                                            <div class="member_tc_sm_c">
                                                说明： 50份简历下载量+666积分！赠送优惠券！适合中小型企业，多岗位招聘。 赠送888积分 </div>
                                        </div>
                                    </div>
                                </div>

                                <span id="ratingid" style="display: none;">6</span>
                                <input type="hidden" id="server_price" value="269 ">
                            </li>
                            <li>
                                <div class="member_set_meal_name">
                                    <i class="member_set_meal_name_q"></i>
                                    <span class="member_set_meal_name_s">招聘超值会员套餐</span> <span class="member_set_meal_jg">￥
                                        <span>
                                            299

                                        </span>
                                        <em class="member_set_meal_time">

                                            / 30天 </em>
                                    </span>

                                </div>
                                <div class="member_set_meal_cont">
                                    <div class="member_set_meal_cont_box">
                                        <div class="member_set_meal_showbox">
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 发布职位<span class="member_set_meal_mx_n">10</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 刷新职位<span class="member_set_meal_mx_n">15</span>次</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 下载简历<span class="member_set_meal_mx_n">30</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 邀请面试<span class="member_set_meal_mx_n">20</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 发布兼职<span class="member_set_meal_mx_n">10</span>份</div>
                                            </div>
                                            <div class="member_set_meal_mx">
                                                <div class="member_set_meal_mx_c"> 刷新兼职<span class="member_set_meal_mx_n">15</span>次</div>
                                            </div>
                                        </div>

                                        <div class="member_tc_sm">
                                            <div class="member_tc_sm_c">
                                                说明： 全服务+购买增值服务折扣85折+赠送666积分，赠送优惠券！ 赠送888积分 </div>
                                        </div>
                                    </div>
                                </div>

                                <span id="ratingid" style="display: none;">63</span>
                                <input type="hidden" id="server_price" value="299 ">
                            </li>

                            <input type="hidden" value="4" id="rating_id" />
                            <input type="hidden" id="r_price" value="49">

                        </ul>


                        <div class="member_set_meal_fk_fbox mt15">
                            <div class="member_set_meal_fk">
                                订单金额
                                <span class="member_set_meal_fk_jg">￥
                                    <span id="price">
                                        49
                                    </span>
                                </span>
                            </div>
                            <div class="spread_box" style="border-bottom:1px solid #eee">
                                积分抵扣
                                <div class="spread_box_hs">当前共有
                                    <font color="#3399FF"> 114 </font>
                                    积分 (1元=10积分)
                                </div>
                                <!--<i class="spread_choice"></i>-->
                                <div class="mui-switch mui-switch-mini" id="integral_switch_rating" style="position: absolute;right: 10px;top: 15px;">
                                    <div class="mui-switch-handle"></div>
                                </div>
                                <div class="spread_box_hs_sl" id="spread_integral_box" style="display:none;">
                                    积分抵扣数量：
                                    <input type="text" onkeyup="checkNum('114','5');" oninput="myFunction(this)" value=""
                                        class="member_set_meal_dk" placeholder="" id="integral_pay" name="integral_pay">
                                </div>
                            </div>

                            <div class="spread_box_yfmoney">
                                应付金额：
                                <span class="spread_box_yfmoney_n">￥
                                    <span id="order_price">
                                        49
                                    </span>
                                </span>
                            </div>
                        </div>

                        <form action="index.php?c=dingdan" method="post" onsubmit="return pay_form();" id="paymentform">


                            <div class="member_set_meal_fk_fbox">
                                <div class="member_set_meal_fk_fs member_set_meal_fk_fs_wx" onclick="paycheck('wxpay');">
                                    <i class="wxpay member_set_meal_fk_xz"></i>微信支付
                                </div>
                                <div class="member_set_meal_fk_fs member_set_meal_fk_fs_zfb" onclick="paycheck('alipay');">
                                    <i class="alipay member_set_meal_fk_xz"></i>支付宝
                                </div>
                            </div>

                            <input type="hidden" value="4" id="id" name="comvip" />
                            <input type="hidden" value="" id="paytype" name="paytype" />
                            <input type="hidden" value="" id="dkjf" name="dkjf" />
                            <input type="hidden" value="49" id="vip_price" name="price" />
                            <div class="member_set_meal_fk_zf">
                                <input type="submit" class="member_set_meal_fk_zf_bth" style="border:none" value="确认支付">
                            </div>
                        </form>

                        <div class="member_set_meal_fk_zf" style="display: none;" id="integral_buy">
                            <input type="button" class="member_set_meal_fk_zf_bth" style="border:none;color:white"
                                value="确认支付" onclick="integral_rating_buy();">
                        </div>


                    </div>
                    <div class="clear"></div>
                </section>
            </div>
        </div>
    </div>
    <!--页面主内容区结束-->
</div>
<!--单页面结束-->
<div id="couponhtml" class="mui-page">
    <div class="mui-page-content">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="mui-card">
                    <div class="mui-input-row mui-radio mui-left">
                        <label>暂不使用</label>
                        <input name="coupons" type="radio" id="coupon0" value="0">
                        <input type="hidden" id="0" value="0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/mui.picker.min.js" language="javascript"></script>
<script src="../js/mui.view.js" language="javascript"></script>
<script language="javascript">
    mui.init();
    var viewApi = mui('#app').view({
        defaultPage: '#main'
    });
    var view = viewApi.view;
    (function ($) {
        //初始化单页的区域滚动
        mui('.mui-scroll-wrapper').scroll();
        //处理view的后退与webview后退
        var oldBack = $.back;
        $.back = function () {
            if (viewApi.canBack()) { //如果view可以后退，则执行view的后退
                viewApi.back();
            } else { //执行webview后退
                oldBack();
            }
        };
        view.addEventListener('pageBeforeBack', function (e) {
            var coupon = '',
                couponid = '';
            $('.coupon').each(function (i, arr) {
                if (arr.checked == true) {
                    coupon = arr.dataset.name;
                    couponid = arr.value;
                }
            });
            if (coupon) {
                document.getElementById('couponshow').innerText = coupon;
                document.getElementById('coupon').value = couponid;
            } else {
                document.getElementById('couponshow').innerText = '暂不使用';
                document.getElementById('coupon').value = '';
            }
        });

    })(mui);
    $(document).ready(function () {
        if (document.getElementById('main')) {
            document.getElementById('main').addEventListener('touchmove', function (e) { e.preventDefault(); }, { passive: false });
        }
    })
</script>
<script src="../js/pay.js" language="javascript"></script>