<div class="bd-search d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
  <button class="btn btn-link bd-search-docs-toggle btn-block d-md-none p-0" type="button">
    {% if page.layout == "index" or page.layout == "news" or page.layout == "about" or page.layout == "product" or page.layout == "content" or page.layout == "intro" %}
      <img src="assets/img/arrow-down.png" height="20" />
    {% else %}
      <img src="../assets/img/arrow-down.png" height="20" />
    {% endif %}
  </button>
</div>
<nav class="collapse bd-links pt-0" id="bd-docs-nav">
  {% for group in site.data.about %}
    <div class="bd-toc-item active">
        <div class="bd-toc-link text-danger"> 
            {{ group.name }} 
        </div>
        <ul class="nav bd-sidenav">
          {% for doc in group.pages %}
          {%- assign doc_slug = doc.title | slugify -%}
              <li{% unless active == nil %} class="{{ active }}" {% endunless %}>
                <a href="../pages/{{ doc_slug }}.html">{{ doc.name }}</a>
              </li>
          {% endfor%}
        </ul>
      </div>
  {% endfor %}
</nav>