---
layout: default
title: 邀请函
---
<header class="search">
    <div class="search_header search_bg_Ter">
        <div class="search_header_box">
            <div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
            <div class="search_center"><a href="javascript:"> 邀请函 </a></div>
            <div class="search_right"></div>
        </div>
    </div>
</header>

<div class="mineFavPosition">
    
    <div class="weui-form-preview">
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <h2 class="weui-form-preview__label text-truncate w-50">惠州富海人才教育集团</h2>
                <div class="weui-form-preview__value text-right"><span>2018-08-24</span></div>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">网页设计</label>
            </div>
            <div class="d-flex justify-content-between">
                <span>联系电话：0752-2351766</span>
                <span class="btn btn-danger btn-sm text-white">删除</span>
            </div>
        </div>
    </div>

</div>