---
layout: default
title: 简历
---
<div class="mineResume">
    <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <a href="mineResumeEdit.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">在线简历</label>
                </div>
                <div class="weui-cell__bd">完整度: <em>100%</em></div>
            </a>
            <a href="javascript:;" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">中英文</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input text-right" type="text" placeholder="输入" />
                </div>
            </a>
        </div>
    </div>
    <!-- <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <a href="javascript:;" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">默认投递简历</label>
                </div>
                <div class="weui-cell__bd">在线简历</div>
            </a>
        </div>
    </div>
    <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <a href="javascript:;" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">提升投递上限</label>
                </div>
                <div class="weui-cell__bd">当日投递上限： <em>16</em>次</div>
            </a>
        </div>
    </div>  -->
</div>