---
layout: default
title: 简历编辑
---
<div class="mineResumeEdit">
      
     <!-- 添加头像 -->
     <div class="page__bd m-3"> 
        <div class="weui-cells__title">添加头像</div>
        <div class="weui-cells">
                <div class="weui-cell">
                <div class="weui-cell__bd">
                    <!-- 图片上传 -->
                    <div class="weui-gallery" id="gallery">
                        <span class="weui-gallery__img" id="galleryImg"></span>
                        <div class="weui-gallery__opr">
                            <a href="javascript:" class="weui-gallery__del">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </div>
                    </div>
                    <div class="weui-cells weui-cells_form m-0" id="uploader">
                        <div class="weui-cell p-0 border-0">
                            <div class="weui-cell__bd">
                                <div class="weui-uploader">
                                    <div class="weui-uploader__bd">
                                        <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                                        <div class="weui-uploader__input-box">
                                                <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" capture="camera" multiple=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     
     <!-- 基本资料 -->
     <div class="page__bd m-3"> 
        <div class="weui-cells__title">基本资料 <span class="badge badge-pill badge-danger">必填</span></div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                     <ul>
                         <li><span>姓　　名：</span>梁先生</li>
                         <li><span>性　　别：</span>男</li>
                         <li><span>年　　龄：</span>3</li>
                         <li><span>工作经验：</span>4年</li>
                         <li><span>现所在地：</span>广东省惠州市惠城区</li>
                         <li><span>婚姻状况：</span>未婚</li>
                         <li><span>最高学历：</span>小学</li>
                         <li><span>移动电话：</span>134330000000</li>
                         <li><span>电子邮箱：</span>494864068@qq.com</li>
                     </ul>
                     <a href="mineBasicInfoEdit.html" class="weui-btn weui-btn_mini weui-btn_default">
                        <i class="fa fa-pencil-square-o"></i></a>
                </div>
             </div>
        </div>
    </div>

    <!-- 求职意向 -->
    <div class="page__bd m-3"> 
        <div class="weui-cells__title">求职意向 <span class="badge badge-pill badge-danger">必填</span></div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <ul>
                        <li><span>求职类型：</span>全职</li>
                        <li><span>期望薪资：</span>面议</li>
                        <li><span>期望城市：</span>广东省惠州市</li>
                        <li><span>到岗时间：</span>随时到岗</li>
                        <li>
                          <div class="d-flex">
                            <span>期望岗位：</span>
                            <span>工业/工厂类计划员/调度员<br/>工业/工厂类生产管理主管/督导<br/>工业/工厂类生产管理办事员</span>
                          </div>
                        </li>
                    </ul>
                    <a href="mineJobHuntingEdit.html" class="weui-btn weui-btn_mini weui-btn_default">
                        <i class="fa fa-pencil-square-o"></i></a>
                </div>
             </div>
        </div>
    </div>

    <!-- 工作经验 -->
    <div class="page__bd m-3"> 
        <div class="weui-cells__title">工作经验 <span class="badge badge-pill badge-danger">必填</span></div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-media-box weui-media-box_text p-0 border-bottom pb-2">  
                    <div class="row">
                        <div class="col">
                            <div class="contact">
                                <div class="dot"></div>
                                <ul>
                                    <li><span>2018.07</span>-<span>2018.08</span></li>
                                    <li><span>富海人才有限公司</span> / <span>网页设计师</span></li>
                                </ul>
                                <p>负责招聘网移动端开发负责招聘网移动端开发负责招聘网移动端开发负责招聘网移动端开发负责招聘网移动端开发负责招聘网移动端开发</p>
                            </div>
                        </div>
                        <div class="ed_btn">
                                <a href="minWorkExpEdit.html"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="javascript:;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="contact">
                                <div class="dot"></div>
                                <ul>
                                    <li><span>2018.07</span>-<span>2018.08</span></li>
                                    <li><span>富海人才有限公司</span> / <span>网页设计师</span></li>
                                </ul>
                                <p>负责招聘网移动端开发负责招聘网移动端开发负责招聘网移动端开发负责招聘网移动端开发负责招聘网移动端开发负责招聘网移动端开发</p>
                            </div>
                        </div>
                        <div class="ed_btn">
                            <a href="minWorkExpEdit.html"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="javascript:;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="AddBtn">
                    <p class="weui-media-box__desc pt-2 pb-2">更多的工作经验更受招聘企业青睐哦。</p>
                    <a href="minWorkExpAdd.html" class="weui-btn weui-btn_default"><i class="fa fa-plus"></i> 添加工作经验</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 教育经历 -->
    <div class="page__bd m-3"> 
        <div class="weui-cells__title">教育经历 <span class="badge badge-pill badge-danger">必填</span></div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-media-box weui-media-box_text p-0 border-bottom pb-2">
                    <div class="row">
                            <div class="col">
                                <div class="contact">
                                    <div class="dot"></div>
                                        <ul>
                                        <li><span>2018.07</span>-<span>2018.08</span></li>
                                        <li><span>富海学院</span> / <span>视觉传达</span></li>
                                        <li><span>初中</span>/ <span>统招</span></li>
                                        </ul>
                                </div>
                            </div>
                            <div class="ed_btn">
                                <a href="mineEduExpEdit.html"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="javascript:;"><i class="fa fa-trash-o"></i></a>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="contact">
                                <div class="dot1"></div>
                                <ul>
                                    <li><span>2018.07</span>-<span>2018.08</span></li>
                                    <li><span>富海学院</span> / <span>视觉传达</span></li>
                                    <li><span>初中</span>/ <span>统招</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ed_btn">
                            <a href="mineEduExpEdit.html"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="javascript:;"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="AddBtn">
                    <p class="weui-media-box__desc pt-2 pb-2">更多的教育经验可以帮助HR更好地了解您。</p>
                    <a href="mineEduExpAdd.html" class="weui-btn weui-btn_default"><i class="fa fa-plus"></i> 添加工作经验</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 培训经历 -->
    <div class="page__bd m-3">
        <!--当没内容时，下面DIV需要添加隐藏属性hidden，反之-->
        <div hidden>
            <div class="weui-cells__title">培训经历</div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-media-box weui-media-box_text p-0 border-bottom pb-2">
                        <div class="row">
                                <div class="col">
                                <div class="contact">
                                    <div class="dot"></div>
                                    <ul>
                                        <li><span>2018.07</span>-<span>2018.08</span></li>
                                        <li><span>富海培训机构</span> / <span>Java开发</span></li>
                                    </ul>
                                </div>
                                </div>
                                <div class="ed_btn">
                                <a href="mineTraExpEdit.html"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="javascript:;"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="contact">
                                <div class="dot"></div>
                                <ul>
                                    <li><span>2018.07</span>-<span>2018.08</span></li>
                                    <li><span>富海培训机构</span> / <span>Java开发</span></li>
                                </ul>
                                </div>
                            </div>
                            <div class="ed_btn">
                                <a href="mineTraExpEdit.html"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="javascript:;"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <div class="AddBtn">
                <p class="weui-media-box__desc pt-2 pb-2">更多的培训经验可以帮助HR更好地了解您。</p>
                <a href="mineTraExpAdd.html" class="weui-btn weui-btn_default"><i class="fa fa-plus"></i> 添加工作经验</a>
            </div>
        </div>
     </div>

    <!-- 语言能力 -->
    <div class="page__bd m-3">
        <!--当没内容时，下面DIV需要添加隐藏属性hidden，反之-->
        <div hidden>
            <div class="weui-cells__title">语言能力</div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <ul>
                        <li><strong>普通话水平：</strong>流利</li>
                        <li><strong>粤语水平：</strong>流利</li>
                        <li><strong>英语水平：</strong>良好/获得CET-4等级，属于非英语专业</li>
                        <li><strong>第二外语：</strong>日语/一般</li>
                    </ul>
                    <a href="mineLanSkiEdit.html" class="weui-btn weui-btn_mini weui-btn_default">
                        <i class="fa fa-pencil-square-o"></i></a>
                </div>
            </div>
        </div>
        <!--当没内容时，下面DIV不需要添加隐藏属性hidden，反之--->
        <div class="weui-btn-area">
            <a href="mineLanSkiAdd.html"><i class="fa fa-plus"></i> 添加语言能力</a>
        </div>
    </div>

    <!-- 技能专长 -->
    <div class="page__bd m-3"> 
        <!--当有内容时，下面DIV不需要添加隐藏属性hidden，反之-->
        <div hidden>
            <div class="weui-cells__title">技能专长</div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                        <p>骂人，打架，飙车，抽烟</p>
                        <a href="mineTalentEdit.html" class="weui-btn weui-btn_mini weui-btn_default">
                            <i class="fa fa-pencil-square-o"></i></a>
                </div>
            </div>
        </div>
        <!--当没内容时，下面DIV不需要添加隐藏属性hidden，反之--->
        <div class="weui-btn-area">
            <a href="mineTalentAdd.html"><i class="fa fa-plus"></i> 添加技能专长</a>
        </div>
    </div>

    <!-- 自我评价 -->
    <div class="page__bd m-3"> 
        <!--当没内容时，下面DIV需要添加隐藏属性hidden，反之-->
        <div hidden>
            <div class="weui-cells__title">自我评价</div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>五官端正，走路挺直，外表平平。</p>
                    <a href="mineEvaEdit.html" class="weui-btn weui-btn_mini weui-btn_default">
                        <i class="fa fa-pencil-square-o"></i></a>
                </div>
            </div>
        </div>
        <!--当没内容时，下面DIV不需要添加隐藏属性hidden，反之--->
        <div class="weui-btn-area">
            <a href="mineEvaAdd.html"><i class="fa fa-plus"></i> 添加自我评价</a>
        </div>
    </div>

</div>