---
layout: default
title: 添加工作经历
---
<div class="mineBasicInfoEdit">

        <div class="mod_pos_item pr-0">
                <div class="weui-cells">
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">企业名称</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请输入">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">担任职位</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请选择">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">开始时间</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请选择">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">结束时间</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请选择">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">企业性质</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请选择">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">企业行业</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请选择">
                        </div>
                    </div>
                </div>
                <div class="weui-cells__title p-0 mt-2 mb-2">工作描述</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell pt-0">
                        <div class="weui-cell__bd workContent">
                            <textarea class="weui-textarea" placeholder="请输入文本" rows="10"></textarea>
                            <div class="weui-textarea-counter"><span>0</span>/1600</div>
                        </div>
                    </div>
                </div>
        </div>
    
        <!-- 底部按钮 -->
        <section class="mod_pos_btn">
            <div class="mod_pos_btn_air"><a href="mine.html">保存</a></div>
            <div class="mod_pos_btn_rea"><a href="mineResumeEdit.html">取消</a></div>
        </section>
</div>