<tbody class="m-scene">
    <tr class="" style="height:65px;">
        <td>娱乐车RTX</td>
        <td><small>6min/节</small></td>
        <td>
            <span class="d-block"><small>￥</small>88</span>
        </td>
    </tr>
    <tr class="" style="height:65px;">
        <td>儿童卡丁车</td>
        <td><small>6min/节</small></td>
        <td>
            <span class="d-block"><small>￥</small>58</span>
        </td>
    </tr>
    <tr class="" style="height:65px;">
        <td>赛车服单次租赁</td>
        <td><small>一人一次</small></td>
        <td>
            <span class="d-block"><small>￥</small>30</span>
        </td>
    </tr>
    <tr class="" style="height:65px;">
        <td>赛车鞋单次租赁</td>
        <td><small>一人一次</small></td>
        <td>
            <span class="d-block"><small>￥</small>20</span>
        </td>
    </tr>
</tbody>