---
layout: default
title: 关于我们
---
{% include header.html %}
<!-- S 轮播大图 -->
<div class="group">
    <img src="static/img/about_01.jpg" />
</div>
<!-- E 轮播大图 -->
<!-- S 关于我们 -->
<div class="group">
    <img src="static/img/about_02.jpg" />
</div>
<!-- E 关于我们 -->
<!-- S 新闻资讯 -->
<div class="group">
    <img src="static/img/about_03.jpg" />
</div>
<!-- E 新闻资讯 -->
<!-- S 热门推荐 -->
<div class="group">
    <img src="static/img/about_04.jpg" />
</div>
<!-- E 热门推荐 -->
<!-- S 咨询与服务 -->
<div class="group">
    <img src="static/img/about_05.jpg" />
</div>
{% include footer.html %}
<!-- E 咨询与服务 -->
<!-- S 暂无内容 -->
<!-- <div class="group">
    <img src="static/img/noContent.jpg" />
</div> -->
<!-- E 暂无内容 -->