---
layout: pages
title: 邀请记录
---
<div class="qyPostMan">
    <!--S 简历查找 -->
    <div class="mod_pos_item">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select">
	            <div class="weui-cell__hd">
	                    <label for="name" class="weui-label">查看应聘</label>
	            </div>
	            <div class="weui-cell__bd text-right">
	              <input class="weui-input w-25 text-center" type="text" placeholder="请选择"/><span class="text-primary">职位的应聘者信息</span>
	            </div>
            </div>
            <div class="weui-cell weui-cell_select">
	            <div class="weui-cell__hd">
	                    <label for="name" class="weui-label w-100">在应聘者中查找</label>
	            </div>
	            <div class="weui-cell__bd text-right">
	              <input class="weui-input w-25 text-center" type="text" placeholder="请选择"/><span class="text-primary">为</span><input class="weui-input w-25 text-center" type="text" placeholder="请输入"/><span class="text-primary">的求职者</span>
	            </div>
            </div>
            <div class="weui-cell">
              <a href="javascript:;" class="btn btn-outline-primary btn-block border-0 p-0"><i class="fa fa-search"></i> 开始搜查</a>
            </div>
        </div>
    </div>
    <!--E 简历查找 -->
    <!--S 简历列表 -->
    <div class="weui-cells">
        {% for inv in site.data.qyInvInter %}
        <div class="weui-cell weui-cells_checkbox">
            <label class="weui-check__label d-flex align-items-center w-100" for="{{ inv.id }}">
            <div class="weui-cell__hd">
                    <input type="checkbox" class="weui-check checkOne" onclick="clickOne()" id="{{ inv.id }}">
                    <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd p-0 m-0">
                    <h2>
                      <span class="mr-1 text-primary">{{ inv.dep }}</span> <span class="mr-1 text-warning">{{ inv.sex }}</span><span>{{ inv.edu }}</span>
                    </h2>
                    <p><span class="mr-2">{{ inv.sch }}</span><span>{{ inv.are }}</span></p>
                    <p><span>{{ inv.pos }}</span> | <span>{{ site.time }}</span></small></p>
            </div>
            </label> 
        </div>
        {% endfor %}
        <!--E 简历列表 -->
        <!-- 底部按钮 -->
        <section class="mod_pos_btn bg-light">
            <div class="d-flex justify-content-between w-100">
                <div class="weui-cells_checkbox">
                    <label class="weui-cell weui-check__label" id="qSelect">
                        <div class="weui-cell__hd">
                                <input type="checkbox" class="weui-check checkAll" onclick="clickAll()">
                                <i class="weui-icon-checked"></i>
                        </div><p>全部</p>
                    </label>
                </div>
                <div class="d-flex justify-content-center p-1">
                    <button type="button" class="btn btn-secondary mr-2">查看</button>
                    <button type="button" class="btn btn-primary">删除</button>
                </div>
            </div>
        </section>
    </div>
</div>