---
layout: pages
title: 企业预约编辑
---
<div class="mineCorRes">
	<div class="mod_pos_item pr-0">
		<div class="weui-cells">
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
						<label for="name" class="weui-label">招聘日期</label>
				</div>
				<div class="weui-cell__bd">
					 <p class="text-danger">暂无现场招聘会预定</p>
				</div>
			</div>
		</div>
	</div>
	<div class="mod_pos_item pr-0">
	   <div class="weui-cells">
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
						<label for="name" class="weui-label">公司名称</label>
				</div>
				<div class="weui-cell__bd">
						<input class="weui-input text-right" type="text" value="测试" />
				</div>
			</div>
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
						<label for="name" class="weui-label">联系电话</label>
				</div>
				<div class="weui-cell__bd">
						<input class="weui-input text-right" type="text" value="测试" />
				</div>
			</div>
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
						<label for="name" class="weui-label">联系人员</label>
				</div>
				<div class="weui-cell__bd">
						<input class="weui-input text-right" type="text" value="测试" />
				</div>
			</div>
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
				  <label for="name" class="weui-label">电子邮箱</label>
				</div>
				<div class="weui-cell__bd">
				  <input class="weui-input text-right" type="text" value="测试" />
				</div>
			</div>
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
					<label for="name" class="weui-label w-100">展会类型</label>
				</div>
				<div class="weui-cell__bd">
				  <div class="weui-cells_radio d-flex justify-content-end">
					<div class="form-check mr-2">
					  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
					  <label class="form-check-label" for="exampleRadios1">标准展位</label>
					</div>
					<div class="form-check">
					   <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
					   <label class="form-check-label" for="exampleRadios2">VIP展位</label>
					</div>
				  </div>
				</div>
			</div>
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
						<label for="name" class="weui-label">预定展会</label>
				</div>
				<div class="weui-cell__bd">
						<input class="weui-input text-right" type="text" value="测试" />
				</div>
			</div>
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
						<label for="name" class="weui-label">参会人数</label>
				</div>
				<div class="weui-cell__bd">
						<input class="weui-input text-right" type="text" value="测试" />
				</div>
			</div>
			<div class="weui-cell weui-cell_select">
				<div class="weui-cell__hd">
					<label for="name" class="weui-label w-100">附加文档<br/><small class="text-danger">(只限上传doc格式文档))</small></label>
				</div>
				<div class="weui-cell__bd pl-3">
					<input type="file" class="form-control-file" id="exampleFormControlFile1">
				</div>
			</div>
	 </div>
	<div class="weui-cells__title p-0 mt-2 mb-2">招聘职位及具体要求：</div>
	<div class="weui-cells weui-cells_form">
		<div class="weui-cell pt-0">
		 <div class="weui-cell__bd workContent">
			<textarea class="weui-textarea" rows="5">测试</textarea>
			<div class="weui-textarea-counter"><span>0</span>/600</div>
		 </div>
		</div>
	</div>
	<div class="weui-cells__title p-0 mt-2 mb-2">公司简介<small>(如需打印公司简介，请填写)</small>：</div>
	<div class="weui-cells weui-cells_form">
		<div class="weui-cell pt-0">
			<div class="weui-cell__bd workContent">
				<textarea class="weui-textarea" rows="5">测试</textarea>
				<div class="weui-textarea-counter"><span>0</span>/1600</div>
			</div>
		</div>
		<div class="pr-3">
         <small class="text-danger">企业提交展位预定后系统将反馈一个预定编号，表示预定成功，请牢记编号，它可方便您查询或修改预定情况。<br/>电话格式：0752-2566666</small>
		</div>	
	</div>
	</div>
	<div class="weui-btn-area m-2">
		<a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">提交预约</a>
	</div>
</div>