---
layout: pages
title: 新增部门
---
<div class="qyPostManEdit">
	<div class="mod_pos_item pr-0">
	  <div class="weui-cells">
		<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
									<label for="name" class="weui-label">部门名称</label>
					</div>
					<div class="weui-cell__bd">
							<div class="accNumBtn text-right w-100">
										<input type="text" class="weui-input text-right" placeholder="请输入">
							</div>
					</div>
		</div>
		<div class="weui-cell weui-cell_select">
						<div class="weui-cell__hd">
										<label for="name" class="weui-label">联系人员</label>
						</div>
						<div class="weui-cell__bd">
								<div class="accNumBtn text-right w-100">
											<input type="text" class="weui-input text-right" placeholder="请输入">
								</div>
						</div>
		</div>
		<div class="weui-cell weui-cell_select">
						<div class="weui-cell__hd">
										<label for="name" class="weui-label">电子邮箱</label>
						</div>
						<div class="weui-cell__bd">
								<div class="accNumBtn text-right w-100">
											<input type="text" class="weui-input text-right" placeholder="请输入">
								</div>
						</div>
		</div>
		<div class="weui-cell weui-cell_select">
						<div class="weui-cell__hd">
										<label for="name" class="weui-label">联系电话</label>
						</div>
						<div class="weui-cell__bd">
								<div class="accNumBtn text-right w-100">
											<input type="text" class="weui-input text-right" placeholder="请输入">
								</div>
						</div>
		</div>
		<div class="weui-cell weui-cell_select">
						<div class="weui-cell__hd">
										<label for="name" class="weui-label">显示排序</label>
						</div>
						<div class="weui-cell__bd">
								<div class="accNumBtn text-right w-100">
											<input type="text" class="weui-input text-right" placeholder="输入大于0的数字,越小越靠前">
								</div>
						</div>
	    </div>
	  </div>
	</div>
	<!-- 底部按钮 -->
	<section class="mod_pos_btn">
	 <div class="mod_pos_btn_air"><a href="qyPostJob.html">确定</a></div>
	 <div class="mod_pos_btn_rea"><a href="index.html">取消</a></div>
	</section>
</div>