---
layout: default
title: 天天兼职
---
<div class="header_bg">
    <div class="foot_nav_chiose_t">选择栏目类别</div>
</div>
<div class="foot_nav_box">
    <ul class="foot_nav_box_list">
        <li>
            <a href="index.html"><span class="foot_nav_box_list_icon cor_1"><i class="nav_icon iconfont_fothome "></i></span>
                <div class="foot_nav_box_name">首页</div>
            </a>
        </li>
        <li>
            <a href="#"><span class="foot_nav_box_list_icon cor_2"><i class="nav_icon iconfont_resume "></i></span>
                <div class="foot_nav_box_name">简历</div>
            </a>
        </li>
        <li>
            <a href="#" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_3"><i class="nav_icon iconfont_job"></i></span>
                <div class="foot_nav_box_name">全职</div>
            </a>
        </li>
        <li>
            <a href="#" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_4"><i class="nav_icon iconfont_part "></i></span>
                <div class="foot_nav_box_name">兼职</div>
            </a>
        </li>
        <li>
            <a href="#" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_7"><i class="nav_icon iconfont_tiny "></i></span>
                <div class="foot_nav_box_name">普工</div>
            </a>
        </li>
        <li>
            <a href="#" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_4"><i class="nav_icon iconfont_once "></i></span>
                <div class="foot_nav_box_name">店铺</div>
            </a>
        </li>
        <li>
            <a href="#" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_5"><i class="nav_icon iconfont_map "></i></span>
                <div class="foot_nav_box_name">附近</div>
            </a>
        </li>
        <li>
            <a href="#" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_2"><i class="nav_icon iconfont_comp "></i></span>
                <div class="foot_nav_box_name">企业</div>
            </a>
        </li>
        <li>
            <a href="#" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_6"><i class="nav_icon iconfont_zph "></i></span>
                <div class="foot_nav_box_name">招聘会</div>
            </a>
        </li>
        <li>
            <a href="#" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_8"><i class="nav_icon iconfont_news "></i></span>
                <div class="foot_nav_box_name">资讯</div>
            </a>
        </li>
        <li>
            <a href="#" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_1"><i class="nav_icon iconfont_cp "></i></span>
                <div class="foot_nav_box_name">测评</div>
            </a>
        </li>
        <li>
            <a href="#" class="foot_nav_box_a"><span class="foot_nav_box_list_icon cor_1"><i class="nav_icon iconfont_zt "></i></span>
                <div class="foot_nav_box_name">专题</div>
            </a>
        </li>
    </ul>
</div>