<!-- Custom CSS -->
<link rel="stylesheet" href="../static/css/bootstrap.css">
<link rel="stylesheet" href="../static/css/main.css">
<!-- 图标 -->
<link rel="stylesheet" href="../static/css/fontawesome/css/font-awesome.min.css">
<!-- jquery-weui -->
<link rel="stylesheet" href="../static/css/weui.css">
<link rel="stylesheet" href="../static/css/jquery-weui.css">
<link rel="stylesheet" href="../static/css/swiper.min.css">
<!-- Select ticket type -->
<link rel="stylesheet" href="../static/css/gp/layui.css">
<link id="layuicss-laydate" rel="stylesheet" href="../static/css/gp/laydate.css" media="all">
<link id="layuicss-layer" rel="stylesheet" href="../static/css/gp/layer.css" media="all">
<link id="layuicss-skincodecss" rel="stylesheet" href="../static/css/gp/code.css" media="all">
{% if page.layout == "pages/ticketDetailsNew" %}
<link rel="stylesheet" href="../static/css/gp/mobiscroll.jquery.min.css">
<link rel="stylesheet" href="../static/css/gp/Android-holo.css">
<link rel="stylesheet" href="../static/css/gp/Validform.css">
{% endif %}