<script src="static/js/jquery-2.2.4.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery-weui.js"></script>
<!-- Select ticket type -->
{% if page.layout == "index" %}
   <script src="static/js/swiper.js"></script>
   {% include components/swiper/swiperjs.html %}
   {% include fastclickjs.html %}
   {% include components/dropload/droploadBtjs.html %}
{% endif %}
<!-- {% if page.layout == "ticketList" %}
<script src="static/js/political_WeCall.js"></script>
<script src="static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/political_WeCall.js"></script>
<script src="static/js/mobiscroll.jquery.min.js"></script>
<script src="static/js/Help.js"></script>
{% endif %} -->
{% if page.layout == "shoppingNew" %}
<script>
function EditCount(m, type) {
    if (type == 'delete') {
        if (confirm("确定删除该商品?")) {
            updateShopping(m, type);
        }
        else {
            return false;
        }
    }
    else {
        updateShopping(m, type);
    }
}
var state = '1';
function updateShopping(m, type) {
    var k = parseInt($('#' + m).val());
    $.get('/Wx/Ticket/EditShopping', { Code: m, type: type }, function (data) {
        var html = '';
        if (data.state == '1') {
            state = '1';
            $(data.data).each(function () {
                html += '<li>\
                <div class="fl in_fl">\
                    <img src="/Wx/Help/GetImage?ImageUrl=' + (this.Ticket == null ? "" : this.Ticket.ImageUrl) + '" alt="">\
                </div>\
                <div class="fr in_fr">\
                    <h2>'+ this.TicketShow.Ticketby.Name + '</h2>\
                    <p>价格：<span class="dol">¥'+ this.TicketShow.DiscountPrice + '</span></p>\
                    <p>使用日期：<span>'+ (new Date(this.TourDate)).Format('yyyy-MM-dd') + '</span></p>\
                    <div>\
                        <div class="piao_type">\
                            <a class="fl del" onclick="EditCount(\'' + this.Code + '\',\'delete\')">删除</a>\
                            <div class="fr Choice">\
                                <button class="' + (this.Qty > 1 ? "fl current" : "fl") + '" onclick="EditCount(\'' + this.Code + '\',\'reduce\')">-</button>\
                                <input class="fl" id="' + this.Code + '" readonly="readonly" type="text" value="' + this.Qty + '">\
                                <button class="' + (this.Qty < 50 ? "fl current" : "fl") + '" onclick="EditCount(\'' + this.Code + '\',\'add\')">+</button>\
                            </div>\
                        </div>\
                    </div>\
                </div>\
            </li>';
            })
        }
        if (data.state == '2') {
            state = '2';
            html = '<li style="border:0; background:0; text-align:center; border-bottom:1px solid #ccc; border-radius:0;">购物车没有商品</li>';
        }
        $('#ticket').html(html);
    })
}
function js() {
    if (state == '1') {
        window.location.href = 'pages/nowPlay.html';
    }
    else {
        alert("您还没有选购任何商品！");
    }
}
</script>
{% endif %}
<!-- {% if page.layout == "ticketList" %}
<script>
    $(function () {
        $('.order_all span').click(function (e) {
            $(this).addClass('current').siblings().removeClass('current');
            //$('.order_all ul li').eq($(this).index()).show().siblings().hide();
        });
    })
    var pagelistcount = 3, currentPage = 1, total = 0, state = '32', totalPage = 0;
    var code = '';
    $(function () {
        page(0);
        var type = getQueryString('type');
        code = getQueryString('codes');
        if (type == 'buy') {
            $('#message').show();
        }
    })
    function selectOrder() {
        window.location.href = '/Wx/Ticket/OrderDetails?Code=' + code;
    }

    function subc(s) {
        currentPage = 1;
        state = s;
        page(0);
    }
    function page(m) {
        $.get('/Wx/Ticket/GetBooking', { pagelistcount: pagelistcount, currentPage: currentPage, state: state }, function (data) {
            if (data.status == 'ok') {
                if (data.total == '0') {
                    $('#order').html('');
                    $('#gd').html('无订单！');
                } else {
                    if (m == 0) {
                        $('#order').html('');
                    }
                    total = parseInt(data.totalCount);
                    totalPage = parseInt(data.totalPage);
                    var html = '';
                    $(data.datas).each(function () {
                        var cz = '';
                        switch (this.State) {
                            case 30:
                                break;
                            case 31:
                                cz += '<button onclick="javascript: window.location.href = \'/Wx/Ticket/JsApiPay?OrderNo=' + this.OrderNo + '\'">立即支付</button>';
                                break;
                            case 32:
                                cz += '<a href="/Wx/Ticket/OrderDetails?Code=' + this.Code + '">查看订单</a><button onclick="javascript: window.location.href = \'/Wx/Q?code=' + this.Code + '\'">电子票</button>';
                                break;
                            case 33:
                            case 34:
                                cz += '<a href="/Wx/Ticket/OrderDetails?Code=' + this.Code + '">查看订单</a>';
                                break;
                        }
                        html += '<dl>\
                                <dt class="fl">\
                                    <div class="up">\
                                        <p class="fl">\
                                            购买时间：\
                                            <span>' + this.CreateTime + '</span>\
                                        </p> <i class="fr">' + this.StateName + '</i>\
                                    </div>\
                                    <p>订单信息：</p>'
                        var item = this.OnlineBookingItems;
                        $(item).each(function () {
                            var ks = eval(this.TourDate.replace(/\/Date\((\d+)\)\//gi, "new Date($1)")).Format('yyyy-MM-dd');
                            var js = eval(this.LoseTime.replace(/\/Date\((\d+)\)\//gi, "new Date($1)")).Format('yyyy-MM-dd');
                            var qj = '';
                            if (ks == js) {
                                qj = ks;
                            } else {
                                qj = ks + '至' + js;
                            }
                            html += '<p class="p_main">\
                                        <span>' + this.TicketName + '</span><span>' + qj + '</span> <i>x' + this.Qty + '</i>\
                                    </p>';
                        })
                        html += '<p>订单号：' + this.OrderNo + '</p>\
                                </dt>\
                                <dd class="fr down">\
                                    <div class="fl">订单总额：<span>¥' + this.Amount + '</span></div>\
                                    <div class="fr">' + cz + '</div>\
                                </dd>\
                            </dl>';
                    })
                    if (currentPage < totalPage) {
                        $('#gd').html('更多');
                    }
                    else {
                        $('#gd').html('没有更多');
                    }
                    $('#order').append(html);
                }
            } else {
                alert('订单加载失败！');
            }
        })
    }
    $('#gd').click(function () {
        if (currentPage < totalPage) {
            currentPage++;
            if (currentPage = totalPage) {
                $('#gd').html('没有更多');
            }
            page(1);
        }
    })
 </script>
{% endif %} -->