---
layout: default
title: 收藏的职位
---
<header class="search">
    <div class="search_header search_bg_Ter">
        <div class="search_header_box">
            <div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
            <div class="search_center"><a href="javascript:"> 收藏的职位 </a></div>
            <div class="search_right"></div>
        </div>
    </div>
</header>

<div class="mineFavPosition">

    <div class="weui-form-preview">
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">网页设计</label>
                <div class="weui-form-preview__value">收藏时间：<span>2018-08-22</span></div>
            </div>
            <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta text-warning">8-16K</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"">博罗县</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">学历不限</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">5年经验</li>
            </ul>
            <div class="text-left pt-1 pb-1">
                <p class="weui-media-box__desc">2018-08-24 08:24:00 刷新</p>
            </div>
        </div>
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">取消收藏</a>
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">投递简历</a>
        </div>
    </div>

    <div class="weui-form-preview">
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">网页设计</label>
                <div class="weui-form-preview__value">收藏时间：<span>2018-08-22</span></div>
            </div>
            <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta text-warning">面试</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"">博罗县</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">学历不限</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">5年经验</li>
            </ul>
            <div class="text-left pt-1 pb-1">
                <p class="weui-media-box__desc">2018-08-24 08:24:00 刷新</p>
            </div>
        </div>
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">取消收藏</a>
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">投递简历</a>
        </div>
    </div>

</div>