---
layout: pages
title: 设置
---
<div class="set">
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="passwordEdit.html">
            <div class="weui-cell__bd">
                <p>修改密码</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="about.html">
            <div class="weui-cell__bd">
                <p>关于我们</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
    <!-- 底部按钮 -->
    <div class="mod_bot_btn mt-2">
        <a href="../mine.html" class="weui-btn weui-btn_warn w-auto">退出登录</a>
    </div>
</div>
