<div id="carouse3" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
            <h4 class="mb-3 mt-3">全景图拍摄于制作</h4>
            <p class="mb-3">现如今随着旅游业的发展，许多旅游景点都拥有自己的全景图，为的是通过移动设备像合作商及游客更全面更立体更真实的还原景区的全貌。而作为一个大型旅游景区，惠州欧美城更是拥有自己的全景图拍摄装备及后期制作团队。</p>
            <img class="img-thumbnail mr-3" src="assets/img/quanjin/4.png" width="100%" alt=""/>
      </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#carouse3" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouse3" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
</div>