---
layout: default
title: 首页
---
<header class="header_h">
    <div class="header_fixed">
        <div class="header_bg bg3">
            <div class="header_p_z" style="width:60%;color: #fff; text-align:center; height: 50px;line-height: 50px;font-size: 18px;">天天兼职</div>
        </div>
    </div>
</header>
<!-- --------------------幻灯片-------------------- -->
<section>
    <div class="swiper-container" id="imgswiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#"><img src="images/1.jpg" width='100%' /></a>
            </div>
            <div class="swiper-slide">
                <a href="#"><img src="images/2.jpg" width='100%' /></a>
            </div>
            <div class="swiper-slide">
                <a href="#"><img src="images/3.jpg" width='100%' /></a>
            </div>
        </div>
        <!-- 如果需要分页器-->
        <div class="swiper-pagination"></div>
    </div>
</section>
<!-- --------------------搜索-------------------- -->
<!-- <div class="clear"></div>
        <section>
            <div class="index_search_cont">
                <form method="get" action="#">
                    <input type="hidden" name="c" value="job" />
                    <div class="index_formFiled index_formFiled_text">
                        <input type="text" value="" name="keyword" class="index_input_search" placeholder="请输入职位关键字，如：会计... ">
                        <input type="submit" value="搜职位" class="index_input_btn">
                        <i class="index_input_btn_icon iconfont_index_search"></i>
                    </div>
                </form>
            </div>
        </section> -->
<!-- --------------------导航-------------------- -->
<!-- --------------------图片导航-------------------- -->
<!-- <div class="clear"></div>
          <div class="index_nav_yd">
            <div class="index_nav_yd_left">
                <a href="#">
                    <div class="index_nav_yd_left_tit">周边工作</div>
    
                    <div class="index_nav_yd_left_icon"></div>
                    <div class="index_nav_yd_left_job">好工作其实就在你身边</div>
                </a>
            </div>
            <div class="index_nav_yd_right">
                <div class="index_nav_yd_right_t">
                    <a href="#">
                        <div class="index_nav_yd_right_bname">普工专区</div>
                        <div class="index_nav_yd_right_t_p">普工.技工.一线员工</div>
                        <i class="index_nav_yd_right_icon"></i>
                    </a>
                </div>
                <div class="index_nav_yd_right_b">
                    <a href="#">
                        <div class="index_nav_yd_right_bname">店铺招聘</div>
                        <div class="index_nav_yd_right_bp">钱多事少，火速入职</div>
                        <i class="index_nav_yd_right_bicon"></i>
                    </a>
                </div>
            </div>
        </div> -->
<div class="clear"></div>
<!-- --------------------公告-------------------- -->
<!-- <section>
            <div class="yun_wap_notice sxl"><span class="yun_wap_notice_tit"><i class="yun_wap_notice_tit_s"></i></span>
                <ul class="yun_wap_notice_list sxlist" style="padding-left: 70px; height: 30px;overflow: hidden;">
                    <li style="width: 100%;height: 30px;line-height: 30px;">
                        <a href="#">关于网站使用快捷登录问题</a>
                    </li>
                    <li style="width: 100%;height: 30px;line-height: 30px;">
                        <a href="#">关于网站支付方式维护升级（已完</a>
                    </li>
                    <li style="width: 100%;height: 30px;line-height: 30px;">
                        <a href="#">关于网站服务器更换升级公告(已</a>
                    </li>
                </ul>
            </div>
        </section> -->
<!-- --------------------登录注册-------------------- -->
<section>
    <div class="index_warp_content mt10">
        <div class="index_login">
            <div class="index_login_p">您尚未登录，马上登录轻松管理信息</div>
            <div class="index_logoin_sub">
                <a href="c_login.html" class="index_logoin_bth">登录</a>
                <a href="select_login.html" class="index_logoin_bth index_reg_bth">注册</a>
            </div>
        </div>
    </div>
</section>
<!-- --------------------广告-------------------- -->
<!-- --------------------赏金职位-------------------- -->
<!-- --------------------热门职位-------------------- -->
<!-- <div class="clear"></div>
        <section>
            <div class="wap_tit">
                <div class="bg3">
                    <div class="wap_tit4"><span class="wap_tit4_bg"><i class="wap_tit4_icon_hot"></i>
                            <font color="#d81e06">热门职位</font>
                        </span>
                        <a href="#" class="wap_titmore">更多>></a>
                    </div>
                </div>
            </div>
            <div class="index_wap_hotjob ">
                <div class="clear"></div>
                <ul class="index_hotlist">
                    <li>
                        <a href="#"><span>
                                <font color="#">兼职</font>
                            </span></a>
                    </li>
                    <li>
                        <a href="#"><span>
                                <font color="#">设计</font>
                            </span></a>
                    </li>
                    <li>
                        <a href="#"><span>
                                <font color="#">文员</font>
                            </span></a>
                    </li>
                    <li>
                        <a href="#"><span>
                                <font color="#000000">教育</font>
                            </span></a>
                    </li>
                    <li>
                        <a href="#"><span>
                                <font color="#">销售</font>
                            </span></a>
                    </li>
                    <li>
                        <a href="#"><span>
                                <font color="#">老师</font>
                            </span></a>
                    </li>
                    <li>
                        <a href="#"><span>
                                <font color="#">专员</font>
                            </span></a>
                    </li>
                    <li>
                        <a href="#"><span>
                                <font color="#">助理</font>
                            </span></a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </section> -->
<!-- --------------------最新职位-------------------- -->
<section>
    <div class="wap_tit">
        <div class="bg3">
            <div class="wap_tit4"><span class="wap_tit4_bg"><i class="wap_tit4_icon_zw"></i>
                    <font color="#2383f0">最新职位</font>
                </span>
                <a href="position.html" class="wap_titmore">更多>></a>
            </div>
        </div>
    </div>
    <div class="index_warp_jobcontent">
        <div class="newjob_list">
            <a href="c_job_view.html">
                <h3>包吃住普工 </h3>
                <div class="newjob_list_com">
                    <span class="newjob_list_com_p">
                        广东-惠州<i class="newjob_list_com_line">|</i>深圳张玉堂
                    </span>
                </div>
                <div class="newjob_list_com_xz">4000-6000元</div>
                <div class="index_wap_joblist_comcity">
                    <span class="index_wap_joblist_fl">法定节假日</span>
                    <span class="index_wap_joblist_fl">休假制度</span>
                    <span class="index_wap_joblist_fl">奖励计划</span>
                    <span class="index_wap_joblist_fl">综合补贴</span>
                    <span class="index_wap_joblist_fl">包吃住</span>
                </div>
                <div class="newjob_list_com_time">16:25</div>
            </a>
        </div>

        <div class="newjob_list">
            <a href="c_job_view.html">
                <h3>市场营销 </h3>

                <div class="newjob_list_com">

                    <span class="newjob_list_com_p">
                        广东-惠州<i class="newjob_list_com_line">|</i>职日猫
                    </span>

                    <i class="job_qy_rz_icon"></i>

                </div>
                <div class="newjob_list_com_xz">面议元</div>

                <div class="newjob_list_com_time">
                    14:35
                </div>
            </a>
        </div>

        <div class="newjob_list">
            <a href="c_job_view.html">
                <h3>校缘班服服饰诚招校内学生 </h3>

                <div class="newjob_list_com">

                    <span class="newjob_list_com_p">
                        广东-惠州<i class="newjob_list_com_line">|</i>深圳市校缘服饰有限公司
                    </span>

                </div>
                <div class="newjob_list_com_xz">面议元</div>

                <div class="newjob_list_com_time">
                    10:25
                </div>
            </a>
        </div>

        <div class="newjob_list">
            <a href="c_job_view.html">
                <h3>市场营销实习生 </h3>

                <div class="newjob_list_com">

                    <span class="newjob_list_com_p">
                        广东-惠州<i class="newjob_list_com_line">|</i>


                        缔薇尚品

                    </span>

                    <i class="job_qy_rz_icon"></i>

                </div>
                <div class="newjob_list_com_xz">3000-6000元</div>
                <div class="index_wap_joblist_comcity">
                    <span class="index_wap_joblist_fl">包住</span>
                    <span class="index_wap_joblist_fl">带薪年假</span>
                    <span class="index_wap_joblist_fl">法定节假日</span>
                    <span class="index_wap_joblist_fl">奖励计划</span>
                    <span class="index_wap_joblist_fl">五险一金</span>
                    <span class="index_wap_joblist_fl">销售奖金</span>
                </div>

                <div class="newjob_list_com_time">
                    10:23
                </div>
            </a>
        </div>

        <div class="newjob_list">
            <a href="c_job_view.html">
                <h3>会计助理 </h3>

                <div class="newjob_list_com">

                    <span class="newjob_list_com_p">
                        广东-广州<i class="newjob_list_com_line">|</i>


                        金账本

                    </span>

                </div>
                <div class="newjob_list_com_xz">2000以上元</div>

                <div class="newjob_list_com_time">
                    10:22
                </div>
            </a>
        </div>

    </div>
</section>
<!-- --------------------名企展示-------------------- -->
<section>
    <div class="wap_tit">
        <div class="bg3">
            <div class="wap_tit4"><span class="wap_tit4_bg">
                    <i class="wap_tit4_icon_mq"></i>
                    <font color="#ff9c00">名企招聘</font>
                </span>
                <a href="position.html" class="wap_titmore">更多>></a>
            </div>
        </div>
    </div>
    <div class="index_warp_jobcontent">
        <div class="indexcom_list_box">
            <a href="c_company_show.html" class="">
                <div class="indexcom_list_t_box">
                    <div class="indexcom_list_logo_box"><img src="images/14906489056.PNG" width="45" height="45"></div>
                    <div class="indexcom_list_box_c">
                        <h3>惠州新爱婴早教下埔中心 </h3>
                    </div>
                    <div class="indexcom_list_box_js">
                        <span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_hy"></i>教育/培训</span>
                        <span class="indexcom_list_box_js_s"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_map"></i>广东-惠州</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="indexcom_list_box">
            <a href="c_company_show.html" class="">
                <div class="indexcom_list_t_box">
                    <div class="indexcom_list_logo_box"><img src="images/14906489056.PNG" width="45" height="45"></div>
                    <div class="indexcom_list_box_c">
                        <h3>惠州市星悦力文化传播有限公司 </h3>
                    </div>
                    <div class="indexcom_list_box_js">
                        <span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_hy"></i>广告/会展/公关</span>
                        <span class="indexcom_list_box_js_s"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_map"></i>广东-惠州</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="indexcom_list_box">
            <a href="c_company_show.html" class="">
                <div class="indexcom_list_t_box">
                    <div class="indexcom_list_logo_box"><img src="images/14906489056.PNG" width="45" height="45"></div>
                    <div class="indexcom_list_box_c">
                        <h3>惠州新爱婴早教演达中心 </h3>
                    </div>
                    <div class="indexcom_list_box_js">
                        <span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_hy"></i>教育/培训</span>
                        <span class="indexcom_list_box_js_s"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_map"></i>广东-惠州</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="indexcom_list_box">
            <a href="c_company_show.html" class="">
                <div class="indexcom_list_t_box">
                    <div class="indexcom_list_logo_box"><img src="images/14906489056.PNG" width="45" height="45"></div>
                    <div class="indexcom_list_box_c">
                        <h3>中信惠州物业 </h3>
                    </div>
                    <div class="indexcom_list_box_js">
                        <span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_hy"></i>物业管理/商业中心</span>
                        <span class="indexcom_list_box_js_s"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_map"></i>广东-惠州</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="indexcom_list_box">
            <a href="c_company_show.html" class="">
                <div class="indexcom_list_t_box">
                    <div class="indexcom_list_logo_box"><img src="images/14906489056.PNG" width="45" height="45"></div>
                    <div class="indexcom_list_box_c">
                        <h3>惠州市遨游文化传播有限公司 </h3>
                    </div>
                    <div class="indexcom_list_box_js">
                        <span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_hy"></i>旅游/度假</span>
                        <span class="indexcom_list_box_js_s"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_map"></i>广东-惠州</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- --------------------推荐职位-------------------- -->
<section>
    <div class="wap_tit">
        <div class="bg3">
            <div class="wap_tit4"><span class="wap_tit4_bg"><i class="wap_tit4_icon_tj"></i>
                    <font color="#42a30d">推荐职位</font>
                </span>
                <a href="position.html" class="wap_titmore">更多>></a>
            </div>
        </div>
    </div>
    <div class="index_warp_jobcontent">

        <div class="index_wap_joblist">
            <a href="#">
                <h3>
                    市场营销
                    <i class="urgent">急招</i> </h3>

                <div class="index_wap_joblist_comname">
                    <span class="index_wap_joblist_comname_p">
                        广东惠州

                        职日猫

                    </span>
                    <i class="job_qy_rz_icon"></i>

                </div>

                <div class="index_wap_joblist_xz">￥面议</div>

                <div class="index_wap_joblist_time">
                    14:35</div>

            </a>
        </div>

        <div class="index_wap_joblist">
            <a href="#">
                <h3>
                    前台文员
                </h3>

                <div class="index_wap_joblist_comname">
                    <span class="index_wap_joblist_comname_p">
                        广东惠州

                        惠州岈慕科技有限公司

                    </span>

                </div>

                <div class="index_wap_joblist_comcity">
                    <span class="index_wap_joblist_fl">法定节假日</span>
                    <span class="index_wap_joblist_fl">奖励计划</span>
                    <span class="index_wap_joblist_fl">年终奖金</span>
                    <span class="index_wap_joblist_fl">销售奖金</span>
                </div>
                <div class="index_wap_joblist_xz">￥2800-3500</div>

                <div class="index_wap_joblist_time">
                    09:50</div>

            </a>
        </div>

        <div class="index_wap_joblist">
            <a href="#">
                <h3>
                    行政办公室文员
                </h3>

                <div class="index_wap_joblist_comname">
                    <span class="index_wap_joblist_comname_p">
                        广东惠州

                        华业

                    </span>

                </div>

                <div class="index_wap_joblist_comcity">
                    <span class="index_wap_joblist_fl">年终奖金</span>
                    <span class="index_wap_joblist_fl">综合补贴</span>
                    <span class="index_wap_joblist_fl">包吃住</span>
                    <span class="index_wap_joblist_fl">五险一金</span>
                </div>
                <div class="index_wap_joblist_xz">￥5000-6000</div>

                <div class="index_wap_joblist_time">
                    昨天</div>

            </a>
        </div>

        <div class="index_wap_joblist">
            <a href="#">
                <h3>
                    设计师
                </h3>

                <div class="index_wap_joblist_comname">
                    <span class="index_wap_joblist_comname_p">
                        广东惠州

                        惠州市星悦力文化传播有限公司

                    </span>
                    <i class="job_qy_rz_icon"></i>

                </div>

                <div class="index_wap_joblist_xz">￥3500-5000</div>

                <div class="index_wap_joblist_time">
                    一周内</div>

            </a>
        </div>

    </div>

</section>
<!-- --------------------紧急职位-------------------- -->
<!-- -------------------最新简历-------------------- -->
<section>
    <div class="wap_tit">
        <div class="bg3">
            <div class="wap_tit4"><span class="wap_tit4_bg"><i class="wap_tit4_icon_user"></i>
                    <font color="#0090ff">最新简历</font>
                </span>
                <a href="c_resume.html" class="wap_titmore">更多>></a>
            </div>
        </div>
    </div>
    <div class="index_warp_jobcontent">
        <div class="indexcom_list_box">
            <a href="c_resume_show.html" class="">
                <div class="indexcom_list_t_box">

                    <div class="indexcom_list_box_c">
                        <h3>刘女士</h3>
                    </div>
                    <div class="indexcom_list_box_js">
                        <span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy" style="margin-left:1px;padding-left:10px;">经验：1年以上</span>
                        <span class="indexcom_list_box_js_s" style="margin-left:1px;"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_map"></i>惠城区</span>
                        <span class="indexcom_list_box_js_s" style="margin-left:1px;padding-left:10px;">学历： 大专</span>
                    </div>
                    <div class="indexcom_list_box_js" style="padding: 1px 0px 11px 0;">
                        <em><span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy" style="margin-left:1px;padding-left:10px;display: inline-block;color: #666;">意向职位：</span>
                            <span style="font-weight: bold;color: #C30;">客服/售前/售后技术支持</span></em>

                    </div>

                </div>
            </a>
        </div>

        <div class="indexcom_list_box">
            <a href="c_resume_show.html" class="">
                <div class="indexcom_list_t_box">

                    <div class="indexcom_list_box_c">
                        <h3>方先生</h3>
                    </div>
                    <div class="indexcom_list_box_js">
                        <span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy" style="margin-left:1px;padding-left:10px;">经验：1年以上</span>
                        <span class="indexcom_list_box_js_s" style="margin-left:1px;"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_map"></i>惠城区</span>
                        <span class="indexcom_list_box_js_s" style="margin-left:1px;padding-left:10px;">学历： 大专</span>
                    </div>
                    <div class="indexcom_list_box_js" style="padding: 1px 0px 11px 0;">
                        <em><span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy" style="margin-left:1px;padding-left:10px;display: inline-block;color: #666;">意向职位：</span>
                            <span style="font-weight: bold;color: #C30;">互联网产品/运营管理</span></em>

                    </div>

                </div>
            </a>
        </div>

        <div class="indexcom_list_box">
            <a href="c_resume_show.html" class="">
                <div class="indexcom_list_t_box">
                    <div class="indexcom_list_box_c">
                        <h3>吕女士</h3>
                    </div>
                    <div class="indexcom_list_box_js">
                        <span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy" style="margin-left:1px;padding-left:10px;">经验：1年以上</span>
                        <span class="indexcom_list_box_js_s" style="margin-left:1px;"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_map"></i>惠城区</span>
                        <span class="indexcom_list_box_js_s" style="margin-left:1px;padding-left:10px;">学历： 本科</span>
                    </div>
                    <div class="indexcom_list_box_js" style="padding: 1px 0px 11px 0;">
                        <em><span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy" style="margin-left:1px;padding-left:10px;display: inline-block;color: #666;">意向职位：</span>
                            <span style="font-weight: bold;color: #C30;">市场专员/助理</span></em>

                    </div>
                </div>
            </a>
        </div>

        <div class="indexcom_list_box">
            <a href="c_resume_show.html" class="">
                <div class="indexcom_list_t_box">

                    <div class="indexcom_list_box_c">
                        <h3>李女士</h3>
                    </div>
                    <div class="indexcom_list_box_js">
                        <span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy" style="margin-left:1px;padding-left:10px;">经验：无经验</span>
                        <span class="indexcom_list_box_js_s" style="margin-left:1px;"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_map"></i>惠城区</span>
                        <span class="indexcom_list_box_js_s" style="margin-left:1px;padding-left:10px;">学历： 中专</span>
                    </div>
                    <div class="indexcom_list_box_js" style="padding: 1px 0px 11px 0;">
                        <em><span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy" style="margin-left:1px;padding-left:10px;display: inline-block;color: #666;">意向职位：</span>
                            <span style="font-weight: bold;color: #C30;">兼职</span></em>

                    </div>

                </div>
            </a>
        </div>

        <div class="indexcom_list_box">
            <a href="c_resume_show.html" class="">
                <div class="indexcom_list_t_box">

                    <div class="indexcom_list_box_c">
                        <h3>李先生</h3>
                    </div>
                    <div class="indexcom_list_box_js">
                        <span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy" style="margin-left:1px;padding-left:10px;">经验：无经验</span>
                        <span class="indexcom_list_box_js_s" style="margin-left:1px;"><i class="indexcom_list_box_js_icon indexcom_list_box_js_icon_map"></i>惠城区</span>
                        <span class="indexcom_list_box_js_s" style="margin-left:1px;padding-left:10px;">学历： 本科</span>
                    </div>
                    <div class="indexcom_list_box_js" style="padding: 1px 0px 11px 0;">
                        <em><span class="indexcom_list_box_js_s indexcom_list_box_js_s_hy" style="margin-left:1px;padding-left:10px;display: inline-block;color: #666;">意向职位：</span>
                            <span style="font-weight: bold;color: #C30;">其他,兼职/临时</span></em>

                    </div>

                </div>
            </a>
        </div>

    </div>

</section>
<!-- -------------------职场资讯-------------------- -->
<!-- -------------------图片列表-------------------- -->
<div class="wap_tit">
    <div class="bg3">
        <div class="wap_tit4"><span class="wap_tit4_bg"><i class="wap_tit4_icon_news"></i>
                <font color="#d5870d">职场资讯</font>
            </span>
            <a href="position.html" class="wap_titmore">更多>></a>
        </div>
    </div>
</div>
<!-- ------------------------------------最新---------------------------->
<div class="news_in_list_box">
    <a href="c_article_show.html">
        <div class="news_in_list_box_left">
            <h2>阅读人体语言的19个技巧</h2>
            <div class="news_in_list_w65">
                <div class="news_in_list_p"> 阅读人体语言的19个技巧</div>
                <div class="news_in_list_date">
                    <span class="news_in_eye_n"><i class="news_in_eye"></i>2</span>
                    <span class="news_in_eye_n"><i class="news_in_date"></i>2018-08-27</span></div>
            </div>
            <div class="news_in_cont_img"><img src="images/make_S_15511909973.jpg" width="120" height="80"></div>
        </div>
    </a>
</div>
<div class="news_in_list_box">
    <a href="c_article_show.html">
        <div class="news_in_list_box_left">
            <h2>在大学期间做这4件事情，为启动自</h2>
            <div class="news_in_list_w65">
                <div class="news_in_list_p"> 在大学期间做这4件事情，为启动自己梦想职业生涯做</div>
                <div class="news_in_list_date">
                    <span class="news_in_eye_n"><i class="news_in_eye"></i>1</span>
                    <span class="news_in_eye_n"><i class="news_in_date"></i>2018-08-25</span></div>
            </div>
            <div class="news_in_cont_img"><img src="images/make_S_15498906658.jpg" width="120" height="80"></div>
        </div>
    </a>
</div>
<div class="news_in_list_box">
    <a href="c_article_show.html">
        <div class="news_in_list_box_left">
            <h2>如果你面试后并意识到你面试时的失</h2>
            <div class="news_in_list_w65">
                <div class="news_in_list_p"> </div>
                <div class="news_in_list_date">
                    <span class="news_in_eye_n"><i class="news_in_eye"></i>11</span>
                    <span class="news_in_eye_n"><i class="news_in_date"></i>2018-08-22</span></div>
            </div>
            <div class="news_in_cont_img"><img src="images/make_S_15481429377.jpg" width="120" height="80"></div>
        </div>
    </a>
</div>
<div class="news_in_list_box">
    <a href="c_article_show.html">
        <div class="news_in_list_box_left">
            <h2>7个建议，让有经验的人在任何年龄</h2>
            <div class="news_in_list_w65">
                <div class="news_in_list_p"> 7个建议，让有经验的人在任何年龄都能改变职业生涯</div>
                <div class="news_in_list_date">
                    <span class="news_in_eye_n"><i class="news_in_eye"></i>6</span>
                    <span class="news_in_eye_n"><i class="news_in_date"></i>2018-08-20</span></div>
            </div>
            <div class="news_in_cont_img"><img src="images/make_S_15498638229.jpg" width="120" height="80"></div>
        </div>
    </a>
</div>
<div class="news_in_list_box">
    <a href="c_article_show.html">
        <div class="news_in_list_box_left">
            <h2>亚马逊的招聘人员表示，求职者在简</h2>
            <div class="news_in_list_w65">
                <div class="news_in_list_p"> 亚马逊的招聘人员表示，人们在简历中犯下的最大错误</div>
                <div class="news_in_list_date">
                    <span class="news_in_eye_n"><i class="news_in_eye"></i>7</span>
                    <span class="news_in_eye_n"><i class="news_in_date"></i>2018-08-16</span></div>
            </div>
            <div class="news_in_cont_img"><img src="images/make_S_15494086002.jpg" width="120" height="80"></div>
        </div>
    </a>
</div>
</div>
<!-- --------------------招聘会-------------------- -->
<!-- --------------------职位类别------------------- -->
<!-- <section>
            <div class="wap_tit">
                <div class="bg3">
                    <div class="wap_tit4"><span class="wap_tit4_bg"><i class="wap_tit4_icon_lb"></i>
                            <font color="#0180CC">职位类别</font>
                        </span></div>
                </div>
            </div>
    
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">IT/互联网/通信</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">电信/通信技术开发及应用</span></a>
                    <a href="#"> <span class="wap_category_a">硬件开发</span></a>
                    <a href="#"> <span class="wap_category_a">互联网产品/运营管理</span></a>
                    <a href="#"> <span class="wap_category_a">IT质量管理/测试/配置管理</span></a>
                    <a href="#"> <span class="wap_category_a">IT运维/技术支持</span></a>
                    <a href="#"> <span class="wap_category_a">IT管理/项目协调</span></a>
                    <a href="#"> <span class="wap_category_a">软件/互联网开发/系统集成</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">销售/客服/市场</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">客服/售前/售后技术支持</span></a>
                    <a href="#"> <span class="wap_category_a">市场</span></a>
                    <a href="#"> <span class="wap_category_a">公关/媒介</span></a>
                    <a href="#"> <span class="wap_category_a">广告/会展</span></a>
                    <a href="#"> <span class="wap_category_a">销售行政/商务</span></a>
                    <a href="#"> <span class="wap_category_a">销售业务</span></a>
                    <a href="#"> <span class="wap_category_a">销售管理</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">生产/制造/生物/制药/医疗器械</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">服装/纺织/皮革设计/生产</span></a>
                    <a href="#"> <span class="wap_category_a">设备/机械设计/制造/维修</span></a>
                    <a href="#"> <span class="wap_category_a">技工/操作工</span></a>
                    <a href="#"> <span class="wap_category_a">生物/制药/医疗器械</span></a>
                    <a href="#"> <span class="wap_category_a">汽车制造与销售服务</span></a>
                    <a href="#"> <span class="wap_category_a">电子/电器/半导体/仪器仪表</span></a>
                    <a href="#"> <span class="wap_category_a">化学化工</span></a>
                    <a href="#"> <span class="wap_category_a">生产管理/营运</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">服务业</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">百货/连锁/零售</span></a>
                    <a href="#"> <span class="wap_category_a">医院/医疗/护理</span></a>
                    <a href="#"> <span class="wap_category_a">保安/家政/其他服务</span></a>
                    <a href="#"> <span class="wap_category_a">美发/美容/健身/体育</span></a>
                    <a href="#"> <span class="wap_category_a">酒店/旅游/出入境服务</span></a>
                    <a href="#"> <span class="wap_category_a">餐饮/娱乐/烹饪/料理/食品研发</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">能源/环保/科研/农业</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">电气/能源/动力/矿产/地质</span></a>
                    <a href="#"> <span class="wap_category_a">农/林/牧/渔 </span></a>
                    <a href="#"> <span class="wap_category_a">环境科学/环保</span></a>
                    <a href="#"> <span class="wap_category_a">公务员/事业单位/科研机构</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">贸易/交通/采购/物流</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">贸易/采购</span></a>
                    <a href="#"> <span class="wap_category_a">物流/仓储 </span></a>
                    <a href="#"> <span class="wap_category_a">交通运输服务</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">项目/质量/高级管理</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">高级管理</span></a>
                    <a href="#"> <span class="wap_category_a">项目管理/项目协调</span></a>
                    <a href="#"> <span class="wap_category_a">质量管理/安全防护</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">设计/传媒/印刷/艺术</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">艺术/设计</span></a>
                    <a href="#"> <span class="wap_category_a">写作/出版/印刷</span></a>
                    <a href="#"> <span class="wap_category_a">影视/媒体</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">建筑/房地产/物业管理</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">建筑装潢/市政建设</span></a>
                    <a href="#"> <span class="wap_category_a">房地产</span></a>
                    <a href="#"> <span class="wap_category_a">物业管理 </span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">财务/人力资源/行政</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">行政/后勤/文秘</span></a>
                    <a href="#"> <span class="wap_category_a">财务/审计/税务</span></a>
                    <a href="#"> <span class="wap_category_a">人力资源</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">金融/银行/保险</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">证券/期货/投资管理</span></a>
                    <a href="#"> <span class="wap_category_a">银行</span></a>
                    <a href="#"> <span class="wap_category_a">保险 </span></a>
                    <a href="#"> <span class="wap_category_a">信托/担保/拍卖/典当</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">咨询/法律/教育/翻译</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">咨询/顾问/调研/数据分析</span></a>
                    <a href="#"> <span class="wap_category_a">律师/法务/合规</span></a>
                    <a href="#"> <span class="wap_category_a">教育/培训</span></a>
                    <a href="#"> <span class="wap_category_a">翻译</span></a>
                </div>
            </div>
            <div class="wap_category_list">
                <a href="#">
                    <div class="wap_category_name">兼职/实习/社工/其他</div>
                </a>
                <div class="wap_category_p">
                    <a href="#"> <span class="wap_category_a">其他</span></a>
                    <a href="#"> <span class="wap_category_a">兼职/临时</span></a>
                    <a href="#"> <span class="wap_category_a">储备干部/培训生/实习生</span></a>
                    <a href="#"> <span class="wap_category_a">志愿者/社会工作者</span></a>
                </div>
            </div>
    
        </section> -->

<script type="text/javascript">
    $(function () {
        var myimgswiper = new Swiper('#imgswiper', {
            direction: 'horizontal',
            autoplay: true,
            loop: true,
            pagination: {
                el:'.swiper-pagination',
                dynamicBullets: true,
            }
        });
        var mySwiper = new Swiper('#navswiper', {
            direction: 'horizontal',
            pagination: {
                el: '.swiper-pagination',
            }
        });
    });
</script>