<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>蚂蚁帮工</title>
    <meta http-equiv="keywords" content="招聘">
    <meta http-equiv="description" content="招聘">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no,email=no">
    {% include qy-head.html %}
    {% include qy-script.html %}
</head>
<body class="mui-ios mui-ios-11 mui-ios-11-0" spellcheck="false">
    {{ content }}
    {% include common/qy-menu.html %}
</body>
</html>