---
layout: default
title: 我的简历
---
<!-- Content area -->
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn " href="javascript:history.back();"><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">我的简历</div>
                    <span class="yun_usermember_resume_setjl"><a id="moreset" class="yun_usermember_resume_setjl_a">简历设置</a></span>
                </div>
            </div>
        </div>
    </header>
    <link rel="stylesheet" href="css/mui.picker.css" type="text/css">
    <link rel="stylesheet" href="css/mui.poppicker.css" type="text/css">
    <style>.layermbox {z-index: 10000000000}</style>
    <!--有简历的情况-->
    <div class="yun_usermember_have">
        <div class="yun_usermember_financebg"></div>
        <div class="yun_usermember_resume">
            <div class="yun_usermember_resume_b">
                <div class="yun_usermember_resume_b_c">
                    <div class="yun_usermember_resumet">
                        <div class="yun_usermember_resumename">前端开发
                            <input type="hidden" value="1">
                            <input type="hidden" value="2">
                            <input type="hidden" value="3">
                            <span id="resumeUserPicker" class="yun_usermember_resumeqh" data-resume="1078">切换简历</span>
                            <span class="yun_usermember_resume_mr">默认</span> </div>
                        <div class="yun_usermember_resumeintegrity">
                            <span class="yun_usermember_resumeintegrity_name">完整度</span> 65%
                            <span class="rsm_schedule_b"> <i style="width:65%"></i></span>
                        </div>
                        <div class="yun_usermember_resume_zx">
                            状态：已审核<span class="yun_usermember_resume_zx_n">2018-11-19 更新</span><span class="yun_usermember_resume_zx_n">被浏览：0</span>
                        </div>
                    </div>
                    <div class="yun_usermember_resumeoperation">
                        <ul>
                            <li>
                                <a href="m_topResume.html" class="yun_usermember_resumeoperation_dz">置顶 </a>
                            </li>
                            <li>
                                <a id="refresh" data-id="1078" class="yun_usermember_resumeoperation_sx">刷新 </a>
                            </li>
                            <li>
                                <a class="yun_usermember_resumeoperation_mr">默认</a>
                            </li>
                            <li>
                                <a href="c_resume_show.html" class="yun_usermember_resumeoperation_yl">预览</a>
                            </li>
                        </ul>
                    </div>
                    <div class="yun_usermember_resumeset">
                        <div class="yun_usermember_resumeset_box mui-content">
                            <div class="mui-switch mui-switch-mini">
                                <div class="mui-switch-handle"></div>
                            </div>
                            <span class="yun_usermember_resumeset_box_s"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="yun_usermember_resumebox">
            <li>
                <a href="m_info.html">
                    <div class="yun_usermember_resumetit"><i class="yun_usermember_resumetit_icon"></i>基本信息 <i class="list_box_b">+20%</i><span
                            class="yun_usermember_resume_zt">修改</span></div>
                    <div class="yun_usermember_resumeinfo">
                        <div class="yun_usermember_resumeinfo_photo"><img src="images/14947989259.PNG" border="0" onerror="showImgDelay(this,&#39;images/14947989259.PNG&#39;,2);"></div>
                        <div class="yun_usermember_resumeinfo_pt"><span class="yun_usermember_resumeinfo_name">liang</span>（男<span class="yun_usermember_resumeline">|</span>30岁）</div>
                        <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">工作经验：</span>10年以上</div>
                        <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">最高学历：</span>本科</div>
                        <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">现居住地：</span>惠州</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="c_addexpect.html">
                    <div class="yun_usermember_resumetit"><i class="yun_usermember_resumetit_icon yun_usermember_resumetit_icon_yx"></i>意向职位
                        <i class="list_box_b">+35%</i> <span class="yun_usermember_resume_zt"> 修改 </span>
                    </div>
                    <div class="yun_usermember_resume_yx">
                        <div class="yun_usermember_resume_yx">
                            <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">期望岗位：</span>前端开发</div>
                            <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">工作地点：</span>惠城区</div>
                            <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">从事行业：</span>互联网/电子商务</div>
                            <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">期望薪资：</span>10000-20000元/月</div>
                            <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">到岗时间：</span>不确定</div>
                            <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">工作性质：</span>全职</div>
                            <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">求职状态：</span>在职，考虑更好职位</div>
                            <div class="yun_usermember_resumeinfo_p"><span class="yun_usermember_resumeinfo_p_n">工作职能：</span>公关总监公关经理/主管 汽车电子工程师 汽车电工</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="c_workexp.html">
                    <div class="yun_usermember_resumetit"><i class="yun_usermember_resumetit_icon yun_usermember_resumetit_icon_gz"></i>工作经历 +10% <span class="yun_usermember_resume_zt">未填写 </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="c_edu.html">
                    <div class="yun_usermember_resumetit">
                        <i class="yun_usermember_resumetit_icon yun_usermember_resumetit_icon_jy"></i>教育经历 
                        <i class="list_box_b">+10%</i> <span class="yun_usermember_resume_zt">修改</span></div>
                    <div class="yun_usermember_resumelist">
                        <div class="">2018.11-2018.11</div>
                        <div class="yun_usermember_resumejobname">汕头</div>
                        <div class="yun_usermember_resumecomname">本科学历</div>
                        <div class="">多打点</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="c_project.html">
                    <div class="yun_usermember_resumetit">
                        <i class="yun_usermember_resumetit_icon yun_usermember_resumetit_icon_xm"></i>项目经历 +8%<span class="yun_usermember_resume_zt">未填写</span></div>
                </a>
            </li>
            <li>
                <a href="c_training.html">
                    <div class="yun_usermember_resumetit"><i class="yun_usermember_resumetit_icon yun_usermember_resumetit_icon_px"></i>培训经历 +7%<span class="yun_usermember_resume_zt">未填写</span></div>
                </a>
            </li>
            <li>
                <a href="c_skill.html">
                    <div class="yun_usermember_resumetit"><i class="yun_usermember_resumetit_icon yun_usermember_resumetit_icon_jn"></i>职业技能 +10% <span class="yun_usermember_resume_zt"> 未填写 </span></div>
                </a>
            </li>
            <li>
                <a href="c_message.html">
                    <div class="yun_usermember_resumetit"><i class="yun_usermember_resumetit_icon yun_usermember_resumetit_icon_qt"></i>其他信息<span class="yun_usermember_resume_zt">未填写 </span></div>
                </a>
            </li>
            <li>
                <a href="c_desc.html">
                    <div class="yun_usermember_resumetit">
                        <i class="yun_usermember_resumetit_icon yun_usermember_resumetit_icon_pj"></i>自我评价<span class="yun_usermember_resume_zt">未填写</span>
                    </div>
                    <div class="yun_resume_pj_box">
                        <div class="yun_resume_pj_box_nr"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="c_WorksCase.html">
                    <div class="yun_usermember_resumetit"><i class="yun_usermember_resumetit_icon yun_usermember_resumetit_icon_al"></i>作品案例</div>
                    <div class="yun_usermember_resumelist"><div class="">PS：上传作品更受企业青睐，可提升5倍面试邀约率！上传作品案例</div></div>
                </a>
            </li>
        </ul>
        <div class="yun_usermember_cj_new">
            <a href="m_addresume.html" class="yun_usermember_cj_new_bth">创建新简历</a>
        </div>
    </div>
    <!--有简历的情况 end-->
    <!--无简历的情况 end-->
    <!--更多设置弹出层-->
    <div id="bg" style="display:none; z-index:100000000000"></div>
    <div id="bgset" class="yun_resume_setup" style="display:none">
        <div class="yun_resume_setup_box">
            <div class="yun_resume_setup_tit">委托简历</div>设置委托投递后，求职顾问将根据你简历的求职意向为您筛选投递适合的职位！<font color="#f00">未申请</font>
            <a href="c_getserver.html" class="yun_resume_setup_bth">委托</a>
        </div>
        <div class="yun_resume_setup_box">
            <div class="yun_resume_setup_tit">自动匹配职位</div>系统根据意向职位配适合的工作岗位！
            <a href="c_likejob.html" class="yun_resume_setup_bth">匹配</a>
        </div>
        <a href="m_addresume.html" class="yun_resume_setup_cj">创建新简历</a>
        <a href="javascript:void(0)" onclick="layer_del(&#39;确定要删除？&#39;,&#39;resume.html&#39;)">
            <div class="yun_resume_setup_sc">删除简历</div>
        </a>
    </div>
    <!--委托简历弹出层-->
    <div id="entr_resume" style="display:none; width: 300px;">
        <div style="height: 100px; width: 300px;" class="job_box_div">
            <div class="job_box_title">
                <div class="resume_ask_qr"><span class="resume_ask" style="margin-left:10px;"></span><em>委托简历将扣除您5元</em></div>
            </div>
            <div class="job_box_inp">
                <span class="job_box_botton" style="width:71px; margin-top:0px;">
                    <a class="job_box_yes job_box_botton2" href="javascript:void(0);" style="margin-top:0px;">确定</a>
                </span>
            </div>
        </div>
    </div>
    <script src="js/mui.picker.js" language="javascript"></script>
    <script src="js/mui.poppicker.js" language="javascript"></script>
    <script>
			(function($, doc) {
				$.init();
				$.ready(function() {
					//创建个人简历
					var userPicker = new $.PopPicker();
					userPicker.setData([{
						value: '1',
						text: '前端开发'
					}, {
						value: '2',
						text: '.Net后端开发'
					}, {
						value: '3',
						text: 'UI开发'
					}]);
					var showUserPickerButton = doc.getElementById('resumeUserPicker');
					var userResult = doc.getElementById('userResult');
					showUserPickerButton.addEventListener('tap', function(event) {
                        // var data = userPicker.pickers[0].setSelectedIndex(0, 2000);
						userPicker.show(function(selectItems) {
                            // console.log(selectItems[0].value);
                            location.href = 'resume.html?=ID' + selectItems[0].value
                            // mui.openWindow({
                            //     url:selectItems,
                            //     id:selectItems
                            // })
						});
					}, false);            
				});
			})(mui, document);
		</script>
        <script>
        // var resumeData = [];
        // resumeData.push({
        //     value: '1078',
        //     text: '前端开发(默认)'
        // })
        mui.init({
            swipeBack:true //启用右滑关闭功能
        });
        mui('.mui-content .mui-switch').each(function() { //循环所有toggle
            //toggle.classList.contains('mui-active') 可识别该toggle的开关状态
            this.parentNode.querySelector('span').innerText = '' + (this.classList.contains('mui-active') ? '简历公开' : '简历保密');
            /**
             * toggle 事件监听
             */
            this.addEventListener('toggle', function(event) {
                //event.detail.isActive 可直接获取当前状态
                this.parentNode.querySelector('span').innerText = '' + (event.detail.isActive ? '简历公开' : '简历保密');
            });
		});
        function fidcard() {
            layermsg('请先完成身份认证！', 2, function () {
                location.href = 'yz_idcard.html';
            });
        }
    </script>
    <script src="js/resume.js" language="javascript"></script>
    <script src="js/publicselect.js" language="javascript"></script>
    <div class="mui-poppicker">
        <div class="mui-poppicker-header"> <button class="mui-btn mui-poppicker-btn-cancel">取消</button> <button class="mui-btn mui-btn-blue mui-poppicker-btn-ok">确定</button>
            <div class="mui-poppicker-clear"></div>
        </div>
        <div class="mui-poppicker-body">
            <div class="mui-picker" style="width: 100%;">
                <div class="mui-picker-inner">
                    <div class="mui-pciker-rule mui-pciker-rule-ft"></div>
                    <ul class="mui-pciker-list" style="transform: perspective(1000px) rotateY(0deg) rotateX(0deg);">
                        <li class="highlight" style="transform-origin: center center -89.5px; transform: translateZ(89.5px) rotateX(0deg);">其他(默认)</li>
                    </ul>
                    <div class="mui-pciker-rule mui-pciker-rule-bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="hm_t_undefined" class="hm-t-container">
        <div class="hm-t-go-top" style="display: none;"></div>
    </div>
</div>