---
layout: default
title: 我的
---
<div class="mine">
    <div class="mod_pos_item">
        <div class="page__hd">
            <div class="w-75">
                <h1 class="page__title">李舒婷</h1>
                <p class="page__desc text-truncate mt-2">欧美城</p>
            </div>
            <div class="page__img">
                <a href="pages/photoEdit.html"><img src="static/images/profile-photos/10.png" class="border rounded-circle" /></a>
            </div>
        </div>
    </div>
    <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <a href="pages/personalInfo.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-check fa-lg"></i> 个人资料</label>
                </div>
                <div class="weui-cell__bd"><p></p></div>
            </a>
        </div>
    </div>
    <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <a href="pages/news.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-folder fa-lg"></i> 消息中心</label>
                </div>
                <div class="weui-cell__bd"></div>
            </a>
            <a href="pages/contactList.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-wrench fa-lg"></i> 通讯录</label>
                </div>
                <div class="weui-cell__bd"> </div>
            </a>
            <!-- <a href="javascript:;" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-cog fa-lg"></i> 切换项目</label>
                </div>
                <div class="weui-cell__bd"></div>
            </a>
            <a href="pages/recommend.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-wrench fa-lg"></i> 推荐给朋友</label>
                </div>
                <div class="weui-cell__bd"> </div>
            </a> -->
            <a href="pages/set.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-wrench fa-lg"></i> 设置</label>
                </div>
                <div class="weui-cell__bd"> </div>
            </a>
        </div>
    </div>
</div>