* {
  -webkit-tap-highlight-color: transparent;
  outline: 0; }

img {
  border: 0 none;
  vertical-align: top; }

i, em {
  font-style: normal; }

ol, ul {
  list-style: none; }

input, select, button, h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited {
  text-decoration: none;
  color: #333; }

h2,h6,p,ul,dl, ol, ul,label,.row{
  margin:0;
  padding:0;
}

em{
  font-style: normal;
  color:$red;
}

.btn{
  font-size:$font-14;
}

@mixin text-truncate{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

@mixin clearfix() {
  &::after {
      display: block;
      clear: both;
      content: "";
  }
}

%fontFamily{
  font-family: -apple-system, Helvetica, sans-serif; 
}
%bgColor{
 background-color:$white;
} 

.noContent{
   min-height:300px;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   i{
     font-size:60px;
     margin-bottom:10px;
   }
}

//bootstrap 新增加Sizing 的width
.w-10 {
  width: 10%!important;
}
.w-20 {
  width: 20%!important;
}
.w-30 {
  width: 30%!important;
}
.w-40 {
  width: 40%!important;
}
.w-50 {
  width: 50%!important;
}
.w-55 {
  width: 55%!important;
}

.tooltip-inner{
    font-size:$font-12;
}

// 置顶
.ind_rel_btn{
  width: 35px;
  height: 35px;
  background-color: rgba($color: #000000, $alpha: 0.2)
}