---
layout: default
title: 房单号
---
<div class="add_order">
    <div class="page-content">
        <div class="tab-title ml-4" style="display: flex;align-items: center;height: 40px;">
            <div class="mr-2"><span class="text-danger">房号</span> <strong>8205</strong></div>
            <div class="mr-2"><span class="text-danger">房单号</span> <strong>23803</strong></div>
            <div class="mr-2"><span class="text-danger">入住 5</span> <strong>晚</strong></div>
        </div>
        <form id="add-form" action="">
            <div class="fangjiaForm p-2">
                <ul class="fangjiaForm-content">
                    <li><label class="label_name">房号</label> <span class="add_name">
                        <input value="8212" type="text" class="text_add" disabled="disabled" style="width:180px;" /></span>
                    </li>
                    <li><label class="label_name">房型</label>
                        <div class="add_name">
                            <select name="interest" lay-filter="aihao" class="text_add" disabled="disabled" style="width:180px;">
                            <option value="0">商务大床房</option>
                            <option value="1">商务套房</option>
                            <option value="2">至尊湖景大床房</option>
                            <option value="3">至尊大床房</option>
                            <option value="4">豪华双床房</option>
                            <option value="5">豪华大床房</option>
                            </select>
                        </div>
                    </li>
                    <li><label class="label_name">房价类型</label>
                        <div class="add_name fjType_left73" style="display: flex;justify-content: space-between;">
                            <select name="interest" lay-filter="aihao" class="text_add" style="width:138px;padding:0;">
                                <option value="1">门市价</option>
                                <option value="2">银会员价</option>
                                <option value="3">金会员价</option>
                                <option value="4">铂金价</option>
                                <option value="8">钟点房</option>
                                <option value="9">不定房价</option>
                                <option value="10">免费房</option>
                                <option value="14">自用房</option>
                                <option value="18">协议公式价</option>
                                <option value="19">全年不变价</option>
                                <option value="20">OTA直连价</option>
                            </select>
                            <input type="button" class="text_add text-white bg-success" id="" value="钟" style="width:40px;margin-left:2px;border:0;border-radius:2px"/>
                        </div>
                    </li>
                    <li><label class="label_name">房价</label> <span class="add_name">
                        <input name="房价" type="text" class="text_add" value="188" disabled="disabled" style="width:180px;color:red!important"/></span>
                    </li>
                    <li><label class="label_name">入住时间</label>
                        <span class="add_name">
                        <input name="入住时间" type="text" class="text_add CheckIn" id="CheckIn" value="2019-07-26 09:23" style="width:180px;">
                        </span>
                    </li>
                    <li><label class="label_name">离店时间</label>
                        <span class="add_name">
                            <input name="离店时间" type="text" class="text_add GoWay" id="GoWay" value="2019-08-04 09:23" style="width:180px;">
                        </span>
                    </li>
                    <li><label class="label_name">订单状态</label> 
                        <div class="add_name">
                            <select name="interest" lay-filter="aihao" class="text_add" style="width: 180px">
                                <option value="1">预订</option>
                                <option value="2">取消</option>
                                <option value="3">未到</option>
                                <option value="4">入住</option>
                                <option value="5">退房</option>
                            </select>
                        </div>
                    </li>
                    <li><label class="label_name">中介单号</label> <span class="add_name">
                        <input type="text" class="text_add" style="width:180px;" disabled="disabled" /></span>
                    </li>
                    <li><label class="label_name">联系人</label> <span class="add_name">
                        <input type="text" class="text_add" value="赖萌萌" style="width:180px;" /></span>
                    </li>
                    <li><label class="label_name">预订人</label> <span class="add_name">
                        <input type="text" class="text_add" value="赖萌萌" style="width:180px;" /></span>
                    </li>
                    <li><label class="label_name">联系电话</label> <span class="add_name">
                        <input name="联系电话" type="text" class="text_add" value="18079100000" style="width:180px;" /></span>
                    </li>
                    <li><label class="label_name">订单来源</label> 
                        <div class="add_name" style="display: flex;justify-content: space-between;">
                            <div>
                                <select name="interest" lay-filter="aihao" class="text_add" style="width:95px;">
                                    <option value="0" selected="selected">前台</option>
                                    <option value="1">客服</option>
                                    <option value="3">网站</option>
                                    <option value="4">合作渠道</option>
                                    <option value="5">手机网站</option>
                                    <option value="6">去哪儿预售</option>
                                </select>
                            </div>
                            <div>
                                <select name="interest" lay-filter="aihao" class="text_add" style="width:80px;">
                                    <option value="0">散客</option>
                                    <option value="1">团体</option>
                                    <option value="2">长住</option>
                                    <option value="3">外宾</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li><label class="label_name">会员级别</label>
                        <div class="add_name">
                            <select lay-filter="aihao" class="text_add" disabled="disabled" style="width: 180px;">
                                <option value="0">非会员</option>
                                <option value="1">银会员</option>
                                <option value="3">金会员</option>
                                <option value="4">铂金会员</option>
                            </select>
                        </div>
                    </li>
                    <li><label class="label_name">会员卡号</label> <span class="add_name">
                        <input type="text" class="text_add" value="110015106" disabled="disabled" style="width:180px;" /></span>
                    </li>
                    <li><label class="label_name">储值积分</label> <span class="add_name">
                        <input type="text" class="text_add" value="71111/3000" disabled="disabled" style="width:180px;color:red!important" /></span>
                    </li>
                    <li><label class="label_name">客源结构</label>
                        <div class="add_name" style="display: flex;justify-content: space-between;">
                            <div>
                                <select lay-filter="aihao" class="text_add" style="width:95px;">
                                    <option value="0">时租</option>
                                    <option value="1">散客</option>
                                    <option value="3" selected="selected">个人会员</option>
                                    <option value="4">协议公司</option>
                                    <option value="5">中介</option>
                                    <option value="6">自用房</option>
                                    <option value="7">免费房</option>
                                </select>
                            </div>
                            <div>
                                <select lay-filter="aihao" class="text_add" style="width:80px;">
                                    <option value="0">银会员</option>
                                    <option value="1">金会员</option>
                                    <option value="2">铂金会员</option>
                                    <option value="3">业主尊享会员</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li style="width:50%"><label class="label_name">员工备注</label> <span class="add_name">
                            <input name="" type="text" class="text_add" style="width:420px;"/></span>
                    </li>
                    <li><label class="label_name">市场活动</label>
                        <div class="add_name">
                            <select name="interest" lay-filter="aihao" class="text_add" disabled="disabled" style="width: 180px">
                                <option value="0">管理员</option>
                                <option value="1">用户人员</option>
                                <option value="3">用户人员2</option>
                                <option value="4">用户人员3</option>
                            </select>
                        </div>
                    </li>
                    <li><label class="label_name">销售员</label>
                        <div class="add_name">
                            <select name="interest" lay-filter="aihao" class="text_add" disabled="disabled" style="width: 180px">
                                <option value="0">未参与市场活动</option>
                                <option value="1">注册会员赠送300优惠券</option>
                                <option value="3">用户人员2</option>
                                <option value="4">用户人员3</option>
                            </select>
                        </div>
                    </li>
                    </ul>
                    <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
            <!--------------------房间 客人资料-------------------------------->
            <div class="xingkeren mt-2">
                <div class="layui-tab" lay-filter="test">
                    <div class="search_style m-0" style="position: relative;">
                        <ul class="layui-tab-title" style="border-bottom:0;border-color: #ccc!important;">
                            <li class="layui-this" lay-id="11" style="width: auto"><span class="badge badge-warning mr-1">主</span> 赖萌萌</li>
                            <li lay-id="22" style="width: auto">李梦</li>
                            <!-- <li lay-id="33">客人3</li>
                            <li lay-id="44">客人4</li>
                            <li lay-id="55">客人5</li> -->
                        </ul>
                        <button type="button" id="kehu_add" class="layui-btn layui-btn-normal pl-2 pr-2" style="position: absolute;right: 0;top:5px;height: 30px;line-height: 30px;">增加客人</button>
                    </div>
                    <div class="layui-tab-content p-2"  style="border:1px solid #cccccc;clear: both;">
                        <div class="layui-tab-item layui-show">
                            <ul class="xinkenren-message p-2">
                                <li><label class="label_name">客人姓名</label> <span class="add_name">
                                    <input value="赖萌萌" type="text" class="text_add" style="width:180px;" /></span>
                                </li>
                                <li><label class="label_name">客人性别</label>
                                <span class="add_name">
                                    <select name="xingbie" lay-filter="aihao" class="text_add" style="width:180px;" >
                                        <option value="0">未知</option>
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </span>
                                </li>
                                <li><label class="label_name">出生日期</label>
                                <span class="add_name">
                                    <input type="text" class="text_add" value="2019-07-26 09:20" id="chushengriqi" style="width:180px;" >
                                </span>
                                </li>
                                <li><label class="label_name">手机号码</label> <span class="add_name">
                                <input type="text" class="text_add" value="13800000000" style="width:180px;" /></span>
                                </li>
                                <li><label class="label_name">证件类型</label>
                                <div class="add_name">
                                    <select lay-filter="aihao" class="text_add" style="width:180px;" >
                                        <option value="0">身份证/驾驶证</option>
                                        <option value="1">台湾居民来往通行证</option>
                                        <option value="3">港澳居民来往大陆通行</option>
                                        <option value="4">外籍护照</option>
                                        <option value="5">外交护照</option>
                                        <option value="6">公务护照</option>
                                        <option value="7">因公普通护照</option>
                                        <option value="8">军官证</option>
                                        <option value="9">士兵证</option>
                                        <option value="10">其它</option>
                                    </select>
                                </div>
                                </li>
                                <li><label class="label_name">证件号码</label> <span class="add_name">
                                <input type="text" class="text_add" value="441302199208191033" disabled="disabled" style="width:180px;" /></span>
                                </li>
                                <li><label class="label_name">签证信息</label> 
                                <div class="add_name" style="display: flex;justify-content: space-between;">
                                    <div>
                                        <select name="qzxinxi" lay-filter="aihao" class="text_add" style="width:65px;">
                                            <option value="0">无</option>
                                            <option value="1">普通签证</option>
                                            <option value="2">公务签证</option>
                                            <option value="3">外交签证</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="text" class="text_add" id="youxiaoTime" value="2019-08-10" style="width:110px;"/>
                                    </div>
                                </div>
                                </li>
                                <li><label class="label_name">客人国籍</label>
                                <span class="add_name">
                                    <select lay-filter="aihao" class="text_add" style="width:180px;" >
                                        <option value="1">中国</option>
                                    </select>
                                </span>
                                </li>
                                <li><label class="label_name">会员级别</label>
                                <div class="add_name">
                                    <select lay-filter="aihao" class="text_add" disabled="disabled" style="width:180px;">
                                        <option value="0">非会员</option>
                                        <option value="1">银会员</option>
                                        <option value="3">金会员</option>
                                        <option value="4">铂金会员</option>
                                    </select>
                                </div>
                                </li>
                                <li><label class="label_name">会员卡号</label> <span class="add_name">
                                    <input type="text" class="text_add" value="11000000" disabled="disabled" style="width:180px;" /></span>
                                </li>
                                <li><label class="label_name">入住时间</label>
                                <span class="add_name">
                                    <input name="入住时间" type="text" class="text_add" value="2019-07-26 09:23" disabled="disabled" style="width:180px;">
                                </span>
                                </li>
                                <li><label class="label_name">离店时间</label>
                                <span class="add_name">
                                    <input name="离店时间" type="text" class="text_add" value="2019-08-04 09:23" disabled="disabled" style="width:180px;">
                                </span>
                                </li>
                                <li style="width:100%"><label class="label_name">客人备注</label>
                                <span class="add_name" style="width: 94.5%;">
                                <input name="客人备注" type="text" class="text_add" style="width:99.5%;"/></span>
                                </li>
                            </ul>
                        </div>
                        <div class="layui-tab-item">
                            <ul class="xinkenren-message p-2">
                                <li><label class="label_name">客人姓名</label> <span class="add_name">
                                    <input value="赖萌萌" type="text" class="text_add" style="width:180px;" /></span>
                                </li>
                                <li><label class="label_name">客人性别</label>
                                <span class="add_name">
                                    <select name="xingbie" lay-filter="aihao" class="text_add" style="width:180px;" >
                                        <option value="0">未知</option>
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </span>
                                </li>
                                <li><label class="label_name">出生日期</label>
                                <span class="add_name">
                                    <input type="text" class="text_add" value="2019-07-26 09:20" id="chushengriqi" style="width:180px;" >
                                </span>
                                </li>
                                <li><label class="label_name">手机号码</label> <span class="add_name">
                                <input type="text" class="text_add" value="13800000000" style="width:180px;" /></span>
                                </li>
                                <li><label class="label_name">证件类型</label>
                                <div class="add_name">
                                    <select lay-filter="aihao" class="text_add" style="width:180px;" >
                                        <option value="0">身份证/驾驶证</option>
                                        <option value="1">台湾居民来往通行证</option>
                                        <option value="3">港澳居民来往大陆通行</option>
                                        <option value="4">外籍护照</option>
                                        <option value="5">外交护照</option>
                                        <option value="6">公务护照</option>
                                        <option value="7">因公普通护照</option>
                                        <option value="8">军官证</option>
                                        <option value="9">士兵证</option>
                                        <option value="10">其它</option>
                                    </select>
                                </div>
                                </li>
                                <li><label class="label_name">证件号码</label> <span class="add_name">
                                <input type="text" class="text_add" value="441302199208191033" disabled="disabled" style="width:180px;" /></span>
                                </li>
                                <li><label class="label_name">签证信息</label> 
                                <div class="add_name" style="display: flex;justify-content: space-between;">
                                    <div>
                                        <select name="qzxinxi" lay-filter="aihao" class="text_add" style="width: 90px">
                                            <option value="0">无</option>
                                            <option value="1">普通签证</option>
                                            <option value="2">公务签证</option>
                                            <option value="3">外交签证</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="text" class="text_add" id="youxiaoTime" value="2019-08-10" style="width:80px;margin:0;"/>
                                    </div>
                                </div>
                                </li>
                                <li><label class="label_name">客人国籍</label>
                                <span class="add_name">
                                    <select lay-filter="aihao" class="text_add" style="width:180px;" >
                                        <option value="1">中国</option>
                                    </select>
                                </span>
                                </li>
                                <li><label class="label_name">会员级别</label>
                                <div class="add_name">
                                    <select lay-filter="aihao" class="text_add" disabled="disabled" style="width:180px;">
                                        <option value="0">非会员</option>
                                        <option value="1">银会员</option>
                                        <option value="3">金会员</option>
                                        <option value="4">铂金会员</option>
                                    </select>
                                </div>
                                </li>
                                <li><label class="label_name">会员卡号</label> <span class="add_name">
                                    <input type="text" class="text_add" value="11000000" disabled="disabled" style="width:180px;" /></span>
                                </li>
                                <li><label class="label_name">入住时间</label>
                                <span class="add_name">
                                    <input name="入住时间" type="text" class="text_add" value="2019-07-26 09:23" disabled="disabled" style="width:180px;">
                                </span>
                                </li>
                                <li><label class="label_name">离店时间</label>
                                <span class="add_name">
                                    <input name="离店时间" type="text" class="text_add" value="2019-08-04 09:23" disabled="disabled" style="width:180px;">
                                </span>
                                </li>
                                <li style="width:100%"><label class="label_name">客人备注</label>
                                <span class="add_name" style="width: 94.5%;">
                                <input name="客人备注" type="text" class="text_add" style="width:99.5%;"/></span>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="layui-tab-item">内容3</div>
                        <div class="layui-tab-item">内容4</div>
                        <div class="layui-tab-item">内容5</div> -->
                        <div style="clear: both"></div>
                    </div>
                </div>
        
            </div> 
        </form>
    </div>
</div>
<!-- star 增加客人 -->
<div class="add_order" id="add_kehu" style="display: none;">
        <div class="page-content" style="padding:10px!important;">
            <form class="layui-form">
                <ul>
                    <li style="width:50%"><label class="label_name text-center">客人姓名</label>
                    <span class="add_name" style="width:75%">
                        <input name="姓名" type="text" class="text_add m-0" placeholder="" style="width: 100%;" />
                    </span>
                    </li>
                    <li style="width:50%"><label class="label_name text-center">客人性别</label>
                    <div class="add_name" style="width:75%">
                        <select name="xingbie" lay-filter="aihao" class="text_add m-0" style="width: 100%" >
                            <option value="0">未知</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </div>
                    </li>
                    <li style="width:50%"><label class="label_name text-center">出生日期</label>
                    <span class="add_name" style="width:75%">
                        <input name="出生日期" type="text" class="text_add m-0" id="chusheng" style="width: 100%" />
                    </span>
                    </li>
                    <li style="width:50%"><label class="label_name text-center">手机号码</label>
                    <span class="add_name" style="width:75%">
                        <input name="手机号码" type="text" class="text_add m-0" placeholder="请填写手机号码" style="width: 100%" />
                    </span>
                    </li>
                    <li style="width:50%"><label class="label_name text-center">证件类型</label>
                    <div class="add_name" style="width:75%">
                        <select name="证件类型" lay-filter="aihao" class="text_add m-0" style="width: 100%" >
                            <option value="0">身份证/驾驶证</option>
                            <option value="1">台湾居民来往通行证</option>
                            <option value="3">港澳居民来往大陆通行</option>
                            <option value="4">外籍护照</option>
                            <option value="5">外交护照</option>
                            <option value="6">公务护照</option>
                            <option value="7">因公普通护照</option>
                            <option value="8">军官证</option>
                            <option value="9">士兵证</option>
                            <option value="10">其它</option>
                        </select>
                    </div>
                    </li>
                    <li style="width:50%"><label class="label_name text-center">证件号码</label>
                    <span class="add_name" style="width:75%">
                        <input name="证件号码" type="text" class="text_add m-0" placeholder="请填写身份证号码" style="width: 100%" />
                    </span>
                    </li>
                    <li style="width:50%"><label class="label_name text-center">签证信息</label> 
                    <div class="add_name" style="display: flex; align-items: center;width: 75%;">
                        <select name="qzxinxi" lay-filter="aihao" class="text_add m-0" style="width:50%;padding:0;">
                            <option value="0">无</option>
                            <option value="1">普通签证</option>
                            <option value="2">公务签证</option>
                            <option value="3">外交签证</option>
                        </select>
                        <input name="" type="text" class="text_add" id="youxiaoTime" value="00:00" style="width:50%;margin-left:5px"/>
                    </div>
                    </li>
                    <li style="width:50%"><label class="label_name text-center">客人民族</label>
                        <div class="add_name" style="width:75%">
                        <select name="客人民族" lay-filter="aihao" class="text_add m-0" style="width: 100%" >
                            <option value="0"></option>
                            <option value="1">汉</option>
                            <option value="2">蒙古</option>
                            <option value="3">回</option>
                        </select>
                        </div>
                    </li>
                    <li style="width:50%"><label class="label_name text-center">会员级别</label>
                    <div class="add_name" style="width:75%">
                        <select lay-filter="aihao" class="text_add m-0" disabled="disabled" style="width: 100%" >
                            <option value="0">非会员</option>
                            <option value="1">银会员</option>
                            <option value="3">金会员</option>
                            <option value="4">铂金会员</option>
                        </select>
                    </div>
                    </li>
                    <li style="width:50%"><label class="label_name text-center">会员卡号</label>
                    <span class="add_name" style="width:75%">
                        <input name="会员卡号" type="text" class="text_add m-0" disabled="disabled" style="width: 100%" />
                    </span>
                    </li>
                    <li style="width:100%"><label class="label_name text-center">客人备注</label>
                    <span class="add_name" style="width: 87.5%;">
                        <input name="客人备注" type="text" class="text_add m-0" style="width:100%;"/>
                    </span>
                    </li>
                </ul>
            </form>
            <div style="clear: both;"></div>
        </div>
    </div>
    <!-- end 增加客人-->