<ul class="nav nav-pills mt-3 mb-3" id="pills-tab" role="tablist">
    <li class="nav-item p-1 text-center">
      <a class="nav-link p-1 active" id="pills-web-tab" data-toggle="pill" href="#pills-web" role="tab" aria-controls="pills-web" aria-selected="true">移动端</a>
    </li>
    <li class="nav-item p-1 text-center">
      <a class="nav-link p-1" id="pills-h5-tab" data-toggle="pill" href="#pills-h5" role="tab" aria-controls="pills-h5" aria-selected="false">H5页面</a>
    </li>
    <li class="nav-item p-1 text-center">
      <a class="nav-link p-1" id="pills-app-tab" data-toggle="pill" href="#pills-app" role="tab" aria-controls="pills-app" aria-selected="false">APP程序</a>
    </li>
    <li class="nav-item p-1 text-center">
      <a class="nav-link p-1" id="pills-xcx-tab" data-toggle="pill" href="#pills-xcx" role="tab" aria-controls="pills-xcx" aria-selected="false">小程序</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-web" role="tabpanel" aria-labelledby="pills-web-tab">
        <h4 class="mb-3">手机移动端开发案例</h4>
        <p class="mb-3">随着生活节奏的不断加快，人们对信息获取的速度要求在不断提高。如何让顾客更加方便快捷地了解市场各行各业趋势这一问题，
          促使研发团队开发出基于安卓手机端的响应式网站。包含集团官网展示、门户网站、移动商城等移动网站。</p>
        <hr/>
        <div id="carouse1" class="carousel slide" data-ride="carousel1">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-thumbnail mr-3" src="assets/img/webapp/xys/1.png" width="100%" alt=""/>
                </div>
                <div class="carousel-item">
                    <img class="img-thumbnail mr-3" src="assets/img/webapp/xys/2.png" width="100%" alt=""/>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouse1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouse1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-h5" role="tabpanel" aria-labelledby="pills-h5-tab">
        <h4 class="mb-3">H5页面开发案例</h4>
        <p class="mb-3">针对企业当下运营项目的整体效果展示，以及年会、活动通知函推送的需求，研发团队可为各类型企业定制开发精致美观的H5动态展示页面，
            让合作方以最方便直观的方式了解企业的综合实力及企业文化，为双方的合作打下重要基础。</p>
        <hr/>
        <div id="carouse5" class="carousel slide" data-ride="carousel5">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-thumbnail mr-3" src="assets/img/webapp/h5/1.png" width="100%" alt=""/>
                </div>
                <div class="carousel-item">
                    <img class="img-thumbnail mr-3" src="assets/img/webapp/h5/2.png" width="100%" alt=""/>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouse5" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouse5" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-app" role="tabpanel" aria-labelledby="pills-app-tab">
        <h4 class="mb-3">APP开发案例</h4>
        <p class="mb-3">APP作为目前市场上主流的功能强大的手机应用程序，只要下载到手机上，不管走到哪都能轻轻松松帮你解决衣食住行的问题。</p>
        <hr/>
        <div id="carouse3" class="carousel slide" data-ride="carousel3">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-thumbnail mr-3" src="assets/img/webapp/app/1.png" width="100%" alt=""/>
                </div>
                <div class="carousel-item">
                    <img class="img-thumbnail mr-3" src="assets/img/webapp/app/2.png" width="100%" alt=""/>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouse3" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouse3" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-xcx" role="tabpanel" aria-labelledby="pills-xcx-tab">
        <h4 class="mb-3">微信小程序开发案例</h4>
        <p class="mb-3">为了帮手机用户节省手机内存及存储空间，研发团队走上了微信小程序开发的道路，开发微信购票系统、企业文化展示等微信小程序。
            在微信上可直接搜索使用，也可随时删除，对减轻手机存储的负担有着非常重要的作用。</p>
        <hr/>
        <div id="carouse4" class="carousel slide" data-ride="carousel4">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-thumbnail mr-3" src="assets/img/webapp/xcx/1.png" width="100%" alt=""/>
                </div>
            </div>
            <!-- <a class="carousel-control-prev" href="#carouse4" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouse4" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a> -->
        </div>
    </div>
  </div>