<!-- 展现招聘广告 -->
<div class="swiper-container1 topAd">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="static/images/1.png"/></div>
        <div class="swiper-slide"><img src="static/images/2.png"/></div>
        <div class="swiper-slide"><img src="static/images/3.png"/></div>
        <!-- <div class="swiper-slide"><img src="https://dummyimage.com/750x390/ff6600/fff.png&text=富海招聘"/></div> -->
    </div>
    <!-- 如果需要分页器-->
    <div class="swiper-pagination"></div>
</div>