<div class="tab-title ml-4" style="display: flex;align-items: center;height: 40px;">
    <div class="mr-2"><span class="text-danger">房号</span> <strong>8205</strong></div>
    <div class="mr-2"><span class="text-danger">房单号</span> <strong>23803</strong></div>
</div>
<table class="layui-hide" id="zhangwu"></table>
<ul class="" style="width:100%;display:flex;position:absolute;bottom:0;text-align:center;">
    <li>所选消费0.00</li>
    <li>所选余额0.00</li>
    <li>预授权<span class="text-danger">0.00</span></li>
    <li>消费<span class="text-danger">660.00</span></li>
    <li>结算0.00</li>
    <li>余额<span class="text-danger">660.00</span></li>
</ul>