<!-- 公司介绍 -->
<div class="mod_des">
    <div class="mod_pos_item">
        <div class="mod_pos_item_tit">
            <h2 class="text-truncate"><i class="fa fa-vcard"></i>公司介绍</h2>
        </div>
        <div class="mod_pos_item_text">
            <p>中威电子公司是中威有限通过整体变更方式设立的股份有限公司。中威有限经天健事务所审计的截至2009年12月31日的净资产为5,008.54万元，
                按1.6695:1的比例折合成股本3,000万元，折股溢价2,008.54万元计入资本公积，整体变更前后股东持股比例不变。 
                公司于2010年3月18日在杭州市工商行政管理局办理工商登记，注册资本3,000万元。	
            </p>
        </div>
    </div>
</div>
<!-- 联系方式 -->
<div class="mod_lxfs">
    <div class="mod_pos_item">
        <div class="mod_pos_item_tit">
            <h2 class="text-truncate"><i class="fa fa-phone"></i>联系方式</h2>
        </div>
        <div class="mod_pos_item_text">
            <p>
                联系方式：马校长<br/>
                联系电话：0752-2886238<br/>
                电子邮箱：该职位未公开电子邮箱，请通过富海人才网投递简历
            </p>
        </div>
    </div>
</div>
<!-- 工作地址 -->
<div class="mod_add">
    <div class="mod_pos_item m-0">
        <div class="mod_pos_item_tit">
            <h2 class="text-truncate"><i class="fa fa-map-marker"></i>公司地址</h2>
        </div>
        <div class="mod_pos_item_text">
            <p class="mod_pos_item_mes w-100">广东惠州广东惠州惠城区数码园南区民丰路6号广东惠州广东惠州惠城区数码园南区民丰路6号</p>
        </div>
    </div>
</div>