<tbody class="m-scene">
    <tr class="" style="height:45px;">
        <td>6分钟RTX</td>
        <td><small>￥</small>128</td>
        <td><small>￥</small>88</td>
    </tr>
    <tr class="" style="height:45px;">
        <td>6分钟儿童卡丁车</td>
        <td><small>￥</small>88</td>
        <td><small>￥</small>58</td>
    </tr>
    <!-- <tr class="" style="height:45px;">
        <td>6分钟双人卡丁车</td>
        <td><small>￥</small>216</td>
        <td><small>￥</small>138</td>
    </tr> -->
    <tr class="" style="height:45px;">
        <td>30分包场</td>
        <td><small>￥</small>4580</td>
        <td><small>￥</small>3200</td>
    </tr>
    <tr class="" style="height:45px;">
        <td>60分包场</td>
        <td><small>￥</small>7880</td>
        <td><small>￥</small>5500</td>
    </tr>
    <tr class="" style="height:45px;">
        <td>成人赛车服租赁</td>
        <td><small>1人1次</small></td>
        <td><small>￥</small>30</td>
    </tr>
    <tr class="" style="height:45px;">
        <td>成人赛车鞋租赁</td>
        <td><small>1人1次</small></td>
        <td><small>￥</small>20</td>
    </tr>
    <tr class="" style="height:45px;">
        <td>儿童赛车服租赁</td>
        <td><small>1人1次</small></td>
        <td><small>￥</small>20</td>
    </tr>
</tbody>