<div id="mslider" class="module" style="height: 720px;">
    <script type="text/javascript">$(function () { $("#mslider li video").each(function (index, element) { element.play(); }); })</script>
    <div class="bx-wrapper">
      <div class="bx-viewport">
        <div class="bx-loading"></div>
        <ul class="slider"">
          <li class="active">
            <div id="tempImage_0"></div><img src="../assets/img/banner/0.jpg" alt="">
            <div class="mask"></div><a target="_blank" href="javascript:;">
              <div>
                <p class="title ellipsis"></p>
              </div>
              <div class="sliderArrow fa fa-angle-down"></div>
            </a>
          </li>
          <li>
            <div id="tempImage_1"></div><img src="../assets/img/banner/1.jpg" alt="">
            <div class="mask"></div><a target="_blank" href="javascript:;">
              <div>
                <p class="title ellipsis"></p>
              </div>
              <div class="sliderArrow fa fa-angle-down"></div>
            </a>
          </li>
        </ul>
      </div>
      <div class="bx-controls bx-has-pager bx-has-controls-direction">
        <div class="bx-pager bx-default-pager">
          <div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link">1</a></div>
          <div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div>
        </div>
        <div class="bx-controls-direction">
          <a class="bx-prev" href=""><i class="fa fa-angle-left"></i></a>
          <a class="bx-next" href=""><i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>

