.qybroRes{
	  background-color:$pgbg;
    margin-top:rem(161);
    overflow: hidden;
    .weui-cells{
      a{
         text-decoration: none;
      }
    }
    .weui-cell__bd{
       span{
       	  color:$gray-500;
       }
       h2{
          font-size:$font-14;
       }
    }
    .weui-cells{
       &:before{
    	 border-top:0;
       }
    }
}