// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

//自定义
$blue-light:   #e4a757 !default;
$blue-deep:    #bd8438 !default;
$gray-font:    #aeaeae !default;
$orange-font:  #ff6600 !default;
$pgbg:         #f7f7f7 !default;
$line:         #F7F7F9 !default;
$btnbg:        #F4F5F7 !default;    
$select:       #CDCDCD !default;