@mixin fixed-bottom {
  position:fixed;
  right: 0;
  left:0;
  bottom:0;
}

//底部导航
.menu{
  @include fixed-bottom;
  @include sizePadding(15,0,15,0);
  z-index:1000;
  background-color:$white;
  border-top: 1px solid $gray-200;
  display: flex;
  &.resMenu{
    padding:0;
    a{
      height:rem(161);
      line-height:rem(161);
      border-right:1px solid #eee;
      &:last-child{
        border-right:0;
      }
      &.active{
        color:$white;
        background-color:$blue-deep;
      }
    }
  }
  i{
    font-size:$font-20;
    position: relative;
    margin:2px auto;
  }
  span{
    font-size:$font-12;
    display: block;
  }
  a{
    display:block;
    text-decoration:none;
    text-align: center;
    position: relative;
    flex-grow: 1;
    line-height:rem(60);
    color:$gray-600;
    position: relative;
    &.active{
      color:$blue-deep;
    }
    em{
      position: absolute;
      top:-3px;
      margin-left: 5px;
      width: 20px;
    }
    .weui-badge_dot{
       width:auto;
    }
  }
}