---
layout: default
title: QQ账号绑定
---

<div class="login p-0">

    <!-- QQ登录绑定 -->
    <div class="weui-tab">
        <div class="mod_int weui-navbar">
            <a class="mod_int_tab weui-navbar__item weui-bar__item--on p-0" href="#tab1">
                    <span class="mod_int_tab_text">创建一个新账号</span>
                    <div class="bottom_line"></div>
            </a>
            <a class="mod_int_tab weui-navbar__item p-0" href="#tab2">
                    <span class="mod_int_tab_text">已有账号</span>
                    <div class="bottom_line"></div>
            </a>
        </div>
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                    {% include modules/binding/cbinding.html %}
            </div>
            <div id="tab2" class="weui-tab__bd-item">
                    {% include modules/binding/abinding.html %}
            </div>
        </div>
    </div>
        

</div>