---
layout: pages
title: 散客售票策略
---
<div class="page-content" style="overflow: hidden;padding: 10px 10px 0 10px;">
    <div class="layui-form-item mb-2" style="width:99%">
        <label class="layui-form-label layui-title">策略名称:</label>
        <div class="layui-input-block">
            <input type="text" name="" placeholder="" class="text_add ml-0">
        </div>
    </div>
    <div class="layui-form-item mb-2" style="width:99%">
        <label class="layui-form-label layui-title">优先级:</label>
        <div class="layui-input-block">
            <input type="text" name="" value="3" class="text_add" style="margin-right: 10px;"> 提示：当多个策略优惠区间重叠时，使用优先级排序靠前的策略！
        </div>
    </div>
    <div class="layui-form-item mb-2" style="width:99%">
        <label class="layui-form-label layui-title">可下单日期:</label>
        <div class="layui-input-block">
            <input type="checkbox" name="" lay-skin="primary" id="mr" checked> <label for="mr">每日</label> 
            <input type="checkbox" name="" lay-skin="primary" id="zdrq" style="margin-left:5px;"> <label for="zdrq">指定日期</label>
            <input type="checkbox" name="" lay-skin="primary" id="xqqj" style="margin-left:5px;"> <label for="xqqj">星期区间</label>
        </div>
    </div>
    <div class="layui-form-item mb-2" style="width:99%">
        <label class="layui-form-label layui-title">备注:</label>
        <div class="layui-input-block">
            <input name="" type="text" placeholder="" class="text_add" style="width: 80%;">
        </div>
    </div>
</div>
<div style="padding:0 10px;">
    <div class="allBtn" style="display: flex;margin:10px 0;">
        <input type="text" class="text_add" style="margin-right:5px;">
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">选择票类</button>
        <button type="button" class="layui-btn layui-btn-sm" lay-event="">全选</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="">反选</button>
        <div class="layui-input-block" style="margin:0 0 0 5px;">
            <select lay-filter="aihao" style="margin-right:5px;">
                <option value="1">指定价格</option>
                <option value="2">折扣</option>
            </select>
            <input type="text" class="text_add" style="margin-right:5px; width: 18%;">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">设定</button> 
        </div>
    </div>
    <table class="layui-hide" id="clgl_edit2" lay-filter="test"></table>
    <script type="text/html" id="barDemo1">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>