@charset "UTF-8";
@media (min-width:1600px){.szcjt{width:1310px}
.szc{width:1310px}
}
.szcjt{max-width:100%;margin-right:auto;margin-left:auto;padding:.9375rem}
.szc{max-width:100%;margin-right:auto;margin-left:auto;padding:.9375rem}
.subcolumn_nav_met_16_1_34-ul li{display:inline-block;vertical-align:top}
.subcolumn_nav_met_16_1_34-ul li>a{display:block;padding:5px 10px;font-size:16px}
.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:after,.slick-track:before{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{float:left;height:100%;min-height:1px}
.slick-slide:not(:first-child){display:none}
[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-loading .slick-list{background:#fff url(../public/ui/v2/static/plugin/slick/ajax-loader.gif) center center no-repeat}
.slick-next,.slick-prev{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:0;background:0 0}
.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{color:transparent;outline:0;background:0 0}
.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}
.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}
.slick-next:before,.slick-prev:before{font-family:slick;font-size:20px;line-height:1;opacity:.75;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-prev{left:-25px}
[dir=rtl] .slick-prev{right:-25px;left:auto}
.slick-prev:before{content:'←'}
[dir=rtl] .slick-prev:before{content:'→'}
.slick-next{right:-25px}
[dir=rtl] .slick-next{right:auto;left:-25px}
.slick-next:before{content:'→'}
[dir=rtl] .slick-next:before{content:'←'}
.slick-dots{position:absolute;bottom:-25px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}
.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}
.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:0;background:0 0}
.slick-dots li button:focus,.slick-dots li button:hover{outline:0}
.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}
.slick-dots li button:before{font-family:slick;font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:#000;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-dots li.slick-active button:before{opacity:.75;color:#000}
.webui-popover-content{display:none}
.webui-popover-rtl{direction:rtl;text-align:right}
.webui-popover{position:absolute;top:0;left:0;z-index:9999;display:none;min-width:50px;min-height:32px;padding:1px;text-align:left;white-space:normal;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);-webkit-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2)}
.webui-popover.top,.webui-popover.top-left,.webui-popover.top-right{margin-top:-10px}
.webui-popover.right,.webui-popover.right-bottom,.webui-popover.right-top{margin-left:10px}
.webui-popover.bottom,.webui-popover.bottom-left,.webui-popover.bottom-right{margin-top:10px}
.webui-popover.left,.webui-popover.left-bottom,.webui-popover.left-top{margin-left:-10px}
.webui-popover.pop{-webkit-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8);-webkit-transition:transform .15s cubic-bezier(.3,0,0,1.5);-o-transition:transform .15s cubic-bezier(.3,0,0,1.5);-webkit-transition:-webkit-transform .15s cubic-bezier(.3,0,0,1.5);transition:-webkit-transform .15s cubic-bezier(.3,0,0,1.5);transition:transform .15s cubic-bezier(.3,0,0,1.5);transition:transform .15s cubic-bezier(.3,0,0,1.5),-webkit-transform .15s cubic-bezier(.3,0,0,1.5);opacity:0;filter:alpha(opacity=0)}
.webui-popover.pop-out{-webkit-transition-property:"opacity,transform";-o-transition-property:"opacity,transform";transition-property:"opacity,transform";-webkit-transition:.15s linear;-o-transition:.15s linear;transition:.15s linear;opacity:0;filter:alpha(opacity=0)}
.webui-popover.fade,.webui-popover.fade-out{-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear;opacity:0;filter:alpha(opacity=0)}
.webui-popover.out{opacity:0;filter:alpha(opacity=0)}
.webui-popover.in{-webkit-transform:none;-ms-transform:none;transform:none;opacity:1;filter:alpha(opacity=100)}
.webui-popover .webui-popover-content{padding:9px 14px;overflow:auto;display:block}
.webui-popover .webui-popover-content>div:first-child{width:99%}
.webui-popover-inner .close{font-family:arial;margin:8px 10px 0 0;float:right;font-size:16px;font-weight:700;line-height:16px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20);text-decoration:none}
.webui-popover-inner .close:focus,.webui-popover-inner .close:hover{opacity:.5;filter:alpha(opacity=50)}
.webui-popover-inner .close:after{content:"\00D7";width:.8em;height:.8em;padding:4px;position:relative}
.webui-popover-title{padding:8px 14px;margin:0;font-size:14px;font-weight:700;line-height:18px;background-color:#fff;border-bottom:1px solid #f2f2f2;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.webui-popover-content{padding:9px 14px;overflow:auto;display:none}
.webui-popover-inverse{background-color:#333;color:#eee}
.webui-popover-inverse .webui-popover-title{background:#333;border-bottom:1px solid #3b3b3b;color:#eee}
.webui-no-padding .webui-popover-content{padding:0}
.webui-no-padding .list-group-item{border-right:none;border-left:none}
.webui-no-padding .list-group-item:first-child{border-top:0}
.webui-no-padding .list-group-item:last-child{border-bottom:0}
.webui-popover>.webui-arrow,.webui-popover>.webui-arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.webui-popover>.webui-arrow{border-width:11px}
.webui-popover>.webui-arrow:after{border-width:10px;content:""}
.webui-popover.top-left>.webui-arrow,.webui-popover.top-right>.webui-arrow,.webui-popover.top>.webui-arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,.25);border-bottom-width:0}
.webui-popover.top-left>.webui-arrow:after,.webui-popover.top-right>.webui-arrow:after,.webui-popover.top>.webui-arrow:after{content:" ";bottom:1px;margin-left:-10px;border-top-color:#fff;border-bottom-width:0}
.webui-popover.right-bottom>.webui-arrow,.webui-popover.right-top>.webui-arrow,.webui-popover.right>.webui-arrow{top:50%;left:-11px;margin-top:-11px;border-left-width:0;border-right-color:#999;border-right-color:rgba(0,0,0,.25)}
.webui-popover.right-bottom>.webui-arrow:after,.webui-popover.right-top>.webui-arrow:after,.webui-popover.right>.webui-arrow:after{content:" ";left:1px;bottom:-10px;border-left-width:0;border-right-color:#fff}
.webui-popover.bottom-left>.webui-arrow,.webui-popover.bottom-right>.webui-arrow,.webui-popover.bottom>.webui-arrow{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.25);border-top-width:0}
.webui-popover.bottom-left>.webui-arrow:after,.webui-popover.bottom-right>.webui-arrow:after,.webui-popover.bottom>.webui-arrow:after{content:" ";top:1px;margin-left:-10px;border-bottom-color:#fff;border-top-width:0}
.webui-popover.left-bottom>.webui-arrow,.webui-popover.left-top>.webui-arrow,.webui-popover.left>.webui-arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,.25)}
.webui-popover.left-bottom>.webui-arrow:after,.webui-popover.left-top>.webui-arrow:after,.webui-popover.left>.webui-arrow:after{content:" ";right:1px;border-right-width:0;border-left-color:#fff;bottom:-10px}
.webui-popover-inverse.top-left>.webui-arrow,.webui-popover-inverse.top-left>.webui-arrow:after,.webui-popover-inverse.top-right>.webui-arrow,.webui-popover-inverse.top-right>.webui-arrow:after,.webui-popover-inverse.top>.webui-arrow,.webui-popover-inverse.top>.webui-arrow:after{border-top-color:#333}
.webui-popover-inverse.right-bottom>.webui-arrow,.webui-popover-inverse.right-bottom>.webui-arrow:after,.webui-popover-inverse.right-top>.webui-arrow,.webui-popover-inverse.right-top>.webui-arrow:after,.webui-popover-inverse.right>.webui-arrow,.webui-popover-inverse.right>.webui-arrow:after{border-right-color:#333}
.webui-popover-inverse.bottom-left>.webui-arrow,.webui-popover-inverse.bottom-left>.webui-arrow:after,.webui-popover-inverse.bottom-right>.webui-arrow,.webui-popover-inverse.bottom-right>.webui-arrow:after,.webui-popover-inverse.bottom>.webui-arrow,.webui-popover-inverse.bottom>.webui-arrow:after{border-bottom-color:#333}
.webui-popover-inverse.left-bottom>.webui-arrow,.webui-popover-inverse.left-bottom>.webui-arrow:after,.webui-popover-inverse.left-top>.webui-arrow,.webui-popover-inverse.left-top>.webui-arrow:after,.webui-popover-inverse.left>.webui-arrow,.webui-popover-inverse.left>.webui-arrow:after{border-left-color:#333}
.webui-popover i.icon-refresh{display:block;width:30px;height:30px;font-size:20px;top:50%;left:50%;position:absolute;margin-left:-15px;margin-right:-15px;background:url(../../../app/system/include/static2/vendor/img/loading.gif) no-repeat}
@-webkit-keyframes rotate{100%{-webkit-transform:rotate(360deg)}
}
@keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.webui-popover-backdrop{background-color:rgba(0,0,0,.65);width:100%;height:100%;position:fixed;top:0;left:0;z-index:9998}
.webui-popover .dropdown-menu{display:block;position:relative;top:0;border:none;-webkit-box-shadow:none;box-shadow:none;float:none}
.flag-icon-background{background-repeat:no-repeat;background-position:50%;-webkit-background-size:contain;background-size:contain}
.flag-icon{position:relative;display:inline-block;width:1.33333333em;line-height:1em;background-repeat:no-repeat;background-position:50%;-webkit-background-size:contain;background-size:contain}
.flag-icon:before{content:"\00a0"}
.dropdown-menu .flag-icon{margin-right:5px}
li,ul{list-style:none;padding:0}
.head_nav_met_11_5_1-header{background-color:#fff}
.head_nav_met_11_5_1-header .logo-box{height:60px;line-height:60px;float:left}
.head_nav_met_11_5_1-header .logo-box img{height:60px;vertical-align:unset}
.head_nav_met_11_5_1-header .search-index{display:inline-block}
.head_nav_met_11_5_1-header .contact-index{display:inline-block;height:60px;line-height:60px;margin-right:60px;float:left}
.head_nav_met_11_5_1-header .contact-index p{margin-left:15px}
.head_nav_met_11_5_1-header .contact-index .tel{color:#333;color:#999}
.head_nav_met_11_5_1-header .contact-index .mail{color:#666;color:#999}
.head_nav_met_11_5_1-header .search-box{float:right}
.head_nav_met_11_5_1-header .search-box .input-search-btn{width:60px;height:60px;top:11px;z-index:2}
.head_nav_met_11_5_1-header .search-box .input-search-btn .icon{position:absolute;top:0;left:0;width:60px;height:38px;font-size:18px;line-height:38px;color:#333;color:#c33;margin:0}
.head_nav_met_11_5_1-header .search-box .input-search{height:60px}
.head_nav_met_11_5_1-header .search-box .input-search input{height:38px;width:200px;background-color:#eee;border:1px solid;border-color:#eee;padding-left:15px;-webkit-transition:all .25s ease-out;-o-transition:all .25s ease-out;transition:all .25s ease-out;position:relative;top:11px}
.head_nav_met_11_5_1-header .search-box .input-search input:focus{width:240px;border-color:#c33;border-color:#c33;outline:0}
.head_nav_met_11_5_1-header .m-search{display:none}
body.met-navfixed{padding-top:120px}
.navbar-shadow{-webkit-box-shadow:0 1px 3px rgba(0,0,0,.1);box-shadow:0 1px 3px rgba(0,0,0,.1)}
.onlinebox{z-index:9999!important}
.head_nav_met_11_5_1 .row{position:relative}
.navbar-shadow .met-nav-logo{opacity:1;visibility:visible;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}
.met-nav-logo{float:left;opacity:0;visibility:hidden;-webkit-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7)}
.met-nav-logo img{height:60px}
@-webkit-keyframes slide-top10{0%{opacity:0;-webkit-transform:translate3d(0,-10%,0);transform:translate3d(0,-10%,0)}
100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
@keyframes slide-top10{0%{opacity:0;-webkit-transform:translate3d(0,-10%,0);transform:translate3d(0,-10%,0)}
100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.animation-slide-top10{-webkit-animation-duration:.25s;animation-duration:.25s}
.hide{display:none}
.link_met_11_1_9{background-color:#fff}
.link_met_11_1_9 .breadcrumb-item{float:none;display:inline-block;padding:0 5px}
.link_met_11_1_9 .breadcrumb-item.split{padding:0}
.link_met_11_1_9 .breadcrumb-item a{color:#666;-webkit-transition:color .2s ease-out;-o-transition:color .2s ease-out;transition:color .2s ease-out}
.link_met_11_1_9 .breadcrumb-item a:hover{color:#c33}
.link_met_11_1_9 .breadcrumb-item+.breadcrumb-item::before{color:#666}
.link_met_11_1_9 .breadcrumb-item:nth-child(1){color:#333;font-size:16px}
.link_met_11_1_9 .container{border-bottom:1px solid #eee;border-top:1px solid #eee;border-bottom:1px solid #e7eaf1;border-top:1px solid #e7eaf1}
.link_met_11_1_9 .breadcrumb-item+.breadcrumb-item::before{display:none}
.link_met_11_1_9 .breadcrumb-item+.breadcrumb-item.split::before{display:inline-block}
@media (max-width:767px){.link_met_11_1_9 .container{text-align:left}
}
.foot_info_met_16_1_10{background:#fff;color:#333;padding:20px 0}
.foot_info_met_16_1_10 a{color:#333}
.foot_info_met_16_1_10 a:hover{color:#c33}
.foot_info_met_16_1_10 .btn-outline.btn-default{color:#333}
.foot_info_met_16_1_10 .powered_by_metinfo a{color:#c33}
.foot_info_met_16_1_10.border-top1{border-color:#f0f2f5}
footer{line-height:1.8}
footer p{margin-bottom:0}
footer .met-langlist{margin-top:10px}
.foot_info_met_16_1_10 .met-langlist li{display:inline-block;list-style:none}
.foot_info_met_16_1_10 .met-langlist .btn-lang .flag-icon{margin-right:3px}
.foot_info_met_16_1_10 .met-langlist .dropdown-menu{min-width:0;width:100%;background-color:#fff;border-color:#fff}
.foot_info_met_16_1_10 .met-langlist .dropdown-menu .dropdown-item{white-space:nowrap}
@media (max-width:479px){.foot_info_met_16_1_10 .met-langlist .btn-lang{padding-left:5px;padding-right:5px}
}
.foot_info_met_16_1_10_bottom{overflow:hidden;position:fixed;bottom:0;left:0;z-index:999;width:100%}
.foot_info_met_16_1_10_bottom a.item{color:#fff;padding:5px 0;display:inline-block}
.foot_info_met_16_1_10_bottom a.item i{font-size:16px;display:block}
.foot_info_met_16_1_10_bottom a.item span{color:#fff}
.foot_info_met_16_1_10_bottom{display:none}
.foot_info_met_16_1_10_bottom.iskeshi{display:block}
.foot_info_met_16_1_10_bottom .main{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.foot_info_met_16_1_10_bottom .main>div{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
@media (max-width:767px){.foot_info_met_16_1_10_bottom{display:block}
}
.back_top_met_16_1_11.met-scroll-top{position:fixed;right:10px;bottom:20px;z-index:1601}
.back_top_met_16_1_11.met-scroll-top{border-color:#fff;background-color:#fff;border-color:#c33;background-color:#c33;color:#fff}
.back_top_met_16_1_11.met-scroll-top:focus,.back_top_met_16_1_11.met-scroll-top:hover{border-color:#c33;background-color:#c33;color:#fff}
.back_top_met_16_1_11.views{bottom:70px}
@media (max-width:767px){.back_top_met_16_1_11.met-scroll-top{bottom:70px}
}
.notice_list_met_11_1_4{position:relative;opacity:0;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);background-color:#fff;padding:10px 0}
.notice_list_met_11_1_4 a{color:#666;font-size:12px}
.notice_list_met_11_1_4 .time{margin-left:15px}
.notice_list_met_11_1_4 .notice{height:48px;line-height:48px;overflow:hidden;background-color:#fff;-webkit-border-radius:2px;border-radius:2px;border:1px solid;border-color:#666;border-color:#e7eaf1;-webkit-box-shadow:0 1px 3px rgba(0,37,55,.05);box-shadow:0 1px 3px rgba(0,37,55,.05);padding:5px 0}
.notice_list_met_11_1_4 .notice ul{list-style:none;padding:0 10px}
.notice_list_met_11_1_4 .notice ul li{height:38px;line-height:38px}
.notice_list_met_11_1_4 .notice .notice-title{color:#333;float:left;padding-left:15px;font-size:15px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;line-height:38px}
.notice_list_met_11_1_4 .notice .notice-more{font-size:18px;line-height:38px;padding:0 30px;color:#333}
.notice_list_met_11_1_4 .notice .notice-swiper{float:left;height:38px;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
@media (max-width:767px){.notice_list_met_11_1_4 .notice .notice-title{width:30%;padding-left:5px}
.notice_list_met_11_1_4 .notice .notice-swiper{width:60%}
.notice_list_met_11_1_4 .notice ul{padding:0 5px}
.notice_list_met_11_1_4 .notice .notice-more{padding:0 5px}
.notice_list_met_11_1_4 .notice .notice-swiper a{width:100%;display:block;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
}
.news_list_met_11_5_5{padding:10px 0;background-color:#fff}
.news_list_met_11_5_5 ul{padding:0;list-style:none}
.news_list_met_11_5_5 .left-news{overflow:hidden;padding:0;padding-right:22px}
.news_list_met_11_5_5 .img-news{overflow:hidden;padding:0}
.news_list_met_11_5_5 .img-news img{width:100%;-o-object-fit:cover;object-fit:cover;-webkit-border-top-left-radius:2px;border-top-left-radius:2px;-webkit-border-bottom-left-radius:2px;border-bottom-left-radius:2px}
.news_list_met_11_5_5 .img-news h3{margin:0;height:36px;font-size:15px;color:#fff;background:rgba(0,0,0,.4);padding-left:15px;line-height:36px;position:absolute;width:100%;bottom:0;padding-right:50px;-webkit-border-bottom-left-radius:2px;border-bottom-left-radius:2px}
.news_list_met_11_5_5 .img-news h3 span{display:inline-block;max-width:100%;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
.news_list_met_11_5_5 .img-news .slick-dots{bottom:40px;text-align:right;padding-right:15px}
.news_list_met_11_5_5 .img-news .slick-dots li{margin-right:5px;margin-left:0;width:10px;height:10px}
.news_list_met_11_5_5 .img-news .slick-dots li button{width:10px;height:10px;padding:0;background:#fff;-webkit-border-radius:100%;border-radius:100%}
.news_list_met_11_5_5 .img-news .slick-dots li.slick-active button{background:#c33}
.news_list_met_11_5_5 .img-news .slick-dots li button:before{display:none}
.news_list_met_11_5_5 .text-news{overflow:hidden;background-color:#fff;-webkit-border-top-right-radius:2px;border-top-right-radius:2px;-webkit-border-bottom-right-radius:2px;border-bottom-right-radius:2px;border:1px solid;border-color:#666;border-color:#e7eaf1;-webkit-box-shadow:0 1px 3px rgba(0,37,55,.05);box-shadow:0 1px 3px rgba(0,37,55,.05);padding:0}
.news_list_met_11_5_5 .text-news.right-news{-webkit-border-top-left-radius:2px;border-top-left-radius:2px;-webkit-border-bottom-left-radius:2px;border-bottom-left-radius:2px}
.news_list_met_11_5_5 .text-news .head{border-bottom:1px solid;border-color:#666;border-color:#e7eaf1;margin-bottom:8px;background-color:#fff}
.news_list_met_11_5_5 .text-news .head h2{max-width:-webkit-calc(100% - 115px);max-width:calc(100% - 115px);overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;font-size:18px;color:#c33;font-weight:600;padding:15px;margin-bottom:0;text-align:left;margin-top:0}
.news_list_met_11_5_5 .text-news .head a{max-width:100px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;position:absolute;right:15px;top:15px;color:#666;-webkit-transition:color .5s ease-out;-o-transition:color .5s ease-out;transition:color .5s ease-out}
.news_list_met_11_5_5 .text-news .head a i{-webkit-transition:-webkit-transform .5s ease-out;transition:-webkit-transform .5s ease-out;-o-transition:transform .5s ease-out;transition:transform .5s ease-out;transition:transform .5s ease-out,-webkit-transform .5s ease-out}
.news_list_met_11_5_5 .text-news .head a:hover i{-webkit-transform:translateX(5px);-ms-transform:translateX(5px);transform:translateX(5px)}
.news_list_met_11_5_5 .text-list li{height:38px;overflow:hidden;line-height:38px;position:relative;padding:0 15px}
.news_list_met_11_5_5 .text-list li a{height:100%;max-width:-webkit-calc(100% - 60px);max-width:calc(100% - 60px);display:block}
.news_list_met_11_5_5 .text-list li a span:first-child{display:block;max-width:100%;color:#333;-webkit-transition:color .5s ease-out;-o-transition:color .5s ease-out;transition:color .5s ease-out;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.news_list_met_11_5_5 .text-list li a:hover span:first-child{color:#c33!important}
.news_list_met_11_5_5 .text-list li .time{position:absolute;top:0;right:15px;color:#666}
.news_list_met_11_5_5 .outpad{padding:0}
@media (max-width:991px){.news_list_met_11_5_5 .left-news{padding:0;-webkit-border-radius:2px;border-radius:2px}
.news_list_met_11_5_5 .text-news{margin-bottom:11px;-webkit-border-radius:2px;border-radius:2px}
.news_list_met_11_5_5 .img-news img{-webkit-border-radius:2px;border-radius:2px}
.news_list_met_11_5_5 .img-news h3{-webkit-border-bottom-right-radius:2px;border-bottom-right-radius:2px}
.news_list_met_11_5_5 .container{padding-right:.9375rem;padding-left:.9375rem}
}
.service_list_met_11_5_7{padding:10px 0;background-color:#fff}
.service_list_met_11_5_7 ul{padding:0;list-style:none;margin-bottom:0!important}
.service_list_met_11_5_7 .btn-more{padding:5px 15px;border:1px solid;color:#fff;background:#c33;background:#c33;display:block;width:110px;text-align:center;-webkit-transition:all .5s ease-out;-o-transition:all .5s ease-out;transition:all .5s ease-out;width:100px;-webkit-border-radius:2px;border-radius:2px;border-color:#c33;border-color:#c33}
.service_list_met_11_5_7 .btn-more:hover{opacity:.58;padding-left:15px;text-decoration:none}
.service_list_met_11_5_7 .service-list{padding:0;padding-right:22px}
.service_list_met_11_5_7 .service-list.col-lg-12{padding:0}
.service_list_met_11_5_7 .service-list .nav-item{margin-bottom:0;text-align:left}
.service_list_met_11_5_7 .service-list .nav-item:nth-child(1) a{-webkit-border-top-left-radius:2px;border-top-left-radius:2px}
.service_list_met_11_5_7 .service-list .nav-item:last-child a{-webkit-border-bottom-left-radius:2px;border-bottom-left-radius:2px}
.service_list_met_11_5_7 .service-list .nav-link{font-size:18px;-webkit-border-radius:2px 0 0 2px;border-radius:2px 0 0 2px;background-color:#fff;border-right-color:#666!important;border-right-color:#e7eaf1!important;color:#333}
.service_list_met_11_5_7 .service-list .nav-link.active{background:#c33;background:#c33;border-right-color:#c33!important;border-right-color:#c33!important;border-bottom-color:#c33!important;border-bottom-color:#c33!important;color:#fff}
.service_list_met_11_5_7 .service-list .nav-tabs-div{height:300px;overflow:hidden;background-color:#fff;border:1px solid;border-color:#666;border-color:#e7eaf1;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 1px 3px rgba(0,37,55,.05);box-shadow:0 1px 3px rgba(0,37,55,.05)}
.service_list_met_11_5_7 .service-list .nav-tabs-div .nav-tabs{border-right:1px solid;border-color:#666;border-color:#e7eaf1}
.service_list_met_11_5_7 .service-list p{line-height:28px;padding:15px 20px;color:#666;margin:0;text-align:left}
.service_list_met_11_5_7 .service-list .column-3{margin:0;text-align:left}
.service_list_met_11_5_7 .service-list .column-3 li{text-align:left;position:relative}
.service_list_met_11_5_7 .service-list .column-3 a{color:#333;font-size:15px}
.service_list_met_11_5_7 .service-list .column-3 a:before{position:absolute;content:'';height:14px;width:3px;background:#c33;left:0;top:5px}
.service_list_met_11_5_7 .single-list{height:300px;overflow:hidden;padding:0;overflow:hidden;background-color:#fff;-webkit-border-radius:2px;border-radius:2px;border:1px solid;border-color:#666;border-color:#e7eaf1;-webkit-box-shadow:0 1px 3px rgba(0,37,55,.05);box-shadow:0 1px 3px rgba(0,37,55,.05);padding:0}
.service_list_met_11_5_7 .single-list .content-list li{height:30px;overflow:hidden;line-height:30px;position:relative;padding:0 15px;text-align:left;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.service_list_met_11_5_7 .single-list li a{height:100%;max-width:270px;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;color:#333;-webkit-transition:color .5s ease-out;-o-transition:color .5s ease-out;transition:color .5s ease-out}
.service_list_met_11_5_7 .single-list li a:hover{color:#c33}
.service_list_met_11_5_7 .single-list li span{position:absolute;right:15px;color:#666}
.service_list_met_11_5_7 .head{border-bottom:1px solid;border-color:#666;border-color:#e7eaf1;background-color:#fff}
.service_list_met_11_5_7 .single-list h2{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;font-size:18px;color:#c33;font-weight:600;padding:15px;text-align:left;margin:0}
.service_list_met_11_5_7 .single-list .head a{max-width:100px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;position:absolute;right:15px;top:15px;color:#666;-webkit-transition:color .5s ease-out;-o-transition:color .5s ease-out;transition:color .5s ease-out}
.service_list_met_11_5_7 .single-list .head a i{-webkit-transition:-webkit-transform .5s ease-out;transition:-webkit-transform .5s ease-out;-o-transition:transform .5s ease-out;transition:transform .5s ease-out;transition:transform .5s ease-out,-webkit-transform .5s ease-out}
.service_list_met_11_5_7 .single-list .head a:hover i{-webkit-transform:translateX(5px);-ms-transform:translateX(5px);transform:translateX(5px)}
.service_list_met_11_5_7 .single-list .content p{margin:0}
.service_list_met_11_5_7 .single-list .content img{width:100%;height:auto}
.service_list_met_11_5_7 .video-js{margin:0;width:100%!important}
.service_list_met_11_5_7 .vjs-poster{-webkit-background-size:cover;background-size:cover}
.service_list_met_11_5_7 iframe{width:100%!important}
@media (max-width:991px){.service_list_met_11_5_7 .service-list{padding:0;padding-bottom:20px}
}
@media (max-width:768px){.service_list_met_11_5_7 .service-list .nav-tabs-div,.service_list_met_11_5_7 .single-list{height:auto}
}
@media (max-width:767px){.service_list_met_11_5_7 .service-list .nav-link{font-size:16px;padding:5px 15px}
.service_list_met_11_5_7 .tab-detail{padding:10px}
.service_list_met_11_5_7 .tab-detail img{margin-bottom:20px}
.service_list_met_11_5_7 .service-list .nav-tabs-div,.service_list_met_11_5_7 .single-list{height:auto}
}
.team_list_met_11_4_41{padding:0;position:relative;padding:70px 0}
.team_list_met_11_4_41 .team-bg{width:100%;position:absolute;left:0;top:0;height:100%}
.team_list_met_11_4_41 .team-bg img{width:100%;position:absolute;left:0;top:0;height:100%}
@media (max-width:991px){.team_list_met_11_4_41 .team-bg{padding:20px 0}
}
.team_list_met_11_4_41 .slick-dots{bottom:-45px}
.team_list_met_11_4_41 .slick-dots li button:before{width:10px;height:10px;border:1px solid;border-color:#666;-webkit-border-radius:10px;border-radius:10px;color:transparent;-webkit-transition:all ease-out .3s;-o-transition:all ease-out .3s;transition:all ease-out .3s;opacity:1}
.team_list_met_11_4_41 .slick-dots .slick-active button:before{background-color:#666;border:1px solid #666;border:1px solid;-webkit-transition:all ease-out .3s;-o-transition:all ease-out .3s;transition:all ease-out .3s}
.team_list_met_11_4_41 .item>div{background:#fff;border:1px solid;border-color:#666;border-color:#f2f2f2;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 1px 3px rgba(0,37,55,.05);box-shadow:0 1px 3px rgba(0,37,55,.05);height:px;overflow:hidden}
.team_list_met_11_4_41 .item a{display:block;overflow:hidden}
.team_list_met_11_4_41 .item a img{width:100%;-webkit-border-top-left-radius:2px;border-top-left-radius:2px;-webkit-border-top-right-radius:2px;border-top-right-radius:2px}
.team_list_met_11_4_41 .item .content{padding:0 15px 25px 15px}
.team_list_met_11_4_41 .item .content .title{font-size:20px;color:#333;font-weight:600;margin-top:15px}
.team_list_met_11_4_41 .item .content .keywords{color:#666;font-size:24px;line-height:24px;margin-top:15px;font-weight:400;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:0}
.team_list_met_11_4_41 .item .content .desc{font-size:13px;overflow:hidden;color:#666;margin-top:15px}
.team_list_met_11_4_41 .more{color:#c33;font-size:14px}
.team_list_met_11_4_41 .more:hover{text-decoration:underline}
@media (max-width:767px){.team_list_met_11_4_41{padding:30px 0}
.team_list_met_11_4_41 .team-bg{padding:0}
.team_list_met_11_4_41 .slick-dots{bottom:-25px}
}
.notice{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;border:1px solid #e7eaf1;padding:0 15px;margin-top:10px}
.tab-pane .tab-detail ul li{width:100%;text-align:left;line-height:30px}
.tab-pane .tab-detail ul li a{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.tab-pane .tab-detail ul li a span{width:70%;height:30px;overflow:hidden;display:block;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}
@media (max-width:320px){.notice-title{width:150px}
}
@media (max-width:375px){.notice-title{width:150px}
}
@media (max-width:414px){.notice-title{width:150px}
}
@media (min-width:767px){.list .collapse{display:block!important}
}
@media (min-width:768px){.list .collapse{display:block!important}
}
@media (min-width:992px){.list .collapse{display:block!important}
}
@media (min-width:1200px){.list .collapse{display:block!important}
}
@media (min-width:1600px){.list .collapse{display:block!important}
}
.szc_about{padding:20px 0}
.szc_about hr{margin-top:20px;margin-bottom:20px;border-top-color:#e4eaec;color:#222}
.szc_about p{width:100%;margin-bottom:16px;font-size:16px;overflow:hidden;padding:0 10px}
.slider{font-size:14px;height:auto!important;margin:10px 0}
.slider a{text-decoration:none}
.announcement{height:40px;overflow:hidden}
.announcement a{color:#294c7f;text-decoration:none;display:block;line-height:40px;height:40px;text-indent:1em;overflow:hidden;font-size:14px}
.head_nav_met_11_5_1{min-height:60px;margin-bottom:0;-webkit-box-shadow:none;box-shadow:none;-webkit-border-radius:0;border-radius:0;background-color:#fff;z-index:1601}
.head_nav_met_11_5_1 .met-head-user{margin-left:15px}
.head_nav_met_11_5_1.navbar-shadow{-webkit-box-shadow:0 10px 30px -10px rgba(0,0,0,.2);box-shadow:0 10px 30px -10px rgba(0,0,0,.2);-webkit-animation-duration:.25s;animation-duration:.25s}
.head_nav_met_11_5_1.navbar-fixed-top .navbar-right{margin-right:0}
.head_nav_met_11_5_1 .nav-item .nav-link{color:#333;overflow:visible;-webkit-transition:all .25s ease-out 0s;-o-transition:all .25s ease-out 0s;transition:all .25s ease-out 0s;font-size:16px;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.head_nav_met_11_5_1 .nav-item .nav-link:hover{color:#fff;background:#c33;background:#c33}
.head_nav_met_11_5_1 .navbar-collapse.flex-navlist{width:100%}
.head_nav_met_11_5_1 .navlist.flex{width:100%;margin-right:0!important}
.head_nav_met_11_5_1 .navlist.flex .nav-item .nav-link{padding:0!important}
.head_nav_met_11_5_1 .navlist.flex .met-langlist{margin-left:0!important}
.head_nav_met_11_5_1 .navlist.flex .met-langlist .btn{padding:0}
.head_nav_met_11_5_1 .navlist.flex .nav-item{text-align:center;-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto}
.head_nav_met_11_5_1 .dropdown-item.active{color:#c33!important;color:#c33!important}
#met-nav-collapse .dropdown.open>.nav-link,#met-nav-collapse .nav li .nav-link.active{color:#fff!important;background:#c33;background:#c33}
.head_nav_met_11_5_1-header.navbar-shadow{height:60px}
.head_nav_met_11_5_1-header.navbar-shadow .top-box{display:none}
.head_nav_met_11_5_1 #met-head-user-collapse{line-height:60px;height:60px!important}
.head_nav_met_11_5_1 #met-head-user-collapse .btn-primary{font-size:16px;color:#333;background-color:transparent;border:0;padding:0 10px;-webkit-transition:all 256ms cubic-bezier(.17,.84,.44,1);-o-transition:all 256ms cubic-bezier(.17,.84,.44,1);transition:all 256ms cubic-bezier(.17,.84,.44,1);height:60px;line-height:60px;position:relative;top:-2px}
.head_nav_met_11_5_1 #met-head-user-collapse .btn-primary:hover{color:#fff;background:#c33;background:#c33}
.head_nav_met_11_5_1 #met-head-user-collapse .btn-success{font-size:16px;height:60px;position:relative;top:-2px;line-height:60px;color:#333;background-color:transparent;border:0;padding:0 10px;-webkit-transition:all 256ms cubic-bezier(.17,.84,.44,1);-o-transition:all 256ms cubic-bezier(.17,.84,.44,1);transition:all 256ms cubic-bezier(.17,.84,.44,1)}
.head_nav_met_11_5_1 #met-head-user-collapse .btn-success:hover{color:#fff;background:#c33;background:#c33}
.head_nav_met_11_5_1 .dropdown-item{color:#666;color:#c33}
.head_nav_met_11_5_1 .dropdown-item:hover{color:#c33;color:#c33}
.head_nav_met_11_5_1 .overflow-visible{overflow:visible!important}
.head_nav_met_11_5_1 .navbar-toggle{height:60px;float:right}
.head_nav_met_11_5_1 .head_nav_met_11_5_1-login{padding-top:15px;text-align:center}
.head_nav_met_11_5_1 .dropdown-menu>li>a{overflow:hidden}
.head_nav_met_11_5_1 .dropdown-menu>li>a:hover{background:#f2f2f2 none repeat scroll 0 0;text-indent:5px;-webkit-transition:all 256ms cubic-bezier(.17,.84,.44,1);-o-transition:all 256ms cubic-bezier(.17,.84,.44,1);transition:all 256ms cubic-bezier(.17,.84,.44,1)}
.head_nav_met_11_5_1 .met-langlist{line-height:60px;position:relative;height:60px}
.head_nav_met_11_5_1 .met-langlist a{line-height:21px}
.head_nav_met_11_5_1 .met-langlist .btn{color:#333;border:0;padding:0 15px;height:60px;position:relative;top:-2px;font-size:16px}
.head_nav_met_11_5_1 .met-langlist .dropdown-menu{min-width:100%;top:34px}
.head_nav_met_11_5_1 .met-langlist .open .btn{color:#fff;background:#c33;background:#c33}
.head_nav_met_11_5_1 .met-langlist .btn:active,.head_nav_met_11_5_1 .met-langlist .btn:focus,.head_nav_met_11_5_1 .met-langlist .btn:hover{color:#fff;background:#c33;background:#c33}
@media (min-width:768px){.head_nav_met_11_5_1 .logo-two{display:none}
.head_nav_met_11_5_1-header.navbar-shadow .head_nav_met_11_5_1 .logo-two{display:block}
.head_nav_met_11_5_1 .nav>li>a{padding:0 15px!important;height:60px;line-height:60px!important;display:block;position:relative;-webkit-transition:all .25s ease-out 0s;-o-transition:all .25s ease-out 0s;transition:all .25s ease-out 0s}
.head_nav_met_11_5_1 .dropdown-menu{top:44px;border:none;-webkit-border-radius:0;border-radius:0;border-top:3px solid;border-color:#c33;border-color:#c33;z-index:1603}
.head_nav_met_11_5_1 .dropdown-menu .dropdown-submenu>a:after{display:none}
.head_nav_met_11_5_1 .dropdown-menu .dropdown-submenu>a i{position:absolute;right:10px;font-size:12px}
.head_nav_met_11_5_1 .dropdown-menu.bullet{top:60px}
.head_nav_met_11_5_1 .head_nav_met_11_5_1-login{height:60px;padding-top:0;margin-left:10px}
}
@media (max-width:991px){.head_nav_met_11_5_1 .dropdown-menu .dropdown-submenu>a:after{display:none}
.head_nav_met_11_5_1 .dropdown-menu .dropdown-submenu>a>i{float:right}
.head_nav_met_11_5_1 .met-logo img{max-height:50px}
.head_nav_met_11_5_1 .nav>li>a>i{float:right}
.head_nav_met_11_5_1 .nav-item .nav-link{font-size:14px}
.head_nav_met_11_5_1-header p{height:60px;white-space:nowrap}
.head_nav_met_11_5_1-header p span{display:inline-block;height:60px}
.head_nav_met_11_5_1-header .search-box{float:right}
.head_nav_met_11_5_1-header .contact-index{float:left;margin-right:30px;max-width:300px}
.head_nav_met_11_5_1-header .logo-box{top:0!important}
.head_nav_met_11_5_1 .navbar-shadow .met-nav-logo{display:none!important}
.navbar-shadow .met-nav-logo{display:block!important}
}
.head_nav_met_11_5_1 .mobile-show,.head_nav_met_11_5_1.navbar.navbar-default .logo-box{display:none}
@media (max-width:767px){.head_nav_met_11_5_1 .logo-two{display:none!important}
.head_nav_met_11_5_1-header .top-box{display:none}
.head_nav_met_11_5_1 .mobile-search{float:right}
body.met-navfixed{padding-top:120px}
.head_nav_met_11_5_1-header .row{padding:0 15px}
.head_nav_met_11_5_1-header .logo-box{height:60px;line-height:60px;display:none}
.head_nav_met_11_5_1-header .logo-box img{max-width:180px;max-height:50px}
.head_nav_met_11_5_1-header .search-box{height:60px;line-height:60px}
.head_nav_met_11_5_1-header .m-search{display:block}
.head_nav_met_11_5_1-header .m-search i{font-size:18px;padding:8px;background:0 0;color:#333;margin-top:13px}
.head_nav_met_11_5_1-header .search-index{display:none}
.head_nav_met_11_5_1-header .contact-index{display:none}
.head_nav_met_11_5_1 .met-langlist{padding:0 15px}
.head_nav_met_11_5_1 .nav>li{margin-left:0!important}
.head_nav_met_11_5_1 .dropdown-menu>li>.dropdown-menu>li>a{padding-left:40px}
.head_nav_met_11_5_1 .dropdown-menu.bullet:after,.head_nav_met_11_5_1 .dropdown-menu.bullet:before{display:none}
.head_nav_met_11_5_1 .navbar-collapse-toolbar.in{max-height:480px;overflow-y:scroll}
.head_nav_met_11_5_1 .met-logo{float:none;max-width:180px}
.head_nav_met_11_5_1 .navbar-collapse-toolbar{width:100%;padding:0 15px!important;border-color:#e4eaec}
.head_nav_met_11_5_1 .nav>li>a{padding:10px 15px;line-height:25px}
.head_nav_met_11_5_1 .nav li .link.active:after{height:1px;bottom:0;top:auto;left:15px}
.head_nav_met_11_5_1 .nav>li>.link:after{height:1px;bottom:0;top:auto;left:15px}
.head_nav_met_11_5_1 .nav>li>.link:hover:after{height:1px;bottom:0;top:auto;left:15px}
.head_nav_met_11_5_1 .met-head-user{width:100%;margin:0}
.head_nav_met_11_5_1 .navbar-toggler{color:#333;padding:0;height:60px;margin:0;text-align:right;width:20px}
.head_nav_met_11_5_1 .navbar-toggler .hamburger-bar{background:#333}
.head_nav_met_11_5_1 .navbar-toggler:before{background:#333}
.head_nav_met_11_5_1 .navbar-toggler:after{background:#333}
.head_nav_met_11_5_1 .met-head-user-toggler{margin-right:15px!important}
.head_nav_met_11_5_1 .nav-item .nav-link:before{top:0}
.head_nav_met_11_5_1 .open .dropdown-menu{background:#fff;border-top:3px solid;border-color:#c33}
.head_nav_met_11_5_1 .dropdown-item .dropdown-menu{display:block}
.met-nav-logo{left:15px;top:5px}
.met-nav-logo img{max-width:180px;height:50px}
.head_nav_met_11_5_1-header .search-box.mobile-hide,.head_nav_met_11_5_1-header .top-box.mobile-hide{display:none}
.head_nav_met_11_5_1.navbar.navbar-default .logo-box.mobile-show{display:block}
}
.banner_met_11_5_2{width:100%;height:auto;display:table}
.banner_met_11_5_2.slick-slider{display:block}
.banner_met_11_5_2 .slick-list,.banner_met_11_5_2 .slick-track{height:100%}
.banner_met_11_5_2 .slick-slide{height:auto;position:relative;overflow:hidden;display:none}
.banner_met_11_5_2 .slick-slide:first-child,.banner_met_11_5_2.slick-slider .slick-slide{display:block}
.banner_met_11_5_2 .slick-slide a{width:100%;height:100%;display:block;position:absolute;left:0;top:0}
.banner_met_11_5_2 .slick-slide img[data-lazy]{max-height:150px}
.banner_met_11_5_2 .slick-arrow{border-color:transparent;width:50px;height:100px;top:50%;text-align:center;display:none!important;z-index:1;position:absolute;background:#c33;-webkit-transition:opacity .5s ease-out;-o-transition:opacity .5s ease-out;transition:opacity .5s ease-out}
.banner_met_11_5_2 .slick-arrow:before{display:none}
.banner_met_11_5_2:hover .slick-arrow{display:block}
.banner_met_11_5_2 .slick-arrow.slick-prev{-webkit-border-top-right-radius:5px;border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px}
.banner_met_11_5_2 .slick-arrow i{color:#fff;font-size:50px;line-height:100px}
.banner_met_11_5_2 .slick-arrow.slick-next{-webkit-border-top-left-radius:5px;border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px}
.banner_met_11_5_2 .slick-arrow:hover{opacity:1}
.banner_met_11_5_2 .slick-dots{margin:0;bottom:20px}
.banner_met_11_5_2 .slick-dots li{width:10px;height:10px;background:#c33;opacity:.4;-webkit-border-radius:100%;border-radius:100%;-webkit-transition:all .5s ease-out;-o-transition:all .5s ease-out;transition:all .5s ease-out;margin:0 5px}
.banner_met_11_5_2 .slick-dots li.slick-active{width:20px;opacity:1;-webkit-border-radius:10px;border-radius:10px}
.banner_met_11_5_2 .slick-dots li button{display:none}
.banner_met_11_5_2 .banner-text{width:100%;height:100%;position:absolute;left:0;top:0}
.banner_met_11_5_2 .banner-text .container{height:100%;display:table;text-align:center}
.banner_met_11_5_2 .banner-text .container .banner-text-con{display:table-cell;vertical-align:middle}
.banner_met_11_5_2 .banner-text.p-0 .container{text-align:left}
.banner_met_11_5_2 .banner-text.p-0 .container .banner-text-con div{width:60%;float:left}
.banner_met_11_5_2 .banner-text.p-1 .container{text-align:right}
.banner_met_11_5_2 .banner-text.p-1 .container .banner-text-con div{width:60%;float:right}
.banner_met_11_5_2 .banner-text.p-2{top:10%}
.banner_met_11_5_2 .banner-text.p-2 .container .banner-text-con{vertical-align:top}
.banner_met_11_5_2 .banner-text.p-3{top:auto;bottom:10%}
.banner_met_11_5_2 .banner-text.p-3 .container .banner-text-con{vertical-align:bottom}
.banner_met_11_5_2 .banner-text.p-2 .container .banner-text-con div,.banner_met_11_5_2 .banner-text.p-3 .container .banner-text-con div,.banner_met_11_5_2 .banner-text.p-4 .container .banner-text-con div{width:60%;display:inline-block}
.banner_met_11_5_2 .banner-text .line{width:81px;height:4px;background:#c33;display:block;margin:0 auto;margin-bottom:36px}
.banner_met_11_5_2 .banner-text.p-0 .line{margin-left:0}
.banner_met_11_5_2 .banner-text.p-1 .line{margin-right:0}
.banner_met_11_5_2 .banner-text h3,.banner_met_11_5_2 .banner-text p{color:#fff}
.banner_met_11_5_2 .banner-text h3{margin:0;font-size:30px;font-weight:600!important}
.banner_met_11_5_2 .banner-text h3 b{color:#c33}
.banner_met_11_5_2 .banner-text p{font-size:42px;margin:20px 0 0;text-shadow:none}
.banner_met_11_5_2 .banner-text .btn{margin-top:30px;font-size:20px}
@media (min-width:768px){.banner_met_11_5_2:hover .slick-arrow{display:block!important}
}
@media (max-width:991px){.banner_met_11_5_2 .banner-text h3{font-size:30px}
.banner_met_11_5_2 .banner-text p{font-size:20px}
}
@media (max-width:767px){.banner_met_11_5_2 .slick-dots{bottom:5px}
.banner_met_11_5_2 .slick-dots li{width:8px;height:8px}
.banner_met_11_5_2 .slick-dots li.slick-active{width:16px}
.banner_met_11_5_2 .slick-arrow i{font-size:50px}
.banner_met_11_5_2 .banner-text .container{width:100%}
.banner_met_11_5_2 .banner-text.p-4 .container .banner-text-con{width:100%}
.banner_met_11_5_2 .banner-text h3{font-size:24px;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.banner_met_11_5_2 .banner-text p{margin-top:15px;font-size:18px}
.banner_met_11_5_2 .banner-text .btn{margin-top:20px;font-size:16px}
}
@media (max-width:479px){.banner_met_11_5_2 .banner-text h3{font-size:20px}
.banner_met_11_5_2 .banner-text p{margin-top:10px;font-size:16px}
}
.banner_met_11_5_2-ny{background-color:#fff;height:120px}
.banner_met_11_5_2-ny h1{margin:0;padding:10px 30px;font-size:35px;text-shadow:none;color:#333}
.foot_nav_met_11_2_8{padding:32px 0 32px;background-color:#0D52AE;border-color:#f0f2f5}
@media (max-width:768px){.foot_nav_met_11_2_8{padding:50px 0 32px}
}
@media (max-width:767px){.foot_nav_met_11_2_8{padding:20px 0 32px}
}
.foot_nav_met_11_2_8 .list{margin-bottom:20px}
.foot_nav_met_11_2_8 .list h4{text-align:left;font-size:14px;margin:0;text-shadow:none;padding:0 0 14px;color:#fff}
.foot_nav_met_11_2_8 .list h4 a{color:#fff;-webkit-transition:color .2s ease-out;-o-transition:color .2s ease-out;transition:color .2s ease-out}
.foot_nav_met_11_2_8 .list h4 a:hover{color:#8eddff}
.foot_nav_met_11_2_8 .list h4 i{display:none}
.foot_nav_met_11_2_8 .list ul li{-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;position:relative;text-align:left;padding:0;margin-bottom:3px;color:#666;color:#8eddff}
.foot_nav_met_11_2_8 .list ul li a{font-size:12px;color:#8eddff;padding:6px 0;-webkit-transition:color .2s ease-out;-o-transition:color .2s ease-out;transition:color .2s ease-out}
.foot_nav_met_11_2_8 .list ul li a i{font-size:13px;padding-right:5px;width:20px;height:20px}
.foot_nav_met_11_2_8 .list ul li a:hover{color:#8eddff}
.foot_nav_met_11_2_8 .info{text-align:right}
.foot_nav_met_11_2_8 .info .foot-tel{font-size:30px;text-shadow:none;color:#fff;display:block}
.foot_nav_met_11_2_8 .info p{color:#8eddff;font-size:13px}
.foot_nav_met_11_2_8 .info .btn-message{float:right;width:102px;height:32px;line-height:32px;background-color:#f5f5f5;cursor:pointer;font-size:14px;padding:0 0 0 26px;text-align:left;color:#c33;border:1px solid #f5f5f5;-webkit-border-radius:5px;border-radius:5px;-webkit-box-sizing:content-box;box-sizing:content-box;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.foot_nav_met_11_2_8 .iconimg{margin-bottom:2px;margin-right:1px;max-width:20px}
.foot_nav_met_11_2_8 .iconul li{text-align:left!important;padding-left:12px!important}
@media (max-width:991px){.foot_nav_met_11_2_8 .list{margin-bottom:20px}
.foot_nav_met_11_2_8 .info{text-align:center}
.foot_nav_met_11_2_8 .info .btn-message{float:none;margin:8px auto;display:block}
}
@media (max-width:767px){.foot_nav_met_11_2_8 .container{padding:0}
.foot_nav_met_11_2_8 .nav-list{padding:0}
.foot_nav_met_11_2_8 .list{margin:0;padding:0}
.foot_nav_met_11_2_8 .list h4{line-height:1;text-align:left;position:relative;padding:0;border-bottom:1px solid #eee}
.foot_nav_met_11_2_8 .list h4 a{display:block;padding:13px 12px 13px 18px}
.foot_nav_met_11_2_8 .list h4 i{display:block;font-size:12px;color:#666;color:#8eddff;-webkit-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;position:absolute;top:13px;right:10px}
.foot_nav_met_11_2_8 .list ul li{text-align:left;padding:13px 12px 13px 18px}
.foot_nav_met_11_2_8 .list ul li:after{content:"";width:-webkit-calc(80%);width:calc(80%);height:2px;background:#eee;position:absolute;bottom:0;-webkit-transform:scaleY(.33333);-ms-transform:scaleY(.33333);transform:scaleY(.33333);-webkit-transform-origin:center top;-ms-transform-origin:center top;transform-origin:center top;left:15px}
.foot_nav_met_11_2_8 .list ul li a{padding:6px 0}
.foot_nav_met_11_2_8 .list ul{background-color:#fff}
.foot_nav_met_11_2_8 .info{padding:15px;text-align:left}
.foot_nav_met_11_2_8 .info .btn-message{float:left}
.foot_nav_met_11_2_8 .info .foot-tel{font-size:24px}
}