---
layout: default1
title: 美食天地
---
<style>
    .close{
        color: #fff;
        font-size:2.2rem;
        opacity: 1;
        width:30px;
        height:30px;
    }
    .close span{
        background: #333333;
        height: 30px;
        display: block;
        line-height: 28px;
        border-radius: 50px;
    }
    .rightclose{
        position: absolute;
        right: -7px;
        top: -15px;
        z-index: 1000;
    }
    .topImg{
        height:200px;
        overflow: hidden;
        position: relative;
    }
    .topImg img{
        position: absolute;
        top:-25px;
    }
    .card-text{
        height:160px;
        text-indent: 2em;
    }
    i{
        width: 30px;
        height: 30px;
        line-height:30px;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 30px;
        background-color: #17a2b8;
        color: #fff;
    }
</style>
<div class="swiper-container carousel">
    <div class="swiper-wrapper">
        {% for entry in site.data.swiper %}
        {% for swiper in entry.meishitd %}
            <div class="swiper-slide">
                <img src="assets/img/meishi_img/{{swiper.src}}.jpg" class="d-block w-100" alt="">
            </div>
        {% endfor %}
        {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
{% for entry in site.data.examples %}
    {% for example in entry.meishitd %}
     {% if forloop.first %}<div class="container p-2 m-scene">{% endif %}
        <div class="card shadow-sm border-0 mb-2 animated fadeinup delay-{{ example.index }}">
            <a href="javascript:;" data-toggle="modal" data-target="#intro{{ example.num }}" class="p-1">
                <div class="d-flex align-items-center">
                    <div class="col-2 pl-0 pr-2 text-center">
                       <i class="web-font">{{ example.paihang }}</i>
                    </div>
                    <div class="col-3 pr-2 pl-0">
                        <img class="img-thumbnail1 border-0 p-0" src="assets/img/meishi_img/mstd/{{ example.title | slugify }}.jpg" width="150" />
                    </div>
                    <div class="col-7 p-0 d-flex align-items-center justify-content-between">
                        <h6 class="mb-0" style="line-height:24px;">{{ example.name }}</h6>
                        <img src="assets/img/right-circle.png" width="10%" class="mr-2">
                    </div>
                </div>
            </a>
        </div>
       {% if forloop.last %}</div>{% endif %}
        <div class="modal fade" id="intro{{ example.num }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="card">
                        <div class="rightclose">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="topImg">
                            <img class="rounded-top border-0 w-100" src="assets/img/meishi_img/mstd/{{ example.title | slugify }}.jpg">
                        </div>
                        <div class="card-body p-4">
                            <h5 class="card-title text-center">【{{ example.name }}】</h5>
                            <p class="card-text mb-3 text-justify overflow-auto">{{ example.content }}</p>
                            <a href="{{ example.url }}" class="btn btn-warning btn-block"> 点击进入订餐 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
{% include footer1.html %}