---
layout: default
title: 公司详情
---

<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_bg  bg3">
                    <a class="hd-lbtn mui-action-back" href="javascript:history.back();"><i class="header_top_l"></i></a>
                    <div class="header_h1">
                        <div class="header_p_z"> 公司详情</div>
                    </div>

                </div>
            </div>
        </div>
    </header>
</div>

<div class="header_navlist">
    <a href="javascript:void(0);" id="jobclick"><i class="naviconfont"></i></a>
</div>
<style>
    .img_auto img {
        max-width: 100%;
    }
</style>
<section>
    <div class="company_info">

        <div class="company_info_logo muipreview">
            <img class="avatar" src="images/15396827432049.jpeg" onerror="showImgDelay(this,&#39;https://www.zhirimao.com/data/logo/20170418/14906489056.PNG&#39;,2);"
                data-preview-src="" data-preview-group="1">
        </div>
    </div>

    <div class="company_cominfo">
        <div class="company_infonname">
            广东维佩实业投资有限公司 </div>

        <div class="company_cominfo_p">
            <div class="company_cominfo_p_hy">房地产/建筑/建材/工程</div>
            <span class="company_info_basic"> 广东/惠州</span> <span class="company_info_basic company_info_basic_xz">民营企业</span>
            <span class="company_info_basic company_info_basic_zz">3000万元</span><span class="company_info_basic company_info_basic_rs">10-50人</span>

        </div>

        <div class="com_show_fl com_show_fl_ct">
            <span class="com_show_fl_s">法定节假日</span> <span class="com_show_fl_s">年终奖金</span> <span class="com_show_fl_s">综合补贴</span>
            <span class="com_show_fl_s">销售奖金</span> </div>

    </div>
</section>
<div class="com_map ">
    <a href=""><span class="com_map_name">地址</span>江北富力国际中心1301<em id="distance">(2489.5km)</em><i class="com_map_name_icon"></i><i
            class="com_map_name_jt"></i></a>
    <input type="hidden" id="map_x" value="101.98323006497">
    <input type="hidden" id="map_y" value="4.2154931079787"> </div>

<section>
    <div class=" mt15 none" id="businessInfo">
        <div class="com_new_contnet_box ">
            <div class="wap_title"><span class="">工商信息</span></div>

            <!----天眼查------->

            <div class="business">
                <div class="businessInfo">
                    <ul class="basicMsgList clearfix" style="line-height:30px;height:275px; overflow:hidden" id="com_business">
                        <li>
                            <div class="clearfix"><span>统一社会信用代码：</span><em id="creditCode"></em></div>
                        </li>
                        <li>
                            <div class="clearfix"><span>成立日期：</span><em id="estiblishTime"></em></div>
                        </li>
                        <li>
                            <div class="clearfix"><span>组织机构代码：</span><em id="orgNumber"></em></div>
                        </li>
                        <li>
                            <div class="clearfix"><span>经营期限：</span><em id="Time"></em></div>
                        </li>
                        <li>
                            <div class="clearfix"><span>企业类型：</span><em id="companyOrgType"></em></div>
                        </li>
                        <li>
                            <div class="clearfix"><span>登记机关：</span><em id="regInstitute"></em></div>
                        </li>
                        <li>
                            <div class="clearfix"><span>经营状态：</span><em id="regStatus"></em></div>
                        </li>
                        <li>
                            <div class="clearfix"><span>注册资本：</span><em id="regCapital"></em></div>
                        </li>
                        <li>
                            <div class="clearfix"><span>注册地址：</span><em id="regLocation"></em></div><em id="regLocation">
                            </em>
                        </li><em id="regLocation">
                            <li>
                                <div class="clearfix"><span>经营范围：</span><em id="businessScope"></em></div><em id="businessScope">
                                </em>
                            </li><em id="businessScope">
                            </em>
                        </em>
                    </ul><em id="regLocation"><em id="businessScope">
                            <div class="qxb clearfix">
                                <div class="qxb_tg" style="background:#fafafa; padding:5px 10px ; text-align:center"><span>以上内容由</span>
                                    <span class="hxb"><a href="" class="tianyancha" id="tianyancha" target="_blank"><img
                                                src="images/tycc.png" height="30" style="vertical-align:middle"></a>
                                    </span> <span>提供</span></div>
                            </div>
                        </em></em>
                </div><em id="regLocation"><em id="businessScope">
                        <div class="on-off" style="background:#f8f8f8; padding:5px 10px ;text-align: center"><a href="javascript:;"
                                onclick="showbb()">展开信息</a></div>
                    </em></em>
            </div><em id="regLocation"><em id="businessScope">
                    <!---------END------>
                </em></em>
        </div><em id="regLocation"><em id="businessScope">
            </em></em>
    </div><em id="regLocation"><em id="businessScope">
        </em></em>
</section><em id="regLocation"><em id="businessScope">

        <section id="content">
            <div class=" mt15">
                <div class="com_new_contnet_box ">
                    <div class="wap_title"><span class="">公司简介</span></div>

                    <div class="user_contnet_box_p  jobshow_content_lh muipreview">

                        <div style="width:100%;height:auto; overflow:hidden" id="com_content" class="img_auto">
                            <p>公司主要经营：工装家装基础部分、装修贷款、掌上社区生活服务等。本公司设有培训部、营运部、项目部、法务部、贷款部、财务部、行政部等部门</p>
                        </div>
                        <div class="com_show_cont none"><a href="javascript:;" onclick="showcc()">展开信息</a></div>


                    </div>

                </div>
            </div>
        </section>

        <section id="tel">
            <div class=" mt15">
                <div class="com_new_contnet_box ">
                    <div class="wap_title"><span class="">联系方式</span></div>


                    <ul class="com_post_msg com_post_msg_touch ">
                        <li><i class="com_post_msg_touch_icon iconfont_jobshow_teluser"></i>联&nbsp;系&nbsp;人：谢小姐</li>
                        <li class="com_post_msg_tel"><i class="com_post_msg_touch_icon iconfont_jobshow_telip"></i>联系手机：
                            <a href="tel:13725016252" class="com_post_msg_tel_n">13725016252<span class="com_post_tel_bd"><i
                                        class="com_post_sj iconfont"></i>
                                    <div class="com_post_tel_bd_p">拨打</div>
                                </span></a>
                        </li>
                    </ul>

                </div>
            </div>
        </section>

        <section>
        </section>

        <section id="job">
            <div class=" mt15">
                <div class="index_warp_content">
                    <div class="wap_title"><span class="">正在招聘的职位</span></div>
                    <div class="com_show_joblist">
                        <a href="" class="job_list">
                            <h3>营销总监</h3>
                            <aside class="job_qy_name">
                                <strong style="color:#ff6a6a; font-weight:normal">￥面议</strong>
                            </aside>
                            <div class="com_show_jiobc">
                                <span class="com_show_city"><i class="com_show_city_icon"></i>广东-惠州</span> <span class="com_show_jy"><i
                                        class="com_show_jy_icon"></i>5年以上经验 </span> <span class="com_show_jy"><i class="com_show_xl_icon"></i>大专学历
                                </span> </div>
                            <aside class="job_pay"><span class="job_t_date job_t_date_t"> 一周内 </span>
                            </aside>
                        </a>
                    </div>
                    <div class="com_show_joblist">
                        <a href="" class="job_list">
                            <h3>销售代表</h3>
                            <aside class="job_qy_name">
                                <strong style="color:#ff6a6a; font-weight:normal">￥面议</strong>
                            </aside>
                            <div class="com_show_jiobc">
                                <span class="com_show_city"><i class="com_show_city_icon"></i>广东-惠州</span> <span class="com_show_jy"><i
                                        class="com_show_jy_icon"></i>2年以上经验 </span> <span class="com_show_jy"><i class="com_show_xl_icon"></i>高中学历
                                </span> </div>
                            <aside class="job_pay"><span class="job_t_date job_t_date_t"> 09:28 </span>
                            </aside>
                        </a>
                    </div>
                    <div class="com_show_joblist">
                        <a href="" class="job_list">
                            <h3>前台文员</h3>
                            <aside class="job_qy_name">
                                <strong style="color:#ff6a6a; font-weight:normal">￥面议</strong>
                            </aside>
                            <div class="com_show_jiobc">
                                <span class="com_show_city"><i class="com_show_city_icon"></i>广东-惠州</span> <span class="com_show_jy"><i
                                        class="com_show_jy_icon"></i>1年以上经验 </span> <span class="com_show_jy"><i class="com_show_xl_icon"></i>高中学历
                                </span> </div>
                            <aside class="job_pay"><span class="job_t_date job_t_date_t"> 09:32 </span>
                            </aside>
                        </a>
                    </div>
                    <div class="com_show_joblist">
                        <a href="" class="job_list">
                            <h3>平面广告设计师</h3>
                            <aside class="job_qy_name">
                                <strong style="color:#ff6a6a; font-weight:normal">￥面议</strong>
                            </aside>
                            <div class="com_show_jiobc">
                                <span class="com_show_city"><i class="com_show_city_icon"></i>广东-惠州</span> <span class="com_show_jy"><i
                                        class="com_show_jy_icon"></i>3年以上经验 </span> <span class="com_show_jy"><i class="com_show_xl_icon"></i>大专学历
                                </span> </div>
                            <aside class="job_pay"><span class="job_t_date job_t_date_t"> 一周内 </span>
                            </aside>
                        </a>
                    </div>
                    <div class="com_show_joblist">
                        <a href="" class="job_list">
                            <h3>设计总监助理</h3>
                            <aside class="job_qy_name">
                                <strong style="color:#ff6a6a; font-weight:normal">￥面议</strong>
                            </aside>
                            <div class="com_show_jiobc">
                                <span class="com_show_city"><i class="com_show_city_icon"></i>广东-惠州</span> <span class="com_show_jy"><i
                                        class="com_show_jy_icon"></i>3年以上经验 </span> <span class="com_show_jy"><i class="com_show_xl_icon"></i>中专学历
                                </span> </div>
                            <aside class="job_pay"><span class="job_t_date job_t_date_t"> 一周内 </span>
                            </aside>
                        </a>
                    </div>
                    <div class="com_show_joblist">
                        <a href="" class="job_list">
                            <h3>法务</h3>
                            <aside class="job_qy_name">
                                <strong style="color:#ff6a6a; font-weight:normal">￥面议</strong>
                            </aside>
                            <div class="com_show_jiobc">
                                <span class="com_show_city"><i class="com_show_city_icon"></i>广东-惠州</span> <span class="com_show_jy"><i
                                        class="com_show_jy_icon"></i>5年以上经验 </span> <span class="com_show_jy"><i class="com_show_xl_icon"></i>大专学历
                                </span> </div>
                            <aside class="job_pay"><span class="job_t_date job_t_date_t"> 一周内 </span>
                            </aside>
                        </a>
                    </div>
                    <div class="com_show_joblist">
                        <a href="" class="job_list">
                            <h3>工程项目总工程师</h3>
                            <aside class="job_qy_name">
                                <strong style="color:#ff6a6a; font-weight:normal">￥面议</strong>
                            </aside>
                            <div class="com_show_jiobc">
                                <span class="com_show_city"><i class="com_show_city_icon"></i>广东-惠州</span> <span class="com_show_jy"><i
                                        class="com_show_jy_icon"></i>5年以上经验 </span> <span class="com_show_jy"><i class="com_show_xl_icon"></i>不限学历
                                </span> </div>
                            <aside class="job_pay"><span class="job_t_date job_t_date_t"> 一周内 </span>
                            </aside>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!--浮动框-->
        <section>
            <div class="yun_job_footer">
                <div class="yun_job_footer_fixed">
                    <div class="com_footer_bg">
                        <div class="com_footer">
                            <div class="com_footer_pd">
                                <a href="javascript:void(0);" data-url=""
                                    class="" id="shareClick">分享企业</a>
                            </div>
                        </div>

                        <div class="com_footer">
                            <div class="com_footer_pd">

                                <span class="  atn_1830"><a href="javascript:void(0)" onclick="atn(&#39;1830&#39;,&#39;https://www.zhirimao.com/wap/c_ajax-a_atncompany.html&#39;)"
                                        id="atn_1830" class=" com_footer_gz_qx">取消关注</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--功能条 -->
        <link rel="stylesheet" href="css/swiper.min.css" type="text/css">
        <script src="js/swiper.min.js"></script>
        <script>
            var config = {
                url: '',
                title: '',
                desc: '',
                img: '',
                img_title: '',
                from: ''
            };
            $(function () {
                $.post('', {
                    name: ''
                }, function (data) {

                    if (data) {
                        var business = eval('(' + data + ')');
                        $('#creditCode').html(business.creditCode);
                        $('#estiblishTime').html(business.estiblishTime);
                        $('#orgNumber').html(business.orgNumber);
                        $('#Time').html(business.fromTime + '至' + business.toTime);
                        $('#companyOrgType').html(business.companyOrgType);
                        $('#regInstitute').html(business.regInstitute);
                        $('#regStatus').html(business.regStatus);
                        $('#regLocation').html(business.regLocation);
                        $('#regCapital').html(business.regCapital);
                        $('#businessScope').html(business.businessScope);
                        $('#tianyancha').attr('href', 'https://www.tianyancha.com/company/' + business.companyId);
                        $('#businessInfo').show();
                        //$('#companybusiness').show();
                    }
                });
            })
            $(function () {
                var myimgswiper = new Swiper('#imgswiper', {
                    direction: 'horizontal',
                    autoplay: true,
                    loop: true
                });
            });
        </script>
        <script type="text/javascript" src="js/api"></script>
        <script type="text/javascript" src="js/getscript"></script>
        <script>
            //百度地图测距
            function getdistance() {
                var map_x = $("#map_x").val();
                var map_y = $("#map_y").val();
                if (map_x == 0 && map_y == 0) {
                    var geolocation = new BMap.Geolocation();
                    geolocation.getCurrentPosition(function (r) {
                        if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                            $.post(wapurl + 'index.php?c=job&a=distance', {
                                x: r.point.lng,
                                y: r.point.lat
                            }, function (data) { })
                            $("#map_x").val(r.point.lng);
                            $("#map_y").val(r.point.lat);
                        } else {
                            if (this.getStatus() == "6") {
                                layermsg("开启手机定位后才能使用此功能", 2);
                                return false;
                            } else if (this.getStatus() == "7") {
                                layermsg("开启手机定位后才能使用此功能", 2);
                                return false;
                            } else {
                                layermsg("地图定位出错", 2);
                                return false;
                            }
                        }
                    }, {
                            enableHighAccuracy: true
                        })
                }
                var x = '114.41711',
                    y = '23.106579';
                var map = new BMap.Map();
                if (map_x > 0 && map_y > 0) {
                    var pointA = new BMap.Point(x, y);
                    var pointB = new BMap.Point(map_x, map_y);
                    var distance = '(' + (map.getDistance(pointA, pointB) / 1000).toFixed(1) + 'km)';
                    $("#distance").html(distance);
                } else {
                    setTimeout(function () {
                        getdistance();
                    }, 3000);
                }
            }
            $(function () {
                getdistance();
            })
        </script>
        <script>
            $(function () {
                var cheight = $("#com_content").height();
                var bheight = $("#com_business").height();
                if (parseInt(cheight) > 275) {
                    $("#com_content").attr('style', 'width:100%;height:275px; overflow:hidden');
                    $(".com_show_cont").show();
                }
                if (parseInt(bheight) > 275) {
                    $("#com_business").attr('style', 'line-height:30px;height:auto; overflow:hidden');
                    $(".on-off").show();
                }
            });

            function showcc() {
                $("#com_content").attr('style', 'width:100%;height:auto; overflow:hidden');
                $(".com_show_cont").find('a').html('收起');
                $(".com_show_cont").find('a').attr('onclick', 'hidecc()');
            }

            function hidecc() {
                $("#com_content").attr('style', 'width:100%;height:275px; overflow:hidden');
                $(".com_show_cont").find('a').html('展开信息');
                $(".com_show_cont").find('a').attr('onclick', 'showcc()');
            }

            function showbb() {
                $("#com_business").attr('style', 'line-height:30px;height:auto; overflow:hidden');
                $(".on-off").find('a').html('收起');
                $(".on-off").find('a').attr('onclick', 'hidebb()');
            }

            function hidebb() {
                $("#com_business").attr('style', 'line-height:30px;height:275px; overflow:hidden');
                $(".on-off").find('a').html('展开信息');
                $(".on-off").find('a').attr('onclick', 'showbb()');
            }
        </script>
        <div id="hm_t_undefined" class="hm-t-container">
            <div class="hm-t-go-top" style="display: none;"></div>
        </div>