---
layout: default
---

<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_bg  bg3">
                    <a class="hd-lbtn mui-action-back" href="javascript:history.back();"><i class="header_top_l"></i></a>
                    <div class="header_h1">
                        <div class="header_p_z"> 个人简历</div>
                    </div>

                </div>
            </div>
        </div>
    </header>
</div>
<div class="header_navlist">
    <a href="javascript:void(0);" id="jobclick"><i class="naviconfont"></i></a>
</div>
<form name="myform" method="post" action="">
    <section>
        <div class="resume_bg">
            <span class="resume_gx">2018-11-19 更新</span> </div>
        <div class="resume_info_pd">
            <div class="resume_info_pd_c">
                <div class="resume_info_pd_c_b">

                    <div class="resume_photo_box">
                        <div class="resume_photo muipreview" id="resume_photo">
                            <div class="resume_photo_c muipreview"> <img src="images/14922051316.PNG"
                                    data-preview-src="" data-preview-group="1"> <i class="user_tj_showxg"></i></div>

                        </div>
                        <div class="resume_info_n_c">
                            <div class="resume_user_name">
                                张女士
                                <span class="resume_user_nj">
                                    (女，22岁)
                                </span> </div>
                            <div class="resume_user_info_p"><span class="resume_user_info_p_s"><i class="resume_user_info_xl"></i>大专学历</span><span
                                    class="resume_user_info_p_s"><i class="resume_user_info_nl"></i>3年以上经验</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resume_info_pd_c_b">
            <div class="resume_user_info_box">
                <div class="resume_user_info_p_box">
                </div>
            </div>
        </div>
    </section>
    <div class="resume_show_pd">

        <section>
            <div class="resume_showbox">
                <div class="resume_showbox_tit"><i class="resume_showbox_icon"></i>求职意向</div>
                <div class="resume_showbox_cont">
                    <ul class="user_resume_yxlist">
                        <!-- -->
                        <li class="user_resume_yxli"><span class="user_resume_yx"><i class="user_resume_yx_icon"></i>期望岗位</span>
                            <font color="#efb62e">外语教师</font>
                        </li>
                        <li class="user_resume_yxli"><span class="user_resume_yx"><i class="user_resume_yx_icon"></i>工作职能</span>
                            <span class="user_resume_yxzn">外语教师</span> </li>
                        <li class="user_resume_yxli"><span class="user_resume_yx"><i class="user_resume_yx_icon"></i>期望城市</span>
                            <span class="user_resume_yxzn">惠城区</span> </li>
                        <li class="user_resume_yxli"><span class="user_resume_yx"><i class="user_resume_yx_icon"></i>期望薪资</span>￥3000-8000</li>
                        <li class="user_resume_yxli"><span class="user_resume_yx"><i class="user_resume_yx_icon"></i>工作性质</span>全职</li>
                        <li class="user_resume_yxli"><span class="user_resume_yx"><i class="user_resume_yx_icon"></i>到岗时间</span>随时到岗</li>
                        <li class="user_resume_yxli"><span class="user_resume_yx"><i class="user_resume_yx_icon"></i>所属行业</span>教育/培训</li>
                        <li class="user_resume_yxli"><span class="user_resume_yx"><i class="user_resume_yx_icon"></i>目前状态</span>已离职，寻求新工作</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>

            <div class="resume_showbox" id="tel">
                <div class="resume_showbox_tit"><i class="resume_showbox_icon resume_showbox_icon_lxfs"></i>联系方式</div>
                <div style="clear:both"></div>
                <div class="com_post_login">
                    <div class="com_post_look_toew">
                        <div class="look_resume_tel_login">
                            <div class="com_s_logoin_tip">请登录后查看联系方式</div>
                            <a href="c_login.html" class="com_s_logoin">登录</a>
                            <a href="select_login.html" class="com_s_reg">注册</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section>
            <div class="job_show_tip">
                <div class="job_show_tip_jb">
                    <a href="javascript:void(0)" onclick="pleaselogin(&#39;您还未登录企业账号，是否登录？&#39;,&#39;https://www.zhirimao.com/wap/c_login.html&#39;)"><span
                            class="job_show_tip_tip_i"></span>举报</a>
                </div>
                <div class="job_show_tip_p">
                    <div class="job_show_tip_p_t">若该简历为广告简历 或 无意义简历 （乱写、乱填）,请您可以举报</div>
                </div>
            </div>
        </section>
    </div>

    <section>
        <div class="yun_job_footer">
            <div class="yun_job_footer_fixed">
                <div class="yun_job_footer_bg">
                    <div class="yun_job_footer_fx_left">
                        <div class="yun_job_footer_fx">
                            <a href="javascript:void(0);" data-url=""
                                id="shareClick" class="yun_job_footer_bth"><i class="iconfont_jobshare"></i> <span
                                    class="yun_job_footer_s">分享</span></a>
                        </div>


                        <div class="yun_job_footer_fx">
                            <a href="javascript:phone(&#39;1&#39;)" class="yun_job_footer_bth">
                                <i class=" iconfont_usershowtel"></i>
                                <span class="yun_job_footer_s" style="color:#999">电话</span>
                            </a>

                        </div>


                        <div class="yun_job_footer_fx">
                            <a href="javascript:talent_pool(&#39;1507&#39;,&#39;769&#39;);" class="yun_job_footer_bth"><i
                                    class=" iconfont_sc"></i>
                                <span class="yun_job_footer_s">收藏</span></a>
                        </div>
                    </div>
                    <div class="yun_job_footer_fx_right">
                        <a href="javascript:void(0);" uid="1507" class="yun_job_footer_fx_right_bth sq_resume">面试邀请</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>