---
layout: default
title: 职业技能
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn " href="javascript:history.back()"><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">职业技能</div>
                </div>
            </div>
        </div>
    </header>
    <style>
        .resume-cont_wate_list dd {
            padding-left: 0px;
        }
        .resume_xg_a {
            padding: 5px 30px;
            display: inline-block;
            color: #fff;
        }
    </style>
    <div class="resume-cont">
        <div class="add_resume_box">
            <ul class="add_resume_list">
                <li><span class="add_resume_list_name">技能名称：</span>dddd</li>
                <li><span class="add_resume_list_name">掌握时间：</span> 2018年</li>
                <li>
                    <span class="add_resume_list_name">技能证书：</span>
                    <div class="add_resume_img">
                        <img src="images/make_S_15498638229.jpg" alt="" />
                    </div>
                </li>
            </ul>
            <div class="add_resume_cz">
                <a class="add_resume_cz_bth add_resume_cz_bth_line" href="c_editSkill.html">修改</a>
                <a class="add_resume_cz_bth" href="javascript:void(0);" onclick="isdel(&#39;resume.html&#39;)">删除</a>
            </div>
        </div>
        <div class="add_resume_tjbth">
            <a class="add_resume_tj" href="c_addSkill.html">+添加职业技能</a>
        </div>
        <div class="add_resume_cz_fh">
            <a href="resume.html">完成并返回&gt;&gt;</a>
        </div>
    </div>
</div>
<div id="hm_t_undefined" class="hm-t-container">
    <div class="hm-t-go-top" style="display: none;"></div>
</div>