---
layout: default
title: 财务管理
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn " href=""><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">财务管理</div>
                </div>
            </div>
        </div>
    </header>
    <div class="yun_usermember_financebg"></div>
    <div class="yun_usermember_financebox">
        <div class="yun_usermember_financezm">
            <div class="yun_usermember_financezm_box">
                <div class="yun_usermember_financezm_box_c">
                    <div class="yun_usermember_financezm_mx yun_usermember_financezm_mx_line">
                        <div class="yun_usermember_financezm_p">可用积分</div>
                        <div class="yun_usermember_financezm_n">45</div>
                    </div>
                    <div class="yun_usermember_financezm_mx">
                        <div class="yun_usermember_financezm_p">已消费积分</div>
                        <div class="yun_usermember_financezm_n">0<a href="c_consume.html" class="yun_usermember_financezm_lookmx">查看消费明细</a></div>
                    </div>
                    <div class="yun_usermember_financezm_photo">
                        <a href="m_photoEdit.html">
                            <img src="images/14947989259.PNG" border="0">
                        </a>
                    </div>
                </div>
                <ul class="yun_usermember_finance_cz">
                    <li><a href="m_financial_integral.html" class="yun_usermember_finance_cz_icon yun_usermember_finance_cz_rw">赚积分</a></li>
                    <li><a href="javascript:void(0);" id="shareClick" class="yun_usermember_finance_cz_icon yun_usermember_finance_cz_jf">邀请有礼</a></li>
                    <li><a href="m_rewardList.html" class="yun_usermember_finance_cz_icon yun_usermember_finance_cz_jl">兑换记录</a></li>
                </ul>
            </div>
        </div>
        <div class="yun_usermember_finance_reward">
            <div class="yun_usermember_finance_reward_h1">赏金收益 <a href="c_loglist.html" class="yun_usermember_finance_reward_more">查看赏金明细</a></div>
            <div class="yun_usermember_finance_reward_list yun_usermember_finance_reward_list_line">
                <div class="yun_usermember_finance_reward_list_p">我的钱包</div>
                <div class="yun_usermember_finance_reward_list_n"> ￥0.00</div>
            </div>
            <div class="yun_usermember_finance_reward_list">
                <div class="yun_usermember_finance_reward_list_p">冻结金额</div>
                <div class="yun_usermember_finance_reward_list_n"> ￥0.00</div>
            </div>
        </div>
        <div class="yun_usermember_finance_pay mt15"><a href="c_pay.html">充 值</a></div>
        <div class="yun_usermember_finance_tx mt15"><a href="c_withdraw.html">提 现</a></div>
    </div>
    <div id="hm_t_undefined" class="hm-t-container">
        <div class="hm-t-go-top" style="display: none;"></div>
    </div>
</div>