---
layout: default
title: 积分管理
---
<!-- Content area -->
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn " href=""><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">积分管理</div>
                </div>
            </div>
        </div>
    </header>
    <div class="yun_usermember_financebg">
        <div class="yun_usermember_integral">
            目前已有积分：<span class="yun_usermember_integral_n">45</span> 点，仍需继续努力！
        </div>
    </div>
    <div class="yun_usermember_integral_b">
        <div class="yun_usermember_integral_line"></div>
        <ul class="yun_usermember_integral_nav">
            <li>
                <a href="c_rewardList.html"><i class="yun_usermember_integral_nav_icon yun_usermember_integral_nav_icondh"></i>兑换记录</a>
            </li>
            <li>
                <a href="c_consume.html"><i class="yun_usermember_integral_nav_icon yun_usermember_integral_nav_iconmx"></i>消费明细</a>
            </li>
            <li>
                <a href="c_integralReduce.html"><i class="yun_usermember_integral_nav_icon yun_usermember_integral_nav_icongz"></i>消费规则</a>
            </li>
            <li>
                <a href="c_redeem.html"><i class="yun_usermember_integral_nav_icon yun_usermember_integral_nav_iconsc"></i>积分商城</a>
            </li>
        </ul>
    </div>
    <div class="yun_usermember_integral_box">
        <div class="yun_usermember_integral_box_h1">我的任务</div>
        <ul class="yun_usermember_integral_list">
            <li>
                <i class="yun_integral_icon yun_integral_icon_qd"></i>
                <div class="yun_integral_name">完成签到</div>
                <div class="yun_integral_n">+3积分</div>
                <a href="javascript:void(0);" onclick="sign();" class="yun_integral_a">签到</a>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_yq"></i>
                <div class="yun_integral_name">邀请好友注册</div>
                <div class="yun_integral_n">+50积分</div>
                <a href="javascript:void(0);" id="shareClick" class="yun_integral_a">邀请好友</a>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_ws"></i>
                <div class="yun_integral_name">完善基本资料</div>
                <div class="yun_integral_n">+10积分</div>
                <span class="yun_integral_bth">已完善</span>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_sctx"></i>
                <div class="yun_integral_name">上传头像</div>
                <div class="yun_integral_n">+5积分</div>
                <a href="m_photoEdit.html" class="yun_integral_a">上传头像</a>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_dl"></i>
                <div class="yun_integral_name">每天第一次登录</div>
                <div class="yun_integral_n">+10积分</div>
                <span class="yun_integral_bth">今日已登录</span>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_rzyx"></i>
                <div class="yun_integral_name">认证电子邮箱</div>
                <div class="yun_integral_n">+3积分</div>
                <a href="yz_email.html" class="yun_integral_a">去认证</a>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_rzsj"></i>
                <div class="yun_integral_name">认证手机号码</div>
                <div class="yun_integral_n">+5积分</div>
                <a href="yz_moblie.html" class="yun_integral_a">去认证</a>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_fbjl"></i>
                <div class="yun_integral_name">发布简历</div>
                <div class="yun_integral_n">+10积分</div>
                <span class="yun_integral_bth">已发布</span>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_yz"></i>
                <div class="yun_integral_name">上传身份验证</div>
                <div class="yun_integral_n">+20积分</div>
                <a href="yz_idcard.html" class="yun_integral_a">身份认证</a>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_fbwt"></i>
                <div class="yun_integral_name">发布问题</div>
                <div class="yun_integral_n">+2积分</div>
                <a href="c_askAddQuestion.html" class="yun_integral_a">发布问题</a>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_hdwt"></i>
                <div class="yun_integral_name">回答问题</div>
                <div class="yun_integral_n">+1积分</div>
                <a href="c_askLastQuestion.html" class="yun_integral_a">回答问题</a>
            </li>
            <li>
                <i class="yun_integral_icon yun_integral_icon_plwt"></i>
                <div class="yun_integral_name">评论回答</div>
                <div class="yun_integral_n">+1积分</div>
                <a href="c_askLastQuestion.html" class="yun_integral_a">评论回答</a>
            </li>
        </ul>
    </div>
</div>
<div id="hm_t_undefined" class="hm-t-container">
    <div class="hm-t-go-top" style="display: none;"></div>
</div>