---
layout: default
title: 职位管理
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn " href=""><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">职位管理</div>
                </div>
            </div>
        </div>
    </header>
    <ul class="yunset mt15">
        <li><a href="m_interview.html">面试通知<span class="yunset_list_newmsg"></span><span class="yun_mnav_tip">有0条</span></a></li>
        <li><a href="m_appRecord.html">申请的职位<span class="yun_mnav_tip">有2条</span></a></li>
        <li><a href="m_collecRecord.html">收藏的职位<span class="yun_mnav_tip">有1条</span></a></li>
        <li><a href="m_collecRecord_1.html">关注的企业<span class="yun_mnav_tip">有1条</span></a></li>
    </ul>
    <ul class="yunset mt15">
        <li><a href="c_lookJob.html">职位浏览记录<span class="yun_mnav_tip">有3条</span></a></li>
        <li><a href="c_look.html">谁看过我的简历<span class="yun_mnav_tip">有0条</span></a></li>
    </ul>
</div>
<!-- <div class="warp_content clear"  style="display:none">
    <div class="job_list_content">
        <div class="wap_member_nosearch">
            <div class="wap_member_no_tip"> 很抱歉,暂无数据</div>
        </div>
    </div>
</div> -->