---
layout: default
title: 企业位置
---
<header>
    <div class="header">
        <div class="header_bg bg3"> <a class="hd-lbtn" href="javascript:history.back();"><i class="header_top_l"></i></a>
            <div class="header_h1">企业位置</div>
        </div>
    </div>
</header>
<div id="allmap" style="overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;">
    <div style="overflow: visible; position: absolute; z-index: 0; left: 209px; top: 375px; cursor: url(&quot;https://api.map.baidu.com/images/openhand.cur&quot;) 8 8, default; transform-origin: -0.5px -110.5px 0px;">
        <div class="BMap_mask" style="position: absolute; left: -209px; top: -375px; z-index: 9; overflow: hidden; user-select: none; width: 375px; height: 534px;"></div>
        <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;">
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 800;">
                <div class="iw" style="position: absolute; line-height: 28px; text-align: center; border: 0px; user-select: none;">
                    <div>
                        <div class="iw_l" style="display: block;"></div>
                        <div class="iw_r" style="display: block;"></div><a target="_blank" class="iw_s iw_s0 iw_c">
                            <div class="iw_bg iw_cc"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;"><span class="BMap_Marker BMap_noprint"
                    unselectable="on" "="" style=" position: absolute; padding: 0px; margin: 0px; border: 0px; cursor:
                    pointer; background: url(&quot;https://api.map.baidu.com/images/blank.gif&quot;); width: 19px;
                    height: 25px; left: 178px; top: 242px; z-index: -4621314;" title=""></span></div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 600;"></div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 500;"><label class="BMapLabel"
                    unselectable="on" style="position: absolute; display: none; cursor: inherit; background-color: rgb(190, 190, 190); border: 1px solid rgb(190, 190, 190); padding: 1px; white-space: nowrap; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: arial, sans-serif; z-index: -20000; color: rgb(190, 190, 190);">shadow</label></div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 400;"><span class="BMap_Marker"
                    unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 0px; height: 0px; left: 178px; top: 242px; z-index: -4621314;">
                    <div style="position: absolute; margin: 0px; padding: 0px; width: 19px; height: 25px; overflow: hidden;"><img
                            src="./企业位置 - 手机人才网_files/marker_red_sprite.png" style="display: block; border:none;margin-left:0px; margin-top:0px; "></div>
                </span></div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 300;"><span
                    unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 20px; height: 11px; left: 182px; top: 256px;">
                    <div style="position: absolute; margin: 0px; padding: 0px; width: 20px; height: 11px; overflow: hidden;"><img
                            src="./企业位置 - 手机人才网_files/marker_red_sprite.png" style="display: block; border:none;margin-left:-19px; margin-top:-13px; "></div>
                </span></div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 201;"></div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div>
        </div>
        <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 1;">
            <div style="position: absolute; overflow: visible; z-index: -100; left: -21px; top: -108px; display: block; transform: translate3d(0px, 0px, 0px);"><img
                    src="js/saved_resource" style="position: absolute; border: none; width: 256px; height: 256px; left: 149px; top: 171px; max-width: none; opacity: 1;"><img
                    src="js/saved_resource(1)" style="position: absolute; border: none; width: 256px; height: 256px; left: -107px; top: 171px; max-width: none; opacity: 1;"><img
                    src="js/saved_resource(2)" style="position: absolute; border: none; width: 256px; height: 256px; left: 149px; top: -85px; max-width: none; opacity: 1;"><img
                    src="js/saved_resource(3)" style="position: absolute; border: none; width: 256px; height: 256px; left: -107px; top: -85px; max-width: none; opacity: 1;"><img
                    src="js/saved_resource(4)" style="position: absolute; border: none; width: 256px; height: 256px; left: -363px; top: -85px; max-width: none; opacity: 1;"><img
                    src="js/saved_resource(5)" style="position: absolute; border: none; width: 256px; height: 256px; left: -107px; top: -341px; max-width: none; opacity: 1;"><img
                    src="js/saved_resource(6)" style="position: absolute; border: none; width: 256px; height: 256px; left: -363px; top: 171px; max-width: none; opacity: 1;"><img
                    src="js/saved_resource(7)" style="position: absolute; border: none; width: 256px; height: 256px; left: -363px; top: -341px; max-width: none; opacity: 1;"><img
                    src="js/saved_resource(8)" style="position: absolute; border: none; width: 256px; height: 256px; left: 149px; top: -341px; max-width: none; opacity: 1;"></div>
        </div>
        <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 2; display: none;">
            <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 0; display: none;"></div>
            <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 10; display: none;"></div>
        </div>
        <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 3;"></div>
    </div>
    <div class="pano_close" title="退出全景" style="z-index: 1201; display: none;"></div><a class="pano_pc_indoor_exit"
        title="退出室内景" style="z-index: 1201; display: none;"><span style="float:right;margin-right:12px;">出口</span></a>
    <div class=" anchorBL" style="height: 25px; position: absolute; z-index: 30; text-size-adjust: none; bottom: 1px; right: auto; top: auto; left: 1px;"><a
            title="到百度地图查看此区域" target="_blank" href="http://map.baidu.com/?sr=1" style="outline: none;"><img style="border:none;width:68px;height:25px"
                src="./企业位置 - 手机人才网_files/copyright_logo_hd.png"></a></div>
    <div unselectable="on" class=" BMap_cpyCtrl BMap_noprint anchorBL" style="cursor: default; white-space: nowrap; color: black; background: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: 15px; font-family: arial, sans-serif; bottom: 0px; right: auto; top: auto; left: 72px; position: absolute; z-index: 10; text-size-adjust: none;"></div>
</div>
<div class="jobmap_box_footer">
    <div class="jobmap_box">
        <div class="jobmap_comname">广东维佩实业投资有限公司</div>
        <div class="jobmap_comsdd">江北富力国际中心1301 </div>
    </div>
    <div class="jobmap_box_look">
        <a href="javascript:void(0);" onclick="way(&#39;广东维佩实业投资有限公司&#39;,&#39;惠州&#39;)">查看路线</a>
    </div>
</div>
<input type="hidden" id="map_x" value="114.41065808">
<input type="hidden" id="map_y" value="23.11353985">
<style type="text/css">
    #allmap {
        width: 100%;
        height: 80%;
        overflow: hidden;
        margin: 0;
    }
</style>
<script type="text/javascript" src="js/api"></script>
<script type="text/javascript" src="js/getscript"></script>
<script type="text/javascript">
    var wapurl = 'https://www.zhirimao.com/wap/';
    // 百度地图API功能
    var x = '114.41711';
    var y = '23.106579';
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(x, y);
    map.centerAndZoom(point, 15);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);               // 将标注添加到地图中

    var map_x = $("#map_x").val();
    var map_y = $("#map_y").val();
    setTimeout(function () {
        if (map_x == 0 && map_y == 0) {
            var geolocation = new BMap.Geolocation();
            geolocation.getCurrentPosition(function (r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                    $.post(wapurl + 'index.php?c=job&a=distance', { x: r.point.lng, y: r.point.lat }, function (data) { })
                    $("#map_x").val(r.point.lng);
                    $("#map_y").val(r.point.lat);
                }
                else {
                    if (this.getStatus() == "6") {
                        layermsg("开启手机定位后才能使用此功能", 2); return false;
                    } else if (this.getStatus() == "7") {
                        layermsg("开启手机定位后才能使用此功能", 2); return false;
                    } else {
                        layermsg("地图定位出错", 2); return false;
                    }
                }
            }, { enableHighAccuracy: true })
        }
    }, 1000);

    function way(name, cityname) {
        var map_x = $("#map_x").val(), map_y = $("#map_y").val();
        if (map_x > 0 && map_y > 0) {
            location.href = 'https://api.map.baidu.com/direction?origin=latlng:' + parseFloat(map_y).toFixed(5) + ',' + parseFloat(map_x).toFixed(5) + '|name:当前位置&destination=latlng:' + parseFloat(y).toFixed(5) + ',' + parseFloat(x).toFixed(5) + '|name:' + name + '&mode=driving&region=' + cityname + '&output=html';
        } else {
            layermsg('正在定位中，请稍候！');
        }
    }