---
layout: default
title: 收藏关注
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn mui-action-back" href="javascript:history.back()"><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">收藏的职位</div>
                </div>
            </div>
        </div>
    </header>
    <div class="main_member_cot_box">
        <ul class="yun_m_tit">
            <li class="yun_m_tit_cur"><a href="m_CollecAtt.html">收藏的职位</a></li>
            <li><a href="m_CollecAtt.html_1.html">关注的企业</a></li>
        </ul>
        <div class="wap_member_no">
            <div class="wap_member_no_p1">
                <div>没有收藏过职位</div>
                <div><a class="wap_member_no_search" href="position.html">搜索职位</a></div>
            </div>
        </div>
    </div>
    <div class="pages"> </div>
</div>