---
layout: default
title: 收藏记录
---
<!-- Content area -->
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn mui-action-back" href="javascript:history.back()"><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">收藏的职位</div>
                </div>
            </div>
        </div>
    </header>
    <div class="main_member_cot_box">
        <ul class="yun_m_tit">
            <li class="yun_m_tit_cur"><a href="m_collecRecord.html">收藏的职位</a></li>
            <li><a href="m_collecRecord_1.html">关注的企业</a></li>
        </ul>
        <div class="com_member_hr">
            <div class="com_member_hr_name">
                <a href="position.html" class="wap_member_com_name  com_member_hr_cblue">销售代表</a>
            </div>
            <div class="user_member_box">
                <aside>广东维佩实业投资有限公司</aside>
                <div class="com_member_hr_p1"><span class="member_c9">收藏时间：</span>2018-11-19</div>
            </div>
            <div class="com_member_hr_cz">
                <a href="javascript:void(0)" onclick="isdel(&#39;index.php?c=collect&amp;del=132&#39;)" class="yun_member_hr_bth">取消收藏</a> 
                <a href="c_job_view.html" class="yun_member_hr_bth">查看详情</a>
            </div>
        </div>
    </div>
    <div class="pages"></div>
</div>