---
layout: default
title: 面试通知
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn " href="javascript:history.back();"><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">面试通知</div>
                </div>
            </div>
        </div>
    </header>
    <div class="main_member_cot_box">
      <div class="yun_com_msg">安全提示：招聘企业无权收取任何费用,求职中请加强自我保护,避免上当受骗</div>
        <section>
            <div class="wap_member_in_msg  wap_member_msg_after">
            <i class="wap_member_in_msg_nolook"></i>
            <div class="wap_member_in_msg_comlogo">
                <img src="images/14906489056.PNG" onerror="showImgDelay(this,'images/14906489056.PNG',2);"></div>
                <a href="c_invitecont.html" class="wap_member_link">
                    <span class="wap_member_msg_name">惠州市万泰人力资源服务有限公司</span>
                    <div class="wap_member_msg_ms">邀请您面试 网页美工设计师 的职位</div>
                    <div class="wap_member_msg_mstime">2018-12-16 16:44</div>
                </a>
            </div>
    </section>
    </div>
</div>