---
layout: default
title: 忘记密码
---

<div class="forgetPassword">
   
        <div class="page__hd p-0">
            <p class="text-primary mb-3"><small>找回的用户名和密码将会通过短信发送给您！</small></p>
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_select weui-cell_select-before">
                <div class="weui-cell__bd p-0">
                    <input class="weui-input" type="tel" pattern="[1-11]*" placeholder="请输入手机号">
                </div>
            </div>
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入验证码">
                </div>
                <div class="weui-cell__ft">
                    <img class="weui-vcode-img" src="static/images/vcode.jpg">
                </div>
            </div>
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输收到的验证码">
                </div>
                <div class="weui-cell__ft">
                    <button class="weui-vcode-btn">获取验证码</button>
                </div>
            </div>
        </div>
        <div class="weui-btn-area mt-4 mb-2">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">取回密码</a>
        </div>
        <div class="weui-agree__text">
            <a href="login.html" class="goRegister">已有账号？马上登录</a>
        </div>

</div>