---
layout: default
title: 求职意向
---

<header class="search">
        <div class="search_header">
            <div class="search_header_box">
                <div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
                <div class="search_center"><a href="javascript:"> 求职意向(2/3) </a></div>
                <div class="search_right"><a href="resumePerfect.html">下一步</a></div>
            </div>
        </div>
</header>

<div class="resume">

        <div class="page__hd pt-0">
            <h1 class="page__title">填写基本信息</h1>
        </div>
            
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">希望岗位</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="in" type="text" value="请选择">
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">期望地点</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="Curlocat1" type="text" value="请选择">
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">期望薪资</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请选择(0表示面议)">
                </div>
            </div>
        </div>

</div>