---
layout: pages
title: 企业管理中心
---
<div class="mine">
    <div class="mod_pos_item">
        <div class="page__hd pt-4 pb-4">
            <h1 class="page__title w-75">梁先生</h1>
            <p class="page__desc w-75 text-truncate">惠州富海人才</p>
            <a href="qyLogEdit.html" class="page__img">
                <img src="../static/images/avatar_default_girl.png" class="border rounded-circle" />
            </a>
        </div>
        <div class="weui-flex">
            <a href="qyPostMan.html" class="weui-flex__item">
                <div class="weui-img-badge">
                    <i class="fa fa-file-word-o fa-lg weui-tabbar__icon"></i>
                </div>
                <p class="weui-tabbar__label">职位管理</p>
            </a>
            <a href="qyPostJob.html" class="weui-flex__item">
                <div class="weui-img-badge">
                    <i class="fa fa-file-text-o fa-lg weui-tabbar__icon"></i>
                </div>
                <p class="weui-tabbar__label">发布职位</p>
            </a>
            <a href="qyRecPos.html" class="weui-flex__item">
                <div class="weui-img-badge">
                    <i class="fa fa-file-powerpoint-o fa-lg weui-tabbar__icon"></i>
                </div>
                <p class="weui-tabbar__label">已收职位</p>
            </a>
            <div class="weui-flex__item">
                <div class="weui-img-badge">
                    <i class="fa fa-file-o fa-lg weui-tabbar__icon"></i>
                </div>
                <p class="weui-tabbar__label">刷新职位</p>
            </div>
        </div>
    </div>
    <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <a href="qyEntManCen.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-check fa-lg"></i> 企业管理中心</label>
                </div>
                <div class="weui-cell__bd">
                    <span class="text-danger"><i class="fa fa-info-circle"></i> 会员已过期</span>
                </div>
            </a>
        </div>
    </div>
    <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <a href="qyCorInfAdd.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-check fa-lg"></i> 企业资料</label>
                </div>
                <div class="weui-cell__bd"></div>
            </a>
            <a href="qyEntTalPoo.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-folder fa-lg"></i> 企业人才库</label>
                </div>
                <div class="weui-cell__bd"></div>
            </a>
            <a href="qySubAccSet.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-wrench fa-lg"></i> 子账号设置</label>
                </div>
                <div class="weui-cell__bd"> </div>
            </a>
            <a href="qySetCen.html" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label"><i class="fa fa-wrench fa-lg"></i> 设置中心</label>
                </div>
                <div class="weui-cell__bd"> </div>
            </a>
        </div>
    </div>
</div>