---
layout: pages
title: 招聘职位
---
<header class="search">
		<div class="search_header search_bg_Ter_Whi">
		 <div class="search_header_box">
			<div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
			<div class="search_center"><a href="javascript:"> 招聘职位 </a></div>
			<div class="search_right"><a href="javascript:;"></a></div>
		 </div>
		</div>
</header>
<div class="qyPostManEdit">
			<div class="mod_pos_item pr-0">
					<div class="weui-cells">
									<div class="weui-cell weui-cell_select">
											<div class="weui-cell__hd">
												<label for="name" class="weui-label">学历要求</label>
											</div>
											<div class="weui-cell__bd">
												<select class="weui-select w-100" name="select1">
													  <option value="0">请选择学历</option>
														<option value="1">初中</option>
														<option value="2">高中/中专</option>
														<option value="3">大专</option>
														<option value="4">本科</option>
														<option value="5">硕士</option>
														<option value="6">博士</option>
												</select>
									  	</div>
									</div>
									<div class="weui-cell weui-cell_select">
											<div class="weui-cell__hd">
												<label for="name" class="weui-label">工作经验</label>
											</div>
											<div class="weui-cell__bd">
												<select class="weui-select w-100" name="select1">
														<option value="0">请选择经验</option>
														<option value="1">在读学生</option>
														<option value="2">应届毕业生</option>
														<option value="3">1年</option>
														<option value="4">2年</option>
														<option value="5">3年</option>
														<option value="6">4年</option>
														<option value="7">5年</option>
														<option value="8">6年</option>
														<option value="9">7年</option>
														<option value="10">8年</option>
														<option value="11">9年</option>
														<option value="12">10年</option>
														<option value="13">10以上</option>
												</select>
									  	</div>
									</div>
									<div class="weui-cell pt-0 pb-0 pr-0">
										<div class="weui-cell__hd">
												<label for="name" class="weui-label">年龄要求</label>
										</div>
										<div class="weui-cell__bd pr-0">
												<div class="weui-cell weui-cell_select pl-0">
													<div class="weui-cell__bd">
															<input type="text" class="weui-input text-left" placeholder="请选择">
													</div>
												</div>
												<div class="weui-cell weui-cell_select pl-0">
													<div class="weui-cell__bd">
															<input type="text" class="weui-input text-left" placeholder="请选择">
													</div>
												</div>
										</div>
									</div>
									<div class="weui-cell">
											<div class="weui-cell__hd">
												<label for="name" class="weui-label">性别要求</label>
											</div>
											<div class="weui-cell__bd">
													<div class="weui-cells_checkbox d-flex justify-content">
															<label class="weui-check__label d-flex align-items-center" for="s11">
																	<div class="weui-cell__hd p-0">
																					<input type="checkbox" class="weui-check" name="checkbox1" id="s11">
																					<i class="weui-icon-checked"></i>
																	</div>
																	<div class="weui-cell__bd pr-1"><p>男</p></div>
															</label>
															<label class="weui-check__label d-flex align-items-center" for="s12">
																	<div class="weui-cell__hd p-0">
																					<input type="checkbox" class="weui-check" name="checkbox1" id="s12">
																					<i class="weui-icon-checked"></i>
																	</div>
																	<div class="weui-cell__bd pr-1"><p>女</p></div>
															</label>
															<label class="weui-check__label d-flex align-items-center" for="s13">
																	<div class="weui-cell__hd p-0">
																					<input type="checkbox" class="weui-check" name="checkbox1" id="s13">
																					<i class="weui-icon-checked"></i>
																	</div>
																	<div class="weui-cell__bd p-0"><p>不限</p></div>
															</label>
													</div>
											</div>
									</div>
					</div>
			</div>
			<!-- 底部按钮 -->
			<section class="mod_pos_btn">
					<div class="mod_pos_btn_air"><a href="qyPostJob.html">上一步</a></div>
					<div class="mod_pos_btn_rea"><a href="qyPostJobSes.html">下一步</a></div>
			</section>
</div>