---
layout: pages
title: 已收职位
---
<div class="qyPostMan">
    <!--S 简历查找 -->
    {% include modules/qyMine/qyTopSearch.html %}
    <!--E 简历查找 -->
    <!--S 简历列表 -->
    <div class="weui-cells">
        {% for rec in site.data.qyRecPost %}
        <div class="weui-cell weui-cells_checkbox">
            <label class="weui-check__label d-flex align-items-center" for="{{ rec.id }}">
                <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check checkOne" onclick="clickOne()" id="{{ rec.id }}">
                        <i class="weui-icon-checked"></i>
                </div>
            </label> 
            <div class="weui-cell__bd pr-0 mr-0">
              <a href="qyResumeShou.html">
                 <h2>
                    <span class="text-primary">{{ rec.dep }}</span> <span>{{ rec.sex }}</span> <span>{{ rec.old }}</span> <span> {{ rec.edu }}</span>
                </h2>
                <p><span>{{ rec.pos }}</span> <span>{{ rec.phonenum }}</span></p>
                <p><small>应聘<em> {{ rec.applynum }} </em>次 | <span>{{ rec.applydate }}</span> | <span class="text-danger">{{ rec.status }}</span></small></p>
              </a>
            </div>
        </div>
        {% endfor %}
        <!--E 简历列表 -->
        <!-- 底部按钮 -->
        <section class="mod_pos_btn bg-light">
            <div class="d-flex justify-content-between w-100">
                <div class="weui-cells_checkbox">
                    <label class="weui-cell weui-check__label" id="qSelect">
                        <div class="weui-cell__hd">
                                <input type="checkbox" class="weui-check checkAll" onclick="clickAll()">
                                <i class="weui-icon-checked"></i>
                        </div><p>全部</p>
                    </label>
                </div>
                <div class="d-flex justify-content-center p-1">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">点击操作</button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="qyResumeShou.html">查看简历</a>
                          <a class="dropdown-item" href="qyInvInter.html">邀请面试</a>
                          <a class="dropdown-item" href="qyEntTalPoo.html">放入人才库</a>
                          <a class="dropdown-item" href="#">重发简历</a>
                          <a class="dropdown-item" href="#">转发简历</a>
                          <a class="dropdown-item" href="#">彻底删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>