body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #76838f;
    overflow-x: hidden;
  }
  [class^="mdi-"],
  [class*="mdi-"] {
    font-family: "Ionicons";
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #37474f;
    text-shadow: rgba(0, 0, 0, .12) 0 0 1px;
    margin: 10px 0;
  }
  h1 {
    font-size: 32px;
    line-height: 1.25em;
  }
  h2 {
    font-size: 26px;
    line-height: 1.15em;
  }
  h3 {
    font-size: 22px;
    line-height: 1.13em;
  }
  h4 {
    font-size: 18px;
    line-height: 1.11em;
  }
  h5 {
    font-size: 16px;
    line-height: 1em;
  }
  p {
    font-size: 16px;
    margin: 0 0 10px;
  }
  a {
    color: inherit;
  }
  a,
  a:link,
  a:hover,
  a:active,
  a:focus {
    outline: 0;
    text-decoration: none;
  }
  body,
  input,
  textarea,
  button,
  select,
  label,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  b {
    font-weight: 700;
  }
  .small,
  small {
    font-size: 85% !important;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  .uppercase {
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
  }
  h1.uppercase,
  h2.uppercase,
  h3.uppercase {
    letter-spacing: 3px;
    margin-right: -3px;
  }
  h4.uppercase,
  h5.uppercase,
  h5.uppercase {
    letter-spacing: 2px;
    margin-right: -2px;
  }
  i {
    font-size: 24px;
    color: inherit;
  }
  i.big {
    font-size: 100px;
    width: 150px;
    display: block;
    margin: 0 auto 30px;
    border: 2px solid;
    border-radius: 50%;
    background: #2196F3;
    color: #fff;
  }
  blockquote {
    font-size: 1.5em;
    margin: 30px 0;
    color: #444;
  }
  .title {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: -3px;
    font-weight: 700;
  }
  .section-title {
    margin: 0;
    padding: 40px 20px 0;
  }
  .text-small {
    font-size: 0.9em;
    font-weight: 100;
  }
  .text-small i {
    font-size: 1.4rem;
  }
  