<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>
    {{ page.title | smartify }}
</title>
<link rel="stylesheet" href="css/mui.min.css" type="text/css" />
<link rel="stylesheet" href="css/mui.picker.css" type="text/css" />
<link rel="stylesheet" href="css/mui.poppicker.css" type="text/css" />
<link rel="stylesheet" href="css/job.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="styleSheet" href="css/layer.css" type="text/css" id="layermcss">
<link rel="stylesheet" href="css/yun_wap_member.css" type="text/css" />
<link rel="stylesheet" href="css/css.css" type="text/css" />