---
layout: pages
title: 狮子城
---
<div class="bodyMask"> </div>
<div id="header" class="index_nav mini">
  <div class="content">
    <a href="" id="logo"><img src="../assets/img/pc_logo.png" height="40"></a>
    <!-- <a href="" id="logo"><img src="../assets/img/1479704672537.png" height="40"></a> -->
    <ul id="nav">
      <li class="navitem"><a class="nav-a  active " href="" target="_self"><span
            data-title="首页">首页</span></a></li>
      <li class="navitem"><a class="nav-a " href="http://mo004_1164.mo4.line1.uemo.net/project/" target="_self"><span
            data-title="产品与服务">产品与服务</span></a></li>
      <li class="navitem"><a class="nav-a " href="javascript:;" target=""><span data-title="关于我们">关于我们</span><i
            class="fa fa-angle-down"></i></a>
        <ul class="subnav" style="top: 32px; left: -32.5px;">
          <li><a href="http://mo004_1164.mo4.line1.uemo.net/page/18196/" target="_self"><span
                data-title="品牌故事">品牌故事</span><i class="fa fa-angle-right"></i></a></li>
          <li><a href="http://mo004_1164.mo4.line1.uemo.net/videom/" target="_self"><span
                data-title="视频宣传">视频宣传</span><i class="fa fa-angle-right"></i></a></li>
        </ul>
      </li>
      <li class="navitem"><a class="nav-a " href="http://mo004_1164.mo4.line1.uemo.net/service/" target="_self"><span
            data-title="企业理念">企业理念</span></a></li>
      <li class="navitem"><a class="nav-a " href="http://mo004_1164.mo4.line1.uemo.net/team/" target="_self"><span
            data-title="职业发展">职业发展</span></a></li>
      <li class="navitem"><a class="nav-a " href="http://mo004_1164.mo4.line1.uemo.net/news/" target="_self"><span
            data-title="新闻动态">新闻动态</span></a></li>
      <li class="navitem"><a class="nav-a " href="http://mo004_1164.mo4.line1.uemo.net/page/18199/"
          target="_self"><span data-title="联系我们">联系我们</span></a></li>
      <li class="navitem"> <a href="http://www.uemo.net/" target="_blank"> <span data-title="返回UEmo">返回UEmo</span>
        </a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
</div>
<div id="sitecontent">
  <div id="indexPage">

    <div id="mslider" class="module" style="height: 720px;">
      <script type="text/javascript">$(function () { $("#mslider li video").each(function (index, element) { element.play(); }); })</script>
      <div class="bx-wrapper" style="max-width: 100%;">
        <div class="bx-viewport" style="position: relative; overflow: hidden; width: 100%;">
          <div class="bx-loading"></div>
          <ul class="slider" data-options-height="720" data-options-auto="0" data-options-mode="0" data-options-pause="4" data-options-ease="ease-out"
            style="position: relative; width: 415%; transition-timing-function: ease-out;">
            <li style="background-image: url('http://resources.jsmo.xin/templates/upload/1164/201806/1528352315377.png'); height: 720px; list-style: none; position: relative; float: left; width: 1869px;" class="active">
              <div id="tempImage_0"></div><img style="display:none" src="../assets/img/1528352315377.png" alt="">
              <div class="mask"></div><a target="_blank" href="javascript:;">
                <div>
                  <p class="title ellipsis"></p>
                </div>
                <div class="sliderArrow fa fa-angle-down"></div>
              </a>
            </li>
            <li style="background-image: url('http://resources.jsmo.xin/templates/upload/1164/201806/1528352325458.png'); height: 720px; list-style: none; position: relative; float: left; width: 1869px;">
              <div id="tempImage_1"></div><img style="display:none" src="../assets/img/1528352325458.png" alt="">
              <div class="mask"></div><a target="_blank" href="javascript:;">
                <div>
                  <p class="title ellipsis"></p>
                </div>
                <div class="sliderArrow fa fa-angle-down"></div>
              </a>
            </li>
          </ul>
        </div>
        <div class="bx-controls bx-has-pager bx-has-controls-direction">
          <div class="bx-pager bx-default-pager">
            <div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link">1</a></div>
            <div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div>
          </div>
          <div class="bx-controls-direction">
            <a class="bx-prev" href=""><i class="fa fa-angle-left"></i></a>
            <a class="bx-next" href=""><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div id="mproject" class="module">
      <div class="bgmask"></div>
      <div class="content layoutnone">
        <div class="header wow" style="visibility: visible; animation-name: fadeInUp;">
          <p class="title">产品与服务</p>
          <p class="subtitle">All Product</p>
        </div>
        <div id="category" class="hide wow" style="visibility: visible;">
          <a href="http://mo004_1164.mo4.line1.uemo.net/project/cid/8765/">航空座椅</a>
          <a href="http://mo004_1164.mo4.line1.uemo.net/project/cid/8771/">机载电子</a>
          <a href="http://mo004_1164.mo4.line1.uemo.net/project/cid/8770/">测试设备</a>
          <a href="http://mo004_1164.mo4.line1.uemo.net/project/cid/8766/">机械维修</a>
          <a href="http://mo004_1164.mo4.line1.uemo.net/project/cid/8768/">电子维修</a>
          <a href="http://mo004_1164.mo4.line1.uemo.net/project/cid/8767/">航材贸易</a>
        </div>
        <!--yyLayout masonry-->
        <div class="module-content" id="projectlist">
          <div class="projectSubList" id="projectSubList_">
            <div class="projectSubHeader">
              <p class="title"></p>
              <p class="subtitle"></p>
            </div>
            <div class="wrapper">
              <ul class="content_list" data-options-sliders="6" data-options-margin="15" data-options-ease="1"
                data-options-speed="1">
                <li id="projectitem_0" class="projectitem wow" style="visibility: visible; animation-name: fadeInUp;">
                  <a href="http://mo004_1164.mo4.line1.uemo.net/project/post/19547/" class="projectitem_content"
                    target="_blank">
                    <div class="projectitem_wrapper">
                      <div class="project_img"><img src="../assets/img/1510656713993.jpg" alt="工业系统能源互联" width="650" height="385">
                      </div>
                      <div class="project_info">
                        <div>
                          <p class="title">工业系统能源互联</p>
                          <p class="subtitle">能源管理技术</p>
                          <p class="description hide">
                            ACOON白雲是专为婴儿生产无刺激婴儿用品，选用最高级的优质棉花制作，用料精良、工艺先进。不含荧光剂、漂白粉，纯棉质地吸水性更强，手感更加柔软，绝不会伤害您柔嫩的面部肌肤 ...
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li id="projectitem_1" class="projectitem wow" style="visibility: visible; animation-name: fadeInUp;">
                  <a href="http://mo004_1164.mo4.line1.uemo.net/project/post/19537/" class="projectitem_content"
                    target="_blank">
                    <div class="projectitem_wrapper">
                      <div class="project_img"><img src="../assets/img/1510717487715.jpg" alt="机载电子" width="650" height="385">
                      </div>
                      <div class="project_info">
                        <div>
                          <p class="title">机载电子</p>
                          <p class="subtitle">机载电子产品的开发与生产，以及装备管理信息化整体解决方案的开发</p>
                          <p class="description hide"></p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li id="projectitem_2" class="projectitem wow" style="visibility: visible; animation-name: fadeInUp;">
                  <a href="http://mo004_1164.mo4.line1.uemo.net/project/post/19539/" class="projectitem_content"
                    target="_blank">
                    <div class="projectitem_wrapper">
                      <div class="project_img"><img src="../assets/img/1479970315849.jpg" alt="机械维修" width="650" height="385">
                      </div>
                      <div class="project_info">
                        <div>
                          <p class="title">机械维修</p>
                          <p class="subtitle">Machinery maintenance</p>
                          <p class="description hide">
                            &nbsp;维修专业：空调系统、引气系统、防冰系统、设备装饰系统、水/废水系统及液压系统等；维修机型：波音系列、空客系列、EMB系列、ERJ系列、公务机和直升机等。&nbsp;
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li id="projectitem_3" class="projectitem wow" style="visibility: visible; animation-name: fadeInUp;">
                  <a href="http://mo004_1164.mo4.line1.uemo.net/project/post/19543/" class="projectitem_content"
                    target="_blank">
                    <div class="projectitem_wrapper">
                      <div class="project_img"><img src="../assets/img/1479970698719.jpg" alt="电子维修" width="650" height="385">
                      </div>
                      <div class="project_info">
                        <div>
                          <p class="title">电子维修</p>
                          <p class="subtitle">Electronic maintenance</p>
                          <p class="description hide">
                            气动维修室主要从事各型飞机气动系统部附件的检测、修理、翻修和改装工作。依托行业领先的设施设备、成熟的专业技术、完善的质量体系管理以及精益的车间管理，公司维修的气动部附件产品可靠性和维修周期得到了客户的充分认可。
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li id="projectitem_4" class="projectitem wow" style="visibility: visible; animation-name: fadeInUp;">
                  <a href="http://mo004_1164.mo4.line1.uemo.net/project/post/19546/" class="projectitem_content"
                    target="_blank">
                    <div class="projectitem_wrapper">
                      <div class="project_img"><img src="../assets/img/1479970483398.jpg" alt="测试设备" width="650" height="385">
                      </div>
                      <div class="project_info">
                        <div>
                          <p class="title">测试设备</p>
                          <p class="subtitle">testing equipment</p>
                          <p class="description hide">
                            公司主要致力于航空、航天及相关领域测试设备研发。先后为航天科技集团、航天科工集团、中航工业集团、陆航部队、民航等单位提供了80余个型号的测试设备。</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li id="projectitem_5" class="projectitem wow" style="visibility: visible; animation-name: fadeInUp;">
                  <a href="http://mo004_1164.mo4.line1.uemo.net/project/post/19545/" class="projectitem_content"
                    target="_blank">
                    <div class="projectitem_wrapper">
                      <div class="project_img"><img src="../assets/img/1479970505291.jpg" alt="航材贸易" width="650" height="385">
                      </div>
                      <div class="project_info">
                        <div>
                          <p class="title">航材贸易</p>
                          <p class="subtitle">Air material Trade</p>
                          <p class="description hide">公司先后与Aero
                            Twin、trakkacorp、S4GA、DURR等公司签订中国区代理及售后服务协议，能够出色保障用户各类航材及设备需求。&nbsp;</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <!--wrapper-->
          </div>
          <!--projectSubList-->
          <a href="http://mo004_1164.mo4.line1.uemo.net/project/" class="more wow animated"
            style="visibility: visible; animation-name: fadeInUp;">MORE<i class="fa fa-angle-right"></i></a>
        </div>
        <!--projectlist-->
        <div class="clear"></div>
      </div>
    </div>

    <!--project-->
    <div id="mnews" class="module bgShow"
      style="background-image: url(&quot;//resources.jsmo.xin/templates/upload/1164/201712/1512385804270.jpg&quot;); background-position: center 524.5px;">
      <div class="bgmask"></div>
      <div class="content layoutnone">
        <div class="header wow" style="visibility: visible;">
          <p class="title">新闻动态</p>
          <p class="subtitle">News Center</p>
        </div>
        <div class="module-content" id="newslist">
          <div class="wrapper">
            <ul class="content_list" data-options-sliders="2" data-options-margin="0" data-options-ease="0"
              data-options-speed="0" data-options-mode="horizontal" data-options-wheel="0">
              <li id="newsitem_0" class="wow newstitem left" style="visibility: hidden; animation-name: none;"><a
                  class="newscontent" target="_blank" href="http://mo004_1164.mo4.line1.uemo.net/news/post/7373/">
                  <div class="news_wrapper">
                    <div class="newsbody">
                      <p class="date wow" style="visibility: hidden; animation-name: none;"><span
                          class="md">2015<span>-</span></span><span class="year">10-19</span></p>
                      <p class="title wow" style="visibility: hidden; animation-name: none;">李克强对“华龙一号”福清核电5号机组建设工作
                        作出重要批示</p>
                      <div class="separator"></div>
                      <p class="description wow" style="visibility: hidden; animation-name: none;">
                        中共中央政治局常委、国务院总理李克强日前对“华龙一号”福清核电5号机
                        组建设工作作出重要批示。批示指出：我国自主研</p>
                    </div>
                  </div>
                  <div class="newsimg"
                    style="background-image:url(//resources.jsmo.xin/templates/upload/1164/201712/1512370172542.jpg)">
                  </div>
                </a>
                <a href="http://mo004_1164.mo4.line1.uemo.net/news/post/7373/" target="_blank" class="details">more<i
                    class="fa fa-angle-right"></i></a>
              </li>
              <li id="newsitem_1" class="wow newstitem right" style="visibility: hidden; animation-name: none;"><a
                  class="newscontent" target="_blank" href="http://mo004_1164.mo4.line1.uemo.net/news/post/7372/">
                  <div class="news_wrapper">
                    <div class="newsbody">
                      <p class="date wow" style="visibility: hidden; animation-name: none;"><span
                          class="md">2015<span>-</span></span><span class="year">09-18</span></p>
                      <p class="title wow" style="visibility: hidden; animation-name: none;">全新集团GROUP北京科技园正式落成启用</p>
                      <div class="separator"></div>
                      <p class="description wow" style="visibility: hidden; animation-name: none;">
                        每一套设计我们都细心研究，集体讨论。从美观度到延展性，从体验度到适用性。技术哥哥前端姐姐提出的中肯建议，设计师们都虚心接受，悉心改良。</p>
                    </div>
                  </div>
                  <div class="newsimg"
                    style="background-image:url(//resources.jsmo.xin/templates/upload/1164/201712/1512360064492.jpg)">
                  </div>
                </a>
                <a href="http://mo004_1164.mo4.line1.uemo.net/news/post/7372/" target="_blank" class="details">more<i
                    class="fa fa-angle-right"></i></a>
              </li>
              <li id="newsitem_2" class="wow newstitem left" style="visibility: hidden; animation-name: none;"><a
                  class="newscontent" target="_blank" href="http://mo004_1164.mo4.line1.uemo.net/news/post/7371/">
                  <div class="news_wrapper">
                    <div class="newsbody">
                      <p class="date wow" style="visibility: hidden; animation-name: none;"><span
                          class="md">2015<span>-</span></span><span class="year">08-05</span></p>
                      <p class="title wow" style="visibility: hidden; animation-name: none;">CFM航空发动机维修培训中心庆祝成立20周年
                      </p>
                      <div class="separator"></div>
                      <p class="description wow" style="visibility: hidden; animation-name: none;">
                        千呼万唤始出来，千树万树梨花开。等了这么久，勤劳的技术哥哥马不停蹄的敲着代码，终于WEB的后台于今日初步完成 ...</p>
                    </div>
                  </div>
                  <div class="newsimg"
                    style="background-image:url(//resources.jsmo.xin/templates/upload/1164/201712/1512359395150.jpg)">
                  </div>
                </a>
                <a href="http://mo004_1164.mo4.line1.uemo.net/news/post/7371/" target="_blank" class="details">more<i
                    class="fa fa-angle-right"></i></a>
              </li>
              <li id="newsitem_3" class="wow newstitem right" style="visibility: hidden; animation-name: none;"><a
                  class="newscontent" target="_blank" href="http://mo004_1164.mo4.line1.uemo.net/news/post/7370/">
                  <div class="news_wrapper">
                    <div class="newsbody">
                      <p class="date wow" style="visibility: hidden; animation-name: none;"><span
                          class="md">2015<span>-</span></span><span class="year">07-30</span></p>
                      <p class="title wow" style="visibility: hidden; animation-name: none;">天津水电基地为拉脱维亚里加项目完成</p>
                      <div class="separator"></div>
                      <p class="description wow" style="visibility: hidden; animation-name: none;">
                        经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成二十余套企业版WEB ...</p>
                    </div>
                  </div>
                  <div class="newsimg"
                    style="background-image:url(//resources.jsmo.xin/templates/upload/1164/201712/1512355596523.jpg)">
                  </div>
                </a>
                <a href="http://mo004_1164.mo4.line1.uemo.net/news/post/7370/" target="_blank" class="details">more<i
                    class="fa fa-angle-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
        <a href="http://mo004_1164.mo4.line1.uemo.net/news/" class="more wow animated"
          style="visibility: visible;">MORE<i class="fa fa-angle-right"></i></a>
        <div style="height:0">&nbsp;</div>
      </div>
    </div>

    <style type="text/css">
      .module.mcounter.mm98043 {
        background-color: rgba(255, 255, 255, 1)
      }

      .module.mcounter.mm98043 ul.content_list {
        padding-top: 75px;
        padding-bottom: 75px;
      }

      .module.mcounter.mm98043 ul.content_list li {
        width: 25%
      }

      .module.mcounter.mm98043 ul.content_list li div {
        border-color: rgba(0, 0, 0, .08);
      }

      .module.mcounter.mm98043 ul.content_list li p {
        color: rgba(149, 149, 149, 1);
      }

      .module.mcounter.mm98043 ul.content_list li p.number .counterDX {
        color: rgba(60, 60, 60, 1);
      }

      .module.mcounter.mm98043 ul.content_list li p.number .unit {
        color: rgba(149, 149, 149, 1);
      }
    </style>

    <div class="mcounter module mm98043">
      <div class="bgmask"></div>
      <div class="content">
        <!--<div class="header wow">
        <p class="title">行业发展</p>
               </div>-->
        <div class="module-content fw">
          <div class="wrapper">
            <ul class="content_list">

              <li>
                <div>
                  <p class="number"><span class="counterDX" data-counter-value="1993">1993</span><span
                      class="unit">年</span></p>
                  <p class="title">注册成立于1993年</p>
                </div>
              </li>

              <li>
                <div>
                  <p class="number"><span class="counterDX" data-counter-value="350">350</span><span
                      class="unit">万</span></p>
                  <p class="title">已连续安全飞行超过350万小时</p>
                </div>
              </li>

              <li>
                <div>
                  <p class="number"><span class="counterDX" data-counter-value="500">500</span><span
                      class="unit">条</span></p>
                  <p class="title">开通国内外航线近500条</p>
                </div>
              </li>

              <li>
                <div>
                  <p class="number"><span class="counterDX" data-counter-value="90">90</span><span
                      class="unit">个</span></p>
                  <p class="title">通航城市90个，航线遍布全球</p>
                </div>
              </li>
            </ul>
          </div>
          <!--wrapper-->
        </div>
      </div>
    </div>

    <!--mcounter-->
    <div id="mpage" class="module bgShow"
      style="background-image: url(&quot;//resources.jsmo.xin/templates/upload/1164/201712/1512119755964.jpg&quot;); background-position: center 954.5px;">
      <div class="bgmask"></div>
      <div class="content">
        <div class="module-content">
          <div class="wrapper">
            <ul class="slider one">
              <li>
                <div class="header wow" data-wow-delay=".2s"
                  style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                  <p class="title">品牌故事</p>
                  <p class="subtitle">About</p>
                </div>
                <div class="des-wrap">
                  <p class="description wow" data-wow-delay=".3s"
                    style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                    专为热爱界面设计的你而倾力打造。这里拥有最无敌的创意、最精美的视觉、最具国际化的意识和前瞻性思维！在你最需要灵感的时候给予你帮助，鼓励你不断向前!USEFUL INFORMATION
                    ，当然，我们也需要最热心的你的大力支持 ...</p>
                </div>
                <a href="http://mo004_1164.mo4.line1.uemo.net/page/18196/" class="more wow" data-wow-delay=".5s"
                  style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">MORE<i
                    class="fa fa-angle-right"></i></a>
                <div class="fimg wow"
                  style="background-image: url(&quot;//resources.jsmo.xin/templates/upload/1164/201712/1512384345946.png&quot;); visibility: hidden; animation-name: none;">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="mteam" class="module bgShow"
      style="background-image: url(&quot;//resources.jsmo.xin/templates/upload/1164/201712/1512114621251.jpg&quot;); background-position: center 1226.5px;">
      <div class="bgmask"></div>
      <div class="content layoutslider">
        <div class="header wow animated" style="visibility: visible;">
          <p class="title">职业发展</p>
          <p class="subtitle">Team</p>
        </div>
        <div class="module-content fw">
          <div class="wrapper">
            <div class="bx-wrapper" style="max-width: 1170px;">
              <div class="bx-viewport" style="position: relative; overflow: hidden; width: 100%; height: 215px;">
                <ul class="content_list" data-options-sliders="1" data-options-margin="140" data-options-ease="1"
                  data-options-speed="0.5"
                  style="position: relative; width: 515%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                  <li id="teamitem_0" class="wow" data-wow-delay=".0s"
                    style="width: 950px; list-style: none; position: relative; float: left; margin-right: 140px; visibility: hidden; animation-delay: 0s; animation-name: none;">
                    <div class="header wow" data-wow-delay=".2s"
                      style="visibility: hidden; animation-delay: 0.2s; animation-name: none;"><a
                        href="http://mo004_1164.mo4.line1.uemo.net/team/post/5567/" target="_blank"><img
                          src="./1511838858648.jpg" alt="丹尼斯A.扎克伯格" width="180" height="180"></a></div>
                    <div class="summary wow" style="visibility: hidden; animation-name: none;">
                      <p class="title"><a href="http://mo004_1164.mo4.line1.uemo.net/team/post/5567/">丹尼斯A.扎克伯格</a>
                      </p>
                      <p class="subtitle">事业部总监</p>
                      <p class="description wow" style="visibility: hidden; animation-name: none;">
                        协助策划公司线上线下产品推广和市场宣传活动，并具体执行，收集用户反馈。必须有SaaS软件市场相关经验，协助策划公司线上线下产品推广和市场宣传活动
                      </p>
                    </div>
                    <a href="http://mo004_1164.mo4.line1.uemo.net/team/post/5567/" target="_blank"
                      class="details">more<i class="fa fa-angle-right"></i></a>
                  </li>
                  <li id="teamitem_1" class=""
                    style="width: 950px; list-style: none; position: relative; float: left; margin-right: 140px;">
                    <div class="header wow" data-wow-delay=".2s"
                      style="visibility: hidden; animation-delay: 0.2s; animation-name: none;"><a
                        href="http://mo004_1164.mo4.line1.uemo.net/team/post/5566/" target="_blank"><img
                          src="./1511838214236.jpg" alt="贝特朗-马克" width="180" height="180"></a></div>
                    <div class="summary wow" style="visibility: hidden; animation-name: none;">
                      <p class="title"><a href="http://mo004_1164.mo4.line1.uemo.net/team/post/5566/">贝特朗-马克</a></p>
                      <p class="subtitle">执行总监</p>
                      <p class="description wow" style="visibility: hidden; animation-name: none;">
                        7年前端开发经验曾服务搜狐奥运传递路线FLASH开发在代码中体验完美生活,汇总客户反馈意见并与研发团队积极沟通，从而提升产品在市场中的竞争力</p>
                    </div>
                    <a href="http://mo004_1164.mo4.line1.uemo.net/team/post/5566/" target="_blank"
                      class="details">more<i class="fa fa-angle-right"></i></a>
                  </li>
                  <li id="teamitem_2" class=""
                    style="width: 950px; list-style: none; position: relative; float: left; margin-right: 140px;">
                    <div class="header wow" data-wow-delay=".2s"
                      style="visibility: hidden; animation-delay: 0.2s; animation-name: none;"><a
                        href="http://mo004_1164.mo4.line1.uemo.net/team/post/5565/" target="_blank"><img
                          src="./1511838776874.jpg" alt="文斌" width="180" height="180"></a></div>
                    <div class="summary wow" style="visibility: hidden; animation-name: none;">
                      <p class="title"><a href="http://mo004_1164.mo4.line1.uemo.net/team/post/5565/">文斌</a></p>
                      <p class="subtitle">机械工程师</p>
                      <p class="description wow" style="visibility: hidden; animation-name: none;">
                        5年交互体验设计经验，层服务于北京建筑设计研究院（BIAD）、日本电通、联想集团具有创业精神，能承受一定的工作压力</p>
                    </div>
                    <a href="http://mo004_1164.mo4.line1.uemo.net/team/post/5565/" target="_blank"
                      class="details">more<i class="fa fa-angle-right"></i></a>
                  </li>
                </ul>
              </div>
              <div class="bx-controls bx-has-pager bx-has-controls-direction">
                <div class="bx-pager bx-default-pager">
                  <div class="bx-pager-item"><a href="http://mo004_1164.mo4.line1.uemo.net/" data-slide-index="0"
                      class="bx-pager-link active">1</a></div>
                  <div class="bx-pager-item"><a href="http://mo004_1164.mo4.line1.uemo.net/" data-slide-index="1"
                      class="bx-pager-link">2</a></div>
                  <div class="bx-pager-item"><a href="http://mo004_1164.mo4.line1.uemo.net/" data-slide-index="2"
                      class="bx-pager-link">3</a></div>
                </div>
                <div class="bx-controls-direction"><a class="bx-prev" href="http://mo004_1164.mo4.line1.uemo.net/"><i
                      class="fa fa-angle-left"></i></a><a class="bx-next"
                    href="http://mo004_1164.mo4.line1.uemo.net/"><i class="fa fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <a href="http://mo004_1164.mo4.line1.uemo.net/team/" class="more wow animated"
          style="visibility: visible;">MORE<i class="fa fa-angle-right"></i></a>
      </div>
    </div>

    <style type="text/css">
      #indexPage .module.mvideom.mm97949 {
        background-color: rgba(255, 255, 255, 1)
      }

      .module.mvideom.mm97949 .content {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .module.mvideom.mm97949 ul.content_list li {
        width: 25%
      }

      .module.mvideom.mm97949 ul.content_list li .wrap {
        margin-right: 20px;
      }

      .module.mvideom.mm97949 ul.content_list li {
        margin-bottom: 20px
      }

      .module.mvideom.mm97949 ul.content_list {
        margin-right: -20px
      }
    </style>

    <div class="module mm97949 mvideom mvideom01">
      <div class="bgmask"></div>
      <div class="content layoutnone">
        <div class="mvideo_header wow" style="visibility: hidden; animation-name: none;">
          <p class="mvideo_title">视频宣传</p>
          <p class="mvideo_subtitle">Video promotion</p>
        </div>
        <div class="module-content  fw">
          <div class="wrapper">
            <ul class="content_list clearfix" data-options-sliders="4" data-options-margin="20" data-options-ease=""
              data-options-speed="0">
              <li class="videom_item wow first" style="animation-delay: 0s; visibility: hidden; animation-name: none;"
                id="videom_item_0" data-index="0" data-href="http://video.res.jsmo.xin/4726/201709/1509003187978.mp4">
                <div class="wrap">
                  <div class="image">
                    <a href="http://video.res.jsmo.xin/4726/201709/1509003187978.mp4" class="item_link"
                      target="_blank">
                      <img src="./151204018095.jpg">
                      <div class="imgMask"></div>
                      <div class="imgIcon">
                        <svg t="1511248787040" class="icon icon-ring" style="" viewBox="0 0 1024 1024" version="1.1"
                          width="56" height="56">
                          <defs>
                            <style type="text/css"></style>
                          </defs>
                          <path
                            d="M512 32A480 480 0 1 1 32 512 480 480 0 0 1 512 32m0-32a512 512 0 1 0 512 512A512 512 0 0 0 512 0z"
                            p-id="4696"></path>
                        </svg>
                        <svg t="1511248293675" class="icon icon-triangle" style="" viewBox="0 0 1024 1024"
                          version="1.1" p-id="2047" width="16" height="16">
                          <defs>
                            <style type="text/css"></style>
                          </defs>
                          <path
                            d="M842.524444 448.341333 321.706667 96.483556C269.767111 61.383111 227.555556 83.740444 227.555556 146.545778l0 730.794667c0 62.862222 42.154667 85.219556 94.151111 50.119111l520.760889-351.857778C894.464 540.501333 894.520889 483.498667 842.524444 448.341333z"
                            p-id="2048"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                  <div class="item_info ">
                    <p class="title ellipsis ">投资创新的未来</p>
                    <p class="subtitle ellipsis">The future of investment innovation</p>
                  </div>
                  <a href="http://mo004_1164.mo4.line1.uemo.net/" class="video_details">
                    <svg t="1511314697872" class="icon icon-arrows" style="" viewBox="0 0 1024 1024" version="1.1"
                      width="32" height="32">
                      <defs>
                        <style type="text/css"></style>
                      </defs>
                      <path
                        d="M347.526 657.92c7.68 7.68 7.68 20.48 0 28.16s-20.48 7.68-28.16 0l-160-160c-7.68-7.68-7.68-20.48 0-28.16l160-160c7.68-7.68 20.48-7.68 28.16 0s7.68 20.48 0 28.16L221.758 491.837h628.479c11.203 0 20.163 8.96 20.163 20.163s-8.96 20.163-20.163 20.163H221.439L347.524 657.92z"
                        fill="" p-id="2433"></path>
                    </svg>
                    <svg t="1511314697872" class="icon icon-arrows01" style="" viewBox="0 0 1024 1024" version="1.1"
                      width="32" height="32">
                      <defs>
                        <style type="text/css"></style>
                      </defs>
                      <path
                        d="M347.526 657.92c7.68 7.68 7.68 20.48 0 28.16s-20.48 7.68-28.16 0l-160-160c-7.68-7.68-7.68-20.48 0-28.16l160-160c7.68-7.68 20.48-7.68 28.16 0s7.68 20.48 0 28.16L221.758 491.837h628.479c11.203 0 20.163 8.96 20.163 20.163s-8.96 20.163-20.163 20.163H221.439L347.524 657.92z"
                        fill="" p-id="2433"></path>
                    </svg>
                  </a>
                </div>
              </li>
              <li class="videom_item wow " style="animation-delay: 0.1s; visibility: hidden; animation-name: none;"
                id="videom_item_1" data-index="1" data-href="http://video.res.jsmo.xin/4726/201709/1509003187978.mp4">
                <div class="wrap">
                  <div class="image">
                    <a href="http://video.res.jsmo.xin/4726/201709/1509003187978.mp4" class="item_link"
                      target="_blank">
                      <img src="./1512037650765.jpg">
                      <div class="imgMask"></div>
                      <div class="imgIcon">
                        <svg t="1511248787040" class="icon icon-ring" style="" viewBox="0 0 1024 1024" version="1.1"
                          width="56" height="56">
                          <defs>
                            <style type="text/css"></style>
                          </defs>
                          <path
                            d="M512 32A480 480 0 1 1 32 512 480 480 0 0 1 512 32m0-32a512 512 0 1 0 512 512A512 512 0 0 0 512 0z"
                            p-id="4696"></path>
                        </svg>
                        <svg t="1511248293675" class="icon icon-triangle" style="" viewBox="0 0 1024 1024"
                          version="1.1" p-id="2047" width="16" height="16">
                          <defs>
                            <style type="text/css"></style>
                          </defs>
                          <path
                            d="M842.524444 448.341333 321.706667 96.483556C269.767111 61.383111 227.555556 83.740444 227.555556 146.545778l0 730.794667c0 62.862222 42.154667 85.219556 94.151111 50.119111l520.760889-351.857778C894.464 540.501333 894.520889 483.498667 842.524444 448.341333z"
                            p-id="2048"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                  <div class="item_info ">
                    <p class="title ellipsis ">我们正朝着更加光明的未来努力。</p>
                    <p class="subtitle ellipsis">We’re working towards a brighter future</p>
                  </div>
                  <a href="http://mo004_1164.mo4.line1.uemo.net/" class="video_details">
                    <svg t="1511314697872" class="icon icon-arrows" style="" viewBox="0 0 1024 1024" version="1.1"
                      width="32" height="32">
                      <defs>
                        <style type="text/css"></style>
                      </defs>
                      <path
                        d="M347.526 657.92c7.68 7.68 7.68 20.48 0 28.16s-20.48 7.68-28.16 0l-160-160c-7.68-7.68-7.68-20.48 0-28.16l160-160c7.68-7.68 20.48-7.68 28.16 0s7.68 20.48 0 28.16L221.758 491.837h628.479c11.203 0 20.163 8.96 20.163 20.163s-8.96 20.163-20.163 20.163H221.439L347.524 657.92z"
                        fill="" p-id="2433"></path>
                    </svg>
                    <svg t="1511314697872" class="icon icon-arrows01" style="" viewBox="0 0 1024 1024" version="1.1"
                      width="32" height="32">
                      <defs>
                        <style type="text/css"></style>
                      </defs>
                      <path
                        d="M347.526 657.92c7.68 7.68 7.68 20.48 0 28.16s-20.48 7.68-28.16 0l-160-160c-7.68-7.68-7.68-20.48 0-28.16l160-160c7.68-7.68 20.48-7.68 28.16 0s7.68 20.48 0 28.16L221.758 491.837h628.479c11.203 0 20.163 8.96 20.163 20.163s-8.96 20.163-20.163 20.163H221.439L347.524 657.92z"
                        fill="" p-id="2433"></path>
                    </svg>
                  </a>
                </div>
              </li>
              <li class="videom_item wow " style="animation-delay: 0.2s; visibility: hidden; animation-name: none;"
                id="videom_item_2" data-index="2" data-href="http://video.res.jsmo.xin/4726/201709/1509003187978.mp4">
                <div class="wrap">
                  <div class="image">
                    <a href="http://video.res.jsmo.xin/4726/201709/1509003187978.mp4" class="item_link"
                      target="_blank">
                      <img src="./1512040355122.jpg">
                      <div class="imgMask"></div>
                      <div class="imgIcon">
                        <svg t="1511248787040" class="icon icon-ring" style="" viewBox="0 0 1024 1024" version="1.1"
                          width="56" height="56">
                          <defs>
                            <style type="text/css"></style>
                          </defs>
                          <path
                            d="M512 32A480 480 0 1 1 32 512 480 480 0 0 1 512 32m0-32a512 512 0 1 0 512 512A512 512 0 0 0 512 0z"
                            p-id="4696"></path>
                        </svg>
                        <svg t="1511248293675" class="icon icon-triangle" style="" viewBox="0 0 1024 1024"
                          version="1.1" p-id="2047" width="16" height="16">
                          <defs>
                            <style type="text/css"></style>
                          </defs>
                          <path
                            d="M842.524444 448.341333 321.706667 96.483556C269.767111 61.383111 227.555556 83.740444 227.555556 146.545778l0 730.794667c0 62.862222 42.154667 85.219556 94.151111 50.119111l520.760889-351.857778C894.464 540.501333 894.520889 483.498667 842.524444 448.341333z"
                            p-id="2048"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                  <div class="item_info ">
                    <p class="title ellipsis ">天空中有更多的空间</p>
                    <p class="subtitle ellipsis">More Space in the Sky</p>
                  </div>
                  <a href="http://mo004_1164.mo4.line1.uemo.net/" class="video_details">
                    <svg t="1511314697872" class="icon icon-arrows" style="" viewBox="0 0 1024 1024" version="1.1"
                      width="32" height="32">
                      <defs>
                        <style type="text/css"></style>
                      </defs>
                      <path
                        d="M347.526 657.92c7.68 7.68 7.68 20.48 0 28.16s-20.48 7.68-28.16 0l-160-160c-7.68-7.68-7.68-20.48 0-28.16l160-160c7.68-7.68 20.48-7.68 28.16 0s7.68 20.48 0 28.16L221.758 491.837h628.479c11.203 0 20.163 8.96 20.163 20.163s-8.96 20.163-20.163 20.163H221.439L347.524 657.92z"
                        fill="" p-id="2433"></path>
                    </svg>
                    <svg t="1511314697872" class="icon icon-arrows01" style="" viewBox="0 0 1024 1024" version="1.1"
                      width="32" height="32">
                      <defs>
                        <style type="text/css"></style>
                      </defs>
                      <path
                        d="M347.526 657.92c7.68 7.68 7.68 20.48 0 28.16s-20.48 7.68-28.16 0l-160-160c-7.68-7.68-7.68-20.48 0-28.16l160-160c7.68-7.68 20.48-7.68 28.16 0s7.68 20.48 0 28.16L221.758 491.837h628.479c11.203 0 20.163 8.96 20.163 20.163s-8.96 20.163-20.163 20.163H221.439L347.524 657.92z"
                        fill="" p-id="2433"></path>
                    </svg>
                  </a>
                </div>
              </li>
              <li class="videom_item wow " style="animation-delay: 0s; visibility: hidden; animation-name: none;"
                id="videom_item_3" data-index="3" data-href="http://video.res.jsmo.xin/4726/201709/1509003187978.mp4">
                <div class="wrap">
                  <div class="image">
                    <a href="http://video.res.jsmo.xin/4726/201709/1509003187978.mp4" class="item_link"
                      target="_blank">
                      <img src="./1512034500500.jpg">
                      <div class="imgMask"></div>
                      <div class="imgIcon">
                        <svg t="1511248787040" class="icon icon-ring" style="" viewBox="0 0 1024 1024" version="1.1"
                          width="56" height="56">
                          <defs>
                            <style type="text/css"></style>
                          </defs>
                          <path
                            d="M512 32A480 480 0 1 1 32 512 480 480 0 0 1 512 32m0-32a512 512 0 1 0 512 512A512 512 0 0 0 512 0z"
                            p-id="4696"></path>
                        </svg>
                        <svg t="1511248293675" class="icon icon-triangle" style="" viewBox="0 0 1024 1024"
                          version="1.1" p-id="2047" width="16" height="16">
                          <defs>
                            <style type="text/css"></style>
                          </defs>
                          <path
                            d="M842.524444 448.341333 321.706667 96.483556C269.767111 61.383111 227.555556 83.740444 227.555556 146.545778l0 730.794667c0 62.862222 42.154667 85.219556 94.151111 50.119111l520.760889-351.857778C894.464 540.501333 894.520889 483.498667 842.524444 448.341333z"
                            p-id="2048"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                  <div class="item_info ">
                    <p class="title ellipsis ">把开关翻转到玻璃飞行甲板上</p>
                    <p class="subtitle ellipsis">Flipping the Switch to a Glass Flight Deck</p>
                  </div>
                  <a href="http://mo004_1164.mo4.line1.uemo.net/" class="video_details">
                    <svg t="1511314697872" class="icon icon-arrows" style="" viewBox="0 0 1024 1024" version="1.1"
                      width="32" height="32">
                      <defs>
                        <style type="text/css"></style>
                      </defs>
                      <path
                        d="M347.526 657.92c7.68 7.68 7.68 20.48 0 28.16s-20.48 7.68-28.16 0l-160-160c-7.68-7.68-7.68-20.48 0-28.16l160-160c7.68-7.68 20.48-7.68 28.16 0s7.68 20.48 0 28.16L221.758 491.837h628.479c11.203 0 20.163 8.96 20.163 20.163s-8.96 20.163-20.163 20.163H221.439L347.524 657.92z"
                        fill="" p-id="2433"></path>
                    </svg>
                    <svg t="1511314697872" class="icon icon-arrows01" style="" viewBox="0 0 1024 1024" version="1.1"
                      width="32" height="32">
                      <defs>
                        <style type="text/css"></style>
                      </defs>
                      <path
                        d="M347.526 657.92c7.68 7.68 7.68 20.48 0 28.16s-20.48 7.68-28.16 0l-160-160c-7.68-7.68-7.68-20.48 0-28.16l160-160c7.68-7.68 20.48-7.68 28.16 0s7.68 20.48 0 28.16L221.758 491.837h628.479c11.203 0 20.163 8.96 20.163 20.163s-8.96 20.163-20.163 20.163H221.439L347.524 657.92z"
                        fill="" p-id="2433"></path>
                    </svg>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
        <a href="http://mo004_1164.mo4.line1.uemo.net/videom/" class="mvideo_more wow animated"
          style="visibility: visible;">MORE<i class="fa fa-angle-right"></i></a>
      </div>
    </div>

    <div id="mservice" class="module">
      <div class="bgmask"></div>
      <div class="content layoutnone">
        <div class="header wow fw" data-wow-delay=".1s"
          style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
          <p class="title">企业理念</p>
          <p class="subtitle">Talent recruitment</p>
        </div>
        <div class="module-content fw" id="servicelist">
          <div class="wrapper">
            <ul class="content_list" data-options-sliders="3" data-options-margin="10" data-options-ease="1"
              data-options-speed="0">
              <li id="serviceitem_0" class="serviceitem wow" style="visibility: hidden; animation-name: none;"><a
                  href="http://mo004_1164.mo4.line1.uemo.net/service/post/4407/" target="_blank">
                  <p class="service_img"><img src="./151202416932.jpg" width="320" height="120" alt="人才理念 "></p>
                  <div class="service_info">
                    <p class="title">人才理念 </p>
                    <p class="description">人才是企业发展的真正动力，公司信奉卓越有效的人才战略，重视人才的开发与培养 ...</p>
                  </div>
                </a>
                <a href="http://mo004_1164.mo4.line1.uemo.net/service/post/4407/" target="_blank"
                  class="details">more<i class="fa fa-angle-right"></i></a>
              </li>
              <li id="serviceitem_1" class="serviceitem wow" style="visibility: hidden; animation-name: none;"><a
                  href="http://mo004_1164.mo4.line1.uemo.net/service/post/4406/" target="_blank">
                  <p class="service_img"><img src="./1512371921313.jpg" width="320" height="120" alt="社会责任 "></p>
                  <div class="service_info">
                    <p class="title">社会责任 </p>
                    <p class="description">“十年树木，百年树人”，公司不断加大对培训的投入，已被提到战略的高是从公司高层对人.....</p>
                  </div>
                </a>
                <a href="http://mo004_1164.mo4.line1.uemo.net/service/post/4406/" target="_blank"
                  class="details">more<i class="fa fa-angle-right"></i></a>
              </li>
              <li id="serviceitem_2" class="serviceitem wow" style="visibility: hidden; animation-name: none;"><a
                  href="http://mo004_1164.mo4.line1.uemo.net/service/post/4405/" target="_blank">
                  <p class="service_img"><img src="./1512372354662.jpg" width="320" height="120" alt="市场责任"></p>
                  <div class="service_info">
                    <p class="title">市场责任</p>
                    <p class="description">请将简历发送至：hr1@iffkh.com或与010-4363731-人力资源部联系 ... </p>
                  </div>
                </a>
                <a href="http://mo004_1164.mo4.line1.uemo.net/service/post/4405/" target="_blank"
                  class="details">more<i class="fa fa-angle-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
        <a href="http://mo004_1164.mo4.line1.uemo.net/service/" class="more wow animated"
          style="visibility: visible; animation-name: fadeInUp;">MORE<i class="fa fa-angle-right"></i></a>
      </div>
    </div>

    <div id="mcontact" class="module">
      <div class="bgmask"></div>
      <div class="content">
        <div class="header wow fadeInUp fw" data-wow-delay=".1s"
          style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
          <p class="title">联系</p>
          <p class="subtitle">Contact</p>
        </div>
        <div id="contactlist" class="fw">
          <div id="contactinfo" class="fl wow" data-wow-delay=".2s"
            style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">

            <h3 class="ellipsis name">魔艺(UEmo)极速建站系统</h3>
            <p class="ellipsis add">地址：北京市建外SOHO东区2号楼</p>
            <p class="ellipsis zip">邮编：100000</p>
            <p class="ellipsis tel">电话：010-69557550</p>
            <p class="ellipsis mobile">手机：13521043455 / 13811334772</p>
            <p class="ellipsis fax"><span>传真：</span>000-66668888</p>
            <p class="ellipsis email"><span>邮箱：</span>website@qq.com</p>
            <div><a class="fl" target="_blank" href="http://weibo.com/web"><i class="fa fa-weibo"></i></a><a
                class="fl" target="_blank" href="tencent://message/?uin=40080000&amp;Site=uemo&amp;Menu=yes"><i
                  class="fa fa-qq"></i></a> <a id="mpbtn" class="fl" href="./1449307546350.jpg"><i
                  class="fa fa-weixin"></i></a></div>
          </div>
          <div id="contactform" class="fr wow animated" data-wow-delay=".2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
            <form action="http://mo004_1164.mo4.line1.uemo.net/message/" method="post">
              <p>
                <input type="text" class="inputtxt name" name="name" placeholder="姓名" autocomplete="off">
              </p>
              <p>
                <input type="text" class="inputtxt email" name="email" placeholder="邮箱" autocomplete="off">
              </p>
              <p>
                <input type="text" class="inputtxt tel" name="tel" placeholder="电话" autocomplete="off">
              </p>
              <p>
                <textarea class="inputtxt cont" name="content" placeholder="内容" autocomplete="off"></textarea>
              </p>
              <p>
                <input class="inputsub" type="submit" value="提交">
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="mmap module">
      <div class="bgmask"></div>
      <div class="content">
        <div class="header wow animated" style="visibility: visible;">
          <p class="title">地图</p>
        </div>
        <div class="module-content">
          <div class="wrapper">
            <div class="map_content">
              <iframe height="600" width="100%" src="./saved_resource(1).html" frameborder="0"
                allowfullscreen=""></iframe>
            </div>
          </div>
          <!--wrapper-->
        </div>
      </div>
    </div>
    <!--mpage-->
    <div id="mpartner" class="module">
      <div class="bgmask"></div>
      <div class="content layoutslider">
        <div class="header wow fw animated" data-wow-delay=".1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: slideInUp;">
          <p class="title">合作伙伴</p>
          <p class="subtitle">partner</p>
        </div>
        <div class="module-content fw">
          <div class="wrapper">
            <div class="bx-wrapper" style="max-width: 1140px;">
              <div class="bx-viewport" style="position: relative; overflow: hidden; width: 100%; height: 80px;">
                <ul class="content_list" data-options-ease="1" data-options-speed="0"
                  style="position: relative; width: 415%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                  <li id="partneritem_0" class="wow" data-wow-delay=".0s"
                    style="width: 1140px; list-style: none; position: relative; float: left; visibility: hidden; animation-delay: 0s; animation-name: none;">
                    <a title="baidu" target="_blank" class="wow slideInUp" data-wow-delay=".0s"
                      style="visibility: hidden; animation-delay: 0s; animation-name: none;">

                      <p class="par_img"><img src="./1511942478303.png" width="160" height="80" alt="baidu"></p>
                      <p class="par_title">baidu</p>

                    </a><a href="https://www.baidu.com/" title="WEB1" target="_blank" class="wow slideInUp"
                      data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">

                      <p class="par_img"><img src="./1460532929454.png" width="160" height="80" alt="WEB1"></p>
                      <p class="par_title">WEB1</p>

                    </a><a href="https://www.baidu.com/" title="合作伙伴logo1" target="_blank" class="wow slideInUp"
                      data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">

                      <p class="par_img"><img src="./1451038650682.png" width="160" height="80" alt="合作伙伴logo1"></p>
                      <p class="par_title">合作伙伴logo1</p>

                    </a><a href="https://www.baidu.com/" title="合作伙伴logo4" target="_blank" class="wow slideInUp"
                      data-wow-delay=".3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">

                      <p class="par_img"><img src="./1451039311523.png" width="160" height="80" alt="合作伙伴logo4"></p>
                      <p class="par_title">合作伙伴logo4</p>

                    </a><a href="https://www.baidu.com/" title="合作伙伴logo2" target="_blank" class="wow slideInUp"
                      data-wow-delay=".4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">

                      <p class="par_img"><img src="./1451038889783.png" width="160" height="80" alt="合作伙伴logo2"></p>
                      <p class="par_title">合作伙伴logo2</p>

                    </a><a href="https://www.baidu.com/" title="合作伙伴logo3" target="_blank" class="wow slideInUp"
                      data-wow-delay=".5s" style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">

                      <p class="par_img"><img src="./1451038998591.png" width="160" height="80" alt="合作伙伴logo3"></p>
                      <p class="par_title">合作伙伴logo3</p>

                    </a><a href="https://www.baidu.com/" title="Google" target="_blank" class="wow slideInUp"
                      data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">

                      <p class="par_img"><img src="./1451039355850.png" width="160" height="80" alt="Google"></p>
                      <p class="par_title">Google</p>

                    </a><a href="https://www.baidu.com/" title="合作伙伴logo" target="_blank" class="wow slideInUp"
                      data-wow-delay=".7s" style="visibility: hidden; animation-delay: 0.7s; animation-name: none;">

                      <p class="par_img"><img src="./1451037714851.png" width="160" height="80" alt="合作伙伴logo"></p>
                      <p class="par_title">合作伙伴logo</p>

                    </a></li>
                  <li id="partneritem_8" class=""
                    style="width: 1140px; list-style: none; position: relative; float: left;"><a
                      href="https://www.baidu.com/" title="合作伙伴logo5" target="_blank" class="wow slideInUp"
                      data-wow-delay=".8s" style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">

                      <p class="par_img"><img src="./1451039609622.png" width="160" height="80" alt="合作伙伴logo5"></p>
                      <p class="par_title">合作伙伴logo5</p>

                    </a></li>
                </ul>
              </div>
              <div class="bx-controls bx-has-pager bx-has-controls-direction">
                <div class="bx-pager bx-default-pager">
                  <div class="bx-pager-item"><a href="http://mo004_1164.mo4.line1.uemo.net/" data-slide-index="0"
                      class="bx-pager-link active">1</a></div>
                  <div class="bx-pager-item"><a href="http://mo004_1164.mo4.line1.uemo.net/" data-slide-index="1"
                      class="bx-pager-link">2</a></div>
                </div>
                <div class="bx-controls-direction"><a class="bx-prev" href="http://mo004_1164.mo4.line1.uemo.net/"><i
                      class="fa fa-angle-left"></i></a><a class="bx-next"
                    href="http://mo004_1164.mo4.line1.uemo.net/"><i class="fa fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <p>COPYRIGHT (©) 2019 狮子城文化创意园. <a class="beian" href="http://www.miitbeian.gov.cn/"
      style="display:inline; width:auto; color:#8e8e8e" target="_blank"> </a><span
      style="vertical-align: top;display: inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;技术支持</span> <a id="flogo"
      target="_blank" href="http://www.uemo.net/"><img src="./logo.png" width="50" height="20"></a></p>
</div>

{% include tel_share.html %}