<div class="ticket-item m-2">
    <dl>
        <dt>
            <div class="up">
                <p class="fl">购买时间：<span>2018-08-25 19:05:47</span> </p> <i class="fr">已出票</i>
            </div>
            <p>订单信息：</p>
            <p class="p_main"><span>入园消费50元抵用券</span><span>2018-08-25</span> <i>x2</i> </p>
            <p>订单号：OE180825000345</p>
        </dt>
        <dd class="down">
            <div class="fl">订单总额：<span>¥100</span></div>
            <div class="fr">
                <a href="nowPlay.html" class="btn btn-warning text-white p-1">立刻支付</a>
            </div>
        </dd>
    </dl>
</div>
<div class="ticket-item m-2">
   <dl>
        <dt>
            <div class="up">
                <p class="fl">购买时间：<span>2018-08-25 19:05:47</span> </p> <i class="fr">已出票</i>
            </div>
            <p>订单信息：</p>
            <p class="p_main"><span>入园消费50元抵用券</span><span>2018-08-25</span> <i>x2</i> </p>
            <p>订单号：OE180825000345</p>
        </dt>
        <dd class="down">
            <div class="fl">订单总额：<span>¥100</span></div>
            <div class="fr">
                <a href="nowPlay.html" class="btn btn-warning text-white p-1">立刻支付</a>
            </div>
        </dd>
   </dl>
</div>