---
layout: pages1
title: 各场馆数据分析
---
<!-- Sidebars -->
{% include left_Sidebars.html %}
<!-- Page Content -->
<div id="content">

    <div id="toolbar" class="primary-color">
        <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="ion-android-menu"></i>
        </div>
        <span class="title">综合数据分析图</span>
    </div>        
    
    <!-- Main Content -->
    <div class="page">

        <!-- 各场馆数据分析图 -->
        <div id="line_chart" class="card m-10 p-10">
            <!-- <div class="legend">
                <h5 class="uppercase">综合数据分析图</h5>
            </div> -->

            <div class="lineChartCont">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        
    </div>
</div>