<div class="mod_pos_item pr-0" hidden>
		<div class="weui-cells">
				<div class="weui-cell weui-cell_select">
								<div class="weui-cell__hd">
												<label for="name" class="weui-label">联系人员 <em>*</em></label>
								</div>
								<div class="weui-cell__bd">
									 <input type="text" class="weui-input text-right" placeholder="请输入">
								</div>
				</div>
				<div class="weui-cell weui-cell_select">
								<div class="weui-cell__hd">
												<label for="name" class="weui-label">联系电话 <em>*</em></label>
								</div>
								<div class="weui-cell__bd">
									 <input type="text" class="weui-input text-right" placeholder="请输入">
									 <p class="text-right"><small>格式:0752-5766666,多个电话用分号";"隔开！</small></p>
								</div>
				</div>
				<div class="weui-cell weui-cell_select">
								<div class="weui-cell__hd">
												<label for="name" class="weui-label">电子邮件 <em>*</em></label>
								</div>
								<div class="weui-cell__bd">
										<div class="d-flex">
											<input type="text" class="weui-input text-right" placeholder="请输入">
										</div>
								</div>
				</div>
				<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
								 <label for="name" class="weui-label">标注地图</label>
					</div>
					<div class="weui-cell__bd">
							 <div class="accNumBtn text-right">
										<a href="javascript:;" class="btn btn-primary btn-sm ml-2">标注地图</a>
							 </div>
					</div>
				 </div>
				<div class="weui-cell weui-cell_select">
						<div class="weui-cell__hd">
									 <label for="name" class="weui-label">详细地址 <em>*</em></label>
						</div>
						<div class="weui-cell__bd">
								 <div class="accNumBtn text-right">
												<input type="text" class="weui-input text-right" placeholder="请选择">
								 </div>
						</div>
				</div>
		</div>
		<!-- 底部按钮 -->
	 <section class="mod_pos_btn">
			<div class="mod_pos_btn_air"><a href="qyCorInfAdd.html">上一步</a></div>
			<div class="mod_pos_btn_rea"><a href="qyCorInfFuliAdd.html">下一步</a></div>
			<!-- <input onclick="javascript:showComInfoBase();" class="mod_pos_btn_air" value="上一步" id="saveEduBtn" type="button">
			<input onclick="javascript:showComInfofare();" class="mod_pos_btn_rea" value="下一步" id="saveEduBtn" type="button"> -->
	 </section>
</div>