/*320px*/
/* iphone 4 */
@media (min-device-width : 175px) and (max-device-width : 320px) and (-webkit-min-device-pixel-ratio : 2) {
    .nav_list{width:19%; }
    .job_list_similar_bot .job_list_similar_bot_t{width:30%; }
    .job_list_similar_bot .job_list_similar_bot_b{width:35%;}
    .com_show_useryq  .com_show_useryq_t{width:30%;}
    .com_show_useryq  ul .com_show_useryq_rs{width:25%;}
    .user_contnet_ul_wip4 li{width:49%;}
    .jon_list_info_xz_c{ font-size:14px;}
    .com_list_box_joblist_a{max-width:80px;}
    .com_list_box_js .com_list_box_js_s_hy{max-width:120px;}
    .resume_photo_box{width:100%;height:40px; background:#fff; position:relative; z-index:10}
    .resume_photo{width:70px; position:absolute;left:50%; margin-left:-40px;bottom:0px;}
    .resume_photo img{width:70px;height:70px;border:2px solid #fff;border-radius:50%;}
    .list_once_touch{ margin-right:0px;}
    .list_once_touch_tel{width:35px; padding-left:10px;}
    .once_fb_a{width:45px;}
    .classify{width:18%;}
    .resume_gx{ font-size:12px;}
    .job_list_similar_date{ font-size:12px;}
    .index_wap_joblist_yq_s{ margin-right:0px; padding-left:15px;}
    .com_show_jy{ margin-left:0px;}
    .indexcom_list_box_js{ font-size:12px;}
    .index_wap_joblist_comname_p{ font-size:12px;}
    .once_cont_wate_list_tips{ font-size:12px;}
    .askct_iss_p_ftp{width:75%;}
    .ask_ct_list_tit_ft{width:75%;}
    .Part-time_job_js_span{ margin-right:10px;}
    .yunwap_reg ul{ margin-top:30px;}
    .yunwap_reg ul li{padding: 100px 0 0px 0;}
    .job_list_similar_city,.job_list_similar_money{ font-size:12px;}
    .index_wap_joblist_xz{ font-size:12px;}
    .yun_text_fooeter  .footer_box_bot{height:0px;}
    .yun_text_fooeter .footer_sum{ position:relative}
    .input_search{ font-size:12px;}
    .rsm_schedule_b{width:100px;}
    .yun_usermember_info_photo img{width:60px;height:60px;}
    .yun_usermember_info_cont{padding:10px 0px 15px 80px}
    .yun_usermember_info_photo{top:-20px;}
    .foot_nav_box_list li{ margin-top:5px;}
    .ask_content_cz_a{width:120px;}
    .tw_img{right:-100px;}
    .tw_img img{width:100px;}
    .invite_box{ padding:5px;}
    .ask_home_nav{ padding:8px 10px 10px 80px}
    .ask_home_logo{left:10px;}
    .ask_home_logo img{width:60px;height:60px;}
    .ask_home_name{ padding-left:80px;}
    .sj_job_box{ padding:8px 60px 8px 2px;}
    .sj_job_box_bth{right:2px; padding:2px 2px;}
    .report_box_yz input{width:80px;}
    .report_box_yz img{width:100px;}
    .train_index_nav_list li{width:23%}
    .ask_msg_up li{width:18%;}
    .user_tj_showxg{right:0px;bottom:13px;}
    .user_tj_showxg_h{right:0px;bottom:13px;}
    .footer_fixlogin_bth{ margin-left:5px; padding:5px 10px}
    .rg_img{position:absolute;right:0px;top:3px;}
    .evaluate_pf_right_fs{ font-size:30px;}
    }