/*category*/
.yun_category_box{width:100%; background:#fff;min-height: 255px; position:absolute;left:0px;top:98px; z-index:1000}
.yun_category_left{width:55%; float:left;}
.yun_category_list li{ background: #F5F5F5;color: #636363;border-bottom: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding: 10px 5px;}
.yun_category_list .yun_category_on{color: #00A0E9;background: #FFF;border-right: 1px solid #FFF;}
.yun_category_right{width:45%; float:left; height:10px;}
.yun_category_right_list li{color: #5F5F5F;border-bottom: 1px solid #FFF;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding: 10px 5px;position: relative;}