body{max-width:32.2rem;min-height:16.1rem;margin:0 auto}
html{font-size:20px}
*{-webkit-tap-highlight-color:transparent;outline:0}
img{border:0 none;vertical-align:top}
em,i{font-style:normal}
ol,ul{list-style:none}
button,h1,h2,h3,h4,h5,h6,input,select{font-size:100%;font-family:inherit}
table{border-collapse:collapse;border-spacing:0}
a,a:visited{text-decoration:none;color:#333}
.row,dl,h2,h6,label,ol,p,ul{margin:0;padding:0}
.w-5{width:5%!important}
.w-10{width:10%!important}
.w-20{width:20%!important}
.w-30{width:30%!important}
.w-40{width:40%!important}
.w-50{width:50%!important}
.w-55{width:55%!important}
.header_h{width:100%;height:55px}
.header_fixed{width:100%;height:55px;position:fixed;left:0;top:0;z-index:10000000}
.header_bg{width:100%;height:55px;background:#36c;position:relative;z-index:10}
.header_userbg{width:100%;height:55px;position:relative;z-index:10;background:-webkit-gradient(linear,left top,right top,from(#000051),to(#af477e));background:-webkit-linear-gradient(left,#000051,#af477e);background:-o-linear-gradient(left,#000051,#af477e);background:linear-gradient(90deg,#000051,#af477e)}
.header_fx_search{width:70%;margin:0 auto}
.header_p_z{width:70%;color:#fff;text-align:center;height:55px;line-height:55px;font-size:18px}
body.jobBg{background:url(../images/jobBg1.png) no-repeat;-webkit-background-size:100% 100%;background-size:100%}
.status{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:100vh}
.status a{display:block;text-decoration:none}
.sta_tit h4{font-size:1.00625rem;margin-bottom:0}
.sta_tit small{color:#adb5bd}
.sta_tit_box{text-align:center;display:block}
.sta_tit_box p{width:120px;margin:0 auto}
@media (min-width:320px){.sta_tit_box img{width:120px;height:120px}
}
@media (min-width:375px){.sta_tit_box img{width:150px;height:150px}
}
@media (min-width:414px){.sta_tit_box img{width:170px;height:170px}
}