<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欧美城-欧欧主题酒店</title>
    {% include header.html %}
    {% include script.html %}
</head>
<body>
    {{content}}
    <script src="../../static/web/src/layui.js" charset="utf-8"></script>
    {% if page.layout == "page/fangtaitu/fangtaitu" %}
        {% include script_bottom.html %}
    {% endif %}
    {% if page.layout == "page/fjguanli/fjguanli" %}
        {% include script/fjguanliJs.html %}
    {% endif %}
</body>
</html>