---
layout: pages
title: 社交账号绑定
---
<header>
    <div class="header_bg bg3">
        <a class="hd-lbtn " href=""><i class="header_top_l iconfont"></i></a>
        <div class="header_h1">社交账号绑定</div>
    </div>
</header>
<ul class="bingding_box">
    <li>
        <div class="bingding_box_iconbg "><i class="bingding_box_iconwx"></i></div>
        <div class="bingding_box_name">微信绑定</div>
        <a href="" class="bingding_box_bth">立即绑定</a>
        <div class="bingding_box_p">绑定微信，下次你可以直接使用微信快捷登录</div>
    </li>
    <li>
        <div class="bingding_box_iconbg "><i class="bingding_box_iconqq"></i></div>
        <div class="bingding_box_name">QQ绑定</div>
        <a href="" class="bingding_box_bth">立即绑定</a>
        <div class="bingding_box_p">绑定QQ，下次你可以直接使用QQ号快捷登录</div>
    </li>
    <li>
        <div class="bingding_box_iconbg "><i class="bingding_box_iconxl"></i></div>
        <div class="bingding_box_name">新浪微博绑定</div>
        <a href="" class="bingding_box_bth">立即绑定</a>
        <div class="bingding_box_p">绑定新浪微博，下次你可以直接使用新浪微博快捷登录</div>
    </li>
</ul>