---
layout: pages
title: 简历管理
---
<header>
    <div class="header_bg bg3">
        <a class="hd-lbtn " href="javascript:history.back()"><i class="header_top_l iconfont"></i></a>
        <div class="header_h1">简历管理</div>
    </div>
</header>
<ul class="yunset mt15">
    <li>
        <a href="qy_hr.html">应聘简历<span class="yunset_list_newmsg"></span><span class="yun_mnav_tip">有0条</span></a>
    </li>
    <li>
        <a href="qy_invite.html">面试邀请<span class="yunset_list_newmsg"></span><span class="yun_mnav_tip">有0条</span></a>
    </li>
    <li>
        <a href="qy_lookResume.html">浏览简历<span class="yunset_list_newmsg"></span><span class="yun_mnav_tip">有6条</span></a>
    </li>

    <li>
        <a href="qy_talentPool.html">收藏简历<span class="yunset_list_newmsg"></span><span class="yun_mnav_tip">有1条</span></a>
    </li>
    <!-- <li>
        <a href="qy_down.html">下载简历<span class="yunset_list_newmsg"></span><span class="yun_mnav_tip">有0条</span></a>
    </li> -->
</ul>
<ul class="yunset mt15">
    <li>
        <a href="qy_attentionMe.html">关注我的人才<span class="yunset_list_newmsg"></span><span class="yun_mnav_tip">有0条</span></a>
    </li>
    <li>
        <a href="qy_lookjob.html">被浏览的职位 <span class="yunset_list_newmsg"></span><span class="yun_mnav_tip">有0条</span></a>
    </li>
</ul>
<ul class="yunset mt15">
    <li>
        <a href="qy_resume.html">搜人才</a>
    </li>
</ul>