//优惠卡券
.coupontwo {
    .list{
        width: 100%;
        height: auto;
        margin:10px 0;
        border: 1px solid #eee;
        border-radius:0.6rem;
        background-color:#fff;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        .qxtCon{
           padding:3% 0;
           display: flex; 
           box-align: center; 
           align-items: center; 
           background-color:#ddd;
           border-top-left-radius:0.6rem;
           border-top-right-radius:0.6rem;
           .left {
               width: 69%;
               display: flex; 
               box-align: center; 
               align-items: center; 
               border-right:2px dotted #fff;
               .tit {
                   color: #fffee0;
                   width:40%;
                   text-align: center;
               }
               ul {
                   list-style:none;
                   padding: 0;
                   margin:5px 0;
                   color:#fff;
                   li {
                       width: 100%;
                       font-size:14px; 
                       h2{
                         font-size:18px;
                         margin:0;
                       }
                   }
                }
           }
           .right {
               font-size: 22px;
               text-align: center;
               position: relative;
               span {
                   &:first-child {
                       font-size: 20px;
                       margin-top: 10px;
                   }
                   &:last-child {
                       font-size: 22px
                   }
               }
               .y-gq {
                    width: 100px;
                    height: 50px;
                    background: url(../img/y-gq.png) bottom no-repeat;
                    background-size: 100% 100%;
                    position:absolute;
                    top: -10px;
                    right: 0;
                    opacity: 1;
                    z-index: 0;
               }
              .y-gq1 {
                    width: 100px;
                    height: 50px;
                    background: url(../img/y-sy.png) bottom no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    top: -10px;
                    right: 0;
                    opacity: 1;
                    z-index: 0;
              }
           }
       }
       .qxtime{
           clear: both;
           text-align:right;
           padding: 0 10px;
           color: #999;
           p{
            font-size:0.8rem;
            height:1.5rem;
            line-height:1.5rem;
            margin-bottom:0;
           }
         }
     }
}