.mo-con-nopro{
    min-height:400px;
    padding-top:40%;
    padding-bottom: 35%;
    img{
        width: 150px;
    }
    i{
        color:#ddd;
    }
    span{
        color: #999;
        font-size:16px;
    }
}