//商品列表页 底部立刻支付
.lkgoumai{
    background: hsla(0,0%,100%,.95);
    a{
      text-decoration:none;
      position: relative;
      color:#999;
      span{
          font-size:12px;
      }
      &.addGouWuCart{
        text-decoration:none;
        line-height:45px;
        span{
            font-size:12px;
        }
      }
      &.liKeGouMai{
        text-decoration:none;
        line-height:45px;
        span{
            font-size:12px;
        }
      }
      strong{
          position: absolute;
          top:2px;
          right:8px;
          padding:1px 5px;
          font-weight:normal;
          width:20px;
          height:15px;
          line-height:12px;
      }
    }
}