<div class="banner_met_11_5_2 page-bg slick-initialized slick-slider slick-dotted" m-id="2" m-type="banner" role="toolbar">
    <a class="slick-arrow slick-prev" style="display: inline;"><i class="icon pe-angle-left"></i></a>
    <div aria-live="polite" class="slick-list draggable" style="height: 563px;">
        <div class="slick-track" role="listbox"
            style="opacity: 1; width: 7452px; transform: translate3d(-3726px, 0px, 0px);">
            <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1"
                style="width: 1863px;">
                <img class="cover-image" src="../assets/img/201801041439040468.jpg"
                    srcset="upload/20190901/201801041439040468.jpg 767w,upload/20190901/201801041439040468.jpg"
                    sizes="(max-width: 767px) 767px" alt="" data-height="0|0|0" data-fade="false"
                    data-autoplayspeed="4000" data-speed="1000" data-hex="|0.48" data-m="0" style="">
            </div>
            <div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option"
                aria-describedby="slick-slide20" style="width: 1863px;">
                <img class="cover-image" src="../assets/img/201801041501319218.jpg"
                    srcset="upload/20190901/201801041501319218.jpg 767w,upload/20190901/201801041501319218.jpg"
                    sizes="(max-width: 767px) 767px" alt="开启新征程" data-height="0|0|0" data-fade="false"
                    data-autoplayspeed="4000" data-speed="1000" data-hex="|0.48" data-m="0" style="height: auto;">
                <div class="banner-text p-4" style="display: none;">
                    <div class="container">
                        <div class="banner-text-con">
                            <div>
                                <h3 class="animation-slide-top font-weight-500" style="color:#ffffff">开启新征程</h3>
                                <p class="animation-slide-bottom" style="color:#ffffff">创造人文价值</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false"
                tabindex="-1" role="option" aria-describedby="slick-slide21" style="width: 1863px;">
                <img class="cover-image" src="../assets/img/201801041501432187.jpg"
                    srcset="upload/20190901/201801041501432187.jpg 767w,upload/20190901/201801041501432187.jpg"
                    sizes="(max-width: 767px) 767px" alt="" data-height="0|0|0" data-fade="false"
                    data-autoplayspeed="4000" data-speed="1000" data-hex="|0.48" data-m="0" style="height: auto;">
            </div>
            <div class="slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" tabindex="-1"
                style="width: 1863px;">
                <img class="cover-image" src="../assets/img/201801041501432187.jpg"
                    srcset="upload/20190901/201801041501432187.jpg 767w,upload/20190901/201801041501432187.jpg"
                    sizes="(max-width: 767px) 767px" alt="开启新征程" data-height="0|0|0" data-fade="false"
                    data-autoplayspeed="4000" data-speed="1000" data-hex="|0.48" data-m="0" style="">
                <div class="banner-text p-4" style="display: none;">
                    <div class="container">
                        <div class="banner-text-con">
                            <div>

                                <h3 class="animation-slide-top font-weight-500" style="color:#ffffff">开启新征程</h3>
                                <p class="animation-slide-bottom" style="color:#ffffff">创造人文价值</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="slick-arrow slick-next" style="display: inline;"><i class="icon pe-angle-right"></i></a>
    <ul class="slick-dots" role="tablist" style="display: block;">
        <li class="" aria-hidden="true" role="presentation" aria-selected="true" aria-controls="navigation20"
            id="slick-slide20"><button type="button" data-role="none" role="button" tabindex="0">1</button></li>
        <li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation21"
            id="slick-slide21" class="slick-active"><button type="button" data-role="none" role="button" tabindex="0">2</button></li>
    </ul>
</div>