<div class="foot_nav_met_11_2_8 border-top1 text-xs-center" m-id="8" m-type="foot_nav">
    <div class="container" style="">
        <div class="col-lg-9 col-md-12  nav-list">
            <div class="col-md-2 col-sm-12 list">
                <h4 class="m-t-0">
                    <a href="" title="狮子城全国联盟" class="btn-collapse collapsed" target="_self" data-toggle="collapse" data-target="#list-9" aria-expanded="false">狮子城 ▪ 全国联盟</a>
                    <i class="fa fa-chevron-down" style="transform: rotate(0deg);"></i>
                </h4>
                <ul class="ulstyle  m-b-0 collapse1" id="list-9" aria-expanded="false" style="height: 0px;">
                    <li>
                        <a href="" title="" target="_self">狮子城 ▪ 全国联盟介绍</a>
                    </li>
                    <li>
                        <a href="" title="" target="_self">狮子城文化创意园（惠州）</a>
                    </li>
                    <li>
                        <a href="" title="" target="_self">狮子城文化创意园（汕头）</a>
                    </li>
                    <li>
                        <a href="" title="" target="_self">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 list">
                <h4 class="m-t-0">
                    <a href="" title="狮子城文化主题项目" class="btn-collapse" target="_self" data-toggle="collapse" data-target="#list-1">狮子城文化主题项目</a>
                    <i class="fa fa-chevron-down"></i>
                </h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="ulstyle  m-b-0  collapse1">
                            <li>
                                <a href="" title="海洋文化主题" target="_self">海洋文化主题</a>
                            </li>
                            <li>
                                <a href="" title="赛车文化主题" target="_self">赛车文化主题</a>
                            </li>
                            <li>
                                <a href="" title="演艺文化主题" target="_self">演艺文化主题</a>
                            </li>
                            <li>
                                <a href="" title="团建拓展主题" target="_self">团建拓展主题</a>
                            </li>
                            <li>
                                <a href="" title="缘善公益主题" target="_self">缘善公益主题</a>
                            </li>
                            <li>
                                <a href="" title="生态文化主题" target="_self">生态文化主题</a>
                            </li>
                            <li>
                                <a href="" title="动物科普主题" target="_self">动物科普主题</a>
                            </li>
                            <li>
                                <a href="" title="马戏文化主题" target="_self">马戏文化主题</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6" style="padding:0;">
                        <ul class="ulstyle  m-b-0  collapse1">
                            <li>
                                <a href="" title="婚博文化主题" target="_self">婚博文化主题</a>
                            </li>
                            <li>
                                <a href="" title="体育文化主题" target="_self">体育文化主题</a>
                            </li>
                            <li>
                                <a href="" title="餐饮文化主题" target="_self">餐饮文化主题</a>
                            </li>
                            <li>
                                <a href="" title="文化交流平台" target="_self">文化交流平台</a>
                            </li>
                            <li>
                                <a href="" title="影视文化主题" target="_self">影视文化主题</a>
                            </li>
                            <li>
                                <a href="" title="娱乐文化主题" target="_self">娱乐文化主题</a>
                            </li>
                            <li>
                                <a href="" title="奇奇IP文化主题" target="_self">奇奇IP文化主题</a>
                            </li>
                            <li>
                                <a href="" title="研学教育主题" target="_self">研学教育主题</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 list">
                <h4 class="m-t-0">
                    <a href="" title="狮子城新闻" class="btn-collapse" target="_self" data-toggle="collapse" data-target="#list-2">狮子城新闻</a>
                    <i class="fa fa-chevron-down"></i>
                </h4>
                <ul class="ulstyle  m-b-0  collapse1" id="list-2">
                    <li>
                        <a href="" title="狮子城活动资讯" target="_self">狮子城活动资讯</a>
                    </li>
                    <li>
                        <a href="" title="狮子城婚博中心" target="_self">狮子城婚博中心</a>
                    </li>
                    <li>
                        <a href="" title="汕头活动城资讯" target="_self">汕头活动城资讯</a>
                    </li>
                    <li>
                        <a href="" title="狮子城格林披治卡丁车馆" target="_self">狮子城格林披治卡丁车馆</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 list">
                <h4 class="m-t-0">
                    <a href="" title="联系我们" class="btn-collapse" target="_self" data-toggle="collapse" data-target="#list-11">联系我们</a>
                    <i class="fa fa-chevron-down"></i>
                </h4>
                <ul class="ulstyle m-b-0 collapse1" id="list-11">
                    <li>电话（Tel）：0752-2888688</li>
                    <li>传真（Fax）：0752-2898788</li>
                    <li>邮箱（E-mail）：591359133@qq.com</li>
                    <li>地址（Add）：惠州市惠城小金口青塘村委会<br />青一村小组金龙大道99号</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-ms-12 col-xs-12 info">
            <ul style="display: flex;margin-bottom:0;">
                <li style="margin-right:20px">
                    <img src="../assets/img/hz-m.jpg" width="120px;" />
                    <span style="display: block;text-align:center;color:#ffffff; height: 40px;line-height: 40px;">惠州狮子城</span>
                </li>
                <li>
                    <img src="../assets/img/hz-m.png" width="120px" />
                    <span style="display: block;text-align:center;color:#ffffff; height: 40px;line-height: 40px;">汕头狮子城</span>
                </li>
            </ul>
            <div style="text-align:center;text-align:center;padding-right:33px">
                <a href="tel:0752-22888688" class="foot-tel">0752-22888688</a>
                <!-- <p>工作时间：周一 9：00 ~ 周日18：00</p> -->
            </div>
        </div>
    </div>
</div>