<footer class="link_met_11_1_9 text-xs-center" m-id="9" m-type="link">
    <div class="container p-y-15">
        <ul class="breadcrumb p-0 link-img m-0">
            <li class="breadcrumb-item">友情链接 :</li>
            <li class="breadcrumb-item     split">
                <a href="" title="techstart" target="_blank">
                    <img data-original="https://images.mituo.cn/mui079/upload/201803/1521447340.png" alt="techstart"
                        height="40" data-lazyload="true" src="../assets/img/1521447340.png" class=""
                        style="display: inline;">
                </a>
            </li>
            <li class="breadcrumb-item split">
                <a href="" title="rko" target="_blank">
                    <img data-original="https://images.mituo.cn/mui079/upload/201803/1521447061.png" alt="rko"
                        height="40" data-lazyload="true" src="../assets/img/1521447061.png" class=""
                        style="display: inline;">
                </a>
            </li>
            <li class="breadcrumb-item split">
                <a href="" title="infinity" target="_blank">
                    <img data-original="https://images.mituo.cn/mui079/upload/201803/1521446716.png" alt="infinity"
                        height="40" data-lazyload="true" src="../assets/img/1521446716.png" class=""
                        style="display: inline;">
                </a>
            </li>
        </ul>
    </div>
</footer>
    
<footer class="foot_info_met_16_1_10 met-foot border-top1" m-id="10" m-type="foot">
    <div class="container text-xs-center">
        <p>狮子城集团 版权所有 2019 粤ICP备18092853号-1</p>
    </div>
</footer>