<footer class="link_met_11_1_9 text-xs-center">
    <div class="container p-y-15">
        <ul class="breadcrumb p-0 link-img m-0">
            <li class="breadcrumb-item  split">
                <a href="" title="techstart" target="_blank">
                    <img alt="" height="40" src="../assets/img/yslogo.gif" class="" style="display: inline;">
                </a>
            </li>
            <li class="breadcrumb-item split">
                <a href="" title="" target="_blank">
                    <img alt="" height="40" src="../assets/img/glpzlogo.gif" class="" style="display: inline;">
                </a>
            </li>
            <li class="breadcrumb-item split">
                <a href="" title="" target="_blank">
                    <img alt="" height="40" src="../assets/img/omclogo.gif" class="" style="display: inline;">
                </a>
            </li>
        </ul>
    </div>
</footer>
<footer class="foot_info_met_16_1_10 met-foot border-top1">
    <div class="container text-xs-center">
        <p>版权所有 © 狮子控股集团有限公司旗下　粤ICP备14027557号-2</p>
    </div>
</footer>