<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../assets/css/basic.css">
<link rel="stylesheet" type="text/css" href="../assets/css/index_cn.css">
<link rel="stylesheet" type="text/css" href="../assets/css/swiper.min.css">
{% if page.layout == "page/news" %}
<link rel="stylesheet" type="text/css" href="../assets/css/news_cn.css">
{% endif %}
{% if page.layout == "page/news_show" %}
<link rel="stylesheet" type="text/css" href="../assets/css/shownews_cn.css">
{% endif %}
<link rel="stylesheet" type="text/css" href="../assets/css/fontawesome/css/font-awesome.min.css">
<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/met_temdemo.js"></script>
<style>
@media (min-width:768px) {
    .carousel {
        min-width:1150px;
    }
}
@media (min-width:414px) {
    .navbar-nav {
        padding-top:50px;
    }
}
</style>