<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
<link rel="stylesheet" href="../dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/css/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/basic.css">
<link rel="stylesheet" type="text/css" href="../assets/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/index_cn.css">
{% if page.layout == "page/zhuti" %}
<link rel="stylesheet" type="text/css" href="../assets/css/img_cn1.css">
{% endif %}
{% if page.layout == "page/news" %}
<link rel="stylesheet" type="text/css" href="../assets/css/news_cn.css">
{% endif %}
{% if page.layout == "page/news_show" %}
<link rel="stylesheet" type="text/css" href="../assets/css/shownews_cn.css">
{% endif %}
{% if page.layout == "page/zhuti-details" %}
<link rel="stylesheet" type="text/css" href="../assets/css/showimg_cn.css">
{% endif %}
<style>
@media (max-width:768px) {
    .carousel {
        max-width:1150px;
    }
}
@media (max-width:414px) {
    .navbar-nav {
        padding-top:50px;
    }
}
</style>