<div class="col-lg-6 img-news" role="toolbar">
    <ul class="img-list slick-initialized slick-slider slick-dotted">
        <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
        <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 1452px;" role="listbox">
                <div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1"
                    role="option" aria-describedby="slick-slide00"
                    style="width: 363px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease-out;">
                    <li class="item">
                        <a href="" title="" target="_self" tabindex="-1">
                            <h3><span style="">以开放型经济新体制推动经济持续健康发展</span> </h3>
                            <img alt="" class="news-img" src="../assets/img/1521448432.jpg" style="opacity: 1; height: 228px;">
                        </a>
                    </li>
                </div>
                <div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1"
                    role="option" aria-describedby="slick-slide01"
                    style="width: 363px; position: relative; left: -363px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease-out;">
                    <li class="item">
                        <a href="" title="" target="_self" tabindex="0">
                            <h3><span style="">环保部：14省市将在今年底前完成生态红线划定</span> </h3>
                            <img alt="" class="news-img" src="../assets/img/1521447965645519.jpg" style="opacity: 1; height: 228px;">
                        </a>
                    </li>
                </div>
                <div class="slick-slide slick-current slick-active" data-slick-index="2"
                    aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02"
                    style="width: 363px; position: relative; left: -726px; top: 0px; z-index: 1000; opacity: 1; transition: opacity 500ms ease-out;">
                    <li class="item">
                        <a href="" title="" target="_self" tabindex="-1">
                            <h3><span style="">两会访谈丨邹磊：创新为了电力绿色消费</span> </h3>
                            <img alt="" class="news-img" src="../assets/img/1521448693.jpg" style="opacity: 1; height: 228px;">
                        </a>
                    </li>
                </div>
                <div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1"
                    role="option" aria-describedby="slick-slide03"
                    style="width: 363px; position: relative; left: -1089px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease-out;">
                    <li class="item">
                        <a href="" title="" target="_self" tabindex="-1">
                            <h3><span style="">书记会见镇江市市委书记惠建林一行</span> </h3>
                            <img alt="" class="news-img" src="../assets/img/1521448809.jpg" style="height: 228px; opacity: 1;">
                        </a>
                    </li>
                </div>
            </div>
        </div>
        <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button>
        <ul class="slick-dots" style="display: block;" role="tablist">
            <li class="" aria-hidden="true" role="presentation" aria-selected="true"
                aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none"
                    role="button" tabindex="0">1</button></li>
            <li aria-hidden="true" role="presentation" aria-selected="false"
                aria-controls="navigation01" id="slick-slide01" class=""><button type="button"
                    data-role="none" role="button" tabindex="0">2</button></li>
            <li aria-hidden="false" role="presentation" aria-selected="false"
                aria-controls="navigation02" id="slick-slide02" class="slick-active"><button
                    type="button" data-role="none" role="button" tabindex="0">3</button></li>
            <li aria-hidden="true" role="presentation" aria-selected="false"
                aria-controls="navigation03" id="slick-slide03" class=""><button type="button"
                    data-role="none" role="button" tabindex="0">4</button></li>
        </ul>
    </ul>
</div>