<nav class="navbar navbar-default box-shadow-none head_nav_met_11_5_1">
    <div class="container">
        <div class="row">
            <div class="logo-box mobile-show" style="position: relative;z-index: 1603;top:30px;">
                <a href="" class="met-logo" title="">
                    <div class="vertical-align-middle">
                        <img src="../assets/img/logo.png" alt="">
                    </div>
                </a>
            </div>
            <a href="" class="met-nav-logo logo-two" title="">
                <div class="vertical-align-middle">
                    <img src="../assets/img/logo.png" alt="">
                </div>
            </a>
            <button type="button" class="navbar-toggler hamburger hamburger-close collapsed  met-nav-toggler" data-target="#met-nav-collapse" data-toggle="collapse">
                <span class="sr-only"></span>
                <span class="hamburger-bar"></span>
            </button>
            <div class="collapse navbar-collapse navbar-collapse-toolbar pull-md-right p-0" id="met-nav-collapse">
                <ul class="nav navbar-nav navlist">
                    <li class="nav-item">
                        <a href="index.html" title="狮子城首页" data-title="狮子城首页" class="nav-link active">狮子城首页</a>
                    </li>
                    <li class="nav-item dropdown m-l-20">
                        <a href="about.html" title="关于狮子城" data-title="关于狮子城" class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" target="_self" aria-expanded="false">关于狮子城</a>
                        <div class="dropdown-menu dropdown-menu-right secondmenu animation-slide-top10">
                            <a href="about-intro.html" title="" class="dropdown-item nav-parent hidden-lg-up">集团介绍</a>
                            <a href="about-qyweh.html" title="" class="dropdown-item  navlist-2">企业文化</a>
                            <a href="about-neikuan.html" title="" class="dropdown-item  navlist-2">狮子城内刊</a>
                            <a href="about-zhige.html" title="" class="dropdown-item  navlist-2">狮子城之歌</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="ysgy.html" title="缘善公益" data-title="缘善公益" class="nav-link">缘善公益</a>
                    </li>
                    <li class="nav-item">
                        <a href="glpz.html" title="格林披治" data-title="格林披治" class="nav-link">格林披治</a>
                    </li>
                    <li class="nav-item">
                        <a href="szc.html" title="狮子城" data-title="狮子城" class="nav-link">狮子城</a>
                    </li>
                    <li class="nav-item dropdown m-l-20">
                        <a href="news.html" title="新闻中心" data-title="新闻中心" class="nav-link dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" target="_self" aria-expanded="false">新闻中心</a>
                        <div class="dropdown-menu dropdown-menu-right secondmenu animation-slide-top10">
                            <a href="news-index.html" title="狮子城集团" class="dropdown-item nav-parent hidden-lg-up">狮子城集团</a>
                            <a href="news-ysgy.html" title="缘善公益" class="dropdown-item  navlist-2">缘善公益</a>
                            <a href="news-glpz.html" title="格林披治" class="dropdown-item  navlist-2">格林披治</a>
                            <a href="news-szc.html" title="狮子城" class="dropdown-item  navlist-2">狮子城</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown m-l-20">
                        <a href="rczp.html" title="人才招聘" data-title="人才招聘" class="nav-link">人才招聘</a>
                    </li>
                    <li class="nav-item m-l-20">
                        <a href="contact.html" title="联系我们" data-title="联系我们" class="nav-link">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>