<nav class="navbar navbar-expand-md navbar-light bg-light head_nav" style="padding:0;">
    <div class="container">
        <a href="index.html" style="display:flex; align-items: center;">
             <img src="../assets/img/szc_logo.png" style="height:35px;" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto" style="margin-left: 240px;">
                <li class="nav-item">
                <a class="nav-link active" href="#">狮子城首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">关于狮子城</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">文化主题项目</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">狮子城新闻</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="http://www.neeq.com.cn/disclosure/announcement.html?companyCode=430173">投掷者专栏</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">人才招聘</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</nav>