<div class="collapse navbar-collapse navbar-collapse-toolbar pull-md-right p-0" id="met-nav-collapse">
    <ul class="nav navbar-nav navlist">
        <li class="nav-item">
            <a href="" title="网站首页" data-title="网站首页" class="nav-link active">网站首页</a>
        </li>
        <li class="nav-item dropdown m-l-20">
            <a href="" title="集团概况" data-title="集团概况"
                class="nav-link dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                target="_self" aria-expanded="false">集团概况</a>
            <div class="dropdown-menu dropdown-menu-right secondmenu animation-slide-top10">
                <a href="" target="_self" title="全部" class="dropdown-item nav-parent hidden-lg-up ">全部</a>
                <!-- 二级栏目 -->
                <!-- 其他 -->
                <a href="" title="关于我们"
                    class="dropdown-item  navlist-2" target="_self">关于我们</a>
                <a href="" title="意见反馈"
                    class="dropdown-item  navlist-2" target="_self">意见反馈</a>
                <a href="" title="联系我们"
                    class="dropdown-item  navlist-2" target="_self">联系我们</a>
            </div>
        </li>
        <li class="nav-item dropdown m-l-20">
            <a href="" title="业务领域" data-title="业务领域" class="nav-link dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" target="_self">业务领域</a>
            <div class="dropdown-menu dropdown-menu-right secondmenu animation-slide-top10"
                style="">
                <a href="" target="_self" title="全部"
                    class="dropdown-item nav-parent hidden-lg-up ">全部</a>
                <!-- 二级栏目 -->
                <!-- 其他 -->
                <div class="dropdown-item dropdown-submenu">
                    <a href="" class="dropdown-item  navlist-2" target="_self">
                        制造设备 <i class="fa fa-caret-right"></i></a>
                    <div class="dropdown-menu animate">
                        <!-- 三级栏目 -->
                        <a href="" class="dropdown-item " target="_self">重型机械</a>
                        <a href="" class="dropdown-item " target="_self">核电装备</a>
                        <a href="" class="dropdown-item " target="_self">农业机械</a>
                        <a href="" class="dropdown-item " target="_self">工程机械</a>
                    </div>
                </div>
                <div class="dropdown-item dropdown-submenu">
                    <a href="" class="dropdown-item  navlist-2" target="_self">
                        工程项目 <i class="fa fa-caret-right"></i>
                    </a>
                    <div class="dropdown-menu animate">
                        <!-- 三级栏目 -->
                        <a href="" class="dropdown-item " target="_self">环境工程</a>
                        <a href="" class="dropdown-item " target="_self">电力工程</a>
                        <a href="" class="dropdown-item " target="_self">港口工程</a>
                        <a href="" class="dropdown-item " target="_self">交通工程</a>
                    </div>
                </div>

                <div class="dropdown-item dropdown-submenu">
                    <a href="" class="dropdown-item  navlist-2" target="_self">
                        金融管理 <i class="fa fa-caret-right"></i>
                    </a>
                    <div class="dropdown-menu animate">
                        <!-- 三级栏目 -->
                        <a href=""
                            class="dropdown-item " target="_self">金融服务</a>
                        <a href=""
                            class="dropdown-item " target="_self">资产管理</a>
                        <a href=""
                            class="dropdown-item " target="_self">资本投资</a>
                        <a href=""
                            class="dropdown-item " target="_self">金融证券</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item m-l-20">
            <a href="https://mb.mituo.cn/mui079/img/" title="项目案例" class="nav-link "
                data-title="项目案例" target="_self">项目案例</a>
        </li>
        <li class="nav-item dropdown m-l-20">
            <a href="https://mb.mituo.cn/mui079/news/" title="集团要闻" data-title="集团要闻"
                class="nav-link dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                target="_self" aria-expanded="false">
                集团要闻</a>
            <div class="dropdown-menu dropdown-menu-right secondmenu animation-slide-top10">
                <a href="https://mb.mituo.cn/mui079/news/" target="_self" title="全部"
                    class="dropdown-item nav-parent hidden-lg-up ">全部</a>
                <!-- 二级栏目 -->
                <!-- 其他 -->

                <a href="https://mb.mituo.cn/mui079/news/news.php?class2=13" title="集团新闻"
                    class="dropdown-item  navlist-2" target="_self">集团新闻</a>

                <a href="https://mb.mituo.cn/mui079/news/news.php?class2=14" title="行业资讯"
                    class="dropdown-item  navlist-2" target="_self">行业资讯</a>
            </div>
        </li>
        <li class="nav-item dropdown m-l-20">
            <a href="https://mb.mituo.cn/mui079/about1/" title="人力资源" data-title="人力资源"
                class="nav-link dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                target="_self">
                人力资源</a>
            <div class="dropdown-menu dropdown-menu-right secondmenu animation-slide-top10"
                style="">
                <a href="https://mb.mituo.cn/mui079/about1/" target="_self" title="全部"
                    class="dropdown-item nav-parent hidden-lg-up ">全部</a>
                <!-- 二级栏目 -->
                <!-- 其他 -->

                <a href="https://mb.mituo.cn/mui079/job/" title="加入我们"
                    class="dropdown-item  navlist-2" target="_self">加入我们</a>
            </div>
        </li>
        <li class="nav-item m-l-20">
            <a href="https://mb.mituo.cn/mui079/about/show.php?id=7" title="联系我们" class="nav-link "
                data-title="联系我们" target="_self">联系我们</a>
        </li>
        <!--简繁体切换-->
        <!--简繁体切换-->
        <!--多语言-->
        <!--多语言-->
    </ul>
</div>