<script src="assets/img/basic.js" data-js_url="templates/mui079/cache/index_cn.js?1566987161" id="met-page-js"></script>
<script src="assets/img/index_cn.js"></script>
<script src="assets/img/lang_json_cn.js"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?621ea0742821050bb2330ca5bc0cdf0d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>