<section class="notice_list_met_11_1_4 text-xs-left" m-id="4" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
    <div class="container">
        <div class="notice clearfix">
            <strong class="notice-title">新闻动态：</strong>
            <div class="notice-swiper swiper-container-vertical">
                <ul class="notice-ul">
                    <li class="notice-li swiper-slide-duplicate" data-swiper-slide-index="4" style="height: 38px;">
                        <a href="" title="" target="_self">【惠州狮子城▪活动】网红海绵棒游戏驾到！周末狂欢泼水节等你来战 <span class="time">2019-09-10</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>