<!-- <section class="notice_list_met_11_1_4 text-xs-left">
    <div class="container">
        
    </div>
</section> -->
<div class="container">
  <div class="notice">
    <strong class="notice-title">新闻动态：</strong>
    <div class="swiper-container1 announcement">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <a href="news_show.html">【惠州狮子城▪活动1】网红海绵棒游戏驾到！周末狂欢泼水节等你来战 <span class="time">2019-10-01</span></a></div>
            <div class="swiper-slide">
            <a href="news_show.html">【惠州狮子城▪活动2】网红海绵棒游戏驾到！<span class="time">2019-10-02</span></a></div>
            <div class="swiper-slide">
            <a href="news_show.html">【惠州狮子城▪活动3】网红海绵棒游戏驾到！<span class="time">2019-10-03</span></a></div>
        </div>
    </div>
  </div>
</div>