<div class="container top-box mobile-hide">
    <div class="row">
        <div class="logo-box" style="position: relative;z-index: 1603;top:30px;">
            <a href="" class="met-logo" title="">
                <h1 hidden=""></h1>
                <div class="vertical-align-middle">
                    <img src="../assets/img/logo.png" alt="">
                </div>
            </a>
        </div>
        <div class="search-box mobile-hide">
            <a href="" class="m-search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            <div class="search-index">
                <form method="get" action="">
                    <div class="input-search">
                        <button type="submit" class="input-search-btn" style="top:10px;height:40px;"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <div class="form-group">
                            <input type="text" class="" name="searchword" value="" placeholder="搜索" data-fv-notempty="true" data-fv-message="不能为空">
                        </div>
                    </div>
                </form>
            </div>
            <div class="contact-index font-size-16">
                <p class="m-0">
                    <span class="tel">联系电话：0752-2888688</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <span class="mail">E-mail：591359133@qq.com</span>
                </p>
            </div>
        </div>
    </div>
</div>