---
layout: default
title: 消息回复
---
<header class="search">
    <div class="search_header search_bg_Ter">
        <div class="search_header_box">
            <div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
            <div class="search_center"><a href="javascript:"> 消息回复 </a></div>
            <div class="search_right"></div>
        </div>
    </div>
</header>
<div class="news">
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label w-50 text-truncate">惠州锦胜房地产开发有限公司</label>
                <span class="text-black-50">2018-09-14</span>
            </div>
            <div class="news_rep text-left"><em>黄先生</em>您好：惠州锦胜纸业有限公司通过富海人才网诚邀您的加盟。 
                面试岗位：C#工程师 面试时间：2017-11-04 14:00 联系人员：黄小姐 联系电话：0752-5766212 面试地点：广东省东莞市hhhh 
                面试说明
            </div>
            <a class="weui-btn weui-btn_mini weui-btn_primary" href="javascript:">回复</a>
        </div>
        <div class="weui-form-preview__bd">
            <div class="news_rep_con text-left">
                <p><em>黄先生</em>  回复@ <em>惠州锦胜纸业有限公司</em>通过富海人才网诚邀您的加盟。 
                    面试岗位：C#工程师 面试时间：2017-11-04 14:00 联系人员：黄小姐 联系电话：0752-5766212 
                    面试地点：广东省东莞市hhhh 面试说明：</p>
                <span class="text-black-50">2018-09-14 11:22</span>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="news_rep_con text-left">
                <p><em>黄先生</em>  回复@ <em>惠州锦胜纸业有限公司</em>通过富海人才网诚邀您的加盟。 
                    面试岗位：C#工程师 面试时间：2017-11-04 14:00 联系人员：黄小姐 联系电话：0752-5766212 
                    面试地点：广东省东莞市hhhh 面试说明：</p>
                <span class="text-black-50">2018-09-14 11:22</span>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="news_rep_con text-left">
                <p><em>黄先生</em>  回复@ <em>惠州锦胜纸业有限公司</em>通过富海人才网诚邀您的加盟。 
                    面试岗位：C#工程师 面试时间：2017-11-04 14:00 联系人员：黄小姐 联系电话：0752-5766212 
                    面试地点：广东省东莞市hhhh 面试说明：</p>
                <span class="text-black-50">2018-09-14 11:22</span>
            </div>
        </div>
    </div>
</div>