---
layout: pages
title: 查看已收简历
---
<header class="search">
		<div class="search_header search_bg_Ter_Whi">
				<div class="search_header_box">
						<div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
						<div class="search_center"><a href="javascript:"> 富海人才-查看已收简历 </a></div>
						<div class="search_right"><a href="javascript:;"></a></div>
				</div>
		</div>
	</header>
	<div class="mineResumeView">
		<div class="weui-tab">
				<div class="mod_int weui-navbar">
						<a class="mod_int_tab weui-navbar__item weui-bar__item--on p-0" href="#tab1">
								<span class="mod_int_tab_text">中文简历</span>
								<div class="bottom_line"></div>
						</a>
						<a class="mod_int_tab weui-navbar__item p-0" href="#tab2">
								<span class="mod_int_tab_text">英文简历</span>
								<div class="bottom_line"></div>
						</a>
				</div>
				<div class="weui-tab__bd">
						<div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
										{% include modules/qyResumeShou/mod_pos1.html %}
						</div>
						<div id="tab2" class="weui-tab__bd-item">
										{% include modules/qyResumeShou/mod_pos2.html %}
						</div> 
				</div>
		</div>
	</div>