---
layout: pages
title: 按条件搜索
---
<div class="qySearchSelech mt-50">
    <div class="mod_pos_item pr-0">
        <div class="weui-cells showHight">
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">简历关键字</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请输入简历关键字">
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">意向岗位</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请选择">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">性别</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-cells_checkbox d-flex justify-content-end">
                            <label class="weui-check__label d-flex align-items-center" for="s11">
                                <div class="weui-cell__hd p-0">
                                    <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked">
                                    <i class="weui-icon-checked"></i>
                                </div>
                                <div class="weui-cell__bd pr-1">
                                    <p>男</p>
                                </div>
                            </label>
                            <label class="weui-check__label d-flex align-items-center" for="s12">
                                <div class="weui-cell__hd p-0">
                                    <input type="checkbox" class="weui-check" name="checkbox1" id="s12">
                                    <i class="weui-icon-checked"></i>
                                </div>
                                <div class="weui-cell__bd pr-1">
                                    <p>女</p>
                                </div>
                            </label>
                            <label class="weui-check__label d-flex align-items-center" for="s13">
                                <div class="weui-cell__hd p-0">
                                    <input type="checkbox" class="weui-check" name="checkbox1" id="s13">
                                    <i class="weui-icon-checked"></i>
                                </div>
                                <div class="weui-cell__bd p-0">
                                    <p>不限</p>
                                </div>
                            </label>
                    </div>
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">工作经验</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请选择">
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">期望工作地区</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请选择">
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">期望月薪</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" placeholder="请选择">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">截止日期</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" class="weui-input text-right" placeholder="请选择">
                        </div>
                    </div>
            <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">工作地区</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" placeholder="请选择">
                    </div>
                </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">薪资待遇</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请选择">
                </div>
            </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">寻求职位</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请输入职位关键字">
                </div>
            </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">学历</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请选择">
                </div>
            </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">年龄</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请选择">
                </div>
            </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">毕业年份</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请选择">
                </div>
            </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">更新时间</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请选择">
                </div>
            </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">现所在地</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" placeholder="请选择">
                </div>
            </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="name" class="weui-label">毕业院校</label>
            </div>
            <div class="weui-cell__bd">
                <input type="text" class="weui-input text-right" placeholder="请输入">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">所学专业</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" value="请输入">
                </div>
            </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">外语要求</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" value="请选择">
                </div>
            </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">曾服务公司</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" value="请选择">
                </div>
            </div>
        <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">曾担任的岗位</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input text-right" value="请选择">
                </div>
            </div>
        </div>
        <div class="showBtn">
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <a href="qySearchList.html" class="weui-btn weui-btn_primary m-2">搜索人才</a>
</div>