<tbody class="m-scene">
    <tr class="animated fadeinright delay-1" style="height:65px;">
        <td>成人单次票</td>
        <td><small>6分钟/次</small></td>
        <td class="p-0">
            <span class="d-block"><small>原价：￥</small>98</span>
            <span class="d-block"><small>试业价：￥</small>78</span>
        </td>
    </tr>
    <tr class="animated fadeinright delay-2" style="height:65px;">
        <td>成人两次票</td>
        <td class="p-0">
            <span class="d-block">
                <small>6分钟/次<br/>共计12分钟</small>
            </span>
        </td>
        <td class="p-0">
            <span class="d-block"><small>原价：￥</small>168</span>
            <span class="d-block"><small>试业价：￥</small>38</span>
        </td>
    </tr>
    <tr class="animated fadeinright delay-3" style="height:65px;">
        <td>成人三次票</td>
        <td class="p-0">
            <span class="d-block">
                <small>6分钟/次<br/>共计18分钟</small>
            </span>
        </td>
        <td class="p-0">
            <span class="d-block"><small>原价：￥</small>238</span>
            <span class="d-block"><small>试业价：￥</small>198</span>
        </td>
    </tr>
    <tr class="animated fadeinright delay-4" style="height:65px;">
        <td>儿童单次票</td>
        <td><small>5分钟/次</small></td>
        <td class="p-0">
            <span class="d-block"><small>原价：￥</small>68</span>
            <span class="d-block"><small>试业价：￥</small>48</span>
        </td>
    </tr>
    <tr class="animated fadeinright delay-5" style="height:65px;">
        <td>儿童两次票</td>
        <td class="p-0">
            <small>5分钟/次<br/>共计10分钟</small>
        </td>
        <td class="p-0">
            <span class="d-block"><small>原价：￥</small>100</span>
            <span class="d-block"><small>试业价：￥</small>80</span>
        </td>
    </tr>
    <tr class="animated fadeinright delay-6" style="height:65px;">
        <td>儿童三次票</td>
        <td class="p-0">
            <small>5分钟/次<br/>共计15分钟</small>
        </td>
        <td class="p-0">
            <span class="d-block"><small>原价：￥</small>138</span>
            <span class="d-block"><small>试业价：￥</small>120</span>
        </td>
    </tr>
</tbody>