<script src="../static/js/jquery-2.2.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery-weui.js"></script>
<!-- Select ticket type -->
{% if page.layout == "pages/OrderDetails" or page.layout == "pages/eTicket" or page.layout == "pages/ticketDetailsNew" %}
<script src="../static/js/political_WeCall.js"></script>
<script src="../static/js/mobiscroll.jquery.min.js"></script>
{% endif %}
{% if page.layout == "pages/OrderDetails" %}
<script src="../static/js/Help.js"></script>
<script>
function Refund() {
    if (parseInt($("#voucherNum").val()) > 0) {
        if (confirm("抵扣劵不能办理退票，只退所购买正常票类款项，是否继续？")) {
            $.get("/Wx/Ticket/Return", { code: '8T10XWS2' }, function (data) {
                if (data.Status == '1') {
                    $('#removemsg').hide();
                    $('#removesuccess').show();
                } else {
                    alert(data.Message);
                }
            })
        }
    }
    else if (parseInt($("#voucherNum").val()) == -1) {
        alert("抵扣劵不能办理退票!");
        return;
    }
    else {
        $.get("/Wx/Ticket/Return", { code: '8T10XWS2' }, function (data) {
            if (data.Status == '1') {
                $('#removemsg').hide();
                $('#removesuccess').show();
            } else {
                alert(data.Message);
            }
        })
    }
}
$('#remove').click(function () {
    $('#removemsg').show();
})
</script>
{% endif %}
{% if page.layout == "pages/eTicket" %}
<script src="../static/js/main.js"></script>
<script>
        var page = 1, pagesum = 2;
        $(function () {
            if (page >= pagesum) {
                $('#next').attr("disabled", true);
            }
            if (page <= 1) {
                $('#Previous').attr("disabled", true);
            }
            $($('.can')[0]).show();
            $($('.no')[0]).show();
            $($('.no1')[0]).show();
        })
        $('#Previous').click(function () {
            $('.can').hide();
            $('.no').hide();
            $('.no1').hide();
            page--;
            $($('.can')[page - 1]).show();
            $($('.no')[page - 1]).show();
            $($('.no1')[page - 1]).show();
            if (page <= 1) {
                $('#Previous').attr("disabled", true);
            }
            $("#next").attr("disabled", false);
        })
        $('#next').click(function () {
            $('.can').hide();
            $('.no').hide();
            $('.no1').hide();
            page++;
            $($('.can')[page - 1]).show();
            $($('.no')[page - 1]).show();
            $($('.no1')[page - 1]).show();
            if (page >= pagesum) {
                $('#next').attr("disabled", true);
            }
            $('#Previous').attr("disabled", false);
        })
    </script>
{% endif %}
{% if page.layout == "pages/ticketDetailsNew" %}
<script src="../static/js/Validform_v5.3.2_min.js"></script>
<script src="../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script>
    //table切换Js
    $(function () {
        $('.w_up span').click(function (e) {
            $(this).addClass('current').siblings().removeClass('current');
            //$(this).css('background','#cdf2ff').siblings().css('background','#fff');
            $('.ti_words ul li').eq($(this).index()).show().siblings().hide();
        });
    })
</script>
<script>
    // 轮播图
    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel, form = layui.form;
        //常规轮播
        carousel.render({
            elem: '#test1'
            , width: '100%'
            , height: '9rem'
            , anim: 'fade'
            , autoplay: 'true'
            , arrow: 'none'
        });
        //监听开关
        form.on('switch(autoplay)', function () {
            ins3.reload({
                autoplay: this.checked
            });
        });
        $('.demoSet').on('keyup', function () {
            var value = this.value
                , options = {};
            if (!/^\d+$/.test(value)) return;
            options[this.name] = value;
            ins3.reload(options);
        });
        //其它示例
        $('.demoTest .layui-btn').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });
    //初始化日期控件
    $('#TourDate').mobiscroll().calendar({
        theme: 'ios',    //日期选择器使用的主题
        lang: 'zh',          //使用语言
        display: 'bottom',    //显示方式
        animate: 'fade',
        dateFormat: 'yy-mm-dd',
        invalid: [],
        min: new Date('2018-11-25'),//最小日期
        max: new Date('2018-12-24'),//最大日期
        defaultValue: [new Date(2018, 7, 20)],
        onSet: function (event, inst) {
            $.post('/Wx/Ticket/OrderList', { TourDate: event.valueText, TicketId: 96 }, function (data) {
                //console.log(data);
                //console.log("TicketShow: " + data.TicketShow);
                //console.log(".CategoryID " + data.TicketShow.Ticketby.CategoryID);
                if (data.TicketShow.Ticketby.CategoryID == 17) {
                    $("#spareTicket").show();
                    var spareNum = parseInt(data.TicketShow.DayMaxSell) - parseInt(data.TicketShow.Already);
                    $("#spareNum").text(spareNum + " 张");
                    if (spareNum <= 0)
                        $(".btnControl").attr("disabled", true);
                    else
                        $(".btnControl").attr("disabled", false);
                }
                else {
                    $("#spareTicket").hide();
                }
                $('#DiscountPrice').html('¥' + data.TicketShow.DiscountPrice);
            });
        }
    });
    $('#reduce').click(function () {
        var k = parseInt($('#Qty').val());
        if (k > 1) {
            $('#Qty').val(k - 1);
            k = k - 1;
        }
        if (k <= 1) {
            $('#reduce').attr('class', '');
        }
        if (k < 50) {
            $('#add').attr('class', 'current');
        }
    })
    $('#add').click(function () {
        var k = parseInt($('#Qty').val());
        if (k < 50)
            $('#Qty').val(k + 1);
        k = k + 1;
        //else
        //    alert('每单限购50张，超出部分请另外下单！');
        if (k > 1) {
            $('#reduce').attr('class', 'current');
        }
        if (k >= 50) {
            $('#add').attr('class', '');
        }
    })
    $("#TourDateIcon").click(function () {
        $("#TourDate").click();
    })
    $("#register-form").Validform()
    function AddShopping() {
        var TourDate = "";
        if (12 != 104) {
            TourDate = $('#TourDate').val();
            if (TourDate == '') {
                alert('请选择游玩日期！');
                return false;
            }
        }
        else {
            TourDate = getNowFormatDate();
            $('#TourDate').val(TourDate);
        }
        $.get('/Wx/Ticket/AddShopping', { TourDate: TourDate, TicketId: 96, Qty: $('#Qty').val() }, function (data) {
            if (data.state == 1) {
                $('#count').html(data.msg);
            } else {
                alert('添加购物车失败！');
            }
        })
    }
    //点击商品，会跳转相应的区域
    $(function () {
        $('#TourDate').val(getNowFormatDate());
        if (12 == 104) {
            $("#tourDate_id").hide();
        }
        else {
            $("#tourDate_id").show();
        }
        $('.ti_words .shan_p').click(function (e) {
            $('html,body').animate({ scrollTop: 1050 }, 500);
        });
        if (12 == 17)
            $("#spareTicket").show();
        else
            $("#spareTicket").hide();
        //var nowData = new Date();
        //var TourDate = nowData.getFullYear() + "-" + nowData.getMonth() + "-" + nowData.getDay() + "";
        $.post('/Wx/Ticket/OrderList', { TourDate: getNowFormatDate(), TicketId: 96 }, function (data) {
            console.log(data);
            //console.log("TicketShow: " + data.TicketShow);
            //console.log(".CategoryID " + data.TicketShow.Ticketby.CategoryID);
            if (data.TicketShow.Ticketby.CategoryID == 17) {
                $("#spareTicket").show();
                var spareNum = parseInt(data.TicketShow.DayMaxSell) - parseInt(data.TicketShow.Already);
                $("#spareNum").text(spareNum + " 张");
                if (spareNum <= 0)
                    $(".btnControl").attr("disabled", true);
                else
                    $(".btnControl").attr("disabled", false);
            }
            else {
                $("#spareTicket").hide();
            }
            $('#DiscountPrice').html('¥' + data.TicketShow.DiscountPrice);
        });

    });
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }
</script>
{% include components/swiper/qySwiperJs.html %}
{% endif %}
{% if page.layout == "pages/ticketConfirm" %}
<script src="../static/js/political_WeCall.js"></script>
<!-- <script src="../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script> -->
<script>
    var token = $('<input name="__RequestVerificationToken" type="hidden" value="PwnZ5vXgCWrZHFOC_iRA-wVDYO2x4yW0Hzb-UGsE_bWJLeBz7cqCXj_ZbbnDT7fmWa7yypZFYA_I0qoWpNSCLUJz_CzuxRT0A0A_YbYQXkw1" />').val();
    $(function () {
        $('.bill').click(function (e) {
            var tag = $('#text')
            $('body').prepend(tag);
            $('#test').hide().fadeIn();
            $('#test i').click(function (e) {
                $('#test').fadeOut();
            });
        });
    })
    function buy() {
        //if (!$("#isok").is(":checked")) {
        //    alert("你还没有同意预约协议！");
        //    return;
        //}
        if ($('#Mobile').val() == '') {
            alert('请先输入手机号码！');
            return;
        }
        //if ($('#Code').val() == '') {
        //    alert('请先输入验证码！');
        //    return;
        //}

        $.post('nowPlay.html', {
            type: 'js',
            Mobile: $('#Mobile').val(),
            Code: $('#Code').val(),
            token: token
        }, function (data) {
            switch (data.Status) {
                case 1:
                    window.location.href = '/Wx/Ticket/JsApiPay?OrderNo=' + data.Message;
                    break;
                case 2:
                    alert('您所购买的门票中有的已经下架了，请重新购买！');
                    break;
                case -1:
                    alert('提交订单失败！');
                    break;
                case -2:
                    alert(data.Message);
                    break;
            }
        })
    }
    var clock = '', nums = 60, btn, isok = true;
    function getDynamicCode(thisButton) { //获取动态码
        if ($('#Mobile').val() == '') {
            alert('请先输入手机号码！');
            return false;
        }
        btn = thisButton;
        if (isok) {
            $(btn).attr('disabled', "true");//将按钮置为不可点击
            isok = false;
            $(btn).html(nums + '秒后重新获取');
            clock = setInterval(doLoop, 1000); //一秒执行一次
            sms();
        }
    }
    function doLoop() {
        nums--;
        if (nums > 0) {
            $(btn).html(nums + '秒后重新获取');
        } else {
            reset();
        }
    }
    function sms() {
        $.post('/Wx/Help/Smssf', { Tel: $('#Mobile').val(), token: token }, function (data) {
            switch (data.Status) {
                case 0:
                    alert('短信发送失败！');
                    reset();
                    break;
                case 1:
                    //alert('短信发送成功！');
                    break;
                case 3:
                    alert('验证码请求过于频繁，请稍后再试！');
                    break;
                case -1:
                    alert('短信发送失败！');
                    // swal(data.Message, '', 'error');
                    break;
            }
        })
    }
    function reset() {
        clearInterval(clock); //清除js定时器
        $(btn).removeAttr('disabled');
        isok = true;
        $(btn).html('发送验证码');
        nums = 60; //重置时间
    }
</script>
<script>
function buy1(url, msg) {
    layer.confirm(msg ? msg : '你是否购买门票？', { icon: 1, title: '提示' }, function (index) {
        location.href = url;
    });
}
</script>
{% endif %}