<div class="pro_sea">
    <div class="pro_sea_pin">
        <ul class="row">
            <li><a class="active">全部</a></li>
            <li><a>网页设计</a></li>
            <li><a>前端开发</a></li>
            <li><a>平面设计</a></li>
            <li><a>PHP后端开发</a></li>
            <li><a>Java后端开发</a></li>
            <li><a>平面设计</a></li>
            <li><a>网页设计</a></li>
            <li><a>PHP后端开发</a></li>
            <li><a>PHP后端开发</a></li>
            <li><a>网页设计</a></li>
            <li><a>Java后端开发</a></li>
        </ul>
    </div>
</div>