.qySearchSelech{
    background-color:$pgbg;
    a{
      text-decoration: none;
    }
    .weui-cell{
        font-size:$font-14;
        padding:15px 0;
        color:$gray-600;
        &:before{
           left:0;
        }
      }
      .weui-cells{
        &:before{
           border-top:0;
        }
        &:last-child{
          &:after{
            border-bottom:0;
          }
        }
        a{
          text-decoration: none;
        }
      }
      .weui-cell__bd{
          text-align: right;
          padding-right:rem(48.3);
          color:$gray-600;
          p{
            color:$gray-500;
          }
          &:after{
             top:55%;
          }
      }
      .mod_pos_item{
        &:first-child{
            border-top:0;
        }
        &:last-child{
            margin-bottom:rem(161);
        }
        padding-top:0;
        padding-bottom:0;
      }
      .weui-label{
          width:85px;
      }
      .weui-btn{
        line-height:40px;
      }
      .showHight{
        height:530px;
      }
      .showBtn{
        height:40px;
        line-height:40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .mod_pos_item_ind{
        width:100%;
        li{
          background:$gray-100;
          color: #666;
          border: 1px solid #eee;
          padding:2px 4px;
          margin-top:5px;
          i{
             color:$blue-deep;
          }
          span{
              overflow: hidden;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              float: left;
              margin-right:5px;
          }
        }
      }
}