---
layout: default
---

<div class="searchTer">
   
    <!-- S 筛选tabs -->
    <div class="mod_int mod_int_tab_fix">
        <a href="javascript:;" class="mod_int_tab offcanvas1" data-toggle="offcanvas4">
            <span class="mod_int_tab_set">条件筛选</span><i class="fa fa-sort-down"></i>
        </a>
        <a href="javascript:;" class="mod_int_tab offcanvas0">
            <span class="mod_int_tab_set">职位分类</span><i class="fa fa-sort-down"></i>
        </a>
        <a href="javascript:;" class="mod_int_tab offcanvas0">
            <span class="mod_int_tab_set">地区筛选</span><i class="fa fa-sort-down"></i>
        </a>
    </div>
    <!-- E 筛选tabs -->
    <!-- E 条件筛选 -->
    {% include components/offcanvas/offcanvas1.html %}

    <!-- S 搜索好职位-->
    <section class="mod_pos_list">
        <div class="lists">
            <a href="positionDetail.html" class="mod_pos_item">
                <div class="mod_pos_item_text">
                    <h2 class="text-truncate">Java Web开发工程师</h2>
                    <p class="mod_pos_item_mes text-truncate"><span>惠州</span><span>惠城区</span><span>经验不限</span><span>本科</span></p>
                    <ul class="mod_pos_item_ind">
                        <li>金融</li><li>银行</li><li>架构师</li><li>全栈</li><li>资深</li>
                    </ul>
                </div>
                <div class="mod_pos_item_text pt-2">
                    <div class="mod_pos_item_text_pic">
                        <img src="https://dummyimage.com/50x50/E5E5E5/666.png&text=50x50">
                    </div>
                    <h2 class="text-truncate pt-1">富海人才</h2>
                    <p class="mod_pos_item_mes text-truncate"><span>上市公司</span><span>2000人以上</span><span>硬件,其他</span></p>
                </div>
                <div class="mod_pos_item_salary">
                    <p class="mod_pos_item_salary_mon">8-16K</p>
                    <p class="mod_pos_item_salary_data">07月12日</p>
                </div>
            </a>
        </div>
        <div class="lists">
            <a href="javascript:;" class="mod_pos_item">
                <div class="mod_pos_item_text">
                    <h2 class="text-truncate">Java Web开发工程师</h2>
                    <p class="mod_pos_item_mes text-truncate"><span>惠州</span><span>惠城区</span><span>经验不限</span><span>本科</span></p>
                    <ul class="mod_pos_item_ind">
                        <li>金融</li><li>银行</li><li>架构师</li><li>全栈</li><li>资深</li>
                    </ul>
                </div>
                <div class="mod_pos_item_text pt-2">
                    <div class="mod_pos_item_text_pic">
                        <img src="https://dummyimage.com/50x50/E5E5E5/666.png&text=50x50">
                    </div>
                    <h2 class="text-truncate pt-1">富云软件</h2>
                    <p class="mod_pos_item_mes text-truncate"><span>教育企业</span><span>500人以上</span><span>计算机软件</span></p>
                </div>
                <div class="mod_pos_item_salary">
                    <p class="mod_pos_item_salary_mon">8-16K</p>
                    <p class="mod_pos_item_salary_data">07月12日</p>
                </div>
            </a>
        </div>
        <div class="lists">
            <a href="javascript:;" class="mod_pos_item">
                <div class="mod_pos_item_text">
                    <h2 class="text-truncate">Java Web开发工程师</h2>
                    <p class="mod_pos_item_mes text-truncate"><span>惠州</span><span>惠城区</span><span>经验不限</span><span>本科</span></p>
                    <ul class="mod_pos_item_ind">
                        <li>金融</li><li>银行</li><li>架构师</li><li>全栈</li><li>资深</li>
                    </ul>
                </div>
                <div class="mod_pos_item_text pt-2">
                    <div class="mod_pos_item_text_pic">
                        <img src="https://dummyimage.com/50x50/E5E5E5/666.png&text=50x50">
                    </div>
                    <h2 class="text-truncate pt-1">富云软件</h2>
                    <p class="mod_pos_item_mes text-truncate"><span>教育企业</span><span>500人以上</span><span>计算机软件</span></p>
                </div>
                <div class="mod_pos_item_salary">
                    <p class="mod_pos_item_salary_mon">8-16K</p>
                    <p class="mod_pos_item_salary_data">07月12日</p>
                </div>
            </a>
        </div>
    </section>
    <!-- E 搜索好职位-->
</div>