<!-- <script src="assets/js/jquery-2.1.0.min.js"></script> -->
<script src="https://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/ft-carousel.min.js"></script>
<script type="text/javascript">
    function countTime() {
        //获取当前时间  
        var date = new Date();
        var now = date.getTime();
        //设置截止时间  
        var str = "2019/02/31 23:59:59";
        var endDate = new Date(str);
        var end = endDate.getTime();
        //时间差  
        var leftTime = end - now;
        //定义变量 d,h,m,s保存倒计时的时间  
        var d, h, m, s;
        if (leftTime >= 0) {
            d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
            h = Math.floor(leftTime / 1000 / 60 / 60 % 24);
            m = Math.floor(leftTime / 1000 / 60 % 60);
            s = Math.floor(leftTime / 1000 % 60);
        }
        //将倒计时赋值到div中  
        document.getElementById("_d").innerHTML = d + "天";
        document.getElementById("_h").innerHTML = h + "时";
        document.getElementById("_m").innerHTML = m + "分";
        document.getElementById("_s").innerHTML = s + "秒";
        //递归每秒调用countTime方法，显示动态时间效果  
        setTimeout(countTime, 1000);
    }
</script>
<script src="src/layui.js"></script>
<script>
    layui.use(['form', 'upload','layer'], function () {
        var $ = layui.jquery
            , form = layui.form
            , upload = layui.upload
            , layer = layui.layer;

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题也太短了吧';
                }
            }
        });

        //初始赋值
        form.val('first', {
            'name': '测试测试测试测试'
            , 'phone': 11111111111
            , 'address': '广东惠州欧美城文化有限公司'
            , 'interest': 3
            , 'like[write]': true
            , 'desc': 'form 是我们非常看重的一块'
            , xxxxxxxxx: 123
        });

        upload.render({
            elem: '#test2'
            , url: ''
            , multiple: true
            , number: 3
            , size: 1024
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                });
            }
            , done: function (res) {
                //上传完毕
            }
            , allDone: function (obj) {
                console.log(obj)
            }
        });

        //监听提交
        form.on('submit(*)', function (data) {
            console.log(data)
            alert(JSON.stringify(data.field));
            return false;
        });

        //触发事件
        var active = {
            tpdata: function(){
            layer.confirm('您是否确定投票？', {
                title: '张三',
                btn: ['确认','取消'] //按钮
            }, function(){
                layer.msg('成功投票', {icon: 1});
            }, function(){
                layer.msg('取消投票', {icon: 5});
            });
            }
        };
        $('.toupiao').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
});

</script>