---
layout: default
title: 狮子城
---
<div class="container pb-5">
    <div class="user-list">
        <div class="user shadow-sm">
            <a href="detail.html">
                <img class="img" src="assets/img/005.jpg" alt="">
                <div class="number">1<small>号</small></div>
            </a>
            <div class="custom-control custom-checkbox p-2">
                <input type="checkbox" name="s" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">男神1</label>
            </div>
        </div>
        <div class="user shadow-sm">
            <a href="detail.html">
                <img class="img" src="assets/img/006.jpg" />
                <div class="number">2<small>号</small></div>
            </a>
            <div class="custom-control custom-checkbox p-2">
                <input type="checkbox" name="s" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">男神2</label>
            </div>
        </div>
        <div class="user shadow-sm">
            <a href="detail.html">
                <img class="img" src="assets/img/007.jpg" />
                <div class="number">3<small>号</small></div>
            </a>
            <div class="custom-control custom-checkbox p-2">
                <input type="checkbox" name="s" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">男神3</label>
            </div>
        </div>
        <div class="user shadow-sm">
            <a href="detail.html">
                <img class="img" src="assets/img/008.jpg" />
                <div class="number">4<small>号</small></div>
            </a>
            <div class="custom-control custom-checkbox p-2">
                <input type="checkbox" name="s" class="custom-control-input" id="customCheck4">
                <label class="custom-control-label" for="customCheck4">男神4</label>
            </div>
        </div>
    </div>
</div>
<a href="" class="layui-btn layui-btn-danger w-100" style="position: fixed;bottom:50px;" onclick="ch()">提交</a>