---
layout: default
title: 狮子城
---
<div class="container">
    <h4 class="sort-title">
       <i class="iconfont icon-rank"></i> 女神1 对象
    </h4>
    <div class="user-list p-3">
        <div class="shadow-sm user p-0 w-100 d-flex">
                <a href="javascript:;" class="w-33">
                    <img class="img" src="assets/img/005.jpg" />
                </a>
                <div class="p-2 w-75">
                    <p class="text-left" style="line-height: 25px;">
                        <strong>编号：</strong>1号<br/>
                        <strong>姓名：</strong>男神1 <i class="fa fa-heart-o text-danger"></i><br/>
                        <strong>性别：</strong>男<br/>
                        <strong>宣爱格言：</strong>白茶清欢无别事我在等风也等你
                    </p>
                </div>
        </div>
        <div class="shadow-sm user p-0 w-100 d-flex">
            <a href="javascript:;" class="w-33">
                <img class="img" src="assets/img/006.jpg" />
            </a>
            <div class="p-2 w-75">
                <p class="text-left" style="line-height: 25px;">
                    <strong>编号：</strong>2号<br/>
                    <strong>姓名：</strong>男神2 <i class="fa fa-heart-o text-danger"></i><br/>
                    <strong>性别：</strong>男<br/>
                    <strong>宣爱格言：</strong>白茶清欢无别事我在等风也等你
                </p>
            </div>
        </div>
        <div class="shadow-sm user p-0 w-100 d-flex">
            <a href="javascript:;" class="w-33">
                <img class="img" src="assets/img/007.jpg" />
            </a>
            <div class="p-2 w-75">
                <p class="text-left" style="line-height: 25px;">
                    <strong>编号：</strong>3号<br/>
                    <strong>姓名：</strong>男神3 <i class="fa fa-heart-o text-danger"></i><br/>
                    <strong>性别：</strong>男<br/>
                    <strong>宣爱格言：</strong>白茶清欢无别事我在等风也等你
                </p>
            </div>
        </div>
    </div>
</div>