---
layout: default
title: 狮子城
---
<div class="container">
    <h4 class="sort-title">
       <i class="iconfont icon-rank"></i> 心仪（男）对象
    </h4>
    <div class="user-list mt-3">
        <div class="user shadow-sm">
            <a href="detail.html">
                <img class="img" src="assets/img/005.jpg" alt="">
                <span class="number">1<small>号</small></span>
            </a>
            <div class="p-2">男神1</div>
        </div>
        <div class="user shadow-sm">
            <a href="detail.html">
                <img class="img" src="assets/img/006.jpg" />
                <span class="number">2<small>号</small></span>
            </a>
            <div class="p-2">男神2</div>
        </div>
        <div class="user shadow-sm">
            <a href="detail.html">
                <img class="img" src="assets/img/007.jpg" />
                <span class="number">3<small>号</small></span>
            </a>
            <div class="p-2">男神3</div>
        </div>
    </div>
</div>