---
layout: default
title: 狮子城
---
<div class="container">
    <div class="rule-container shadow-sm">
        <h4 class="sort-title">
            <i class="fa fa-file-text-o mr-1"></i> 评选规则
        </h4>
        <div class="content">
            <h5>
              <strong>2019年“单身派对” 投选心仪对象</strong> 
            </h5>
            <p>投选时间：11月09日10:00-11月12日18:00</p>
            <p>投选结果：投选结束后系统方可查看</p>
            <p>投选规则：<strong>每人拥有投选3人的投选权，已投选后不得更改。</strong></p>
        </div>
    </div>
</div>