---
layout: default
title: 狮子城
---
<div class="container">
    <div class="rule-container shadow-sm">
        <h4 class="sort-title">
            <i class="fa fa-file-text-o mr-1"></i> 活动规则
        </h4>
        <div class="content">
            <h5>
              <strong>“单身不孤单等你来狂欢”心动狮子城</strong>
            </h5>
            <p>举办时间：11月09日下午14:00</p>
            <p>心动对对碰（配对环节）游戏规则：手机微信扫二维码进入配对页面，勾选自己的性别，
            并按照页面提示给自己意向的3名异性嘉宾点击“ <i class="fa fa-check-square-o text-primary"></i> ”，全部勾选完毕将揭晓本次活动的配对结果。</p>
        </div>
    </div>
</div>