---
layout: default
title: 狮子城
---
<div class="container">
    <div class="rule-container" style="width:100%">
        <h4 class="sort-title layui-bg-red" style="width:100%">
            <i class="iconfont icon-20-rules mr-1"></i> 评选规则
        </h4>
        <div class="content">
            <p>
                <strong style="font-size:14px;width: 100%;display: block;">第二期 “狮子城 · 服务之星” 参选人员</strong>
            </p>
            <p>投票时间：10月24日10:00-10月25日18:00</p>
            <p>投票票数结果：投票结束后，系统总排名可查看</p>
            <p>投票得分数排名：以文件下发为准。</p>
            <p>投票规则：<strong style="font-size:12px;">公司全体正式员工每人拥有一票的投票权</strong></p>
        </div>
    </div>
</div>