---
layout: default
title: 狮子城
---
<div class="container">
    <h4 class="sort-title">
      <i class="iconfont icon-rank"></i> 配对名单
    </h4>
    <table class="layui-table sort-table sort-table" lay-even lay-skin="line" lay-size="lg">
        <thead>
            <tr>
                <th class="w-25">编号</th>
                <th class="w-25">姓名</th>
                <th class="w-50">对象</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="meName">男神1</td>
                <td class="dxName">女神1、女神2、女神3</td>
            </tr>
            <tr>
                <td>2</td>
                <td class="meName">男神2</td>
                <td class="dxName">女神1、女神2、女神3</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="meName">男神3</td>
                <td class="dxName">女神1、女神2、女神3</td>
            </tr>
            <tr>
                <td>4</td>
                <td class="meName">男神4</td>
                <td class="dxName">女神1、女神2、女神3</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="load-more-btn w-100">没有更多了</button>
</div>
