---
layout: default
title: 狮子城
---
<div class="container">
    <h4 class="sort-title">
      <i class="iconfont icon-rank"></i> 配对名单
    </h4>
    <table class="layui-table sort-table sort-table" lay-even lay-skin="line" lay-size="lg">
        <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>人数</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:30%;">第1组</td>
                <td style="width:40%;text-align: center" claas="user-name">
                  <a href="detail.html">
                    <a href="detail.html"><span style="display:block">男神1</span></a>
                  </a>
                </td>
                <td style="width:30%">2 人</td>
            </tr>
            <tr>
                <td style="width:30%;">第2组</td>
                <td style="text-align: center" claas="user-name">
                  <a href="detail.html"><span style="display:block">男神2</span></a>
                </td>
                <td>1 人</td>
            </tr>
            <tr>
                <td style="width:30%;">第3组</td>
                <td style="text-align: center" claas="user-name">
                   <a href="detail.html"><span style="display:block">男神3</span></a>
                </td>
                <td>2 人</td>
            </tr>
            <tr>
                <td style="width:30%;">第4组</td>
                <td style="text-align: center" claas="user-name">
                   <a href="detail.html"><span style="display:block">男神4</span></a>
                </td>
                <td>3 人</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="load-more-btn no-more" style="width:100%">没有更多了</button>
</div>
