.home{
    background-color: $pgbg;
    margin-bottom: rem(161);
}
.index_all{
	width: 100%;
    background: #f8fbff;
    ul{
        width: 100%;
        height: auto;
        overflow: hidden;
        li{
            width: 94%;
            height: auto;
            overflow: hidden;
            background:$white;
            margin:10px auto;
            border-radius:0.2rem;
            border: 1px solid $gray-300;
            display: flex;
            .inTop{
                width: 100%;
            }
            .dol{
                color:#ff3b44;
                em{
                    font-size:$font-20;
                }
            }
        }  
    }
    .in_fr{
       margin-top: 0.3rem;
       width: 54%;
       height: auto;
       .piao_type{
            line-height:1.5rem;
            border-bottom:0;
            .del{
                margin-left:0.2rem;
                color:#0077c8;
            }
        }
        img{
            width:100%;
            height:100%;
        }
        h2{
            font-size:$font-16;
            line-height: rem(80.5);
            color:#342c2a;
        }
        p{
            width: 100%;
            margin:0.3rem 0;
            font-size:$font-14;
            color:#999;
            overflow:hidden;   
            text-overflow:ellipsis; 
            white-space:nowrap; 
        }
        div{
            width: auto;
            height: auto;
            overflow: hidden;
        }
        .Sold{
            margin-right: 22%;
            font-size: 0.5rem;
            color:#666;
            margin-top: 5%;
        }
    }
}
.in_fl{
	width: 40%;
	margin: rem(32.2);
}

.table th, .table td{
    padding: 0.75rem 0.5rem!important;
 }
 .btn-link:focus, .btn-link.focus{
    text-decoration: none;
 }