//ticket-out
//弹出的样式
.out{ 
   width:100%; 
   height:100%; 
   position:fixed; 
   top:0; 
   left:0; 
   background:rgba(0,0,0,0.3);
   z-index: 1000;
   .te_d{
      width:80%; 
      height:auto; 
      position:absolute; 
      left:10%; 
      top:30%; 
      background:#fff; 
      border-radius: 0.24rem;
      h1{
         font-size: 1rem; 
         color:#ffa10d; 
         width: 80%;
         height: 3rem;
         line-height: 3rem;
         margin:0 auto;
         text-align: center;
         border-bottom: 1px dashed #ccc;
      }
   }
   .te_ioc{
      width: 3.5rem;
      margin:0.7rem auto;
   }
   h1{
    span{
      width: 1.6rem;
      height: 1.6rem;
      display:inline-block;
      margin-right: 0.5rem;
    }
   }
}

.out_succ{
   .de_btn{
      width: 80%;
      height: 2rem;
      margin:1.6rem auto;
      &_button{
         width: 46%;
         height: 1.4rem;
         line-height: 1.4rem;
         font-size: 0.66rem;
      }
   }
}
.ti_cof{
   .ti_time{
      background: #fff;
      color:#666;
      border-bottom: 1px solid #ccc;
      span{
         color:#1594ff;
      }
   }
   ti_main{
      width: 100%;
      height: auto;
      overflow: hidden;
      padding:0.2rem 0;
      border-bottom: 1px solid #ccc;
      .ddh{
         width: 90%;
      }
      h3{
         width: auto;
         height: 1rem;
         line-height: 1rem;
         font-size: 0.66rem;
         padding-left: 0.8rem;
         margin:0.4rem 0 0.2rem 0.5rem;
         border-radius: 0.6rem;
         background: #fde7d0;
      }
   }
}
.to_btn{
   height: 3.5rem;
   button{
      width: 100%;
      border-radius: 0;
      margin:0;
   }
}
.ti_out{
   margin-bottom: 3.5rem;
}