//ticketDetailsNew

#test1 div img {
	height: 100%;
}
/*table 切换样式*/
.w_up {
	width: 100%;
	height:1.8rem;
}
.w_up h2 {
	width:100%;
	height: 1.8rem;
}

.w_up h2 span {
	display: inline-block;
	width: 33.3%;
	height: 1.8rem;
	line-height:1.8rem;
	font-size:0.6rem;
	float:left;
	text-align: center;
	cursor: pointer;
	background: #dcdedd;
	color:#333;
}

.w_up h2 span.current {
	background: #3fbbef;
	color:#fff;
}

.ti_words ul li {
	display: none;
	height: auto;
}

.ti_words ul li.current {
	display: block;
}

.changCi{
	text-align: right;
	label{
		margin-bottom:10px!important;
		padding:0 10px;
		font-size: 14px;
		width: 80px;
		&:last-child{
			margin-bottom: 0!important;
		}
		&:nth-last-child(2){
			margin-bottom: 0!important;
		}
	}
}