---
layout: pages
title: 招聘职位
---
<header class="search">
		<div class="search_header search_bg_Ter_Whi">
		 <div class="search_header_box">
			<div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
			<div class="search_center"><a href="javascript:"> 招聘职位 </a></div>
			<div class="search_right"><a href="javascript:;"></a></div>
		 </div>
		</div>
</header>
<div class="qyPostManEdit">
		<div class="mod_pos_item pr-0">
				<div class="weui-cells">
								<div class="weui-cell weui-cell_select">
												<div class="weui-cell__hd">
																<label for="name" class="weui-label">联系人员 <em>*</em></label>
												</div>
												<div class="weui-cell__bd">
														<div class="accNumBtn text-right w-100">
																	<input type="text" class="weui-input text-right" value="黄小姐">
														</div>
												</div>
								</div>
								<div class="weui-cell">
										<div class="weui-cell__hd">
												<label for="name" class="weui-label">联系电话 <em>*</em></label>
										</div>
										<div class="weui-cell__bd">
											<div class="d-flex">
														<input type="text" class="weui-input text-right" value="0752-5555666">
														<div class="weui-cells_checkbox d-flex justify-content-end w-30">
																<label class="weui-check__label d-flex align-items-center" for="s11">
																		<div class="weui-cell__hd p-0">
																				<input type="checkbox" class="weui-check" name="checkbox1" id="s11">
																				<i class="weui-icon-checked"></i>
																				</div>
																				<div class="weui-cell__bd pr-1">
																				<p>屏蔽</p>
																		</div>
																</label>
														</div>
											</div>
										</div>
								</div>
								<div class="weui-cell">
										<div class="weui-cell__hd">
											<label for="name" class="weui-label">电子邮箱 <em>*</em></label>
										</div>
										<div class="weui-cell__bd">
											<div class="d-flex">
												<input type="text" class="weui-input text-right" value="565656@qq.com">
												<div class="weui-cells_checkbox d-flex justify-content-end w-30">
														<label class="weui-check__label d-flex align-items-center" for="s12">
																<div class="weui-cell__hd p-0">
																		<input type="checkbox" class="weui-check" name="checkbox1" id="s12">
																		<i class="weui-icon-checked"></i>
																		</div>
																		<div class="weui-cell__bd pr-1">
																		<p>屏蔽</p>
																</div>
														</label>
												</div>
											</div>
										</div>
								</div>
								<div class="weui-cell weui-cell_select">
												<div class="weui-cell__hd">
																<label for="name" class="weui-label">乘车路线</label>
												</div>
												<div class="weui-cell__bd">
																<div class="weui-cells_checkbox d-flex justify-content-end">
																		<input type="text" class="weui-input text-right" placeholder="请输入最多128位字符的乘车路线">	
																</div>
												</div>
								</div>
								<div class="weui-cell weui-cell_select">
										<div class="weui-cell__hd">
														<label for="name" class="weui-label">更新联系方式</label>
										</div>
										<div class="weui-cell__bd">
														<div class="weui-cells_checkbox d-flex justify-content-end">
																<select class="weui-select">
																		<option selected="" value="1">仅更新此职位的联系方式</option>
																		<option value="2">同步更新本账号所有发布的招聘职位的联系方式</option>
																		<option value="3">同步更新本部门所有招聘职位的联系方式</option>
																</select>
														</div>
										</div>
					    	</div>
				</div>
		</div>
		<!-- 底部按钮 -->
		<section class="mod_pos_btn">
				<div class="mod_pos_btn_air"><a href="qyPostJobNext.html">上一步</a></div>
				<div class="mod_pos_btn_rea"><a href="qyPostMan.html">发布职位</a></div>
		</section>
</div>