---
layout: pages
title: 搜索结果
---
<div class="qySearchList">
    <!--按条件筛选-->
    <div class="qySearchSelech mb-2">
        <!-- 筛选内容 -->
        <div class="mod_pos_item_text bg-white pl-2 pr-2 pt-2">  
            <div class="mod_pos_item_ind">
                 <h2 class="text-truncate p-0"><a href="" name="scrollTop">期望职位</a></h2>
                 <ul>
                    <li><span>工作经验：0年-11年</span> <i class="fa fa-remove"></i></li>
                    <li><span>学历：初中-博士</span> <i class="fa fa-remove"></i></li>
                    <li><span>性别：男</span> <i class="fa fa-remove"></i></li>
                    <li><span>意向岗位：会计</span> <i class="fa fa-remove"></i></li>
                    <li><span>所学专业：软件开发</span> <i class="fa fa-remove"></i></li>
                    <li><span>寻求职位：前端开发</span> <i class="fa fa-remove"></i></li>
                    <li><span>期望月薪：8000元-8000元</span> <i class="fa fa-remove"></i></li>
                    <li><span>工作经验：0年-11年</span> <i class="fa fa-remove"></i></li>
                    <li><span>学历：初中-博士</span> <i class="fa fa-remove"></i></li>
                    <li><span>性别：男</span> <i class="fa fa-remove"></i></li>
                    <li><span>意向岗位：会计</span> <i class="fa fa-remove"></i></li>
                    <li><span>所学专业：软件开发</span> <i class="fa fa-remove"></i></li>
                    <li><span>寻求职位：前端开发</span> <i class="fa fa-remove"></i></li>
                    <li><span>期望月薪：8000元-8000元</span> <i class="fa fa-remove"></i></li>
                 </ul>
                 <!-- 删除按钮 -->
                 <span class="his_sea_ico"><i class="fa fa-trash-o"></i></span>
            </div>
            <div class="showBtn bg-white">
                <span class="weui-btn weui-btn_mini weui-btn_primary"><i class="fa fa-angle-double-up"></i> 隐藏搜索条件</span>
            </div>
        </div>
        <!-- 筛选表单 -->
        <div class="mod_pos_item m-0">
            <div class="weui-cells editShowHight">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">寻求职位</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" placeholder="请输入职位关键字">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">意向岗位</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" placeholder="请选择">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">性别</label>
                    </div>
                    <div class="weui-cell__bd">
                      <div class="weui-cells_checkbox d-flex justify-content-end">
                        <label class="weui-check__label d-flex align-items-center" for="s11">
                            <div class="weui-cell__hd p-0">
                                <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd pr-1">
                                <p>男</p>
                            </div>
                        </label>
                        <label class="weui-check__label d-flex align-items-center" for="s12">
                            <div class="weui-cell__hd p-0">
                                <input type="checkbox" class="weui-check" name="checkbox1" id="s12">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd pr-1">
                                <p>女</p>
                            </div>
                        </label>
                        <label class="weui-check__label d-flex align-items-center" for="s13">
                            <div class="weui-cell__hd p-0">
                                <input type="checkbox" class="weui-check" name="checkbox1" id="s13">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd p-0">
                                <p>不限</p>
                            </div>
                        </label>
                      </div>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">工作经验</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" placeholder="请选择">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">期望工作地区</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" placeholder="请选择">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">期望月薪</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" class="weui-input text-right" placeholder="请选择">
                        </div>
                </div>
                <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">截止日期</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" class="weui-input text-right" placeholder="请选择">
                        </div>
                </div>
                <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">工作地区</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" class="weui-input text-right" placeholder="请选择">
                        </div>
                </div>
                <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">薪资待遇</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" class="weui-input text-right" placeholder="请选择">
                        </div>
                </div>
                <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">学历</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" class="weui-input text-right" placeholder="请选择">
                        </div>
                </div>
                <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">年龄</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" class="weui-input text-right" placeholder="请选择">
                        </div>
                </div>
                <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">毕业年份</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="text" class="weui-input text-right" placeholder="请选择">
                        </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">更新时间</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" placeholder="请选择">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">现所在地</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" placeholder="请选择">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">毕业院校</label>
                    </div>
                    <div class="weui-cell__bd">
                      <div class="accNumBtn text-right">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="w-75"><input type="text" class="weui-input text-right" placeholder="请输入"></div>
                            <a href="qyPostJobEdit.html" class="btn btn-secondary btn-sm ml-2">确定</a>
                        </div>
                       </div>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">所学专业</label>
                    </div>
                    <div class="weui-cell__bd">
                        <div class="accNumBtn text-right">
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="w-75"><input type="text" class="weui-input text-right" value="请输入"></div>
                               <a href="qyPostJobEdit.html" class="btn btn-secondary btn-sm ml-2">确定</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">外语要求</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="请选择">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">曾服务公司</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="请选择">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">曾担任的岗位</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="请选择">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--搜索简历结果-->
    <div class="index mb-0">
     <div class="weui-panel weui-panel_access">
       <div class="weui-panel__bd">
        <div class="lists">
        </div>
       </div>
      </div>
    </div>
</div>
<!-- 置顶部 -->
<div class="fixedBottom">
    <div class="ind_rel_btn text-white rounded-circle float-right text-center p-1">
        <a href="#scrollTop" class="text-white"><i class="fa fa-chevron-up"></i></a>
    </div>
</div>
