.home{
  @extend %bgColorMt;
  width: 100%;
  .weui-tab{
    width: 100%!important;
  }
  .weui-tab__bd{
    display: block;
    padding-bottom: 50px;
  }
  .weui-form-preview__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    span{
      height: 20px;
    }
  }
}