---
layout: default
title: 匹配职位
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn mui-action-back" href="javascript:history.back()"><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">匹配职位</div>
                </div>
            </div>
        </div>
    </header>
    <div class="main_member_cot_box">
        <div class="wap_member_comp_h1"><span>相似职位</span></div>
        <div class="wap_member_no">
            您还没有相似职位<div><a class="wap_member_no_submit" href="c_job.html">去搜索相关职位</a></div>
        </div>
    </div>
</div>
<div id="hm_t_undefined" class="hm-t-container">
    <div class="hm-t-go-top" style="display: none;"></div>
</div>