---
layout: default
title: 谁看过我的简历
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_userbg bg3">
                    <a class="hd-lbtn" href="javascript:history.back();"><i class="header_top_l iconfont"></i></a>
                    <div class="header_h1">谁看过我的简历</div>
                </div>
            </div>
        </div>
    </header>
    <div class="main_member_cot_box">
        <div class="wap_member_comp_h1 ">
            <span>谁看过我的简历</span>
        </div>
        <div class="pages"> </div>
        <div class="wap_member_no">
            您暂时还没有信息<div><a class="wap_member_no_submit" href="c_job.html">去搜索感兴趣的职位</a></div>
        </div>
    </div>
</div>