---
layout: default
title: 兼职
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header_userbg bg3">
                <a class="hd-lbtn" href="javascript:history.back();"><i class="header_top_l"></i></a>
                <div class="header_p_z1">兼职</div>
            </div>
        </div>
    </header>
</div>
<div style="padding:10px 10px;">
    <section>
        <div class="">
            <div class="user_contnet_box ">
                <div class="com_show_t1">
                    <h2>饮品赠饮促销员（惠州）</h2>
                </div>
                <div class="Part-time_job_js">
                    <span class="Part-time_job_js_span"><i class="Part-time_job_js_city iconfont_partcity"></i>
                        惠州-惠城区
                    </span>
                    <span class="Part-time_job_js_span"><i class="Part-time_job_js_city iconfont_parteye"></i>201次</span>
                    <span class="Part-time_job_js_span"><i class="Part-time_job_js_city iconfont_partdate"></i>2018-09-25</span>
                </div>
                <div class="Part-time_job_js">
                    <span class="Part-time_job_js_span "><i class="Part-time_job_js_s_doc ">￥</i><em class="Part-time_job_js_span_jg">120元/天</em></span>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="mt10">
            <div class="user_contnet_box ">
                <div class="wap_title"><span class="">基本信息</span></div>
                <ul class="user_contnet_ul user_contnet_ul_jz">
                    <li><span class="user_contnet_info_n">工作类型：</span>促销导购</li>
                    <li><span class="user_contnet_info_n"> 发&nbsp;布 &nbsp;者：</span>广州麦狮广告策划有限公司</li>
                    <li><span class="user_contnet_info_n">招聘人数： </span>30人</li>
                    <li><span class="user_contnet_info_n">性别要求： </span>女</li>
                    <li><span class="user_contnet_info_n">有效期至： </span>长期招聘</li>
                    <li>
                        <table class="det-tab" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <th height="28" align="center" valign="middle" class="fre-tab01">TIME</th>
                                    <th height="28" align="center" valign="middle" class="fre-tab02">周一</th>
                                    <th height="28" align="center" valign="middle" class="fre-tab03">周二</th>
                                    <th height="28" align="center" valign="middle" class="fre-tab04">周三</th>
                                    <th height="28" align="center" valign="middle" class="fre-tab05">周四</th>
                                    <th height="28" align="center" valign="middle" class="fre-tab06">周五</th>
                                    <th height="28" align="center" valign="middle" class="fre-tab07">周六</th>
                                    <th height="28" align="center" valign="middle" class="fre-tab08">周日</th>
                                </tr>
                                <tr>
                                    <td height="28" align="center" valign="middle" class="fre-tab09">上午</td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                </tr>
                                <tr>
                                    <td height="28" align="center" valign="middle" class="fre-tab10">下午</td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                </tr>
                                <tr>
                                    <td height="28" align="center" valign="middle" class="fre-tab11">晚上</td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                    <td height="28" align="center" valign="middle" class="cut"><i></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li><span class="user_contnet_info_n">结算周期：</span>周结</li>
                    <li><span class="user_contnet_info_n">工作地址： </span>惠城区三栋镇</li>
                    <li><span class="user_contnet_info_n" style=" float:none;">位&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置：
                        </span>
                        <!---地图-->
                        <section>
                            <div class="con_map" id="company_baidu_map">
                                <div id="maps_container" style="height: 200px; min-width: 300px; overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;">
                                    <div style="overflow: visible; position: absolute; z-index: 0; left: -64px; top: 8px; cursor: url(&quot;https://api.map.baidu.com/images/openhand.cur&quot;) 8 8, default; transform-origin: 268.5px 90.5px 0px;">
                                        <div class="BMap_mask" style="position: absolute; left: 64px; top: -8px; z-index: 9; overflow: hidden; user-select: none; width: 335px; height: 200px;"></div>
                                        <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;">
                                            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 800;">
                                                <div class="iw" style="position: absolute; line-height: 28px; text-align: center; border: 0px; user-select: none;">
                                                    <div>
                                                        <div class="iw_l" style="display: block;"></div>
                                                        <div class="iw_r" style="display: block;"></div><a target="_blank"
                                                            class="iw_s iw_s0 iw_c">
                                                            <div class="iw_bg iw_cc"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;"><span
                                                    class="BMap_Marker BMap_noprint" unselectable="on" "="" style="
                                                    position: absolute; padding: 0px; margin: 0px; border: 0px; cursor:
                                                    pointer; background: url(&quot;https://api.map.baidu.com/images/blank.gif&quot;);
                                                    width: 19px; height: 25px; left: 158px; top: 75px; z-index:
                                                    -4601638;" title=""></span></div>
                                            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 600;"></div>
                                            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 500;"><label
                                                    class="BMapLabel" unselectable="on" style="position: absolute; display: none; cursor: inherit; background-color: rgb(190, 190, 190); border: 1px solid rgb(190, 190, 190); padding: 1px; white-space: nowrap; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: arial, sans-serif; z-index: -20000; color: rgb(190, 190, 190);">shadow</label></div>
                                            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 400;"><span
                                                    class="BMap_Marker" unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 0px; height: 0px; left: 158px; top: 75px; z-index: -4601638;">
                                                    <div style="position: absolute; margin: 0px; padding: 0px; width: 19px; height: 25px; overflow: hidden;"><img
                                                            src="images/marker_red_sprite.png" style="display: block; border:none;margin-left:0px; margin-top:0px; "></div>
                                                </span></div>
                                            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 300;"><span
                                                    unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 20px; height: 11px; left: 162px; top: 89px;">
                                                    <div style="position: absolute; margin: 0px; padding: 0px; width: 20px; height: 11px; overflow: hidden;"><img
                                                            src="images/marker_red_sprite.png" style="display: block; border:none;margin-left:-19px; margin-top:-13px; "></div>
                                                </span></div>
                                            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 201;"></div>
                                            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div>
                                        </div>
                                        <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 1;">
                                            <div style="position: absolute; overflow: visible; z-index: -100; left: 232px; top: 92px; display: block; transform: translate3d(0px, 0px, 0px);"><img
                                                    src="js/saved_resource" style="position: absolute; border: none; width: 256px; height: 256px; left: -225px; top: -74px; max-width: none; opacity: 1;"><img
                                                    src="js/saved_resource(1)" style="position: absolute; border: none; width: 256px; height: 256px; left: -225px; top: -330px; max-width: none; opacity: 1;"><img
                                                    src="js/saved_resource(2)" style="position: absolute; border: none; width: 256px; height: 256px; left: 31px; top: -330px; max-width: none; opacity: 1;"><img
                                                    src="js/saved_resource(3)" style="position: absolute; border: none; width: 256px; height: 256px; left: 31px; top: -74px; max-width: none; opacity: 1;"></div>
                                        </div>
                                        <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 2; display: none;">
                                            <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 0; display: none;"></div>
                                        </div>
                                        <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 3;"></div>
                                    </div>
                                    <div class="pano_close" title="退出全景" style="z-index: 1201; display: none;"></div><a
                                        class="pano_pc_indoor_exit" title="退出室内景" style="z-index: 1201; display: none;"><span
                                            style="float:right;margin-right:12px;">出口</span></a>
                                    <div class=" anchorBL" style="height: 25px; position: absolute; z-index: 30; text-size-adjust: none; bottom: 1px; right: auto; top: auto; left: 1px;"><a
                                            title="到百度地图查看此区域" target="_blank" href="http://map.baidu.com/?sr=1" style="outline: none;"><img
                                                style="border:none;width:68px;height:25px" src="images/copyright_logo_hd.png"></a></div>
                                    <div unselectable="on" class=" BMap_cpyCtrl BMap_noprint anchorBL" style="cursor: default; white-space: nowrap; color: black; background: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: 15px; font-family: arial, sans-serif; bottom: 0px; right: auto; top: auto; left: 72px; position: absolute; z-index: 10; text-size-adjust: none;"></div>
                                </div>
                            </div>
                        </section>
                        <!---地图-->
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="mt10" id="con_link_per">
            <div class="user_contnet_box ">
                <div class="wap_title"><span class="">具体要求</span></div>
                <div class="part_show_cont muipreview" id="partcontent">
                    <p>【地点】佛山、东莞、惠州</p>
                    <p>9.29-30 <span style="“font-family:" 宋体“="">东莞</span></p>
                    <p><span style="“font-family:宋体“">金美加油站</span>&nbsp;&nbsp;&nbsp;&nbsp; <span style="“font-family:宋体“">常平大道金美路段</span></p>
                    <p><span style="“font-family:宋体“">岗梓加油站</span>&nbsp;&nbsp;&nbsp;&nbsp; <span style="“font-family:宋体“">常平环常西路</span></p>
                    <p><span style="“font-family:宋体“">左邻右里超市</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="“font-family:宋体“">常平镇中心（雄狮酒店旁）常平正利广场</span></p>
                    <p>&nbsp;</p>
                    <p>9.29-30 <span style="“font-family:" 宋体“="">佛山</span></p>
                    <p><span style="“font-family:宋体“">叁谭加油站</span>&nbsp;&nbsp;&nbsp;&nbsp; <span style="“font-family:宋体“">南海里水里广路</span>6<span
                            style="“font-family:宋体“">号</span></p>
                    <p><span style="“font-family:宋体“">化纤加油站</span>&nbsp;&nbsp;&nbsp;&nbsp; <span style="“font-family:宋体“">佛山市张槎佛罗路</span>45<span
                            style="“font-family:宋体“">号</span>&nbsp; <span style="“font-family:宋体“">公交佛罗路中站</span></p>
                    <p>&nbsp;</p>
                    <p>10.11-12 <span style="“font-family:" 宋体“="">惠州</span></p>
                    <p><span style="“font-family:宋体“">艾迪克厂小店</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="“font-family:宋体“">惠州市惠城区东江工业区</span></p>
                    <p><span style="“font-family:宋体“">硕贝德厂小店</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="“font-family:宋体“">惠州市惠城区水口华阳区</span></p>
                    <p><span style="“font-family:宋体“">南旋毛织厂</span>&nbsp;&nbsp;&nbsp;&nbsp; <span style="“font-family:宋体“">惠州市惠城区水口南旋工业区</span></p>
                    <p>&nbsp;</p>
                    <p>10.13-14 <span style="“font-family:" 宋体“="">惠州</span></p>
                    <p><span style="“font-family:宋体“">龙旗员工超市</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="“font-family:宋体“">惠州市惠城区惠州市仲恺高新区和畅六路西</span>23<span style="“font-family:宋体“">号</span></p>
                    <p><span style="“font-family:宋体“">数码园北区商场</span>&nbsp;&nbsp;&nbsp;&nbsp; <span style="“font-family:宋体“">惠州市惠城区惠州市三栋数码园北区</span></p>
                    <p><span style="“font-family:宋体“">鸿丰五金厂</span>&nbsp;&nbsp;&nbsp;&nbsp; <span style="“font-family:宋体“">惠州市惠城区惠州市三栋路鸿丰五金厂</span></p>
                    <p>&nbsp;</p>
                    <p>10.13-14 <span style="“font-family:" 宋体“="">佛山</span></p>
                    <p><span style="“font-family:宋体“">华兴超市</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="“font-family:宋体“">大沥蛇龙金城西一路</span>2<span style="“font-family:宋体“">号</span></p>
                    <p><span style="“font-family:宋体“">华庭超市</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="“font-family:宋体“">大沥蛇龙金城大道路</span>9<span style="“font-family:宋体“">号金碧华庭附近</span></p>
                    <p style="“white-space:" normal;“=""><span style="“font-family:" 宋体;“=""></span><br></p>
                    <p>【时间】每个促销点2天，1点1人，具体时间因地点略有不同，参考时间10:30-19:30</p>
                    <p>【薪酬】120元/天</p>
                    <p>【工作内容】品牌饮品新品推广，免费赠饮</p>
                    <p>【形象要求】155-170cm，16-30岁的女生，五官端正，无明显伤痕或纹身，工作需化妆，需自备小白鞋</p>
                    <p>【工作要求】性格开朗大胆，敢于主动接触消费者进行产品推广宣传，能配合公司安排的促销工作多事女、飞机女、公主病的勿扰！</p>
                    <p>有促销员经验优先！</p>
                    <p>加微信联系：何小姐（微信号：139****6236 ）吴小姐（微信号：136****0869），备注应聘地区促销员</p>
                    <p><br></p>
                </div>
                <div class="job_jz_tips">提示：刷信誉、淘宝刷钻、YY网络兼职、加YY联系的职位都是骗子！收取费用或押金的都有欺诈嫌疑，请警惕！</div>
                <div class="job_jz_tips_sq">
                    <a class="job_jz_tips_sq_bth" onclick="layermsg(&#39;只有个人用户才能申请报名&#39;, 2);" href="javascript:;">我要报名</a>
                    <a onclick="layermsg(&#39;只有个人用户才能收藏&#39;, 2);" href="javascript:;" class="job_jz_tips_sq_sc"><i class="job_jz_tips_sq_icon  job_jz_tips_sq_icon_sc"></i>收藏</a>
                </div>
                <div class="job_jz_tips_sq" style="display:none">
                    <a class="job_jz_tips_sq_bth job_jz_tips_sq_have_bth" href="javascript:void(0);">已报名</a>
                    <a class="job_jz_tips_sq_sc" style="color:grey;"><i class="job_jz_tips_sq_icon job_jz_tips_sq_icon_ysc"></i><span class="job_jz_tips_sq_icon_ysc_s">已收藏</span></a>
                </div>
                <div style="display:none">
                    <div class="wap_title"><span class="">联系方式</span></div>
                    <div>联系人：彭生</div>
                    <div>联系电话：18688944894</div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="js/prefixfree.min.js" language="javascript"></script>
<script src="js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="js/layer.m.js" language="javascript"></script>
<script src="js/public.js" language="javascript"></script>
<script src="js/part.js" language="javascript"></script>
<script type="text/javascript" src="js/api" charset="utf-8"></script>
<script type="text/javascript" src="js/getscript"></script>
<script src="js/map.js" language="javascript"></script>
<script>
    var sy_weburl = '';
    var map = new BMap.Map("maps_container");
    map.centerAndZoom(new BMap.Point('114.389487', '23.089727'), 12);
    var point = new BMap.Point('114.389487', '23.089727');
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
</script>
<link rel="stylesheet" href="css/mui.previewimage.css" type="text/css">
<script src="js/mui.min.js" language="javascript"></script>
<script src="js/mui.zoom.js" language="javascript"></script>
<script src="js/mui.previewimage.js" language="javascript"></script>
<script>
    $(function () {
        //企业详情页
        $(".muipreview").find('img').each(function () {
            $(this).attr('data-preview-src', '');
            $(this).attr('data-preview-group', '1');
        });
        mui.previewImage();

    })
</script>

<div id="hm_t_undefined" class="hm-t-container">
    <div class="hm-t-go-top" style="display: none;"></div>
</div>


