---
layout: default
title: 兼职信息
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_bg  bg3">
                    <a class="hd-lbtn " href=""><i class="header_top_l"></i></a>
                    <div class="header_h1">
                        <div class="header_fx_search">
                            <form method="get" action="">
                                <input type="hidden" name="c" value="part">
                                <div class="formFiled">
                                    <input type="text" value="" name="keyword" class="input_search" placeholder="请输入兼职关键字,如：小时工...">
                                    <span class="formFiled_bth"> <input type="submit" value=" " class=" "></span>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
</div>
<link rel="stylesheet" href="css/wap_tck.css" type="text/css">
<div class="mui-content pos_tab">
    <div class="mui-row">
        <div class="mui-col-sm-6 mui-col-xs-12">
            <li class="mui-table-view-cell">
                <a href="position.html" class="">
                    全职   
                </a>
            </li>
        </div>
        <div class="mui-col-sm-6 mui-col-xs-12">
            <li class="mui-table-view-cell">
                <a href="c_part.html" class="active">
                    兼职
                </a>
            </li>
        </div>
    </div>
</div>
<section>
    <div class="searchOptions clearfix partwork_nav">
        <ul class="searchOptions_list ">
            <li class="grade popup" data-pop="grade">
                <a href="javascript:void(0);" class="searchOptions_list_a">
                    <span class="job_ov">兼职区域</span><i class="searchOptions_icon"></i></a>
            </li>
            <li class="Sorttype popup" data-pop="Sorttype">
                <a href="javascript:void(0);" class="searchOptions_list_a">兼职类型<i class="searchOptions_icon"></i></a>
            </li>
            <li class="Sortcycle popup" data-pop="Sortcycle" style="border-right:none;">
                <a href="javascript:void(0);" class="searchOptions_list_a">结算周期<i class="searchOptions_icon"></i></a>
            </li>
            <input type="hidden" id="searchurl" value="c=part">
            <input type="hidden" id="waptype" value="1">
        </ul>
    </div>
</section>
<div class="clear"></div>
<section>
    <div class="warp_content clear">
        <div class="job_list_content">
            <ul class="part_box">
                <li class="part_box_list">
                    <a href="c_part_show.html">
                        <div class="part_box_list_pd">
                            <span class="part_box_jobdate">
                                2018-11-09
                            </span>
                            <div class="part_box_list_bm">报名</div>
                            <div class="part_box_jobname">
                                兼职星探</div>
                            <div class="part_box_jobp">
                                <span class="part_box_jobcity"><i class="part_box_jobiconcity"></i>
                                    惠州-惠城区-惠州市恒佳互娱传媒有限公司
                                </span>
                            </div>
                            <div class="part_box_jobxz_box">
                                <span class="part_box_jobxz">
                                    <i class="part_box_jobxz_fh">￥</i>200
                                </span>元/人
                                <div class="Part_jsfs">完工结</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="part_box_list">
                    <a href="c_part_show.html">
                        <div class="part_box_list_pd">
                            <span class="part_box_jobdate">
                                2018-11-09
                            </span>

                            <div class="part_box_list_bm">报名</div>

                            <div class="part_box_jobname">
                                星秀主播<i class="part_bax_tj"></i></div>
                            <div class="part_box_jobp">
                                <span class="part_box_jobcity"><i class="part_box_jobiconcity"></i>
                                    惠州-惠城区-惠州市恒佳互娱传媒有限公司
                                </span>
                            </div>
                            <div class="part_box_jobxz_box">
                                <span class="part_box_jobxz">
                                    <i class="part_box_jobxz_fh">￥</i>2000
                                </span>
                                元/月
                                <div class="Part_jsfs">月结</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="part_box_list">
                    <a href="c_part_show.html">
                        <div class="part_box_list_pd">
                            <span class="part_box_jobdate">
                                2018-11-06
                            </span>
                            <div class="part_box_list_bm">报名</div>
                            <div class="part_box_jobname">
                                星秀主播</div>
                            <div class="part_box_jobp">
                                <span class="part_box_jobcity"><i class="part_box_jobiconcity"></i>
                                    惠州-惠城区-惠州市恒佳互娱传媒有限公司
                                </span>
                            </div>
                            <div class="part_box_jobxz_box">
                                <span class="part_box_jobxz">
                                    <i class="part_box_jobxz_fh">￥</i>2000
                                </span>
                                元/月
                                <div class="Part_jsfs">月结</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="part_box_list">
                    <a href="c_part_show.html">
                        <div class="part_box_list_pd">
                            <span class="part_box_jobdate">
                                2018-10-26
                            </span>
                            <div class="part_box_list_bm">报名</div>
                            <div class="part_box_jobname">
                                打包分拣员 包吃包住<i class="part_bax_tj"></i></div>
                            <div class="part_box_jobp">
                                <span class="part_box_jobcity"><i class="part_box_jobiconcity"></i>
                                    惠州-惠阳区-专业从事代理招聘，企业外包服务，诚信为求职者提供多
                                </span>
                            </div>
                            <div class="part_box_jobxz_box">
                                <span class="part_box_jobxz">
                                    <i class="part_box_jobxz_fh">￥</i>160
                                </span>元/天
                                <div class="Part_jsfs">日结</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="part_box_list">
                    <a href="c_part_show.html">
                        <div class="part_box_list_pd">
                            <span class="part_box_jobdate">
                                2018-10-23
                            </span>
                            <div class="part_box_list_bm">报名</div>
                            <div class="part_box_jobname">
                                电商仓库打包、分拣、贴标员（包吃住）<i class="part_bax_tj"></i></div>
                            <div class="part_box_jobp">
                                <span class="part_box_jobcity"><i class="part_box_jobiconcity"></i>
                                    惠州-惠阳区-专业从事代理招聘，企业外包服务，诚信为求职者提供多
                                </span>
                            </div>
                            <div class="part_box_jobxz_box">
                                <span class="part_box_jobxz">
                                    <i class="part_box_jobxz_fh">￥</i>150
                                </span>元/天
                                <div class="Part_jsfs">日结</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="part_box_list">
                    <a href="c_part_show.html">
                        <div class="part_box_list_pd">
                            <span class="part_box_jobdate">
                                2018-10-09
                            </span>
                            <div class="part_box_list_bm">报名</div>
                            <div class="part_box_jobname">
                                平面模特兼职</div>
                            <div class="part_box_jobp">
                                <span class="part_box_jobcity"><i class="part_box_jobiconcity"></i>
                                    惠州-惠阳区-创毅佳</span>
                            </div>
                            <div class="part_box_jobxz_box">
                                <span class="part_box_jobxz">
                                    <i class="part_box_jobxz_fh">￥</i>200
                                </span>
                                元/小时
                                <div class="Part_jsfs">完工结</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="part_box_list">
                    <a href="c_part_show.html">
                        <div class="part_box_list_pd">
                            <span class="part_box_jobdate">
                                2018-09-25
                            </span>
                            <div class="part_box_list_bm">报名</div>
                            <div class="part_box_jobname">
                                饮品赠饮促销员（惠州）</div>
                            <div class="part_box_jobp">
                                <span class="part_box_jobcity"><i class="part_box_jobiconcity"></i>
                                    惠州-惠城区-广州麦狮广告策划有限公司
                                </span>
                            </div>
                            <div class="part_box_jobxz_box">
                                <span class="part_box_jobxz">
                                    <i class="part_box_jobxz_fh">￥</i>120
                                </span>元/天
                                <div class="Part_jsfs">周结</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="part_box_list">
                    <a href="c_part_show.html">
                        <div class="part_box_list_pd">
                            <span class="part_box_jobdate">
                                2018-09-25
                            </span>

                            <div class="part_box_list_bm">报名</div>

                            <div class="part_box_jobname">
                                招饮料赠饮促销员多名</div>
                            <div class="part_box_jobp">
                                <span class="part_box_jobcity"><i class="part_box_jobiconcity"></i>
                                    惠州-惠城区-广州麦狮广告策划有限公司
                                </span>
                            </div>
                            <div class="part_box_jobxz_box">
                                <span class="part_box_jobxz">
                                    <i class="part_box_jobxz_fh">￥</i>120
                                </span>
                                元/天
                                <div class="Part_jsfs">完工结</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="part_box_list">
                    <a href="c_part_show.html">
                        <div class="part_box_list_pd">
                            <span class="part_box_jobdate">
                                2018-09-09
                            </span>
                            <div class="part_box_list_bm">报名</div>
                            <div class="part_box_jobname">麦当劳餐厅</div>
                            <div class="part_box_jobp">
                                <span class="part_box_jobcity"><i class="part_box_jobiconcity"></i>
                                    惠州-惠阳区-麦当劳餐厅
                                </span>
                            </div>
                            <div class="part_box_jobxz_box">
                                <span class="part_box_jobxz">
                                    <i class="part_box_jobxz_fh">￥</i>11
                                </span>元/小时
                                <div class="Part_jsfs">月结</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="part_box_list">
                    <a href="c_part_show.html">
                        <div class="part_box_list_pd">
                            <span class="part_box_jobdate">2018-09-07</span>
                            <div class="part_box_list_bm">报名</div>
                            <div class="part_box_jobname">招聘兼职物流拣货员1名</div>
                            <div class="part_box_jobp">
                                <span class="part_box_jobcity"><i class="part_box_jobiconcity"></i>惠州-惠城区-惠州维克太阳能科技有限公司</span>
                            </div>
                            <div class="part_box_jobxz_box">
                                <span class="part_box_jobxz">
                                    <i class="part_box_jobxz_fh">￥</i>50
                                </span>元/天
                                <div class="Part_jsfs">月结</div>
                            </div>
                        </div>
                     </a>
                </li>
            </ul>
            <div class="pages">
                <a href="">上一页</a>
                <select onchange="toPages()" id="pageChange">
                    <option value="" selected="selected">1</option>
                    <option value="">2</option>
                </select>
                <a href="">下一页</a><em>共2页</em>
                <script>
                    function toPages(url) {
                        var obj = document.getElementById("pageChange");
                        window.location.href = obj.options[obj.selectedIndex].value;
                    }
                </script>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#resume").submit(function (e) {
            var min = $("#minresume").val();
            var max = $("#maxresume").val();
            if (min && max && parseInt(max) < parseInt(min)) {
                $("#minresume").val(max);
                $("#maxresume").val(min);
            }
        });
    });
    $(document).ready(function () {
        $("#job").submit(function (e) {
            var min = $("#minjob").val();
            var max = $("#maxjob").val();
            if (min && max && parseInt(max) < parseInt(min)) {
                $("#minjob").val(max);
                $("#maxjob").val(min);
            }
        });
    });

</script>
<!-- Category职位类别 -->
<div class="Category-eject">
    <ul class="Category-w" id="jobone">
    </ul>
    <ul class="Category-t" id="jobone_son">
    </ul>
    <ul class="Category-s" id="job_post">
    </ul>
</div>
<!-- End Category -->

<!-- grade 城市类别-->
<div class="grade-eject">
    <ul class="grade-w" id="provinceid">
        <li class="qc6" onclick="grade1(&#39;6&#39;,&#39;广东&#39;,&#39;provinceid&#39;,&#39;&#39;)">广东</li>
    </ul>
    <ul class="grade-t" id="cityid"></ul>
    <ul class="grade-s" id="three_cityid"></ul>
</div>
<!-- End grade -->

<!-- Substation 分站地区-->
<div class="Substation-eject Substation-height">
    <ul class="Substation-Substation" id="Substation-Substation">
        <li><a href="">全部</a></li>
    </ul>
</div>
<!-- End Substation -->

<!-- Sortexp 找人才工作经验-->
<div class="Sortexp-eject Sortexp-height">
    <ul class="Sortexp-Sortexp" id="Sortexp-Sortexp">
    </ul>
</div>
<!-- End Sortexp -->

<!-- gengduos 找人才更多-->
<div class="Gengduos-eject">
    <form action="" method="get" id="resume">
        <input type="hidden" name="c" value="part">
        <ul class="Gengduos-w" id="Gengduos">
            <li tab_name="Gengduohyt">
                <a href="javascript:void(0);">行业类别<em id="gdshy">&nbsp;&nbsp;</em></a>
            </li>
            <li tab_name="Gengduoedut">
                <a href="javascript:void(0);">学历要求<em id="gdsedu">&nbsp;&nbsp;</em></a>
            </li>
            <li tab_name="Gengduoreportt">
                <a href="javascript:void(0);">到岗时间<em id="gdsreport">&nbsp;&nbsp;</em></a>
            </li>
            <li tab_name="Gengduouptimet">
                <a href="javascript:void(0);">更新日期<em id="gdsuptime">&nbsp;&nbsp;</em></a>
            </li>
            <li tab_name="Gengduotagt">
                <a href="javascript:void(0);">个人标签<em id="gdstag">&nbsp;&nbsp;</em></a>
            </li>
            <li>薪资待遇：
                <span class="salary_text_box"> <input type="text" size="5" name="minsalary" id="minresume" placeholder="1999"
                        value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,&#39;&#39;)" class="salary_text"></span>
                <span> - </span>
                <span class="salary_text_box"> <input type="text" size="5" name="maxsalary" id="maxresume" placeholder="2999"
                        value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,&#39;&#39;)" class="salary_text"></span>
            </li>
            <li>
                <input type="hidden" name="hy" id="gdshyi" value="">
                <input type="hidden" name="edu" id="gdsedui" value="">
                <input type="hidden" name="report" id="gdsreporti" value="">
                <input type="hidden" name="uptime" id="gdsuptimei" value="">
                <input type="hidden" name="tag" id="gdstagi" value="">
                <div class="search_chlosebth_box"><input type="submit" value="确定" class="">
                    <a href="" class="search_chlosebth_box_qk">清空所有</a>
                </div>
            </li>
        </ul>
    </form>
    <ul class="Gengduos-t" id="Gengduohyt" style="display:block;">
    </ul>
    <ul class="Gengduos-t" id="Gengduoedut" style="display:none;">
    </ul>
    <ul class="Gengduos-t" id="Gengduoreportt" style="display:none;">
    </ul>
    <ul class="Gengduos-t" id="Gengduouptimet" style="display:none;">
    </ul>
    <ul class="Gengduos-t" id="Gengduotagt" style="display:none;">
    </ul>
</div>
<!-- End gengduos -->
<!-- Sort 找工作经验-->
<div class="Sort-eject Sort-height">
    <ul class="Sort-Sort" id="Sort-Sort"></ul>
</div>
<!-- End Sort -->
<!-- Gengduoj 找工作更多-->
<div class="Gengduoj-eject">
    <form action="" method="get" id="job">
        <input type="hidden" name="c" value="part">
        <ul class="Gengduoj-w" id="Gengduoj">
            <div class="job_list_chlose ">
                <span class="job_list_chlose_a"><a href=""><i class="job_list_chlose_c">所有职位</i></a></span>
                <span><a class="search_icon" href=""><i class="job_list_chlose_c">紧急职位</i></a></span>
                <span><a class="search_icon" href=""><i class="job_list_chlose_c">推荐职位</i></a></span>
                <input type="hidden" value="1" id="search">
            </div>
            <li tab_name="Gengduohy">
                <a href="javascript:void(0);">行业类别<em id="gdjhy">&nbsp;&nbsp;</em></a>
            </li>
            <li tab_name="Gengduopr">
                <a href="javascript:void(0);">公司性质<em id="gdjpr">&nbsp;&nbsp;</em></a>
            </li>
            <li tab_name="Gengduonum">
                <a href="javascript:void(0);">公司规模<em id="gdjnum">&nbsp;&nbsp;</em></a>
            </li>
            <li tab_name="Gengduoedu">
                <a href="javascript:void(0);">学历要求<em id="gdjedu">&nbsp;&nbsp;</em></a>
            </li>
            <li tab_name="Gengduouptime">
                <a href="javascript:void(0);">更新日期<em id="gdjuptime">&nbsp;&nbsp;</em></a>
            </li>
            <li>薪资待遇
                <span class="salary_text_box"><input type="text" size="5" name="minsalary" id="minjob" placeholder="1999" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,&#39;&#39;)" class="salary_text"></span>
                <span> - </span>
                <span class="salary_text_box"><input type="text" size="5" name="maxsalary" id="maxjob" placeholder="2999" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,&#39;&#39;)" class="salary_text"></span>
            </li>
            <li>
                <input type="hidden" name="hy" id="gdjhyi" value="">
                <input type="hidden" name="pr" id="gdjpri" value="">
                <input type="hidden" name="num" id="gdjnumi" value="">
                <input type="hidden" name="edu" id="gdjedui" value="">
                <input type="hidden" name="uptime" id="gdjuptimei" value="">
                <div class="search_chlosebth_box"><input type="submit" value="确定" class="">
                    <a href="" class="search_chlosebth_box_qk">清空所有</a>
                </div>
            </li>
        </ul>
    </form>
    <ul class="Gengduoj-t" id="Gengduohy" style="display:block;">
    </ul>
    <ul class="Gengduoj-t" id="Gengduopr" style="display:none;">
    </ul>
    <ul class="Gengduoj-t" id="Gengduonum" style="display:none;">
    </ul>
    <ul class="Gengduoj-t" id="Gengduoedu" style="display:none;">
    </ul>
    <ul class="Gengduoj-t" id="Gengduouptime" style="display:none;">
    </ul>
</div>
<!-- End Gengduoj -->

<!-- Sorthy 行业弹出框-->
<div class="Sorthy-eject Sorthy-height">
    <ul class="Sorthy-Sorthy" id="Sorthy-Sorthy">
    </ul>
</div>
<!-- End Sorthy -->

<!-- Sortpr 企业性质弹出框-->
<div class="Sortpr-eject Sortpr-height">
    <ul class="Sortpr-Sortpr" id="Sortpr-Sortpr">
    </ul>
</div>
<!-- End Sortpr -->

<!-- Sortmun 企业规模弹出框-->
<div class="Sortmun-eject Sortmun-height">
    <ul class="Sortmun-Sortmun" id="Sortmun-Sortmun">
    </ul>
</div>
<!-- End Sortmun -->

<!-- Sorttype 兼职类型弹出框-->
<div class="Sorttype-eject Sorttype-height">
    <ul class="Sorttype-Sorttype" id="Sorttype-Sorttype">
        <li>
            <a href="">传单派发</a>
        </li>
        <li>
            <a href="">促销导购</a>
        </li>
        <li>
            <a href="">话务客服</a>
        </li>
        <li>
            <a href="">礼仪模特</a>
        </li>
        <li>
            <a href="">老师家教</a>
        </li>
        <li>
            <a href="">服务员</a>
        </li>
        <li>
            <a href="">问卷调查</a>
        </li>
        <li>
            <a href="">审核录入</a>
        </li>
        <li>
            <a href="">地推拉访</a>
        </li>
        <li>
            <a href="">其他</a>
        </li>
    </ul>
</div>
<!-- End Sorttype -->
<!-- Sortcycle 结算周期弹出框-->
<div class="Sortcycle-eject Sortcycle-height">
    <ul class="Sortcycle-Sortcycle" id="Sortcycle-Sortcycle">
        <li>
            <a href="">日结</a>
        </li>
        <li>
            <a href="">周结</a>
        </li>
        <li>
            <a href="">月结</a>
        </li>
        <li>
            <a href="">完工结</a>
        </li>
    </ul>
</div>
<!-- End Sortcycle -->
<!-- wap商城商品类别 -->
<div class="redeem-eject">
    <ul class="redeem-w" id="nid">
    </ul>
    <ul class="redeem-t" id="tnid">
    </ul>
</div>
<!-- End redeem -->

<div id="hm_t_undefined" class="hm-t-container">
    <div class="hm-t-go-top" style="display: none;"></div>
</div>