---
layout: default
title: 邮箱注册
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_bg  bg3">
                    <a class="hd-lbtn mui-action-back" href="javascript:history.back();"><i class="header_top_l"></i></a>
                    <div class="header_h1">
                        <div class="header_p_z"> 个人注册</div>
                    </div>

                </div>
            </div>
        </div>
    </header>
</div>
<div class="yunwapreg_box">
    <a href="selectLogin.html" class="login_reg"><span class="login_reg_s1">其他类型</span></a>
    <section class="list">
        <article>
            <div class="regform">
            <ul class="regtab">
                    <li class="">
                        <a href="G_registration.html" style="display:block;">手机注册</a>
                    </li>
                    <li class="current">
                        <a href="G_registration_01.html" style="display:block;">邮箱注册</a>
                    </li>
                    <li class="">
                        <a href="G_registration_02.html" style="display:block;">用户名注册</a>
                    </li>
                </ul>
                <form method="post" action="" onsubmit="return checkRegUser(this);"
                    autocomplete="off">
                    <input name="regway" id="regway" type="hidden" value="3">
                    <input name="usertype" id="usertype" type="hidden" value="1">

                    <dl class="forminputitem">
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n3 "></i>
                                <input class="inputitemtxt" placeholder="请填写您的邮箱" name="email" id="email" type="text"
                                    onblur="check_email();">
                                <span class="reg_yes" style="display: none;" id="email_yes"></span>
                            </div>
                        </dd>
                        <dd>
                            <div class="c ico_pwd2 inputitem_w">
                                <i class="reg_icon_font login_icon_n2 "></i>
                                <input class="inputitemtxt" onfocus="this.type=&#39;password&#39;" placeholder="请填写密码，建议填写6-20位字母数字组合"
                                    name="password" id="password" type="text" onblur="check_password();">
                                <span class="reg_yes" style="display: none;" id="password_yes"></span>
                                <em class="viewpwd"></em></div>
                        </dd>

                        <dd>
                            <div class="c ico_pwd2 inputitem_w">
                                <i class="reg_icon_font login_icon_n2 "></i>
                                <input class="inputitemtxt" onfocus="this.type=&#39;password&#39;" placeholder="请确认填写的密码"
                                    name="passconfirm" id="passconfirm" type="text" onblur="check_passconfirm();">
                                <span class="reg_yes" style="display: none;" id="passconfirm_yes"></span>
                                <em class="viewpwd"></em></div>
                        </dd>
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_tpyz "></i>
                                <div class="reg_yzm_box">
                                    <input class="inputitemtxt" placeholder="请填写验证码，点图片换一换" name="checkcode" id="checkcode"
                                        type="text" maxlength="6" onblur="check_code()">
                                    <div class="rg_img">
                                        <img id="vcodeimg" class="authcode" src="./惠州职日猫招聘人才网-注册_files/authcode.inc.php"
                                            onclick="checkCode(&#39;vcodeimg&#39;);">

                                    </div>
                                </div>
                                <span class="reg_yes reg_yes_yz" style="display: none;" id="checkcode_yes"></span>
                            </div>
                        </dd>

                        <dd class="mt15">
                            <input type="hidden" id="send" value="0">
                            <input type="submit" name="submit" id="subreg" value="提交" class="inputSubmit">
                        </dd>
                        <dd>
                            <div class="photochk" style="width:100%; padding:10px 0;">
                                <input id="xieyi" type="checkbox" name="xieyi" value="1" class="inputChk" checked="checked">
                                <em style="width:100%">我已阅读并同意《<a href="javascript:void(0);" onclick="showservices()">惠州职日猫招聘人才网注册协议</a>》</em>
                            </div>
                        </dd>
                    </dl>

                    <input type="hidden" id="isRealnameCheck" value="0">
                </form>
            </div>
            <style>
                #popup-captcha-mobile {
                    margin-top: 15px;
                }
                
                #popup-captcha-mobile .geetest_radar_btn {
                    border: 1px solid #eee
                }
            </style>
        </article>
    </section>

    <!--注册协议弹出框-->
    <div style="width:100%;height:100%; background:rgba(51,51,51,0.5); position:fixed;left:0px;top:0px;z-index:100000000000;display:none"
        id="services">
        <div style="width:100%; position:absolute;left:0px;top:40px;">
            <div class="reg_xybox">
                <div class="reg_xybox_tit"><span class="reg_xybox_tit_s">注册协议</span>
                    <a href="javascript:void(0);" onclick="$(&#39;#services&#39;).hide();" class="reg_xybox_tit_a">关闭</a>
                </div>
                <div class="reg_xybox_p">
                    <p class="p" style="text-align:left;">
                        <span style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;text-indent:0.0000pt;text-align:center;background:#FFFFFF;"
                        align="center">
                        <b><span style="font-family:宋体;font-weight:bold;font-size:12.0000pt;background:#FFFFFF;">www.zhirimao.com</span></b><b><span
                                style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;background:#FFFFFF;">所提供的各项服务的所有权和经营权归职日猫科技<span>有限公司所有</span></span></b>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;text-indent:0.0000pt;text-align:center;background:#FFFFFF;"
                        align="center">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;background:#FFFFFF;"><span><br>
                                </span></span></b>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;text-indent:0.0000pt;background:#FFFFFF;">
                        <span style="font-family:Calibri;font-size:12.0000pt;background:#FFFFFF;">招聘单位、信息发布商（统称注册公司）和求职者，三方行为必须接受本协议条款的制约；若您不接受本协议的条款，请勿使用本网站，否则后果自负。该协议一经接受立即生效。</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;text-indent:0.0000pt;background:#FFFFFF;">
                        <span style="font-family:Calibri;font-size:12.0000pt;background:#FFFFFF;"><br>
                        </span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">1.<span>信息的发布</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">不得发布任何违反有关法律规定、社会道德的信息；
                            不得发布任何与本网站求职、招聘目的不相适的信息； 不得发布任何不完整、虚假的信息； 用户对所发布的信息的真实性、正确性及其产生的后果承担完全责任。</span><span style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">2.<span>信息的使用</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">招聘单位仅可就本单位招聘目的使用求职者的简历信息，禁止使用本网站进行中介代招；求职者仅可就应聘某职位，使用招聘单位发布的招聘信息；本网站提供的其它信息，仅与其相应内容有关的目的而被使用；</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">不得将任何本网站的信息用作任何商业目的。
                            任何用户不得通过打印、下载、拷贝或其他方式再造其他用户的可辨认的信息。未经特定用户同意的上述任何操作都被严格禁止。</span><span style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">3.<span>信息的公开</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">在本网站所登录的任何信息，均有可能被任何本网站的访问者浏览，也可能被错误使用。本网站对此将不予承担任何责任。</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">4.<span>信息的准确性</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">任何在本网站发布的信息，均必须符合合法、准确、及时、完整、真实的原则。但本网站将不能保证所有由第三方提供的信息，或本网站自行采集的信息完全准确。使
                            用者了解，对这些信息的使用，需要经过进一步核实。本网站对访问者未经自行核实误用本网站信息造成的任何损失不予承担任何责任。</span><span style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">5.<span>信息更改与删除</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">除了信息的发布者外，任何访问者不得更改或删除他人发布的任何信息。本网站有权根据其判断保留修改或删除任何不适信息之权利。</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">6.<span>版权、商标权</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">本
                            网站的图形、图像、文字、声音、相片及其程序，广告中的全部内容、电子邮件的全部内容等，均属</span><span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span
                            style="font-family:Calibri;font-size:12.0000pt;">的版权，受商标法及相关知识产权法律保护。 未经</span><span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span
                            style="font-family:Calibri;font-size:12.0000pt;">书面许可，任何人不得下载、复制、再使用。在本网发布信息之商标，归其相应的商标所有权人，受商标法保护。</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">7<span>、注册信息使用</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">注册会员所提供的个人资料将会被</span><span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span
                            style="font-family:Calibri;font-size:12.0000pt;">统计、汇总，在我们的严格管理下，为</span><span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span
                            style="font-family:Calibri;font-size:12.0000pt;">的广告商及合作者提供依据。 为了提供更完善的服务，</span><span
                            style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span style="font-family:Calibri;font-size:12.0000pt;">会不定期地通过注册会员留下的电子邮件同该会员保持联系。同时，我们会定期电子贺卡、资讯或电子杂志给注册会员。</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span style="font-family:Calibri;font-size:12.0000pt;">承诺：在未经访问者授权同意的情况下，</span><span
                            style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span style="font-family:Calibri;font-size:12.0000pt;">不会将访问者的个人资料泄露给第三方。但以下情况除外。</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;text-indent:21.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">1) <span>根据执法单位之要求或为公共之目的向相关单位提供个人资料；</span></span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;text-indent:21.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">2) <span>由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露；</span></span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;text-indent:21.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">3) <span>由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等；</span></span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;text-indent:21.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">4) <span>由于与</span></span><span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span
                            style="font-family:Calibri;font-size:12.0000pt;">链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果；</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;text-indent:21.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">5) <span>为免除访问者在生命、身体或财产方面之急迫危险。</span></span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">8.<span>自责</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">所有使用本网站的用户，对使用本网站信息和在本网站发布信息的被使用，承担完全责任。
                            用户必须同意独自承担由于登录</span><span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span
                            style="font-family:Calibri;font-size:12.0000pt;">或通过</span><span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span
                            style="font-family:Calibri;font-size:12.0000pt;">登录到其他站点而形成的全部风险。</span><span style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">所有用户独立承担与他人交流信息及发送应聘<span>/</span><span>招聘意向所造成的后果。本公司不担保用户发送给另一方用户的资料的真实性、精确性与可靠性。用户对所接受的资料的信任纯属个人风险。</span></span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span style="font-family:Calibri;font-size:12.0000pt;">一经发现任何有违反本协议或侵犯法律的行为，有权马上解除该用户的会员资格及禁止其再次登录本网站。
                        </span><span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span style="font-family:Calibri;font-size:12.0000pt;">保留删除一切非法的、辱骂性的及不健康的资料的权力。</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">9.<span>服务终止</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">本网站有权在预先通知或不予通知的情况下终止任何免费服务。</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">10.<span>争议处理</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">本网站因正常的系统维护、系统升级，或者因网络拥塞而导致网站不能访问，本网站不承担任何责任。</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">本协议服从中华人民共和国法律解释；用户与</span><span style="font-family:宋体;font-size:12.0000pt;">www.zhirimao.com</span><span
                            style="font-family:Calibri;font-size:12.0000pt;">双方都必须遵守中华人民共和国的司法管辖。如发生本协议相关条款与中华人民共和国法律相抵触时，则该条款将按相关法律重新解释，而其他条款则依旧保持对用户产生法律效力和影响。</span><span
                            style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="MsoNormal" style="margin-left:0.0000pt;text-align:left;">
                        <b><span style="font-family:Calibri;font-weight:bold;font-size:12.0000pt;">11.<span>免责条款</span></span></b><span
                            style="font-family:Calibri;font-size:12.0000pt;"> </span><span style="font-family:Calibri;font-size:10.5000pt;"></span>
                    </p>
                    <p class="p" style="margin-left:0.0000pt;">
                        <span style="font-family:Calibri;font-size:12.0000pt;">本网并无随时监视此网址，但保留对其实施实时监视的权利。对于他方输入的，不是本网发布的材料，本网概不负任何法律责任。应聘信息发布方必须对其存入简历中心的个人简历及材料的格式、内容的准确性和合法性独立承担一切法律责任。招聘信息的发布方对其在职位数据库公布的材料独立承担一切法律责任。
                            本网不保证对某一种职位描述会有一定数目的使用者来浏览，也不保证会有一位特定的使用者来浏览。对于其他网址链接在本网址的内容，本网概不负法律责任。</span><span style="font-family:Calibri;font-size:12.0000pt;"></span>
                    </p>
                    <p class="p">
                        <span style="font-family:Calibri;font-size:12.0000pt;"> </span>
                    </p>
                    <p class="p" style="text-align:left;">
                        <span style="font-family:Calibri;font-size:12.0000pt;"> </span>
                    </p>
                    <p class="MsoNormal">
                        <span style="font-family:Calibri;font-size:10.5000pt;"> </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bg" style="display:none; z-index:1000000"></div>
<div class="" style="padding:0px 10px; position:fixed;top:80px; z-index:10000001; display: none;" id="written_off">
    <div style="padding:10px;width:320px; background:#fff;">
        <div class="reg_have_tip">
            <i class="reg_have_tip_icon"></i>
            <div class="reg_have_tip_tit"><span id="zy_type">该手机号已被注册为企业账号</span></div>
            <div class="reg_have_tip_zc" id="zy_name"></div>
        </div>
        <div class="reg_have_tip_p">
            1.如果是你本人，但不记得密码，您可以找回密码
            <a href="forgetpw.html" class="reg_have_tip_bth">找回密码</a>
        </div>
        <div class="reg_have_tip_p">
            <span id="desc_toast">2. 解除手机号与该账号的绑定，解除绑定后，您无法 继续用该手机号登录</span>
            <a href="javascript:void(0);" onclick="CheckPW();" class="reg_have_tip_bth">解除绑定</a>
        </div>
        <div class="reg_have_tip_kf">如有疑问可拨打客服服务热线：18026630116</div>
        <input type="hidden" id="zy_uid" value="">
        <input type="hidden" id="zy_mobile" value="">
        <input type="hidden" id="zy_email" value="">
    </div>
</div>