<ul>
    <li class="m-1" style="width:auto!important">
        <div class="alert alert-warning p-2 mb-0" role="alert">
        <h1 class="alert-heading text-center">特别公告 
            <!-- <img src="static/images/new.png" alt="" style="width:30px;vertical-align: middle;padding-bottom: 5px;"/> -->
        </h1>
        <h2 class="mb-2">亲爱的游客朋友们：</h2>
        <p class="pb-2 text-justify">　　为回馈广大游客对欧美城的关注与喜爱，欧美城将于2019年3月23日-24日推出重磅的海洋馆门票特价优惠活动......</p>
        <hr class="mt-1 mb-1">
        <p class="mb-0 text-right">
        <small data-toggle="modal" data-target="#exampleModalScrollable">点击详情 >></small>
        </p></div>
    </li>
</ul> 