<script src="../static/js/jquery-2.2.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery-weui.js"></script>
<script src="../static/js/iconfont.js"></script>
<script src="../static/js/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
 </script>
 {% if page.layout == "pages/qy-leaveSornd" or page.layout == "pages/qy-checkInSornd" %}
<script>
    $("#checkin-time").calendar({
        value: ['2019-03-11'],
        dateFormat: 'yyyy年mm月dd日'
    });
</script>
{% endif %}
{% if page.layout == "pages/qy-leaveDail" %}
<script>
    $(document).on("click", "#show-prompt", function() {
        $.prompt({
            title: '反馈',
            onOK: function(text) {
                $.alert("您反馈内容是:"+text, "成功反馈");
            },
            onCancel: function() {
                $.toast('取消反馈!', 'cancel');
            },
                input: '输入反馈内容'
            });
        });
        $(document).on("click", "#show-prompt1", function() {
            $.prompt({
              title: "审核人",
              onOK: function(text) {
                $.alert("请假审核成功");
              },
              onCancel: function() {
                console.log("取消了");
              }
            });
         });
</script>
{% endif %}
{% if page.layout == "pages/qy-checkInDail" %}
<script>
 $("#in").select({
        title: "审核人",
        multi: true,
        min: 2,
        max: 3,
        items: [
          {
            title: "黄晓明",
            value: 1
          },
          {
            title: "蔡小鸣",
            value: 2
          },
          {
            title: "钟小米",
            value: 3
          },
          {
            title: "梁山博",
            value: 4
          }
        ],
        beforeClose: function(values, titles) {
          if(values.indexOf("4") !== -1) {
            $.toast("不能选择梁山博", "cancel");
            return false;
          }
          return true;
        },
        onChange: function(d) {
          console.log(this, d);
        },
        onClose: function (d) {
          console.log('close')
        }
      });
</script>
{% endif %}