<script src="../static/js/jquery-2.2.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery-weui.js"></script>
<script src="../static/js/iconfont.js"></script>
<script src="../static/js/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
 </script>
<script>
    $(document).on("click", "#show-prompt", function() {
        $.prompt({
            title: '反馈',
            onOK: function(text) {
                $.alert("您反馈内容是:"+text, "成功反馈");
            },
            onCancel: function() {
                $.toast('取消反馈!', 'cancel');
            },
                input: '输入反馈内容'
            });
        });
        
        $(document).on("click", "#show-prompt1", function() {
        $.prompt({
            title: '处理请假意见',
            onOK: function(text) {
                $.alert("您请假事由是:"+text, "成功请假");
            },
            onCancel: function() {
                $.toast('取消意见!', 'cancel');
            },
                input: '输入请假事由'
        });
    });
</script>