<script src="../static/js/jquery-2.2.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery-weui.js"></script>
<script src="../static/js/iconfont.js"></script>
<script src="../static/js/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
 </script>
<script>
    $(document).on("click", "#show-prompt", function() {
        $.prompt({
        title: '加急',
        onOK: function(text) {
            $.alert("您加急内容是:"+text, "加急成功");
        },
        onCancel: function() {
            $.toast('取消加急!', 'cancel');
        },
            input: '输入加急内容'
        });
        });
        
        $(document).on("click", "#show-prompt1", function() {
        $.prompt({
        title: '加急',
        onOK: function(text) {
            $.alert("您追记内容是:"+text, "追记成功");
        },
        onCancel: function() {
            $.toast('取消追记!', 'cancel');
        },
            input: '输入追记内容'
        });
    });
</script>