.szc_about{
    padding:20px 0;
    hr{
        margin-top: 20px; 
        margin-bottom: 20px; 
        border-top-color: rgb(228, 234, 236); 
        color: rgb(34, 34, 34);
    }
    p{
      width: 100%;
      margin-bottom: 16px;
      font-size: 16px;
      overflow: hidden;
      padding:0 10px;
    }
}