@charset"utf-8";

.slick-slider {
    position:relative;
    display:block;
    box-sizing:border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select:none;
    -ms-touch-action:pan-y;
    touch-action:pan-y;
    -webkit-tap-highlight-color:transparent
}
.slick-list {
    position:relative;
    display:block;
    overflow:hidden;
    margin:0;
    padding:0
}
.slick-list:focus {
    outline:none
}
.slick-list.dragging {
    cursor:pointer;
    cursor:hand
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -o-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0)
}
.slick-track {
    position:relative;
    top:0;
    left:0;
    display:block
}
.slick-track:before, .slick-track:after {
    display:table;
    content:''
}
.slick-track:after {
    clear:both
}
.slick-loading .slick-track {
    visibility:hidden
}
.slick-slide {
    float:left;
    height:100%;
    min-height:1px
}
.slick-slide:not(:first-child) {
    display:none
}
[dir='rtl'] .slick-slide {
    float:right
}
.slick-slide img {
    display:block
}
.slick-slide.slick-loading img {
    display:none
}
.slick-slide.dragging img {
    pointer-events:none
}
.slick-initialized .slick-slide {
    display:block
}
.slick-loading .slick-slide {
    visibility:hidden
}
.slick-vertical .slick-slide {
    display:block;
    height:auto;
    border:1px solid transparent
}
.slick-arrow.slick-hidden {
    display:none
}
.slick-loading .slick-list {
    background:#fff url('../public/ui/v2/static/plugin/slick/./ajax-loader.gif') center center no-repeat
}

.slick-prev, .slick-next {
    font-size:0;
    line-height:0;
    position:absolute;
    top:50%;
    display:block;
    width:20px;
    height:20px;
    padding:0;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    cursor:pointer;
    color:transparent;
    border:none;
    outline:none;
    background:transparent
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color:transparent;
    outline:none;
    background:transparent
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity:1
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity:.25
}
.slick-prev:before, .slick-next:before {
    font-family:'slick';
    font-size:20px;
    line-height:1;
    opacity:.75;
    color:white;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.slick-prev {
    left:-25px
}
[dir='rtl'] .slick-prev {
    right:-25px;
    left:auto
}
.slick-prev:before {
    content:'←'
}
[dir='rtl'] .slick-prev:before {
    content:'→'
}
.slick-next {
    right:-25px
}
[dir='rtl'] .slick-next {
    right:auto;
    left:-25px
}
.slick-next:before {
    content:'→'
}
[dir='rtl'] .slick-next:before {
    content:'←'
}
.slick-dots {
    position:absolute;
    bottom:-25px;
    display:block;
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
    text-align:center
}
.slick-dots li {
    position:relative;
    display:inline-block;
    width:20px;
    height:20px;
    margin:0 5px;
    padding:0;
    cursor:pointer
}
.slick-dots li button {
    font-size:0;
    line-height:0;
    display:block;
    width:20px;
    height:20px;
    padding:5px;
    cursor:pointer;
    color:transparent;
    border:0;
    outline:none;
    background:transparent
}
.slick-dots li button:hover, .slick-dots li button:focus {
    outline:none
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity:1
}
.slick-dots li button:before {
    font-family:'slick';
    font-size:6px;
    line-height:20px;
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    content:'•';
    text-align:center;
    opacity:.25;
    color:black;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.slick-dots li.slick-active button:before {
    opacity:.75;
    color:black
}
.webui-popover-content {
    display:none
}
.webui-popover-rtl {
    direction:rtl;
    text-align:right
}
.webui-popover {
    position:absolute;
    top:0;
    left:0;
    z-index:9999;
    display:none;
    min-width:50px;
    min-height:32px;
    padding:1px;
    text-align:left;
    white-space:normal;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ccc;
    border:1px solid rgba(0, 0, 0, .2);
    border-radius:6px;
    -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, .2);
    box-shadow:0 5px 10px rgba(0, 0, 0, .2)
}
.webui-popover.top, .webui-popover.top-left, .webui-popover.top-right {
    margin-top:-10px
}
.webui-popover.right, .webui-popover.right-top, .webui-popover.right-bottom {
    margin-left:10px
}
.webui-popover.bottom, .webui-popover.bottom-left, .webui-popover.bottom-right {
    margin-top:10px
}
.webui-popover.left, .webui-popover.left-top, .webui-popover.left-bottom {
    margin-left:-10px
}
.webui-popover.pop {
    -webkit-transform:scale(0.8);
    -o-transform:scale(0.8);
    transform:scale(0.8);
    -webkit-transition:transform .15s cubic-bezier(0.3, 0, 0, 1.5);
    -o-transition:transform .15s cubic-bezier(0.3, 0, 0, 1.5);
    transition:transform .15s cubic-bezier(0.3, 0, 0, 1.5);
    opacity:0;
    filter:alpha(opacity=0)
}
.webui-popover.pop-out {
    -webkit-transition-property:"opacity,transform";
    -o-transition-property:"opacity,transform";
    transition-property:"opacity,transform";
    -webkit-transition:.15s linear;
    -o-transition:.15s linear;
    transition:.15s linear;
    opacity:0;
    filter:alpha(opacity=0)
}
.webui-popover.fade, .webui-popover.fade-out {
    -webkit-transition:opacity .15s linear;
    -o-transition:opacity .15s linear;
    transition:opacity .15s linear;
    opacity:0;
    filter:alpha(opacity=0)
}
.webui-popover.out {
    opacity:0;
    filter:alpha(opacity=0)
}
.webui-popover.in {
    -webkit-transform:none;
    -o-transform:none;
    transform:none;
    opacity:1;
    filter:alpha(opacity=100)
}
.webui-popover .webui-popover-content {
    padding:9px 14px;
    overflow:auto;
    display:block
}
.webui-popover .webui-popover-content>div:first-child {
    width:99%
}
.webui-popover-inner .close {
    font-family:arial;
    margin:8px 10px 0 0;
    float:right;
    font-size:16px;
    font-weight:700;
    line-height:16px;
    color:#000;
    text-shadow:0 1px 0 #fff;
    opacity:.2;
    filter:alpha(opacity=20);
    text-decoration:none
}
.webui-popover-inner .close:hover, .webui-popover-inner .close:focus {
    opacity:.5;
    filter:alpha(opacity=50)
}
.webui-popover-inner .close:after {
    content:"\00D7";
    width:.8em;
    height:.8em;
    padding:4px;
    position:relative
}
.webui-popover-title {
    padding:8px 14px;
    margin:0;
    font-size:14px;
    font-weight:700;
    line-height:18px;
    background-color:#fff;
    border-bottom:1px solid #f2f2f2;
    border-radius:5px 5px 0 0
}
.webui-popover-content {
    padding:9px 14px;
    overflow:auto;
    display:none
}
.webui-popover-inverse {
    background-color:#333;
    color:#eee
}
.webui-popover-inverse .webui-popover-title {
    background:#333;
    border-bottom:1px solid #3b3b3b;
    color:#eee
}
.webui-no-padding .webui-popover-content {
    padding:0
}
.webui-no-padding .list-group-item {
    border-right:none;
    border-left:none
}
.webui-no-padding .list-group-item:first-child {
    border-top:0
}
.webui-no-padding .list-group-item:last-child {
    border-bottom:0
}
.webui-popover>.webui-arrow, .webui-popover>.webui-arrow:after {
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid
}
.webui-popover>.webui-arrow {
    border-width:11px
}
.webui-popover>.webui-arrow:after {
    border-width:10px;
    content:""
}
.webui-popover.top>.webui-arrow, .webui-popover.top-right>.webui-arrow, .webui-popover.top-left>.webui-arrow {
    bottom:-11px;
    left:50%;
    margin-left:-11px;
    border-top-color:#999;
    border-top-color:rgba(0, 0, 0, .25);
    border-bottom-width:0
}
.webui-popover.top>.webui-arrow:after, .webui-popover.top-right>.webui-arrow:after, .webui-popover.top-left>.webui-arrow:after {
    content:" ";
    bottom:1px;
    margin-left:-10px;
    border-top-color:#fff;
    border-bottom-width:0
}
.webui-popover.right>.webui-arrow, .webui-popover.right-top>.webui-arrow, .webui-popover.right-bottom>.webui-arrow {
    top:50%;
    left:-11px;
    margin-top:-11px;
    border-left-width:0;
    border-right-color:#999;
    border-right-color:rgba(0, 0, 0, .25)
}
.webui-popover.right>.webui-arrow:after, .webui-popover.right-top>.webui-arrow:after, .webui-popover.right-bottom>.webui-arrow:after {
    content:" ";
    left:1px;
    bottom:-10px;
    border-left-width:0;
    border-right-color:#fff
}
.webui-popover.bottom>.webui-arrow, .webui-popover.bottom-right>.webui-arrow, .webui-popover.bottom-left>.webui-arrow {
    top:-11px;
    left:50%;
    margin-left:-11px;
    border-bottom-color:#999;
    border-bottom-color:rgba(0, 0, 0, .25);
    border-top-width:0
}
.webui-popover.bottom>.webui-arrow:after, .webui-popover.bottom-right>.webui-arrow:after, .webui-popover.bottom-left>.webui-arrow:after {
    content:" ";
    top:1px;
    margin-left:-10px;
    border-bottom-color:#fff;
    border-top-width:0
}
.webui-popover.left>.webui-arrow, .webui-popover.left-top>.webui-arrow, .webui-popover.left-bottom>.webui-arrow {
    top:50%;
    right:-11px;
    margin-top:-11px;
    border-right-width:0;
    border-left-color:#999;
    border-left-color:rgba(0, 0, 0, .25)
}
.webui-popover.left>.webui-arrow:after, .webui-popover.left-top>.webui-arrow:after, .webui-popover.left-bottom>.webui-arrow:after {
    content:" ";
    right:1px;
    border-right-width:0;
    border-left-color:#fff;
    bottom:-10px
}
.webui-popover-inverse.top>.webui-arrow, .webui-popover-inverse.top-left>.webui-arrow, .webui-popover-inverse.top-right>.webui-arrow, .webui-popover-inverse.top>.webui-arrow:after, .webui-popover-inverse.top-left>.webui-arrow:after, .webui-popover-inverse.top-right>.webui-arrow:after {
    border-top-color:#333
}
.webui-popover-inverse.right>.webui-arrow, .webui-popover-inverse.right-top>.webui-arrow, .webui-popover-inverse.right-bottom>.webui-arrow, .webui-popover-inverse.right>.webui-arrow:after, .webui-popover-inverse.right-top>.webui-arrow:after, .webui-popover-inverse.right-bottom>.webui-arrow:after {
    border-right-color:#333
}
.webui-popover-inverse.bottom>.webui-arrow, .webui-popover-inverse.bottom-left>.webui-arrow, .webui-popover-inverse.bottom-right>.webui-arrow, .webui-popover-inverse.bottom>.webui-arrow:after, .webui-popover-inverse.bottom-left>.webui-arrow:after, .webui-popover-inverse.bottom-right>.webui-arrow:after {
    border-bottom-color:#333
}
.webui-popover-inverse.left>.webui-arrow, .webui-popover-inverse.left-top>.webui-arrow, .webui-popover-inverse.left-bottom>.webui-arrow, .webui-popover-inverse.left>.webui-arrow:after, .webui-popover-inverse.left-top>.webui-arrow:after, .webui-popover-inverse.left-bottom>.webui-arrow:after {
    border-left-color:#333
}
.webui-popover i.icon-refresh:before {
    content:""
}
.webui-popover i.icon-refresh {
    display:block;
    width:30px;
    height:30px;
    font-size:20px;
    top:50%;
    left:50%;
    position:absolute;
    margin-left:-15px;
    margin-right:-15px;
    background:url('../../../app/system/include/static2/vendor/webui-popover/../img/loading.gif') no-repeat
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform:rotate(360deg)
    }
}
@keyframes rotate {
    100% {
        transform:rotate(360deg)
    }
}
.webui-popover-backdrop {
    background-color:rgba(0, 0, 0, .65);
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:9998
}
.webui-popover .dropdown-menu {
    display:block;
    position:relative;
    top:0;
    border:none;
    box-shadow:none;
    float:none
}
.flag-icon-background {
    background-repeat:no-repeat;
    background-position:50%;
    -webkit-background-size:contain;
    background-size:contain
}
.flag-icon {
    position:relative;
    display:inline-block;
    width:1.33333333em;
    line-height:1em;
    background-repeat:no-repeat;
    background-position:50%;
    -webkit-background-size:contain;
    background-size:contain
}
.flag-icon:before {
    content:"\00a0"
}
.dropdown-menu .flag-icon {
    margin-right:5px
}

/* -------- star ---------------- */

ul, li {
    list-style:none;
    padding:0
}
.head_nav_met_11_5_1-header {
    background-color:#ffffff;
}
.head_nav_met_11_5_1-header .logo-box {
    height:60px;
    line-height:60px;
    float:left
}
.head_nav_met_11_5_1-header .logo-box img {
    height:60px;
    vertical-align:unset
}
.head_nav_met_11_5_1-header .search-index {
    display:inline-block
}
.head_nav_met_11_5_1-header .contact-index {
    display:inline-block;
    height:60px;
    line-height:60px;
    margin-right:60px;
    float:left
}
.head_nav_met_11_5_1-header .contact-index p {
    margin-left:15px
}
.head_nav_met_11_5_1-header .contact-index .tel {
    color:#333333;
    color:#999999
}
.head_nav_met_11_5_1-header .contact-index .mail {
    color:#666666;
    color:#999999
}
.head_nav_met_11_5_1-header .search-box {
    float:right
}
.head_nav_met_11_5_1-header .search-box .input-search-btn {
    width:60px;
    height:60px;
    top:11px;
    z-index:2
}
.head_nav_met_11_5_1-header .search-box .input-search-btn .icon {
    position:absolute;
    top:0;
    left:0;
    width:60px;
    height:38px;
    font-size:18px;
    line-height:38px;
    color:#333333;
    color:#cc3333;
    margin:0px
}
.head_nav_met_11_5_1-header .search-box .input-search {
    height:60px
}
.head_nav_met_11_5_1-header .search-box .input-search input {
    height:38px;
    width:200px;
    background-color:#eee;
    border:1px solid;
    border-color:#eee;
    padding-left:15px;
    transition:all 0.25s ease-out;
    position:relative;
    top:11px
}
.head_nav_met_11_5_1-header .search-box .input-search input:focus {
    width:240px;
    border-color:#cc3333;
    border-color:#cc3333;
    outline:0
}
.head_nav_met_11_5_1-header .m-search {
    display:none
}
body.met-navfixed {
    padding-top:120px
}
.navbar-shadow {
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.1)
}
.onlinebox {
    z-index:9999 !important
}
.head_nav_met_11_5_1 .row {
    position:relative
}
.navbar-shadow .met-nav-logo {
    opacity:1;
    visibility:visible;
    transform:scale(1);
    transition:all 200ms ease-out
}
.met-nav-logo {
    float:left;
    opacity:0;
    visibility:hidden;
    transform:scale(0.7)
}
.met-nav-logo img {
    height:60px
}




@keyframes slide-top10 {
    0% {
        opacity:0;
        -webkit-transform:translate3d(0, -10%, 0);
        transform:translate3d(0, -10%, 0)
    }
    100% {
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
}
.animation-slide-top10 {
    -webkit-animation-duration:.25s;
    -o-animation-duration:.25s;
    animation-duration:.25s
}
.hide {
    display:none
}





.link_met_11_1_9 {
    background-color:#ffffff;
}
.link_met_11_1_9 .breadcrumb-item {
    float:none;
    display:inline-block;
    padding:0 5px
}
.link_met_11_1_9 .breadcrumb-item.split {
    padding:0
}
.link_met_11_1_9 .breadcrumb-item a {
    color:#666666;
    transition:color 0.2s ease-out
}
.link_met_11_1_9 .breadcrumb-item a:hover {
    color:#cc3333;
}
.link_met_11_1_9 .breadcrumb-item+.breadcrumb-item::before {
    color:#666666;
}
.link_met_11_1_9 .breadcrumb-item:nth-child(1) {
    color:#333333;
    font-size:16px
}
.link_met_11_1_9 .container {
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
    border-bottom:1px solid #e7eaf1;
    border-top:1px solid #e7eaf1
}
.link_met_11_1_9 .breadcrumb-item+.breadcrumb-item::before {
    display:none
}
.link_met_11_1_9 .breadcrumb-item+.breadcrumb-item.split::before {
    display:inline-block
}
@media (max-width:767px) {
    .link_met_11_1_9 .container {
        text-align:left
    }
}


.foot_info_met_16_1_10 {
    background:#ffffff;
    color:#333333;
    padding:20px 0px
}
.foot_info_met_16_1_10 a {
    color:#333333;
}
.foot_info_met_16_1_10 a:hover {
    color:#cc3333
}
.foot_info_met_16_1_10 .btn-outline.btn-default {
    color:#333333;
}
.foot_info_met_16_1_10 .powered_by_metinfo a {
    color:#cc3333;
}
.foot_info_met_16_1_10.border-top1 {
    border-color:#f0f2f5
}
footer {
    line-height:1.8
}
footer p {
    margin-bottom:0px
}
footer .met-langlist {
    margin-top:10px
}
.foot_info_met_16_1_10 .met-langlist li {
    display:inline-block;
    list-style:none
}
.foot_info_met_16_1_10 .met-langlist .btn-lang .flag-icon {
    margin-right:3px
}
.foot_info_met_16_1_10 .met-langlist .dropdown-menu {
    min-width:0;
    width:100%;
    background-color:#ffffff;
    border-color:#ffffff
}
.foot_info_met_16_1_10 .met-langlist .dropdown-menu .dropdown-item {
    white-space:nowrap
}
@media (max-width:479px) {
    .foot_info_met_16_1_10 .met-langlist .btn-lang {
        padding-left:5px;
        padding-right:5px
    }
}
.foot_info_met_16_1_10_bottom {
    overflow:hidden;
    position:fixed;
    bottom:0;
    left:0;
    z-index:999;
    width:100%
}
.foot_info_met_16_1_10_bottom a.item {
    color:#ffffff;
    padding:5px 0;
    display:inline-block
}
.foot_info_met_16_1_10_bottom a.item i {
    font-size:16px;
    display:block
}
.foot_info_met_16_1_10_bottom a.item span {
    color:#ffffff
}
.foot_info_met_16_1_10_bottom {
    display:none
}
.foot_info_met_16_1_10_bottom.iskeshi {
    display:block
}
.foot_info_met_16_1_10_bottom .main {
    display:flex
}
.foot_info_met_16_1_10_bottom .main>div {
    flex:1
}
@media (max-width:767px) {
    .foot_info_met_16_1_10_bottom {
        display:block
    }
}
.back_top_met_16_1_11.met-scroll-top {
    position:fixed;
    right:10px;
    bottom:20px;
    z-index:1601
}
.back_top_met_16_1_11.met-scroll-top {
    border-color:#ffffff;
    background-color:#ffffff;
    border-color:#cc3333;
    background-color:#cc3333;
    color:#ffffff
}
.back_top_met_16_1_11.met-scroll-top:hover, .back_top_met_16_1_11.met-scroll-top:focus {
    border-color:#cc3333;
    background-color:#cc3333;
    color:#ffffff
}
.back_top_met_16_1_11.views {
    bottom:70px
}
@media (max-width:767px) {
    .back_top_met_16_1_11.met-scroll-top {
        bottom:70px
    }
}
.notice_list_met_11_1_4 {
    position:relative;
    opacity:0;
    transform:translateY(-100%);
    background-color:#ffffff;
    padding:10px 0
}
.notice_list_met_11_1_4 a {
    color:#666666;
    font-size:12px
}
.notice_list_met_11_1_4 .time {
    margin-left:15px
}
.notice_list_met_11_1_4 .notice {
    height:48px;
    line-height:48px;
    overflow:hidden;
    background-color:#ffffff;
    border-radius:2px;
    border:1px solid;
    border-color:#666666;
    border-color:#e7eaf1;
    box-shadow:0 1px 3px rgba(0, 37, 55, 0.05);
    padding:5px 0
}
.notice_list_met_11_1_4 .notice ul {
    list-style:none;
    padding:0 10px
}
.notice_list_met_11_1_4 .notice ul li {
    height:38px;
    line-height:38px
}
.notice_list_met_11_1_4 .notice .notice-title {
    color:#333333;
    float:left;
    padding-left:15px;
    font-size:15px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    line-height:38px
}
.notice_list_met_11_1_4 .notice .notice-more {
    font-size:18px;
    line-height:38px;
    padding:0 30px;
    color:#333333;
}
.notice_list_met_11_1_4 .notice .notice-swiper {
    float:left;
    height:38px;
    text-overflow:ellipsis;
    white-space:nowrap
}
@media (max-width:767px) {
    .notice_list_met_11_1_4 .notice .notice-title {
        width:30%;
        padding-left:5px
    }
    .notice_list_met_11_1_4 .notice .notice-swiper {
        width:60%
    }
    .notice_list_met_11_1_4 .notice ul {
        padding:0 5px
    }
    .notice_list_met_11_1_4 .notice .notice-more {
        padding:0 5px
    }
    .notice_list_met_11_1_4 .notice .notice-swiper a {
        width:100%;
        display:block;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap
    }
}
.news_list_met_11_5_5 {
    padding:10px 0;
    background-color:#ffffff;
}
.news_list_met_11_5_5 ul {
    padding:0px;
    list-style:none
}
.news_list_met_11_5_5 .left-news {
    overflow:hidden;
    padding:0;
    padding-right:22px
}
.news_list_met_11_5_5 .img-news {
    overflow:hidden;
    padding:0
}
.news_list_met_11_5_5 .img-news img {
    width:100%;
    object-fit:cover;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px
}
.news_list_met_11_5_5 .img-news h3 {
    margin:0;
    height:36px;
    font-size:15px;
    color:#fff;
    background:rgba(0, 0, 0, 0.4);
    padding-left:15px;
    line-height:36px;
    position:absolute;
    width:100%;
    bottom:0;
    padding-right:50px;
    border-bottom-left-radius:2px
}
.news_list_met_11_5_5 .img-news h3 span {
    display:inline-block;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.news_list_met_11_5_5 .img-news .slick-dots {
    bottom:40px;
    text-align:right;
    padding-right:15px
}
.news_list_met_11_5_5 .img-news .slick-dots li {
    margin-right:5px;
    margin-left:0;
    width:10px;
    height:10px
}
.news_list_met_11_5_5 .img-news .slick-dots li button {
    width:10px;
    height:10px;
    padding:0;
    background:#fff;
    border-radius:100%
}
.news_list_met_11_5_5 .img-news .slick-dots li.slick-active button {
    background:#cc3333;
}
.news_list_met_11_5_5 .img-news .slick-dots li button:before {
    display:none
}
.news_list_met_11_5_5 .text-news {
    overflow:hidden;
    background-color:#ffffff;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    border:1px solid;
    border-color:#666666;
    border-color:#e7eaf1;
    box-shadow:0 1px 3px rgba(0, 37, 55, 0.05);
    padding:0
}
.news_list_met_11_5_5 .text-news.right-news {
    border-top-left-radius:2px;
    border-bottom-left-radius:2px
}
.news_list_met_11_5_5 .text-news .head {
    border-bottom:1px solid;
    border-color:#666666;
    border-color:#e7eaf1;
    margin-bottom:8px;
    background-color:#ffffff;
}
.news_list_met_11_5_5 .text-news .head h2 {
    max-width:calc(100% - 115px);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:18px;
    color:#cc3333;
    font-weight:600;
    padding:15px;
    margin-bottom:0px;
    text-align:left;
    margin-top:0
}
.news_list_met_11_5_5 .text-news .head a {
    max-width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position:absolute;
    right:15px;
    top:15px;
    color:#666666;
    transition:color .5s ease-out
}
.news_list_met_11_5_5 .text-news .head a i {
    transition:transform .5s ease-out
}
.news_list_met_11_5_5 .text-news .head a:hover i {
    transform:translateX(5px)
}
.news_list_met_11_5_5 .text-list li {
    height:38px;
    overflow:hidden;
    line-height:38px;
    position:relative;
    padding:0 15px
}
.news_list_met_11_5_5 .text-list li a {
    height:100%;
    max-width:calc(100% - 60px);
    display:block
}
.news_list_met_11_5_5 .text-list li a span:first-child {
    display:block;
    max-width:100%;
    color:#333333;
    transition:color .5s ease-out;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.news_list_met_11_5_5 .text-list li a:hover span:first-child {
    color:#cc3333 !important;
    color:!important
}
.news_list_met_11_5_5 .text-list li .time {
    position:absolute;
    top:0;
    right:15px;
    color:#666666;
}
.news_list_met_11_5_5 .outpad {
    padding:0px
}
@media (max-width:991px) {
    .news_list_met_11_5_5 .left-news {
        padding:0;
        border-radius:2px
    }
    .news_list_met_11_5_5 .text-news {
        margin-bottom:11px;
        border-radius:2px
    }
    .news_list_met_11_5_5 .img-news img {
        border-radius:2px
    }
    .news_list_met_11_5_5 .img-news h3 {
        border-bottom-right-radius:2px
    }
    .news_list_met_11_5_5 .container {
        padding-right:.9375rem;
        padding-left:.9375rem
    }
}
.service_list_met_11_5_7 {
    padding:10px 0;
    background-color:#ffffff;
}
.service_list_met_11_5_7 ul {
    padding:0;
    list-style:none
}
.service_list_met_11_5_7 .btn-more {
    padding:5px 15px;
    border:1px solid;
    color:#fff;
    background:#cc3333;
    background:#cc3333;
    display:block;
    width:110px;
    text-align:center;
    -webkit-transition:all .5s ease-out;
    transition:all .5s ease-out;
    width:100px;
    border-radius:2px;
    border-color:#cc3333;
    border-color:#cc3333
}
.service_list_met_11_5_7 .btn-more:hover {
    opacity:.58;
    padding-left:15px;
    text-decoration:none
}
.service_list_met_11_5_7 .service-list {
    padding:0px;
    padding-right:22px
}
.service_list_met_11_5_7 .service-list.col-lg-12 {
    padding:0
}
.service_list_met_11_5_7 .service-list .nav-item {
    margin-bottom:0;
    text-align:left
}
.service_list_met_11_5_7 .service-list .nav-item:nth-child(1) a {
    border-top-left-radius:2px
}
.service_list_met_11_5_7 .service-list .nav-item:last-child a {
    border-bottom-left-radius:2px
}
.service_list_met_11_5_7 .service-list .nav-link {
    font-size:18px;
    border-radius:2px 0 0 2px;
    background-color:#ffffff;
    border-right-color:#666666 !important;
    border-right-color:#e7eaf1 !important;
    color:#333333;
}
.service_list_met_11_5_7 .service-list .nav-link.active {
    background:#cc3333;
    background:#cc3333;
    border-right-color:#cc3333 !important;
    border-right-color:#cc3333 !important;
    border-bottom-color:#cc3333 !important;
    border-bottom-color:#cc3333 !important;
    color:#fff
}
.service_list_met_11_5_7 .service-list .nav-tabs-div {
    height:300px;
    overflow:hidden;
    background-color:#ffffff;
    border:1px solid;
    border-color:#666666;
    border-color:#e7eaf1;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0, 37, 55, 0.05)
}
.service_list_met_11_5_7 .service-list .nav-tabs-div .nav-tabs {
    border-right:1px solid;
    border-color:#666666;
    border-color:#e7eaf1
}
.service_list_met_11_5_7 .service-list p {
    line-height:28px;
    padding:15px 20px;
    color:#666666;
    margin:0;
    text-align:left
}
.service_list_met_11_5_7 .service-list .column-3 {
    margin:0;
    text-align:left
}
.service_list_met_11_5_7 .service-list .column-3 li {
    text-align:left;
    position:relative
}
.service_list_met_11_5_7 .service-list .column-3 a {
    color:#333333;
    font-size:15px
}
.service_list_met_11_5_7 .service-list .column-3 a:before {
    position:absolute;
    content:'';
    height:14px;
    width:3px;
    background:#cc3333;
    left:0px;
    top:5px
}
.service_list_met_11_5_7 .single-list {
    height:300px;
    overflow:hidden;
    padding:0;
    overflow:hidden;
    background-color:#ffffff;
    border-radius:2px;
    border:1px solid;
    border-color:#666666;
    border-color:#e7eaf1;
    box-shadow:0 1px 3px rgba(0, 37, 55, 0.05);
    padding:0
}
.service_list_met_11_5_7 .single-list .content-list li {
    height:40px;
    overflow:hidden;
    line-height:38px;
    position:relative;
    padding:0 15px;
    text-align:left;
    display: flex;
    justify-content: space-between;
}
.service_list_met_11_5_7 .single-list li a {
    height:100%;
    max-width:270px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    /* display:block; */
    color:#333333;
    transition:color .5s ease-out
}
.service_list_met_11_5_7 .single-list li a:hover {
    color:#cc3333;
}
.service_list_met_11_5_7 .single-list li span {
    position:absolute;
    right:15px;
    color:#666666;
}
.service_list_met_11_5_7 .head {
    border-bottom:1px solid;
    border-color:#666666;
    border-color:#e7eaf1;
    background-color:#ffffff;
}
.service_list_met_11_5_7 .single-list h2 {
    max-width:calc(100% - 115px);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:18px;
    color:#cc3333;
    font-weight:600;
    padding:15px;
    text-align:left;
    margin:0
}
.service_list_met_11_5_7 .single-list .head a {
    max-width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position:absolute;
    right:15px;
    top:15px;
    color:#666666;
    transition:color .5s ease-out
}
.service_list_met_11_5_7 .single-list .head a i {
    transition:transform .5s ease-out
}
.service_list_met_11_5_7 .single-list .head a:hover i {
    transform:translateX(5px)
}
.service_list_met_11_5_7 .single-list .content p {
    margin:0
}
.service_list_met_11_5_7 .single-list .content img {
    width:100%;
    height:auto
}
.service_list_met_11_5_7 .video-js {
    margin:0;
    width:100% !important
}
.service_list_met_11_5_7 .vjs-poster {
    background-size:cover
}
.service_list_met_11_5_7 iframe {
    width:100% !important
}
@media (max-width:991px) {
    .service_list_met_11_5_7 .service-list {
        padding:0;
        padding-bottom:20px
    }
}
@media (max-width:768px) {
    .service_list_met_11_5_7 .service-list .nav-tabs-div, .service_list_met_11_5_7 .single-list {
        height:auto
    }
}
@media (max-width:767px) {
    .service_list_met_11_5_7 .service-list .nav-link {
        font-size:16px;
        padding:5px 15px
    }
    .service_list_met_11_5_7 .tab-detail {
        padding:10px
    }
    .service_list_met_11_5_7 .tab-detail img {
        margin-bottom:20px
    }
    .service_list_met_11_5_7 .service-list .nav-tabs-div, .service_list_met_11_5_7 .single-list {
        height:auto
    }
}
.team_list_met_11_4_41 {
    padding:0;
    position:relative;
    padding:70px 0
}
.team_list_met_11_4_41 .team-bg {
    width:100%;
    position:absolute;
    left:0;
    top:0;
    height:100%
}
.team_list_met_11_4_41 .team-bg img {
    width:100%;
    position:absolute;
    left:0;
    top:0;
    height:100%
}
@media (max-width:991px) {
    .team_list_met_11_4_41 .team-bg {
        padding:20px 0
    }
}
.team_list_met_11_4_41 .slick-dots {
    bottom:-45px
}
.team_list_met_11_4_41 .slick-dots li button:before {
    width:10px;
    height:10px;
    border:1px solid;
    border-color:#666666;
    border-radius:10px;
    color:transparent;
    -webkit-transition:all ease-out .3s;
    transition:all ease-out .3s;
    opacity:1
}
.team_list_met_11_4_41 .slick-dots .slick-active button:before {
    background-color:#666666;
    border:1px solid #666666;
    border:1px solid;
    -webkit-transition:all ease-out .3s;
    transition:all ease-out .3s
}
.team_list_met_11_4_41 .item>div {
    background:#fff;
    border:1px solid;
    border-color:#666666;
    border-color:#f2f2f2;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0, 37, 55, 0.05);
    height:px;
    overflow:hidden
}
.team_list_met_11_4_41 .item a {
    display:block;
    overflow:hidden
}
.team_list_met_11_4_41 .item a img {
    width:100%;
    border-top-left-radius:2px;
    border-top-right-radius:2px
}
.team_list_met_11_4_41 .item .content {
    padding:0px 15px 25px 15px
}
.team_list_met_11_4_41 .item .content .title {
    font-size:20px;
    color:#333333;
    font-weight:600;
    margin-top:15px
}
.team_list_met_11_4_41 .item .content .keywords {
    color:#666666;
    font-size:24px;
    line-height:24px;
    margin-top:15px;
    font-weight:normal;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    padding:0
}
.team_list_met_11_4_41 .item .content .desc {
    font-size:13px;
    overflow:hidden;
    color:#666666;
    margin-top:15px
}
.team_list_met_11_4_41 .more {
    color:#cc3333;
    font-size:14px
}
.team_list_met_11_4_41 .more:hover {
    text-decoration:underline
}
@media (max-width:767px) {
    .team_list_met_11_4_41 {
        padding:30px 0
    }
    .team_list_met_11_4_41 .team-bg {
        padding:0
    }
    .team_list_met_11_4_41 .slick-dots {
        bottom:-25px
    }
}

.notice{
    display: flex;
    align-items: center;
    border:1px solid #e7eaf1;
    padding:0 15px;
    margin-top: 10px;
}