.head_nav_met_11_5_1 {
    min-height:60px;
    margin-bottom:0;
    box-shadow:none;
    border-radius:0;
    background-color:#ffffff;
    z-index:1601
}
.head_nav_met_11_5_1 .met-head-user {
    margin-left:15px
}
.head_nav_met_11_5_1.navbar-shadow {
    -webkit-box-shadow:0 10px 30px -10px rgba(0, 0, 0, 0.2);
    box-shadow:0 10px 30px -10px rgba(0, 0, 0, 0.2);
    -webkit-animation-duration:.25s;
    animation-duration:.25s
}
.head_nav_met_11_5_1.navbar-fixed-top .navbar-right {
    margin-right:0
}
.head_nav_met_11_5_1 .nav-item .nav-link {
    color:#333333;
    overflow:visible;
    -webkit-transition:all .25s ease-out 0ms;
    transition:all .25s ease-out 0ms;
    font-size:16px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.head_nav_met_11_5_1 .nav-item .nav-link:hover {
    color:#fff;
    background:#cc3333;
    background:#cc3333
}
.head_nav_met_11_5_1 .navbar-collapse.flex-navlist {
    width:100%
}
.head_nav_met_11_5_1 .navlist.flex {
    width:100%;
    margin-right:0px !important
}
.head_nav_met_11_5_1 .navlist.flex .nav-item .nav-link {
    padding:0px !important
}
.head_nav_met_11_5_1 .navlist.flex .met-langlist {
    margin-left:0 !important
}
.head_nav_met_11_5_1 .navlist.flex .met-langlist .btn {
    padding:0
}
.head_nav_met_11_5_1 .navlist.flex .nav-item {
    text-align:center;
    flex:1 1 auto
}
.head_nav_met_11_5_1 .dropdown-item.active {
    color:#cc3333 !important;
    color:#cc3333 !important
}
#met-nav-collapse .dropdown.open>.nav-link, #met-nav-collapse .nav li .nav-link.active {
    color:#fff !important;
    background:#cc3333;
    background:#cc3333
}
.head_nav_met_11_5_1-header.navbar-shadow {
    height:60px
}
.head_nav_met_11_5_1-header.navbar-shadow .top-box {
    display:none
}
.head_nav_met_11_5_1 #met-head-user-collapse {
    line-height:60px;
    height:60px !important
}
.head_nav_met_11_5_1 #met-head-user-collapse .btn-primary {
    font-size:16px;
    color:#333333;
    background-color:transparent;
    border:0;
    padding:0 10px;
    -webkit-transition:all .256s cubic-bezier(.17, .84, .44, 1);
    transition:all .256s cubic-bezier(.17, .84, .44, 1);
    height:60px;
    line-height:60px;
    position:relative;
    top:-2px
}
.head_nav_met_11_5_1 #met-head-user-collapse .btn-primary:hover {
    color:#fff;
    background:#cc3333;
    background:#cc3333
}
.head_nav_met_11_5_1 #met-head-user-collapse .btn-success {
    font-size:16px;
    height:60px;
    position:relative;
    top:-2px;
    line-height:60px;
    color:#333333;
    background-color:transparent;
    border:0;
    padding:0 10px;
    -webkit-transition:all .256s cubic-bezier(.17, .84, .44, 1);
    transition:all .256s cubic-bezier(.17, .84, .44, 1)
}
.head_nav_met_11_5_1 #met-head-user-collapse .btn-success:hover {
    color:#fff;
    background:#cc3333;
    background:#cc3333
}
.head_nav_met_11_5_1 .dropdown-item {
    color:#666666;
    color:#cc3333
}
.head_nav_met_11_5_1 .dropdown-item:hover {
    color:#cc3333;
    color:#cc3333
}
.head_nav_met_11_5_1 .overflow-visible {
    overflow:visible !important
}
.head_nav_met_11_5_1 .navbar-toggle {
    height:60px;
    float:right
}
.head_nav_met_11_5_1 .head_nav_met_11_5_1-login {
    padding-top:15px;
    text-align:center
}
.head_nav_met_11_5_1 .dropdown-menu>li>a {
    overflow:hidden
}
.head_nav_met_11_5_1 .dropdown-menu>li>a:hover {
    background:#f2f2f2 none repeat scroll 0 0;
    text-indent:5px;
    -webkit-transition:all .256s cubic-bezier(.17, .84, .44, 1);
    transition:all .256s cubic-bezier(.17, .84, .44, 1)
}
.head_nav_met_11_5_1 .met-langlist {
    line-height:60px;
    position:relative;
    height:60px
}
.head_nav_met_11_5_1 .met-langlist a {
    line-height:21px
}
.head_nav_met_11_5_1 .met-langlist .btn {
    color:#333333;
    border:0;
    padding:0 15px;
    height:60px;
    position:relative;
    top:-2px;
    font-size:16px
}
.head_nav_met_11_5_1 .met-langlist .dropdown-menu {
    min-width:100%;
    top:34px
}
.head_nav_met_11_5_1 .met-langlist .open .btn {
    color:#fff;
    background:#cc3333;
    background:#cc3333
}
.head_nav_met_11_5_1 .met-langlist .btn:hover, .head_nav_met_11_5_1 .met-langlist .btn:focus, .head_nav_met_11_5_1 .met-langlist .btn:active {
    color:#fff;
    background:#cc3333;
    background:#cc3333
}
@media (min-width:768px) {
    .head_nav_met_11_5_1 .logo-two {
        display:none
    }
    .head_nav_met_11_5_1-header.navbar-shadow .head_nav_met_11_5_1 .logo-two {
        display:block
    }
    .head_nav_met_11_5_1 .nav>li>a {
        padding:0 15px !important;
        height:60px;
        line-height:60px !important;
        display:block;
        position:relative;
        -webkit-transition:all .25s ease-out 0ms;
        transition:all .25s ease-out 0ms
    }
    .head_nav_met_11_5_1 .dropdown-menu {
        top:44px;
        border:none;
        border-radius:0;
        border-top:3px solid;
        border-color:#cc3333;
        border-color:#cc3333;
        z-index:1603
    }
    .head_nav_met_11_5_1 .dropdown-menu .dropdown-submenu>a:after {
        display:none
    }
    .head_nav_met_11_5_1 .dropdown-menu .dropdown-submenu>a i {
        position:absolute;
        right:10px;
        font-size:12px
    }
    .head_nav_met_11_5_1 .dropdown-menu.bullet {
        top:60px
    }
    .head_nav_met_11_5_1 .head_nav_met_11_5_1-login {
        height:60px;
        padding-top:0;
        margin-left:10px
    }
}
@media (max-width:991px) {
    .head_nav_met_11_5_1 .dropdown-menu .dropdown-submenu>a:after {
        display:none
    }
    .head_nav_met_11_5_1 .dropdown-menu .dropdown-submenu>a>i {
        float:right
    }
    .head_nav_met_11_5_1 .met-logo img {
        max-height:50px
    }
    .head_nav_met_11_5_1 .nav>li>a>i {
        float:right
    }
    .head_nav_met_11_5_1 .nav-item .nav-link {
        font-size:14px
    }
    .head_nav_met_11_5_1-header p {
        height:60px;
        white-space:nowrap
    }
    .head_nav_met_11_5_1-header p span {
        display:inline-block;
        height:60px
    }
    .head_nav_met_11_5_1-header .search-box {
        float:right
    }
    .head_nav_met_11_5_1-header .contact-index {
        float:left;
        margin-right:30px;
        max-width:300px
    }
    .head_nav_met_11_5_1-header .logo-box {
        top:0px !important
    }
    .head_nav_met_11_5_1 .navbar-shadow .met-nav-logo {
        display:none!important
    }
    .navbar-shadow .met-nav-logo {
        display:block !important
    }
}
.head_nav_met_11_5_1 .mobile-show, .head_nav_met_11_5_1.navbar.navbar-default .logo-box {
    display:none
}
@media (max-width:767px) {
    .head_nav_met_11_5_1 .logo-two {
        display:none !important
    }
    .head_nav_met_11_5_1-header .top-box {
        display:none
    }
    .head_nav_met_11_5_1 .mobile-search {
        float:right
    }
    body.met-navfixed {
        padding-top:120px
    }
    .head_nav_met_11_5_1-header .row {
        padding:0 15px
    }
    .head_nav_met_11_5_1-header .logo-box {
        height:60px;
        line-height:60px;
        display:none
    }
    .head_nav_met_11_5_1-header .logo-box img {
        max-width:180px;
        max-height:50px
    }
    .head_nav_met_11_5_1-header .search-box {
        height:60px;
        line-height:60px
    }
    .head_nav_met_11_5_1-header .m-search {
        display:block
    }
    .head_nav_met_11_5_1-header .m-search i {
        font-size:18px;
        padding:8px;
        background:transparent;
        color:#333333;
        margin-top:13px
    }
    .head_nav_met_11_5_1-header .search-index {
        display:none
    }
    .head_nav_met_11_5_1-header .contact-index {
        display:none
    }
    .head_nav_met_11_5_1 .met-langlist {
        padding:0 15px
    }
    .head_nav_met_11_5_1 .nav>li {
        margin-left:0 !important
    }
    .head_nav_met_11_5_1 .dropdown-menu>li>.dropdown-menu>li>a {
        padding-left:40px
    }
    .head_nav_met_11_5_1 .dropdown-menu.bullet:before, .head_nav_met_11_5_1 .dropdown-menu.bullet:after {
        display:none
    }
    .head_nav_met_11_5_1 .navbar-collapse-toolbar.in {
        max-height:480px;
        overflow-y:scroll
    }
    .head_nav_met_11_5_1 .met-logo {
        float:none;
        max-width:180px
    }
    .head_nav_met_11_5_1 .navbar-collapse-toolbar {
        width:100%;
        padding:0 15px !important;
        border-color:#e4eaec
    }
    .head_nav_met_11_5_1 .nav>li>a {
        padding:10px 15px;
        line-height:25px
    }
    .head_nav_met_11_5_1 .nav li .link.active:after {
        height:1px;
        bottom:0;
        top:auto;
        left:15px
    }
    .head_nav_met_11_5_1 .nav>li>.link:after {
        height:1px;
        bottom:0;
        top:auto;
        left:15px
    }
    .head_nav_met_11_5_1 .nav>li>.link:hover:after {
        height:1px;
        bottom:0;
        top:auto;
        left:15px
    }
    .head_nav_met_11_5_1 .met-head-user {
        width:100%;
        margin:0
    }
    .head_nav_met_11_5_1 .navbar-toggler {
        color:#333333;
        padding:0;
        height:60px;
        margin:0;
        text-align:right;
        width:20px
    }
    .head_nav_met_11_5_1 .navbar-toggler .hamburger-bar {
        background:#333333;
    }
    .head_nav_met_11_5_1 .navbar-toggler:before {
        background:#333333;
    }
    .head_nav_met_11_5_1 .navbar-toggler:after {
        background:#333333;
    }
    .head_nav_met_11_5_1 .met-head-user-toggler {
        margin-right:15px !important
    }
    .head_nav_met_11_5_1 .nav-item .nav-link:before {
        top:0
    }
    .head_nav_met_11_5_1 .open .dropdown-menu {
        background:#fff;
        border-top:3px solid;
        border-color:#cc3333;
    }
    .head_nav_met_11_5_1 .dropdown-item .dropdown-menu {
        display:block
    }
    .met-nav-logo {
        left:15px;
        top:5px
    }
    .met-nav-logo img {
        max-width:180px;
        height:50px
    }
    .head_nav_met_11_5_1-header .search-box.mobile-hide, .head_nav_met_11_5_1-header .top-box.mobile-hide {
        display:none
    }
    .head_nav_met_11_5_1.navbar.navbar-default .logo-box.mobile-show {
        display:block
    }
}