html, body {
    font:14px/1.571429"Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Roboto, Arial, sans-serif;
    color:#76838f;
    margin:0;
    width:100%;
    max-width:100%;
    min-width:320px;
    min-height:100%
}
html {
    font-family:sans-serif;
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -ms-overflow-style:scrollbar;
    -webkit-tap-highlight-color:transparent
}
article, aside, details, figcaption, figure, footer, header, codemain, menu, nav, section, summary {
    display:block
}
audio, canvas, progress, video {
    display:inline-block
}
audio:not([controls]) {
    display:none;
    height:0
}
progress {
    vertical-align:baseline
}
b, strong {
    font-weight:bold
}
dfn {
    font-style:italic
}
mark {
    color:#000;
    background-color:#ff0
}
small {
    font-size:80%
}
sub, sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub {
    bottom:-.25em
}
sup {
    top:-.5em
}
svg:not(:root) {
    overflow:hidden
}
code, kbd, pre, samp {
    font-family:Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size:1em
}
code {
    font-size:90%;
    padding:.15rem .3rem;
    color:#5683ad;
    border-radius:.215rem;
    background-color:rgba(232, 241, 248, .1)
}
hr {
    overflow:visible;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0;
    margin:1rem 0;
    border:0;
    border-top:1px solid #e4eaec
}
optgroup {
    font-weight:700
}
button, input {
    overflow:visible
}
button, select {
    text-transform:none
}
[type=reset], [type=submit], button, html[type=button] {
    -webkit-appearance:button
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    padding:0;
    border-style:none
}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline:1px dotted ButtonText
}
legend {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    max-width:100%;
    padding:0;
    white-space:normal;
    color:inherit;
    font-size:1.5rem;
    line-height:inherit;
    display:block;
    width:100%;
    margin-bottom:.5rem
}
[type=checkbox], [type=radio] {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height:auto
}
[type=search] {
    outline-offset:-2px;
    -webkit-appearance:textfield
}
[type=search]:not(.met-cancel-button)::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration, input[type=search] {
    -webkit-appearance:none
}
::-webkit-input-placeholder {
    opacity:.54;
    color:inherit
}
::-webkit-file-upload-button {
    font:inherit;
    -webkit-appearance:button
}
@media print {
    *, ::after, ::before, ::first-letter, blockquote::first-line, div::first-line, li::first-line, p::first-line {
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
        text-shadow:none!important
    }
    a, a:visited {
        text-decoration:underline
    }
    abbr[title]::after {
        content:' ('attr(title)')'
    }
    pre {
        white-space:pre-wrap!important
    }
    blockquote, pre {
        border:1px solid #999;
        page-break-inside:avoid
    }
    thead {
        display:table-header-group
    }
    img, tr {
        page-break-inside:avoid
    }
    h2, h3, p {
        orphans:3;
        widows:3
    }
    h2, h3 {
        page-break-after:avoid
    }
    .navbar {
        display:none
    }
    .btn>.caret, .dropup>.btn>.caret {
        border-top-color:#000!important
    }
    .tag {
        border:1px solid #000
    }
    .table {
        border-collapse:collapse!important
    }
    .table td, .table th {
        background-color:#fff!important
    }
    .table-bordered td, .table-bordered th {
        border:1px solid #ddd!important
    }
}
*, ::after, ::before {
    -webkit-box-sizing:inherit;
    -moz-box-sizing:inherit;
    box-sizing:inherit
}
@-ms-viewport {
    width:device-width
}
[tabindex='-1']:focus {
    outline:0!important
}
p {
    margin-top:0;
    margin-bottom:1rem
}
abbr[data-original-title], abbr[title] {
    text-decoration:underline dotted;
    cursor:help;
    border-bottom:1px dotted #e4eaec
}
address {
    font-style:normal;
    line-height:inherit;
    margin-bottom:1rem
}
dl, ol, ul {
    margin-top:0;
    margin-bottom:1rem
}
ol ol, ol ul, ul ol, ul ul {
    margin-bottom:0
}
dt {
    font-weight:700
}
dd {
    margin-bottom:.5rem;
    margin-left:0
}
a {
    text-decoration:none;
    /* color:#62a8ea; */
    color:#666666;
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
a:active, a:hover {
    outline-width:0
}
a:focus, a:hover {
    text-decoration:underline;
    /* color:#89bceb */
    color:#dddddd;
}
a:focus {
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
a:not([href]):not([tabindex]) {
    text-decoration:none;
    color:inherit
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    text-decoration:none;
    color:inherit
}
a:not([href]):not([tabindex]):focus {
    outline:0
}
figure {
    margin:0 0 1rem
}
img {
    vertical-align:middle
}
[role=button] {
    cursor:pointer
}
[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action:manipulation;
    touch-action:manipulation
}
table {
    border-collapse:collapse;
    background-color:transparent
}
caption {
    padding-top:.572rem;
    padding-bottom:.572rem;
    caption-side:bottom;
    text-align:left;
    color:#a3afb7
}
th {
    text-align:left
}
label {
    display:inline-block;
    margin-bottom:.5rem
}
button:focus {
    outline:1px dotted;
    outline:5px auto -webkit-focus-ring-color
}
button, input, select, textarea {
    font:inherit;
    line-height:inherit;
    margin:0
}
input[type=checkbox]:disabled, input[type=radio]:disabled {
    cursor:not-allowed
}
input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
    -webkit-appearance:listbox
}
textarea {
    overflow:auto;
    resize:vertical
}
output {
    display:inline-block
}
[hidden] {
    display:none!important
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight:400;
    line-height:1.2;
    color:#37474f
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top:22px;
    margin-bottom:11px
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top:11px;
    margin-bottom:11px
}
.h1, h1 {
    font-size:2.572rem
}
.h2, h2 {
    font-size:2.143rem
}
.h3, h3 {
    font-size:1.715rem
}
.h4, h4 {
    font-size:1.286rem
}
.h5, h5 {
    font-size:1rem
}
.h6, h6 {
    font-size:.858rem
}
.lead {
    font-size:1.429rem;
    font-weight:300
}
.small, small {
    font-size:80%;
    font-weight:400
}
.mark, mark {
    padding:.23rem;
    background-color:#f2a654;
    color:#fff;
    border-radius:.143rem
}
.list-unstyled {
    padding-left:0;
    list-style:none
}
.list-inline {
    padding-left:0;
    list-style:none
}
.list-inline-item {
    display:inline-block
}
.list-inline-item:not(:last-child) {
    margin-right:5px
}
dl.row>dd+dt {
    clear:left
}
.carousel-inner>.carousel-item>a>img, .carousel-inner>.carousel-item>img, .img-fluid {
    display:block;
    max-width:100%;
    height:auto
}
.img-rounded {
    border-radius:.286rem
}
.img-thumbnail {
    display:inline-block;
    max-width:100%;
    height:auto;
    padding:.25rem;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    border:1px solid #ddd;
    border-radius:.25rem;
    background-color:#fff;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .075);
    box-shadow:0 1px 2px rgba(0, 0, 0, .075)
}
.img-circle {
    border-radius:50%
}
.figure {
    display:inline-block
}
.figure-img {
    line-height:1;
    margin-bottom:.5rem
}
.figure-caption {
    font-size:90%;
    color:#ccd5db
}
kbd {
    font-size:90%;
    padding:.15rem .3rem;
    color:#fff;
    border-radius:.143rem;
    background-color:#62a8ea;
    -webkit-box-shadow:inset 0 -.1rem 0 rgba(0, 0, 0, .25);
    box-shadow:inset 0 -.1rem 0 rgba(0, 0, 0, .25);
    border:1px solid #bcd8f1
}
kbd kbd {
    font-size:100%;
    font-weight:700;
    padding:0;
    -webkit-box-shadow:none;
    box-shadow:none
}
pre {
    font-size:90%;
    display:block;
    margin-top:0;
    margin-bottom:1rem;
    color:inherit;
    padding:10.5px;
    color:inherit;
    border:1px solid #ecf5fc;
    border-radius:.215rem;
    overflow:auto
}
pre code {
    font-size:inherit;
    padding:0;
    color:inherit;
    border-radius:0;
    background-color:transparent
}
.container {
    max-width:100%;
    margin-right:auto;
    margin-left:auto;
    padding-right:.9375rem;
    padding-left:.9375rem
}
.container::after {
    display:table;
    clear:both;
    content:''
}
@media (min-width:480px) {
    .container {
        width:606px
    }
}
@media (min-width:768px) {
    .container {
        width:750px
    }
    // .collapse{
    //     display: block!important;
    // }
}
@media (min-width:992px) {
    .container {
        width:970px
    }
    // .collapse{
    //     display: block!important;
    // }
}
@media (min-width:1200px) {
    .container {
        width:1170px
    }
    // .collapse{
    //     display: block!important;
    // }
}
@media (min-width:1600px) {
    .container {
        width:1310px
    }
    // .collapse{
    //     display: block!important;
    // }
}
.container-fluid {
    margin-right:auto;
    margin-left:auto;
    padding-right:.9375rem;
    padding-left:.9375rem
}
.container-fluid::after {
    display:table;
    clear:both;
    content:''
}
.row {
    margin-right:-.9375rem;
    margin-left:-.9375rem
}
.row::after {
    display:table;
    clear:both;
    content:''
}
@media (min-width:480px) {
    .row {
        margin-right:-.9375rem;
        margin-left:-.9375rem
    }
}
@media (min-width:768px) {
    .row {
        margin-right:-.9375rem;
        margin-left:-.9375rem
    }
}
@media (min-width:992px) {
    .row {
        margin-right:-.9375rem;
        margin-left:-.9375rem
    }
}
@media (min-width:1200px) {
    .row {
        margin-right:-.9375rem;
        margin-left:-.9375rem
    }
}
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xxl, .col-xxl-1, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9 {
    position:relative;
    min-height:1px;
    padding-right:.9375rem;
    padding-left:.9375rem
}
@media (min-width:480px) {
    .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xxl, .col-xxl-1, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9 {
        padding-right:.9375rem;
        padding-left:.9375rem
    }
}
@media (min-width:768px) {
    .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xxl, .col-xxl-1, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9 {
        padding-right:.9375rem;
        padding-left:.9375rem
    }
}
@media (min-width:992px) {
    .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xxl, .col-xxl-1, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9 {
        padding-right:.9375rem;
        padding-left:.9375rem
    }
}
@media (min-width:1200px) {
    .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xxl, .col-xxl-1, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9 {
        padding-right:.9375rem;
        padding-left:.9375rem
    }
}
.card-header h2{
    font-size:14px!important;
    color:#000000!important;
    padding: 10px!important;
}
.card-body{
    padding: 10px;
    overflow: scroll;
    height: 200px;
}
.card-body p{
    margin-bottom:0!important;
}