.mineWalletset{
     margin-top: 54px;

     //编辑地址的名称栏
     .col-form-label{
        width:60%;
        padding:0;
        line-height:18px;
     }
     .form-group{
         display: flex;
         align-items: center;
         border:0;
         margin-bottom: 0;
         padding:5px 0;
         .rightIcon{
           display:flex;
           align-items: center;
           justify-content:center;
         }
         .form-control{
             border: 0;
         }
     }
}