.mineWallet{
    margin-top:51px;
    font-size: 85%;
    background:#f8f8f8;

    //时间tab
    .mineWallet_date{
       background-color: #F05C3A;
       li{
          a{
            color: #fff;
            margin:5px;
            font-size:15px;
            &.nav-link {
              border-radius:20px;
              &.active{
                background-color: #fff;
                color: #F05C3A;
              }
            } 
          }
       }
    }

    //钱包余额
    .walletbag{
       padding:20px 15px;
       margin-bottom:0;
       position: relative;
       li{
        list-style-type:none;
        text-align: center;
        .wa_set{
          position: absolute;
          top:15px;
          right:15px;
        }
        &.wa_total_ba{
            font-size:15px;
            color: #999;
        }
        &.wa_total{
            em{
              font-size:20px;
              color:#F05C3A;
              font-style: normal;
            }
            i{
              color: #999;
              vertical-align: middle;
            }
        }
        &.wa_total_inex{
            small{
              font-size:12px;
              color:#999;
              em{
                color: #F05C3A;
                padding:0 2px;
                font-style: normal;
              }
            }
         }
       }
    }
    // 收入支出tab
    .tab-shouru-zhichu{
         background:#fff;
         border-bottom:1px solid #eee;

         //钱包
         .nav-pills{
           background: #fff;
           .nav-item{
              border:0;
              a{
                color: #999;
                text-decoration: none;
                margin:0;
                &.nav-link{
                  padding:0;
                  height:40px;
                  line-height:40px;
                  border-radius:0;
                  &.active{
                    background-color:transparent;
                    color: #F05C3A;
                    border-bottom:1px solid #F05C3A;
                  }
                }
              }
            }
         }
    }

    //收入支出明细
    .prolistContent{
        overflow: hidden;
        .pic{
          text-align: center;
          img{
              width:30px;
              height:30px;
          }
        }
        .con{
          h2{
            font-size:14px;
            margin-bottom:0;
          }
          small{
            opacity: .6;
            font-size:12px;
          }
        }
        .pri{
          color:#999;
          em{
            font-style:normal;
            color: #F05C3A;
            font-size:15px;
          }
        }
    }
    //时间余额
    .h-banner {
      position: relative;
      z-index: 1;
    }

}
