.mineAddress{
    margin-top: 51px;
    margin-bottom:44px;
    font-size:85%;

     .item{
        border-bottom: 10px solid #f8f9fa;
        a{
            color:#212529;
        }
        p{
           margin-bottom:0;
        }
        i{
            color:#ddd;
        }
     }

     .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #F05C3A;
     }

     .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #F05C3A;
     }

     .custom-control-label::before{
        background-color: #eee;
     }
    
    

}