.mineOrder{
    margin-top:54px;
    margin-bottom: 54px;
    font-size:85%;
    .box-shadow {
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    }
    .nav-scroller {
        top:51px;
    }
    .mo-con{
         margin-top:92px;
        .tab-pane{
            //订单核心内容
             .allOrders{
                background-color:#fff;
                position: relative;
                border-bottom: 10px solid #f8f9fa;
                span{
                   &.userName{
                      font-size:85%;
                   }
                }
                &:last{
                    border-bottom:0;
                }
                img{
                  &.userImg{
                      width:30px;
                      height:30px;
                  }
                }
                .columnTitle{
                    display: flex;
                    align-items: center;
                    color:#c30;
                    .clickOn{
                        color:#ef3239;
                    }
                    a{
                       text-decoration: none;
                       &.xiangqing{
                           color:#999;
                       }
                    }
                    i{
                      color: #999;
                    }
                }
                .cyprice{
                   em{
                      color: #f60;
                      padding:0 5px;
                      font-style: normal;
                   }
                }
                .single-news{
                   padding:10px 0px!important;
                   .pr_pic{
                      width:5rem;
                      height:5rem;
                   }
                   .single-news-channel{
                     a{
                       color:#fff;
                     }
                     .btn-floating{
                         width: 2rem;
                         height: 2rem;
                         line-height: 2rem;
                         text-overflow: ellipsis;
                         overflow: hidden;
                         white-space: nowrap;
                     }
                   }
                }
                //订单产品展示
                .item1{
                    .proCon{
                        h2{
                        font-size:12px;
                        }
                        p{
                        margin-bottom:0;
                        span{
                            color: #999;
                        }
                        &.price{
                            em{
                            font-size:18px;
                            font-style: normal;
                            }
                        }
                        }
                    }
                    .guige{
                        span{
                            color:#999;
                        }
                    }
                    p{
                        margin-bottom:0;
                    }
                    small{
                        color:#999;
                    }
                }
             }
        }
        //订单收货地址
        .jsAddr{
            position: relative;
            i{
              color: #666;
            }
            .address_border{
                padding-bottom: 5px;
                background: #fff url(../img/addressBorder.png);
                background-size: 64px 7px;
            }
       }
    }

   //订单搜索
   .modal-dialog{
       margin: 0;
       .modal-content{
         position: absolute;
         top:0;
         border-radius:0;
         border:0;
         .input-group-text{
            background-color:#fff;
            padding:0;
            width:40px;
            border-right:0;
            i{
              font-size:24px;
              margin:0 auto;
              color:#ddd;
            }
         }
         .form-control{
            border-left:0;
            padding:10px;
         }
       }
    }
}

/*订单右下角背景图*/
@mixin coupontwo {
    margin-left:0;
    margin-bottom:0;
    z-index:3;
    position: absolute;
    opacity: .8;
}

@mixin bgSizePosition{
    background-size: 100% 100%;
    background-position:0 -10px;
}

.coupontwo1 {
    @include coupontwo;
    top:0;
    right:20px;
}

.coupontwo2 {
    @include coupontwo;
    top:0;
    right:0;
}

/*订单状态 图*/
.coupbg{
   width:60px;
   height:60px; 
}
.qx{
    background: url(../img/cart_icon_qx@2x.png) bottom no-repeat;
    @include bgSizePosition;
}
.cs{
    background: url(../img/cart_icon_cs@2x.png) bottom no-repeat;
    @include bgSizePosition;
}
.cd {
    background: url(../img/cart_icon_cd@2x.png) bottom no-repeat;
    @include bgSizePosition;
}
.zs {
    background: url(../img/cart_icon_zs@2x.png) bottom no-repeat;
    @include bgSizePosition;
}
.hh{
    background: url(../img/cart_icon_hh@2x.png) bottom no-repeat;
    @include bgSizePosition;
}
.th {
   background: url(../img/cart_icon_th@2x.png) bottom no-repeat;
   @include bgSizePosition;
 }
.sxzf {
   background: url(../img/cart_icon_sxzf@2x.png) bottom no-repeat;
   @include bgSizePosition;
}
.ky {
   background: url(../img/cart_icon_ky@2x.png) bottom no-repeat;
   @include bgSizePosition;
}
.zhifu{
    background: url(../img/cart_icon_zhifu@2x.png) bottom no-repeat;
    @include bgSizePosition;
}
.wancheng{
    background: url(../img/cart_icon_wancheng@2x.png) bottom no-repeat;
    @include bgSizePosition;
}
.daizhifu{
    background: url(../img/cart_icon_daizhifu@2x.png) bottom no-repeat;
    @include bgSizePosition;
}

/*地址上下线条*/
.zebra {
    height: 2px;
    background-repeat: repeat-x;
    background-size: 60px 10px;
    background-image: linear-gradient(45deg, #FCD0C9 20%, #fff 20%, #fff 35%, #C7E6F7 35%, #C7E6F7 65%, #fff 65%, #fff 80%, #FCD0C9 80%);
}