.mineMgRep{
     margin-top:51px;
     font-size:85%;
     
    .marketCenter{
        background-color: #fff;
        margin-bottom:10px;
        em{
            font-style:normal;
            font-size:20px;
            color: #F05C3A;
        }
        .num{
          em{
            color:#F05C3A
          }
        }
        .mc_re_kan{
            opacity: .7;
            em{
             font-size:24px;
            }
        }
        .mc_ex_gain{
            border-bottom:1px solid #dee2e6;
            span{
                text-align: left;
            }
        }
        .mc_re_time{
            .demoDate{
                color: initial;
                width:60%;
                margin:0 auto;
                border: 0;
                font-family: arial, verdana, sans-serif;
                font-size: 14px;
                border:1px solid #dee2e6;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius:10px;
                span{
                    padding:5px;
                    border-right:1px solid #dee2e6;
                    box-sizing: border-box;
                    width: 70%;
                    float: left;
                }
                i{
                    margin:8px 15px;
                    color: #666;
                }
            }
        }
        a{
          color: #666;
          text-decoration: none;
          &.mc_total_per{
              border-right:1px solid #eee;
          }
        }

        .weekly{
            width:56%;
            margin:0 auto;
            border-radius:30px;
            justify-content: center;
            align-items: center;
            span{
                font-size:14px;
                padding:4px 0 0 0;
                display: block;
            }
            strong{
                font-weight: normal;
                font-size:12px;
                display: block;
                margin-bottom:5px;
            }
            .col-9{
               border-right:1px solid #dee2e6
            }
            i{
              color:#666;
            }
        }
    }
}