.mine{
    margin-bottom:54px;
    background-color: #f7f7f7;
    font-size:85%;
    height:100%;
     
     //个人资料 
    .taoxiang{
       background-color: #F05C3A;
       position: relative;
       a{
        text-decoration: none;
        color: rgba(76,0,0,.7);
        &.NumSet{
            position: absolute;
            top:10px;
            right:15px;
            font-size:12px;
        }
       }
       .name{
         h6{
             font-size:14px;
         }
         small{
             font-weight: normal;
             padding:7px 10px;
         }
       }
    }
    //商品订单
    .OrderRecord{
        background-color: #fff;
        a{
           text-decoration: none;
           color:#666;
          &.col{
             padding:0;
             i{
                color:#666;
             }
             p{
                font-size:12px;
                margin-bottom:0;
             }
          }
          &:last-child{
              border-left:1px solid #eee;
          }
          .OrderRecord_num{
              position: relative;
              width:2rem;
              margin:0 auto;
              span{
                font-size:0.6rem;
                display: block;
                position:absolute;
                top: -5px;
                right:-5px;
                padding: .4em;
                width: 1.1rem;
                height: 1.1rem;
             }
          }
        }
    }
    //积分|优惠券|钱包
    .qianBao{
        background-color: #fff;
        margin-bottom:10px;
        a{
            position: relative;
            &.col{
                padding:0;
                font-size:12px;
                text-decoration: none;
                color:#666;
                p{
                    font-size:12px;
                    margin-bottom:0;
                    .num{
                      font-size:15px;
                      color: #000;
                      em{
                        font-style:normal;
                        color:#e64340;
                      }
                    }
                    i{
                        position: absolute;
                        top:-20%;
                        right:20%;
                    }
                }
            }
            &:last-child{
                border-left:1px solid #eee;
            }
         }
    }
    //营销中心
    .marketCenter{
        background-color: #fff;
        margin-bottom:10px;
        em{
            font-style:normal;
            font-size:18pt;
        }
        .num{
          em{
            color:#F05C3A
          }
        }
        .mc_re_kan{
            opacity: .7;
            em{
             font-size:24px;
            }
        }
        .mc_ex_gain{
            border-bottom:1px solid #dee2e6;
            span{
                text-align: left;
            }
        }
        a{
          color: #666;
          text-decoration: none;
          span{
            position: relative;
            i{
                position: absolute;
                right: -10px;
                top: -7px;
              }
          }
          &.mc_total_per{
              border-right:1px solid #dee2e6;
          }
        }
    }
    //资料功能
    .message{
        background-color: #fff;
        margin-bottom:10px;
         a{
            padding:0;
            font-size:12px;
            text-decoration: none;
            color:#666;
            p{
              position: relative;
              i{
                color:#666;
                position: absolute;
                top: -15%;
                right: 0;
              }
            }
            .num{
              font-size:20px;
            }
            .mIcon{
                width:35px;
                height:35px;
                line-height:35px;
                margin:0 auto;
                background: #eee;
                border-radius: 10px;
            }
            em{
              font-style: normal;
              font-size:11pt;
            }
        }
    }

}