.mineOrderDetail{
    margin-top: 54px;
    margin-bottom:54px;
    font-size:85%;

    //订单收货地址
    .jsAddr{
        position: relative;
        i{
            color: #666;
        }
        .address_border{
            padding-bottom: 5px;
            background: #fff url(../img/addressBorder.png);
            background-size: 64px 7px;
        }
    }
  
    //订单核心内容
    .allOrders{
        background-color:#fff;
        position: relative;
        border-bottom: 10px solid #f8f9fa;
        .columnTitle{
            display: flex;
            align-items: center;
            color:#666;
            .clickOn{
                color:#ef3239;
            }
            a{
               text-decoration: none;
               &.xiangqing{
                   color:#999;
               }
            }
            i{
              color: #999;
            }
        }
        .cyprice{
           em{
              color: #f60;
              padding:0 5px;
              font-style: normal;
           }
        }
        .single-news{
           padding:10px 0px!important;
           .pr_pic{
              width:5rem;
              height:5rem;
           }
           .single-news-channel{
             a{
               color:#fff;
             }
             .btn-floating{
                 width: 2rem;
                 height: 2rem;
                 line-height: 2rem;
                 text-overflow: ellipsis;
                 overflow: hidden;
                 white-space: nowrap;
             }
           }
        }
        //订单产品展示
        .item1{
             border-bottom:1px solid #dee2e6;
             &:last-child{
                 border-bottom:0;
             }
            .proCon{
                h2{
                   font-size:85%;
                }
                p{
                margin-bottom:0;
                span{
                    color: #999;
                }
                &.price{
                    em{
                    font-size:14px;
                    font-style: normal;
                    }
                }
                }
            }
            .guige{
                span{
                    color:#999;
                }
            }
            p{
             margin-bottom:0;
            }
            small{
              color:#999;
            }
        }
     }

     .coupontwo1 {
        margin-left:0;
        margin-bottom:0;
        position: absolute;
        opacity: .8;
        top:0;
        right:20px;
        z-index:3;
     }
}