.mineTeaFriends{
      margin-top: 51px;
      font-size:85%; 

     .prolistContent{
        overflow: hidden;
        .pic{
            width:25%;
            float: left;
            img{
                width:50px;
                height:50px;
                border-radius:30px;
            }
        }
        .con{
            width:75%;
            float: left;
            h2{
              font-size:16px;
              margin-bottom:0;
              color: #666;
            }
            .flag{
               font-size:12px;
               span{
                 display: block;
                 color: #999;
               }
            }
        }
     }
}

