.proListTer{
    margin-top:51px;
    margin-bottom:50px;
    background-color:#f8f9fa;
    font-size:85%;

    .ViewMore{
        a{
          color:#999999;
        }
    }
}



// 顶部切换条
.proListTab{
    position: relative;
}


.proTitPri{
    position: relative;
    background-color: #fff;
    a{
        font-size: 12px;
    }
    h6{
        font-size:16px;
        line-height: 23px;
    }
    .btn{
        position: absolute;
        right:10px;
        bottom:7px;
    }
    .price{
        font-size:20px;
        em{
           font-style: normal;
        }
    }
    small{
        color: #999999;
        font-size:15px;
        em{
           font-style: normal;
        }
    }
}
 
// 支付方式
.playWay{
    background-color: #fff;
    position: relative;
    small{
        color: #ccc;
    }
    .more{
        position: absolute;
        right:0;
        top:0;
        i{
          color:#ccc;
        }
    }
}

// 优惠方式
.favorable{
    background-color: #fff;
    position: relative;
    small{
        color: #ccc;
    }
    ul{
      margin-bottom:0;
      li{
          font-size:14px;
      }
    }
    .more{
        position: absolute;
        right:0;
        top:0;
        i{
          color:#ccc;
        }
    }
}


// 规格及数量
.specification{
    margin-top:10px;
    background-color: #fff;
    position: relative;
    small{
        color: #ccc;
    }
    ul{
      margin-bottom:0;
      li{
          font-size:14px;
      }
    }
    .more{
        position: absolute;
        right:0;
        top:0;
        i{
          color:#ccc;
        }
    }
}

// 选择发货地址
.deliveryAddress{
    margin-top:10px;
    background-color: #fff;
    position: relative;
    small{
        color: #ccc;
    }
    ul{
      margin-bottom:0;
      li{
          font-size:14px;
      }
    }
    .more{
        position: absolute;
        right:0;
        top:0;
        i{
          color:#ccc;
        }
    }
    .card-footer{
        overflow: hidden;
        background-color: rgba(248, 248, 248, 1);
        span{
            font-size:12px;
            margin-right: 5px;
            display: inline;
        }
    }
}

//优惠套装
 .youHuiTaoZhuang{
    margin-top:10px;
    background-color: #fff;
    position: relative;
    color:#999999;
    .title{
        overflow: hidden;
        padding:0 8px;
        height:40px;
        line-height:40px;
        .float-left{
            .iconTitle{
                 font-size:16px;
                 color: #ef3239;
            }
            .badge{
                font-weight: normal;
            }
            i{
                margin-right:5px;
                margin-top:2px;
                color: #ef3239;
                vertical-align: middle;
            }
            span{
                vertical-align: middle;
            }
        }
        .float-right{
            span{
                color: #ef3239;
                font-size:12px;
            }
            i{
                margin-left:2px;
                color: #ef3239;
                vertical-align: middle;
            }
        }
        .Tishi{
           a{
               font-size:12px;
               text-decoration: none;
           }
        }
    }
    .con{
        overflow: hidden;
        height:auto;
        padding-bottom:5px;
        .col{
        padding:0;
        img{
            margin:0 auto;
        }
        h6{
            margin:0 auto;
            width:78px;
            height:20px;
            line-height:20px;
            overflow: hidden;
            color: #ef3239;
            font-weight: normal;
        }
        p{
            margin-bottom:0;
            height:20px;
            overflow: hidden;
            color:#ccc;
            font-weight: normal;
            font-size:12px;
        }
       }
    }
}

//为你推荐|排行榜 
.tuiJianPaiHangBang{
    margin-top:10px;
    background-color: #fff;
    position: relative;
    color:#999999;
    li{
       font-size:14px;
       a{
          color:#999999;
          &.active{
              color:#F23030;
          }
      }
    }
    .tab-content{
        .weiNiTuiJian{
            a{
                display: block;
                text-decoration: none;
                margin-bottom:5px;
                text-align: center;
            }
            h6{
                width:78px;
                margin:0 auto;
                font-size:12px;
                height:30px;
                overflow: hidden;
            }
            p{
                width:78px;
                height:35px;
                margin:0 auto;
                margin-bottom:0;
                color:#ef3239;
                font-size:15px;
                em{
                  font-style: normal;
                }
            }
        }
        .paiHangPang{
            a{
                display: block;
                text-decoration: none;
                text-align: center;
                float: left;
                img{
                  width:65px;
                }
            }
            h6{
                width:60%;
                font-size:15px;
                overflow: hidden;
                float: left;
            }
            p{
                width:78px;
                margin-bottom: 0;
                color:#ef3239;
                float: left;
                font-size:15px;
                em{
                  font-style: normal;
                }
            }
            .shuliang{
                font-size: 15px;
            }
            .rounded-circle{
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                margin:0 auto;
            }
        }
    }
}

// 详情与评论
.commodityDetails{
    margin-top:10px;
    background-color: #fff;
   .tab-pane{
       min-height: 200px;
       .xiangqing{
           p{
               width:auto;
               line-height: 25px;
               font-size:16px;
               color: #999999;
               margin-bottom:0;
               img{
                   width:100%;
                   padding:10px 0;
                   // width:100%;
                   text-align: center;
                   display: flex;
                   justify-content: center;
                   align-items: center;
               }
           }
       }
   }
   .prolistContent{
       overflow: hidden;
       .pltitle{
           .pic{
               text-align: center;
               img{
                   width:30px;
                   height:30px;
               }
           }
           .con{
               h2{
                   font-size:15px;
                   margin-bottom:0;
               }
               small{
                   opacity: .6;
                   font-size:15px;
               }
               p{
                   height:20px;
                   line-height:20px;
                   i{
                       font-size:15px;
                       color:#ddd;
                   }
               }
           }
           .pri{
              small{
                  font-size:14px;
                  color:#999999;
              }
           }
       }
       .plContent{
           p{
             color:#999999;
             font-size:14px;
           }
           ul{
             li{
               list-style: none;
               text-align: center;
               padding:0 10px;
             }
           }
       }
   }
}
