.prolist{
    margin-top:94px;
    margin-bottom: 50px;
    font-size:85%;
   .dropdown{
        position: fixed;
        top:54px;
        background-color: #fff;
        z-index: 1000;
    }
    .sxSelect{//选项Tab
        width:100%;
        height:40px;
        line-height:40px;
        color:#666;
        border-bottom:1px solid #dee2e6;
        .col-3{
            padding:0 10px;
        }
        .price{
            span{
            &.icon{
                height:33px;
            }
            }
            i{
                height:7px;
            }
        }
    }
   .prolistContent{//商品列表
        overflow: hidden;
        .lists{
          .mix{
             width:100%;
             position: relative;
             background:#fff;
             border-bottom:1px solid #dee2e6;
             display: inline-block;
             .pic{
                width:25%;
                float: left;
             }
             .con{
                width:75%;
                float: left;
                padding:0 10px;
                a{
                  &.title{
                   text-decoration: none;
                  }
                }
             }
             .flag{
                .flag-price{
                    line-height: 1;
                    span{
                        display: inline-block;
                        background-color: #ee0a3b;
                        padding: 0 5px 0;
                        color: #fff;
                        font-size:12px;
                        border-radius: 0.2rem;
                        height: 1.5rem;
                        line-height: 1.5rem;
                    }
                    .price{
                        width:85%;
                        h6 {
                            color: #ee0a3b;
                            font-size:16px;
                            margin-bottom:0;
                            margin-right:5px;
                            em{
                                font-style: normal;
                            }
                        }
                    }
                    small {
                        color: #999;
                        font-size:14px;
                        height:25px;
                        line-height:25px;
                        display: block;
                    }
            
                }
              }
          }
       }
    }

    .card{
        border-radius:0;
        border: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.125);
        border-right: 1px solid rgba(0, 0, 0, 0.125); 
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        margin-bottom:5px;
        .card-header{
           border-bottom:0;
           h5{
               border-bottom:1px solid rgba(0, 0, 0, 0.125); 
           }
         }
     }

}

//综合分类下拉
.dropdown-menu{
    border-radius:0;
    padding:0!important;
    min-width: auto;
    width: 100%;
    margin:0;
    border:0;
    top:1px!important;
    transform: translate3d(0, 39px, 0px)!important;
    box-shadow:0 0.5rem 0.4rem rgba(0, 0, 0, 0.1), inset 0 -0.2px 0 rgba(0, 0, 0, 0.1);
    .dropdown-item{
        &.active{
            background-color:#F05C3A!important;
        }
    }
}


//右侧筛选
.offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    right:0;
    width: 100%;
    overflow-y: auto;
    visibility: hidden;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    z-index: 1050;
    &.open {
        left: 0;
        visibility: visible;
    }
    .offcanvas-collapse-bg{
        width:90%;
        margin-left:10%;
        background-color: #fff;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0; 
        z-index: 1100;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(0, 0, 0, 0.2);
        ul{
          padding:0;
          li{
            list-style-type: none;
          }
        }
        .btn-bottom{
            width: 90%;
            position: fixed;
            bottom: 0;
            .btn{
              border-radius:0;
            }
        }
        h2{
            height:35px;
            line-height:35px;
            font-size:16px;
            color:#333;
            margin-bottom:0;
        }
        .form-control{
            line-height:1.2;
        }
        a{
            color:#666;
            text-decoration: none;
            .more{
                height:35px;
                line-height:35px;
                color:#999;
            }
        }
    }
}

//全部分类
.offcanvas-collapse1 {
    position: fixed;
    top: 0;
    bottom: 0;
    right:0;
    width: 100%;
    overflow-y: auto;
    visibility: hidden;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    z-index: 1060;
    &.open {
        left: 0;
        visibility: visible;
    }
    .offcanvas-collapse-bg{
        width:90%;
        margin-left:10%;
        background-color: #fff;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0; 
        z-index: 1100;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(0, 0, 0, 0.2);
        .btn-bottom{
            width:90%;
            border:0;
            margin-left:10%;
            .btn{
                border-radius:0;
              }
        }
        h2{
            height:35px;
            line-height:35px;
            font-size:16px;
            color:#333;
            margin-bottom:0;
        }
        h6{
            height:35px;
            line-height:35px;
            font-size:16px;
            color:#333;
            margin-bottom:0;
        }
        a{
            color:#666;
            text-decoration:none;
            padding:0;
        }
    }
    #accordion{
       height:96%;
       overflow: scroll;
      .btn{
         width:100%;
         text-align: left;
       }
      .btn-link{
         &:hover{
              text-decoration: none;
         }
         &:active{
            text-decoration: none;
         }
      }
    }
    .collapse {
        li{
          i{
            color:#999;
          }
        }
    }
}

//品牌筛选
.offcanvas-collapse2{
    position: fixed;
    top: 0;
    bottom: 0;
    right:0;
    width: 100%;
    overflow-y: auto;
    visibility: hidden;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    z-index: 1060;
    &.open {
        left: 0;
        visibility: visible;
    }
    .offcanvas-collapse-bg{
        width:90%;
        margin-left:10%;
        background-color: #fff;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0; 
        z-index: 1100;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(0, 0, 0, 0.2);
        ul{
          padding:0;
          li{
            list-style-type: none;
          }
        }
        .btn-bottom{
            width: 90%;
            position: fixed;
            bottom: 0;
            .btn{
                border-radius:0;
              }
        }
        h2{
            height:35px;
            line-height:35px;
            font-size:16px;
            color:#333;
            margin-bottom:0;
        }
        .form-control{
            line-height:1.2;
        }
        a{
            color:#666;
            text-decoration: none;
            .more{
                height:35px;
                line-height:35px;
                color:#999;
            }
        }
    }

    .pinpai{
        height: 94%;
        overflow: scroll;
        ul{
          height: 94%;
          overflow: scroll;
          padding-bottom: 20px;
          li{
            text-align: center;
            padding:0;
            a{
                display: block;
                margin:5px;
                padding:5px;
                background:#eee;
                text-decoration:none;
                border-radius:5px;
                &.active{
                    background: #dc3545;
                    border-color: #dc3545;
                    color:#fff;
                }
              }
           }
        }
    }
}


.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}


/* 列表布局一列变二列 */
#filter.grid{
    background:#eee;
    .mix {
        width: 49%;
        float: left;
        position: relative;
        background:#fff;
        margin-bottom: 5px;
        column-count: 1;
        column-gap: 1.25rem;
        &:nth-child(2n){
            margin-left:2%;
        }
        .pic{
            width:100%;
        }
        .con{
            width:100%;
            a{
              display: block;
              clear: both;
              &.title{
                height: 40px;
                line-height: 20px;
                overflow: hidden;
                width: 100%;
              }
            }
        }
    }
}