.shopcarCashRegister{
    margin-top: 54px;
    margin-bottom: 54px;

    .list-unstyled{
        li{
            .pic{
                width:40px;
                height:40px;
            }
            h5{
                color:#333;
                font-size:16px;
            }
            small{
                color:#999999;
                font-size:12px;
            }
            i{
                color:#999999;
            }
        }
    }
}