@mixin shopcar-checkbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 60%;
    background-position: 48% 30%;
    margin-bottom: 0;
    text-align: center;
}

.shopcar{
    margin-top: 51px;
    margin-bottom:104px;
    .w-40{
       width:40%;
    }
    .remove{
      padding-right:10px;
      i{
        color: #dadada;
      }
    }
    .media{
        display: flex;
        align-items: center;
        .shopcar-checkbox{
            position: relative;
            float: left;
            width: 10%;
            height: 100%;
            padding: 5% 0;
            label {
                background: url(../img/check.png) no-repeat;
                @include shopcar-checkbox;
                &.shopcar-checkd {
                    background: url(../img/checke.png) no-repeat;
                    @include shopcar-checkbox;
                }
            }
        }
        a{
         &.shopCarImg{
             width: 80px;
             height:80px;
             margin-right:10px;
             display: flex;
             justify-content: center;
             align-items: center;
         }
        }
        .w-68{
            width:68%;
        }
        .w-90{
            width:90%;
        }
        .media-body{
            a{
              text-decoration: none;
              font-size:16px;
            }
            .price{
                font-size:16px;
                color:#ef3239;
                em{
                    font-style: normal;
                }
            }
            span{
              &.guike{
                height:30px;
                line-height:30px;
                font-size:14px;
              }
            }
        }
    }
    .form-check{
         overflow: hidden;
         padding-left:0;
        .shopcar-checkbox{
            position: relative;
            float: left;
            width: 10%;
            height: 100%;
            padding: 5% 0;
            label {
                background: url(../img/check.png) no-repeat; 
                @include shopcar-checkbox;
            }
        }
    }

}

@mixin shopcar-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 60%;
    background-position: 48% 30%;
    margin-bottom: 0;
    text-align: center;
}
//购物车结算
.gwCarJiesuan{
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    bottom:44px;
    .d-flex{
        width:100%;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        .shopcar-checkbox{
            position: relative;
            float: left;
            width: 10%;
            height: 100%;
            padding:0;
            span{
                font-size: 12px;
                display: block;
                margin-top: 28px;
                color:#999;
            }
            label {
                background: url(../img/check.png) no-repeat;
                @include shopcar-checkbox;
                &.shopcar-checkd {
                    background: url(../img/checke.png) no-repeat;
                    @include shopcar-checkbox;
                }
            }
        }
        .total {
            color: #cc3333;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: right;
            width: 60%;
            padding: 0 5%;
            p{
                line-height:18px;
                font-size:14px;
                &.num{
                    width:100%;
                    font-size:12px;
                    color: #999999;
                }
                em{
                    font-style: normal;
                    font-size:20px;
                }
            }
        }
        a{
        text-decoration: none;
        display: block;
        &.jiesuan {
            display: block;
            width: 35%;
            padding:1.5% 0;
            line-height: 40px;
            color: #fff;
            text-align: center;
            background-color: #ef3239;
            background-size: 100% 100%;
            height: 100%;
        }
        }
    }
}
//结算选项
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

