---
layout: pages
title: 聚焦欧美城 · 享受生活
---
<div class="container">
    <a href="apply.html" class="layui-btn layui-btn-fluid">
        <span class="text">我要报名</span>
    </a>
    <div class="search mt-2">
        <input placeholder="请输入编号或名称" type="text" class="layui-input border-color">
        <div class="layui-btn layui-btn-primary search-btn layui-bg-red border-color">
            <i class="iconfont icon-search"></i> <span class="text">搜索</span>
        </div>
    </div>
    <div id="user-list" class="user-list">
        <div class="user layui-bg-blue equi">
            <span class="number">1号</span>
            <a href="detail.html" class="link">
                <img class="lazy img" src="assets/img/5.jpg" style="display: block;" alt="">
            </a>
            <div class="nameCoupon">
                <p class="name"><span class="text">张三</span></p>
                <p class="coupon"><span id="TP1">1000</span>票</p>
            </div>
            <a onClick="delcfm(0)">
                <div class="vote-btn"><span class="text font-color">投票</span></div>
            </a>
        </div>
        <div class="user layui-bg-blue equi">
            <span class="number">2号</span>
            <a href="detail.html" class="link">
                <img class="lazy img" src="assets/img/6.jpg" style="display: block;" alt="">
            </a>
            <div class="nameCoupon">
                <p class="name"><span class="text">张三</span></p>
                <p class="coupon"><span id="TP1">1000</span>票</p>
            </div>
            <a onClick="delcfm(1)">
                <div class="vote-btn"><span class="text font-color">投票</span></div>
            </a>
        </div>
        <div class="user layui-bg-blue equi">
            <span class="number">3号</span>
            <a href="detail.html" class="link">
                <img class="lazy img" src="assets/img/7.jpg" style="display: block;" alt="">
            </a>
            <div class="nameCoupon">
                <p class="name"><span class="text">张三</span></p>
                <p class="coupon"><span id="TP1">1000</span>票</p>
            </div>
            <a onClick="delcfm(2)">
                <div class="vote-btn"><span class="text font-color">投票</span></div>
            </a>
        </div>
        <div class="user layui-bg-blue equi">
            <span class="number">4号</span>
            <a href="detail.html" class="link">
                <img class="lazy img" src="assets/img/7.jpg" style="display: block;" alt="">
            </a>
            <div class="nameCoupon">
                <p class="name"><span class="text">张三</span></p>
                <p class="coupon"><span id="TP1">1000</span>票</p>
            </div>
            <a onClick="delcfm(3)">
                <div class="vote-btn"><span class="text font-color">投票</span></div>
            </a>
        </div>
    </div>
</div>