---
layout: default
title: 聚焦欧美城 · 享受生活
---
<div class="search">
    <input placeholder="请输入编号或名称" type="text" class="layui-input border-color">
    <div class="layui-btn layui-btn-primary search-btn bg-color border-color"><i class="iconfont icon-search"></i> <span class="text">搜索</span></div>
</div>
<div id="user-list" class="user-list">
    <div class="user bg-color equi"><span class="number bg-color">1号</span>
        <a href="detail.html" class="link"><img alt="" class="lazy img" src="assets/img/5.jpg" style="display: block;"></a>
        <p class="name"><span class="text">张三</span></p>
        <p class="coupon"><span id="TP0">1</span>票</p>
        <a onClick="delcfm(0)">
            <div class="vote-btn"><span class="text font-color">投票</span></div>
        </a>
    </div>
    <div class="user bg-color equi"><span class="number bg-color">2号</span>
        <a href="detail.html" class="link"><img alt="" class="lazy img" src="assets/img/6.jpg" style="display: block;"></a>
        <p class="name"><span class="text">张三</span></p>
        <p class="coupon"><span id="TP1">1</span>票</p>
        <a onClick="delcfm(1)">
            <div class="vote-btn"><span class="text font-color">投票</span></div>
        </a>
    </div>
    <div class="user bg-color equi"><span class="number bg-color">3号</span>
        <a href="detail.html" class="link"><img alt="" class="lazy img" src="assets/img/7.jpg" style="display: block;"></a>
        <p class="name"><span class="text">张三</span></p>
        <p class="coupon"><span id="TP2">0</span>票</p>
        <a onClick="delcfm(2)">
            <div class="vote-btn"><span class="text font-color">投票</span></div>
        </a>
    </div>
</div>