---
layout: admin
title: 员工考勤登记表
---
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">首页</a>
        </li>
        <li class="active">员工考勤</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <form role="form" class="form-horizontal" method="post" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 序号: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="bianhao" value="1" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 上班区域: </label>
                    <div class="col-sm-8">
                        <select class="form-control" name="zhuti">
                            <option value="0">江北</option>
                            <option value="1">东平</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 日期: </label>
                    <div class="col-sm-8">
                        <select class="form-control" name="bumen">
                            <option value="0">市场部</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 上班时间(早): </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="qd" value="张晓明" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 上班时间(晚): </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="date" id="test6-2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 天/合计时间长: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="shiyou" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 备注: </label>
                    <div class="col-sm-8">
                        <textarea cols="130" rows="5"></textarea>
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="text-center">
                        <button type="submit" class="btn btn-info">
                            <i class="ace-icon fa fa-check bigger-110"></i> 提交
                        </button>
                        <button type="reset" class="btn">
                            <i class="ace-icon fa fa-undo bigger-110"></i> 重填
                        </button>
                    </div>
                </div>
            </form>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>