---
layout: admin
---
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">首页</a>
        </li>
        <li class="active">请假</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <button class="btn btn-primary btn-sm" onclick="location.href='qj-add.html'">
            <i class="menu-icon fa fa-plus white"></i> 添加请假
        </button>
    </div>
    <table id="simple-table" class="table  table-bordered table-hover">
        <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </th>
                <th width="5%">申请人</th>
                <th width="5%">所属公司</th>
                <th width="5%">部门</th>
                <th width="5%">职位</th>
                <th width="20%">请假时间</th>
                <th width="10%">上班时间</th>
                <th width="5%">请假类别</th>
                <th width="15%">事由</th>
                <th width="20%">状态</th>
                <th width="10%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </td>
                <td>黄晓明</td>
                <td>欧美城</td>
                <td>市场部</td>
                <td>销售员</td>
                <td>2019-03.12 ~ 2019-03-18</td>
                <td>2019-03-20</td>
                <td>产假</td>
                <td>陪妇产陪妇产陪妇产陪妇产陪妇产陪妇产陪妇产陪妇产陪</td>
                <td><span class="text-danger">未审核</span></td>
                <td>
                    <div class="hidden-sm hidden-xs btn-group">
                        <button class="btn btn-xs btn-success">
                            <i class="ace-icon fa fa-check bigger-120"></i>
                        </button>

                        <button class="btn btn-xs btn-info" id="id-btn-dialog2">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </button>

                        <button class="btn btn-xs btn-danger">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>
                    </div>
                    <div class="hidden-md hidden-lg">
                        <div class="inline pos-rel">
                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"
                                data-position="auto">
                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                <li>
                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                        <span class="blue">
                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                        <span class="green">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                        <span class="red">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="dialog-confirm" class="hide">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form">
                <div class="space-4"></div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 申请人 </label>
                    <div class="col-sm-9">
                        <input type="text" id="form-field-1" value="张晓明" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> 所属公司 </label>
                    <div class="col-sm-9">
                        <input type="text" id="form-field-1-1" value="欧美城" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 部门 </label>
                    <div class="col-sm-9">
                        <input type="password" id="form-field-2" value="市场部" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> 职位 </label>
                    <div class="col-sm-9">
                        <input type="text" id="form-input-readonly" value="销售" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-4"> 请假时间 </label>
                    <div class="col-sm-9">
                        <input type="text" id="form-field-4" value="2019-03-25" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-5"> 上班时间 </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="form-field-5" value="2019-04-25" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-5"> 请假类别 </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="form-field-5" placeholder="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-5"> 事由 </label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input type="text" id="form-field-5" placeholder="" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>