<script>
layui.use(['laydate','layer', 'form', 'table'], function(){
      var laydate = layui.laydate
      ,layer =layui.layer
      ,from = layui.form
      ,table = layui.table;
      
        // 售票日期 star
        laydate.render({
          elem: '#xdDate'
        });

        // 至 star
        laydate.render({
          elem: '#xdEndDate'
        });

        // 预约参观日期 star
        laydate.render({
          elem: '#ylDate'
        });

        // 至 star
        laydate.render({
          elem: '#ylEndDate'
        });

      // 售票员缴款查询
      $('#piaolei_add').on('click', function () {
          layer.open({
              type: 2,
              title: '售票员缴款查询',
              maxmin: true,
              shadeClose: true,
              area: ['800px', '600px'],
              content: 'add_jbxx1.html',
              // content: $('#dingdan_content'),
              btn: ['保存', '取消']
          });
      });

      // 售票员缴款查询
      table.render({
          elem: '#bbzx_04'
          ,height: 700
          ,title: '售票员缴款查询'
          ,url: '../../json/table/bbzx_04.json'
          ,page: true
          ,autoSort: false
          ,toolbar: false
          // ,toolbar: '#toolbarDemo'
          ,cols: [[
            {field:'sprq', title:'售票日期', width:150}
            ,{field:'xslx', title:'销售类型',  width:150}
            ,{field:'mptm', title:'门票条码',  width:150}
            ,{field:'plbh', title:'票类编号',  width:150}
            ,{field:'plmc', title:'票类名称',  width:150}
            ,{field:'ttmc', title:'团体名称',  width:150}
            ,{field:'dingdan', title:'订单',  width:150}
            ,{field:'jingqu', title:'景区',  width:150}
            ,{field:'danjia', title:'单价',  width:150}
            ,{field:'zhjg', title:'折后价格',  width:150}
            ,{field:'rxcs', title:'允许次数',  width:150}
            ,{field:'zt', title:'状态',  width:150}
            ,{field:'mplx', title:'门票类型',  width:150}
            ,{field:'gprzjh', title:'购票人证件号',  width:150}
            ,{field:'gprzjxx', title:'购票人证件信息',  width:150}
            ,{field:'fkfs', title:'付款方式',  width:150}
            ,{field:'sxsj', title:'失效时间',  width:150}
            ,{field:'spr', title:'售票人',  width:150}
            ,{field:'dpr', title:'兑票人',  width:150}
            ,{field:'tpsj', title:'退票时间',  width:150}
            ,{field:'tpr', title:'退票人',  width:150}
            ,{field:'gqsxsj', title:'改前失效时间',  width:150}
            ,{field:'gqr', title:'改期人',  width:150}
            ,{field:'gqsj', title:'改期时间',  width:150}
            ,{field:'rs', title:'人数',  width:150}
            ,{field:'spzs', title:'售票张数',  width:150}
            // ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:120}
          ]]
        });
  
      //工具栏事件
      table.on('toolbar(test)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
          case 'add':
            layer.msg('添加');
            break;
          case 'edit':
            layer.msg('编辑');
            break;
          case 'del':
            layer.msg('删除');
            break;
          case 'lf_zhengjia':
            var data = checkStatus.data;
            layer.alert(JSON.stringify(data));
            break;
        };
      });
  
      //监听单元格编辑
      table.on('edit(test)', function (obj) {
        var value = obj.value //得到修改后的值
          , data = obj.data //得到所在行所有键值
          , field = obj.field; //得到字段
          console.log(obj)
      });
  
      //监听行工具事件
      table.on('tool(test)', function (obj) {
        var data = obj.data;
        //console.log(obj)
        if (obj.event === 'del') {
          layer.confirm('真的删除行么', function (index) {
            obj.del();
            layer.close(index);
          });
        } else if (obj.event === 'edit') {
            //页面层-自定义
            layer.open({
              type: 2,
              title: '修改票类信息',
              area: ['800px', '600px'],
              // content: $('#jbxx1_edit'),
              content: 'jbxx_edit1.html',
              btn: ['提交', '取消']
            });
        }
      });
                        
      // $('i').on('click', function () {
      //     var type = $(this).data('type');
      //     active[type] ? active[type].call(this) : '';
      // });
      // $('.layui-btn').on('click', function () {
      //     var type = $(this).data('type');
      //     active[type] ? active[type].call(this) : '';
      // });
      
});
</script>
<script>
  layui.config({
    base: '../../static/plugins/selectPlus/'
  }).extend({
    test: 'selectPlus'
  }).use(['selectPlus', 'jquery'], function () {
    var $ = layui.$,
      selectPlus = layui.selectPlus;
      
    // 付款方式多选
    var test = selectPlus.render({
      el: '#paymet',
      url: '../../json/selectplus/pay_met.json',
      parseData: function (res) {
        return res.data;
      },
      valueName: "name",
      values: ['微信付款', '支付宝付款'],
      valueSeparator: " , "
    });

    // 销售类型
    var test1 = selectPlus.render({
      el: '#xstype',
      url: '../../json/selectplus/xs_type.json',
      parseData: function (res) {
        return res.data;
      },
      valueName: "name",
      values: ['', ''],
      valueSeparator: " , "
    });
    
    // 是否需要导览
    var test2 = selectPlus.render({
      el: '#daolan',
      url: '../../json/selectplus/daolan.json',
      parseData: function (res) {
        return res.data;
      },
      valueName: "name",
      values: ['', ''],
      valueSeparator: " , "
    });
    
    // 状态
    var test3 = selectPlus.render({
      el: '#zt',
      url: '../../json/selectplus/zt.json',
      parseData: function (res) {
        return res.data;
      },
      valueName: "name",
      values: ['', ''],
      valueSeparator: " , "
    });

    // 景区
    var test3 = selectPlus.render({
      el: '#jingqu',
      url: '../../json/selectplus/jingqu.json',
      parseData: function (res) {
        return res.data;
      },
      valueName: "name",
      values: ['', ''],
      valueSeparator: " , "
    });

    var obj = test.getChecked();
    var obj1 = test1.getChecked();
    var obj2 = test2.getChecked();
    var obj3 = test3.getChecked();
    console.log(obj);
  })
</script>