<script>
    layui.use(['laydate','layer', 'form', 'element', 'table'], function(){
          var laydate = layui.laydate
          ,layer =layui.layer
          ,from = layui.form
          ,element = layui.element
          ,table = layui.table;
          
            // 开始时间 star
            laydate.render({
              elem: '#CheckInStar'
            });
    
            // 结束时间 star
            laydate.render({
              elem: '#leaveStar'
            });

          // 网上售票策略
          $('#piaolei_add').on('click', function () {
              layer.open({
                  type: 2,
                  title: '网上售票策略-新增',
                  maxmin: true,
                  shadeClose: false,
                  area: ['800px', '600px'],
                  content: 'add_clgl3.html',
                  // content: $('#dingdan_content'),
                  btn: ['保存', '取消']
              });
          });

          // 下拉多选


          // 网上售票策略
          table.render({
              elem: '#clgl_03'
              ,height: 700
              ,title: '网上售票策略'
              ,url: '../../json/table/clgl_03.json'
              ,page: true
              ,autoSort: false
              ,toolbar: false
              // ,toolbar: '#toolbarDemo'
              ,cols: [[
                {field:'clname', title:'策略名称', width:150}
                ,{field:'yxj', title:'优先级', width:80}
                ,{field:'kxdate', title:'可下单日期',  width:150}
                ,{field:'kydate', title:'可预订日期',  width:150}
                ,{field:'bz', title:'备注',  width:200}
                ,{field:'cjr', title:'创建人',  width:120}
                ,{field:'cjdate', title:'创建日期',  width:150}
                ,{field:'xgr', title:'修改人',  width:150}
                ,{field:'xgdate', title:'修改日期',  width:150}
                ,{field:'plsl', title:'票类数量',  width:100}
                ,{fixed:'right', title:'操作', toolbar: '#barDemo', width:150}
              ]]
            });


          // 网上售票策略-新增
          table.render({
              elem: '#clgl_add2'
              ,width: 770
              ,height: 250
              ,title: '网上售票策略-新增'
              ,url: '../../json/table/clgl_add3.json'
              ,page: false
              ,autoSort: false
              ,toolbar: false
              // ,toolbar: '#toolbarDemo'
              ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'plbh', title:'票类编号', width:100}
                ,{field:'plmc', title:'票类名称',  width:150}
                ,{field:'yj', title:'原价',  width:80}
                ,{field:'jjfs', title:'计价方式',  width:100}
                ,{field:'jjxs', title:'计价系数',  width:100}
                ,{field:'zhj', title:'折后价',  width:80}
                ,{fixed:'right', title:'操作', toolbar: '#barDemo1', width:80}
              ]]
          });
      
          //工具栏事件
          table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
              case 'add':
                layer.msg('添加');
                break;
              case 'edit':
                layer.msg('编辑');
                break;
              case 'del':
                layer.msg('删除');
                break;
              case 'lf_zhengjia':
                var data = checkStatus.data;
                layer.alert(JSON.stringify(data));
                break;
            };
          });
      
          //监听单元格编辑
          table.on('edit(test)', function (obj) {
            var value = obj.value //得到修改后的值
              , data = obj.data //得到所在行所有键值
              , field = obj.field; //得到字段
              console.log(obj)
          });
      
          //监听行工具事件
          table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
              layer.confirm('真的删除行么', function (index) {
                obj.del();
                layer.close(index);
              });
            } else if (obj.event === 'edit') {
                //页面层-自定义
                layer.open({
                  type: 2,
                  title: '修改票类信息',
                  area: ['800px', '600px'],
                  // content: $('#jbxx1_edit'),
                  content: 'jbxx_edit1.html',
                  btn: ['提交', '取消']
                });
            }
          });
                            
          // $('i').on('click', function () {
          //     var type = $(this).data('type');
          //     active[type] ? active[type].call(this) : '';
          // });
          // $('.layui-btn').on('click', function () {
          //     var type = $(this).data('type');
          //     active[type] ? active[type].call(this) : '';
          // });
      
      });
</script>