<!-- <link rel="stylesheet" type="text/css" href="https://raw.githack.com/hnzzmsf/layui-formSelects/master/dist/formSelects-v4.css" />
<script src="https://raw.githack.com/hnzzmsf/layui-formSelects/master/dist/formSelects-v4.min.js" type="text/javascript" charset="utf-8"></script> -->
<script>
    layui.use(['laydate','layer', 'form', 'table'], function(){
          var laydate = layui.laydate
          ,layer =layui.layer
          ,from = layui.form
          ,table = layui.table;
          
            // 开始时间 star
            laydate.render({
              elem: '#CheckInStar'
            });
    
            // 结束时间 star
            laydate.render({
              elem: '#leaveStar'
            });

          // 票类新增
          $('#piaolei_add').on('click', function () {
              layer.open({
                  type: 2,
                  title: '票类新增',
                  maxmin: true,
                  shadeClose: true,
                  area: ['800px', '650px'],
                  content: 'add_jbxx1.html',
                  // content: $('#dingdan_content'),
                  btn: ['保存', '取消']
              });
          });

          // 下拉多选


          // 票类管理
          table.render({
              elem: '#jbxx_01'
              ,height: 700
              ,title: '票类管理'
              ,url: '../../json/table/jbxx_01.json'
              ,page: true
              ,autoSort: false
              ,toolbar: false
              // ,toolbar: '#toolbarDemo'
              ,cols: [[
                {field:'id', title:'票类编号', width:100}
                ,{field:'ptname', title:'票类名称', width:180}
                ,{field:'pttype', title:'票类类型',  width:110}
                ,{field:'yzptm', title:'预制票条码前缀',  width:100}
                ,{field:'xxtm', title:'线下条码前缀',  width:100}
                ,{field:'xstm', title:'线上条码前缀',  width:100}
                ,{field:'xxqy', title:'允许区域',  width:120}
                ,{field:'pice', title:'单价',  width:80}
                ,{field:'cpfz', title:'产品分组',  width:150}
                ,{field:'spzt', title:'商品状态',  width:100}
                ,{field:'zrcs', title:'准入次数',  width:80}
                ,{field:'pmsm', title:'票面说明',  width:150}
                ,{field:'px', title:'排序',  width:80}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:120}
              ]]
            });
      
          //工具栏事件
          table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
              case 'add':
                layer.msg('添加');
                break;
              case 'edit':
                layer.msg('编辑');
                break;
              case 'del':
                layer.msg('删除');
                break;
              case 'lf_zhengjia':
                var data = checkStatus.data;
                layer.alert(JSON.stringify(data));
                break;
            };
          });
      
          //监听单元格编辑
          table.on('edit(test)', function (obj) {
            var value = obj.value //得到修改后的值
              , data = obj.data //得到所在行所有键值
              , field = obj.field; //得到字段
              console.log(obj)
          });
      
          //监听行工具事件
          table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
              layer.confirm('真的删除行么', function (index) {
                obj.del();
                layer.close(index);
              });
            } else if (obj.event === 'edit') {
                //页面层-自定义
                layer.open({
                  type: 2,
                  title: '修改票类信息',
                  area: ['800px', '600px'],
                  // content: $('#jbxx1_edit'),
                  content: 'jbxx_edit1.html',
                  btn: ['提交', '取消']
                });
            }
          });
                            
          // $('i').on('click', function () {
          //     var type = $(this).data('type');
          //     active[type] ? active[type].call(this) : '';
          // });
          // $('.layui-btn').on('click', function () {
          //     var type = $(this).data('type');
          //     active[type] ? active[type].call(this) : '';
          // });
      
      });
</script>