<script>
layui.use(['laydate','layer', 'form', 'table'], function(){
      var laydate = layui.laydate
      ,layer =layui.layer
      ,from = layui.form
      ,table = layui.table;
      
        // 开始时间 star
        laydate.render({
          elem: '#ylDate'
        });

        // 结束时间 star
        laydate.render({
          elem: '#ylEndDate'
        });

      // 网上购票订单查询
      $('#piaolei_add').on('click', function () {
          layer.open({
              type: 2,
              title: '网上购票订单查询',
              maxmin: true,
              shadeClose: true,
              area: ['500px', '350px'],
              content: 'add_xsgl7.html',
              // content: $('#dingdan_content'),
              btn: ['确定', '取消']
          });
      });

      // 网上购票订单查询
      table.render({
          elem: '#xsgl_10'
          ,height: 700
          ,title: '网上购票订单查询'
          ,url: '../../json/table/xsgl_10.json'
          ,page: true
          ,autoSort: false
          ,toolbar: false
          // ,toolbar: '#toolbarDemo'
          ,cols: [[
            {field:'xdrq', title:'下单日期',  width:180}
            ,{field:'ddh', title:'订单号', width:180}
            ,{field:'ddlx', title:'订单类型', width:150}
            ,{field:'dh', title:'电话',  width:150}
            ,{field:'yzm', title:'验证码',  width:100}
            ,{field:'je', title:'金额',  width:100}
            ,{field:'sl', title:'数量',  width:100}
            ,{field:'zt', title:'状态',  width:100}
            ,{field:'fkfs', title:'付款方式',  width:150}
            ,{field:'fkrq', title:'付款日期',  width:150}
            ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:120}
          ]]
        });
  
      //工具栏事件
      table.on('toolbar(test)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
          case 'add':
            layer.msg('添加');
            break;
          case 'edit':
            layer.msg('编辑');
            break;
          case 'del':
            layer.msg('删除');
            break;
          case 'lf_zhengjia':
            var data = checkStatus.data;
            layer.alert(JSON.stringify(data));
            break;
        };
      });
  
      //监听单元格编辑
      table.on('edit(test)', function (obj) {
        var value = obj.value //得到修改后的值
          , data = obj.data //得到所在行所有键值
          , field = obj.field; //得到字段
          console.log(obj)
      });
  
      //监听行工具事件
      table.on('tool(test)', function (obj) {
        var data = obj.data;
        //console.log(obj)
        if (obj.event === 'del') {
          layer.confirm('真的删除行么', function (index) {
            obj.del();
            layer.close(index);
          });
        } else if (obj.event === 'edit') {
            //页面层-自定义
            layer.open({
              type: 2,
              title: '修改票类信息',
              area: ['800px', '600px'],
              // content: $('#jbxx1_edit'),
              content: 'jbxx_edit1.html',
              btn: ['提交', '取消']
            });
        }
      });
                        
      // $('i').on('click', function () {
      //     var type = $(this).data('type');
      //     active[type] ? active[type].call(this) : '';
      // });
      // $('.layui-btn').on('click', function () {
      //     var type = $(this).data('type');
      //     active[type] ? active[type].call(this) : '';
      // });
      
});
</script>

<script>
  layui.config({
    base: '../../static/plugins/selectPlus/'
  }).extend({
    test: 'selectPlus'
  }).use(['selectPlus', 'jquery'], function () {
    var $ = layui.$,
      selectPlus = layui.selectPlus;

     // 单选案例
     selectPlus.render({
        el: '#test',
        url: '../../json/selectplus/xsgl_09.json',
        parseData: function (res) {
          return res.data;
        },
        type: "radio",
        valueName: "text",
        label: ["name"],
        values: '微信付款'
      });

    // 付款方式多选
    var test = selectPlus.render({
      el: '#paymet',
      url: '../../json/selectplus/pay_met.json',
      parseData: function (res) {
        return res.data;
      },
      valueName: "name",
      values: ['微信付款', '支付宝付款'],
      valueSeparator: " , "
    });

    // 销售类型
    var test = selectPlus.render({
      el: '#xstype',
      url: '../../json/selectplus/xs_type.json',
      parseData: function (res) {
        return res.data;
      },
      valueName: "name",
      values: ['', ''],
      valueSeparator: " , "
    });
    
    // 是否需要导览
    var test = selectPlus.render({
      el: '#daolan',
      url: '../../json/selectplus/daolan.json',
      parseData: function (res) {
        return res.data;
      },
      valueName: "name",
      values: ['', ''],
      valueSeparator: " , "
    });
    
    // 订单状态
    var test = selectPlus.render({
      el: '#ddzt',
      url: '../../json/selectplus/ddzt.json',
      parseData: function (res) {
        return res.data;
      },
      valueName: "name",
      values: ['', ''],
      valueSeparator: " , "
    });

    var obj = test.getChecked();
    console.log(obj);
  })
</script>