---
layout: default
title: 添加教育经历
---
<div class="mineBasicInfoEdit">

    <div class="mod_pos_item pr-0">
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">院校名称</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">所学专业</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">开始时间</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请选择">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">结束时间</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请选择">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">最高学历</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请选择">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">教育方式</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请选择">
                    </div>
                </div>
            </div>
    </div>

    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
        <div class="mod_pos_btn_air"><a href="mine.html">保存</a></div>
        <div class="mod_pos_btn_rea"><a href="mineResumeEdit.html">取消</a></div>
    </section>
</div>