---
layout: default
title: 添加自我评价
---
<div class="mineBasicInfoEdit">

        <div class="mod_pos_item">
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__bd workContent mr-0">
                            <textarea class="weui-textarea" placeholder="请结合你的优势和特点，对自己做一个综合评述和展现" rows="10"></textarea>
                            <div class="weui-textarea-counter"><span>0</span>/1600</div>
                        </div>
                    </div>
                </div>
        </div>
    
        <!-- 底部按钮 -->
        <section class="mod_pos_btn">
            <div class="mod_pos_btn_air"><a href="mine.html">保存</a></div>
            <div class="mod_pos_btn_rea"><a href="mineResumeEdit.html">取消</a></div>
        </section>
    </div>