---
layout: default
title: 反馈与帮助
---
<header class="search">
    <div class="search_header search_bg_Ter">
        <div class="search_header_box">
            <div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
            <div class="search_center"><a href="javascript:"> 反馈与帮助 </a></div>
            <div class="search_right"></div>
        </div>
    </div>
</header>
<div class="mineFeedbackHelp">
    <div class="weui-form-preview">
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">咨询主题：</label>
                <span class="weui-form-preview__value">我用QQ绑定怎么不行呢？</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">咨询内容：</label>
                <span class="weui-form-preview__value">我用QQ绑定怎么不行呢？老师说账号不正确。</span>
            </div>
            <div class="weui-media-box weui-media-box_text pl-0 pr-0 mt-2">
                <h4 class="weui-media-box__title"><span>管理员</span>回复：</h4>
                <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
            </div>
        </div>
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">回复</a>
        </div>
    </div>

    <div class="weui-form-preview">
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">咨询主题：</label>
                <span class="weui-form-preview__value">我用QQ绑定怎么不行呢？</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">咨询内容：</label>
                <span class="weui-form-preview__value">我用QQ绑定怎么不行呢？老师说账号不正确。</span>
            </div>
        </div>
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">回复</a>
        </div>
    </div>

    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
        <div class="mod_pos_btn_air w-100"><a href="mineFeed.html">填写反馈</a></div>
    </section>

</div>