---
layout: default
title: 编辑培训经历
---
<div class="mineBasicInfoEdit">

    <div class="mod_pos_item pr-0">
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">培训机构</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" value="少林">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">培训课程</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" value="散打">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">开始时间</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" value="1999-01">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">结束时间</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" value="2018-12">
                    </div>
                </div>
            </div>
    </div>

    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
        <div class="mod_pos_btn_air"><a href="mine.html">保存</a></div>
        <div class="mod_pos_btn_rea"><a href="mineResumeEdit.html">取消</a></div>
    </section>
</div>