<div class="swiper-container topAd" style="width: 100%; height: 9rem;">
	<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="../static/images/GetImage.jpeg"/></div>
			<div class="swiper-slide"><img src="../static/images/GetImage(1).png"/></div>
			<div class="swiper-slide"><img src="../static/images/GetImage(2).png"/></div>
			<div class="swiper-slide"><img src="../static/images/GetImage(3).png"/></div>
			<div class="swiper-slide"><img src="../static/images/GetImage(4).png"/></div>
	</div>
	<div class="swiper-pagination"></div>
</div>