<div class="layui-carousel" id="test1" lay-filter="test1" lay-anim="fade" lay-indicator="inside" lay-arrow="none"
    style="width: 100%; height: 9rem;">
    <div carousel-item="">
        <div class="layui-this"><img src="../static/images/GetImage.jpeg"></div>
        <div class=""><img src="../static/images/GetImage(1).png"></div>
        <div class=""><img src="../static/images/GetImage(2).png"></div>
        <div class=""><img src="../static/images/GetImage(3).png"></div>
        <div class=""><img src="../static/images/GetImage(4).png"></div>
    </div>
    <div class="layui-carousel-ind">
        <ul>
            <li class="layui-this"></li>
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
        </ul>
    </div>
    <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
    <button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
</div>