---
layout: pages2
title: 财务管理-售票员缴款查询
---
<!-- 售票员缴款查询 -->
<div class="easyui-layout ticket" style="width:100%;height:950px;">
    <!-- <div data-options="region:'west',border:false" class="leftChaXun" style="width:15%;border:1px solid #dddddd;">
    </div> -->
    <div class="xpck ticket_right" data-options="region:'center',border:false">
      <div class="xpck_left1">
        <form class="layui-form layui-form-pane" action="">
         <h2>按以下条件进行查询</h2>
         <ul>
            <li><label>退款日期:</label><input type="text" class="text_add2" id="ylDate"></li>
            <li><label>至:</label><input type="text" class="text_add2" id="ylEndDate"></li>
            <li><label>上缴人:</label><input type="text" class="text_add2"></li>
            <li><label>收款人:</label><input type="text" class="text_add2"></li>
            <li style="text-align: center;">
                <button type="button" class="layui-btn">重置</button> <button type="button" class="layui-btn layui-btn-primary">查询</button>
            </li>
         </ul>
        </form>
      </div>
      <div class="xpck_right1">
         <div class="dingdan_content1">
            <h2>缴款记录</h2>
            <div style="display: flex;align-items: center;margin-left:0;padding:10px 0">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">查看详情</button>
            </div>
            <!-- <ul>
                <li><span>客户编号:</span>10056</li>
                <li><span>联系人:</span>许少峰</li>
                <li><span>客户名称:</span>惠州美城互动</li>
                <li><span>联系电话:</span>13400000000</li>
                <li><span>客户类型:</span>媒体</li>
                <li><span>预存余额:</span>￥0.00</li>
            </ul> -->
            <div style="clear: both;"></div>
            <table class="layui-hide" id="cwgl_03" lay-filter="test"></table>

         </div>
      </div>
</div>