<title>Halo - Mobile Template</title>
<meta content="IE=edge" http-equiv="x-ua-compatible">
<meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<!-- Fonts -->
<link href='../static/css/googleSans.css' rel='stylesheet' type='text/css'>
<!-- Icons -->
<link href="../static/css/ionicons.css" media="all" rel="stylesheet" type="text/css">
<!-- Styles -->
<link href="../static/css/keyframes.css" rel="stylesheet" type="text/css">
<link href="../static/css/materialize.css" rel="stylesheet" type="text/css">
<link href="../static/css/swiper.css" rel="stylesheet" type="text/css">
<link href="../static/css/swipebox.css" rel="stylesheet" type="text/css">
<link href="../static/css/style.css" rel="stylesheet" type="text/css">