<ul id="slide-out-left" class="side-nav collapsible">
    <li><a href="example.html" class="no-child"><i class="ion-android-playstore"></i> Link</a></li>
    <li><a href="example.html" class="no-child"><i class="ion-ios-videocam"></i> Link</a></li>
    <li><a href="example.html" class="no-child"><i class="ion-social-rss"></i> Link</a></li>
    <li><a href="example.html" class="no-child"><i class="ion-android-map"></i> Link</a></li>
</ul>
<div class="open-left" id="open-left" data-activates="slide-out-left">
    <i class="ion-android-menu"></i>
</div>