<section class="mod_pos_list">
    <a href="positionDetail.html" class="mod_pos_item">
        <div class="mod_pos_item_text">
            <h2 class="text-truncate">Java Web开发工程师</h2>
            <p class="mod_pos_item_mes text-truncate"><span>惠州</span><span>惠城区</span><span>经验不限</span><span>本科</span></p>
        </div>
        <div class="mod_pos_item_salary">
            <p class="mod_pos_item_salary_mon">8-16K</p>
            <p class="mod_pos_item_salary_data">07月12日</p>
        </div>
    </a>
    <a href="positionDetail.html" class="mod_pos_item">
        <div class="mod_pos_item_text">
            <h2 class="text-truncate">Java Web开发工程师</h2>
            <p class="mod_pos_item_mes text-truncate"><span>惠州</span><span>惠城区</span><span>经验不限</span><span>本科</span></p>
        </div>
        <div class="mod_pos_item_salary">
            <p class="mod_pos_item_salary_mon">8-16K</p>
            <p class="mod_pos_item_salary_data">07月12日</p>
        </div>
    </a>
    <a href="positionDetail.html" class="mod_pos_item">
        <div class="mod_pos_item_text">
            <h2 class="text-truncate">Java Web开发工程师</h2>
            <p class="mod_pos_item_mes text-truncate"><span>惠州</span><span>惠城区</span><span>经验不限</span><span>本科</span></p>
        </div>
        <div class="mod_pos_item_salary">
            <p class="mod_pos_item_salary_mon">8-16K</p>
            <p class="mod_pos_item_salary_data">07月12日</p>
        </div>
    </a>
</section>