.qyPostManEdit{
    background-color:$pgbg;
    margin-top:rem(161);
    margin-bottom:rem(161);
    .weui-cell{
        font-size:$font-14;
        padding:15px 0;
        color:$gray-600;
        &:before{
           left:0;
        }
      }
      .weui-cells{
        &:before{
           border-top:0;
        }
        &:last-child{
          &:after{
            border-bottom:0;
          }
        }
        a{
          text-decoration: none;
        }
      }
      .weui-cell__bd{
          text-align: right;
          color:$gray-600;
          padding-right:rem(48.3);
          p{
            color:$gray-500;
          }
          &:after{
             top:55%;
          }
      }
      .mod_pos_item{
        &:first-child{
            border-top:0;
        }
        &:last-child{
            margin-bottom:rem(161);
        }
        padding-top:0;
        padding-bottom:0;
      }
      .weui-label{
          width:80px;
      }
      .mod_pos_btn{
        a{
           border-bottom:0;
           color:$white;
        }
    }
}