<!DOCTYPE html>
<html>
<head>
    {% include qy-head.html %}
</head>
<body id="activity-detail" class="zh_CN mm_appmsg  appmsg_skin_default appmsg_style_default">
    <div id="js_article" class="rich_media">
        <div class="rich_media_inner">
            <div id="page-content" class="rich_media_area_primary">
                <div class="rich_media_area_primary_inner">
                    <div id="img-content">
                        <div class="rich_media_content " id="js_content">
                            <section class="_editor">
                                <section data-role="outer" label="Powered by 135editor.com" style="font-size: 16px;font-family: 微软雅黑;">
                                    <section data-role="outer" label="Powered by 135editor.com">
                                        <section data-role="outer" label="Powered by 135editor.com" style="font-size:16px;font-family:微软雅黑;">
                                            {{ content }}
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include script.html %}
</body>
</html>