<div class="page__hd pt-0">
    <h6 class="text-primary">如果您已经有一个富海人才网的账号，可以在此进行绑定<h6>
    <h6 class="text-secondary">绑定成功后，您可以使用微信账号或者富海人才网账号登录</h6>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入您的人才网账号">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" type="password" placeholder="请输入您的登录密码">
        </div>
    </div>
</div>
<div class="weui-btn-area mt-4 mb-2">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">绑 定</a>
</div>
<div class="weui-cells__tips p-0">
    <a href="forgetPassword.html" class="forgetPasswordLink p-0">忘记密码？</a>
</div>