<footer>
    <div class="footer-navs layui-bg-green">
        <a href="index.html" class="link {% if page.layout == "home" %} active {% endif %}">
            <i class="iconfont icon-20-users-choosed"></i> <span class="text">首页</span>
        </a>
        <a href="tsort.html" class="link {% if page.layout == "tsort" %} active {% endif %}">
            <i class="iconfont icon-rank"></i> <span class="text">排行榜</span>
        </a>
        <a href="rule.html" class="link {% if page.layout == "rule" %} active {% endif %}">
            <i class="iconfont icon-20-rules"></i> <span class="text">活动说明</span>
        </a>
    </div>
</footer>