body{
	
	font-size: 10px;
	font-family: "微软雅黑" "arial, helvetica, sans-serif";
	color: #90918f;
	background-color: #9eb8af;
	margin: 0;
	padding: 1.8rem;
	
}
p,li,span,label,h5{
	color: #90918F;
	font-size: 1.3rem;
	line-height: 1.8;
	text-align: justify;
}
h2{
    margin:0;
}
h3{
    font-size:1.8rem;
	margin-bottom: 2rem;
}
h4.text-left{
	font-weight: bold;
	color: #333;
	}
ol{
	padding-left:1.5rem ;
}
ol li{
	margin-bottom: 1.3rem;
	color: #8c7459;
}
.hy-wrap{
background: #fff;
padding: .5rem  2rem;
border-radius: .2rem;
}
[class*="col-xs-12"]{
    padding:.5rem;
}
.hy-titleImg{
	width: 18rem;
	display: block;
	margin: 1rem auto ;
}
.hy-button-wrap {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:3rem;
}
.hy-button{
	color: #fff;
	background: #91A8B5;
	margin: 1rem 0 !important;
    min-width:10rem
}
    .hy-button:hover, .hy-button:active{
        color:#fff;
        background:#3d4f5a;
    } 
    .hy-confim {
        background: #909090 !important;
    } 
.hy-red{
	color: #c1272d;
}
.hy-green{
	color: #9eb8af;
}
.hy-ticket{
	background: rgba(159,185,176,.2);
	border-radius: 1.2rem;
	padding-bottom: 1rem;
}

.hy-titket-img{
	border-radius: 1.2rem 1.2rem 0 0;
	width: 100%;
	
}
.hy-ticket>div{
	padding: 1.2rem;
}
.hy-addon{
	background: #9FB9B0 !important;
	cursor: pointer;
	color: #fff !important;
}
.hy-addon span{
	color: inherit;
}
.hy-info{
	background: rgba(198,156,109,.17);
	border-radius: 1rem;
	padding:  1rem;
	margin:1.5rem auto 0 auto;
}
.hy-order-info h2 * {
    font-size: 2.1rem;
    color: #8c7459;
    margin: 2rem auto;
}
.hy-order-info  h4{
    margin-top:0;
    margin-bottom:0;
    margin-left:1rem
}
    .hy-info h3 {
        margin-top: .5rem;
    }


    .hy-info h4 {
        font-size:1.5rem;
        margin: .2rem 1.5rem;
    }

.hy-person-info{
    margin:1.5rem auto;
} .hy-modal {
    margin-top: 9rem;
    padding:2.5rem
} 
.hy-modal-content {
    background: rgba(255,255,255,.8);
    border-radius: 3rem;
}
.hy-modal-body {
    background: rgba(255,255,255,.6);
    border: 2px solid #8C6239;
    border-radius: 3rem;
    padding: 2rem 1rem;
}
    .hy-modal-body p{
        line-height:1.5;
        padding:2rem;
        font-size:1.5rem
    }
    .hy-input {
        border: .1rem solid #909090;
    }




.hy-phone-confirm .row-fluid {
	margin: 1.5rem 0;
}

.hy-phone-confirm .row-fluid div:first-child{
	padding-left: 0;
}
.hy-phone-confirm .row-fluid div:last-child{
	padding-right: 0;
}

.hy-order-plus{
	background: rgba(144,144,144,.2);
	color: #555;
	border-radius: 0;
	border: none;
	margin: 1.5rem 0;
	box-shadow: none;
}

.hy-qcode {
	width: 25em;
	margin: 2rem auto;
	position: relative;
}

.hy-qcode img{
	width: 100%;
}
.qcode-state{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.9);
	position: absolute;
	padding: 5.8rem;
}

.hy-xy{

    margin:2rem auto;
}
.hy-xy input,.hy-xy label{
   float:left;
   margin-right:1rem;
}
    .hy-xy label{
        margin-top:-.5rem;
    }

.hy-order-container h3, .hy-order-container h4, .hy-order-container ol li {
    color: #808080;
}

.hy-order-container h3 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.hy-order-container h4 {
    font-size: 1.5rem
}

.tourist .form-control:last-child {
    margin-bottom:2rem;
}