---
layout: default
title: 企业注册
---

<div class="loginCompany">

    <div class="page__hd">
        <h1 class="page__title m-0">招聘会员登录</h1>
    </div>

    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入企业登录账号">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="请输入登录密码">
            </div>
        </div>
    </div>

    <div class="weui-btn-area mt-4 mb-2">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">登录</a>
    </div>
    <div class="weui-cells__tips p-0">
            <a href="forgetPassword.html" class="forgetPasswordLink p-0">忘记密码？</a>
            <a href="registerCompany.html" class="goRegister">还没账号？立即注册</a>
    </div>

    <div class="userLogin">
        <p class="demos-sub-title">- 其他方式登录 -</p>
        <div class="weui-flex">
        <div class="weui-flex__item"><div class="placeholder"></div></div>
        <div class="weui-flex__item"><a class="placeholder border rounded-circle"><i class="fa fa-qq fa-lg text-primary"></i></a></div>
        <div class="weui-flex__item"><a class="placeholder border rounded-circle"><i class="fa fa-weixin fa-lg text-success"></i></a></div>
        <div class="weui-flex__item"><div class="placeholder"></div></div>
        </div>
    </div>

</div>