
<script src="assets/js/gallery.js"></script>
{% if page.layout == "photoEdit" %}
<script>
    $("#years-monthes").datetimePicker({
        title: '限定年月',
        years: [2017, 2018],
        monthes: ['06', '07'],
        onChange: function (picker, values, displayValues) {
        console.log(values);
        }
    });
</script>
<script>
  /* 图片手动上传 */
  var uploadCount = 0, uploadCustomFileList = [];
  // 这里是简单的调用，其余api请参考文档
  weui.uploader('#uploaderCustom', {
      url: 'http://localhost:3000',
      auto: false,
      type: 'file',
      onBeforeQueued: function(files) {
          if(["image/jpg", "image/jpeg", "image/png", "image/gif"].indexOf(this.type) < 0){
              weui.alert('请上传图片');
              return false;
          }
          if(this.size > 5 * 1024 * 1024){
              weui.alert('请上传不超过10M的图片');
              return false;
          }
          if (files.length > 1) { // 防止一下子选中过多文件
              weui.alert('最多只能上传1张图片，请重新选择');
              return true;
          }
          if (uploadCount + 1 > 1) {
              weui.alert('最多只能上传1张图片');
              return true;
          }

          ++uploadCount;

      },
      onQueued: function() {
          uploadCustomFileList.push(this);
      }
  });
  // 手动上传按钮
  document.getElementById("uploaderCustomBtn").addEventListener('click', function(){
      uploadCustomFileList.forEach(function(file){
          file.upload();
      });
  });
  // 缩略图预览
  document.querySelector('#uploaderCustomFiles').addEventListener('click', function(e){
  var target = e.target;

  while(!target.classList.contains('weui-uploader__file') && target){
      target = target.parentNode;
  }
  if(!target) return;

  var url = target.getAttribute('style') || '';
  var id = target.getAttribute('data-id');

  if(url){
      url = url.match(/url\((.*?)\)/)[1].replace(/"/g, '');
  }
  var gallery = weui.gallery(url, {
      onDelete: function(){
          weui.confirm('确定删除该图片？', function(){
              var index;
              for (var i = 0, len = uploadCustomFileList.length; i < len; ++i) {
                  var file = uploadCustomFileList[i];
                  if(file.id == id){
                      index = i;
                      break;
                  }
              }
              if(index !== undefined) uploadCustomFileList.splice(index, 1);

              target.remove();
              gallery.hide();
          });
      }
  });
});
</script>
{% endif %}
{% if page.layout == "apply" %}
 <script>
    $("#time-format").datetimePicker({
            title: '报名时间',
            yearSplit: '年',
            monthSplit: '月',
            dateSplit: '日',
            times: function () {
            return [  // 自定义的时间
                {
                values: (function () {
                    var hours = [];
                    for (var i=0; i<24; i++) hours.push(i > 9 ? i : '0'+i);
                    return hours;
                })()
                },
                {
                divider: true,  // 这是一个分隔符
                content: '时'
                },
                {
                values: (function () {
                    var minutes = [];
                    for (var i=0; i<59; i++) minutes.push(i > 9 ? i : '0'+i);
                    return minutes;
                })()
                },
                {
                divider: true,  // 这是一个分隔符
                content: '分'
                }
            ];
            },
            onChange: function (picker, values, displayValues) {
            console.log(values);
            }
        });
</script>
{% endif %}