---
layout: pages
title: chart
---
<!-- Page Content -->
<div id="content" class="grey-blue page">


    {% include Components/toolbar.html %}
    
    <!-- Main Content -->
    <div class="animated fadeinup">
      
      <!-- Line chart -->
      <div id="line_chart" class="card animated fadeinup">
        <div class="legend">
          <h5 class="uppercase">Traffic <i class="ion-android-refresh right text-color"></i></h5>
          <p><span class="data-color blue lighten-3"></span>Free</p>
          <p><span class="data-color purple lighten-4"></span>Paid</p>
        </div>

        <div class="lineChartCont">
          <canvas id="canvas"></canvas>
        </div>
      </div>

      <!-- Pie Chart -->
      <div id="pie_chart" class="card animated fadeinup delay-1">
        <div class="legend">
          <h5 class="uppercase">Users <i class="ion-android-more-vertical right text-color"></i></h5>
          <p><span class="data-color blue lighten-3"></span>New</p>
          <p><span class="data-color orange lighten-3"></span>Completed</p>
          <p><span class="data-color purple lighten-4"></span>Cancelled</p>
        </div>

        <div class="pieChartCont">
          <canvas id="pieChart" width="300" height="300"></canvas>
        </div>
      </div>

      <!-- Doughnut Chart -->
      <div id="doughnut_chart" class="card animated fadeinup delay-2">
        <div class="legend">
          <h5 class="uppercase">Email Report <i class="ion-android-refresh right text-color"></i></h5>
          <p><span class="data-color blue lighten-4"></span>Search</p>
          <p><span class="data-color red lighten-3"></span>Bounce</p>
          <p><span class="data-color yellow lighten-4"></span>New</p>
        </div>

        <div class="doughnutChartCont">
          <canvas id="doughnutChart" width="300" height="300"></canvas>
        </div>
      </div>

      <!-- Bar Chart -->
      <div id="bar_chart" class="card animated fadeinup delay-3">
        <div class="legend">
          <h5 class="uppercase">Growth <i class="ion-android-share-alt right text-color"></i></h5>
          <p><span class="data-color blue lighten-3"></span>Euro</p>
          <p><span class="data-color purple lighten-4"></span>Dollar</p>
        </div>

        <div class="barChartCont">
          <canvas id="barChart"></canvas>
        </div>
      </div>
      
      {% include footer.html %}
  
      
  </div> <!-- End of Page Content -->