---
layout: pages
title: timeline
---
<!-- Page Content -->
<div id="content">

    {% include Components/toolbar.html %}
    
    <!-- Hero Header -->
    <div class="h-banner animated fadeindown">
      <div class="parallax bg-3">
        <div class="floating-button animated bouncein delay-3">
        <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
          <i class="ion-android-star"></i>
        </span>
      </div>
        <div class="banner-title">Jane Lee</div>
      </div>
      </div>

    <!-- Activity Content -->
    <div class="animated fadeinup delay-1">
      
      <div class="p-t-20">
      <ul class="tabs">
        <li class="tab"><a class="active" href="#test1">Activity</a></li>
        <li class="tab"><a href="#test2">Friends</a></li>
      </ul>
      </div>
        
    <div id="test1">
      <div class="container activity p-l-r-20">
        <div class="row m-l-0">
          <div class="col">
            <div class="contact">
              <img alt="" src="../../static/img/user.jpg">
              <div class="dot z-depth-1">
              </div>
              <p>
                Julie Davis <i class="ion-android-attach"></i>
              </p>
              <span>Sent you some photos.</span>
            </div>

            <div class="contact">
              <span class="date">6 - 7 pm</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                Thomas Smith
              </p>
              <span>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</span>
            </div>

            <div class="contact">
              <span class="date">4 - 5 pm</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                37 New friends
              </p>
              <div class="friends">
                <img alt="" class="circle" src="../../static/img/user3.jpg"> 
                <img alt="" class="circle" src="../../static/img/user4.jpg"> 
                <img alt="" class="circle" src="../../static/img/user.jpg">
              </div>
            </div>

            <div class="contact">
              <span class="date">1 - 2 pm</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                Jake Soul
              </p>
              <span>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</span>
            </div>

            <div class="contact">
              <img alt="" src="../../static/img/user.jpg">
              <div class="dot z-depth-1">
              </div>
              <p>
                Robert Green
              </p>
              <span>7 New notifications</span>
            </div>

            <div class="contact">
              <span class="date">4 - 8 am</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                Camilla Oller
              </p>
              <span>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</span>
            </div>

            <div class="contact">
              <span class="date">2 - 3 am</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                Added 3 new photos.
              </p>
              <div class="friends">
                <img alt="" class="circle" src="../../static/img/user4.jpg"> 
                <img alt="" class="circle" src="../../static/img/user2.jpg"> 
                <img alt="" class="circle" src="../../static/img/user3.jpg">
              </div>
            </div>

            <div class="contact">
              <span class="date">1 - 2 pm</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                Mike Lee <i class="ion-android-attach"></i>
              </p>
              <span>Sent you an attachment.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="test2">
      <div class="container activity p-l-r-20">
        <div class="row m-l-0">
          <div class="col">

            <div class="contact">
              <span class="date">4 - 5 pm</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                37 New friends
              </p>
              <div class="friends">
                <img alt="" class="circle" src="../../static/img/user3.jpg"> 
                <img alt="" class="circle" src="../../static/img/user4.jpg"> 
                <img alt="" class="circle" src="../../static/img/user.jpg">
              </div>
            </div>

            <div class="contact">
              <span class="date">1 - 2 pm</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                Jake Soul
              </p>
              <span>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</span>
            </div>

            <div class="contact">
              <img alt="" src="../../static/img/user.jpg">
              <div class="dot z-depth-1">
              </div>
              <p>
                Robert Green
              </p>
              <span>7 New notifications</span>
            </div>

            <div class="contact">
              <span class="date">4 - 8 am</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                Camilla Oller
              </p>
              <span>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</span>
            </div>

            <div class="contact">
              <span class="date">2 - 3 am</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                Added 3 new photos.
              </p>
              <div class="friends">
                <img alt="" class="circle" src="../../static/img/user4.jpg"> 
                <img alt="" class="circle" src="../../static/img/user2.jpg"> 
                <img alt="" class="circle" src="../../static/img/user3.jpg">
              </div>
            </div>

            <div class="contact">
              <span class="date">1 - 2 pm</span>
              <div class="dot z-depth-1">
              </div>
              <p>
                Mike Lee <i class="ion-android-attach"></i>
              </p>
              <span>Sent you an attachment.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    </div> 
</div>