---
layout: pages
title: video
---
  <!-- Page Content -->
  <div id="content" class="page">



      {% include Components/toolbar.html %}
  
      <!-- Main Content -->
      <div class="p-20 animated fadeinup">
        <h3 class="uppercase">Responsive Embeds</h3>
        <div class="video-container m-b-20">
          <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <h3 class="uppercase">Responsive Video</h3>
        <video class="responsive-video" controls>
          <source src="../../static/img/big_buck_bunny.mp4" type="video/mp4">
        </video>
      </div>
      <!-- End of Main Contents -->
  
      {% include footer.html %}
  
        
    </div> <!-- End of Page Content -->