<!-- <div class="swiper-container2">
    <div class="swiper-wrapper slider">
        <a href="infoTer.html" class="swiper-slide">如果你无法简洁的表达你的想法，那只说明你还不够了解它。</a>
        <a href="infoTer.html" class="swiper-slide">那只说明你还不够了解它，如果你无法简洁的表达你的想法。</a>
        <a href="infoTer.html" class="swiper-slide">如果你无法简洁的表达你的想法，那只说明你还不够了解它。</a>
        <a href="infoTer.html" class="swiper-slide">那只说明你还不够了解它，如果你无法简洁的表达你的想法。</a>
        <a href="infoTer.html" class="swiper-slide">如果你无法简洁的表达你的想法，那只说明你还不够了解它。</a>
    </div>
</div> -->
<div class="swiper-container announcement">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="infoTer.html">如果你无法简洁的表达你的想法，那只说明你还不够了解它。</a></div>
      <div class="swiper-slide">
        <a href="infoTer.html">你为什么还没过上你想要的生活。</a></div>
      <div class="swiper-slide">
        <a href="infoTer.html">如果你无法简洁的表达你的想法。</a></div>
    </div>
</div>