<!-- 底部导航 -->
{% if page.layout == "home" or page.layout == "daily" or page.layout == "mine" %}
<nav class="menu">
    <a href="index.html" class="{% if page.layout == "home" %} active {% endif %}">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-_jilu"></use>
        </svg>
        <span>首页</span>
    </a>
    <a href="daily.html" class="{% if page.layout == "daily" %} active {% endif %}">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-_kafei"></use>
        </svg>
        <span>考勤记录</span>
    </a>
    <a href="mine.html" class="{% if page.layout == "mine" %} active {% endif %}">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-_geren"></use>
        </svg>
        <span>消息</span>
        <!-- <em class="weui-badge weui-badge_dot"></em> -->
    </a>
</nav>  
{% endif %}