<!-- 底部导航 -->
{% if page.layout == "home" or page.layout == "leave" or page.layout == "checkIn" or page.layout == "leaveSornd" or page.layout == "checkInSornd" or page.layout == "news" %}
<nav class="menu">
    <a href="index.html" class="{% if page.layout == "home" %} active {% endif %}">
        <i class="fa fa-home"></i><span>首页</span>
    </a>
    <a href="leaveSornd.html".html" class="{% if page.layout == "leaveSornd" %} active {% endif %}">
        <i class="fa fa-calendar"></i><span>请假记录</span>
    </a>
    <a href="checkInSornd.html" class="{% if page.layout == "checkInSornd" %} active {% endif %}">
        <i class="fa fa-pencil-square-o"></i><span>签到记录</span>
    </a>
    <a href="news.html" class="{% if page.layout == "news" %} active {% endif %}">
        <i class="fa fa-user-o"></i><span>消息</span>
        <em class="weui-badge weui-badge_dot"></em>
    </a>
</nav>
{% endif %}