<!-- 底部导航 -->
{% if page.layout == "home" or page.layout == "daily" or page.layout == "mine" %}
<nav class="menu">
    <a href="index.html" class="{% if page.layout == "home" %} active {% endif %}">
        <i class="fa fa-calendar-check-o"></i><span>首页</span>
    </a>
    <a href="daily.html" class="{% if page.layout == "daily" %} active {% endif %}">
        <i class="fa fa-coffee"></i><span>考勤记录</span>
    </a>
    <a href="mine.html" class="{% if page.layout == "mine" %} active {% endif %}">
        <i class="fa fa-user-o"></i><span>我的</span>
        <!-- <em class="weui-badge weui-badge_dot"></em> -->
    </a>
</nav>
{% endif %}
