---
layout: pages
title: 立刻支付
---
<div class="ti_cof mt-5">
    <div class="m-2">
        <span class="badge badge-pill badge-warning">订单号：OE181219000005</span>
    </div>
    <ul>
      <li><dl>
        <dt class="fl"><img src="../static/images/GetImage.jpeg" alt=""></dt>
        <dd class="fr">
            <h2><a href="javascript:;" class="badge badge-primary text-white mr-1">成人联票</a>海洋世界平日票</h2>
            <div class="l_time">使用日期：<span>2018-11-25</span></div>
            <div class="l_money"><span class="fl">¥<em>80.00</em></span>
                <i class="fr">X<em>1</em></i></div>
        </dd>
        </dl>
      </li>
    </ul>
</div>
<!-- 底部 -->
<div class="in_btn co_btn">
    <ul class="yh ye">
        <li>总价：¥:<em>80.00</em></li>
        <li>待支付：¥:<em class="bag">80.00</em></li>
    </ul>
    <div class="layui-btn-group">
        <button class="w-100">立即支付</button>
    </div>
</div>