---
layout: pages
title: 职位编辑
---
<div class="qyPostManEdit">
    <div class="mod_pos_item pr-0">
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">招聘部门</label>
                    </div>
                    <div class="weui-cell__bd">
                            <div class="accNumBtn text-right">
                                <div class="d-flex justify-content-between align-items-center">
                                        <div class="w-75"><input type="text" class="weui-input text-right" placeholder="部门不限"></div>
                                        <a href="javascript:;" class="btn btn-primary btn-sm ml-2">添加部门</a>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">职位名称 <em>*</em></label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="测试">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">岗位类别 <em>*</em></label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="测试">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">职位类型 <em>*</em></label>
                    </div>
                    <div class="weui-cell__bd">
                        <div class="weui-cells_checkbox d-flex justify-content-end">
                                <label class="weui-check__label d-flex align-items-center" for="s11">
                                    <div class="weui-cell__hd p-0">
                                        <input type="checkbox" class="weui-check" name="checkbox1" id="s11">
                                        <i class="weui-icon-checked"></i>
                                    </div>
                                    <div class="weui-cell__bd pr-1">
                                        <p>全职</p>
                                    </div>
                                </label>
                                <label class="weui-check__label d-flex align-items-center" for="s12">
                                    <div class="weui-cell__hd p-0">
                                        <input type="checkbox" class="weui-check" name="checkbox1" id="s12">
                                        <i class="weui-icon-checked"></i>
                                    </div>
                                    <div class="weui-cell__bd pr-1">
                                        <p>兼职</p>
                                    </div>
                                </label>
                                <label class="weui-check__label d-flex align-items-center" for="s13">
                                    <div class="weui-cell__hd p-0">
                                        <input type="checkbox" class="weui-check" name="checkbox1" id="s13">
                                        <i class="weui-icon-checked"></i>
                                    </div>
                                    <div class="weui-cell__bd p-0">
                                        <p>实习</p>
                                    </div>
                                </label>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="mod_pos_item pr-0">
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">所属行业 <em>*</em></label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="测试">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">招聘人数 <em>*</em></label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="测试">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">截止日期 <em>*</em></label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="测试">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">工作地区 <em>*</em></label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="测试">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">薪资待遇 <em>*</em></label>
                    </div>
                    <div class="weui-cell__bd">
                            <input type="text" class="weui-input text-right" value="测试">
                    </div>
                </div>
            </div>
            <div class="weui-cells__title p-0 mt-2">职位描述 <em>*</em> <small>(言简意赅地阐述职位具体要求)</small></div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell pt-0">
                  <div class="weui-cell__bd workContent">
                    <textarea class="weui-textarea" rows="5">测试</textarea>
                    <div class="weui-textarea-counter"><span>0</span>/1600</div>
                  </div>
                </div>   
            </div>
    </div>
    <div class="mod_pos_item pr-0">
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">学历要求</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="测试">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">工作经验</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input text-right" value="测试">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">性别要求</label>
                    </div>
                    <div class="weui-cell__bd">
                        <div class="weui-cells_checkbox d-flex justify-content-end">
                                <label class="weui-check__label d-flex align-items-center" for="s14">
                                    <div class="weui-cell__hd p-0">
                                        <input type="checkbox" class="weui-check" name="checkbox1" id="s14">
                                        <i class="weui-icon-checked"></i>
                                    </div>
                                    <div class="weui-cell__bd pr-1">
                                        <p>男</p>
                                    </div>
                                </label>
                                <label class="weui-check__label d-flex align-items-center" for="s15">
                                    <div class="weui-cell__hd p-0">
                                        <input type="checkbox" class="weui-check" name="checkbox1" id="s15">
                                        <i class="weui-icon-checked"></i>
                                    </div>
                                    <div class="weui-cell__bd pr-1">
                                        <p>女</p>
                                    </div>
                                </label>
                                <label class="weui-check__label d-flex align-items-center" for="s16">
                                    <div class="weui-cell__hd p-0">
                                        <input type="checkbox" class="weui-check" name="checkbox1" id="s16" checked="checked">
                                        <i class="weui-icon-checked"></i>
                                    </div>
                                    <div class="weui-cell__bd p-0">
                                        <p>无限</p>
                                    </div>
                                </label>
                        </div>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                    <div class="weui-cell__hd">
                        <label for="name" class="weui-label">年龄要求</label>
                    </div>
                    <div class="weui-cell__bd">
                            <input type="text" class="weui-input text-right" value="测试">
                    </div>
                </div>
                <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">联系人员 <em>*</em></label>
                        </div>
                        <div class="weui-cell__bd">
                                <input type="text" class="weui-input text-right" value="测试">
                        </div>
                </div>
                <div class="weui-cell weui-cell_select">
                        <div class="weui-cell__hd">
                            <label for="name" class="weui-label">联系电话 <em>*</em></label>
                        </div>
                        <div class="weui-cell__bd">
                                <input type="text" class="weui-input text-right" value="测试">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select">
                            <div class="weui-cell__hd">
                                <label for="name" class="weui-label">电子邮箱 <em>*</em></label>
                            </div>
                            <div class="weui-cell__bd">
                                    <input type="text" class="weui-input text-right" value="测试">
                            </div>
                        </div>
                        <div class="weui-cell weui-cell_select">
                                <div class="weui-cell__hd">
                                    <label for="name" class="weui-label">乘车路线</label>
                                </div>
                                <div class="weui-cell__bd">
                                        <input type="text" class="weui-input text-right" value="测试">
                                </div>
                            </div>
                            <div class="weui-cell weui-cell_select">
                                    <div class="weui-cell__hd">
                                        <label for="name" class="weui-label">更新联系方式</label>
                                    </div>
                                    <div class="weui-cell__bd">
                                            <input type="text" class="weui-input text-right" value="测试">
                                    </div>
                                </div>
            </div>
    </div>
    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
        <div class="mod_pos_btn_air"><a href="#">保存职位</a></div>
        <div class="mod_pos_btn_rea"><a href="#">取消</a></div>
    </section>
</div>