---
layout: default
title: 创建名片
---
<header class="search">
        <div class="search_header">
            <div class="search_header_box">
                <div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
                <div class="search_center"><a href="javascript:"> 创建名片(1/3) </a></div>
                <div class="search_right"><a href="resumeQzyx.html">下一步</a></div>
            </div>
        </div>
</header>

<div class="resume">

    <div class="page__hd pt-0">
        <h1 class="page__title m-0">填写基本信息</h1>
    </div>
     
    <div class="weui-cells">
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="name" class="weui-label">用户类型</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="userType" type="text" value="请选择">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">真实姓名</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请填写">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">性别</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="sex" type="text" value="请选择">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">出生日期</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="date2" type="text" value="请选择">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="name" class="weui-label">现所在地</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="Curlocat" type="text" value="请选择">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">移动电话</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="date2" type="text" value="13800000000">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="name" class="weui-label">电子邮箱</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="Curlocat" type="text" value="597952541@qq.com">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="date" class="weui-label">开始工作年份</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="date" type="text" value="请选择">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">常用邮箱</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="email" placeholder="请填写">
            </div>
        </div>
    </div>
</div>