---
layout: default
title: 完善简历
---
<header class="search">
        <div class="search_header">
            <div class="search_header_box">
                <div class="search_left"><a href="index.html"><i class="fa fa-angle-left fa-lg"></i></a></div>
                <div class="search_center"><a href="javascript:;"> 完善简历(3/3) </a></div>
                <div class="search_right"><a href="javascript:;"></a></div>
            </div>
        </div>
</header>

<div class="resumePerfect">
    <div class="page__hd pt-0">
        <h1 class="page__title m-0">工作经历</h1>
    </div>
    <div class="weui-cells">
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请填写最近一家就职公司名称">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="担任职务">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="date" value="开始工作时间">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="date1" value="结束工作时间">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="最后薪资（0表示保密）">
            </div>
        </div>
        <div class="weui-cell weui-cells_form">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="请详述您的工作职责范围及工作业绩" rows="3"></textarea>
                <div class="weui-textarea-counter"><span>0</span>/100</div>
            </div>
        </div>
    </div>

    <div class="page__hd">
        <h1 class="page__title m-0">教育经历</h1>
    </div>
    <div class="weui-cells">
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="学校名称">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="最高学历">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="培养方式">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="专业名称">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="date2" placeholder="入学时间">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="date3" placeholder="毕业时间">
            </div>
        </div>
    </div>

    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
        <div class="mod_pos_btn_air"><a href="mine.html">保存完成</a></div>
        <div class="mod_pos_btn_rea"><a href="mine.html">稍后完善</a></div>
    </section>
</div>