<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <a href="pages/ordersDetail.html" class="weui-form-preview__item">
            <label class="weui-form-preview__label">任务下达</label>
            <span class="btn btn-warning btn-sm">待接单</span>
        </a>
    </div>
    <div class="weui-form-preview__bd">
        <a href="pages/ordersDetail.html" class="weui-form-preview__item d-block">
            <label class="weui-form-preview__label">跟进景观桥旁水管改造施工</label>
        </a>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">梁先生</label>
            <span class="weui-form-preview__value"><a href="tel:13433598652" class="tel"><i class="fa fa-phone"></i></a></span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">17:30</label>
            <span class="weui-form-preview__value">惠州-欧美城</span>
        </div>
    </div>
</div>
<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <a href="pages/ordersDetail.html" class="weui-form-preview__item">
            <label class="weui-form-preview__label">任务下达</label>
            <span class="btn btn-warning btn-sm">待接单</span>
        </a>
    </div>
    <div class="weui-form-preview__bd">
        <a href="pages/ordersDetail.html" class="weui-form-preview__item d-block">
            <label class="weui-form-preview__label">跟进景观桥旁水管改造施工</label>
        </a>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">梁先生</label>
            <span class="weui-form-preview__value"><a href="tel:13433598652" class="tel"><i class="fa fa-phone"></i></a></span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">17:30</label>
            <span class="weui-form-preview__value">惠州-欧美城</span>
        </div>
    </div>
</div>
<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <a href="pages/ordersDetail.html" class="weui-form-preview__item">
            <label class="weui-form-preview__label">任务下达</label>
            <span class="btn btn-warning btn-sm">待接单</span>
        </a>
    </div>
    <div class="weui-form-preview__bd">
        <a href="pages/ordersDetail.html" class="weui-form-preview__item d-block">
            <label class="weui-form-preview__label">跟进景观桥旁水管改造施工</label>
        </a>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">梁先生</label>
            <span class="weui-form-preview__value"><a href="tel:13433598652" class="tel"><i class="fa fa-phone"></i></a></span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">17:30</label>
            <span class="weui-form-preview__value">惠州-欧美城</span>
        </div>
    </div>
</div>
<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <a href="pages/ordersDetail.html" class="weui-form-preview__item">
            <label class="weui-form-preview__label">任务下达</label>
            <span class="btn btn-warning btn-sm">待接单</span>
        </a>
    </div>
    <div class="weui-form-preview__bd">
        <a href="pages/ordersDetail.html" class="weui-form-preview__item d-block">
            <label class="weui-form-preview__label">跟进景观桥旁水管改造施工</label>
        </a>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">梁先生</label>
            <span class="weui-form-preview__value"><a href="tel:13433598652" class="tel"><i class="fa fa-phone"></i></a></span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">17:30</label>
            <span class="weui-form-preview__value">惠州-欧美城</span>
        </div>
    </div>
</div>
<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <a href="pages/ordersDetail.html" class="weui-form-preview__item">
            <label class="weui-form-preview__label">任务下达</label>
            <span class="btn btn-warning btn-sm">待接单</span>
        </a>
    </div>
    <div class="weui-form-preview__bd">
        <a href="pages/ordersDetail.html" class="weui-form-preview__item d-block">
            <label class="weui-form-preview__label">跟进景观桥旁水管改造施工</label>
        </a>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">梁先生</label>
            <span class="weui-form-preview__value"><a href="tel:13433598652" class="tel"><i class="fa fa-phone"></i></a></span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">17:30</label>
            <span class="weui-form-preview__value">惠州-欧美城</span>
        </div>
    </div>
</div>