---
layout: admin
title: 请假签到
---
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">签到</li>
	</ul>
</div>
<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-block alert-success">
				<i class="ace-icon fa fa-info-circle green"></i> &nbsp;
				感谢您使用本系统！
			</div>
			<div class="row">
				<div class="col-sm-12" style="background: url(../assets/images/qj_pic.jpg) no-repeat fixed top;height:800px;background-size: cover; -webkit-filter: blur(1px);filter: blur(1px);margin:10px; background-size: 98%;opacity: .5;">

				</div>
			</div>
			<!-- PAGE CONTENT ENDS -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
<!-- /.page-content -->