<div class="weui-form-preview">
    <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">网页设计</label>
            <div class="weui-form-preview__value">发布时间：<span>2018-08-22</span></div>
        </div>
        <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta text-warning">8-16K</li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"">博罗县</li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">学历不限</li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">5年经验</li>
        </ul>
        <div class="d-flex justify-content-between pt-1">
            <span>2018-08-24 08:24:00 刷新</span>
            <span class="btn btn-danger btn-sm text-white">删除</span>
        </div>
    </div>
</div>