<ul class="content-list">
    <li>
        <div class="card-header" id="headingOne">
           <div data-toggle="collapse" data-target="#collapse_2" aria-expanded="false">.NET开发工程师（1人）</div>
        </div>
        <div id="collapse_2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <p>1、依据市场总监要求，跟进、统合、汇报年度营销计划及各阶段实施目标；</p>
                <p>2、完善营销信息收集、处理、交流及保密系统，建立大数据分析整合； </p>
                <p>3、协助市场总监对游客消费心理和行为的调查，提出给娱乐操作单位及各业态运营方有效参考数据建议；</p>
                <p>4、针对园区品牌性能、价格、促销手段等提出相关收集、整理和分析；并进行相关宣传策略与执行；</p>
                <p>5、做出销售预测，提出未来市场的分析、发展方向和规划；</p>
                <p>6、制定园区整体活动企划方案；</p>
                <p>7、有效集结赞助商，增加异业结盟机会，提升园区企业合作高度，建造双赢平台。</p>
            </div>
        </div>
    </li>
    <li>
        <a href="rczp.html" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false">活动策划总经理（1人）</a>
    </li>
    <li>
        <a href="rczp.html" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false">市场人员</a>
    </li>
    <li>
        <a href="rczp.html" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false">营销总经理（1人）</a>
    </li>
    <li>
        <a href="rczp.html" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false">董事长助理（1人）</a>
    </li>
    <li>
        <a href="rczp.html" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false">新媒体运营（1人）</a>
    </li>
    <li>
        <a href="rczp.html" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false">平面设计师（1人） </a>
    </li>
    <li>
        <a href="rczp.html" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false">客服经理（1人）</a>
    </li>
</ul>