
.m-scene {
    .animated {
      animation-duration: 0.5s;
      transition-timing-function: ease-in;
      animation-fill-mode: both;
    }
    .fadein {
      animation-name: fadeIn;
      animation-duration: 0.4s;
    }
    .fadeinup {
      animation-name: fadeInUp;
    }
    .fadeindown {
      animation-name: fadeInDown;
    }
    .fadeinright {
      animation-name: fadeInRight;
    }
    .bouncein {
      animation-name: bounceIn;
    }
    &.is-exiting{
      .animated {
        animation-name: fadeOut;
      }
    }
  }
  .delay-1 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .delay-2 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
  .delay-3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .delay-4 {
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
  }
  .delay-5 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  .delay-6 {
    -webkit-animation-delay: 0.95s;
    animation-delay: 0.95s;
  }