---
layout: default
title: 日常
---
<div class="daily">
    <div class="weui-grids">
        <a href="pages/CheckIn.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/24.png" alt="">
            </div>
            <p class="weui-grid__label">
                签到
            </p>
        </a>
        <a href="pages/leave.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/24.png" alt="">
            </div>
            <p class="weui-grid__label">
                请假
            </p>
        </a>
        <a href="pages/workEntry.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/12.png" alt="">
            </div>
            <p class="weui-grid__label">
                工单录入
            </p>
        </a>
        <!-- <a href="pages/workInquire.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/03.png" alt="">
            </div>
            <p class="weui-grid__label">
                工单查询
            </p>
        </a>
        <a href="pages/warehouse.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/07.png" alt="">
            </div>
            <p class="weui-grid__label">
                仓库管理
            </p>
        </a>
        <a href="pages/sendReceive.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/13.png" alt="">
            </div>
            <p class="weui-grid__label">
                快递收货
            </p>
        </a>
        <a href="pages/proApproval.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/24.png" alt="">
            </div>
            <p class="weui-grid__label">
                流程审批
            </p>
        </a>
        <a href="pages/attPunch.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/20.png" alt="">
            </div>
            <p class="weui-grid__label">
                考勤打卡
            </p>
        </a> -->
        
        <!-- <a href="pages/intAnnounce.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/05.png" alt="">
            </div>
            <p class="weui-grid__label">
                内部公告
            </p>
        </a> -->
        <!-- <a href="pages/valetOrder.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/14.png" alt="">
            </div>
            <p class="weui-grid__label">
                代客录单
            </p>
        </a> -->
        <!-- <a href="" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/18.png" alt="">
            </div>
            <p class="weui-grid__label">
                一键开门
            </p>
        </a> -->
        <!-- <a href="pages/report.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/19.png" alt="">
            </div>
            <p class="weui-grid__label">
                报表
            </p>
        </a>
        <a href="pages/workOrder.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/24.png" alt="">
            </div>
            <p class="weui-grid__label">
                经办工单
            </p>
        </a> -->
    </div>
</div>