---
layout: default
title: 登录
---
<div class="login">
    <div class="weui-media-box d-flex justify-content-center">
        <div>
            <img src="static/images/profile-photos/10.png" class="rounded-circle img-thumbnail" width="100">
        </div>
    </div>
    <form action="" method="post">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" pattern="[1-11]*" placeholder="请输入您的账号">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" placeholder="请输入您的密码">
                </div>
            </div>
        </div>
        <div class="weui-btn-area mt-4 mb-2">
            <button type="button" class="weui-btn weui-btn_primary">登 录</button>
        </div>
    </form>
</div>