<tbody class="m-scene">
    <tr class="" style="height:65px;">
        <td>娱乐车RTX</td>
        <td><small>6分钟/次</small></td>
        <td>
            <span class="d-block"><small>门市价：￥</small>128</span>
            <span class="d-block"><small>优惠价：￥</small>88</span>
        </td>
    </tr>
    <tr class="" style="height:65px;">
        <td>儿童卡丁车</td>
        <td><small>6分钟/次</small></td>
        <td>
            <span class="d-block"><small>门市价：￥</small>88</span>
            <span class="d-block"><small>优惠价：￥</small>58</span>
        </td>
    </tr>
    <tr class="" style="height:65px;">
        <td>双人卡丁车</td>
        <td><small>6分钟/次</small></td>
        <td>
            <span class="d-block"><small>门市价：￥</small>216</span>
            <span class="d-block"><small>优惠价：￥</small>138</span>
        </td>
    </tr>
    <tr class="" style="height:65px;">
        <td>30分包场</td>
        <td><small>30分钟/次</small></td>
        <td>
            <span class="d-block"><small>门市价：￥</small>4580</span>
            <span class="d-block"><small>优惠价：￥</small>3200</span>
        </td>
    </tr>
    <tr class="" style="height:65px;">
        <td>60分包场</td>
        <td><small>60分钟/次</small></td>
        <td>
            <span class="d-block"><small>门市价：￥</small>7880</span>
            <span class="d-block"><small>优惠价：￥</small>5500</span>
        </td>
    </tr>
    <tr class="" style="height:65px;">
        <td>成人赛车服单次租赁</td>
        <td><small>一人一次</small></td>
        <td>
            <span class="d-block"><small>￥</small>30</span>
        </td>
    </tr>
    <tr class="" style="height:65px;">
        <td>成人赛车鞋单次租赁</td>
        <td><small>一人一次</small></td>
        <td>
            <span class="d-block"><small>￥</small>20</span>
        </td>
    </tr>
    <tr class="" style="height:65px;">
        <td>儿童赛车服单次租赁</td>
        <td><small>一人一次</small></td>
        <td>
            <span class="d-block"><small>￥</small>20</span>
        </td>
    </tr>
</tbody>