---
layout: loginPages
title: 登录
---
<div class="login">
    <div class="d-flex justify-content-center mt-4 mb-4">
        <div>
            <img src="static/images/profile-photos/10.png" class="rounded-circle img-thumbnail" width="100">
        </div>
    </div>
    <div class="login_body">
        <div class="login_body_cont">
            <form action="index.html" method="post" onsubmit="return mlogin(this);">
                <!--手机动态码登录-->
                <div class="login_sj_box" id="login_sj_box">
                    <div class="c inputitem_w">
                        <i class="reg_icon_font login_icon_n4 "></i>
                        <input name="moblie" id="usermoblie" type="number" class="inputitemtxt" value="" placeholder="请输入手机号码" />
                        <div class="logoin_msg none" id="show_mobile">
                            <div class="logoin_msg_tx">请填写正确的手机号</div>
                            <div class="logoin_msg_icon"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="login_sj_box_mb" id="login_sjyz_box">
                    <div class="c ico_name inputitem_w">
                        <i class="reg_icon_font login_icon_n8 "></i>
                        <input name="dynamiccode" type="text" class="inputitemtxt" id="dynamiccode" value="" placeholder="请输入短信验证码" />
                        <div class="logoin_msg none" id="show_dynamiccode">
                            <div class="logoin_msg_tx">请填写发送的验证码</div>
                            <div class="logoin_msg_icon"></div>
                        </div>
                        <a href="javascript:void(0);" class="login_m_send2" id="send_msg_tip" onclick="send_msg('');">获取动态验证码</a>
                    </div>
                </div>
                <input type="hidden" name="checkurl" value="" />
                <div class="login_bth"> <input type="submit" name="submit" id="sublogin" value="登录" class="inputSubmit mt15" /></div>
            </form>
      </div>
    </div>
</div>