<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>狮子城</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    {% include head.html %}
</head>
<body class="uemo">
     {{ content }}
     {% include script.html %}
</body>
</html>