.omcHome{
  .card-title{
    font-size: 20px;
    p{
      line-height:20px;
    }
    i{
      width:50px;
      height:2px;
      background-color:#d9a969;
      display:block;
      margin:0 auto
    }
    small{
      font-size: 16px;
      display: block;
      height:30px;
      line-height: 30px;
      color: $gray-400!important;
    }
  }
}
.contact{
  strong{
      font-size: 20px;
      color:#d9a969;
  }
}

.logo{
  padding:0 5px;
  .col-3{
    padding-left:5px!important;
    padding-right: 5px!important;
    text-align: center;
  }
}

.topAd{
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

@media (min-width: 320px) {
  .topAd {
   width: 320px;
  }
}
@media (min-width: 375px) { 
  .topAd {
   width: 375px;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    padding: 18px 0;
  }
}

.swiper-button-next, .swiper-button-prev{
  height:22px!important;
  margin-top: -10px!important;
}

.bgImg{
    background-size: 100% 250px;
    width: 93%;
    height: 250px;
    position: absolute;
    bottom: 0;
    z-index: -1;
}