<div class="w_down">
        <p>
            <br>
        </p>
        <p style="text-align:justify;">
            <span style="color:#666666;font-size:14px;"><br>
            </span>
        </p>
        <p style="text-align:justify;">
            <span style="color:#666666;font-size:14px;">Everybody~亲爱的游客朋友们注意啦，现园区推出重磅的福利活动，具体说明如下：</span>
        </p>
        <span style="font-size:14px;color:#666666;line-height:2;">
            <div style="text-align:justify;">
                一、凡购买欧美城海洋世界门票、海洋世界+婚博艺术中心9号联票即可享受优惠如下：
            </div>
        </span><span style="font-size:14px;color:#666666;line-height:2;">
            <div style="text-align:justify;">
                1、园区攀岩项目10元/张/人优惠（原价50元/人/2次，优惠后40元即可享受单人攀岩2次）。
            </div>
        </span><span style="font-size:14px;color:#666666;line-height:2;">
            <div style="text-align:justify;">
                2、园区“手摇船+步行球”项目5元/套/人优惠（原价50元/人/1次，优惠后40元即可畅享游玩）。即“手摇船”每人每次20分钟+步行球每人每次15分钟。
            </div>
        </span><span style="font-size:14px;color:#666666;line-height:2;">
            <div style="text-align:justify;">
                二、优惠有效期：2018年11月3日至2019年2月28日止。
            </div>
        </span><span style="font-size:14px;color:#666666;line-height:2;">
            <div style="text-align:justify;">
                下面，想知道进园还需要有啥注意事项的，记得看下面啦！<span style="font-size:12px;"></span>
            </div>
        </span>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">为确保所有游客都能享有安全愉悦的园区体验，敬请悉知：</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">1、园区开放时间为10:00-22:00；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">2、凭园区大门票入园，在园区西门售票处或惠州欧美城官方微信公众号即可购票。大门票可用于抵扣欧美城婚博艺术中心欧美街9号或海洋世界门票费用，在园区售票点补差价即可。限制一人一票游玩当日一次性使用，恕不退票、退款、找零；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">3、免票人群不可单独入园，须成人陪同，每位成人限制带一名免票人员入园。本园区因安全考量，有权拒绝无成人陪伴的免票人员单独入园游玩；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">4、游客进入园内，须照顾好随行的老弱病残孕等特殊人士，对其尽到相关监护责任；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">5、来访车辆请自觉遵守园区的停车管理规定，停放至指定停车场；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">6、游客不可携带宠物、外来食品、饮料、玻璃器皿、管制刀具及易燃易爆品等其它危险物品入园；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">7、园区内严禁毁坏公共设施、随地吐痰、乱扔废弃物等行为，严禁派发、涂写、张贴悬挂任何形式的留言、广告及宣传品，请爱护园内花草树木及设施设备，损坏者照价赔偿；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">8、请尊重园内其他游客和演职人员（工作人员），文明用语，不做任何危险、违法、不卫生、破坏性或攻击性的行为。如有在园内进行打架、斗殴、偷窃、寻衅滋事等违法犯罪行为或有严重影响他人游玩体验的行为，安保部门及工作人员有权现场制止，并配合公安部门依法处置；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">9、未经批准不得擅自组织集会、游行及演讲等妨碍游客正常游园秩序的一切活动；非园区签约商家不得进入摆卖任何商品；非签约的婚拍机构、商拍机构不得从事商业拍摄活动，违者劝离或移交政府相关部门处理；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">10、请遵守游览秩序，注意安全警示；请勿攀爬、翻越安全防护栏；切勿推挤打闹，上下台阶要小心谨慎，以免发生意外。如遇突发事件，请听从工作人员指引，切莫慌乱，有序撤离现场；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">11、出于园区安全、秩序等因素的考虑，园区会根据实际情况进行不定期更改园区或园区内任何游乐项目的开放时间，临时关闭园区或园区内部分区域、控制入园人数、暂停或取消任何游乐项目或娱乐演出，具体以当日公告为准；根据项目截止运行时间及园区开、闭园时间，园区会提前在官方平台告知，敬请留意；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">12、为了您的安全，我们特别提醒您，园内部分项目不适合高血压、心脏病、颈椎腰椎等患者、孕妇、酒醉者及有癫痫病史等游客游玩，如不听提醒导致不良后果，本园区不承担任何责任；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">13、对于因游客自身的疏忽、过失所引起的财产损失或不遵守《惠州欧美城文化小镇入园须知》所引起的事故，本园区概不负责；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">14、客服热线0752-2888688，提供惠州欧美城文化小镇票价及园区游览相关配套咨询服务。</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">以上条款最终解释权归惠州欧美城文化小镇所有</span>
        </p>
        <p>
            <br>
        </p>
    </div>