<section class="" data-role="paragraph" style="background-image: url(" http:="" hzomc.rc-yiding.com="" wxhttp:="" wx="" content="" kindeditor="" attached="" image="" 20191213="" bg.png");background-repeat:="" repeat;box-sizing:="" border-box;"="">
    <p style="text-align:center;line-height: 2em;"><span style="font-size: 14px;color: #666;">2020是一个注定爱意满满的年份</span>
    </p>
    <p style="text-align:center;line-height: 2em;"><span style="font-size: 14px;color: #666;">除了谐音的“爱你爱你"</span>
    </p>
    <p style="text-align:center;line-height: 2em;"><span style="font-size: 14px;color: #666;">重点还是辞旧迎新的新年份呀</span>
    </p>
    <p style="text-align:center;line-height: 2em;"><span style="font-size: 14px;color: #666;">在这即将告别2019年的日子里</span>
    </p>
    <p style="text-align:center;line-height: 2em;"><span style="font-size: 14px;color: #666;">我们决定要给你们打造一场与众不同の跨年计划</span>
    </p>
    <p style="text-align:center;"><span style="color: #666;">▼</span>
    </p>
    
    <p style="text-align:center;"><span style="color: #666;"><img class=" __bg_gif" data-ratio="0.566" data-src="" data-type="gif" data-w="500" title="未标题-1.gif" style="-webkit-max-logical-width: 100%; z-index: -1; cursor: pointer; font-size: 16px; caret-color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); max-inline-size: 100%; font-family: 微软雅黑, Arial, sans-serif; box-sizing: border-box !important; outline: none 0px !important; width: 500px !important; height: auto !important; visibility: visible !important;" _width="500px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/1.gif" data-order="0" data-fail="0"></span>
    </p>
</section>
<section class="" data-role="paragraph" style="background-image: url(" http:="" hzomc.rc-yiding.com="" wxhttp:="" wx="" content="" kindeditor="" attached="" image="" 20191213="" bg.png");background-repeat:="" repeat;box-sizing:="" border-box;"="">
    <p style="text-align:center">
        <br>
    </p>
    <p style="text-align:center;"><span style="font-size: 14px;caret-color: rgb(255, 0, 0);color: rgb(0, 0, 0);font-family: 微软雅黑, Arial, sans-serif;">狮子城&amp;宙斯文化联合打造</span>
    </p>
    <section class="" data-tools="" data-id="96480" data-color="#fcb42b" data-custom="#fcb42b">
        <section style="width:80%;margin:10px auto;" data-width="80%">
            <section style="display:flex;justify-content:flex-start;align-items:center;">
                <section style="text-align:left;">
                    <section class="" data-brushtype="text" style="display: inline-block;background: rgb(252, 180, 43);color: rgb(255, 255, 255);padding: 4px 2em;border-width: 1px;border-style: solid;border-color: rgb(51, 51, 51);font-weight: bold;font-size: 16px;box-sizing: border-box;">狮子城放肆玩</section>
                </section>
                <section class="" style="width:3em;margin-left:10px;">
                    <img class="" style="display: block; width: 100% !important; height: auto !important; visibility: visible !important;" _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/dian.png">
                </section>
            </section>
            <section style="width:100%;display:flex;justify-content:flex-end;align-items:center;margin-top:-1px;" data-width="100%">
                <section class="" style="width:3em;">
                    <img class="" style="display: block; width: 100% !important; height: auto !important; visibility: visible !important;" _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/dian.png">
                </section>
                <section style="text-align:left;margin-left:10px;">
                    <section class="" data-brushtype="text" style="display: inline-block;border-width: 1px;border-style: solid;border-color: rgb(51, 51, 51);padding: 4px 2em;font-size: 16px;box-sizing: border-box;"><strong>闪电计划跨年嘉年华</strong>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <p style="text-align:center;font-size:14px">要的就是“超燃”<span style="text-align: left;">▼</span></p><p style="text-align: center;"><br></p>
</section><p><br></p>
<section class="" data-role="paragraph" style="background-image: url(&quot;http://hzomc.rc-yiding.com/Wxhttp://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/bg.png&quot;);background-repeat: repeat;box-sizing: border-box;">
      <section class="" data-tools="" data-id="96346">
          <section style="width:100%;margin:15px auto 0 auto;" data-width="100%">
              <section style="text-align: right;">
                  <section style="display:inline-block;background:#fefefe;">
                      <section style="width:30px;">
                          <img class=" __bg_gif" style="display: block; width: 30px !important; height: 18.6885px !important;" _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/43.gif" data-order="1">
                      </section>
                      <section style="width: 6px;margin-right: auto;margin-left: auto;">
                          <img class="" style="width: 6px !important; height: 68px !important;" _width="6px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/44.png">
                      </section>
                  </section>
              </section>

              <section style="border-width: 1px;border-style: dashed;border-color: rgb(51, 51, 51);color: rgb(92, 101, 96);margin-top: -90px;margin-right: 15px;box-sizing: border-box;">
                  <section data-autoskip="1" class="" style="font-size: 14px;letter-spacing: 1.5px;line-height: 1.75em;padding: 1em;box-sizing: border-box;">
                      <p style="-webkit-max-logical-width: 100%;min-height: 1em;cursor: text;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);text-align: center;line-height: 1.75em;font-family: 微软雅黑, " microsoft="" yahei",="" arial,="" sans-serif;box-sizing:="" border-box="" !important;outline:="" none="" 0px="" !important;"=""><span style="-webkit-max-logical-width: 100%;cursor: text;font-size: 14px;box-sizing: border-box !important;outline: none 0px !important;">集结</span>
                      </p>
                      <p style="-webkit-max-logical-width: 100%;min-height: 1em;cursor: text;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);text-align: center;line-height: 1.75em;font-family: 微软雅黑, " microsoft="" yahei",="" arial,="" sans-serif;box-sizing:="" border-box="" !important;outline:="" none="" 0px="" !important;"=""><strong><span style="-webkit-max-logical-width: 100%;cursor: text;font-size: 14px;color: rgb(255, 192, 0);box-sizing: border-box !important;outline: none 0px !important;">百大DJ/超燃乐队/嗨玩Rapper/荣耀之战街舞赛</span></strong>
                      </p>
                      <p style="-webkit-max-logical-width: 100%;min-height: 1em;cursor: text;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);text-align: center;line-height: 1.75em;font-family: 微软雅黑, " microsoft="" yahei",="" arial,="" sans-serif;box-sizing:="" border-box="" !important;outline:="" none="" 0px="" !important;"=""><span style="-webkit-max-logical-width: 100%;cursor: text;font-size: 14px;box-sizing: border-box !important;outline: none 0px !important;">更有<strong><span style="-webkit-max-logical-width: 100%;cursor: text;background-color: rgb(255, 192, 0);">海洋世界/大马戏 任选其中一项免费玩</span></strong>
                          </span>
                      </p>
                      <p style="-webkit-max-logical-width: 100%;min-height: 1em;cursor: text;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);text-align: center;line-height: 1.75em;font-family: 微软雅黑, " microsoft="" yahei",="" arial,="" sans-serif;box-sizing:="" border-box="" !important;outline:="" none="" 0px="" !important;"=""><span style="-webkit-max-logical-width: 100%;cursor: text;font-size: 14px;caret-color: red;box-sizing: border-box !important;outline: none 0px !important;">史上最具仪式感的<strong><span style="-webkit-max-logical-width: 100%;cursor: text;caret-color: red;color: rgb(255, 192, 0);">跨年倒数仪式</span></strong>
                          <br style="-webkit-max-logical-width: 100%;box-sizing: border-box !important;outline: none 0px !important;">
                          </span>
                      </p>
                      <p style="-webkit-max-logical-width: 100%;min-height: 1em;cursor: text;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);text-align: center;line-height: 1.75em;font-family: 微软雅黑, " microsoft="" yahei",="" arial,="" sans-serif;box-sizing:="" border-box="" !important;outline:="" none="" 0px="" !important;"=""><span style="-webkit-max-logical-width: 100%;cursor: text;font-size: 14px;box-sizing: border-box !important;outline: none 0px !important;">与<strong><span style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(255, 192, 0);">潮流文化街</span></strong></span>
                      </p>
                      <p style="-webkit-max-logical-width: 100%;min-height: 1em;cursor: text;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);text-align: center;line-height: 1.75em;font-family: 微软雅黑, " microsoft="" yahei",="" arial,="" sans-serif;box-sizing:="" border-box="" !important;outline:="" none="" 0px="" !important;"=""><span style="-webkit-max-logical-width: 100%;cursor: text;font-size: 14px;box-sizing: border-box !important;outline: none 0px !important;">一口气满足你N个迎新愿望！！！</span>
                      </p>
                  </section>
              </section>
              <section class="" style="width: 50px;height: 50px;border-left: 1px solid rgb(51, 51, 51);border-bottom: 1px solid rgb(51, 51, 51);margin-top: -50px;box-sizing: border-box;"></section>
          </section>
      </section>
      <br>
      <section class="" data-tools="" data-id="92918">
          <section class="" data-tools="" data-id="91727" style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;margin-bottom: 15px;">
              <section style="text-align:center;">
                  <section style="display:inline-block;width:40px;">
                      <img class="img_loading __bg_gif" style="border-width: 0px; border-style: none; border-color: initial; width: 40px !important; height: 40px !important;" _width="300px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/7.gif" data-order="2">
                  </section>
              </section>
          </section>
      </section>
  </section>

<section style="width: 100%;display:flex;justify-content: center;align-items:flex-end;" data-width="100%">
          <section style="width: 100%;display: flex;justify-content: center;align-items: center;padding-bottom: 2px;box-sizing: border-box;" data-width="100%">
              <section>
                  <section style="width: 10px;height:6em;background:#3b2737;"></section>
                  <section style="height: 0px;width: 0px;border-top: 0px solid transparent;border-right: 10px solid rgb(59, 39, 55);border-bottom: 3px solid transparent;box-sizing: border-box;"></section>
              </section>
              <section style="width: 100%;" data-width="100%">
                  <img class="img_loading" style="display: block; width: 100% !important;" _width="554px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/8.jpg">
              </section>
          </section>
          <section>
              <section style="width: 10px;height:13em;background:#3b2737;"></section>
              <section style="height: 0px;width: 0px;border-top: 0px solid transparent;border-right: 10px solid rgb(59, 39, 55);border-bottom: 3px solid transparent;box-sizing: border-box;"></section>
          </section>
      </section>
<section>
  <p style="text-align:center;line-height: 1.75em;"><span style="font-size: 14px;">还记得去年那场嗨爆了的狮子城跨年夜吗？</span>
  </p>
  <p style="text-align:center;line-height: 1.75em;"><span style="font-size: 14px;">今年我们<span style="color: rgb(255, 192, 0);"><strong>玩法升级，花样更多更好玩</strong></span>！</span>
  </p>
  <p style="text-align:center;line-height: 1.75em;"><span style="font-size: 14px;">燥一个绝对不一样的夜</span>
  </p>
  <p style="text-align:center;line-height: 1.75em;"><span style="font-size: 14px;">2019年12月31日！在狮子城约定你！</span>
  </p>
</section>

<section class="" data-id="94063" data-tools="" style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;background-color: rgba(0, 0, 0, 0);background-image: url();background-repeat: repeat;">
          <section style="padding-top: 10px;padding-bottom: 10px;box-sizing: border-box;">
              <section style="display: inline-block;box-sizing: border-box;">
                  <section data-bgless="spin" data-bglessp="280" style="margin-bottom: -22px;height: 8px;background: rgb(255, 192, 0);border-radius: 6px;box-sizing: border-box;"></section>
                  <section class="" data-brushtype="text" style="margin-right: auto;margin-left: auto;padding-right: 10px;padding-left: 10px;display: inline-block;height: 35px;color: rgb(63, 63, 63);line-height: 35px;font-size: 30px;font-weight: bold;transform: rotate(0deg);"><span style="color: #000000;">PART 01</span></section>
              </section>
          </section>
      </section>
      <section class="" data-role="paragraph" style="background-color: rgba(0, 0, 0, 0);background-image: url();background-repeat: repeat;box-sizing: border-box;">
          <p style="line-height: 1.75em;"><span style="font-size: 18px;background-color: #ffc000;color:#000000"><strong> 闪电计划摇滚电音盛宴 </strong></span></p>
          <p style="line-height: 1.75em;"><span style="font-size: 14px;">（说唱乐队演奏：19:00-20:50）</span></p>
          <section data-width="100%" style="-webkit-max-logical-width: 100%;padding-top: 10px;padding-bottom: 10px;box-sizing: border-box;width: 100%;outline: none 0px !important;">
              <section data-width="100%" style="-webkit-max-logical-width: 100%;margin-bottom: 5px;width: 100%;box-sizing: border-box !important;outline: none 0px !important;">
                  <img class="img_loading __bg_gif" style="-webkit-max-logical-width: 100%; display: block; box-sizing: border-box !important; outline: none 0px !important; width:100% !important;" _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/9.gif">
              </section>
              <section style="-webkit-max-logical-width: 100%;margin-top: 5px;justify-content: center;display: -webkit-flex;box-sizing: border-box !important;outline: none 0px !important;">
                  <section data-width="100%" style="-webkit-max-logical-width: 100%;margin-right: 5px;width: 97%;box-sizing: border-box !important;outline: none 0px !important;">
                      <img class="img_loading"
                      style="-webkit-max-logical-width: 100%; display: block; box-sizing: border-box !important; outline: none 0px !important; width:100% !important;" _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/10.jpg">
                  </section>
                  <section data-width="100%" style="-webkit-max-logical-width: 100%;width: 100%;box-sizing: border-box !important;outline: none 0px !important;">
                      <img class="img_loading"
                      title="图片29.png" style="-webkit-max-logical-width: 100%; display: block; box-sizing: border-box !important; outline: none 0px !important; width:100% !important;" _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/11.jpg">
                  </section>
              </section>
          </section>
</section>

<section class="" data-role="paragraph" style="background-color: rgba(0, 0, 0, 0);background-image: url(&quot;http://hzomc.rc-yiding.com/Wxhttp://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/bg.png&quot;);background-repeat: repeat;box-sizing: border-box;">
<p style="text-align:center;line-height: 1.75em;"><span style="font-size: 14px;">跟随现场的音乐</span><span style="font-size: 14px;"></span></p>
<p style="text-align:center;-webkit-max-logical-width: 100%;min-height: 1em;cursor: text;max-width: 100%;color: rgb(51, 51, 51);font-size: 17px;letter-spacing: 0.544px;line-height: 1.75em;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;overflow-wrap: break-word !important;"><span style="-webkit-max-logical-width: 100%;cursor: text;font-size: 14px;letter-spacing: 0.544px;color: rgb(0, 0, 0);outline: none 0px !important;">你会不由自主摇摆起来<br style="-webkit-max-logical-width: 100%;box-sizing: border-box !important;outline: none 0px !important;"></span></p>
<p style="text-align:center;-webkit-max-logical-width: 100%;min-height: 1em;cursor: text;max-width: 100%;color: rgb(51, 51, 51);font-size: 17px;letter-spacing: 0.544px;line-height: 1.75em;font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;overflow-wrap: break-word !important;"><span style="-webkit-max-logical-width: 100%;cursor: text;max-inline-size: 100%;font-size: 14px;color: rgb(0, 0, 0);box-sizing: border-box !important;outline: none 0px !important;">毕竟音浪太强，不晃会被撞到地上~</span></p>
<p style="text-align:center;line-height: 1.75em;"><span style="font-size: 14px;">光看嘉宾阵容，已让人热血沸腾</span></p>
<p style="text-align:center;line-height: 1.75em;"><span style="font-size: 14px;">∨</span></p>
</section>

<!-- 01 -->
<section style="border-width: 2px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;overflow: hidden;background: rgb(254, 254, 254);box-sizing: border-box;text-align: center;">
<section style="background:url(&quot;http://hzomc.rc-yiding.com/Wxhttp://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/bg.png&quot;);background-size:100%;">
    <section style="display:flex;justify-content: space-between;align-items: flex-end;">
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 36.5782px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/45.gif" data-order="4">
        </section>
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 38.0328px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/46.gif" data-order="5">
        </section>
    </section>
    <section style="padding-right: 1em;padding-bottom: 1em;padding-left: 1em;box-sizing: border-box;">
        <section style="width: 100%;border-radius: 12px;overflow: hidden;box-sizing: border-box;" data-width="100%">
            <img class="img_loading" style="-webkit-max-logical-width: 100%; cursor: pointer; z-index: -1; text-align: justify; background-color: rgb(255, 255, 255); display: block; box-sizing: border-box !important; outline: none 0px !important; width:100% !important;"
            _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/12.jpg">
        </section>
    </section>
    <section style="display:inline-block;">
        <section style="padding-right: 1em;padding-left: 1em;letter-spacing: 1.5px;transform: rotate(0deg);"><strong style="-webkit-max-logical-width: 100%;cursor: text;font-size: 18px;text-align: right;max-inline-size: 100%;box-sizing: border-box !important;outline: none 0px !important;">VINA-S</strong></section>
        <section style="width: 100%;height: 8px;background: rgb(195, 225, 255);border-width: 1px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;margin-top: -8px;box-sizing: border-box;" data-width="100%"></section>
    </section>
    <section data-autoskip="1" class="" style="font-size: 14px;letter-spacing: 1.5px;line-height: 1.75em;color: rgb(62, 62, 62);padding:0 1em;box-sizing: border-box;">
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">亚洲百大DJ19名</strong></p>
    </section>
</section>
</section>
<!-- 01 -->

<!-- 02 -->
<section style="border-width: 2px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;overflow: hidden;background: rgb(254, 254, 254);box-sizing: border-box;text-align: center;">
<section style="background:url(&quot;http://hzomc.rc-yiding.com/Wxhttp://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/bg.png&quot;);background-size:100%;">
    <section style="display:flex;justify-content: space-between;align-items: flex-end;">
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 36.5782px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/45.gif" data-order="4">
        </section>
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 38.0328px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/46.gif" data-order="5">
        </section>
    </section>
    <section style="padding-right: 1em;padding-bottom: 1em;padding-left: 1em;box-sizing: border-box;">
        <section style="width: 100%;border-radius: 12px;overflow: hidden;box-sizing: border-box;" data-width="100%">
            <img class="img_loading" style="-webkit-max-logical-width: 100%; cursor: pointer; z-index: -1; text-align: justify; background-color: rgb(255, 255, 255); display: block; box-sizing: border-box !important; outline: none 0px !important; width:100% !important;"
            _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/13.jpg">
        </section>
    </section>
    <section style="display:inline-block;">
        <section style="padding-right: 1em;padding-left: 1em;letter-spacing: 1.5px;transform: rotate(0deg);"><strong style="-webkit-max-logical-width: 100%;cursor: text;font-size: 18px;text-align: right;max-inline-size: 100%;box-sizing: border-box !important;outline: none 0px !important;">A&M</strong></section>
        <section style="width: 100%;height: 8px;background: rgb(195, 225, 255);border-width: 1px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;margin-top: -8px;box-sizing: border-box;" data-width="100%"></section>
    </section>
    <section data-autoskip="1" class="" style="font-size: 14px;letter-spacing: 1.5px;line-height: 1.75em;color: rgb(62, 62, 62);padding:0 1em;box-sizing: border-box;">
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">IMF厦门超级音乐节特邀嘉宾</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">同世界百大dj同台合作演出</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">风格：Hardstyle、PSY、EDM、Bass</strong></p>
    </section>
</section>
</section>
<!-- 02 -->

<!-- 03 -->
<section style="border-width: 2px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;overflow: hidden;background: rgb(254, 254, 254);box-sizing: border-box;text-align: center;">
<section style="background:url(&quot;http://hzomc.rc-yiding.com/Wxhttp://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/bg.png&quot;);background-size:100%;">
    <section style="display:flex;justify-content: space-between;align-items: flex-end;">
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 36.5782px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/45.gif" data-order="4">
        </section>
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 38.0328px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/46.gif" data-order="5">
        </section>
    </section>
    <section style="padding-right: 1em;padding-bottom: 1em;padding-left: 1em;box-sizing: border-box;">
        <section style="width: 100%;border-radius: 12px;overflow: hidden;box-sizing: border-box;" data-width="100%">
            <img class="img_loading" style="-webkit-max-logical-width: 100%; cursor: pointer; z-index: -1; text-align: justify; background-color: rgb(255, 255, 255); display: block; box-sizing: border-box !important; outline: none 0px !important; width:100% !important;"
            _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/14.jpg">
        </section>
    </section>
    <section style="display:inline-block;">
        <section style="padding-right: 1em;padding-left: 1em;letter-spacing: 1.5px;transform: rotate(0deg);"><strong style="-webkit-max-logical-width: 100%;cursor: text;font-size: 18px;text-align: right;max-inline-size: 100%;box-sizing: border-box !important;outline: none 0px !important;">FAder</strong></section>
        <section style="width: 100%;height: 8px;background: rgb(195, 225, 255);border-width: 1px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;margin-top: -8px;box-sizing: border-box;" data-width="100%"></section>
    </section>
    <section data-autoskip="1" class="" style="font-size: 14px;letter-spacing: 1.5px;line-height: 1.75em;color: rgb(62, 62, 62);padding:0 1em;box-sizing: border-box;">
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">VOLTAGE BASS 厂牌签约艺人</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">DTB PARTYMA主理人</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">多次与全球TOP百大DJ/知名RAP SUPER合作</strong></p>
    </section>
</section>
</section>
<!-- 03 -->

<!-- 04 -->
<section style="border-width: 2px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;overflow: hidden;background: rgb(254, 254, 254);box-sizing: border-box;text-align: center;">
<section style="background:url(&quot;http://hzomc.rc-yiding.com/Wxhttp://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/bg.png&quot;);background-size:100%;">
    <section style="display:flex;justify-content: space-between;align-items: flex-end;">
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 36.5782px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/45.gif" data-order="4">
        </section>
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 38.0328px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/46.gif" data-order="5">
        </section>
    </section>
    <section style="padding-right: 1em;padding-bottom: 1em;padding-left: 1em;box-sizing: border-box;">
        <section style="width: 100%;border-radius: 12px;overflow: hidden;box-sizing: border-box;" data-width="100%">
            <img class="img_loading" style="-webkit-max-logical-width: 100%; cursor: pointer; z-index: -1; text-align: justify; background-color: rgb(255, 255, 255); display: block; box-sizing: border-box !important; outline: none 0px !important; width:100% !important;"
            _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/15.jpg">
        </section>
    </section>
    <section style="display:inline-block;">
        <section style="padding-right: 1em;padding-left: 1em;letter-spacing: 1.5px;transform: rotate(0deg);"><strong style="-webkit-max-logical-width: 100%;cursor: text;font-size: 18px;text-align: right;max-inline-size: 100%;box-sizing: border-box !important;outline: none 0px !important;">YOUNG</strong></section>
        <section style="width: 100%;height: 8px;background: rgb(195, 225, 255);border-width: 1px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;margin-top: -8px;box-sizing: border-box;" data-width="100%"></section>
    </section>
    <section data-autoskip="1" class="" style="font-size: 14px;letter-spacing: 1.5px;line-height: 1.75em;color: rgb(62, 62, 62);padding:0 1em;box-sizing: border-box;">
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">广州达人 DJ YOUNG</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">曾多次参加各种大型音乐节担任主场DJ</strong></p>
    </section>
</section>
</section>
<!-- 04 -->

<!-- 05 -->
<section style="border-width: 2px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;overflow: hidden;background: rgb(254, 254, 254);box-sizing: border-box;text-align: center;">
<section style="background:url(&quot;http://hzomc.rc-yiding.com/Wxhttp://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/bg.png&quot;);background-size:100%;">
    <section style="display:flex;justify-content: space-between;align-items: flex-end;">
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 36.5782px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/45.gif" data-order="4">
        </section>
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 38.0328px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/46.gif" data-order="5">
        </section>
    </section>
    <section style="padding-right: 1em;padding-bottom: 1em;padding-left: 1em;box-sizing: border-box;">
        <section style="width: 100%;border-radius: 12px;overflow: hidden;box-sizing: border-box;" data-width="100%">
            <img class="img_loading" style="-webkit-max-logical-width: 100%; cursor: pointer; z-index: -1; text-align: justify; background-color: rgb(255, 255, 255); display: block; box-sizing: border-box !important; outline: none 0px !important; width:100% !important;"
            _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/16.jpg">
        </section>
    </section>
    <section style="display:inline-block;">
        <section style="padding-right: 1em;padding-left: 1em;letter-spacing: 1.5px;transform: rotate(0deg);"><strong style="-webkit-max-logical-width: 100%;cursor: text;font-size: 18px;text-align: right;max-inline-size: 100%;box-sizing: border-box !important;outline: none 0px !important;">阿童木</strong></section>
        <section style="width: 100%;height: 8px;background: rgb(195, 225, 255);border-width: 1px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;margin-top: -8px;box-sizing: border-box;" data-width="100%"></section>
    </section>
    <section data-autoskip="1" class="" style="font-size: 14px;letter-spacing: 1.5px;line-height: 1.75em;color: rgb(62, 62, 62);padding:0 1em;box-sizing: border-box;">
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">2016年“我要上迷笛”华南赛区总冠军</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">登上深圳迷笛音乐节舞台</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">2017年发行第一张专辑《你的曲调》</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">完成全国19城巡演</strong></p>
    </section>
</section>
</section>
<!-- 05 -->

<!-- 06 -->
<section style="border-width: 2px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;overflow: hidden;background: rgb(254, 254, 254);box-sizing: border-box;text-align: center;">
<section style="background:url(&quot;http://hzomc.rc-yiding.com/Wxhttp://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/bg.png&quot;);background-size:100%;">
    <section style="display:flex;justify-content: space-between;align-items: flex-end;">
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 36.5782px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/45.gif" data-order="4">
        </section>
        <section style="width:50px;margin-top:-2px;">
            <img class=" __bg_gif" style="width: 50px !important; height: 38.0328px !important;"
            _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/46.gif" data-order="5">
        </section>
    </section>
    <section style="padding-right: 1em;padding-bottom: 1em;padding-left: 1em;box-sizing: border-box;">
        <section style="width: 100%;border-radius: 12px;overflow: hidden;box-sizing: border-box;" data-width="100%">
            <img class="img_loading" style="-webkit-max-logical-width: 100%; cursor: pointer; z-index: -1; text-align: justify; background-color: rgb(255, 255, 255); display: block; box-sizing: border-box !important; outline: none 0px !important; width:100% !important;"
            _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/17.jpg">
        </section>
    </section>
    <section style="display:inline-block;">
        <section style="padding-right: 1em;padding-left: 1em;letter-spacing: 1.5px;transform: rotate(0deg);"><strong style="-webkit-max-logical-width: 100%;cursor: text;font-size: 18px;text-align: right;max-inline-size: 100%;box-sizing: border-box !important;outline: none 0px !important;">疯教授</strong></section>
        <section style="width: 100%;height: 8px;background: rgb(195, 225, 255);border-width: 1px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;margin-top: -8px;box-sizing: border-box;" data-width="100%"></section>
    </section>
    <section data-autoskip="1" class="" style="font-size: 14px;letter-spacing: 1.5px;line-height: 1.75em;color: rgb(62, 62, 62);padding:0 1em;box-sizing: border-box;">
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">成立于2014年</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">深受red hot chili peppers的音乐风格影响</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">把乐队的风格定义成funk rock 与rap rock</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">主要原创作品有</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">《神笔马良》《嘿、别走开》</strong></p>
        <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">《城市之间》《我们》等</strong></p>
    </section>
</section>
</section>
<!-- 06 -->

<!-- 07 -->
<section style="border-width: 2px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;overflow: hidden;background: rgb(254, 254, 254);box-sizing: border-box;text-align: center;">
    <section style="background:url(&quot;http://hzomc.rc-yiding.com/Wxhttp://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/bg.png&quot;);background-size:100%;">
        <section style="display:flex;justify-content: space-between;align-items: flex-end;">
            <section style="width:50px;margin-top:-2px;">
                <img class=" __bg_gif" style="width: 50px !important; height: 36.5782px !important;"
                _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/45.gif" data-order="4">
            </section>
            <section style="width:50px;margin-top:-2px;">
                <img class=" __bg_gif" style="width: 50px !important; height: 38.0328px !important;"
                _width="50px" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/46.gif" data-order="5">
            </section>
        </section>
        <section style="padding-right: 1em;padding-bottom: 1em;padding-left: 1em;box-sizing: border-box;">
            <section style="width: 100%;border-radius: 12px;overflow: hidden;box-sizing: border-box;" data-width="100%">
                <img class="img_loading" style="-webkit-max-logical-width: 100%; cursor: pointer; z-index: -1; text-align: justify; background-color: rgb(255, 255, 255); display: block; box-sizing: border-box !important; outline: none 0px !important; width:100% !important;"
                _width="100%" src="http://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/18.jpg">
            </section>
        </section>
        <section style="display:inline-block;">
            <section style="padding-right: 1em;padding-left: 1em;letter-spacing: 1.5px;transform: rotate(0deg);"><strong style="-webkit-max-logical-width: 100%;cursor: text;font-size: 18px;text-align: right;max-inline-size: 100%;box-sizing: border-box !important;outline: none 0px !important;">AKA闻西</strong></section>
            <section style="width: 100%;height: 8px;background: rgb(195, 225, 255);border-width: 1px;border-style: solid;border-color: rgb(51, 51, 51);border-radius: 12px;margin-top: -8px;box-sizing: border-box;" data-width="100%"></section>
        </section>
        <section data-autoskip="1" class="" style="font-size: 14px;letter-spacing: 1.5px;line-height: 1.75em;color: rgb(62, 62, 62);padding:0 1em;box-sizing: border-box;">
            <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">最强嘻哈厂牌GAS</strong></p>
            <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">2018年中国新说唱入围选手</strong></p>
            <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">2019年中国新说唱全国60强</strong></p>
            <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">2019年麦王争霸粤语好声音总决赛：第五名</strong></p>
            <p><strong style="-webkit-max-logical-width: 100%;cursor: text;color: rgb(0, 0, 0);letter-spacing: 0.25px;text-align: justify;box-sizing: border-box !important;outline: none 0px !important;">2018年中国有嘻哈：全国70强</strong></p>
        </section>
    </section>
</section>
<!-- 07 -->

<section>
    <p style="line-height: 1.75em;">
        <br>
    </p>
    <p style="line-height: 1.75em;"><span style="font-size: 14px;">还有更多神秘嘉宾驾到</span>
    </p>
    <p style="line-height: 1.75em;"><span style="font-size: 14px;">未完待续</span>
    </p>
    <p style="line-height: 1.75em;"><span style="font-size: 14px;">从2019嗨到2020，Are you ready？</span>
    </p>
    <p style="line-height: 1.75em;">
        <br>
    </p>
    <p>
        <img class="__bg_gif img_loading" style="-webkit-max-logical-width: 100%; z-index: -1; cursor: pointer; color: rgb(51, 51, 51); font-size: 17px; letter-spacing: 0.544px; max-inline-size: 100%; font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif; box-sizing: border-box !important; outline: none 0px !important; overflow-wrap: break-word !important; visibility: visible !important; width: 100% !important;"
        _width="100%" src="http://hzomc.rc-yiding.com/Wxhttp://hzomc.rc-yiding.com/Wx/Content/KindEditor/attached/image/20191213/19.gif" data-order="18">
    </p>
    <p>
        <br>
    </p>
</section>