<p style="text-align:center;">
    <br />
</p>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017220811_1982.gif" alt="" />
</p>
<p style="text-align:center;">
    <br />
</p>
<p style="text-align:center;">
    <span style="color:#666666;line-height:2;">听说你想来一场</span><strong><span
            style="color:#666666;line-height:2;">不一样的旅行</span></strong>
</p>
<p style="text-align:center;">
    <strong><br />
    </strong>
</p>
<p style="color:#333333;text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017223741_7327.gif" width="25px" alt="" title="" align="" style="width:20px;" />
</p>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017220822_8673.gif" alt="" />
</p>
<p>
    <br />
</p>
<p style="text-align:center;">
    <span style="color:#666666;line-height:2;">既然如此，不如来这里</span>
</p>
<p style="text-align:center;">
    <span style="color:#666666;line-height:2;">开启一场家门口的海洋之旅</span>
</p>
<p style="text-align:center;">
    <br />
</p>
<p style="color:#333333;text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017223741_7327.gif" width="25px" alt="" title="" align="" style="width:20px;" />
</p>
<p style="text-align:center;">
    <span style="color:#666666;line-height:2;">狮子城海洋世界</span>
</p>
<p class="" style="text-align:center;">
    <span style="color:#666666;line-height:2;">体验奇妙之旅</span>
</p>
<p class="" style="text-align:center;">
    <span style="color:#666666;line-height:2;">探索未知的深海世界</span>
</p>
<p>
    <br />
</p>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017221447_8254.jpg" alt="" />
</p>
<p style="text-align:center;">
    <br />
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">位</span><span
        style="color:#666666;line-height:2;">于惠州市惠城区金龙大道主干道上</span>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">是惠州</span><strong><span
            style="color:#666666;line-height:2;">唯一一家海洋生态文化体验馆</span></strong>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">距离惠州江北市中心车程仅</span><strong><span
            style="color:#666666;line-height:2;">15min</span></strong>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">由</span><strong><span
            style="color:#666666;line-height:2;">U型沉浸式影院、表演剧场</span></strong><span style="color:#999999;"><span
            style="color:#666666;line-height:2;">等</span><span style="color:#666666;line-height:2;">项目</span></span>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">组成</span><strong><span
            style="color:#666666;line-height:2;">十二大主题展区</span></strong>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">让人一秒穿越到深海世界</span>
</p>
<p style="color:#333333;text-align:center;">
    <br />
</p>
<p style="color:#333333;text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017223741_7327.gif" width="25px" alt="" title="" align="" style="width:20px;" />
</p>
<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">海底遨游</strong>
</div>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017221550_6541.gif" alt="" />
</p>
<p style="text-align:center;">
    <span style="font-size:14px;line-height:25.6px;color:#7F7F7F;">
        <span style="color:#666666;line-height:2;">一进入隧道，就会被这满屏的湛蓝惊艳到</span>
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">沿着长长的</span><strong>
        <span style="color:#666666;line-height:2;">海底隧道</span></strong>
         <span style="color:#666666;line-height:2;">一路前行</span></span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;">
        <span style="color:#666666;line-height:2;">还会遇到各种各样可爱的鱼群</span>
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">近到仿佛一伸手就能触碰到</span>
</p>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017221629_3784.gif" alt="" />
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">△幸运的话，你还会遇到美人鱼姐姐哦</span>
</p>
<p>
    <br />
</p>
<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">美人鱼剧场</strong>
</div>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20190226/20190226120825_1191.gif"
        alt="" />
</p>
<p style="font-family:Optima-Regular, PingFangTC-light, 微软雅黑;text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">这里是21世纪的</span><strong><span
                style="color:#666666;line-height:2;">“亚特兰蒂斯”</span></strong></span>
</p>
<p style="font-family:Optima-Regular, PingFangTC-light, 微软雅黑;text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">有庄严典雅的</span><strong><span
                style="color:#666666;line-height:2;">海底古城</span></strong><span
            style="color:#666666;line-height:2;">建筑</span></span>
</p>
<p style="font-family:Optima-Regular, PingFangTC-light, 微软雅黑;text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">还有婀娜多姿的</span><strong><span
                style="color:#666666;line-height:2;">美人鱼公主</span></strong></span>
</p>
<p style="font-family:Optima-Regular, PingFangTC-light, 微软雅黑;text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">如梦如幻的美人鱼表演</span><br />
    </span>
</p>
<p style="font-family:Optima-Regular, PingFangTC-light, 微软雅黑;text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">跌宕人心的故事情节</span>
</p>
<p style="font-family:Optima-Regular, PingFangTC-light, 微软雅黑;text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">每一秒都精彩到让人不敢眨眼</span>
</p>
<p style="font-family:Optima-Regular, PingFangTC-light, 微软雅黑;text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20190226/20190226114425_5409.jpg"
        alt="" />
</p>
<p style="font-family:Optima-Regular, PingFangTC-light, 微软雅黑;text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">△看完表演后不少小朋友都舍不得走了</span>
</p>
<div class="biaoyanTime" style="border: 1px solid #ddd;padding: 15px 10px !important;margin-bottom: 30px;margin-top: 30px;border-bottom: 3px solid #ddd;position: relative;">
    <div class="title" style="position: absolute;top: -21px;left: 17%;right: 17%;">
        <strong style="display: block;height: 50px;line-height: 50px;font-size: 15px;color: #f8f9fb;text-align: center;background: #3fbbef;margin: 0 auto;padding: 0 5px;-webkit-border-bottom-left-radius: 2px;
        border-bottom-left-radius: 2px;-webkit-border-bottom-right-radius: 2px;border-bottom-right-radius: 2px; ">美人鱼剧场表演</strong>
    </div>
    <span class="text-danger" style="display: block;line-height: 30px;margin-top: 25px;text-align: center;">
        10:00、11:30、14:00、16:00、17:30、19:00、21:00
    </span>
</div>

<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">水母万花筒</strong>
</div>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017221950_8209.gif" alt="" />
</p>
<p style="text-align:center;">
    <br />
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">这里是</span><strong><span
                style="color:#666666;line-height:2;">水母宝宝</span></strong><span
            style="color:#666666;line-height:2;">的大本营</span></span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">可爱小巧的水母</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">在绚烂的灯光下更显迷人</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">如果你对水母情有独钟</span><br />
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">现场还有用器皿装着的</span><strong><span
                style="color:#666666;line-height:2;">水母售卖</span></strong></span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">千万别错过啦</span>
</p>
<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">海龟家园</strong>
</div>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20190226/20190226120846_7753.gif"
        alt="" />
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">在这里，你能见到</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">从惠东港口远赴而来的海龟</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">开启一场与海龟的亲密接触之旅</span><span
        style="font-size:14px;color:#595959;"><br />
    </span>
</p>

<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">海豹湾</strong>
</div>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20190226/20190226120858_8847.gif"
        alt="" />
</p>

<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">海洋世界还引进了萌炸天的海豹宝宝</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">圆咕噜的小眼睛，可爱的外表</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;line-height:2;color:#666666;">一出场就引来无数少女追逐哦</span>
</p>

<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">海狮欢乐秀</strong>
</div>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20190226/20190226152251_3691.gif" alt="" />
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">超大的室内舞台</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">炫酷的舞台背景</span><br />
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">还有激萌海狮与帅气的驯养师小姐姐</span>
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">这里就是海洋世界一大人气剧场</span>
</p>
<p style="text-align:center;">
    <strong><span style="font-size:14px;color:#666666;line-height:2;">海狮欢乐秀</span></strong>
</p>
<div class="biaoyanTime" style="border: 1px solid #ddd;padding: 15px 10px !important;margin-bottom: 30px;margin-top: 30px;border-bottom: 3px solid #ddd;position: relative;">
    <div class="title" style="position: absolute;top: -21px;left: 17%;right: 17%;">
        <strong style="display: block;height: 50px;line-height: 50px;font-size: 15px;color: #f8f9fb;text-align: center;background: #3fbbef;margin: 0 auto;padding: 0 5px;-webkit-border-bottom-left-radius: 2px;
        border-bottom-left-radius: 2px;-webkit-border-bottom-right-radius: 2px;border-bottom-right-radius: 2px; ">海狮欢乐秀剧场</strong>
    </div>
    <span class="text-danger" style="display: block;line-height: 30px;margin-top: 25px;text-align: center;">
        10:30、12:00、14:30、16:30、18:00、19:30
    </span>
</div>

<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">3D奇幻海洋</strong>
</div>

<p style="color:#333333;text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017222638_4025.gif" alt="" />
</p>
<p style="color:#333333;text-align:center;">
    <br />
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">想来场穿越古今的历险记么？</span>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">穿过3D奇幻海洋中央的</span><strong><span
            style="color:#666666;line-height:2;">雾幕</span></strong>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">你可以亲身感受一番</span>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">远古物种从远古到现代的进化历程</span>
</p>

<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">U型沉浸式影院</strong>
</div>
<p style="color:#333333;text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017222838_3144.jpg" alt="" />
</p>
<p style="color:#333333;text-align:justify;">
    <br />
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">这是一个运用了裸眼技术加场景特效</span>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">打造而成的</span><strong><span
            style="color:#666666;line-height:2;">5D沉浸式幻真海底世界</span></strong>
</p>
<p style="color:#333333;text-align:center;">
    <strong><span style="color:#666666;line-height:2;">270°</span></strong><span
        style="color:#666666;line-height:2;">的超大环形屏幕</span>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">让你无论怎么看，都毫无死角</span>
</p>
<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">雨林秘境</strong>
</div>
<p style="text-align:center;">
    <strong>
        <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017222859_2824.jpg" alt="" />
    </strong>
</p>

<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">从入口已经能窥探到一丝神秘的气息</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">进入的瞬间，感觉一整个</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;"><strong>远古时期的热带雨林</strong></span>
</p>
<p style="text-align:center; margin-bottom: 30px;">
    <span style="font-size:14px;color:#666666;line-height:2;">都被搬到了这里</span>
</p>

<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">珊瑚王国</strong>
</div>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017223030_4012.gif" alt="" />
</p>
<p style="text-align:center;">
    <br />
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">在这里，亲切的工作人员除了会带你见识</span>
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">各种各样好看的珊瑚宝宝们外</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">还会带你开启一场关于珊瑚王国的旅行</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">邂逅各种神奇的海洋小生物哦</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">除此之外，来到惠州狮子城</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">你还可以畅览欧式城堡的独特魅力</span>
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">畅享胜利广场汇演哦</span>
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">▼</span>
</p>

<div class="content_title" style="border-bottom: 1px dashed #999999;margin-bottom: 5px;width: 160px;margin: 10px auto; ">
    <strong style="margin: 5px auto;text-align: center;height: 35px;line-height: 35px;background-color: #ff9f28;width: 160px;color: #fff;font-size: 16px;display: block;border-bottom: 3px solid #ff8400;-webkit-border-radius: 2px;
    border-radius: 2px; ">随手玩自拍</strong>
</div>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20190226/20190226123443_9160.jpg"
        alt="" />
</p>
<p style="text-align:center;padding:20px 0 10px 0">
    <span style="font-size:14px;color:#666666;line-height:2;">“分享快乐”主题汇演</span>
</p>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20190226/20190226123523_4472.gif"
        alt="" />
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">自十月起登场的“分享快乐“主题汇演</span>
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">是惠州狮子城新晋的王牌节目之一</span>
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">这里有让你穿越到古罗马的</span><strong><span
                style="color:#666666;line-height:2;">3D墙体投影大片</span></strong></span>
</p>
<p style="font-size:17px;text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">激情四射的</span><strong><span
                style="color:#666666;line-height:2;">劲爆派对</span></strong></span>
</p>
<p style="font-size:17px;text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">舞力全开动的</span><strong><span
                style="color:#666666;line-height:2;">动感舞蹈</span></strong></span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">还有巨萌的</span><strong><span
                style="color:#666666;line-height:2;">人偶舞蹈秀</span></strong><span
            style="color:#666666;line-height:2;">哦</span></span>
</p>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017223137_6051.gif" alt="" />
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">那么快乐的狂欢盛宴</span>
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">你会错过吗？</span>
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">最后给大家送上一份胜利广场汇演时间表</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">▽</span>
    </span>
</p>

<!-- -----------时间表------------- -->
<div class="timeForm" style="border: 1px solid #ddd;padding: 15px 0 0 0 !important;border-bottom: 3px solid #ddd;position: relative;margin-top: 30px;margin-bottom: 30px;">
    <div class="title" style="position: absolute;top: -21px;left: 10%;right: 17%;">
        <strong style="display: block;height: 50px;line-height: 50px;font-size: 16px;color: #f8f9fb;text-align: center;background: #3fbbef;margin: 0 auto;
        padding: 0 5px;-webkit-border-bottom-left-radius: 2px;border-bottom-left-radius: 2px;-webkit-border-bottom-right-radius: 2px;border-bottom-right-radius: 2px;-webkit-border-top-right-radius: 2px;border-top-right-radius: 2px;">狮子城胜利广场汇演时间表</strong>
    </div>
    <p class="mt-3 pt-0 pb-0 pl-2 pr-2" style="margin-top:20px!important; padding-top: 0 !important;padding-bottom: 0 !important;padding-left: 0.5rem !important;
     padding-right: 0.5rem !important; padding: 0 0 20px 0;line-height: 30px;text-align: left !important;color: #666666;font-size: 14px;">
        国庆期间10月1日至5日、7日表演时间
    </p>
    <p class="mt-3 pt-0 pb-0 pl-2 pr-2" style="margin-top:20px!important; padding-top: 0 !important;padding-bottom: 0 !important;padding-left: 0.5rem !important;
     padding-right: 0.5rem !important; padding: 0 0 20px 0;line-height: 30px;text-align: left !important;color: #666666;font-size: 14px;">
        <span style="background-color: #ff9f28;color: #FFFFFF !important;padding: 2px;margin-right: 5px; ">第一场</span>9:00 多媒体水秀
    </p>
    <p class="pt-0 pb-0 pl-2 pr-2" style="margin-top:5px!important; padding-top: 0 !important;padding-bottom: 0 !important;padding-left: 0.5rem !important;
    padding-right: 0.5rem !important; padding: 0 0 20px 0;line-height: 30px;text-align: left !important;color: #666666;font-size: 14px;">
        <span style="background-color: #ff9f28;color: #FFFFFF !important;padding: 2px;margin-right: 5px; ">第二场</span>11:00 多媒体水秀
    </p>
    <p class="pt-0 pb-0 pl-2 pr-2" style="margin-top:5px!important;padding-top: 0 !important;padding-bottom: 0 !important;padding-left: 0.5rem !important;
    padding-right: 0.5rem !important; padding: 0 0 20px 0;line-height: 30px;text-align: left !important;color: #666666;font-size: 14px;">
        <span style="background-color: #ff9f28;color: #FFFFFF !important;padding: 2px;margin-right: 5px; ">第三场</span>14:00 多媒体水秀
    </p>
    <p class="pt-0 pb-0 pl-2 pr-2" style="margin-top:5px!important;padding-top: 0 !important;padding-bottom: 0 !important;padding-left: 0.5rem !important;
    padding-right: 0.5rem !important; padding: 0 0 20px 0;line-height: 30px;text-align: left !important;color: #666666;font-size: 14px;">
        <span style="background-color: #ff9f28;color: #FFFFFF !important;padding: 2px;margin-right: 5px; ">第四场</span>16:00 多媒体水秀<br/>
    </p>
    <p class="pt-0 pb-0 pl-2 pr-2" style="margin-top:5px!important; padding-top: 0 !important;padding-bottom: 0 !important;padding-left: 0.5rem !important;
    padding-right: 0.5rem !important; padding: 0 0 20px 0;line-height: 30px;text-align: left !important;color: #666666;font-size: 14px;">
        <span style="background-color: #ff9f28;color: #FFFFFF !important;padding: 2px;margin-right: 5px; ">第五场</span>18:00 多媒体水秀<br/>
    </p>
    <p class="pt-0 pb-0 pl-2 pr-2" style="margin-top:5px!important;padding-top: 0 !important;padding-bottom: 0 !important;padding-left: 0.5rem !important;
    padding-right: 0.5rem !important; padding: 0 0 20px 0;line-height: 30px;text-align: left !important;color: #666666;font-size: 14px;">
        <span style="background-color: #ff9f28;color: #FFFFFF !important;padding: 2px;margin-right: 5px; ">第六场</span>19:00 多媒体水秀<br />
        （周一到周四）20:00-20:39；<br />
        （周五到周日及法定节假日）20:00-20:46；
    </p>
</div>
<!-- ---------end 时间------------ -->



<p style="text-align:center;">
    <span style="font-size:14px;color:#666666;line-height:2;">爱吃爱玩的你，在狮子城园区内还会遇到</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">胜利广场</span><strong><span
                style="color:#666666;line-height:2;">户外电玩</span></strong><span
            style="color:#666666;line-height:2;">区</span><br />
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">美食集中营</span><strong><span
                style="color:#666666;line-height:2;">休闲餐饮</span></strong><span
            style="color:#666666;line-height:2;">区</span><br />
    </span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span
            style="color:#666666;line-height:2;">户外运动胜地狮子城</span><strong><span
                style="color:#666666;line-height:2;">攀岩</span></strong><span
            style="color:#666666;line-height:2;">区</span></span>
</p>
<p style="text-align:center;">
    <strong><span style="font-size:14px;color:#666666;line-height:2;">儿童水上娱乐区</span></strong><span
        style="font-size:14px;color:#666666;line-height:2;">等等</span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;">▽</span></span>
</p>
<p style="text-align:center;">
    <span style="font-size:14px;color:#7F7F7F;"><span style="color:#666666;line-height:2;"><br />
        </span></span>
</p>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017223416_0381.gif" alt="" />
</p>
<p style="text-align:center;">
    <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017223438_4010.gif" alt="" />
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">一趟旅行</span>
</p>
<p style="color:#333333;text-align:center;">
    <span style="color:#666666;line-height:2;">让你一秒感受N种风情N种乐趣！</span>
</p>
<p style="text-align:center;">
    <span style="color:#666666;line-height:2;">快来惠州狮子城开启浪漫的海洋之旅吧！</span>
</p>
<p style="text-align:center;">
    <span style="color:#666666;line-height:2;">通往狮子城奇妙世界的路线</span>
</p>

<!-- ---------------start 路线----------- -->
<div class="road" style="">
    <strong style="display: block;font-size: 16px;font-weight: bold;text-align: left;background-color: #ddd;height: 35px;line-height: 45px;">
        <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017223454_1597.gif" width="25px" style="float: left;width: 25px;margin: 0 10px 0 0;padding: 0 !important;" >
        公交路线
    </strong>
    <span style="display: block;padding: 15px 15px 15px 35px;border: 1px solid #ddd;color: #666!important;line-height: 30px;">
        30路-&gt;美地花园城站&lt;-&gt;ASM先进科技站<br/>
        线路由美地花园城站首末站始发，经东平、会展中心、华茂中心、体育中心、义乌小商品城等，至狮子城站下即可。
    </span>
    <strong style="display: block;font-size: 16px;font-weight: bold;text-align: left;background-color: #ddd;height: 35px;line-height: 45px;">
        <img src="http://hzomc.rc-yiding.com/Content/KindEditor/attached/image/20181017/20181017223509_0569.gif" width="25px" style="float: left;width: 25px;margin: 0 10px 0 0;padding: 0 !important;" >
        自驾路线
    </strong>
    <span style="display: block;padding: 15px 15px 15px 35px;border: 1px solid #ddd;color: #666666 !important;line-height: 30px; ">
        直接导航“狮子城-西门”即到<br/>
        地址：惠州市惠城区金龙大道99号<br/>
        电话：0752-2888688<br/>
        客服在线时间：09:00-12:00,13:30-22:00<br/>
        营业时间：10:00-22:00<br/>
        温馨提示：为方便出行，建议可滴滴或搭乘公交前往。
    </span>
</div>
<!-- ------------end  路线----------- -->