<p style="text-align:center;">
        <span style="color:#666666;font-size:14px;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="color:#666666;font-size:14px;">儿童节就要到了</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">想好带你家小宝贝去哪里玩了吗？</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">
        <img src="/Content/KindEditor/attached/image/20190524/20190524214421_7933.gif" alt="" style="width:50%;height:50%;" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        偷偷告诉你<strong><span style="color:#FF9900;">江北有一个童话小城</span></strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        将化身大型游园会现场
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        好玩的游戏、精美的礼品、
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        好看的表演、好吃的零食一一奉上
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        只为在这个欢乐的节日里
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">带来一场最欢乐的亲子嘉年华！</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524212338_9183.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#FF9900;"> 
    <div style="text-align:center;">
        <strong>6月1-2日</strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#FF9900;"> 
    <div style="text-align:center;">
        <strong>欧美城彩色童年</strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        欢乐多多、精彩多多
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        快来一起抢先看
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">▽</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#FFFFFF;background-color:#FF9900;"><strong>01、趣味亲子嘉年华</strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#FFFFFF;background-color:#FF9900;"><strong><br />
    </strong></span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        儿童节是小朋友的节日
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        有了爸爸妈妈的陪伴才会更加快乐
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        这次六一
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">全家人齐上阵、勇闯关</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524212505_1996.gif" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        毛毛虫竞速、珠行万里、运转乾坤
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        合力堆塔、手脚并用、众星捧月
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        各种各样的有趣游戏
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">挑战你们的团结与默契</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">毛毛虫竞速▽</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524212536_3558.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">运转乾坤<span style="color:#666666;font-size:14px;">▽</span></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><span style="color:#666666;font-size:14px;">
        <img src="/Content/KindEditor/attached/image/20190524/20190524212603_9183.jpg" alt="" /><br />
    </span></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><span style="color:#666666;font-size:14px;"><br />
    </span></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">珠行万里▽</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524212624_8246.gif" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">众星捧月<span style="color:#666666;font-size:14px;">▽</span></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><span style="color:#666666;font-size:14px;">
        <img src="/Content/KindEditor/attached/image/20190524/20190524212645_5902.jpg" alt="" /><br />
    </span></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><span style="color:#666666;font-size:14px;"><br />
    </span></span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        而且这次亲子趣味嘉年华的趣味比赛
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        不仅设有儿童组、亲子组
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        还有成人组哦！
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        在场的每一个人都能参与进来
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">收获满满欢乐！</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524212702_2152.gif" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#000000;"> 
    <div style="text-align:center;">
        <strong>活动时间：6月1-2日 09：30-10:30；</strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#000000;"> 
    <div style="text-align:center;">
        <strong>15:00-16:00</strong>
    </div>
    </span><span style="line-height:2;font-size:14px;color:#000000;"> 
    <div style="text-align:center;">
        <strong>活动地点：胜利广场</strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#000000;"> 
    <div style="text-align:center;">
        <strong>PS.主持人会在现场召集游客参与游戏</strong> 
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong>想玩的盆友们记得踊跃报名啦！</strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong><br />
    </strong></span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        欧美城彩色童年现场还将空降军事体验区
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        让你体验真实cs
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">喜欢刺激游戏的朋友们千万不要错过哦~</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524212738_7621.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">（具体详情请以现场为准）</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong>活动地点：欧美城一号馆广场</strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong><br />
    </strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#FFFFFF;background-color:#FF9900;"><strong>02、童趣缤纷乐园</strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#FFFFFF;background-color:#FF9900;"><strong><br />
    </strong></span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        儿童节最重要的就是<strong><span style="color:#FF9900;">玩游戏、拿礼物</span></strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        <strong><span style="color:#FF9900;">智勇大冲关</span></strong>需要你智勇双全
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        火线冲击、真人大富翁、挑战10秒…
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">闯关成功的就能拿到精美礼品哦！</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524212853_7152.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong>地点：2号婚博馆1楼大厅</strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong><br />
    </strong></span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        小朋友多做手工能很好地锻炼动手能力
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        在这里
    </div>
    </span><span style="line-height:2;font-size:14px;color:#FF9900;"> 
    <div style="text-align:center;">
        <strong>捕梦网、尤克里里、圆扇纸伞</strong> 
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">统统可以DIY</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524212931_0121.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong>地点：2号婚博馆1楼大厅</strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong><br />
    </strong></span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        还有遥控车体验、捕鱼达人、
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        网红烟雾冰淇淋…
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">更多好玩好吃的人气摊位等着你！</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213001_2308.gif" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213017_8246.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong>地点：胜利广场</strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong><br />
    </strong></span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#FF9900;"> 
    <div style="text-align:center;">
        <strong>现场还会有可酷娃平衡车免费体验</strong> 
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#FF9900;"><strong>培养小朋友一个运动兴趣也不错！</strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#FF9900;"><strong><br />
    </strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213057_2933.gif" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#FFFFFF;background-color:#FF9900;"><strong>03、十大童星汇演、百万粉丝网红互动</strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#FFFFFF;background-color:#FF9900;"><strong><br />
    </strong></span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        欧美城彩色童年
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        将为你献上一场融合了
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        童星、童乐、童声的音乐嘉年华
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        这些童星可是个个多才多艺、功夫了得
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">可能不久后的“流量”“爱豆”就是他们哦！</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        ▽李俊超▽
    </div>
    </span> 
    <p style="text-align:left;">
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;中国澳门国际莲花奖青少年艺术节声乐金奖；第五届广东省青少年才艺大赛冠军；CCTV非常6+1广东省总决赛金奖</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213132_2308.jpg" alt="" /><br />
    </span> 
    </p>
    <p>
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        ▽林鑫▽
    </div>
    </span> 
    <p style="text-align:left;">
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;“印象北京-2018中小学美育成果展演”金奖；“CCTV星光大道”广州赛银奖</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213154_5746.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        ▽蔡稷康▽
    </div>
    </span> 
    <p style="text-align:left;">
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;广东电视台少儿才艺大赛二等奖；广东少儿艺术大赛决赛第一名</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213258_5121.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        ▽黄熙善▽
    </div>
    </span> 
    <p style="text-align:left;">
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;“粤港澳”童声大赛（总决赛）金奖;参加YY年度盛典与吴莫愁、毛不易、周延等明星同台演出</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524223600_9183.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        ▽朱健伦▽
    </div>
    </span> 
    <p style="text-align:left;">
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;参加WCOPA世界艺术锦标赛荣获金奖；2019 年 3 月作为十大童星之一参加广州星海音乐厅十大童星演唱会&nbsp;</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213320_4496.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        ▽Happy star▽
    </div>
    </span> 
    <p style="text-align:left;">
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;Happy stat组合（刘思慧十张卜予）;参加Q宝贝湖南卫视广州赛区总决赛前十名，并荣获最位演艺奖，参加广州小金钟全球总决赛银奖</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213331_2465.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        ▽刘思慧▽
    </div>
    </span> 
    <p style="text-align:left;">
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;荣获CCTV少年中国行青少年才艺电视评选广东赛区声乐金奖；中国璀璨之星才艺大赛荣获季军。</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213342_3246.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        ▽邓子杰▽
    </div>
    </span> 
    <p style="text-align:left;">
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;星动五洲中国校园英才艺术节广东省总评选荣获特金奖；为《厉害了宝宝》大赛做形象代言</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213353_2152.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><span style="color:#666666;font-size:14px;">▽</span>许泽穗<span style="color:#666666;font-size:14px;">▽</span></span> 
    </p>
    <p style="text-align:left;">
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;参加WCOPA世界艺术锦标赛荣获冠军；作为十大童星之一参加广州星海音乐厅十大童星演唱会</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213422_8715.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        百万粉丝网红 音响哥
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        央视励志歌手宁新兵
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        校园人气组合“OK同学”
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">也将在6月1-2日为大家带来精彩表演</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213439_6215.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#000000;"> 
    <div style="text-align:center;">
        <strong>欧美城彩色童年</strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#000000;"> 
    <div style="text-align:center;">
        <strong>收费标准</strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        成人 30元/人
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">儿童（1.2m-1.5m） 20元/人</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        本次活动由
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">惠州欧美城、渔歌传媒联合主办</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        感谢
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        执行方：渔歌传媒
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        平台宣传方：惠州妈妈派
    </div>
    </span><span style="line-height:2;font-size:14px;color:#FF9900;"> 
    <div style="text-align:center;">
        <strong>熊猫不走蛋糕</strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#FF9900;"> 
    <div style="text-align:center;">
        <strong>么尚国际健康洗护</strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#FF9900;"> 
    <div style="text-align:center;">
        <strong>惠州爱尔眼科医院</strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#FF9900;"> 
    <div style="text-align:center;">
        <strong>中国移动</strong> 
    </div>
    </span><span style="line-height:2;font-size:14px;color:#FF9900;"> 
    <div style="text-align:center;">
        <strong>可酷娃</strong> 
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">对本次欧美城彩色童年的大力支持~</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213538_2309.gif" style="width:50%;height:50%;" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        除了好玩的儿童节特别活动外
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        欧美城还有更多有趣的项目等你来体验
    </div>
    </span> 
    <p style="text-align:center;">
        <br />
    </p>
    <p style="text-align:center;">
        <br />
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        最适合玩耍的多媒体水秀
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        夏日天气那么热 玩水也不怕
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong>（温馨提示：想玩水的宝宝们记得带多一套衣服啦）</strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#000000;"><strong><br />
    </strong></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213718_1215.gif" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        还有舞蹈小姐姐、巨萌的欧欧一家
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">不定时会在广场上惊喜出现哦~</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213738_6058.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        欧美城的王牌节目“分享快乐”主题汇演
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        20点准时上演
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        最绚烂的灯光、高科技3D投影、
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        动感舞蹈、热情互动…
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">嗨翻你的夏日夜晚！</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213755_3871.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        更有嗨玩一条街、机动游乐项目、
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        手摇船、步行球、攀岩等等
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        大朋友小朋友爱玩的
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">让你玩一天都停不下来</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524213939_7152.gif" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        还有海洋世界、卡丁车馆
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        让你遨游海底世界
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">体验速度与激情</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">海洋世界▽</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524214007_4027.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">卡丁车<span style="color:#666666;font-size:14px;">▽</span></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><span style="color:#666666;font-size:14px;"><img src="/Content/KindEditor/attached/image/20190524/20190524214019_0590.jpg" alt="" /><br />
    </span></span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><span style="color:#666666;font-size:14px;"><br />
    </span></span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        悄悄提醒一下大家
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        卡丁车馆现在有童车啦！
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">小朋友也可以安全地体验卡丁车了~</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524214035_3090.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        福利小提示
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        网红打卡街现在也是免费开放的哦~
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">想和小朋友留下美照纪念的一定要去逛一逛！</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524214058_9496.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        有美食天地和会所餐厅在
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        不用怕肚子饿
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        各国、各式美食为你急速充电
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">补充能量继续玩！</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524214210_6059.gif" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        更有会所KTV、会所酒店
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">为你快乐加码</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524214227_6683.jpg" alt="" /><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        这个六一儿童节
    </div>
    </span><span style="line-height:2;font-size:14px;color:#666666;"> 
    <div style="text-align:center;">
        来欧美城
    </div>
    </span> 
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;">get住彩色童年！</span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <p style="text-align:center;">
        <span style="line-height:2;font-size:14px;color:#666666;"><img src="/Content/KindEditor/attached/image/20190524/20190524214321_6527.gif" alt="" style="width:50%;height:50%;" /><br />
    </span> 
    </p>
    <p>
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;<strong><span style="color:#FFFFFF;background-color:#FF9900;">惠州欧美城</span></strong></span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;地址：惠州市惠城区金龙大道99号</span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;电话：0752-2888688</span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;客服在线时间：10:00-12:00,13:30-22:00</span><br />
    <p>
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;园区营业时间：10:00-22:00</span> 
    </p>
    <p>
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;<strong><span style="background-color:#FF9900;color:#FFFFFF;">注意：</span></strong></span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;海洋世界营业时间为：10:00-19:00；</span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;婚博艺术中心营业时间为：09:00-22:00；</span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;格林披治卡丁车馆营业时间为：10：00-22:00（法定节假日如有变化将另行通知）；</span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;欧欧之家营业时间为：10:00-22:00（含天鹅湖畔泳池、攀岩区）；</span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;欧美城会所营业时间：餐厅07:30-01:00、客房24小时营业、KTV12:00-02:00、健身房08:00-22:00；</span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;美食天地营业时间：10:00-21：00；</span><br />
    <p>
        <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;花车营业时间：10:00-22:00</span> 
    </p>
    <p>
        <span style="line-height:2;font-size:14px;color:#666666;"><br />
    </span> 
    </p>
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;<strong><span style="background-color:#FF9900;color:#FFFFFF;">路线指引：</span></strong></span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;1、自驾导航“欧美城文化小镇西门”即到</span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;2、惠城区可乘坐30路公交车至“欧美城”站下</span><br />
    <span style="line-height:2;font-size:14px;color:#666666;">&emsp;&emsp;温馨提示：为方便出行，建议可滴滴或搭乘公交前往。另园区禁止携带外带食品进园，请游客朋友们注意~</span><br />