<div class="w_down">
	<p>
		<strong><span style="color:#FFFFFF;font-size:14px;background-color:#E56600;"><br />
			</span></strong>
	</p>
	<p>
		<strong>
			<span style="color:#FFFFFF;font-size:14px;background-color:#E56600;padding:2px;display: block;width:55%; margin:0 auto">想知道卡丁车馆有多好玩？</span>
		</strong>
	</p>

	<span style="line-height:2;color:#E56600;font-size:14px;">
		<div style="text-align:center;">
			<strong>格林披治卡丁车馆</strong>
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			位于欧美城文化小镇四号馆内
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			距离惠州江北市中心仅<strong><span style="color:#E56600;">15</span></strong>分钟车程
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			有别于其他卡丁车场所
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			环境只能用高大上来形容
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			一进大厅就看到悬挂着的大屏幕
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">专业赛事场地的既视感</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514171818_1957.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			透过巨大的落地玻璃
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			还能看到疾驰在蜿蜒赛道上的卡丁车
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">让你有观看国际卡丁车赛事的紧张feel</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514171920_5394.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			馆内还贴心配备了餐饮区
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			让你能及时补充水分与能量
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">“充电”满格！！！</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172137_1176.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			然而，这还没完
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">格林披治卡丁车馆还有众多<strong><span
					style="color:#E56600;">镇馆之宝</span></strong></span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><strong><span style="color:#E56600;"><br />
				</span></strong></span>
	</p>
	<div class="content_title1">
		<strong>
			<em>1</em><span>源自法国的卡丁车</span>
		</strong>
	</div>

	<p>
		<span
			style="line-height:2;color:#666666;font-size:14px;">&emsp;&emsp;卡丁车均按照非常严格的标准在Cou?ron（法国）工厂设计和生产，品牌<strong><span
					style="color:#E56600;">堪称世界卡丁车届的NO.1<span
						style="color:#666666;">，</span></span></strong>安全性能当然杠杠滴！</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172247_0863.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			专业的品牌卡丁车
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			不仅能享受速度的激情
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">还玩得超放心</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172301_1332.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>

	<div class="content_title1">
		<strong>
			<em>2</em><span>专业的运营管理系统</span>
		</strong>
	</div>

	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			格林披治卡丁车馆
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">引进最先进、专业的<strong><span
					style="color:#E56600;">卡丁车运营管理系统</span></strong></span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172323_9457.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172346_1957.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			通过大屏幕可以即时看到你的名字、头像
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			还能<strong><span style="color:#E56600;">实时查看你的速度成绩</span></strong>
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">一秒晒圈，装逼力max！</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172402_4770.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172414_9457.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			运营管理系统中还设有
		</div>
	</span><span style="line-height:2;color:#E56600;font-size:14px;">
		<div style="text-align:center;">
			<strong>速度控制系统</strong>
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			发车或停车时
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			工作人员会将速度调慢
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">确保安全</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172552_1800.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			当车进入赛道后
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			就会将速度调快
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">让你享受最极致的<strong><span
					style="color:#E56600;">速度体验</span></strong></span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172624_4144.gif" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>

	<div class="content_title1">
		<strong>
			<em>3</em><span>专业教练团队</span>
		</strong>
	</div>

	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			没开过？不会玩？
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			统统不用担心
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			现场还有<strong><span style="color:#E56600;">专业教练手把手教学</span></strong>
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">小白也能变速度大神！</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172654_1332.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172719_7113.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>

	<div class="content_title1">
		<strong>
			<em>4</em><span>专业装备</span>
		</strong>
	</div>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			加上专业装备的加持
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			人人都能成为赛车手！
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">（赛车服可在现场租赁，也可以选择穿自己衣服）</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172744_7582.gif" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			穿着专业赛车服
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">美照拍到足以塞满手机内存</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><img
				src="/Content/KindEditor/attached/image/20190514/20190514172800_5863.jpg" alt="" /><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			生活中无处安放的疯狂灵魂
		</div>
	</span>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">来这里一次性全部宣泄出来！</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;">
			<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=e0870uu1jbn"
				style="width:100%;height:200px;">
			</iframe>
		</span>
	</p>
	<p>
		<span style="line-height:2;color:#666666;font-size:14px;"><br />
		</span>
	</p>
	<span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			除了卡丁车
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			520当然少不了浪漫
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<div style="text-align:center;">
			欧美城还有更多好玩好看的项目等着你
		</div>
	</span><span style="line-height:2;color:#666666;font-size:14px;">
		<p>
			<br />
		</p>
	</span>
	<div id="js_article" class="rich_media">
		<div id="js_top_ad_area" class="top_banner"></div>
		<div class="rich_media_inner">
	
			<div id="page-content" class="rich_media_area_primary">
	
				<div class="rich_media_area_primary_inner">
	
					<div id="img-content">
	
						<div class="rich_media_content " id="js_content">
	
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="color: rgb(127, 127, 127);font-size: 14px;">点进来的你真的很醒目</span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="color: rgb(127, 127, 127);font-size: 14px;">这个消息真的很<strong>重磅</strong></span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><br /></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="color: rgb(127, 127, 127);font-size: 14px;"><strong><img
											src="/Content/KindEditor/attached/image/20190708/1.webp.jpg"
											style="height: 120px;width: 120px;" /></strong></span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><br /></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="color: rgb(127, 127, 127);font-size: 14px;">众所周知</span></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);font-size: 14px;">惠州狮子城已实行</span><strong><span
										style="color: rgb(127, 127, 127);max-inline-size: 100%;font-size: 14px;box-sizing: border-box !important;outline: none 0px !important;">“</span><span
										style="color: rgb(127, 127, 127);font-size: 14px;">园区大门票免费”</span></strong></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);font-size: 14px;">的惠民政策一段long long time</span></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);font-size: 14px;">（PS：黄金节假日与特殊活动日除外）</span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);caret-color: red;">但作为惠州一大网红旅游胜地</span><br />
							</p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="color: rgb(127, 127, 127);font-size: 14px;">每隔一段时间</span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="color: rgb(127, 127, 127);font-size: 14px;">小编还会收到来自五湖四海的新伙伴的疑问</span></p>
							<section class="_135editor" data-tools="" data-id="89715" style="white-space: normal;">
								<section style="margin-right: auto;margin-left: auto;width: 35px;"><img
										src="/Content/KindEditor/attached/image/20190708/2.gif"
										style="width: 35px;display: block;" /></section>
							</section>
							<section class="_135editor" data-tools="" data-id="93768" style="white-space: normal;">
								<section style="padding: 5px;box-sizing: border-box;">
									<section
										style="padding: 4px;background: rgb(0, 176, 240);border-radius: 20px;box-sizing: border-box;">
										<section
											style="padding: 0.2em;background: rgb(255, 255, 255);border-radius: 15px;box-sizing: border-box;">
											<section
												style="padding: 1em;border-width: 1px;border-style: dashed;border-color: rgb(0, 176, 240);border-radius: 15px;box-sizing: border-box;">
												<section style="text-align: center;"><span
														style="color: rgb(127, 127, 127);font-size: 14px;">惠州狮子城收费吗？<br /></span>
												</section>
												<p style="margin-top: 10px;text-align: center;"><span
														style="color: rgb(127, 127, 127);font-size: 14px;">多大要收费？</span></p>
												<p style="margin-top: 10px;text-align: center;"><span
														style="color: rgb(127, 127, 127);font-size: 14px;">黄金节假日也要收费吗？</span>
												</p>
												<p style="margin-top: 10px;text-align: center;"><span
														style="color: rgb(127, 127, 127);font-size: 14px;">可以一票通吗？</span>
												</p>
											</section>
										</section>
									</section>
								</section>
							</section>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<br /></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);font-size: 14px;">鉴于不少小伙伴会被咱的收费标准给绕晕</span></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);font-size: 14px;">经过咱一番深思熟虑后</span></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);font-size: 14px;">现决定</span></p>
							<section class="_135editor" data-tools="" data-id="89894" style="white-space: normal;">
								<section data-id="us515156" class="_135editor">
									<section data-width="100%" style="text-align: center;"><img
											src="/Content/KindEditor/attached/image/20190708/3.gif" style="width: 60px;" />
									</section>
								</section>
							</section>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span
									style="color: rgb(127, 127, 127);font-size: 14px;">自<strong>2019年7月8日（周一）</strong>起</span>
							</p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);font-size: 14px;">惠州狮子城将恢复</span></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<strong><span style="color: rgb(127, 127, 127);font-size: 14px;">园区大门票收费标准啦</span></strong>
							</p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<br /></p>
							<section class="_135editor" data-tools="" data-id="93131" style="white-space: normal;">
								<section data-role="paragraph" class="_135editor"
									style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
									<section style="margin: 15px;">
										<section
											style="margin-top: 10px;line-height: 10px;color: inherit;border-top: 1px solid rgb(198, 198, 199);border-bottom: 1px solid rgb(198, 198, 199);box-sizing: border-box;">
											<section data-width="65%"
												style="margin-top: -1px;margin-left: 183.967px;font-size: 40px;color: inherit;height: 8px;width: 341.671px;background-color: rgb(254, 254, 254);">
												<span style="color: rgb(198, 198, 199);">“</span></section>
											<section style="margin: 5px 15px 20px;">
												<section class="135brush"
													style="line-height: 1.75em;color: rgb(89, 89, 89);font-size: 14px;letter-spacing: 1.5px;">
													<p
														style="color: rgb(51, 51, 51);font-size: 17px;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
														<span style="color: rgb(217, 33, 66);"><strong><span
																	style="font-size: 14px;">平日（周一至周五）20元/人</span></strong>
														</span>
													</p>
													<p
														style="color: rgb(51, 51, 51);font-size: 17px;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
														<span style="color: rgb(217, 33, 66);"><strong><span
																	style="font-size: 14px;">周末（周六至周日）及法定节假日30元/人</span></strong>
														</span>
													</p>
													<p
														style="color: rgb(51, 51, 51);font-size: 17px;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
														<span
															style="color: rgb(127, 127, 127);font-size: 14px;">大小同价！1.2m（不含）以下小朋友可免票</span>
													</p>
												</section>
											</section>
											<section data-width="65%"
												style="margin-bottom: -8px;font-size: 40px;background-color: rgb(254, 254, 254);color: inherit;text-align: right;height: 10px;width: 341.671px;">
												<span style="color: rgb(198, 198, 199);">”</span></section>
										</section>
									</section>
								</section>
							</section>
							<p style="white-space: normal;"><br /></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);font-size: 14px;">但重点是</span><br /></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);font-size: 14px;">∨</span></p>
							<section class="_135editor" data-tools="" data-id="92418" style="white-space: normal;">
								<section class="_135editor"
									style="border-width: 0px;border-style: initial;border-color: currentcolor;box-sizing: border-box;">
									<p><br /></p>
									<section data-width="100%">
										<section
											style="margin-right: auto;margin-left: auto;text-align: center;transform: translateZ(10px);">
											<section
												style="padding-right: 6px;padding-left: 6px;width: auto;display: inline-block;background-color: rgb(254, 254, 254);box-sizing: border-box;">
												<section style="display: flex;">
													<section
														style="padding-right: 15px;padding-left: 15px;border-radius: 8px;height: 35px;color: rgb(254, 254, 254);line-height: 35px;font-size: 18px;background-color: rgb(0, 176, 240);transform: translateZ(10px);">
														<p style="color:#ffffff"><strong>大门票可以全园区抵扣</strong></p>
													</section>
												</section>
											</section>
										</section>
										<section
											style="margin-top: -18px;padding: 15px;border-width: 1px;border-style: solid;border-color: rgb(0, 176, 240);box-sizing: border-box;">
											<section class="135brush" style="line-height: 30px;">
												<p style="text-align: center;line-height: 1.75em;"><br /></p>
												<p style="text-align: center;line-height: 1.75em;"><span
														style="font-size: 14px;color: rgb(127, 127, 127);">无论是海洋馆、卡丁车馆、婚博馆</span>
												</p>
												<p style="text-align: center;line-height: 1.75em;"><span
														style="font-size: 14px;color: rgb(127, 127, 127);">美食天地、奇奇主题酒店、美食花车</span>
												</p>
												<p style="text-align: center;line-height: 1.75em;"><span
														style="font-size: 14px;color: rgb(127, 127, 127);">还是奇奇之家，胜利广场户外电玩项目等等</span>
												</p>
												<p style="text-align: center;line-height: 1.75em;"><span
														style="font-size: 14px;color: rgb(127, 127, 127);">只要是园区内的场馆或商户</span>
												</p>
												<p style="text-align: center;line-height: 1.75em;"><strong><span
															style="color: rgb(127, 127, 127);font-size: 14px;caret-color: red;">出示大门票即可在消费时进行费用抵扣</span></strong>
												</p>
												<p style="text-align: center;line-height: 1.75em;"><strong><span
															style="color: rgb(127, 127, 127);font-size: 14px;caret-color: red;">（团体预订除外）</span></strong>
												</p>
											</section>
										</section>
									</section>
								</section>
							</section>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<br /></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);font-size: 14px;">尤其适合第一次来惠州狮子城的小伙伴</span><br /></p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);"><span
										style="font-size: 14px;">在不知道可以玩啥的时候</span></span>
							</p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<span style="color: rgb(127, 127, 127);"><span
										style="font-size: 14px;">拿了大门票再慢慢挑！！！</span></span>
							</p>
							<p
								style="white-space: normal;text-align: center;max-inline-size: 100%;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<strong
									style="color: rgb(80, 149, 205);font-size: 14px;letter-spacing: 2px;caret-color: red;max-width: 100%;font-family: 微软雅黑;overflow-wrap: break-word !important;">▼</strong>
							</p>
							<p
								style="white-space: normal;max-width: 100%;min-height: 1em;letter-spacing: 0.544px;text-align: center;line-height: 1.75em;font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;overflow-wrap: break-word !important;">
								<br /></p>
	
							<!--  star 大门票项目 -->
							<section class="_135editor" data-tools="" data-id="92619"
								style="font-size: 16px;max-width: 100%;letter-spacing: 0.544px;text-align: justify;background-color: rgb(255, 255, 255);font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;box-sizing: border-box !important;overflow-wrap: break-word !important;">
								<section data-width="100%"
									style="max-width: 100%;width: 100%;display: -webkit-flex;justify-content: center;box-sizing: border-box !important;overflow-wrap: break-word !important;">
									<section data-width="50%"
										style="max-width: 100%;width: 50%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
										<section
											style="padding-right: 5px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word !important;">
											<section class="" data-brushtype="text"
												style="max-width: 100%;box-sizing: border-box;border-top: 1px dashed rgb(112, 112, 113);color: rgb(73, 73, 74);text-align: center;line-height: 40px;font-size: 13px;overflow-wrap: break-word !important;">
												▽狮子城海洋世界▽</section>
											<section
												style="margin-top: 20px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
												<img src="/Content/KindEditor/attached/image/20190708/4.gif"
													style="font-size: 17px;letter-spacing: 0.544px;display: block;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" />
											</section>
										</section>
									</section>
									<section data-width="50%"
										style="max-width: 100%;width: 50%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
										<section
											style="padding-left: 5px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word !important;">
											<section
												style="max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
												<img src="/Content/KindEditor/attached/image/20190708/5.webp.jpg"
													style="font-size: 17px;letter-spacing: 0.544px;vertical-align: middle;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" />
											</section>
											<section class="" data-brushtype="text"
												style="margin-top: 20px;max-width: 100%;box-sizing: border-box;border-bottom: 1px dashed rgb(112, 112, 113);color: rgb(73, 73, 74);text-align: center;line-height: 40px;font-size: 13px;overflow-wrap: break-word !important;">
												△婚博艺术中心△</section>
										</section>
									</section>
								</section>
							</section>
							<section class="_135editor" data-tools="" data-id="92619"
								style="font-size: 16px;max-width: 100%;letter-spacing: 0.544px;text-align: justify;background-color: rgb(255, 255, 255);font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;box-sizing: border-box !important;overflow-wrap: break-word !important;">
								<section data-width="100%"
									style="max-width: 100%;width: 100%;display: -webkit-flex;justify-content: center;box-sizing: border-box !important;overflow-wrap: break-word !important;">
									<section data-width="50%"
										style="max-width: 100%;width: 50%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
										<section
											style="padding-right: 5px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word !important;">
											<section class="" data-brushtype="text"
												style="max-width: 100%;box-sizing: border-box;border-top: 1px dashed rgb(112, 112, 113);color: rgb(73, 73, 74);text-align: center;line-height: 40px;font-size: 13px;overflow-wrap: break-word !important;">
												▽格林披治卡丁车馆▽</section>
											<section
												style="margin-top: 20px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
												<img src="/Content/KindEditor/attached/image/20190708/6.webp.jpg"
													style="font-size: 17px;letter-spacing: 0.544px;display: block;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" />
											</section>
										</section>
									</section>
									<section data-width="50%"
										style="max-width: 100%;width: 50%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
										<section
											style="padding-left: 5px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word !important;">
											<section
												style="max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
												<img src="/Content/KindEditor/attached/image/20190708/7.webp.jpg"
													style="font-size: 17px;letter-spacing: 0.544px;vertical-align: middle;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" />
											</section>
											<section class="" data-brushtype="text"
												style="margin-top: 20px;max-width: 100%;box-sizing: border-box;border-bottom: 1px dashed rgb(112, 112, 113);color: rgb(73, 73, 74);text-align: center;line-height: 40px;font-size: 13px;overflow-wrap: break-word !important;">
												△美食天地△</section>
										</section>
									</section>
								</section>
							</section>
							<section class="_135editor" data-tools="" data-id="92619"
								style="font-size: 16px;max-width: 100%;letter-spacing: 0.544px;text-align: justify;background-color: rgb(255, 255, 255);font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;box-sizing: border-box !important;overflow-wrap: break-word !important;">
								<section data-width="100%"
									style="max-width: 100%;width: 100%;display: -webkit-flex;justify-content: center;box-sizing: border-box !important;overflow-wrap: break-word !important;">
									<section data-width="50%"
										style="max-width: 100%;width: 50%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
										<section
											style="padding-right: 5px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word !important;">
											<section class="" data-brushtype="text"
												style="max-width: 100%;box-sizing: border-box;border-top: 1px dashed rgb(112, 112, 113);color: rgb(73, 73, 74);text-align: center;line-height: 40px;font-size: 14px;overflow-wrap: break-word !important;">
												<span
													style="max-width: 100%;font-size: 11px;box-sizing: border-box !important;overflow-wrap: break-word !important;">▽奇奇之家▽</span>
											</section>
											<section
												style="margin-top: 20px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
												<img src="/Content/KindEditor/attached/image/20190708/8.webp.jpg"
													style="font-size: 17px;letter-spacing: 0.544px;vertical-align: middle;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" />
											</section>
										</section>
									</section>
									<section data-width="50%"
										style="max-width: 100%;width: 50%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
										<section
											style="padding-left: 5px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word !important;">
											<section
												style="max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
												<img src="/Content/KindEditor/attached/image/20190708/9.webp.jpg"
													style="font-size: 17px;letter-spacing: 0.544px;vertical-align: middle;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" />
											</section>
											<section class="" data-brushtype="text"
												style="margin-top: 20px;max-width: 100%;box-sizing: border-box;border-bottom: 1px dashed rgb(112, 112, 113);color: rgb(73, 73, 74);text-align: center;line-height: 40px;font-size: 14px;overflow-wrap: break-word !important;">
												<span
													style="max-width: 100%;font-size: 11px;box-sizing: border-box !important;overflow-wrap: break-word !important;">△奇奇主题酒店△</span>
											</section>
										</section>
									</section>
								</section>
							</section>
							<section class="_135editor" data-tools="" data-id="92619"
								style="font-size: 16px;max-width: 100%;letter-spacing: 0.544px;text-align: justify;background-color: rgb(255, 255, 255);font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;box-sizing: border-box !important;overflow-wrap: break-word !important;">
								<section data-width="100%"
									style="max-width: 100%;width: 100%;display: -webkit-flex;justify-content: center;box-sizing: border-box !important;overflow-wrap: break-word !important;">
									<section data-width="50%"
										style="max-width: 100%;width: 50%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
										<section
											style="padding-right: 5px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word !important;">
											<section class="" data-brushtype="text"
												style="max-width: 100%;box-sizing: border-box;border-top: 1px dashed rgb(112, 112, 113);color: rgb(73, 73, 74);text-align: center;line-height: 40px;font-size: 13px;overflow-wrap: break-word !important;">
												▽婚博艺术中心▽</section>
											<section
												style="margin-top: 20px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
												<img src="/Content/KindEditor/attached/image/20190708/10.webp.jpg"
													style="font-size: 17px;letter-spacing: 0.544px;display: block;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" />
											</section>
										</section>
									</section>
									<section data-width="50%"
										style="max-width: 100%;width: 50%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
										<section
											style="padding-left: 5px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word !important;">
											<section
												style="max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
												<img src="/Content/KindEditor/attached/image/20190708/11.webp.jpg"
													style="font-size: 17px;letter-spacing: 0.544px;vertical-align: middle;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" />
											</section>
											<section class="" data-brushtype="text"
												style="margin-top: 20px;max-width: 100%;box-sizing: border-box;border-bottom: 1px dashed rgb(112, 112, 113);color: rgb(73, 73, 74);text-align: center;line-height: 40px;font-size: 12px;overflow-wrap: break-word !important;">
												△胜利广场户外电玩△</section>
										</section>
									</section>
								</section>
							</section>
							<section class="_135editor" data-tools="" data-id="92619"
								style="font-size: 16px;max-width: 100%;letter-spacing: 0.544px;text-align: justify;background-color: rgb(255, 255, 255);font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;box-sizing: border-box !important;overflow-wrap: break-word !important;">
								<section data-width="100%"
									style="max-width: 100%;width: 100%;display: -webkit-flex;justify-content: center;box-sizing: border-box !important;overflow-wrap: break-word !important;">
									<section data-width="50%"
										style="max-width: 100%;width: 50%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
										<section
											style="padding-right: 5px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word !important;">
											<section class="" data-brushtype="text"
												style="max-width: 100%;box-sizing: border-box;border-top: 1px dashed rgb(112, 112, 113);color: rgb(73, 73, 74);text-align: center;line-height: 40px;font-size: 13px;overflow-wrap: break-word !important;">
												▽奇奇之家▽</section>
											<section
												style="margin-top: 20px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
												<img src="/Content/KindEditor/attached/image/20190708/12.webp.jpg"
													style="font-size: 17px;letter-spacing: 0.544px;display: block;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" />
											</section>
										</section>
									</section>
									<section data-width="50%"
										style="max-width: 100%;width: 50%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
										<section
											style="padding-left: 5px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word !important;">
											<section
												style="max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">
												<img src="/Content/KindEditor/attached/image/20190708/13.webp.jpg"
													style="font-size: 17px;letter-spacing: 0.544px;vertical-align: middle;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" />
											</section>
											<section class="" data-brushtype="text"
												style="margin-top: 20px;max-width: 100%;box-sizing: border-box;border-bottom: 1px dashed rgb(112, 112, 113);color: rgb(73, 73, 74);text-align: center;line-height: 40px;font-size: 12px;overflow-wrap: break-word !important;">
												△奇奇之家△</section>
										</section>
									</section>
								</section>
							</section>
							<!--  end 大门票项目 -->
	
							<p
								style="white-space: normal;max-width: 100%;min-height: 1em;letter-spacing: 0.544px;text-align: center;line-height: 1.75em;font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;overflow-wrap: break-word !important;">
								<br /></p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								……<br /></p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								以下省略N多好玩项目</p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								偷偷告诉你</p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								奇奇之家已于6.29正式开业啦！</p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								儿童益智区、泡泡球池、</p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								轨道赛车、海盗船等等小朋友爱玩的项目<br /></p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								这里都有！<br /></p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								<br /></p>
							<p style="text-align: center;"><img src="/Content/KindEditor/attached/image/20190708/14.gif">
							</p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								<br /></p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								不久后还将开放</p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								<strong>英雄出击（真人CS体验馆）</strong>哦</p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;line-height: 2em;box-sizing: border-box !important;outline: none 0px !important;">
								更多精彩陆续有来！！！</p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;caret-color: rgb(255, 0, 0);font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;box-sizing: border-box !important;outline: none 0px !important;">
								<br /></p>
							<section class="_135editor" data-tools="" data-id="93768" style="white-space: normal;">
								<section style="padding: 5px;box-sizing: border-box;">
									<section
										style="padding: 4px;background: rgb(84, 141, 212);border-radius: 20px;box-sizing: border-box;">
										<section
											style="padding: 0.2em;background: rgb(255, 255, 255);border-radius: 15px;box-sizing: border-box;">
											<section
												style="padding: 1em;border-width: 1px;border-style: dashed;border-color: rgb(84, 141, 212);border-radius: 15px;box-sizing: border-box;">
												<section style="text-align: center;"><span
														style="color: rgb(127, 127, 127);font-size: 14px;">注意：</span>
													<p
														style="max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
														<span
															style="max-inline-size: 100%;font-size: 14px;color: rgb(127, 127, 127);box-sizing: border-box !important;outline: none 0px !important;">园区大门票可用于</span>
													</p>
													<p
														style="max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
														<strong><span
																style="max-inline-size: 100%;font-size: 14px;color: rgb(127, 127, 127);box-sizing: border-box !important;outline: none 0px !important;">抵扣狮子城园区各场馆门票或商户消费费用</span></strong>
													</p>
													<p
														style="max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
														<span
															style="max-inline-size: 100%;font-size: 14px;color: rgb(127, 127, 127);box-sizing: border-box !important;outline: none 0px !important;">现场补差价即可；</span>
													</p>
													<p
														style="max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
														<span
															style="max-inline-size: 100%;font-size: 14px;color: rgb(127, 127, 127);box-sizing: border-box !important;outline: none 0px !important;">单张门票可<strong>分次消费抵扣</strong>，扣完即止；</span>
													</p>
													<p
														style="max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
														<span
															style="max-inline-size: 100%;font-size: 14px;color: rgb(127, 127, 127);box-sizing: border-box !important;outline: none 0px !important;">单笔消费<strong>限用一张门票抵扣</strong></span>
													</p>
													<p
														style="max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
														<span
															style="max-inline-size: 100%;font-size: 14px;color: rgb(127, 127, 127);box-sizing: border-box !important;outline: none 0px !important;">不可叠加门票使用</span>
													</p>
													<p
														style="max-inline-size: 100%;color: rgb(0, 0, 0);font-size: 16px;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
														<span
															style="max-inline-size: 100%;font-size: 14px;color: rgb(127, 127, 127);box-sizing: border-box !important;outline: none 0px !important;">（PS：特殊活动日除外）</span>
													</p>
												</section>
											</section>
										</section>
									</section>
								</section>
							</section>
							<p style="white-space: normal;line-height: 1.75em;text-align: center;"><br /></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);">除此之外</span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);">凭园区大门票你还可以</span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);">畅览欧式建筑的独特魅力</span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);">畅享胜利广场汇演哦</span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);">想在狮子城拍大片的小伙伴</span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);">尤其可以想怎么拍就怎么拍</span></p>
							<section class="_135editor" data-tools="" data-id="89894" style="white-space: normal;">
								<section data-id="us515156" class="_135editor">
									<section data-width="100%" style="text-align: center;"><img
											src="/Content/KindEditor/attached/image/20190708/15.gif" style="width: 60px;" />
									</section>
									<section data-width="100%" style="clear: both;"></section>
								</section>
							</section>
							<p style="white-space: normal;line-height: 1.75em;text-align: center;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);"><img
										src="/Content/KindEditor/attached/image/20190708/16.gif"
										style="color: rgb(51, 51, 51);font-size: 17px;letter-spacing: 0.544px;font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;" /></span>
							</p>
							<p
								style="white-space: normal;max-inline-size: 100%;color: rgb(63, 63, 63);font-size: 14px;letter-spacing: 1.5px;text-align: center;caret-color: rgb(255, 0, 0);line-height: 1.75em;font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;box-sizing: border-box !important;outline: none 0px !important;">
								<br /></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);">如何？你都清楚了吗？</span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);">欢迎各位小伙伴继续向狮子城</span></p>
							<p style="white-space: normal;text-align: center;line-height: 1.75em;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);">提出你宝贵的意见</span></p>
							<p style="white-space: normal;text-align: center;"><span
									style="font-size: 14px;color: rgb(127, 127, 127);">惠州狮子城欢迎你！</span></p>
							<p style="white-space: normal;text-align: center;"><br /></p>
							<!-- -----------时间表------------- -->
							<div class="timeForm1" style="border:1px solid #ddd;padding:15px 0 0 0!important;border-bottom:3px solid #ddd;position:relative;margin-top:30px;margin-bottom:30px">
								<div class="title" style="position:absolute;top:-21px;left:10%;right:17%">
									<strong style="display:block;height:50px;line-height:50px;font-size:16px;color:#f8f9fb;text-align:center;background:#3fbbef;margin:0 auto;padding:0 5px;-webkit-border-bottom-left-radius:2px;border-bottom-left-radius:2px;-webkit-border-bottom-right-radius:2px;border-bottom-right-radius:2px;-webkit-border-top-right-radius:2px;border-top-right-radius:2px">惠州狮子城</strong> <i class="l_jiao" style="width:0;height:0;border-bottom:20px solid #319bd0;border-left:32px solid transparent;position:absolute;top:0;left:-31px"></i> <i class="r_jiao"></i>
								</div>
								<p class="mt-3 pt-0 pb-0 pl-2 pr-2" style="margin-top:1rem;padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									地址：惠州惠城区金龙大道99号
								</p>
								<p class="pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									电话：0752-2888688
								</p>
								<p class="pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									客服在线时间：10:00-12:00, 13:30-22:00
								</p>
								<br />
								<p class="pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#fff;font-size:14px">
									<span style="background-color: #ff9f28;color: #FFF!important;padding: 2px;margin-right: 5px">营业时间</span>
								</p>
								<p class="pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									园区营业时间：10:00-22:00
								</p>
								<p class="pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									海洋世界：10:00-20:00；
								</p>
								<p class="pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									婚博艺术中心：10:00-22:00；
								</p>
								<p class="pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									格林披治卡丁车馆：10:00-22:00（法定节假日如有变化将另行通知）；
								</p>
								<p class="pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									奇奇之家：10:00-22:00（含天鹅湖畔泳池、攀岩区）；
								</p>
								<p class="pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									奇奇主题酒店：餐厅07:30-01:00、客房24小时营业、KTV 12:00-02:00、健身房 08:00-22:00；
								</p>
								<p class="pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									美食天地 10:00-21:00；
								</p>
								<p class="mb-2 pt-0 pb-0 pl-2 pr-2" style="padding:0 0.3rem;line-height:30px;text-align:left!important;color:#666;font-size:14px">
									花车 10:00-22:00；
								</p>
								<br />
							</div>
							<!-- ---------end 时间------------ -->
							<!-- ---------------start 路线----------- -->
							<div class="road">
									<strong style="display:block;font-size:16px;font-weight:700;text-align:left;background-color:#ddd;height:35px;line-height:45px"> <img src="/Content/KindEditor/attached/image/20181017/20181017223454_1597.gif" style="float:left;width:25px;margin:0 10px 0 0;padding:0!important" /> 公交路线 </strong> 
										<span style="display: block;padding: 15px 15px 15px 35px;border: 1px solid #ddd;color: #666!important;line-height: 30px;"> 30路-&gt;美地花园城站&lt;-&gt;ASM先进科技站<br />
									线路由美地花园城站首末站始发，经东平、会展中心、华茂中心、体育中心、义乌小商品城等，至狮子城站下即可。 </span> 
									<strong style="display:block;font-size:16px;font-weight:700;text-align:left;background-color:#ddd;height:35px;line-height:45px"> <img src="/Content/KindEditor/attached/image/20181017/20181017223509_0569.gif" style="float:left;width:25px;margin:0 10px 0 0;padding:0!important" /> 自驾路线 </strong> 
										<span style="display: block;padding: 15px 15px 15px 35px;border: 1px solid #ddd;color: #666!important;line-height: 30px;"> 直接导航“狮子城-西门”即到<br />
									地址：惠州市惠城区金龙大道99号<br />
									电话：0752-2888688<br />
									客服在线时间：09:00-12:00,13:30-22:00<br />
									营业时间：10:00-22:00<br />
									温馨提示：为方便出行，建议可滴滴或搭乘公交前往。 </span>
							</div>
							<!-- ------------end 路线----------- -->
						</div>
	
					</div>
	
				</div>
			</div>
	
		</div>
	</div>

</div>