<!-- 底部导航 -->
<nav class="menu">
    <a href="../pages/index.html" class="{% if page.layout == "qyMine/index" %} active {% endif %}">
        <i class="fa fa-home"></i><span>首页</span>
    </a>
    <a href="../pages/qyNews.html" class="{% if page.layout == "qyMine/qyNews" %} active {% endif %}">
        <i class="fa fa-commenting-o"></i><span>消息</span>
    </a>
    <a href="../pages/qySite.html" class="{% if page.layout == "qyMine/qySite" %} active {% endif %}">
        <i class="fa fa-newspaper-o"></i><span>现场</span>
    </a>
    <a href="../pages/qyMine.html" class="{% if page.layout == "qyMine/qyMine" %} active {% endif %}">
        <i class="fa fa-meh-o"></i><span>我</span>
    </a>
</nav>