<div class="layui-row">
    <!----------------左侧 房间信息 --------------------------->
    <div class="layui-col-md9">
        <div class="fangjiaForm" style="overflow: hidden">
            <ul class="fangjiaForm-content pl-2 pr-2 pt-3 pb-3" style="overflow: hidden">
                <li><label class="label_name">房号</label> <span class="add_name">
                    <input name="房号" value="8212" type="text" class="text_add" disabled="disabled" style="width:120px;" /></span>
                </li>
                <li><label class="label_name">房型</label>
                  <span class="add_name">
                      <select name="interest" lay-filter="aihao" class="text_add" disabled="disabled" style="width:120px;">
                        <option value="0">商务大床房</option>
                        <option value="1">商务套房</option>
                        <option value="2">至尊湖景大床房</option>
                        <option value="3">至尊大床房</option>
                        <option value="4">豪华双床房</option>
                        <option value="5">豪华大床房</option>
                      </select>
                  </span>
                </li>
                <li><label class="label_name">房价类型</label>
                  <div class="add_name" style="display: flex;justify-content: space-between;">
                      <select name="interest" lay-filter="aihao" class="text_add" style="width:80px;padding:0;">
                          <option value="1">门市价</option>
                          <option value="2">银会员价</option>
                          <option value="3">金会员价</option>
                          <option value="4">铂金价</option>
                          <option value="8">钟点房</option>
                          <option value="9">不定房价</option>
                          <option value="10">免费房</option>
                          <option value="14">自用房</option>
                          <option value="18" disabled="disabled">协议公式价</option>
                          <option value="19" disabled="disabled">全年不变价</option>
                          <option value="20" disabled="disabled">OTA直连价</option>
                          <option value="3081">钻石会员价</option>
                          <option value="3083">携程168</option>
                          <option value="3088">钟点房</option>
                          <option value="3089">去哪儿</option>
                          <option value="3091">美团飞猪178</option>
                          <option value="3093">前台价格</option>
                          <option value="3094">银卡价</option>
                          <option value="3097">嘉宾价</option>
                          <option value="3099">会员价</option>
                          <option value="3104">黄金会员价</option>
                          <option value="3105">客房</option>
                      </select>
                      <input type="submit" class="text_add text-white bg-success" id="" value="钟" style="width:40px;margin-left:2px;border:0;border-radius:2px"/>
                  </div>
                </li>
                <li><label class="label_name">房价</label> <span class="add_name">
                  <input name="房价" type="text" class="text_add" value="188" disabled="disabled" style="width:120px;color:red"/></span>
                  <div class="prompt r_f"></div>
                </li>
                <li><label class="label_name">入住时间</label>
                  <span class="add_name">
                    <input name="入住时间" type="text" class="text_add" id="" value="2019-07-26 09:23" style="width:120px;">
                  </span>
                </li>
                <li><label class="label_name">离店时间</label>
                  <span class="add_name">
                      <input name="离店时间" type="text" class="text_add" id="" value="2019-08-04 09:23" style="width:120px;">
                  </span>
                </li>
                <li><label class="label_name">订单状态</label> 
                  <span class="add_name">
                      <select name="interest" lay-filter="aihao" class="text_add" style="width:120px;" >
                            <option value="1">预订</option>
                            <option value="2">取消</option>
                            <option value="3">未到</option>
                            <option value="4">入住</option>
                            <option value="5">退房</option>
                        </select>
                  </span>
                </li>
                <li><label class="label_name">中介单号</label> <span class="add_name">
                     <input name="中介单号" type="text" class="text_add" style="width:120px;" disabled="disabled" /></span>
                </li>
                <li><label class="label_name">联系人</label> <span class="add_name">
                  <input type="text" class="text_add" value="赖萌萌" style="width:120px;" /></span>
                </li>
                <li><label class="label_name">预订人</label> <span class="add_name">
                  <input type="text" class="text_add" value="赖萌萌" style="width:120px;" /></span>
                </li>
                <li><label class="label_name">联系电话</label> <span class="add_name">
                    <input name="联系电话" type="text" class="text_add" value="18079100000" style="width:120px;" /></span>
                </li>
                <li><label class="label_name">订单来源</label> 
                    <span class="add_name" style="display: flex;justify-content: space-between;">
                       <select name="interest" lay-filter="aihao" class="text_add" style="width:60px;padding:0;font-size:12px">
                          <option value="0" selected="selected">前台</option>
                          <option value="1">客服</option>
                          <option value="3">网站</option>
                          <option value="4">合作渠道</option>
                          <option value="5">手机网站</option>
                          <option value="6">去哪儿预售</option>
                       </select>
                       <select name="interest" lay-filter="aihao" class="text_add" style="width:55px;margin-left:5px;font-size:12px;padding-left:5px">
                           <option value="0">散客</option>
                           <option value="1">团体</option>
                           <option value="2">长住</option>
                           <option value="3">外宾</option>
                        </select>
                    </span>
                 </li>
                 <li><label class="label_name">会员级别</label>
                    <div class="add_name">
                      <select lay-filter="aihao" class="text_add" disabled="disabled" style="width:120px;" >
                          <option value="0">非会员</option>
                          <option value="1">银会员</option>
                          <option value="3">金会员</option>
                          <option value="4">铂金会员</option>
                      </select>
                    </div>
                </li>
                <li><label class="label_name">会员卡号</label> <span class="add_name">
                    <input type="text" class="text_add" value="110015106" disabled="disabled" style="width:120px;" /></span>
                </li>
                <li><label class="label_name">储值积分</label> <span class="add_name">
                    <input type="text" class="text_add" value="711111111" disabled="disabled" style="width:120px;color:red" /></span>
                </li>
                <li><label class="label_name">客源结构</label>
                    <span class="add_name" style="display: flex;justify-content: space-between;">
                       <select lay-filter="aihao" class="text_add" style="width:60px;padding:0;font-size:12px">
                          <option value="0">时租</option>
                          <option value="1">散客</option>
                          <option value="3" selected="selected">个人会员</option>
                          <option value="4">协议公司</option>
                          <option value="5">中介</option>
                          <option value="6">自用房</option>
                          <option value="7">免费房</option>
                       </select>
                       <select lay-filter="aihao" class="text_add" style="width:55px;margin-left:5px;font-size:12px;padding-left:5px">
                           <option value="0">银会员</option>
                           <option value="1">金会员</option>
                           <option value="2">铂金会员</option>
                           <option value="3">业主尊享会员</option>
                        </select>
                    </span>
                 </li>
                <li style="width:50%"><label class="label_name">员工备注</label> <span class="add_name">
                        <input name="" type="text" class="text_add" style="width:333px;"/></span>
                </li>
                <li><label class="label_name">市场活动</label>
                    <div class="add_name">
                      <select name="interest" lay-filter="aihao" class="text_add" disabled="disabled" style="width:120px;" >
                          <option value="0">管理员</option>
                          <option value="1">用户人员</option>
                          <option value="3">用户人员2</option>
                          <option value="4">用户人员3</option>
                      </select>
                    </div>
                </li>
                <li><label class="label_name">销售员</label>
                    <div class="add_name">
                      <select name="interest" lay-filter="aihao" class="text_add" disabled="disabled" style="width:120px;" >
                          <option value="0">未参与市场活动</option>
                          <option value="1">注册会员赠送300优惠券</option>
                          <option value="3">用户人员2</option>
                          <option value="4">用户人员3</option>
                      </select>
                    </div>
                </li>
            </ul>
        </div>
        <!--------------------房间 客人资料-------------------------------->
        <div class="xingkeren" style="overflow: hidden">
          <div class="search_style mb-0" style="display: flex;align-items: center;justify-content: space-between;">
              <div class="xingkeren-title f-left">
                <strong>赖萌萌</strong>
              </div>
              <ul class="search_content clearfix">
                  <li style="width: 100%;height:auto;margin-right:0">
                    <input name="用户信息不能" type="text" class="text_add" placeholder="手机号码/身份证号" style="width:200px"/>
                    <button type="button" class="btn_search pl-2 pr-2" style="width: auto">查询/读取证件</button>
                  </li>
              </ul>
          </div>
          <div class="xinkenren-message">
              <ul>
                  <li><label class="label_name">客人姓名</label> <span class="add_name">
                      <input name="姓名" value="" type="text" class="text_add" placeholder="不能为空" style="width:120px;" /></span>
                  </li>
                  <li><label class="label_name">客人性别</label>
                    <span class="add_name">
                        <select name="xingbie" lay-filter="aihao" class="text_add" style="width:120px;" >
                            <option value="0">未知</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </span>
                  </li>
                  <li><label class="label_name">出生日期</label>
                    <span class="add_name">
                      <input name="出生日期" type="text" class="text_add" id="chushengriqi" style="width:120px;" >
                    </span>
                  </li>
                  <li><label class="label_name">手机号码</label> <span class="add_name">
                    <input name="手机号码" type="text" class="text_add" placeholder="请填写手机号码" style="width:120px;" /></span>
                  </li>
                  <li><label class="label_name">证件类型</label>
                    <div class="add_name">
                        <select name="证件类型" lay-filter="aihao" class="text_add" style="width:120px;" >
                            <option value="0">身份证/驾驶证</option>
                            <option value="1">台湾居民来往通行证</option>
                            <option value="3">港澳居民来往大陆通行</option>
                            <option value="4">外籍护照</option>
                            <option value="5">外交护照</option>
                            <option value="6">公务护照</option>
                            <option value="7">因公普通护照</option>
                            <option value="8">军官证</option>
                            <option value="9">士兵证</option>
                            <option value="10">其它</option>
                        </select>
                    </div>
                  </li>
                  <li><label class="label_name">证件号码</label> <span class="add_name">
                    <input name="证件号码" type="text" class="text_add" placeholder="请填写身份证号码" style="width:120px;" /></span>
                  </li>
                  <li><label class="label_name">签证信息</label> 
                    <span class="add_name" style="display: flex; align-items: center;">
                      <select name="qzxinxi" lay-filter="aihao" class="text_add" style="width:70px;padding:0;">
                          <option value="0">无</option>
                          <option value="1">普通签证</option>
                          <option value="2">公务签证</option>
                          <option value="3">外交签证</option>
                      </select>
                      <input name="" type="text" class="text_add" id="youxiaoTime" value="00:00" style="width:50px;margin-left:5px"/>
                    </span>
                  </li>
                  <li><label class="label_name">客人民族</label>
                    <span class="add_name">
                        <select name="客人民族" lay-filter="aihao" class="text_add" style="width:120px;" >
                            <option value="0"></option>
                            <option value="1">汉</option>
                            <option value="2">蒙古</option>
                            <option value="3">回</option>
                            <option value="4">藏</option>
                            <option value="5">维吾尔</option>
                            <option value="6">苗</option>
                            <option value="7">彝</option>
                            <option value="8">壮</option>
                            <option value="9">布依</option>
                            <option value="10">朝鲜</option>
                            <option value="11">满</option>
                            <option value="12">侗</option>
                            <option value="13">瑶</option>
                            <option value="14">白</option>
                            <option value="15">土家</option>
                            <option value="16">哈尼</option>
                            <option value="17">哈萨克</option>
                            <option value="18">傣</option>
                            <option value="19">黎</option>
                            <option value="20">傈僳</option>
                            <option value="21">佤</option>
                            <option value="22">畲</option>
                            <option value="23">高山</option>
                            <option value="24">拉祜</option>
                            <option value="25">水</option>
                            <option value="26">东乡</option>
                            <option value="27">纳西</option>
                            <option value="28">景颇</option>
                            <option value="29">柯尔克孜</option>
                            <option value="30">土</option>
                            <option value="31">达翰尔</option>
                            <option value="32">仫佬</option>
                            <option value="33">羌</option>
                            <option value="33">布朗</option>
                            <option value="34">撒拉</option>
                            <option value="35">毛难</option>
                            <option value="36">仡佬</option>
                            <option value="37">锡伯</option>
                            <option value="38">阿昌</option>
                            <option value="39">普米</option>
                            <option value="40">塔吉克</option>
                            <option value="41">怒</option>
                            <option value="42">乌孜别克</option>
                            <option value="43">俄罗斯</option>
                            <option value="44">鄂温克</option>
                            <option value="45">崩龙</option>
                            <option value="46">保安</option>
                            <option value="47">裕固</option>
                            <option value="48">京</option>
                            <option value="49">塔塔尔</option>
                            <option value="50">独龙</option>
                            <option value="51">鄂伦春</option>
                            <option value="52">赫哲</option>
                            <option value="53">门巴</option>
                            <option value="54">珞巴</option>
                            <option value="55">基诺</option>
                            <option value="56">外国血统</option>
                            <option value="57">其它</option>
                        </select>
                    </span>
                  </li>
                  <li><label class="label_name">会员级别</label>
                    <div class="add_name">
                      <select lay-filter="aihao" class="text_add" disabled="disabled" style="width:120px;">
                          <option value="0">非会员</option>
                          <option value="1">银会员</option>
                          <option value="3">金会员</option>
                          <option value="4">铂金会员</option>
                      </select>
                    </div>
                  </li>
                  <li><label class="label_name">会员卡号</label> <span class="add_name">
                      <input name="会员卡号" type="text" class="text_add" disabled="disabled" style="width:120px;" /></span>
                  </li>
                  <li style="width:100%"><label class="label_name">客人地址</label>
                    <span class="add_name" style="width: 90.5%;">
                    <input name="" type="text" class="text_add" style="width:98%;"/></span>
                </li>
                  <li style="width:100%"><label class="label_name">客人喜好</label>
                    <span class="add_name" style="width: 90.5%;">
                      <input name="" type="text" class="text_add" style="width:98%;"/></span>
                  </li>
                </ul>
          </div>
        </div> 
    </div>

    <!---------------右侧 关联房间信息 --------------------------------------->
    <div class="layui-col-md3">
       <div class="glfang ml-2 border mb-0 p-0" style="height: 485px;">
           <div class="glfang-title p-1">
              <strong>关联房</strong>
              <button type="button" class="layui-btn layui-btn-sm" style="width:auto">增加</button>
           </div>
           <div class="p-2">暂无关联房</div>
       </div>
    </div>
  </div>