<div class="add_order" id="add_content" style="display: none;">
    <div class="page-content" style="overflow: hidden;padding:0!important">
        <div class="layui-tab layui-tab-card" style="margin:0!important;position: relative;">
             <ul class="layui-tab-title fanghao-tab">
               <li style="width:8%">日志</li>
               <li style="width:8%">服务</li>
               <li style="width:8%">电子券</li>
               <li style="width:8%">房租计划</li>
               <li style="width:8%">预授权</li>
               <li style="width:8%">账务</li>
               <li class="layui-this" style="width:8%">房单</li>
             </ul>
             <div class="layui-tab-content" style="min-height: 465px;">
               <div class="layui-tab-item" style="margin: 0!important"><!-- 日志 -->
                 {% include modules/fangtaitu/fangtaitu_rz.html %}
               </div>
               <div class="layui-tab-item"><!--服务-->
                 {% include modules/fangtaitu/fangtaitu_fw.html %}
               </div>
               <div class="layui-tab-item"><!--电子券-->
                 {% include modules/fangtaitu/fangtaitu_dzq.html %}
               </div>
               <div class="layui-tab-item"><!--房租计划-->
                 {% include modules/fangtaitu/fangtaitu_fzjh.html %}
               </div>
               <div class="layui-tab-item"><!--预授权-->
                {% include modules/fangtaitu/fangtaitu_ysq.html %}
               </div>
               <div class="layui-tab-item"><!--账务-->
                {% include modules/fangtaitu/fangtaitu_zw.html %}
               </div>
               <div class="layui-tab-item layui-show"><!-- 房单 -->
                {% include modules/fangtaitu/fangtaitu_fd.html %}
               </div>
             </div>
         </div>
    </div>
 </div>