.contactList{
    @extend %bgColorMt;
    position: relative;
    height: 100vh;
    .list-wrapper{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        background: #fff;
    } 
    .index-list-content{
        background: #fff;
        border-radius: 2px;
    }
    
    .index-list-title{
        // padding: 14px 16px;
        font-size: 14px;
        line-height: 1.6;
        color: #333;	
    }
    
    .index-list-anchor{
        padding: 16px 16px 10px 16px;
        line-height: 1;
        font-size: 14px;
        color: #999;
        background: #f7f7f7;	
    }
    
    .index-list-item {
        position: relative;
        height: 50px;
        line-height: 50px;
        padding: 0 16px;
        font-size: 14px;
        color: #333;
    }
    .index-list-item:last-child{
        border: none;
    }
    .index-list-item_active{
        background: #ddd;	
    }
    .index-list-fixed{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        padding: 16px 16px 10px 16px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 1;
        color: #999;
        background: #f7f7f7;	
    }
    
    .index-list-nav {
        position: absolute;
        z-index: 30;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-family: Helvetica;	
    }
    .index-list-nav ul {
        padding: 0;
        margin: 0;
    }       
    .index-list-nav li{
        padding: 6px 16px 0 16px;
        line-height: 1;
        text-align: center;
        box-sizing: border-box;
        font-size: 12px;
        color: gray;
    }          
    .index-list-nav .active {
        color: blue;
    }
}