<div class="w_down">
        <p><br></p>
        <p style="text-align:justify;">
            <span style="color:#666666;font-size:14px;"> </span>
        </p>
        <p style="text-align:center;">
            <span style="color:#E53333;font-size:16px;"><strong>通</strong></span><span style="color:#E53333;font-size:14px;"></span><span
                style="color:#E53333;font-size:16px;"><strong>知</strong></span>
        </p>
        <span style="color:#666666;font-size:14px;line-height:2;">
            <div style="text-align:justify;">
                <span style="color:#E53333;">
                    <p class="MsoNormal">
                        亲爱的游客朋友们：
                    </p>
                    <p class="MsoNormal" style="text-align:justify;">
                        <span>即日起</span>-11<span>月</span><span>28</span><span>日，由众益天下主办的惠州首届灯光艺术节将在惠州欧美城举行。现将有关注意事项通知如下：</span>
                    </p>
                    <p class="MsoNormal" style="text-align:justify;">
                        <span>一、活动期间，</span>16:30<span>后开始售卖灯光节门票。</span><span>17:01-22:00</span><span>凡持“海洋世界门票”、“海洋世界</span><span>+</span><span>婚博艺术中心欧美街</span><span>9</span><span>号联票”的游客，须加购本次灯光节门票方能进入园区及各主场馆。</span>
                    </p>
                    <p class="MsoNormal" style="text-align:justify;">
                        <span>二、</span>17:01<span>后若游客计划进海洋世界、婚博艺术中心游玩的，可先购灯光节门票进园区后，再到海洋世界、婚博艺术中心场馆内的售票窗口购买场馆门票进入。</span>
                    </p>
                    <p class="MsoNormal" style="text-align:justify;">
                        <span>三、此临时调整结束时间为</span>2018<span>年</span><span>11</span><span>月</span><span>28</span><span>日</span><span>23:00</span><span>，活动结束后将恢复园区正常收费标准。不便之处，敬请谅解。</span>
                    </p>
                    <p class="MsoNormal">
                        欧美城管理处
                    </p>
                    <p class="MsoNormal">
                        2018<span>年</span><span>11</span><span>月</span>
                    </p>
                </span>
            </div>
            <span style="color:#E53333;"></span>
        </span>
        <p>
            <br>
        </p>
        <p style="text-align:justify;">
            <br>
        </p>
        <p style="text-align:justify;">
            <span style="color:#666666;font-size:14px;">Everybody~亲爱的游客朋友们注意啦，现园区推出重磅的福利活动，具体说明如下：</span>
        </p>
        <span style="font-size:14px;color:#666666;line-height:2;">
            <div style="text-align:justify;">
                一、凡购买欧美城海洋世界门票、海洋世界+婚博艺术中心9号联票即可享受优惠如下：
            </div>
        </span><span style="font-size:14px;color:#666666;line-height:2;">
            <div style="text-align:justify;">
                1、园区攀岩项目10元/张/人优惠（原价50元/人/2次，优惠后40元即可享受单人攀岩2次）。
            </div>
        </span><span style="font-size:14px;color:#666666;line-height:2;">
            <div style="text-align:justify;">
                2、园区“手摇船+步行球”项目5元/套/人优惠（原价50元/人/1次，优惠后40元即可畅享游玩）。即“手摇船”每人每次20分钟+步行球每人每次15分钟。
            </div>
        </span><span style="font-size:14px;color:#666666;line-height:2;">
            <div style="text-align:justify;">
                二、优惠有效期：2018年11月3日至2019年2月28日止。
            </div>
        </span><span style="font-size:14px;color:#666666;line-height:2;">
            <p style="text-align:justify;">
                下面，想知道进园还需要有啥注意事项的，记得看下面啦！
            </p>
            <p style="text-align:justify;">
                <br>
            </p>
            <p style="text-align:justify;">
                使用说明：
            </p>
        </span>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">1、门票含欧美城园区大门票、海洋馆门票（含馆内所有展区及表演，部分体验项目及餐饮购物需另外付费），凭票可进入欧美城园区畅览欧式城堡的独特魅力，畅享胜利广场汇演；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">2、限制一人一票游玩当日一次性使用，凭票入馆；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">3、免票适用对象：1.1m（不含）以下小童和70周岁（含）以上长者免票（需持有效身份证件），但须成人陪同，每位购票成人限带一名免票人员入馆；持导游证免门票；持记者证（提前跟园区报备可免票）、军人证、义工证、伤残证可享受平日价的五折购票优惠；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">4、为确保安全，免票及购买儿童票的儿童、免票长者不能单独进馆，需成人陪伴入园，每位购票成人限带一名免票人员入场。长者票及免票长者进馆须持有有效身份证件；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">5、1.1（含）-1.5m（不含）计儿童票价，超高按成人标准收费；60周岁（含）-70周岁（不含）计长者票价；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">6、退票说明：在网上预订付款后未出票的，可在预订票的网络平台申请退票（退票手续按网络平台约定操作）。如在园区窗口购买的，直接在窗口办理退票手续，游玩当日申请退票的，需收取票面价20%的手续费（提前至少一天申请退票的，免手续费），逾期视作已消费；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">7、营业时间：10:00-22:00，当天购票截止时间为21:30，如有变动请以欧美城官方通知为准；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">8、禁止携带宠物进馆，谢绝外带食物；请参观完再出馆，再次进馆须重新购票；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">9、游玩前请详阅相应主题业态的开放时间、表演时间及注意事项；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">10、旅行团体凭销售部团体预订单及导游证、行程表在售票处团体专柜前办理入园手续，带团导游或领队凭相应证件免票入园；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">11、门票一经售出，视为合同成立且持票人同意遵守园区各项游玩规定，并对随行的老弱病残孕等特殊人群具有监护责任；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">12、门票上出现涂改、破损、模糊不清等均视为门票作废；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">13、假票一经发现立即没收，本园区保留追究当事人相关法律责任的权利；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">14、请注意妥善保管门票，园区对门票丢失、失窃、过期、作废无效等情况恕不负责；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">15、网络购票将以短信或彩信方式发送至订票手机，购票二维码等信息请注意保密，因游客个人原因泄露该信息而造成的损失由游客自行承担；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">16、如需开发票，请到园区售票处登记，登记后将于15个工作日内开具电子发票发送至游客指定邮箱地址，过期及已开过发票的不再办理开票；</span>
        </p>
        <p style="text-align:justify;">
            <span style="font-size:14px;color:#666666;line-height:2;">17、客服热线0752-2888688，提供惠州欧美城文化小镇票价及园区游览相关配套咨询服务。</span>
        </p>
        <p>
            <br>
        </p>
    </div>