---
layout: default
title: 工作地址
---

<div class="companyAddr">
      <!-- 工作地图 -->
      <div class="mod_pos_map">
         <iframe class="animated fadein" width="100%" height="350px" src="" style="border: none;"></iframe>
      </div>
      <!-- 工作地址 -->
      <div class="mod_pos_add">
            <i class="fa fa-map-marker"></i>
            <p class="mod_pos_item_mes">广东惠州广东惠州惠城区数码园南区民丰路6号广东惠州广东惠州惠城区数码园南区民丰路6号</p>
      </div>
      <!-- 导航 -->
      <div class="mod_pos_btn">
          <a href="javascript:;" class="btn btn-primary btn-lg btn-block m-2" id="show-actions">导航</a>
      </div>
</div>