---
layout: pages
title: 我的考勤
---
<div class="myAttPunch">
  <div class="weui-cells mb-2">
   <div class="weui-cell weui-cell_select">
      <div class="weui-cell__hd">
        <svg class="icon mr-2 mt-1 text-success" aria-hidden="true">
        <use xlink:href="#icon-riqi"></use>
        </svg>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" id="date2" type="text" value="2018年12月">
      </div>
   </div>
  </div>
  <div class="weui-cells mb-2">
    <div class="weui-cell">
     <div class="weui-cell__bd">考勤数据</div>
     <!-- <div class="weui-cell__ft"><a href="javascript:;" class="text-info">查看打卡月历</a></div> -->
    </div>
    <div class="text-center p-2">
        <div>0/0</div>
        <div class="text-muted"><small>实际打卡数/当月应打卡次数</small></div>
    </div>
  </div>
  <div class="weui-cells mb-2">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>正常</p>
      </div>
      <div class="weui-cell__ft">0次</div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>外勤</p>
      </div>
      <div class="weui-cell__ft">0次</div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>缺卡</p>
      </div>
      <div class="weui-cell__ft">0次</div>
    </div>
  </div>
  <div class="weui-cells mb-2">
      <div class="weui-cell">
        <div class="weui-cell__hd"><p>迟到</p></div>
        <div class="weui-cell__bd text-right pr-4">0次</div>
        <div class="weui-cell__ft"><small>累计迟到0分钟</small></div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><p>早退</p></div>
        <div class="weui-cell__bd text-right pr-4">0次</div>
        <div class="weui-cell__ft"><small>累计早退0分钟</small></div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><p>旷工</p></div>
        <div class="weui-cell__bd text-right pr-4">0次</div>
        <div class="weui-cell__ft"><small>累计旷工0分钟</small></div>
      </div>
   </div>
   <div class="weui-cells mb-2">
      <div class="weui-cell">
        <div class="weui-cell__hd"><p>请假</p></div>
        <div class="weui-cell__bd text-right pr-4">0次</div>
        <div class="weui-cell__ft"><small>累计请假0分钟</small></div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><p>出差</p></div>
        <div class="weui-cell__bd text-right pr-4">0次</div>
        <div class="weui-cell__ft"><small>累计出差0分钟</small></div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><p>班外</p></div>
        <div class="weui-cell__bd text-right pr-4">0次</div>
        <div class="weui-cell__ft"><small>累计班外0分钟</small></div>
      </div>
   </div>
</div>