---
layout: default
title: 职位详情
---

<div class="positionDetail">
 <section class="mod_pos_list">
    <!-- 职位详情 -->
    <div class="mod_det">
      <div class="mod_pos_item">
        <div class="mod_pos_item_text">
            <h2 class="w-100">Java Web开发工程师 <span class="mod_pos_item_salary_mon">【8-16K】</span></h2>
            <p class="mod_pos_item_mes text-truncate">
                <span>惠州</span>
                <span>不限</span>
                <span>本科</span>
                <span>全职</span>
            </p>
            <div>
                <ul class="mod_pos_item_ind w-100" style="height:32px">
                    <li>五险一金</li>
                    <li>法定节假日</li>
                    <li>带薪年假</li>
                    <li>年终奖</li>
                    <li>包吃</li>
                    <li>五险一金</li>
                    <li>法定节假日</li>
                    <li>带薪年假</li>
                    <li>年终奖</li>
                    <li>包吃</li>
                </ul>
                <span class="mod_pos_item_btn">
                    <i class="fa fa-angle-up"> 收起</i>
                </span>
            </div>
        </div>
        <div class="mod_pos_item_text">
            <a href="companyDetail.html">
                <div class="mod_pos_item_text_pic">
                    <img src="static/images/logo_default.png">
                </div>
                <h2 class="text-truncate pt-1">富海人才</h2>
                <p class="mod_pos_item_mes text-truncate"><span>2000人以上</span><span>生产、制造、加工</span></p>
                <div class="mod_det_right">
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </div>
      </div>
    </div>
    <!-- 职位描述 -->
    <div class="mod_des">
        <div class="mod_pos_item">
            <div class="mod_pos_item_tit">
                <h2 class="text-truncate"><i class="fa fa-vcard"></i>职位描述</h2>
            </div>
            <div class="mod_pos_item_text">
                 <p class="posContent" style="height:110px;">
                    1、工作职责工作职责工作职责工作职责工作职责工作工工作职责工作职责工作职责工作职责工作职责工作工；<br/>
                    2、工作职责工作职责工作职责工作职责工作职责工作工工作职责工作职责工作职责工作职责工作职责工作工；<br/>
                    3、工作职责工作职责工作职责工作职责工作职责工作工工作职责工作职责工作职责工作职责工作职责工作工；<br/>
                    4、工作职责工作职责工作职责工作职责工作职责工作工工作职责工作职责工作职责工作职责工作职责工作工；<br/>
                 </p>
                 <span class="mod_pos_item_btn1">
                    <i class="fa fa-angle-up"> 收起</i>
                 </span>
            </div>
        </div>
    </div>
    <!-- 联系方式 -->
    <div class="mod_lxfs">
        <div class="mod_pos_item">
            <div class="mod_pos_item_tit">
                <h2 class="text-truncate"><i class="fa fa-phone"></i>联系方式</h2>
            </div>
            <div class="mod_pos_item_text">
                <p>
                    联系方式：马校长<br/>
                    联系电话：0752-2886238<br/>
                    电子邮箱：该职位未公开电子邮箱，请通过富海人才网投递简历
                </p>
            </div>
        </div>
    </div>
    <!-- 工作地址 -->
    <div class="mod_add">
        <div class="mod_pos_item m-0">
            <div class="mod_pos_item_tit">
                <h2 class="text-truncate"><i class="fa fa-map-marker"></i>公司地址</h2>
            </div>
            <div class="mod_pos_item_text">
                <a href="companyAddr.html" class="d-flex justify-content-between">
                <p class="mod_pos_item_mes">广东惠州广东惠州惠城区数码园南区民丰路6号广东惠州广东惠州惠城区数码园南区民丰路6号</p>
                <div>
                    <i class="fa fa-angle-right"></i>
                </div>
                </a>
            </div>
        </div>
    </div>
 </section>
 <!-- 底部按钮 -->
 <section class="mod_pos_btn">
  <div class="mod_pos_btn_air"><a href="javascript:;">投递简历</a></div>
  <div class="mod_pos_btn_rea"><a href="javascript:;">收藏职位</a></div>
 </section>
</div>