---
layout: pages
title: 流程审批
---
<div class="proApproval">
    <!-- <div class="bgColorWhite mb-2">
        <div class="weui-flex">
            <div class="weui-flex__item"><a href="waitEeview.html">
                <div class="p-3"><i class="fa fa-file-text-o mr-1"></i> 待我审核</div></a>
            </div>
            <div class="weui-flex__item"><a href="initiate.html">
                <div class="p-3"><i class="fa fa-send mr-1"></i> 我发起的</div></a>
            </div>
        </div>
    </div> -->
    <div class="weui-grids">
      <a href="leaveRequest.html" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="../static/images/icon/l_01.png" alt="">
        </div>
        <p class="weui-grid__label">
            请假申请
        </p>
      </a>
    </div>
</div>