---
layout: pages
title: 收件
---
<div class="receive">
    <div class="weui-cells__title">快递信息</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label class="weui-label">选择网点</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" value="请选择请假类型" id="receive">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">快递单号</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" value="">
            </div>
            <div class="weui-cell__ft">
                <svg class="icon text-warning" aria-hidden="true">
                    <use xlink:href="#icon-saoma"></use>
                </svg>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">存放柜号</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" placeholder="选填">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">包裹描述</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="选填">
            </div>
        </div>
    </div>
    <div class="weui-cells__title">收件人信息</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">收件人电话</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" placeholder="请输入收件人电话号码">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">收件人姓名</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入收件人姓名">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">收件人地址</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入收件人地址">
            </div>
        </div>
    </div>
    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
        <div class="mod_pos_btn_air w-100"><a href="">提 交</a></div>
    </section>
</div>