---
layout: pages
title: 推荐给朋友
---
<div class="recommend">
    <div class="card-deck">
        <div class="card">
            <img src="../static/images/yun_wap_login_wx.png" alt="Card image cap">
            <h5 class="card-title">微信</h5>
        </div>
        <div class="card">
            <img src="../static/images/yun_wap_login_sina.png" alt="Card image cap">
            <h5 class="card-title">微博</h5>
        </div>
        <div class="card">
            <img src="../static/images/yun_wap_login_qq.png" alt="Card image cap">
            <h5 class="card-title">QQ</h5>
        </div>
    </div>


    <!-- <div class="mui-content">
        <div class="mui-card">
            <div class="mui-text-center mt10">
                    欧美城
            </div>
            <div class="mui-card-content mt10 mr20 mb10 ml20">
                <img src="../static/images/profile-photos/1.png" alt="" width="100%"/>
            </div>
            <div class="login_other">
                <span class="login_other_span">分享至</span>
                <a href="#" title="sina" class="login_other_icon login_other_xl"><i class="iconfont_sina"></i></a>
                <a href="#" title="QQ" class="login_other_icon login_other_qq"><i class="iconfont_qq"></i></a>
                <a href="#" title="wx" class="login_other_icon login_other_wx"><i class="iconfont_wx"></i></a>
            </div>
        </div>
    </div> -->
</div>