---
layout: default
---
<div class="indexSeach">
       <!-- 搜索历史 -->
       <div class="his_sea">
            <h2 class="his_sea_tit">搜素历史</h2>
            <ul class="his_sea_con">
               <li><a href="javascript:;">富海人才</a></li>
               <li><a href="javascript:;">富海人</a></li>
               <li><a href="javascript:;">富海人才</a></li>
               <li><a href="javascript:;">富海</a></li>
               <li><a href="javascript:;">网易</a></li>
               <li><a href="javascript:;">拉勾网</a></li>
               <li><a href="javascript:;">小米</a></li>
               <li><a href="javascript:;">富海</a></li>
               <li><a href="javascript:;">富海招聘</a></li>
               <li><a href="javascript:;">小米</a></li>
            </ul>
            <span class="his_sea_ico"><i class="fa fa-trash-o"></i></span>
       </div>
</div>