---
layout: default
title: 职位订阅
---
<div class="subscribe">
    <div class="mod_pos_item p-2">
        <div class="mod_pos_item_ind">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="text-truncate p-0">期望职位</h2>
                <div class="mod_pos_sub_right">
                    <a href="javascript:;" class="btn mod_btn_blue" id="show-prompt"><i class="fa fa-plus"></i> 添加</a>
                </div>
            </div>
            <ul>
                <li><span>前端开发</span> <i class="fa fa-remove"></i></li>
                <li><span>网页设计师</span> <i class="fa fa-remove"></i></li>
                <li><span>网页设计师</span> <i class="fa fa-remove"></i></li>
                <li><span>网页设计师</span> <i class="fa fa-remove"></i></li>
                <li><span>网页设计师</span> <i class="fa fa-remove"></i></li>
                <li><span>网页设计师</span> <i class="fa fa-remove"></i></li>
                <li><span>网页设计师</span> <i class="fa fa-remove"></i></li>
            </ul>
        </div>
    </div>
    <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <div class="weui-cell weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <h2>选择地区</h2>
                </div>
                <div class="weui-cell__bd">
                    <div class="input_box">					
                        <input type="text" class="inp_search" placeholder="请选择地区">
                    </div>
                </div>
            </div>
            <div class="weui-cell weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <h2>选择行业</h2>
                </div>
                <div class="weui-cell__bd">
                    <div class="input_box">					
                        <input type="text"  class="inp_search" placeholder="请选择行业" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
        <div class="mod_pos_btn_air w-100"><a href="javascript:;">保存</a></div>
    </section>
</div>