---
layout: pages
title: coming-soon
---
<div class="m-scene" id="main"> <!-- Main Container -->

  <!-- Page Content -->
  <div id="content" class="">

    <!-- Main Content -->
    <div class="animated fadein bg-opacity">
      <div class="valign-wrapper fullscreen">
        <!-- Page Center -->
        <div class="valign">
          <div class="row">
            <div class="col s12 center-align animated fadein delay-1">
              <h1 class="title white-text">Coming Soon</h1>
            </div>
            <div class="col s12 center-align p-20 animated fadeinup delay-2">
              <h2 id="countdown"></h2>
              <span class="white-text">We're currently working on creating something fantastic.<br>
              We'll be here soon, subscribe to be notified</span>
              <div class="input-field animated fadein delay-4">
                <input id="icon_prefix" type="email" class="center-align validate" placeholder="Enter your email address">
                <a href="index.html" class="waves-effect waves-light btn primary-color">Send</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <div class="page-bottom center-align p-b-20">
          <i class="ion-social-facebook p-10 white-text"></i>
          <i class="ion-social-twitter p-10 white-text"></i>
          <i class="ion-social-instagram p-10 white-text"></i>
          <i class="ion-social-pinterest p-10 white-text"></i>
          <i class="ion-social-dribbble p-10 white-text"></i>
        </div>
      </div>
    </div> <!-- End of Main Contents -->

      
  </div> <!-- End of Page Content -->

</div> <!-- End of Page Container -->