---
layout: pages
title: 考勤系统
---
<header class="search">
    <div class="search_header search_bg_Ter_Whi">
        <div class="search_header_box">
            <div class="search_left w-2"><a href="javascript:history.back()"><i class="fa fa-angle-left fa-lg"></i></a></div>
            <div class="search_center"><a href="javascript:"> 消息 </a></div>
            <div class="search_right w-2"><a href=""></a></div>
        </div>
    </div>
</header>
<div class="news">
    <div class="" style="background-color:transparent!important">
        <div class="weui-cells__title text-center">16:37 下午</div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <a href="qy-checkInDail.html">
                    <h4><strong>李先生 签到成功</strong></h4>
                    <p>签到时间为：03月08日 09点41分40秒!</p>
                    <p>迟到啦！明天能不能早点啊~~</p>
                </a>
            </div>
        </div>
        <div class="weui-cells__title text-center">16:37 下午</div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <a href="qy-leaveDail.html">
                    <h4><strong>张小姐 申请病假</strong></h4>
                    <p>请假类型：病假</p>
                    <p>开始时间：2018-12-10 09:41</p>
                    <p>结束时间：2019-02-18 09:41</p>
                    <p>上班时间：2019-03-18 09:41</p>
                </a>
            </div>
        </div>
    </div>
</div>