---
layout: pages
title: 狮子城场馆数据表
---
<style>
    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
</style>
<!-- Page Content -->
<div id="content" class="grey-blue page">
    <!-- Sidebars -->
    {% include left_Sidebars.html %}

    {% include Components/toolbar.html %}
    
    <!-- Main Content -->
    <div class="">

        <div id="" style="width: 75%;">
                <canvas id="canvas"></canvas>
        </div>
        <button id="randomizeData">随机数据</button>
        <button id="addDataset">添加数据集</button>
        <button id="removeDataset">移除数据集</button>
        <button id="addData">添加数据</button>
        <button id="removeData">移除数据</button>
      
    </div>

</div>