---
layout: pages
title: search
---
<style>
/* 招聘信息 */
.job h4 {width:60px;height:40px;line-height: 40px;text-align: center;}
.job span.line{width:60px;height: 2px;display: block;background-color: #f60;}
.mod_pos_list{color:#aeaeae;border-top:1px solid #dee2e6;}
.mod_pos_list a{color:hsl(0, 0%, 68%);text-decoration:none;display:block}
.mod_pos_item{color:#999999;position:relative;border-bottom:1px solid #dee2e6;overflow:hidden;padding: .50313rem;}
.mod_pos_item:last-child{border:0;}
.mod_pos_item_text{color:#999999;text-decoration:none;display:block;position:relative;padding:0!important;}
.mod_pos_item_text h2{font-size:.805rem;color:#212529;margin-right: 10px!important;}
.mod_pos_item_text p{font-size:.70437rem;overflow: hidden;}
.mod_pos_item_text_pic{float:left;margin:0rem .50313rem 0rem 0rem}
.mod_pos_item_text_pic img{width:50px;height:50px}
.mod_pos_item_text::after{display:block;clear:both;content:""}
.mod_pos_item_tit{display: flex;align-items: center;}
.mod_pos_item_tit span{ padding:0 5px;background-color: #f60;color: #fff; font-size: 12px;}
.mod_pos_item_mes{font-size:.60375rem;margin-bottom:0!important;}
.mod_pos_item_mes span{color:#212529;border-right:1px solid #dee2e6;display:block;float:left;padding:0rem .25156rem}
.mod_pos_item_mes span:first-child{padding-left:0}
.mod_pos_item_mes span:last-child{border-right:0}
.mod_pos_item_ind{overflow:hidden;font-size:.60375rem;}
.mod_pos_item_ind p{font-size:12px;}
.mod_pos_item_ind strong{color:#212529; font-weight: normal;}
.mod_pos_item_ind li{display:block;float:left;font-size:.60375rem;background-color:#f8f9fa;padding:.10063rem .20125rem .10063rem 0;margin:.25156rem .25156rem 0rem 0rem;-webkit-border-radius:.15094rem;border-radius:.15094rem;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1
;}
.mod_pos_item_ind li:last-child{margin-right:0}
.mod_pos_item_ind::after{display:block;clear:both;content:""}
.mod_pos_item_salary{position:absolute;top:.50313rem;right:.75469rem;text-align:right;font-size:.70437rem}
.mod_pos_item_salary_mon{text-align:right!important;color:#f60!important;font-size:.805rem}
.mod_pos_item_salary_data{text-align:right!important;color:#aeaeae}
.mod_pos_item_salary p{font-size:.70437rem;text-align:justify;text-justify:inter-ideograph;word-wrap:break-word;word-break:break-all;line-height:.90563rem}
.footer{background-color: #dee2e6;}
.footer p{line-height: 25px;}
</style>
<div class="p-b-20">
  <ul class="collapsible popout m-l-r-10" data-collapsible="accordion">
    <li class="mod_pos_item">
      <div class="collapsible-header mod_pos_item_text">
          <i class="ion-android-more-vertical right" style="margin-top: 10px;"></i>
          <div class="mod_pos_item_tit text-truncate">
            <h2 class="mr-2">.NET开发工程师</h2> <span>急招</span>
          </div>
          <p class="mod_pos_item_mes text-truncate">
              <span>男</span>
              <span>1年经验</span>
              <span>中专</span>
          </p>
      </div>
      <div class="collapsible-body">
          <div class="mod_pos_item_ind">
              <p class="mb-1 text-justify"><strong>职位要求：</strong><br/>
                  1、1年以上Net开发经验，熟悉B/S结构；<br/>
                  2、掌握Html、JavaScrip，Jqury，AJAX等前端相关技术，有微信，H5相关经验；<br/>
                  3、熟练ASP.NET(C#)，SQL Server后台开发技术；<br/>
                  4、熟练使用Photoshop，VS2012/2015等项目开发软件；<br/>
                  5、具备良好的代码编写习惯；良好的沟通能力，协作能力；工作态度积极，为人诚恳踏实，责任心强。
              </p>
              <p class="text-justify"><strong>工作内容：</strong>
                  暂无内容
              </p>
          </div>
      </div>
    </li>
  </ul>
</div>