---
layout: pages
title: player
---
  <!-- Page Content -->
  <div id="content">

      {% include Components/toolbar.html %}
      
      <!-- Main Content -->
      <div class="animated fadeinup">
        <!-- Album Cover -->
        <div class="hero-header animated fadeinup">
          <img src="../../static/img/player.jpg" alt="">
          <!-- Floating Action Button -->
          <div class="floating-button animated bouncein delay-4">
            <span class="btn-floating btn-large waves-effect waves-light accent-color btn z-depth-1">
              <i class="ion-android-options"></i>
            </span>
          </div>
        </div>
  
        <!-- Player Info -->
        <div class="player-info primary-color animated fadein delay-2"> <!-- album information -->
          <h4>Blue Love</h4> 
          <span>Bob &amp; The Band</span>        
        </div>
  
        <!-- Progress Bar -->
        <div class="progress white">
          <div class="determinate accent-color" style="width: 70%"></div>
        </div>
        
        <!-- Player Controllers -->
        <div class="player-controllers primary-color animated fadein delay-3">
          <i class="ion-ios-rewind left-align"></i>
          <i class="ion-ios-play center-align"></i>
          <i class="ion-ios-fastforward right-align"></i>
        </div>
  
        <!-- Song List -->
        <div class="upnext">
          <h6>Up Next</h6>
  
          <div class="next-song animated fadeinright delay-1">
            <span>1</span>
            <span>I'm Selfish</span>
            <i class="ion-android-more-vertical"></i>
          </div>
  
          <div class="next-song animated fadeinright delay-2">
            <span>2</span>
            <span>I'm Selfish</span>
            <i class="ion-android-more-vertical"></i>
          </div>
  
          <div class="next-song animated fadeinright delay-3">
            <span>3</span>
            <span>I'm Selfish</span>
            <i class="ion-android-more-vertical"></i>
          </div>
  
          <div class="next-song animated fadeinright delay-4">
            <span>4</span>
            <span>I'm Selfish</span>
            <i class="ion-android-more-vertical"></i>
          </div>
  
          <div class="next-song animated fadeinright delay-5">
            <span>5</span>
            <span>I'm Selfish</span>
            <i class="ion-android-more-vertical"></i>
          </div>
  
          <div class="next-song animated fadeinright delay-6">
            <span>6</span>
            <span>I'm Selfish</span>
            <i class="ion-android-more-vertical"></i>
          </div>
  
        </div>
  
      </div> <!-- End of Main Contents -->
    
      
    </div> <!-- End of Page Content -->