---
layout: default
title: 通知详情
---
<div class="body_wap">
    <header class="header_h">
        <div class="header_fixed">
            <div class="header">
                <div class="header_bg  bg3">
                    <a class="hd-lbtn " href="javascript:history.back()"><i class="header_top_l"></i></a>
                    <div class="header_h1">
                        <div class="header_p_z"> 通知详情</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main_member_cot_box">
        <div class="wap_member_Receive">
            <div class="member_invite_c">
                <a href="c_job_view.html"><span class="member_c9">职位：</span>网页美工设计师</a>
            </div>
            <div class="member_invite_c">
                <a href="c_company_show.html"><span class="member_c9">公司：</span>惠州市万泰人力资源服务有限公司</a>
            </div>
            <div class="member_invitecont_list"><span class="member_invitecont_list_s">面试时间：</span>2018-12-18 04:12&nbsp; </div>
            <div class="member_invitecont_list"><span class="member_invitecont_list_s">联&nbsp;系&nbsp; 人：</span>梁生&nbsp; </div>
            <div class="member_invitecont_list"><span class="member_invitecont_list_s">联系电话：</span>13433597756&nbsp; </div>
            <div class="member_invitecont_list"><span class="member_invitecont_list_s">面试地点：</span>小金口青塘村委会青一村小组金龙大道99号&nbsp; </div>
                    <div class="">
                            <div class="member_invitecont_newcz">
                    <a href="c_invitecont_datil.html" onclick="layer_del('确定要同意面试邀请？','index.html')" class="member_invitecont_newcz_ty">同意面试</a>
                    <div class="member_invitecont_newcz_a">
                        <a href="javascript:void(0)" onclick="layer_del('确定要删除？','index.php?c=delinvite&id=137')" class="member_invitecont_sc">删除</a>
                        <a href="javascript:void(0)" onclick="layer_del('您确定要屏蔽该公司并删除该邀请？','index.php?c=invite&id=137')" class="member_invitecont_pb">屏蔽企业</a>
                        <a href="javascript:void(0)" onclick="layer_del('确定要拒绝面试邀请？','index.php?c=inviteset&id=137&browse=4')" class="member_invitecont_jj ">拒绝面试</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layermbox layermbox0 layermshow" index="2" style="display:none;">
        <div class="laymshade"></div>
        <div class="layermmain">
            <div class="section">
                <div class="layermchild  layermanim">
                    <div class="layermcont">您确定要屏蔽该公司并删除该邀请？</div>
                    <div class="layermbtn"><span type="0">取消</span><span type="1">确认</span></div>
                </div>
            </div>
        </div>
    </div>
</div>