<script>
	 var $qyZl = $('#qyZl');
	 var $qyCon = $('#qyCon');
	 var $qyFl = $('#qyFl');
   $qyZl.click(function(){
				$('.weui-tab').css('display','none');
				setTimeout(function(){
					$('.qyZl').removeAttr('style'); 
				},500)
	 })
	 $qyCon.click(function(){
				$('.weui-tab').css('display','none');
				setTimeout(function(){
					$('.qyCon').removeAttr('style'); 
				},500)
	 })
	 $qyFl.click(function(){
				$('.weui-tab').css('display','none');
				setTimeout(function(){
					$('.qyFl').removeAttr('style'); 
				},500)
	 })
</script>