---
layout: pages
title: gallery-card
---
<!-- Page Content -->
  <div id="content" class="grey-blue page">

     
      {% include Components/toolbar.html %}
      <!-- Main Content -->
      <div class="animated fadeinup">
  
          <div class="grid">
            <div class="grid-item gallery-item-card">
              <a href="../../static/img/1.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="../../static/img/1.jpg" alt="image">
                <div class="gallery-item-header">
                  <div class="gallery-item-author">
                    <span>Jassie North</span>
                    <span class="small">1hour ago - 62 Share</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid-item gallery-item-card">
              <a href="../../static/img/v1.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="../../static/img/v1.jpg" alt="image">
                <div class="gallery-item-header">
                  <div class="gallery-item-author">
                    <span>Jassie North</span>
                    <span class="small">1hour ago - 62 Share</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid-item gallery-item-card">
              <a href="../../static/img/2.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="../../static/img/2.jpg" alt="image">
                <div class="gallery-item-header">
                  <div class="gallery-item-author">
                    <span>Jassie North</span>
                    <span class="small">1hour ago - 62 Share</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid-item gallery-item-card">
              <a href="../../static/img/3.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="../../static/img/3.jpg" alt="image">
                <div class="gallery-item-header">
                  <div class="gallery-item-author">
                    <span>Jassie North</span>
                    <span class="small">1hour ago - 62 Share</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid-item gallery-item-card">
              <a href="../../static/img/v2.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="../../static/img/v2.jpg" alt="image">
                <div class="gallery-item-header">
                  <div class="gallery-item-author">
                    <span>Jassie North</span>
                    <span class="small">1hour ago - 62 Share</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid-item gallery-item-card">
              <a href="../../static/img/v3.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="../../static/img/v3.jpg" alt="image">
                <div class="gallery-item-header">
                  <div class="gallery-item-author">
                    <span>Jassie North</span>
                    <span class="small">1hour ago - 62 Share</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid-item gallery-item-card">
              <a href="../../static/img/4.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="../../static/img/4.jpg" alt="image">
                <div class="gallery-item-header">
                  <div class="gallery-item-author">
                    <span>Jassie North</span>
                    <span class="small">1hour ago - 62 Share</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid-item gallery-item-card">
              <a href="../../static/img/5.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
                <img src="../../static/img/5.jpg" alt="image">
                <div class="gallery-item-header">
                  <div class="gallery-item-author">
                    <span>Jassie North</span>
                    <span class="small">1hour ago - 62 Share</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
                
          {% include footer.html %}
  
        
    </div> <!-- End of Page Content -->