---
layout: pages
title: left-sidebar
---

  <!-- Page Content -->
  <div id="content">

      <!-- Toolbar -->
      <div id="toolbar" class="primary-color">
        <div class="open-left" id="open-left" data-activates="slide-out-left">
          <i class="ion-android-menu"></i>
        </div>
        <span class="title">Left Sidebar</span>
      </div>
      
      <!-- Main Content -->
      <div class="animated fadeinup">
  
      </div> <!-- End of Main Contents -->
    
      
    </div> <!-- End of Page Content -->