---
layout: pages
title: shop
---
<!-- Page Content -->
<div id="content">


    {% include Components/toolbar.html %}
    
    <!-- Hero Header -->
    <div class="h-banner animated fadeindown">
      <div class="parallax bg-shop"></div>
      <div class="banner-title">Shop</div>
      </div>
</div>
<!-- Profile Content -->
<div class="animated fadeinup delay-1">
<div class="shop-banner animated fadeinup delay-1">
  <a href="category.html">
    <img src="../../static/img/banner1.jpg" alt="">
    <div class="border-overlay valign-wrapper">
      <div class="valign center width-100">
        <h3 class="white-text">New Arrivals</h3>
        <p class="white-text">SS 2016</p>
      </div>
    </div>
  </a>
</div>
<div class="shop-banner animated fadeinup delay-2">
  <a href="category.html">
    <img src="../../static/img/banner2.jpg" alt="">
    <div class="border-overlay valign-wrapper">
      <div class="valign center width-100">
        <h3 class="white-text">Accessories</h3>
        <p class="white-text">Watches 2016</p>
      </div>
    </div>
  </a>
</div>
<div class="shop-banner animated fadeinup delay-3">
  <a href="category.html">
    <img src="../../static/img/banner3.jpg" alt="">
    <div class="border-overlay valign-wrapper">
      <div class="valign center width-100">
        <h3 class="white-text">Shoes</h3>
        <p class="white-text">50% Sales</p>
      </div>
    </div>
  </a>
</div>
<div class="shop-banner width-100 animated fadeinup delay-3">
  <a href="category.html">
    <img src="../../static/img/banner4.jpg" alt="">
    <div class="border-overlay valign-wrapper">
      <div class="valign center width-100">
        <h3 class="white-text">Sale</h3>
        <p class="white-text">50% - 70%</p>
      </div>
    </div>
  </a>
</div>

<div class="clr"></div>

{% include footer.html %}

</div> 