.personalInfo{
    @extend %bgColorMt;
    padding-bottom:rem(161);
    .weui-cell_access{
        border-bottom:0;
        text-decoration: none;
    }
    .weui-cells{
        &:before{
           border-top:0;
        }
    }
}