<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>
    {{ page.title | smartify }} · 狮子城
</title>
<!-- Custom CSS -->
<link rel="stylesheet" href="static/css/bootstrap.css">
<link rel="stylesheet" href="static/css/main.css">
<!-- icon -->
<link rel="stylesheet" href="static/css/fontawesome/css/font-awesome.min.css">
<!-- jquery-weui -->
<link rel="stylesheet" href="static/css/weui.css">
<link rel="stylesheet" href="static/css/jquery-weui.css">
<link rel="stylesheet" href="static/css/swiper.min.css">
<!-- Select ticket type -->
{% if page.layout == "ShoppingNew" or page.layout == "index" %}
<link type="text/css" rel="stylesheet" href="static/css/gp/layui.css">
<link id="layuicss-laydate" rel="stylesheet" href="static/css/gp/laydate.css" media="all">
<link id="layuicss-layer" rel="stylesheet" href="static/css/gp/layer.css" media="all">
<link id="layuicss-skincodecss" rel="stylesheet" href="static/css/gp/code.css" media="all">
{% endif %}
{% if page.layout == "calendar" %}
<link rel="stylesheet" href="static/css/calendar-price-jquery.min.css">
{% endif %}