<!-- Custom CSS -->
<link rel="stylesheet" href="static/css/bootstrap.css">
<link rel="stylesheet" href="static/css/main.css">
<!-- icon -->
<link rel="stylesheet" href="static/css/fontawesome/css/font-awesome.min.css">
<!-- jquery-weui -->
<link rel="stylesheet" href="static/css/weui.css">
<link rel="stylesheet" href="static/css/jquery-weui.css">
<link rel="stylesheet" href="static/css/swiper.min.css">
<!-- Select ticket type -->
{% if page.layout == "ShoppingNew" %}
<link type="text/css" rel="stylesheet" href="static/css/gp/layui.css">
<link id="layuicss-laydate" rel="stylesheet" href="static/css/gp/laydate.css" media="all">
<link id="layuicss-skincodecss" rel="stylesheet" href="static/css/gp/code.css" media="all">
{% endif %}
{% if page.layout == "calendar" %}
<link rel="stylesheet" href="static/css/calendar-price-jquery.min.css">
{% endif %}
{% if page.layout == "index" %}
<style>
.weui-grids{
   padding:5px;
}
.weui-grid{
   width:50%!important;
}
.weui-grids a{
    padding: 10px;
}
.weui-grid:active {
    background-color: #f8b280!important;
}
.weui-grid h2{
  font-size: 20px;
  color:#ffffff;
  margin-bottom:5px;
}
.weui-grid__label{
   text-align: left!important;
}
.weui-grid__icon{
    width: 60px;
    height: 60px;
    float: right;
}
.zxbox{
    height: 342px;
    padding:0;
    border: 2px solid #fff;
}
.zxbox a{
    display: block;

}
.bgcolor_newhd{
    background-color: #e25d00;
    border: 2px solid #fff;
}
.bgcolor_zxgp{
    background-color: #104a9a;
    height: 165px;
    padding: 10px;
    margin-bottom:4px;
}
.bgcolor_qqjd{
    background-color: #048ac7;
    height: 169px;
    padding: 20px 10px;
}
.bgcolor_mstd{
    background-color: #e28d00;
    border: 2px solid #fff;
}
.bgcolor_ywtj{
    background-color: #2da062;
    height: 114px;
    border: 2px solid #fff;
}
.bgcolor_xxyl{
    background-color: #b1231c;
    height: 114px;
    border: 2px solid #fff;
}
.bgcolor_lp{
    background-color: #6ea75a;
    height: 114px;
    border: 2px solid #fff;
}
</style>
{% endif %}
{% if page.layout == "list" %}
<style>
.mod_pos_hig{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
</style>
{% endif %}