---
layout: default
title: 关于狮子城
---
<!-- LOGO及导航 -->
{% include header.html %}

<!-- 单张banner图 1920X300 -->
<div class="banner_met_11_5_2 page-bg" style="" m-id="2" m-type="banner">
    <div class="slick-slide">
        <img class="cover-image" src="../assets/img/1553051554.jpg"
            srcset="../assets/img/1553051554.jpg 767w,../assets/img/1553051554.jpg" sizes="(max-width: 767px) 767px"
            alt="" data-height="0|0|0" data-fade="false" data-autoplayspeed="4000" data-speed="1000" data-hex="|0.48"
            data-m="0" style="height: auto;">
    </div>
</div>

<!-- 关于我们 -->
<main class="szc">
  <section style="padding:20px 0;">
    <p style="margin-bottom: 16px;color: rgb(34, 34, 34);">
       <img src="../assets/img/1521446571138889.jpg" width="100%" alt="狮子城">
    </p>
    <hr style="margin-top: 22px; margin-bottom: 22px; border-top-color: rgb(228, 234, 236); color: rgb(34, 34, 34);">
    <p style="font-size: 16px;overflow: hidden;">　　狮子城文化创意园由深圳狮子城文化股份有限公司投建，项目主体公司深圳狮子城文化股份有限公司于2015年在全国中小企业股份转让系统挂牌，证券简称：狮子城，证券代码：430173。狮子城总部设在深圳，立足于粤港澳大湾区，服务延伸至各省市，对接资源、品牌输出，布局全国。
        首个狮子城文化创意园落户广东汕头，占地面积约80亩，主体建筑面积约3万平方米。
        部分业态于2013年11月8日开业，涵盖婚庆、摄影、餐饮、旅游、教育、赛车等，2020年即将开放宠物园、美食街、无动力儿童乐团、奇奇之家、CS枪战区，配套占地一万平方米的停车场。
        现汕头狮子城文化创意园已通过市级文化产业园区认定，首个狮子城项目商业运作的成功，为狮子城在全国进行连锁复制打下坚实基础。
    </p>
    <p><br></p>
  </section>
</main>
<!-- 底部栏目 -->
{% include bottom-menu1.html %}

<!-- 页底 -->
{% include footer.html %}