---
layout: default
title: 联系我们
---
<!-- LOGO及导航 -->
{% include header.html %}

<!-- 单张banner图 1920X300 -->
<div class="banner_met_11_5_2 page-bg" style="" m-id="2" m-type="banner">
    <div class="slick-slide">
        <img class="cover-image" src="../assets/img/1553051554.jpg"
            srcset="../assets/img/1553051554.jpg 767w,../assets/img/1553051554.jpg" sizes="(max-width: 767px) 767px"
            alt="" data-height="0|0|0" data-fade="false" data-autoplayspeed="4000" data-speed="1000" data-hex="|0.48"
            data-m="0" style="height: auto;">
    </div>
</div>

<!--  -->
<main class="show_met_16_1_12 met-show-body panel panel-body m-b-0 bgcolor" boxmh-mh="" m-id="12">
    <div class="container my-show left">
        <div class="row" style="margin-bottom: 20px;">
            <section class="met-editor clearfix">
                <p>
                    <img src="../assets/img/20190906112003_7187.jpg" style="float: left; width:600px; margin: 0px 30px" border="0"vspace="0" title="">
                </p>
                <p><br/></p>
                <p><span style="font-size: 18px;"><strong>惠州狮子城文化创意园</strong></span></p>
                <p><span style="font-size: 18px;">电话：</span> 0752-2888688</p>
                <p><span style="font-size: 18px;">传真：</span> 0752-2898788</p>
                <p><span style="font-size: 18px;">地址：</span> 惠州市惠城区小金口金龙大道99号</p>
            </section>
        </div>
        <div class="row">
            <section class="met-editor clearfix">
                <p>
                    <img src="../assets/img/20170413150858_2500.jpg" style="float: left; width:600px; margin: 0px 30px" border="0"vspace="0" title="">
                </p>
                <p><br/></p>
                <p><span style="font-size: 18px;"><strong>汕头狮子城文化创意园</strong></span></p>
                <p><span style="font-size: 18px;">电话：</span> 0754-88116269</p>
                <p><span style="font-size: 18px;">传真：</span> 0754-89993636</p>
                <p><span style="font-size: 18px;">地址：</span> 惠州市惠城区小金口金龙大道99号</p>
            </section>
        </div>
    </div>
</main>
<!-- <main class="szc">
   <div class="content">
      <div class="row">
          <div class="col-lg-8">
              <img src="../assets/img/20190906112003_7187.jpg" alt="">
          </div>
          <div class="col-lg-4">
             <ul>
                <li>惠州狮子城文化创意园</li>
                <li>电话：0752-2888688</li>
                <li>传真：0752-2898788</li>
                <li>地址：惠州市惠城区小金口金龙大道99号</li>
             </ul>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
            <img src="../assets/img/20170413150858_2500.jpg" alt="">
        </div>
        <div class="col-lg-4">
            <ul>
                <li>汕头狮子城文化创意园</li>
                <li>电话：0754-88116269</li>
                <li>传真：0754-89993636</li>
                <li>地址：惠州市惠城区小金口金龙大道99号</li>
            </ul>
        </div>
     </div>
   </div>
</main> -->

<!-- 底部栏目 -->
{% include bottom-menu1.html %}

<!-- 页底 -->
{% include footer.html %}