---
layout: default
title: 新闻中心
---
<!-- LOGO及导航 -->
{% include header.html %}

<!-- 大轮播广告图 -->
{% include swiper.html %}

<!-- 新闻中心 导航 -->
<div class="subcolumn_nav_met_16_1_34 border-bottom1">
  <div class="subcolumn-nav text-xs-center">
    <ul class="subcolumn_nav_met_16_1_34-ul m-b-0 p-y-10 p-x-0 ulstyle">
        <li>
         <a href="" title="全部" class="active">全部</a>
        </li>
        <li>
         <a href="" title="集团新闻" class="" target="_self">集团新闻</a>
        </li>
        <li>
         <a href="" title="行业资讯" class="" target="_self">行业资讯</a>
        </li>
    </ul>
  </div>
</div>

<!-- 新闻中心 列表 -->
<main class="news_list_page_met_28_1_39 met-news">
    <div class="container">
        <div class="row">
            <div class="col-md-9 met-news-body fl_left">
                <div class="row">
                    <div class="met-news-list">
                        <ul class="ulstyle met-pager-ajax imagesize" data-scale="260x380" m-id="39">
                            <!-- 图文模式 -->
                            <li class="media media-lg border-bottom1">
                                <div class="media-left">
                                    <a href="news_show.html" title="" target="_self">
                                        <img class="media-object" src="../upload/news/1521448432.jpg" alt="" style="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4>
                                        <a href="news_show.html" title="" target="_self"><span>网红海绵棒游戏驾到！周末狂欢泼水节等你来战</span></a>
                                    </h4>
                                    <p class="des font-weight-300">
                                         上周因天气延迟的泼水节，本周六、周日如期约定你开启狂欢，趁着天气还算“炎热”，赶紧抓住夏天的尾巴，再感受下清凉一刻的魅力。夏天会有尾声，但欢乐却不会有终结，这个夏天，连续五场的狂欢泼水节，给大家带来了哪些回忆？万人水仗激
                                    </p>
                                    <p class="info font-weight-300">
                                        <span style="margin-right: 10px;"><i class="fa fa-clock-o m-r-5"></i> 2019-09-08</span>
                                        <span><i class="fa fa-eye m-r-5"></i> 25</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <div class="m-t-20 text-xs-center hidden-sm-down" m-type="nosysdata">
                            <div class="met_pager">
                                <span class="PreSpan">上一页</span>
                                <a href="" class="Ahover">1</a><a href="">2</a><a href="" class="NextA">下一页</a>
                                <span class="PageText">转至第</span>
                                <input type="text" id="metPageT" data-pageurl="" value="1">
                                <input type="button" id="metPageB" value="页">
                            </div>
                        </div>
                        <div class="met_pager met-pager-ajax-link hidden-md-up invisible" data-plugin="appear" data-animate="slide-bottom" data-repeat="false" m-type="nosysdata">
                            <button type="button" class="btn btn-primary btn-block btn-squared ladda-button" id="met-pager-btn" data-plugin="ladda" data-style="slide-left" data-url="" data-page="1">
                                <span class="ladda-label"><i class="fa fa-down m-r-5" aria-hidden="true"></i></span>
                                <span class="ladda-spinner"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row m0">
                    <aside class="sidebar_met_16_1_14 met-sidebar panel panel-body m-b-0" boxmh-h="" m-id="14" m-type="nocontent">
                        <form class="sidebar-search" method="get" action="">
                            <input type="hidden" name="lang" value="cn">
                            <input type="hidden" name="class1" value="4">
                            <div class="form-group">
                                <div class="input-search">
                                    <button type="submit" class="input-search-btn butbg">
                                        <i class="icon wb-search iconcolor" aria-hidden="true"></i>
                                    </button>
                                    <input type="text" class="form-control" name="searchword"
                                        placeholder="search">
                                </div>
                            </div>
                        </form>
                        <ul class="sidebar-column list-icons">
                            <li>
                                <a href="https://mb.mituo.cn/mui079/news/" title="集团要闻" class="active" target="_self">集团要闻</a>
                            </li>
                            <li>
                                <a href="https://mb.mituo.cn/mui079/news/news.php?class2=13" title="集团新闻"
                                    class="">集团新闻</a>
                            </li>
                            <li>
                                <a href="https://mb.mituo.cn/mui079/news/news.php?class2=14" title="行业资讯"
                                    class="">行业资讯</a>
                            </li>
                        </ul>
                        <div class="sidebar-news-list recommend">
                            <h3 class="font-size-16 m-0">为你推荐</h3>
                            <ul class="list-group list-group-bordered m-t-10 m-b-0">
                                <li class="list-group-item">
                                    <a href="https://mb.mituo.cn/mui079/news/shownews.php?id=4"
                                        title="以开放型经济新体制推动经济持续健康发展" target="_self">以开放型经济新体制推动经济持续健康发展</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://mb.mituo.cn/mui079/news/shownews.php?id=5"
                                        title="环保部：14省市将在今年底前完成生态红线划定" target="_self">环保部：14省市将在今年底前完成生态红线划定</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://mb.mituo.cn/mui079/news/shownews.php?id=6"
                                        title="两会访谈丨邹磊：创新为了电力绿色消费" target="_self">两会访谈丨邹磊：创新为了电力绿色消费</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://mb.mituo.cn/mui079/news/shownews.php?id=3"
                                        title="书记会见镇江市市委书记惠建林一行" target="_self">书记会见镇江市市委书记惠建林一行</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://mb.mituo.cn/mui079/news/shownews.php?id=2"
                                        title="集团召开2017年瘦身健体提质增效专题工作会" target="_self">集团召开2017年瘦身健体提质增效专题工作会</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- 底部栏目 -->
{% include bottom-menu1.html %}

<!-- 页底 -->
{% include footer.html %}