---
layout: default
title: 新闻中心
---
<!-- LOGO及导航 -->
{% include header.html %}

<!-- 单张banner图 1920X300 -->
<div class="banner_met_11_5_2 page-bg" style="" m-id="2" m-type="banner">
    <div class="slick-slide">
        <img class="cover-image" src="../assets/img/1553051554.jpg" srcset="../assets/img/1553051554.jpg 767w,../assets/img/1553051554.jpg"
            sizes="(max-width: 767px) 767px" alt="" data-height="0|0|0" data-fade="false" data-autoplayspeed="4000"
            data-speed="1000" data-hex="|0.48" data-m="0" style="height: auto;">
    </div>
</div>

<div class="location_met_16_1_49 met-crumbs" m-id="49">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb m-b-0 subcolumn-crumbs">
                <li class="breadcrumb-item">
                    <a href="index.html" title="网站首页"><em class="fa fa-home"></em> 网站首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="news.html" title="狮子城新闻" class="">狮子城新闻</a>
                </li>
            </ol>
        </div>
    </div>
</div>

<!-- 新闻内容 -->
<main class="news_list_detail_met_16_1_23 met-shownews animsition left">
    <div class="container">
        <div class="row sm0">
            <div class="col-md-9 met-shownews-body" m-id="23">
                <div class="row">
                    <section class="details-title border-bottom1">
                        <h1 class="m-0">网红海绵棒游戏驾到！周末狂欢泼水节等你来战</h1>
                        <div class="info font-weight-300">
                            <span style="margin-right: 10px;"><i class="fa fa-clock-o m-r-5"></i> 2019-09-08</span>
                            <span><i class="fa fa-eye m-r-5" aria-hidden="true"></i> 8 </span>
                        </div>
                    </section>
                    <section class="met-editor clearfix">
                        <p style="text-align: center">
                            ▽本周福利先上为敬<br/>
                            女生转发本文到朋you圈<br/>
                            并保留12小时以上<br/>
                            泼水节期间，到现场（咨询处）出示转发凭证<br/>
                            即可兑换门票免费入园<br/>
                            参加泼水狂欢！！！<br/>
                            （PS：限500名/天）<br/>
                            号外，号外<br/>
                            上周因天气延迟的泼水节<br/>
                            本周六、周日<br/>
                            如期约定你开启狂欢<br/>
                            趁着天气还算“炎热”<br/>
                            赶紧抓住夏天的尾巴，再感受下清凉一刻的魅力
                        </p>
                        <p>
                          <img src="../upload/news/20190906155720_4375.gif" data-width="380" width="380" data-height="260" height="260" alt="">
                        </p>
                    </section>
                   <div class="met-page p-y-30 border-top1">
                        <div class="container p-t-30">
                            <ul class="pagination block blocks-2">
                                <li class="page-item m-b-0 ">
                                    <a href="" title="" class="page-link text-truncate">上一页<!-- <span aria-hidden="true" class="hidden-xs-down"></span> --></a>
                                </li>
                                <li class="page-item m-b-0 ">
                                    <a href="" title="" class="page-link pull-xs-right text-truncate">下一页<!-- <span aria-hidden="true" class="hidden-xs-down">/span> --></a>
                                </li>
                            </ul>
                        </div>
                    </div>

				</div>
            </div>
            
            <div class="col-md-3">
                <div class="row m0">
                    <aside class="sidebar_met_16_1_14 met-sidebar panel panel-body m-b-0" boxmh-h="" m-id="14" m-type="nocontent">
                        <form class="sidebar-search" method="get" action="">
                            <input type="hidden" name="lang" value="cn">
                            <input type="hidden" name="class1" value="4">
                            <div class="form-group">
                                <div class="input-search">
                                    <button type="submit" class="input-search-btn butbg">
                                        <i class="icon wb-search iconcolor" aria-hidden="true"></i>
                                    </button>
                                    <input type="text" class="form-control" name="searchword"
                                        placeholder="search">
                                </div>
                            </div>
                        </form>
                        <ul class="sidebar-column list-icons">
                            <li>
                                <a href="" title="集团要闻" class="active" target="_self">集团要闻</a>
                            </li>
                            <li>
                                <a href="" title="集团新闻" class="">集团新闻</a>
                            </li>
                            <li>
                                <a href="" title="行业资讯" class="">行业资讯</a>
                            </li>
                        </ul>
                        <div class="sidebar-news-list recommend">
                            <h3 class="font-size-16 m-0">为你推荐</h3>
                            <ul class="list-group list-group-bordered m-t-10 m-b-0">
                                <li class="list-group-item">
                                    <a href="" title="" target="_self">以开放型经济新体制推动经济持续健康发展</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" title="" target="_self">环保部14省市将在今年底前完成生态红线划定</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" title="" target="_self">两会访谈丨邹磊：创新为了电力绿色消费</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" title="" target="_self">书记会见镇江市市委书记惠建林一行</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" title="" target="_self">集团召开2017年瘦身健体提质增效专题工作会</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
		</div>
    </div>
</main>

<!-- 底部栏目 -->
{% include bottom-menu1.html %}

<!-- 页底 -->
{% include footer.html %}