---
layout: default
title: 新闻中心
---
<!-- LOGO及导航 -->
{% include header.html %}

<!-- 单张banner图 1920X300 -->
<div class="banner_met_11_5_2 page-bg" style="" m-id="2" m-type="banner">
    <div class="slick-slide">
        <img class="cover-image" src="../assets/img/1553051554.jpg" srcset="../assets/img/1553051554.jpg 767w,../assets/img/1553051554.jpg"
            sizes="(max-width: 767px) 767px" alt="" data-height="0|0|0" data-fade="false" data-autoplayspeed="4000"
            data-speed="1000" data-hex="|0.48" data-m="0" style="height: auto;">
    </div>
</div>

<!-- 新闻中心 导航 -->
<div class="subcolumn_nav_met_16_1_34 border-bottom1">
  <div class="subcolumn-nav text-xs-center">
    <ul class="subcolumn_nav_met_16_1_34-ul m-b-0 p-y-10 p-x-0 ulstyle">
        <li>
          <a href="" title="全部" class="active">全部</a>
        </li>
        <li>
          <a href="" title="" class="" target="_self">活动资讯</a>
        </li>
        <li>
           <a href="" title="" class="" target="_self">婚博中心</a>
        </li>
        <li>
           <a href="" title="" class="" target="_self">卡丁车馆</a>
        </li>
    </ul>
  </div>
</div>

<!-- 新闻中心 列表 -->
<main class="news_list_page_met_28_1_39 met-news">
    <div class="container">
        <div class="row">
            <div class="col-md-9 met-news-body fl_left">
                <div class="row">
                    <div class="met-news-list">
                        <ul class="ulstyle met-pager-ajax imagesize" data-scale="260x380" m-id="39">
                            <!-- 图文模式 -->
                            <li class="media media-lg border-bottom1">
                                <div class="media-left">
                                    <a href="news_show.html" title="" target="_self">
                                        <img class="media-object" src="../upload/news/20190912105248_3437.jpg" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4>
                                        <a href="news_show.html" title="" target="_self">【惠州狮子城▪活动】萌宠大咖秀，紫藤花长廊！16+玩法的中秋庆典要来啦</a>
                                    </h4>
                                    <p class="des font-weight-300">
                                        当各种口味月饼“挤”上超市货架，大街小巷开始悬挂灯笼，中秋的氛围越来越浓。还记得小时候的中秋节，不管大人多忙，在中秋那天，大家都会赶回来吃上一顿有说有笑的团圆饭。然而现在长大，为了工作、学业，总是缺席中秋节的团圆饭......
                                    </p>
                                    <p class="info font-weight-300">
                                        <span style="margin-right: 10px;"><i class="fa fa-clock-o m-r-5"></i> 2019-09-07</span>
                                        <span><i class="fa fa-eye m-r-5"></i> 25</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <!-- star 页码 -->
                        <div class="m-t-20 text-xs-center hidden-sm-down" m-type="nosysdata">
                            <div class="met_pager">
                                <span class="PreSpan">上一页</span>
                                <a href="" class="Ahover">1</a><a href="">2</a><a href="" class="NextA">下一页</a>
                                <span class="PageText">转至第</span>
                                <input type="text" id="metPageT" data-pageurl="" value="1">
                                <input type="button" id="metPageB" value="页">
                            </div>
                        </div>
                        <div class="met_pager met-pager-ajax-link hidden-md-up invisible" data-plugin="appear" data-animate="slide-bottom" data-repeat="false" m-type="nosysdata">
                            <button type="button" class="btn btn-primary btn-block btn-squared ladda-button" id="met-pager-btn" data-plugin="ladda" data-style="slide-left" data-url="" data-page="1">
                                <span class="ladda-label"><i class="fa fa-down m-r-5" aria-hidden="true"></i></span>
                                <span class="ladda-spinner"></span>
                            </button>
                        </div>
                       <!-- end 页码 -->
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row m0">
                    <aside class="sidebar_met_16_1_14 met-sidebar panel panel-body m-b-0" boxmh-h="" m-id="14" m-type="nocontent">
                        <!-- <form class="sidebar-search" method="get" action="">
                            <input type="hidden" name="lang" value="cn">
                            <input type="hidden" name="class1" value="4">
                            <div class="form-group">
                                <div class="input-search">
                                    <button type="submit" class="input-search-btn butbg">
                                        <i class="icon wb-search iconcolor" aria-hidden="true"></i>
                                    </button>
                                    <input type="text" class="form-control" name="searchword" placeholder="search">
                                </div>
                            </div>
                        </form>
                        <ul class="sidebar-column list-icons">
                            <li>
                                <a href="https://mb.mituo.cn/mui079/news/" title="集团要闻" class="active" target="_self">集团要闻</a>
                            </li>
                            <li>
                                <a href="https://mb.mituo.cn/mui079/news/news.php?class2=13" title="集团新闻"
                                    class="">集团新闻</a>
                            </li>
                            <li>
                                <a href="https://mb.mituo.cn/mui079/news/news.php?class2=14" title="行业资讯"
                                    class="">行业资讯</a>
                            </li>
                        </ul> -->
                        <div class="sidebar-news-list recommend">
                            <h3 class="font-size-16 m-0">最新资讯</h3>
                            <ul class="list-group list-group-bordered m-t-10 m-b-0">
                                <li class="list-group-item">
                                    <a href="" title="" target="_self">【惠州狮子城▪活动】萌宠大咖秀，紫藤花长廊！16+玩法的中秋庆典要来啦</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" title="" target="_self">【惠州狮子城▪活动】网红海绵棒游戏驾到！周末狂欢泼水节等你来战</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" title="" target="_self">【惠州狮子城▪活动】赶走孩子“开学综合症”！本周末变身小小海洋艺术达人</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" title="" target="_self">【惠州欧美城▪活动】欧美城CS馆火爆开业啦！一起当朋友圈里最炫酷的仔</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="" title="" target="_self">【惠州欧美城▪活动】电音节加场啦！这周日电音+泼水狂欢趴继续约定你</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- 底部栏目 -->
{% include bottom-menu1.html %}

<!-- 页底 -->
{% include footer.html %}