---
layout: default
title: 人才招聘
---
<!-- LOGO及导航 -->
{% include header.html %}

<!-- 单张banner图 1920X300 -->
<div class="banner_met_11_5_2 page-bg" style="" m-id="2" m-type="banner">
    <div class="slick-slide">
        <img class="cover-image" src="../assets/img/1553051554.jpg" srcset="../assets/img/1553051554.jpg 767w,../assets/img/1553051554.jpg"
            sizes="(max-width: 767px) 767px" alt="" data-height="0|0|0" data-fade="false" data-autoplayspeed="4000"
            data-speed="1000" data-hex="|0.48" data-m="0" style="height: auto;">
    </div>
</div>

<!-- 人才招聘 -->
<!-- <div class="subcolumn_nav_met_16_1_33 border-bottom1" m-id="33" m-type="nocontent">
  <div class="">
    <div class="subcolumn-nav text-xs-center">
        <ul class="subcolumn_nav_met_16_1_33-ul m-b-0 p-y-10 p-x-0 ulstyle">
            <li>
                <a href="" title="人力资源" class="active">人力资源</a>
            </li>
            <li>
                <a href="" title="加入我们" class="" target="_self">加入我们</a>
            </li>
        </ul>
    </div>
  </div>
</div> -->
<main class="job_list_page_met_16_1_19 page-content left" m-id="19">
    <div class="container">
        <div class="met-job-list met-pager-ajax">           	
            <div class="card card-shadow">
                <h4 class="card-title p-0 font-size-24"><span style="">市场人员</span></h4>
                <!-- <p class="card-metas font-size-12 blue-grey-400">
                    <span class="m-r-10">2019-09-16</span>
                    <span class="m-r-10">
                        <i class="fa fa-map m-r-5" aria-hidden="true"></i> 惠州
                    </span>
                    <span class="m-r-10">
                        <i class="fa fa-user m-r-5" aria-hidden="true"></i> 0
                    </span>
                    <span>
                        <i class="fa fa-pay m-r-5" aria-hidden="true"></i> 面议
                    </span>
                </p> -->
            <hr>
            <div class="met-editor clearfix">
                <h4><span style="color: rgb(0, 112, 192);">
                    <strong><span style="font-size: 14px;">岗位职责：</span></strong></span>
                </h4>
                <div>
                    <p>1、依据市场总监要求，跟进、统合、汇报年度营销计划及各阶段实施目标；</p>
                    <p>2、完善营销信息收集、处理、交流及保密系统，建立大数据分析整合； </p>
                    <p>3、协助市场总监对游客消费心理和行为的调查，提出给娱乐操作单位及各业态运营方有效参考数据建议；</p>
                    <p>4、针对园区品牌性能、价格、促销手段等提出相关收集、整理和分析；并进行相关宣传策略与执行；</p>
                    <p>5、做出销售预测，提出未来市场的分析、发展方向和规划；</p>
                    <p>6、制定园区整体活动企划方案；</p>
                    <p>7、有效集结赞助商，增加异业结盟机会，提升园区企业合作高度，建造双赢平台。</p>
                    <p style="padding-bottom: 0;"><br></p>
                    <p><span style="color: rgb(0, 112, 192);">
                        <strong><span style="font-size: 14px;">岗位要求：</span></strong></span>
                    </p>
                    <p>1、本科学历以上，形象气质良好；</p>
                    <p>2、良好沟通表达能力，口条清晰；</p>
                    <p>3、工作认真负责，具备媒体平台沟通经验；</p>
                    <p>4、薪资待遇：5k以上，可抽成。</p>
                </div>
            </div>
            <hr>
            <div class="card-body-footer m-t-0">
                <a class="btn btn-outline btn-squared btn-primary met-job-cvbtn" href="javascript:;" data-toggle="modal" data-target="#met-job-cv0" data-jobid="4" data-cvurl="cv.php?lang=cn&amp;selected">在线应聘</a>
            </div>
            <div class="modal fade modal-primary" id="met-job-cv0">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">在线应聘</h4>
                        </div>
                        <div class="modal-body">  
                        
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>     
</main>

<!-- 底部栏目 -->
{% include bottom-menu1.html %}

<!-- 页底 -->
{% include footer.html %}
