---
layout: default
title: 狮子城
---
<!-- LOGO及导航 -->
{% include header.html %}

<!-- 单张banner图 1920X300 -->
<div class="banner_met_11_5_2 page-bg" style="" m-id="2" m-type="banner">
    <div class="slick-slide">
        <img class="cover-image" src="../assets/img/1553051554.jpg" srcset="../assets/img/1553051554.jpg 767w,../assets/img/1553051554.jpg"
            sizes="(max-width: 767px) 767px" alt="" data-height="0|0|0" data-fade="false" data-autoplayspeed="4000"
            data-speed="1000" data-hex="|0.48" data-m="0" style="height: auto;">
    </div>
</div>

<main class="szc">
 狮子城
</main>

<!-- 底部栏目 -->
{% include bottom-menu1.html %}

<!-- 页底 -->
{% include footer.html %}