---
layout: default
title: 缘善公益
---
<!-- LOGO及导航 -->
{% include header.html %}

<!-- 单张banner图 1920X300 -->
<div class="banner_met_11_5_2 page-bg" style="" m-id="2" m-type="banner">
    <div class="slick-slide">
        <img class="cover-image" src="../assets/img/1553051554.jpg"
            srcset="../assets/img/1553051554.jpg 767w,../assets/img/1553051554.jpg" sizes="(max-width: 767px) 767px"
            alt="" data-height="0|0|0" data-fade="false" data-autoplayspeed="4000" data-speed="1000" data-hex="|0.48"
            data-m="0" style="height: auto;">
    </div>
</div>

<!-- 文化主题项目 -->
<main class="img_list_page_met_16_1_17 met-img left">
    <div class="container">
        <div class="row m0">
            <div class="mycontent">
                <ul class="blocks-100 blocks-md-2 blocks-lg-4 blocks-xxl-4 met-pager-ajax imagesize met-img-list" data-scale="400x740" m-id="17">
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/1.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align" met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">海洋文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/2.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">婚博文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/3.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">赛车文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/4.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">体育文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/5.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">演艺文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/6.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">餐饮文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/7.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">团建拓展主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/8.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">文化交流平台</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/9.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">缘善公益主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/10.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">影视文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/11.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">生态文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/12.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">娱乐文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/13.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">动物科普主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/14.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">奇奇IP文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/15.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">马戏文化主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="../assets/img/project/16.jpg" alt="" style="">
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-xs-center vertical-align"
                                met-imgmask="">
                                <div class="vertical-align-middle">
                                    <h3 class="card-title m-b-20"> <span style="">研学教育主题</span></h3>
                                    <a href="" title="" class="btn btn-outline btn-squared btn-inverse"
                                        target="_self">浏览</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- star 页码 -->
                <div class="m-t-20 text-xs-center hidden-sm-down" m-type="nosysdata">
                    <div class="met_pager">
                        <span class="PreSpan">上一页</span>
                        <a href="" class="Ahover">1</a>
                        <span class="NextSpan">下一页</span>
                        <span class="PageText">转至第</span>
                        <input type="text" id="metPageT" data-pageurl="" value="1">
                        <input type="button" id="metPageB" value="页">
                    </div>
                </div>
                <div class="met_pager met-pager-ajax-link hidden-md-up" data-plugin="appear" data-animate="slide-bottom" data-repeat="false" m-type="nosysdata" style="">
                    <button type="button" class="btn btn-primary btn-block btn-squared ladda-button" id="met-pager-btn" data-plugin="ladda" data-style="slide-left" data-url="" data-page="1">
                        <i class="icon wb-chevron-down m-r-5" aria-hidden="true"></i>
                    </button>
                </div>
                <!-- end 页码  -->
            </div>
        </div>
    </div>
</main>

<!-- 底部栏目 -->
{% include bottom-menu1.html %}

<!-- 页底 -->
{% include footer.html %}