---
layout: default
title: 文化主题项目
---
<!-- 单张banner图 1920X300 -->
<div class="banner_met_11_5_2 page-bg" style="" m-id="2" m-type="banner">
    <div class="slick-slide">
        <img class="cover-image" src="../assets/img/1553051554.jpg"
            srcset="../assets/img/1553051554.jpg 767w,../assets/img/1553051554.jpg" sizes="(max-width: 767px) 767px"
            alt="" data-height="0|0|0" data-fade="false" data-autoplayspeed="4000" data-speed="1000" data-hex="|0.48"
            data-m="0" style="height: auto;">
    </div>
</div>

<!-- 每个项目详情 -->
<main class="img_list_detail_met_16_1_27 page-content" m-id="27">
    <div class="container">
        <div class="row">
            <div class="col-md-9 met-showimg-body" boxmh-mh="" m-id="27" style="min-height: 433px;">
                <!-- <section class="details-title border-bottom1">
                    <h1 class="m-t-10 m-b-5">海洋文化主题</h1>
                    <div class="info">
                        <span><i class="fa fa fa-clock-o m-r-5" aria-hidden="true"></i>2019-10-09 16:16:05</span>
                        <span><i class="fa fa-eye m-r-5" aria-hidden="true"></i>3</span>
                    </div>
                </section> -->
                <section class="met-showimg-con">
                    <div class="zhuti-content" style="margin: 20px 0 30px 0">
                        <p>互动体验为主的特色海洋世界，同时利用海洋资源开展研学科普教育。</p>
                        <p>点击下面图片，可以浏览海洋世界全景图</p>
                        <p>↓</p>
                    </div>
                    <div class="met-showimg-list fngallery cover text-xs-center" id="met-imgs-slick">
                         <div class="slick-slide">
                            <a href="https://720yun.com/t/a97je7wuku8?scene_id=17916395" target="_blank" class="lg-item-box">
                                <img src="../upload/zhuti/20180821173841_4687.png" class="img-fluid" alt="" width="900" height="200">
                            </a>
                        </div>
                        <div class="slick-slide">
                            <img src="../upload/zhuti/1.jpg" class="img-fluid" alt="" width="900" height="200">
                        </div>
                    </div>
                </section>
                <div class="met-page p-y-30 border-top1">
                    <div class="container p-t-30 ">
                        <ul class="pagination block blocks-2">
                            <li class="page-item m-b-0 ">
                                <a href="" title="" class="page-link text-truncate">
                                    上一页 
                                </a>
                            </li>
                            <li class="page-item m-b-0 ">
                                <a href="" title="" class="page-link pull-xs-right text-truncate">
                                    下一页
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row m0">
                <aside class="sidebar_met_16_1_52 met-sidebar panel panel-body m-b-0" boxmh-h="" m-id="52" m-type="nocontent" data-height="433">
                    <form class="sidebar-search" method="get" action="">
                        <input type="hidden" name="lang" value="cn">
                        <input type="hidden" name="class1" value="4">
                        <div class="form-group">
                            <div class="input-search">
                                <button type="submit" class="input-search-btn butbg">
                                    <i class="fa fa-search iconcolor" aria-hidden="true"></i>
                                </button>
                                <input type="text" class="form-control" name="searchword"
                                    placeholder="search">
                            </div>
                        </div>
                    </form>
                    <ul class="sidebar-column list-icons">
                        <li>
                        <a href="zhuti.html" title="" class="active" target="_self">文化主题项目</a>
                        </li>
                    </ul>
                    <div class="sidebar-news-list recommend">
                        <h3 class="font-size-16 m-0">为你推荐</h3>
                        <ul class="list-group list-group-bordered m-t-10 m-b-0">
                            <li class="list-group-item">
                                <a href="" title="" target="_self">【惠州狮子城▪活动】大马戏门票限量送！还有超燃国潮盛宴等你来！</a>
                            </li>
                            <li class="list-group-item">
                                <a href="" title="" target="_self">【惠州狮子城▪活动】送华为P30pro！狮子城首届吃鸡个人争霸赛火热驾到</a>
                            </li>
                            <li class="list-group-item">
                                <a href="" title="" target="_self">【惠州狮子城▪活动】大马戏门票限量送！还有超燃国潮盛宴等你来！</a>
                            </li>
                            <li class="list-group-item">
                                <a href="" title="" target="_self">【惠州狮子城▪活动】送华为P30pro！狮子城首届吃鸡个人争霸赛火热驾到</a>
                            </li>
                            <li class="list-group-item">
                                <a href="" title="" target="_self">【惠州狮子城▪活动】大马戏门票限量送！还有超燃国潮盛宴等你来！</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                </div>
            </div>
        </div>
     </div>
</main>

<!-- 底部栏目 -->
{% include bottom-menu1.html %}

<!-- 页底 -->
{% include footer.html %}