<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <title>狮子城-票务系统</title>
    {% include qy-head.html  %}
    {% include qy-script.html %}
</head>
<body>
    {{ content }}
    <script src="../../static/plugins/layui/layui.js" charset="utf-8"></script>
    <!-- 售票管理 -->
    {% if page.layout == "page/xsgl/xsgl_01" %}
        {% include script/xsglJs_01.html %}
    {% endif %}
    {% if page.layout == "page/xsgl/xsgl_02" %}
        {% include script/xsglJs_02.html %}
    {% endif %}
    {% if page.layout == "page/xsgl/xsgl_03" %}
        {% include script/xsglJs_03.html %}
    {% endif %}
    {% if page.layout == "page/xsgl/xsgl_04" %}
        {% include script/xsglJs_04.html %}
    {% endif %}
    {% if page.layout == "page/xsgl/xsgl_05" %}
        {% include script/xsglJs_05.html %}
    {% endif %}
    {% if page.layout == "page/xsgl/xsgl_06" %}
        {% include script/xsglJs_06.html %}
    {% endif %}
    {% if page.layout == "page/xsgl/xsgl_07" %}
        {% include script/xsglJs_07.html %}
    {% endif %}
    {% if page.layout == "page/xsgl/xsgl_09" %}
        {% include script/xsglJs_09.html %}
    {% endif %}
    {% if page.layout == "page/xsgl/xsgl_10" %}
        {% include script/xsglJs_10.html %}
    {% endif %}
    {% if page.layout == "page/xsgl/xsgl_11" %}
        {% include script/xsglJs_11.html %}
    {% endif %}
    {% if page.layout == "page/xsgl/xsgl_12" %}
        {% include script/xsglJs_12.html %}
    {% endif %}
</body>
</html>