<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <title>狮子城-票务系统</title>
    {% include qy-head.html  %}
    {% include qy-script.html %}
</head>
<body>
    {{ content }}
    <script src="../../static/plugins/layui/layui.js" charset="utf-8"></script>
    {% if page.layout == "page/jbxx/jbxx_01" %}
        {% include script/jbxxJs_1.html %}
    {% endif %}
    {% if page.layout == "page/jbxx/jbxx_02" %}
        {% include script/jbxxJs_2.html %}
    {% endif %}
    {% if page.layout == "page/jbxx/jbxx_03" %}
        {% include script/jbxxJs_3.html %}
    {% endif %}
    {% if page.layout == "page/jbxx/jbxx_04" %}
        {% include script/jbxxJs_4.html %}
    {% endif %}
<!-- 团体预约策略 -->
    {% if page.layout == "page/clgl/clgl_01" or page.layout == "page/clgl/add_clgl1" or page.layout == "page/clgl/clgl_edit1" %}
        {% include script/clglJs_01.html %}
    {% endif %}
    {% if page.layout == "page/clgl/clgl_02" or page.layout == "page/clgl/add_clgl2" or page.layout == "page/clgl/clgl_edit2" %}
        {% include script/clglJs_02.html %}
    {% endif %}
    {% if page.layout == "page/clgl/clgl_03" or page.layout == "page/clgl/add_clgl3" or page.layout == "page/clgl/clgl_edit3" %}
        {% include script/clglJs_03.html %}
    {% endif %}
</body>
</html>