<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <title>狮子城-票务系统</title>
    {% include qy-head.html  %}
    {% include qy-script.html %}
</head>
<body>
    {{ content }}
    <script src="../../static/plugins/layui/layui.js" charset="utf-8"></script>
    <!-- 售票管理 -->
    {% if page.layout == "page/cwgl/cwgl_01" %}
        {% include script/cwglJs_01.html %}
    {% endif %}
    {% if page.layout == "page/cwgl/cwgl_02" %}
        {% include script/cwglJs_02.html %}
    {% endif %}
    {% if page.layout == "page/cwgl/cwgl_03" %}
        {% include script/cwglJs_03.html %}
    {% endif %}
</body>
</html>