<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <title>狮子城-票务系统</title>
    {% include qy-head.html  %}
    {% include qy-script.html %}
</head>
<body>
    {{ content }}
    <script src="../../static/plugins/layui/layui.js" charset="utf-8"></script>
    <!-- 报表中心 -->
    {% if page.layout == "page/bbzx/bbzx_01" %}
        {% include script/bbzxJs_01.html %}
    {% endif %}
    {% if page.layout == "page/bbzx/bbzx_02" %}
        {% include script/bbzxJs_02.html %}
    {% endif %}
    {% if page.layout == "page/bbzx/bbzx_03" %}
        {% include script/bbzxJs_03.html %}
    {% endif %}
    {% if page.layout == "page/bbzx/bbzx_04" %}
        {% include script/bbzxJs_04.html %}
    {% endif %}
    {% if page.layout == "page/bbzx/bbzx_05" %}
        {% include script/bbzxJs_05.html %}
    {% endif %}
    {% if page.layout == "page/bbzx/bbzx_06" %}
        {% include script/bbzxJs_06.html %}
    {% endif %}
    {% if page.layout == "page/bbzx/bbzx_07" %}
        {% include script/bbzxJs_07.html %}
    {% endif %}
    {% if page.layout == "page/bbzx/bbzx_08" %}
        {% include script/bbzxJs_08.html %}
    {% endif %}
    {% if page.layout == "page/bbzx/bbzx_09" %}
        {% include script/bbzxJs_09.html %}
    {% endif %}
    {% if page.layout == "page/bbzx/bbzx_10" %}
        {% include script/bbzxJs_10.html %}
    {% endif %}
</body>
</html>