<script>
    layui.use(['laydate','layer', 'form', 'element', 'table'], function(){
        var laydate = layui.laydate
        ,layer =layui.layer
        ,from = layui.form
        ,element = layui.element
        ,table = layui.table;
    
        // 增加用户
        $('#yonghu_add').on('click', function () {
            layer.open({
                type: 1,
                title: '新增房型',
                maxmin: true,
                shadeClose: false,
                area: ['600px', '370px'],
                content: $('#yonghu_content'),
                btn: ['保存'],
                yes: function (index, layero) {
                    var num = 0;
                    var str = "";
                    $(".add_adverts input[type$='text']").each(function (n) {
                        if ($(this).val() == "") {
    
                            layer.alert(str += "" + $(this).attr("name") + "不能为空！\r\n", {
                                title: '提示框',
                                icon: 0,
                            });
                            num++;
                            return false;
                        }
                    });
                    if (num > 0) { return false; }
                    else {
                        layer.alert('添加成功！', {
                            title: '提示框',
                            icon: 1,
                        });
                        layer.close(index);
                    }
                }
            });
        });
        
        // 用户列表
        table.render({
            elem: '#yhchaxun'
            ,height: 525
            ,title: '所有用户'
            ,url: '../../json/table/yhchaxun.json'
            ,page: true
            ,autoSort: false
            ,toolbar: '#toolbarDemo'
            ,cellMinWidth: 80
            //,defaultToolbar: ['filter']
            ,cols: [[
              {field:'id', title:'用户编码', width:130}
              ,{field:'yhzh', title:'用户账号', width:130}
              ,{field:'yhxm', title:'用户姓名',  width:130}
              ,{field:'gonghao', title:'工号',  width:120}
              ,{field:'juese', title:'角色',  width:120}
              ,{field:'xsbm', title:'销售编码',  width:120}
              ,{field:'xsymc', title:'销售员名称',  width:120}
              ,{field:'zhuangtai', title:'状态',  width:150}
              ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]]
          });
    
        //工具栏事件
        table.on('toolbar(test)', function (obj) {
          var checkStatus = table.checkStatus(obj.config.id);
          switch (obj.event) {
            case 'add':
              layer.msg('添加');
              break;
            case 'edit':
              layer.msg('编辑');
              break;
            case 'del':
              layer.msg('删除');
              break;
            case 'lf_zhengjia':
              var data = checkStatus.data;
              layer.alert(JSON.stringify(data));
              break;
          };
        });
    
       //监听单元格编辑
       table.on('edit(test)', function (obj) {
          var value = obj.value //得到修改后的值
            , data = obj.data //得到所在行所有键值
            , field = obj.field; //得到字段
    
          console.log(obj)
        });
    
        //监听行工具事件
        table.on('tool(test)', function (obj) {
          var data = obj.data;
          //console.log(obj)
          if (obj.event === 'del') {
            layer.confirm('真的删除行么', function (index) {
              obj.del();
              layer.close(index);
            });
          } else if (obj.event === 'edit') {
              //页面层-自定义
              layer.open({
                type: 1,
                title: '修改房间信息',
                area: ['600px', '380px'],
                content: $('#fangjian_edit'),
                btn: ['提交', '取消']
              });
          }
        });
                          
        $('i').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('.layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    
    });
    </script>