/*global */
/*屏幕变换字体大小不跟这变*/
html {width: 100%;height: 100%;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none;}
body {width: 100%;height: 100%;margin: 0;padding: 0; font-size:0.9em;  
line-height: 1.5;background:#efeff4}
dl,dd,dt,ul,li{ list-style:none;margin:0; padding:0}
h1,h2,h3{ margin:0; padding:0;}
textarea,input{font-family: Helvetica,sans-self;}
em,i{font-style:normal}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
/*定义任何元素*/
*, *:after, *:before {-webkit-box-sizing: before-box;-moz-box-sizing: before-box;-ms-box-sizing: before-box;-o-box-sizing: before-box;}
*:after {clear: both}
.clearfix {zoom: 1;}
.clear{clear: both}
.password_succ{font-size:20px;text-align: center;width: 100%;display: inline-block;}
.password_cgd{text-align: center;width: 100%;display: inline-block;margin-top:10px;}
.password_icon{background:url(../images/gouhao.png) no-repeat center;width:95%;height:50px;display:inline-block;margin:0 auto;}
a{ text-decoration:none;color:#333}
#bg{ position:fixed; left:0px;top:0px;right:0px;bottom:0px; background:#000; opacity:0.5; z-index:-1}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
/*头部*/
.none{display:none;}
@media (min-device-width : 175px) and (max-device-width : 360px) and (-webkit-min-device-pixel-ratio : 2) {
	.rg_img{position:absolute;right:0px;top:3px;}
	.rg_img img{width:100px;}
	.inputitem_w input{ font-size:12px;}
	.reg_yzm_box{padding:0px 100px 0 0px}
	.yun_newwap_yz input{ font-size:12px;}
	.yun_newwap_yz_img{left:-15px;}
}
/* iphone 6 */
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2) {
}
/* iphone6 plus */
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3) {
}

.wap_titmore {
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 12px;
}
.wap_tit1,
.wap_tit2,
.wap_tit3,
.wap_tit4,
.wap_tit5 {
    position: relative
}
.wap_tit2 .wap_titmore,
.wap_tit4 .wap_titmore,
.wap_tit5 .wap_titmore {
    top: 12px;
}
.wap_tit3 .wap_titmore {
    top: 12px;
    color: #fff
}