{% if page.layout == "daily" %}
<header class="search">
    <div class="search_header search_bg_Ter_Whi">
        <div class="search_header_box">
            <div class="search_left w-2"><a href="javascript:history.back()"><i class="fa fa-angle-left fa-lg"></i></a></div>
            <div class="search_center"><a href="javascript:"> 日常 </a></div>
            <div class="search_right w-2"><a href=""></a></div>
        </div>
    </div>
</header>
{% endif %}
{% if page.layout == "home" %}
<header class="search">
    <div class="search_header">
        <div class="search_header_box">
            <div class="search_left w-2"><a href="pages/news.html">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xiaoxi"></use>
              </svg>
            </a></div>
            <div class="search_center"><a href="javascript:"> 待办 </a></div>
            <div class="search_right w-2">
                <div class="btn-group">
                    <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-plus-add"></use>
                        </svg>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="pages/sendReceive.html" class="dropdown-item">快递</a>
                        <a href="pages/sendReceive.html" class="dropdown-item">访客</a>
                        <a href="pages/sendReceive.html" class="dropdown-item">扫一扫</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}