---
layout: pages
title: 查看电子票
---
<div class="OR_all">
    <!--头部标题图片-->
    <div class="code_head">
        <img src="../static/images/code-1.svg" alt="电子票" title="电子票">
        <span>狮子城电子票</span>
    </div>
    <div class="container or_main">
        <p>OMN0B5000677</p>
        <div class="center-block hy-qcode can" style="display: block;">
            <img class="qcode" src="../static/images/QR(1).png" alt="门票二维码">
        </div>
        <h3 id="OMN0B5000677" class="text-center no"><label>电子票号：</label><span>OMN0B5000677</span></h3>
        <h3 id="OMN0B5000677" class="text-center no1"><label></label><span>2018-08-25至0001-01-01</span></h3>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <button id="Previous" class="btn btn-primary btn-block" disabled>上一张</button>
        </div>
        <div class="col-6">
            <button id="next" class="btn btn-primary btn-block">下一张</button>
        </div>
    </div>
</div>
