---
layout: default
title: 搜索结果
---
<div class="searchTerRes">

    <!-- 搜索列表 -->
    <div class="mod_ser">
        <ul class="mod_ser_list">
            <li class="text-truncate">
                <a href="positionDetail.html"><i class="fa fa-search"></i><span class="mod_ser_keyw">小米</span>java</a>
            </li>
            <li class="text-truncate">
                <a href="positionDetail.html"><i class="fa fa-search"></i><span class="mod_ser_keyw">小米</span>java</a>
            </li>
            <li class="text-truncate">
                <a href="positionDetail.html"><i class="fa fa-search"></i><span class="mod_ser_keyw">小米</span>java</a>
            </li>
         </ul>
    </div>

</div>