---
layout: pages
title: 门票预订
---
<style>
  .noMore{
    text-align:center; display:block;height:1.4rem; line-height:1.4rem; color:#999;
  }
</style>
<form id="register-form" action="ticketConfirm.html">
    <div class="ti_all">
        <!-- S 轮播 -->
		{% include components/swiper/qySwiper.html %}
		<!-- E 轮播 -->
        <div class="ti_con">
            <!-- <div class="piao_type">
                <h3 class="fl">
                    <p class="text-justify"><a href="javascript:;" class="badge badge-primary text-white mr-1">成人联票</a>海洋世界平日票海洋世界平日票海洋世界平日票海洋世界平日票海洋世界平日票海洋世界平日票</p>
                </h3>
                <span class="fr" id="DiscountPrice">¥ <em>80</em></span>
            </div> -->
            <div class="piao_type">
                <h3 class="fl">【成人票】狮子城大马戏</h3>
                <span class="fr" id="DiscountPrice">¥80</span>
            </div>
            <div class="piao_type" id="tourDate_id">
                <h3 class="fl">游玩日期</h3>
                <div class="fr time" style="position: relative;">
                    <a href="calendar.html" style="display:block;width:200px;height:40px;position:absolute;right:30px;top:-2px;"></a>
                    <input datatype="*" id="TourDate" nullmsg="请选择游玩日期！" name="TourDate" size="16" type="text" value="" class="mbsc-comp" readonly="">
                    <i class="layui-icon layui-icon-date" id="TourDateIcon"></i>
                </div>
                <input type="hidden" name="TicketId" value="96">
                <input type="hidden" name="type" value="buy">
            </div>
            <div class="piao_type">
                <h3 class="fl">剩余预定票数:</h3>
                <span class="fr" style="font-size:20px;">1500 张</span>
                <!-- <span class="fr" id="spareNum"></span> -->
            </div>
            <div class="piao_type">
                <h3 class="fl">选择场次:</h3>
                <input type="button" id="changci" class="weui-input changCi" value="11点场">
                <!-- <div class="btn-group-toggle changCi" data-toggle="buttons">
                    <label class="btn btn-info active">
                        <input type="radio" name="options" id="option2" autocomplete="off" checked> 11点场
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="options" id="option3" autocomplete="off"> 14点场
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="options" id="option3" autocomplete="off"> 17点场
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="options" id="option3" autocomplete="off"> 19点30场
                    </label>
                </div> -->
            </div>
            <div class="piao_type">
                <h3 class="fl">购买数量</h3>
                <div class="fr">
                    <div class="Choice">
                        <button class="" type="button" id="reduce" style="float:left;">-</button>
                        <input class="" type="text" id="Qty" readonly="readonly" name="Qty" value="1" style="float:left;">
                        <button class="current" type="button" id="add" style="float:left;">+</button>
                    </div>
                </div>
            </div>
      </div>
      <div class="ti_words">
            <div class="weui-tab">
                <div class="mod_int weui-navbar border-bottom">
                    <a class="mod_int_tab weui-navbar__item p-0" href="#tab1">
                        <span class="mod_int_tab_text">购票须知</span>
                        <div class="bottom_line"></div>
                    </a>
                    <a class="mod_int_tab weui-navbar__item weui-bar__item--on p-0" href="#tab2">
                        <span class="mod_int_tab_text">入园须知</span>
                        <div class="bottom_line"></div>
                    </a>
                    <a class="mod_int_tab weui-navbar__item p-0" href="#tab3">
                        <span class="mod_int_tab_text">内容详情</span>
                        <div class="bottom_line"></div>
                    </a>
                </div>
                <div class="weui-tab__bd">
                    <div id="tab1" class="weui-tab__bd-item">
                    {% include ticketDetailsNew/mod_pos1.html %}
                    </div>
                    <div id="tab2" class="weui-tab__bd-item weui-tab__bd-item--active">
                    {% include ticketDetailsNew/mod_pos2.html %}
                    </div>
                    <div id="tab3" class="weui-tab__bd-item">
                    {% include ticketDetailsNew/mod_pos3-1.html %}
                    </div> 
                </div>
            </div>
            <span class="noMore">没有更多</span>
      </div>
    </div>
    <div class="in_btn ti_btn">
        <div class="layui-btn-group">
            <button type="button" class="layui-btn btn-1" onclick="javascript: window.location.href = &#39;../ShoppingNew.html&#39;"><span><img src="../static/images/gouwu.svg" alt=""></span><i id="count">0</i>购物车</button>
            <button type="button" class="layui-btn btn-1 btn-2" onclick="javascript: window.location.href = &#39;../ticketList.html&#39;"><span><img src="../static/images/ding.svg" alt=""></span>订单</button>
            <button type="button" class="layui-btn btn-3 btnControl" onclick="AddShopping()">加入购物车</button>
            <button class="layui-btn btnControl" type="submit">立即购买</button>
        </div>
    </div>
</form>