---
layout: pages
title: 狮子城微信自助购买
---
<div class="ti_cof">
    <ul>
        <li>
            <dl>
                <dt class="fl">
                    <a href="ticketDetailsNew.html" class="d-block">
                    <img src="../static/images/GetImage.jpeg" alt=""></a>
                </dt>
                <dd class="fr">
                    <h2><a href="javascript:;" class="badge badge-primary text-white mr-1">成人联票</a>海洋世界平日票</h2>
                    <div class="l_time">使用日期：<span>2018-11-25</span></div>
                    <div class="l_money">
                        <span class="fl">¥ <em>80.00</em></span>
                        <i class="fr">X<em>1</em></i>
                    </div>
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt class="fl">
                    <a href="ticketDetailsNew.html" class="d-block">
                    <img src="../static/images/GetImage.jpeg" alt=""></a>
                </dt>
                <dd class="fr">
                    <h2><a href="javascript:;" class="badge badge-primary text-white mr-1">成人联票</a>海洋世界平日票</h2>
                    <div class="l_time">使用日期：<span>2018-11-25</span></div>
                    <div class="l_money">
                        <span class="fl">¥ <em>80.00</em></span>
                        <i class="fr">X<em>1</em></i>
                    </div>
                </dd>
            </dl>
        </li>
    </ul>
    <!-- 手机验证 -->
    <div class="phone">
        <input type="text" class="layui-input inpu" name="title" id="Mobile" placeholder="请输入手机号码">
        <div class="oupu">
            <input type="text" id="Code" class="fl layui-input yan" value="">
            <button class="fr layui-btn" onclick="getDynamicCode(this)">获取验证码</button>
        </div>
    </div>
</div>
<!-- 底部 -->
<div class="in_btn co_btn">
    <ul class="yh ye">
        <li>总价：<span>¥:80.00</span></li>
        <li>待支付：<span class="bag">¥:80.00</span></li>
    </ul>
    <div class="layui-btn-group">
        <button class="fl lb_next" onclick="javascript :history.back(-1);">上一步</button>
        <button class="fr" onclick="buy1('nowPlay.html')">立即支付</button>
        <!-- 需要填写手机验证码跳转到支付页面 -->
        <!-- <button class="fr" onclick="buy()">立即支付</button> -->
    </div>
</div>