<script src="../../static/web/src/layui.js" charset="utf-8"></script>
<script>
layui.use(['laydate','layer', 'form', 'element', 'table'], function(){
  var laydate = layui.laydate
    ,layer =layui.layer
    ,from = layui.form
    ,element = layui.element
    ,table = layui.table;

  // 入住时间
  laydate.render({
    elem: '#CheckIn'
    ,type: 'datetime'
  });
  // 离店时间
  laydate.render({
    elem: '#GoWay'
    ,type: 'datetime'
  });
  // 有效日期
  laydate.render({
    elem: '#CheckIn1'
    ,type: 'datetime'
  });
  laydate.render({
    elem: '#GoWay1'
    ,type: 'datetime'
  });
  // 出生日期
  laydate.render({
    elem: '#chushengriqi'
    ,type: 'datetime'
  });
  // 担保时间
  laydate.render({
    elem: '#danbaoTime'
    ,type: 'time'
    ,format: 'H点m分'
  });
  // 房间号 有人住
  $('.fangjian').on('click', function(){
    layer.open({
      type: 1,
      title: '房单:2030',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['1200px', '650px'],
      content: $('#add_content'),
      btn: ['确认', '取消']
    });
  });
  // 房间 无人住
  $('.fangjian_kong').on('click', function(){
    layer.open({
      type: 1,
      title: '房间:2030',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['1000px', '650px'],
      content: $('#add_fangjian'),
      btn: ['入住']
    });
  });
  // 房间号
   $('#xuanzhe_add').on('click', function() {
    layer.open({
      type: 1,
      title: '选择房间号',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['500px', ''],
      content: $('#add_xuanzhe'),
      btn: ['取消']
    });
  });
  // 入住人信息
  $('#ruzhuren_add').on('click', function() {
    layer.open({
      type: 1,
      title: '客人信息',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['500px', ''],
      content: $('#add_kerenxinxi'),
      btn: ['取消', '添加', '保存']
    });
  });
  // 门卡读取
  $('#add_menkaduxie').on('click', function() {
    layer.open({
      type: 1,
      title: '制作房卡',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['500px', ''],
      content: $('#menkaduixie'),
      btn: ['注销', '制卡']
    });
  });
  // 礼包购买
  $('#add_goumai').on('click', function() {
    layer.open({
      type: 1,
      title: '礼包购买',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['500px', ''],
      content: $('#goumai'),
      btn: ['确定']
    });
  });
  // 新增订单
  $('#order_add').on('click', function () {
    layer.open({
      type: 1,
      title: '新增订单',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['1000px', ''],
      content: $('#add_order'),
      btn: ['预订'],
      yes: function (index, layero) {
        var num = 0;
        var str = "";
        $(".add_order1 input[type$='text']").each(function (n) {
          if ($(this).val() == "") {
            layer.alert(str += "" + $(this).attr("name") + "不能为空！\r\n", {
              title: '提示框',
              icon: 0,
            });
            num++;
            return false;
          }
        });
        if (num > 0) { return false; }
        else {
          layer.alert('添加成功！', {
            title: '提示框',
            icon: 1,
          });
          layer.close(index);
        }
      }
    });
  });
  // 注册会员
  $('#reg_member').on('click', function () {
    layer.open({
      type: 1,
      title: '新增会员',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['1000px', ''],
      content: $('#add_member'),
      btn: ['注册'],
      yes: function (index, layero) {
        var num = 0;
        var str = "";
        $(".add_order1 input[type$='text']").each(function (n) {
          if ($(this).val() == "") {
            layer.alert(str += "" + $(this).attr("name") + "不能为空！\r\n", {
              title: '提示框',
              icon: 0,
            });
            num++;
            return false;
          }
        });
        if (num > 0) { return false; }
        else {
          layer.alert('添加成功！', {
            title: '提示框',
            icon: 1,
          });
          layer.close(index);
        }
      }
    });
  });

    //渲染
    window.ins1 = table.render({
        elem: '#glfang'
        ,height: 525
        ,title: '关联房'
        ,url: 'json/table/demo1.json'
        ,page: {}
        ,autoSort: false
        //,loading: false
        ,totalRow: true
        ,limit: 30
        ,toolbar: '#toolbarDemo'
        //,defaultToolbar: ['filter']
        ,cols: [[
          {field:'id', title:'房单号', width:57}
          ,{field:'fangNum', title:'房号', width:57}
          ,{field:'guests', title:'客人',  width:57}
          ,{fixed: 'right', title:'', toolbar: '#barDemo', width:57}
        ]]
      });

      //工具栏事件
      table.on('toolbar(test)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
          case 'add':
            layer.msg('添加');
            break;
          case 'update':
            layer.msg('编辑');
            break;
          case 'delete':
            layer.msg('删除');
            break;
          case 'lf_zhengjia':
            var data = checkStatus.data;
            layer.alert(JSON.stringify(data));
            break;
        };
      });

      //监听单元格编辑
      table.on('edit(test)', function (obj) {
        var value = obj.value //得到修改后的值
          , data = obj.data //得到所在行所有键值
          , field = obj.field; //得到字段

        console.log(obj)
      });

      //监听行工具事件
      table.on('tool(test)', function (obj) {
        var data = obj.data;
        //console.log(obj)
        if (obj.event === 'del') {
          layer.confirm('真的删除行么', function (index) {
            obj.del();
            layer.close(index);
          });
        } else if (obj.event === 'edit') {
            //页面层-自定义
            layer.open({
              type: 2,
              area: ['700px', '550px'],
              fixed: false, //不固定
              maxmin: true,
              content: 'form.html'
            });
        }
      });

      //监听排序
      table.on('sort(test)', function (obj) {
        console.log(this)
        //return;
        layer.msg('服务端排序。order by ' + obj.field + ' ' + obj.type);
        //服务端排序
        table.reload('test', {
          initSort: obj
          //,page: {curr: 1} //重新从第一页开始
          , where: { //重新请求服务端
            key: obj.field //排序字段
            , order: obj.type //排序方式
          }
        });
      });
      //return;

      $('i').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });
      $('.layui-btn').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });
});
</script>