---
layout: default
title: 订单
---
<!-- <div class="add_menber" id="dingdan_content" style="display:none"> -->
<div class="add_order">
    <div class="page-content" style="overflow: hidden;">
        <form action="">
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">房单号</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <input type="text" name="" placeholder="" class="text_add ml-0" style="width:100%">
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">来源</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <select name="" lay-filter="aihao" style="width:100%">
                        <option value="0">商务大床房</option>
                        <option value="1">商务大床房1</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">二级来源</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <select name="" lay-filter="aihao" style="width:100%">
                        <option value="0">清洁已检查</option>
                        <option value="1">清洁已检查1</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">房间号码</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <input type="text" name="" placeholder="" class="text_add ml-0" style="width:100%">
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">预订人</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <input type="text" name="" placeholder="" class="text_add ml-0" style="width:100%">
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">预订手机</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <input type="text" name="" placeholder="" class="text_add ml-0" style="width:100%">
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">房间类型</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <select name="" lay-filter="aihao" style="width:100%">
                        <option value="0">全部</option>
                        <option value="1">商务大床房1</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">入住人</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <input type="text" name="" placeholder="" class="text_add ml-0" style="width:100%">
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">联系人</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <input type="text" name="" placeholder="" class="text_add ml-0" style="width:100%">
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">入住人类型</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <select name="" lay-filter="aihao" style="width:100%">
                        <option value="0">全部</option>
                        <option value="1">非会员</option>
                        <option value="2">银会员</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">入住日期</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <input name="" type="text" class="text_add ml-0" id="CheckInStar" style="width:100%">
                </div>
            </div>
            <div class="layui-form-item mb-2" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">至</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <input name="" type="text" class="text_add ml-0" id="CheckInEnd" style="width:100%">
                </div>
            </div>
            <div class="layui-form-item" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">状态</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <select name="" lay-filter="aihao" style="width:100%">
                        <option value="0">全部</option>
                        <option value="1">预订</option>
                        <option value="2">取消</option>
                        <option value="3">未到</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">离店日期</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <input name="" type="text" class="text_add ml-0" id="leaveStar" style="width:100%">
                </div>
            </div>
            <div class="layui-form-item" style="width:33.3%">
                <label class="layui-form-label pt-2 pb-2 pl-0 pr-0">至</label>
                <div class="layui-input-block" style="margin-left: 90px;">
                    <input name="" type="text" class="text_add ml-0" id="leaveEnd" style="width:100%">
                </div>
            </div>
            <!-- <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div> -->
        </form>
    </div>
</div>