---
layout: default
title: 订单
---
<div class="fjguanli">
    <div class="search_style">
        <ul class="search_content clearfix" style="margin-left:0;">
            <li>
                <input type="text" class="text_add" style="width:200px;height:32px;margin-left:0;padding:5px 10px;" />
            </li>
            <li><button type="button" class="btn btn-primary w-100 p-1">查询/读取证件</button></li>
            <li><button type="button" class="btn btn-light w-100 p-1" id="gjchaxun">高级查询</button></li>
            <!-- <li><button type="button" class="btn btn-light w-100 p-1">今日抵达</button></li>
            <li><button type="button" class="btn btn-light w-100 p-1">预订未到</button></li>
            <li><button type="button" class="btn btn-light w-100 p-1">取消订单</button></li> -->
        </ul>
        <!-- <div><a href="javascript:ovid()" id="fangjian_add" class="btn btn-warning" style="height:30px;line-height: 20px;">
            <i class="icon-plus"></i> 添加房间</a></div> -->
    </div>
    <!-- 订单列表 -->
    <table class="layui-hide" id="dingdan" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style="color:#ffffff;">删除</a>
        <!-- <a class="layui-btn layui-btn-xs" lay-event="edit" style="color:#ffffff">修改</a> -->
        <!-- <a class="layui-btn layui-btn-xs" lay-event="set_tsquanxian" style="color:#ffffff">特殊权限</a> -->
    </script>
</div>