<script>
layui.use(['laydate','layer', 'form', 'element', 'table'], function(){
      var laydate = layui.laydate
      ,layer =layui.layer
      ,from = layui.form
      ,element = layui.element
      ,table = layui.table;
      
        // 入住时间 star
        laydate.render({
          elem: '#CheckInStar'
        });
        // 入住时间 end
        laydate.render({
          elem: '#CheckInEnd'
        });

        // 离开时间 star
        laydate.render({
          elem: '#leaveStar'
        });

        // 离开时间 end
        laydate.render({
          elem: '#leaveEnd'
        });

      // 高级查询
      $('#gjchaxun').on('click', function () {
          layer.open({
              type: 2,
              title: '高级查询',
              maxmin: true,
              shadeClose: false,
              area: ['800px', '340px'],
              content: 'add_dingdan.html',
              // content: $('#dingdan_content'),
              btn: ['取消', '搜索']
          });
      });
      
      // 房间管理973
      table.render({
          elem: '#dingdan'
          ,height: 525
          ,title: '房间管理'
          ,url: '../../json/table/fjguanli.json'
          ,page: true
          ,autoSort: false
          ,toolbar: false
          // ,toolbar: '#toolbarDemo'
          ,cols: [[
            {field:'id', title:'房间号', width:130}
            ,{field:'msh', title:'门锁号', width:130}
            ,{field:'louceng', title:'楼层',  width:130}
            ,{field:'fjtype', title:'房间类型',  width:120}
            ,{field:'zjxiangmu', title:'清洁状态',  width:120}
            ,{field:'xiaofei', title:'维修状态',  width:120}
            ,{field:'jiesuan', title:'在住状态',  width:120}
            ,{field:'fsTime', title:'对应单号',  width:150}
            ,{field:'yyri', title:'是否可用',  width:150}
            ,{field:'beizhu', title:'备注',  width:'15%'}
            ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:250}
          ]]
        });
  
      //工具栏事件
      table.on('toolbar(test)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
          case 'add':
            layer.msg('添加');
            break;
          case 'edit':
            layer.msg('编辑');
            break;
          case 'del':
            layer.msg('删除');
            break;
          case 'lf_zhengjia':
            var data = checkStatus.data;
            layer.alert(JSON.stringify(data));
            break;
        };
      });
  
      //监听单元格编辑
      table.on('edit(test)', function (obj) {
        var value = obj.value //得到修改后的值
          , data = obj.data //得到所在行所有键值
          , field = obj.field; //得到字段
          console.log(obj)
      });
  
      //监听行工具事件
      table.on('tool(test)', function (obj) {
        var data = obj.data;
        //console.log(obj)
        if (obj.event === 'del') {
          layer.confirm('真的删除行么', function (index) {
            obj.del();
            layer.close(index);
          });
        } else if (obj.event === 'edit') {
            //页面层-自定义
            layer.open({
              type: 1,
              title: '修改房间信息',
              area: ['600px', '380px'],
              content: $('#fangjian_edit'),
              btn: ['提交', '取消']
            });
        }
      });
                        
      $('i').on('click', function () {
          var type = $(this).data('type');
          active[type] ? active[type].call(this) : '';
      });
      $('.layui-btn').on('click', function () {
          var type = $(this).data('type');
          active[type] ? active[type].call(this) : '';
      });
  
  });
</script>