<script>
layui.use(['laydate','layer', 'form', 'element', 'table'], function(){
  var laydate = layui.laydate
    ,layer =layui.layer
    ,from = layui.form
    ,element = layui.element
    ,table = layui.table;

  // 入住时间
  laydate.render({
    elem: '#CheckIn'
    ,type: 'datetime'
  });
  // 离店时间
  laydate.render({
    elem: '#GoWay'
    ,type: 'datetime'
  });
  // 有效日期
  laydate.render({
    elem: '#CheckIn1'
    ,type: 'datetime'
  });
  laydate.render({
    elem: '#GoWay1'
    ,type: 'datetime'
  });
  // 出生日期
  laydate.render({
    elem: '#chushengriqi'
    ,type: 'datetime'
  });
  // 担保时间
  laydate.render({
    elem: '#danbaoTime'
    ,type: 'time'
    ,format: 'H点m分'
  });

  // 日志
  table.render({
    elem: '#rizhi'
    ,url:'../../json/table/rizhi.json'
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    ,cols: [[
      {field:'id', width:100, title: '编码', sort: true}
      ,{field:'sytime', width:180, title: '使用时间'}
      ,{field:'czy', width:100, title: '操作员', sort: true}
      ,{field:'content', width:593, title: '内容'}
    ]]
  });

  // 财务
  table.render({
    elem: '#zhangwu'
    ,url:'../../json/table/zhangwu.json'
    ,cellMinWidth: 80
    ,cols: [[
      {field:'id', width:73, title: '编码'}
      ,{field:'fanghao', width:80, title: '房号'}
      ,{field:'xiangmu', width:70, title: '项目'}
      ,{field:'xmbianhao', width:80, title: '项目编号'}
      ,{field:'zjxiangmu', width:80, title: '子级项目'}
      ,{field:'xiaofei', width:73, title: '消费'}
      ,{field:'jiesuan', width:73, title: '结算'}
      ,{field:'fsTime', width:73, title: '发生时间'}
      ,{field:'yyri', width:73, title: '营业日'}
      ,{field:'banci', width:63, title: '班次'}
      ,{field:'czy', width:73, title: '操作员'}
      ,{field:'beizhu', width:73, title: '备注'}
      ,{field:'caozuo', width:80, title: '操作'}
    ]]
  });

  // 预授权
  table.render({
    elem: '#ysq'
    ,url:'../../json/table/ysq.json'
    ,cellMinWidth: 80
    ,cols: [[
      {field:'id', width:83, title: '编码'}
      ,{field:'xykh', width:80, title: '信用卡号'}
      ,{field:'sqm', width:80, title: '授权码'}
      ,{field:'jinger', width:70, title: '金额'}
      ,{field:'zhangtai', width:80, title: '状态'}
      ,{field:'qixian', width:83, title: '期限'}
      ,{field:'danju', width:83, title: '单据'}
      ,{field:'fsTime', width:83, title: '发生时间'}
      ,{field:'banci', width:83, title: '班次'}
      ,{field:'czy', width:73, title: '操作员'}
      ,{field:'yyri', width:83, title: '营业日'}
      ,{field:'beizhu', width:83, title: '备注'}
    ]]
  });

  // 电子券
  table.render({
    elem: '#dzq'
    ,url:'../../json/table/dzq.json'
    ,cellMinWidth: 80
    ,cols: [[
      {field:'id', width:100, title: '编码'}
      ,{field:'qmc', width:140, title: '券名称'}
      ,{field:'qlx', width:100, title: '券类型'}
      ,{field:'jinger', width:100, title: '金额'}
      ,{field:'zhangtai', width:100, title: '状态'}
      ,{field:'createTime', width:200, title: '创建时间'}
      ,{field:'beizhu', width:230, title: '备注'}
    ]]
  });

  // 房租计划
  table.render({
    elem: '#fzjh'
    ,url:'../../json/table/fzjh.json'
    ,cellMinWidth: 80
    ,cols: [[
      {field:'id', width:230, title: '编码', sort: true}
      ,{field:'fangfei', width:243, title: '房费'}
      ,{field:'yyri', width:240, title: '营业日', sort: true}
      ,{field:'beizhu', width:260, title: '备注'}
    ]]
  });

  // 房间号有人住
  $('.fangjian').on('click', function(){
    layer.open({
      type: 1,
      title: '房单:2030',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['1000px', '600px'],
      content: $('#add_content')
    });
  });

  // 房间无人住
  $('.fangjian_kong').on('click', function(){
    layer.open({
      type: 1,
      title: '房间:2030',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['1000px', '600px'],
      content: $('#add_fangjian'),
      btn: ['入住']
    });
  });

  // 房间停售
  $('.fangjian_stop').on('click', function(){
    layer.open({
      type: 1,
      title: '停售房:2030',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['600px', '280px'],
      content: $('#add_fjstop'),
      btn: ['完成停售']
    });
  });

  // 房间号
   $('#xuanzhe_add').on('click', function() {
    layer.open({
      type: 1,
      title: '选择房间号',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['500px', '400px'],
      content: $('#add_xuanzhe'),
      btn: ['取消']
    });
  });
 
  // 入住人信息
  $('#ruzhuren_add').on('click', function() {
    layer.open({
      type: 1,
      title: '客人信息',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['500px', '400px'],
      content: $('#add_kerenxinxi'),
      btn: ['取消', '添加', '保存']
    });
  });
 
  // 门卡读取
  $('#add_menkaduxie').on('click', function() {
    layer.open({
      type: 1,
      title: '制作房卡',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['500px', '400px'],
      content: $('#menkaduixie'),
      btn: ['注销', '制卡']
    });
  });
 
  // 礼包购买
  $('#add_goumai').on('click', function() {
    layer.open({
      type: 1,
      title: '礼包购买',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['500px', '400px'],
      content: $('#goumai'),
      btn: ['确定']
    });
  });
  
  // 新增订单
  $('#order_add').on('click', function () {
    layer.open({
      type: 1,
      title: '新增订单',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['1000px', '600px'],
      content: $('#add_order'),
      btn: ['预订'],
      yes: function (index, layero) {
        var num = 0;
        var str = "";
        $(".add_order1 input[type$='text']").each(function (n) {
          if ($(this).val() == "") {
            layer.alert(str += "" + $(this).attr("name") + "不能为空！\r\n", {
              title: '提示框',
              icon: 0,
            });
            num++;
            return false;
          }
        });
        if (num > 0) { return false; }
        else {
          layer.alert('添加成功！', {
            title: '提示框',
            icon: 1,
          });
          layer.close(index);
        }
      }
    });
  });
 
  // 注册会员
  $('#reg_member').on('click', function () {
    layer.open({
      type: 1,
      title: '新增会员',
      maxmin: true,
      shadeClose: true, //点击遮罩关闭层
      area: ['1000px', '600px'],
      content: $('#add_member'),
      btn: ['注册'],
      yes: function (index, layero) {
        var num = 0;
        var str = "";
        $(".add_order1 input[type$='text']").each(function (n) {
          if ($(this).val() == "") {
            layer.alert(str += "" + $(this).attr("name") + "不能为空！\r\n", {
              title: '提示框',
              icon: 0,
            });
            num++;
            return false;
          }
        });
        if (num > 0) { return false; }
        else {
          layer.alert('添加成功！', {
            title: '提示框',
            icon: 1,
          });
          layer.close(index);
        }
      }
    });
  });

  //关联房
  table.render({
      elem: '#glfang'
      ,url: '../../json/table/glfang.json'
      ,toolbar: false
      ,cols: [[
        {field:'id', title:'房单号', width:40}
        ,{field:'fangNum', title:'房号', width:40}
        ,{field:'guests', title:'客人',  width:47}
        ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:80}
      ]]
  });

  //工具栏事件
  table.on('toolbar(test)', function (obj) {
    var checkStatus = table.checkStatus(obj.config.id);
    switch (obj.event) {
      case 'add':
        layer.msg('添加');
        break;
      case 'update':
        layer.msg('编辑');
        break;
      case 'delete':
        layer.msg('删除');
        break;
      case 'add_glfang':
        var data = checkStatus.data;
        layer.alert(JSON.stringify(data));
        layer.open({
            type: 1,
            title: '新增关联房',
            maxmin: true,
            shadeClose: true,
            area: ['500px', '400'],
            content: $('#fangjian_content'),
            btn: ['确认']
        });
        break;
    };
  });

  //监听单元格编辑
  table.on('edit(test)', function (obj) {
    var value = obj.value //得到修改后的值
      , data = obj.data //得到所在行所有键值
      , field = obj.field; //得到字段

    console.log(obj)
  });

  //监听行工具事件
  table.on('tool(test)', function (obj) {
    var data = obj.data;
    //console.log(obj)
    if (obj.event === 'del') {
      layer.confirm('真的删除行么', function (index) {
        obj.del();
        layer.close(index);
      });
    } else if (obj.event === 'edit') {
        //页面层-自定义
        layer.open({
          type: 1,
          area: ['300px', '200px'],
          content: '<p class="p-2">同行同享优惠,将目标房单转化会员订单，并享受会员价？</p>',
          btn: ['是', '否']
        });
    }
  });

  //监听排序
  table.on('sort(test)', function (obj) {
    console.log(this)
    //return;
    layer.msg('服务端排序。order by ' + obj.field + ' ' + obj.type);
    //服务端排序
    table.reload('test', {
      initSort: obj
      //,page: {curr: 1} //重新从第一页开始
      , where: { //重新请求服务端
        key: obj.field //排序字段
        , order: obj.type //排序方式
      }
    });
  });
  //return;

  //提交监听事件
  form.on('submit(save)', function (data) {
    params = data.field;
    //alert(JSON.stringify(params))
    submit($, params);
    return false;
  })
  var obj = document.getElementById('closeBtn');
  obj.addEventListener('click', function cancel() {
    CloseWin();
  });

  // $('i').on('click', function () {
  //   var type = $(this).data('type');
  //   active[type] ? active[type].call(this) : '';
  // });
  $('.layui-btn').on('click', function () {
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
//提交
function submit($, params) {
  $.post('${ctx}/golbal/add1', params, function (res) {
    if (res.status == 1) {
    layer.msg(res.message, { icon: 1 }, function (index) {
        CloseWin();
    })
    } else if (res.status == 2) {
    layer.msg(res.message, { icon: 0 }, function () {
        parent.location.href = '${ctx}/golbal/main';
        CloseWin();
    })
    } else {
    layer.msg(res.message, { icon: 0 }, function () {
        location.reload(); // 页面刷新
        return false
    })
    }
  }, 'json');
}
//关闭页面
function CloseWin() {
    parent.location.reload(); // 父页面刷新
    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    parent.layer.close(index); //再执行关闭 
}
</script>