<div class="mod_pos_item pr-0">
		<div class="weui-cells">
				<div class="weui-cell">
					<div class="weui-cell__hd">
						<label for="name" class="weui-label">企业名称 <em>*</em></label>
					</div>
					<div class="weui-cell__bd">
						<input class="weui-input text-right" type="text" placeholder="请输入"/>
					</div>
				</div>
				<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
						<label for="name" class="weui-label">成立时间 <em>*</em></label>
					</div>
					<div class="weui-cell__bd">
						<input class="weui-input text-right" type="text" placeholder="请选择"/>
					</div>
				</div>
				<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
						<label for="name" class="weui-label">企业性质 <em>*</em></label>
					</div>
					<div class="weui-cell__bd">
						<input class="weui-input text-right" type="text" placeholder="请选择"/>
					</div>
				</div>
				<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
						<label for="name" class="weui-label">行业领域 <em>*</em></label>
					</div>
					<div class="weui-cell__bd">
						<input class="weui-input text-right" type="text" placeholder="请选择"/>
					</div>
				</div>
				<div class="weui-cell p-0">
					<div class="weui-cell__hd">
						<label for="name" class="weui-label">注册资金 <em>*</em></label>
					</div>
					<div class="weui-cell__bd pr-0">
							<div class="weui-cell pl-0">
									<div class="weui-cell__bd">
											<input class="weui-input text-right w-50" type="text" placeholder="请输入正整数万"/>
									</div>
							</div>
							<div class="weui-cell pl-0">
									<div class="weui-cell__bd">
											<div class="weui-cells_radio d-flex justify-content-end">
													<div class="form-check mr-2">
															<input class="form-check-input" type="radio" name="exampleRadios" id="x1" value="option1" checked>
															<label class="form-check-label" for="x1">人民币</label>
													</div>
													<div class="form-check mr-2">
															<input class="form-check-input" type="radio" name="exampleRadios" id="x2" value="option2">
															<label class="form-check-label" for="x2">港币</label>
													</div>
													<div class="form-check">
															<input class="form-check-input" type="radio" name="exampleRadios" id="x3" value="option2">
															<label class="form-check-label" for="x3">美元</label>
													</div>
												</div>
									</div>
							</div>
					</div>
				</div>
				<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
						<label for="name" class="weui-label">员工人数 <em>*</em></label>
					</div>
					<div class="weui-cell__bd">
						<input class="weui-input text-right" type="text" placeholder="请选择"/>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__hd">
						<label for="name" class="weui-label">营业执照 <em>*</em></label>
					</div>
					<div class="weui-cell__bd">
						<div class="w-100 d-flex justify-content-end">
								<div class="weui-cells_form" id="uploaderCustom">
									<div class="weui-uploader">
										<div class="weui-uploader__bd">
												<ul class="weui-uploader__files" id="uploaderCustomFiles"></ul>
												<div class="weui-uploader__input-box mr-0">
														<input id="uploaderCustomInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
												</div>
										</div>
									</div>
							</div>
						</div>
						<a id="uploaderCustomBtn" href="javascript:" class="weui-btn weui-btn_mini weui-btn_primary w-50 p-1">上传</a>
						<div style="word-break:break-all">支持png,jpg,doc,xls,xlsx,pdf等格式</div>
					</div>
				</div>
		</div>
		<div class="weui-cells__title p-0 mt-2">公司简介 <em>*</em> <small>(言简意赅地阐述公式简介)</small></div>
		<div class="weui-cells weui-cells_form">
			<div class="weui-cell pt-0">
			<div class="weui-cell__bd workContent">
				<textarea class="weui-textarea" rows="5">测试</textarea>
				<div class="weui-textarea-counter"><span>0</span>/1600</div>
			</div>
			</div>	
		</div>
		<!-- 底部按钮 -->
		<section class="mod_pos_btn">
				<div class="mod_pos_btn_air w-100"><a href="qyCorInfConAdd.html">下一步</a></div>
				<!-- <input onclick="javascript:showComInfoAdress();" class="mod_pos_btn_air w-100" value="下一步" id="saveEduBtn" type="button"> -->
		</section>
	</div>