<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<title>
    {{ page.title | smartify }}                                                                                                                 
</title>
<!-- Custom CSS -->
<link rel="stylesheet" href="static/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/mui.min.css" type="text/css" />
<link rel="styleSheet" href="assets/css/layer.css" type="text/css" id="layermcss">
<link rel="stylesheet" href="static/css/css.css" type="text/css" />