//商品详情
.ware dd .to_head{
	width: 100%;
	margin:1.2rem auto 0.4rem;
	text-align: center;
	
}
.ware dd .to_head span{
	border-top: 1px solid #0288dd;
	border-bottom: 2px solid #0288dd;
	color:#0288dd;
	padding:0 0.5rem;
	display: inline-block;
    font-size:0.8rem;
    line-height:1.4rem;
}
/*字体颜色*/
.ware .wa_d1 span{
	text-align: center;
	display: block;
	margin:0.3rem 0;
	color:#48c5f9;
}
.ware .wa_d2 span{
	text-align: center;
	display: block;
	margin:0.3rem 0;
	color:#ff9f1f;
}
.ware .wa_d3 span{
	text-align: center;
	display: block;
	margin:0.4rem 0;
	
}
.wa_dd .wa_a{
	box-shadow: 0 1px 3px #ccc;
	background: rgb(34, 24, 24);
	margin:0.3rem 0;
}
.wa_dd .wa_a img{
	width:60%;
}
.wa_dd .wa_a p{
	width: 80%;
	margin:0.3rem auto 0;
}
.wa_dd .wa_b{
	padding:0.3rem 0;
}
.wa_dd .wa_b p{
	padding:0.5rem 0.8rem;
	margin:0.3rem auto;
	border-radius: 0.2rem;
	background: #fff;
	border: 1px solid #ccc;
}