---
layout: pages1
title: 格林披治卡丁车
---
<!-- Page Content -->
<div id="content" class="grey-blue page">
    <!-- Sidebars -->
    {% include left_Sidebars.html %}

    <div id="toolbar" class="primary-color">
        <div class="open-left" id="open-left" data-activates="slide-out-left">
            <i class="ion-android-menu"></i>
        </div>
         <span class="title">格林披治卡丁车馆</span>
          <!-- <div class="open-right" id="open-right" data-activates="slide-out">
           <i class="ion-android-person"></i>
         </div> -->
    </div>

    <!-- Main Content -->
    <div class="">

      <!-- 格林披治卡丁车馆 -->
      <div id="pie_chart" class="card m-10 p-10">
            <div class="legend">
              <h5 class="uppercase">格林披治卡丁车馆</h5>
            </div>
    
            <div class="pieChartCont">
              <canvas id="kdc"></canvas>
            </div>
       </div>
        
    </div>
</div>