<script>
    layui.use(['form', 'laydate'], function () {
        var $ = layui.jquery
            , form = layui.form
            , laydate = layui.laydate

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题也太短了吧';
                }
            }
        });

       //某个时间在当前时间的多久前
        laydate.render({
            elem: '#appytime'
            ,type: 'datetime'
        });

        //监听提交
        form.on('submit(*)', function (data) {
            console.log(data)
            alert(JSON.stringify(data.field));
            return false;
        });

    });
</script>