<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/main.css" rel="stylesheet">
<!-- animateion -->
<link href="assets/css/keyframes.css" rel="stylesheet">
<link href="assets/css/animation.css" rel="stylesheet">
<link href="assets/css/swiper.min.css" rel="stylesheet">
 <style>
   .close{
      color: #fff;
      font-size:2rem;
      opacity: 1;
   }
   .rightclose{
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 1000;
   }
   .topImg{
      height:200px;
      overflow: hidden;
      position: relative;
   }
   .topImg img{
      position: absolute;
      top:-25px;
   }
   .card-text{
     height:160px;
   }
 </style>