<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/main.css" rel="stylesheet">
<!-- animateion -->
<link href="assets/css/keyframes.css" rel="stylesheet">
<link href="assets/css/animation.css" rel="stylesheet">
<link href="assets/css/swiper.min.css" rel="stylesheet">
<link href="assets/css/glpz.css"  rel="stylesheet">
<!-- icon -->
<link href="assets/fontawesome/css/font-awesome.min.css" rel="stylesheet">
<!-- weui -->
<link href="assets/css/weui.css" rel="stylesheet" >
<link href="assets/css/jquery-weui.css" rel="stylesheet">

<!-- layui -->
<link rel="stylesheet" href="assets/css/layer.css">
<link rel="stylesheet" href="assets/css/layui.css">