<div class="swiper-container carousel">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="assets/img/meishi_img/01.jpg" class="d-block w-100" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/img/meishi_img/3.jpg" class="d-block w-100" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/img/meishi_img/4.jpg" class="d-block w-100" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/img/meishi_img/5.jpg" class="d-block w-100" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/img/meishi_img/6.jpg" class="d-block w-100" alt="">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>