<!-- Slider -->         
<div class="swiper-container carousel">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="assets/img/glpz_img/01.jpg" class="d-block w-100" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/img/glpz_img/02.jpg" class="d-block w-100" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/img/glpz_img/03.jpg" class="d-block w-100" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/img/glpz_img/04.jpg" class="d-block w-100" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/img/glpz_img/05.jpg" class="d-block w-100" alt="">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>