<div class="mod_pos_item">
	<div class="weui-cells">
			<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
							<label for="name" class="weui-label">部门</label>
					</div>
					<div class="weui-cell__bd">
							<input class="weui-input text-right" type="text" placeholder="请选择" />
					</div>
			</div>
			<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
							<label for="name" class="weui-label">状态</label>
					</div>
					<div class="weui-cell__bd">
							<input class="weui-input text-right" type="text" placeholder="请选择" />
					</div>
			</div>
			<div class="weui-cell">
					<div class="weui-cell__hd">
							<label for="name" class="weui-label">关键字</label>
					</div>
					<div class="weui-cell__bd">
							<input class="weui-input text-right" type="text" placeholder="请输入" />
					</div>
			</div>
			<div class="weui-cell">
					<button type="button" class="btn btn-outline-primary btn-block border-0 p-2"><i class="fa fa-search mr-2"></i>搜索</button>
			</div>
	</div>
</div>