<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>
        {{ page.title | smartify }} · 狮子城
    </title>
    {% include head.html %}
</head>
<body>
    {% include common/header.html %}
    <div class="home">
      {{ content }}
      <!-- {% include footer.html %} -->
    </div>
    {% if page.layout == "list" or page.layout == "list-lp" or page.layout == "list-mstd" or page.layout == "list-newhd" or page.layout == "list-xxyl" or page.layout == "list-ywtj" or page.layout == "list-qqjd" or page.layout == "list-ticket" or page.layout == "ticketList" or page.layout == "shoppingNew" %}
       {% include common/menu.html %}
    {% endif %}
    {% include script.html %}
</body>
</html>