---
layout: default1
title: 选择票种-狮子城
---
<div id="top">
  <div class="swiper-container" id="nav">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <span style="color:rgba(255,72,145,1);">全部</span></div>
      <div class="swiper-slide">
        <span>海洋世界</span></div>
      <div class="swiper-slide">
        <span>婚博中心</span></div>
      <div class="swiper-slide">
        <span>卡丁车馆</span></div>
      <div class="swiper-slide">
        <span>真人CS</span></div>
      <div class="swiper-slide">
        <span>奇奇主题</span></div>
      <div class="swiper-slide">
        <span>奇奇之家</span></div>
      <div class="swiper-slide">
        <span>美食天地</span></div>
      <div class="bar">
        <div class="color"></div>
      </div>
    </div>
  </div>
</div>
<div class="swiper-container" id="page">
  <div class="swiper-wrapper">
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">
              <!-- <div class="swiper-container banner">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="uploads/banner1.jpg"></div>
                  <div class="swiper-slide">
                    <img src="uploads/banner2.jpg"></div>
                  <div class="swiper-slide">
                    <img src="uploads/banner3.jpg"></div>
                </div>
                <div class="swiper-pagination"></div>
              </div> -->
              <!-- S 轮播 -->
              {% include components/swiper/swiper2.html %}
              <!-- E 轮播 -->
              <!-- <div class="img">
                <img src="images/index1.png">
                <img src="images/hot.png">
              </div> -->
              <ul class="img">
                <li>
                  <img src="uploads/product1.png"></li>
                <li>
                  <img src="uploads/product2.png"></li>
                <li>
                  <img src="uploads/product3.png"></li>
                <li>
                  <img src="uploads/product4.png"></li>
                <li>
                  <img src="uploads/product5.png"></li>
                <li>
                  <img src="uploads/product3.png"></li>
                <li>
                  <img src="uploads/product4.png"></li>
                <li>
                  <img src="uploads/product5.png"></li>
                <li>
                  <img src="uploads/product3.png"></li>
                <li>
                  <img src="uploads/product4.png"></li>
                <li>
                  <img src="uploads/product5.png"></li>
                <li>
                  <img src="uploads/product3.png"></li>
                <li>
                  <img src="uploads/product4.png"></li>
                <li>
                  <img src="uploads/product5.png"></li>
              </ul>
              <div class="img">
                <img src="images/bottom.png"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">
              <!-- <div class="swiper-container banner">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="uploads/banner1.jpg"></div>
                  <div class="swiper-slide">
                    <img src="uploads/banner2.jpg"></div>
                  <div class="swiper-slide">
                    <img src="uploads/banner3.jpg"></div>
                </div>
                <div class="swiper-pagination"></div>
              </div> -->
              <!-- S 轮播 -->
              {% include components/swiper/swiper2.html %}
              <!-- E 轮播 -->
              <!-- <div class="img"><img src="images/hot.png"></div> -->
              <ul class="img">
                <li>
                  <img src="uploads/product1.png"></li>
                <li>
                  <img src="uploads/product2.png"></li>
                <li>
                  <img src="uploads/product3.png"></li>
                <li>
                  <img src="uploads/product4.png"></li>
                <li>
                  <img src="uploads/product5.png"></li>
                <li>
                  <img src="uploads/product3.png"></li>
                <li>
                  <img src="uploads/product4.png"></li>
                <li>
                  <img src="uploads/product5.png"></li>
                <li>
                  <img src="uploads/product3.png"></li>
                <li>
                  <img src="uploads/product4.png"></li>
                <li>
                  <img src="uploads/product5.png"></li>
                <li>
                  <img src="uploads/product3.png"></li>
                <li>
                  <img src="uploads/product4.png"></li>
                <li>
                  <img src="uploads/product5.png"></li>
              </ul>
              <div class="img">
                <img src="images/bottom.png"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide3</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide4</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide5</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide6</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide7</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide8</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide9</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide10</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide11</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide12</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide13</div></div>
        </div>
      </div>
      <div class="swiper-slide slidepage">
        <div class="swiper-container scroll">
          <div class="swiper-wrapper">
            <div class="swiper-slide slidescroll">slide14</div></div>
        </div>
      </div>
  </div>
</div>
<div class="img" id="footer"><img src="images/footer.png"></div>