---
layout: default
title: 选择票种
---
 <div class="index_all">
	<!-- S 轮播 -->
	{% include components/swiper/swiper.html %}
	<!-- E 轮播 -->

    <!-- S 园区公告 -->
    <!-- <div class="mod_bbs border-bottom" style="display:flex;">
			  <div style="width:60px;display: flex;align-items: center;justify-content: center;padding:0 5px">
				    <img src="static/images/yun_wap_gg.png" style="width:50px;" alt=""/>
				</div>
        <section class="mod_bbs_msg">
            {% include components/swiper/swiper1.html %}
        </section>
		</div> -->
		<!-- <ul>
			<li class="border-0"><div class="alert alert-warning p-2 mb-0" role="alert">
				<h1 class="alert-heading text-center">特别公告 <img src="static/images/new.png" alt="" style="width:30px;vertical-align: middle;padding-bottom: 5px;"/></h1>
				<h2 class="mb-2">亲爱的游客朋友们：</h2>
				<p class="pb-2 text-justify">　　为回馈广大游客对欧美城的关注与喜爱，欧美城将于2019年3月23日-24日推出重磅的海洋馆门票特价优惠活动......</p>
				<hr class="mt-1 mb-1">
				<p class="mb-0 text-right">
					 <small data-toggle="modal" data-target="#exampleModalScrollable">点击详情 >></small>
				</p></div>
			</li>
		</ul> -->
    <!-- E 园区公告 -->

		<!-- <img class="in_img" src="static/images/ti_tu-2.jpg"> -->
		<!-- <div class="content">
			<ul class="lists" id="ticket"></ul>
		</div> -->
	  <ul id="ticket">
			{% for ticket in site.data.ticket %}
			<li class="lists" onclick="javascript: window.location.href =&#39;ticketDetailsNew.html&#39;">
				<div class="in_fl tic_img">
					<img src="{{ticket.GetImage}}" alt=" ">
				</div>
				<div class="in_fr">
					<h2><a href="javascript:;" class="badge badge-{{ticket.GetTypeColor}} text-white mr-1">{{ticket.GetType}}</a>{{ticket.GetTitle}}</h2>
					<span class="dol d-block mt-1">¥<em>{{ticket.GetPrick}}</em></span>
				</div>
			</li>
			{% endfor %}
		</ul>
</div>


<!-- 园区公告 -->
{% include common/gonggao_content.html %}