---
layout: default_index
title: 惠州狮子城
---
<div class="index_all">
    <!-- S 轮播 -->
    {% include components/swiper/swiper.html %}
    <!-- E 轮播 -->

    <!-- 公告 -->
    <!-- common/gonggao1.html -->
    {% include common/gonggao1.html %}

    <!-- 公告 -->
	<!-- <div class="mod_bbs border-bottom" style="display:flex;">
        <div style="width:60px;display: flex;align-items: center;justify-content: center;padding:0 5px">
          <img src="static/images/yun_wap_gg.png" style="width:50px;" alt=""/>
        </div>
        <section class="mod_bbs_msg">
          {% include components/swiper/swiper1.html %}
        </section>
	</div> -->

    <!-- s 项目模块 -->
    <div class="ticketbox">
        <div class="weui-grids">
            <a href="list.html" class="weui-grid js_grid bgcolor_newhd">
                <h2 class="weui-grid__label">在线购票</h2>
                <div class="weui-grid__icon mr-2">
                <img src="static/images/icon_zxgp.png" alt="">
                </div>
            </a>
            <a href="list-mstd.html" class="weui-grid js_grid bgcolor_mstd">
                <h2 class="weui-grid__label">美食天地</h2>
                <div class="weui-grid__icon">
                <img src="static/images/icon_mstd.png" alt="">
                </div>
            </a>
            <div class="weui-grid js_grid zxbox">
                <a href="list-newhd.html" class="bgcolor_zxgp">
                    <h2 class="weui-grid__label">最新活动</h2>
                    <div class="weui-grid__icon">
                        <img src="static/images/icon_newhd.png" alt="">
                    </div>
                </a>
                <a href="list-qqjd.html" class="bgcolor_qqjd">
                    <h2 class="weui-grid__label">奇奇主题酒店</h2>
                    <div class="weui-grid__icon">
                    <img src="static/images/icon_qqjd.png" alt="">
                    </div>
                </a>
            </div>
            <a href="list-ywtj.html" class="weui-grid js_grid bgcolor_ywtj">
                <h2 class="weui-grid__label">游玩推荐</h2>
                <div class="weui-grid__icon">
                <img src="static/images/icon_ywtj.png" alt="">
                </div>
            </a>
            <a href="list-xxyl.html" class="weui-grid js_grid bgcolor_xxyl">
                <h2 class="weui-grid__label">休闲娱乐</h2>
                <div class="weui-grid__icon">
                <img src="static/images/icon_xxyl.png" alt="">
                </div>
            </a>
            <a href="list-ycard.html" class="weui-grid js_grid bgcolor_lp">
                <h2 class="weui-grid__label">年卡</h2>
                <div class="weui-grid__icon">
                <img src="static/images/icon_yearCard.png" alt="">
                </div>
            </a>
        </div>
    </div>
</div>
<!-- e 项目模块 -->
{% include footer.html %}

<!-- 园区公告 -->
{% include common/gonggao_content.html %}