---
layout: default
title: 休闲娱乐
---
<div class="index_all">
        <!-- S 轮播 -->
        {% include components/swiper/swiper.html %}
        <!-- E 轮播 -->
        
        <!-- start 休闲娱乐  -->
        <div class="mstd">
            <div class="weui-flex">
                <div class="weui-flex__item">
                    <div class="yw-img"><img src="static/images/home1/gp3.png" alt=""></div>
                    <div class="yw-con">【海洋世界】惠州海洋生物知识科普基地..</div>
                </div>
                <div class="weui-flex__item">
                    <div class="yw-img"><img src="static/images/home1/kdc2.jpg" alt=""></div>
                    <div class="yw-con">【卡丁车馆】惠州年轻人的轻奢竞技场...</div>
                </div>
            </div>
            <div class="weui-flex">
                <div class="weui-flex__item">
                    <div class="yw-img"><img src="static/images/home1/gp3.png" alt=""></div>
                    <div class="yw-con">【海洋世界】惠州海洋生物知识科普基地..</div>
                </div>
                <div class="weui-flex__item">
                    <div class="yw-img"><img src="static/images/home1/kdc2.jpg" alt=""></div>
                    <div class="yw-con">【卡丁车馆】惠州年轻人的轻奢竞技场...</div>
                </div>
            </div>
        </div>
        <!-- end  -->
    </div>