---
layout: default
title: 奇奇主题酒店
---
<div class="index_all">
        <!-- S 轮播 -->
        {% include components/swiper/swiper.html %}
        <!-- E 轮播 -->
        
        <!-- start 奇奇主题酒店  -->
        <div class="mstd">
            <div class="weui-flex">
                <div class="weui-flex__item ywbox">
                    <div class="yw-img"><img src="static/images/home1/gp3.png" alt=""></div>
                    <div class="yw-con">标准客房</div>
                </div>
                <div class="weui-flex__item ywbox">
                    <div class="yw-img"><img src="static/images/home1/gp3.png" alt=""></div>
                    <div class="yw-con">豪华大房</div>
                </div>
            </div>
            </div>
       <!-- end  -->
      </div>