---
layout: default
title: 年卡
---
<div class="index_all">
    <!-- S 轮播 -->
    {% include components/swiper/swiper.html %}
    <!-- E 轮播 -->
    <!-- start 在线购票 -->
    <div class="ticket" id="ticket">
        <div class="content">
            <h3 class="p-2"><strong>年卡</strong></h3>
            <ul class="lists">
                <li onclick="javascript: window.location.href =&#39;ticketDetailsNew1.html&#39;">
                    <div class="in_fl">
                        <img src="static/images/home/g7.png" alt="">
                    </div>
                    <div class="in_fr">
                        <h2>狮子城成人年卡（1人）</h2>
                        <div class="ticket_price d-block">
                            <span class="dol">¥<em>300</em></span>
                        </div>
                    </div>
                </li>
                <li onclick="javascript: window.location.href =&#39;ticketDetailsNew1.html&#39;">
                    <div class="in_fl">
                        <img src="static/images/home/g7.png" alt="">
                    </div>
                    <div class="in_fr">
                        <h2>狮子城成人年卡（2人）</h2>
                        <div class="ticket_price d-block">
                            <span class="dol">¥<em>600</em></span>
                        </div>
                    </div>
                </li>
                <li onclick="javascript: window.location.href =&#39;ticketDetailsNew1.html&#39;">
                    <div class="in_fl">
                        <img src="static/images/home/g7.png" alt="">
                    </div>
                    <div class="in_fr">
                        <h2>狮子城成人年卡（3人）</h2>
                        <div class="ticket_price d-block">
                            <span class="dol">¥<em>900</em></span>
                        </div>
                    </div>
                </li>
                <li onclick="javascript: window.location.href =&#39;ticketDetailsNew1.html&#39;">
                    <div class="in_fl">
                        <img src="static/images/home/g7.png" alt="">
                    </div>
                    <div class="in_fr">
                        <h2>狮子城成人年卡（4人）</h2>
                        <div class="ticket_price d-block">
                            <span class="dol">¥<em>1200</em></span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!-- end 结束 -->
</div>