---
layout: default
title: 美食天地
---
<div class="index_all">
    <!-- S 轮播 -->
    {% include components/swiper/swiper.html %}
    <!-- E 轮播 -->
    
    <!-- start 美食天地  -->
    <div class="ticket" id="ticket">
        <div class="content">
            <h3 class="pt-2"><strong>美食天地</strong></h3>
            <ul class="lists pl-2 pr-2">
                {% for ticket in site.data.listmstd %}
                <li>
                    <div class="http://hzomsell.m.yd-eating.com?storeId={{ticket.GetUrlstoreId}}">
                        <img src="{{ticket.GetImage}}" alt=" ">
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- <div class="weui-flex mb-2">
            <div class="weui-flex__item ywbox">
                <div class="yw-img"><img src="static/images/foods/1_11_09.jpg" alt=""></div>
                <div class="yw-con">奇奇西餐厅</div>
            </div>
            <div class="weui-flex__item ywbox">
                <div class="yw-img"><img src="static/images/foods/1_11_11.jpg" alt=""></div>
                <div class="yw-con">韩食</div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item ywbox">
                <div class="yw-img"><img src="static/images/foods/1_11_13.jpg" alt=""></div>
                <div class="yw-con">奇奇西餐厅</div>
            </div>
            <div class="weui-flex__item ywbox">
                <div class="yw-img"><img src="static/images/foods/1_11_09.jpg" alt=""></div>
                <div class="yw-con">韩食</div>
            </div>
        </div> -->
    </div>
    <!-- end  -->
</div>