---
layout: default
title: 结算
---
<div class="index_all">
    <ul id="ticket">
        <li>
            <div class="fl in_fl shop_img">
                <img src="static/images/home1/gp3.png" alt="">
            </div>
            <div class="fr in_fr shop_r">
                <h2><a href="javascript:;" class="badge badge-primary text-white mr-1">成人票</a> 海洋世界平日票</h2>
                <p>价格：<span class="dol">¥80.00</span></p>
                <p>使用日期：<span>2018-11-25</span></p>
                <div class="piao_type mr-2 pt-0">
                    <div class="fr">
                        <div class="Choice">
                            <button class="" type="button" id="reduce" style="float:left;">-</button>
                            <input class="" type="text" id="Qty" readonly="readonly" name="Qty" value="1" style="float:left;">
                            <button class="current" type="button" id="add" style="float:left;">+</button>
                        </div>
                    </div>
                    <a class="fl del" href="javascript:;" onclick="EditCount(&#39;20181125162429556&#39;,&#39;delete&#39;)"><i class="fa fa-trash-o text-info fa-lg"></i></a>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- 底部导航 -->
<nav class="menu footMenu bg-primary">
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="js()">结算</button>
</nav>