---
layout: default
title: 我的订单
---
<div class="order_all"">
    <div class="weui-tab">
        <div class="mod_int weui-navbar border-bottom">
            <a class="mod_int_tab weui-navbar__item weui-bar__item--on p-0" href="#tab1">
                <span class="mod_int_tab_text">支付</span>
                <div class="bottom_line"></div>
            </a>
            <a class="mod_int_tab weui-navbar__item p-0" href="#tab2">
                <span class="mod_int_tab_text">已取票</span>
                <div class="bottom_line"></div>
            </a>
            <a class="mod_int_tab weui-navbar__item p-0" href="#tab3">
                <span class="mod_int_tab_text">未支付</span>
                <div class="bottom_line"></div>
            </a>
            <a class="mod_int_tab weui-navbar__item p-0" href="#tab4">
                <span class="mod_int_tab_text">已退票</span>
                <div class="bottom_line"></div>
            </a>
        </div>
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                {% include ticketList/ticket_01.html %}
            </div>
            <div id="tab2" class="weui-tab__bd-item">
                {% include ticketList/ticket_02.html %}
            </div>
            <div id="tab3" class="weui-tab__bd-item">
                {% include ticketList/ticket_03.html %}
            </div>
            <div id="tab4" class="weui-tab__bd-item">
                {% include common/proInfo.html %}
            </div>
        </div>
    </div>
</div>
