<!-- 移动端显示效果 -->
<!-- <div class="nav-tabs-div nav-tabs-horizontal" data-plugin="tabs"> -->
<!-- pc端显示效果 -->
<div class="nav-tabs-div nav-tabs-vertical" data-plugin="tabs">
    
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-toggle="tab" href="#tab-9" role="tab">狮子城</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-toggle="tab" href="#tab-10" role="tab">格林披治</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-toggle="tab" href="#tab-11" role="tab">缘善公益</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab-9" role="tabpanel">
            <p class="desc">
                狮子城文化创意园由狮子集团投资并创立，项目主体公司深圳狮子城文化股份有限公司于2015年在全国中小股份转让系统挂牌上市，证券简称：狮子城，证券代码：430173。狮子城总部设在深圳，进行联盟合作招商…<br/>
                <a href="" style="color:red">[查看更多]</a>
            </p>
            <div class="tab-detail clearfix" style="margin-top: 10px">
                <div class="col-lg-4">
                    <img class="img-fluid" src="../assets/img/01.png" style="display: block;" alt="狮子城">
                </div>
                <div class="col-lg-8" style="padding-left:0">
                    <!-- <ul class="blocks-3 column-3"> -->
                    <ul>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab-10" role="tabpanel">
            <p class="desc">
                随着我国经济的高速发展和人民物质文化需求的增长，强身健体成为人们的生活必需和必然趋势，体育产业逐渐成为与人的健康和娱乐密切相关的现代服务业，展现出良好的发展势头。格林披治以体育文化为导向，以双…<br/>
                <a href="" style="color:red">[查看更多]</a>
            </p>
            <div class="tab-detail clearfix" style="margin-top: 10px">
                <div class="col-lg-4">
                    <img class="img-fluid" src="../assets/img/02.png" style="display: block;" alt="缘善公益">
                </div>
                <div class="col-lg-8" style="padding-left:0">
                    <!-- <ul class="blocks-3 column-3"> -->
                    <ul>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab-11" role="tabpanel">
            <p class="desc">
                2013年9月，集团总部董事局主席吴晓翔先生（中国狮子集团董事长、中华缘善基金会主席、香港华商慈善基金会主席）以个人名义发起并捐献人民币208万元整，成立了“广东省缘善公益基金会”同年10月经广东省民…<br/>
                <a href="" style="color:red">[查看更多]</a>
            </p>
            <div class="tab-detail clearfix" style="margin-top: 10px">
                <div class="col-lg-4">
                    <img class="img-fluid" src="../assets/img/03.png" style="display: block;" alt="格林披志">
                </div>
                <div class="col-lg-8" style="padding-left:0">
                    <!-- <ul class="blocks-3 column-3" -->
                    <ul>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                        <li>
                            <a href=""><span>世界杯来了！49.9元抢SHOW8 BAR原价300元潮饮泡泡酒兑换券（6瓶）！世界盛宴</span> [ 2018-06-13 ]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>