<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="StrSql" value="server=.;uid=sa;pwd=123456;database=oa_hyg;"/>
    <add key="ImgType" value=".jpg|.gif|.bmp|.png|.doc|.docx|.xls|.xlsx|.wps|.pdf|.txt|.rar|.dwg|.zip"/>
    <add key="UpFilePath" value="~/admin_cms/upload/"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation defaultLanguage="c#" debug="true" ></compilation>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />

    <authentication mode="Forms">
      <forms loginUrl="admin_cms/login.aspx" name=".MyCookie" protection="All" timeout="30"></forms>
    </authentication>
  </system.web>

  <location path="admin_cms">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>