<div class="qyPostManEdit qyCon" style="display:none">
			<div class="mod_pos_item pr-0">
					<div class="weui-cells">
							<div class="weui-cell weui-cell_select">
											<div class="weui-cell__hd">
															<label for="name" class="weui-label">联系人员</label>
											</div>
											<div class="weui-cell__bd">
												<input type="text" class="weui-input text-right" value="黄小姐">
											</div>
							</div>
							<div class="weui-cell weui-cell_select">
											<div class="weui-cell__hd">
															<label for="name" class="weui-label">联系电话</label>
											</div>
											<div class="weui-cell__bd">
												<div class="d-flex">
															<input type="text" class="weui-input text-right" value="13400000000">
															<div class="weui-cells_checkbox d-flex justify-content-end w-30">
																	<label class="weui-check__label d-flex align-items-center" for="s11">
																			<div class="weui-cell__hd p-0">
																					<input type="checkbox" class="weui-check" name="checkbox1" id="s11">
																					<i class="weui-icon-checked"></i>
																			</div>
																			<div class="weui-cell__bd pr-1">
																					<p>屏蔽</p>
																			</div>
																	</label>
															</div>
												</div>
											</div>
							</div>
							<div class="weui-cell weui-cell_select">
											<div class="weui-cell__hd">
															<label for="name" class="weui-label">电子邮件</label>
											</div>
											<div class="weui-cell__bd">
													<div class="d-flex">
														<input type="text" class="weui-input text-right" value="555555@qq.com">
														<div class="weui-cells_checkbox d-flex justify-content-end w-30">
																<label class="weui-check__label d-flex align-items-center" for="s12">
																		<div class="weui-cell__hd p-0">
																				<input type="checkbox" class="weui-check" name="checkbox1" id="s12">
																				<i class="weui-icon-checked"></i>
																		</div>
																		<div class="weui-cell__bd pr-1">
																				<p>屏蔽</p>
																		</div>
																</label>
														</div>
													</div>
											</div>
							</div>
							<div class="weui-cell weui-cell_select">
									<div class="weui-cell__hd">
												<label for="name" class="weui-label">详细地址</label>
									</div>
									<div class="weui-cell__bd">
											<div class="accNumBtn text-right">
													<div class="d-flex justify-content-between align-items-center">
																	<div class="w-75"><input type="text" class="weui-input text-right" value="台湾省台湾"></div>
																	<a href="javascript:;" class="btn btn-primary btn-sm ml-2">标注地图</a>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
			<!-- 底部按钮 -->
			<section class="mod_pos_btn">
				<div class="mod_pos_btn_air"><a href="qyPostJob.html">修改</a></div>
				<div class="mod_pos_btn_rea"><a href="index.html">取消</a></div>
			</section>
</div>