<!-- 企业资料 -->

<!-- 基本资料 -->
<div class="page__bd ml-3 mr-3"> 
    <div class="weui-cells__title">企业资料 <span class="badge badge-pill badge-danger">必填</span></div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                 <ul>
                 	 <li class="text-success">营业执照已上传</li>
                     <li><span>企业名称：</span>惠州锦胜房地产开发有限公司 </li>
                     <li><span>成立日期：</span>2006-02-10</li>
                     <li><span>企业性质：</span>印刷、包装、造纸</li>
                     <li><span>行业领域：</span>外资企业</li>
                     <li><span>注册资金：</span>2000万 港币</li>
                     <li><span>员工人数：</span>200—500人</li>
                     <li><span>公司简介：</span>惠州锦胜房地产开发有限公司 是一家集地产开发、商业经营、......</li>  
                 </ul>
                 <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" id="qyZl">
                    <i class="fa fa-pencil"></i></a>
            </div>
         </div>
    </div>
</div>
<!-- 求职意向 -->
<div class="page__bd ml-3 mr-3"> 
    <div class="weui-cells__title">企业联系 <span class="badge badge-pill badge-danger">必填</span></div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <ul>
                  <li class="text-success">地图已标注</li>
                  <li><span>联系人员：</span>黄小姐 </li>
                  <li><span>联系电话：</span>0752-5766212</li>
                  <li><span>电子邮件：</span>597952541@qq.com </li>
                  <li><span>详细地址：</span>台湾省台湾</li>
                </ul>
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" id="qyCon">
                    <i class="fa fa-pencil"></i></a>
            </div>
         </div>
    </div>
</div>
<!-- 求职意向 -->
<div class="page__bd ml-3 mr-3"> 
    <div class="weui-cells__title">公司福利 <span class="badge badge-pill badge-danger">必填</span></div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd pr-3 comWelfare">
             <ul>
                 <li class="haveCheck"><span>社会保险</span> <i class="fa fa-check"></i></li>
                 <li class="haveCheck"><span>法定节假日</span> <i class="fa fa-check"></i></li>
                 <li><span>双休</span></li>
                 <li><span>带年假</span></li>
                 <li><span>年终双薪</span></li>
                 <li><span>年终奖</span></li>
                 <li><span>定期体检</span></li>
                 <li><span>员工旅游员工培训</span></li>
                 <li><span>节日福利</span></li>
                 <li><span>住房公积金</span></li>
                 <li><span>全勤奖</span></li>
                 <li><span>周末双休</span></li>
                 <li> <span>包吃</span></li>
                 <li> <span>包住</span></li>
                 <li> <span>年终分红</span></li>
                 <li> <span>班车接送</span></li>
                 <li> <span>餐补</span></li>
                 <li> <span>交通补贴</span></li>
                 <li> <span>伙食补贴</span></li>
                 <li class="haveCheck"><span>住房补贴</span> <i class="fa fa-check"></i></li>
                 <li class="haveCheck"> <span>特困补贴</span> <i class="fa fa-check"></i></li>
                 <li> <span>服装补贴</span></li>
                 <li> <span>子女教育补贴</span></li>
                 <li> <span>水电费补贴</span></li>
                 <li> <span>取暖补贴</span></li>
                 <li> <span>降温补贴</span></li>
                 <li> <span>洗理补贴</span></li>
                 <li> <span>弹性工作</span></li>
                 <li> <span>加班补贴</span></li>
                 <li> <span>出差补贴</span></li>
                 <li> <span>绩效奖</span></li>
             </ul>
              <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" id="qyFl">
                  <i class="fa fa-pencil"></i></a>
            </div>
         </div>
    </div>
</div>

<div class="weui-loadmore">
		<i class="weui-loading"></i>
		<span class="weui-loadmore__tips">正在加载</span>
</div>