---
layout: default
title: 设置中心
---
<div class="mineSetCenter">
    <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">登录账号</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="accNumBtn text-right">
                        <span>hzjs2016</span>
                        <a href="../mineAccNumEdit.html" class="btn btn-primary btn-sm ml-2">修改</a>
                    </div>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">登录密码</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="accNumBtn text-right">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="w-75">
                                <span tabindex="0" data-toggle="tooltip" data-animation="true" title="互联网账户存在被盗风险，建议你定期更改密码以保护账户安全">
                                 <i class="fa fa-info-circle fa-lg"></i></span>
                            </div>
                            <a href="../minePasswordEdit.html" class="btn btn-primary btn-sm ml-2">修改</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">电子邮箱</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="accNumBtn text-right">
                        <span>597952541@qq.com</span>
                        <a href="../mineEmailEdit.html" class="btn btn-primary btn-sm ml-2">修改</a>
                    </div>
                </div>
            </div>
            <div class="weui-cell" id='show-actions1'>
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">账号绑定</label>
                </div>
                <div class="weui-cell__bd">
                    <ul class="bangding d-flex justify-content-end">
                        <li><img src="../../static/images/login_vwx.png"/><p><small>解绑微信</small></p></li>
                        <li><img src="../../static/images/login_vqq.png"/><p><small>绑定QQ</small></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <a href="javascript:;" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">简历类型设置</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select">
                        <option selected="" value="0">请选择</option>
                        <option value="1">社会人士</option>
                        <option value="2">应届毕业生</option>
                    </select>
                </div>
            </a>
            <a href="javascript:;" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">简历显示语言选择</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select">
                        <option selected="" value="0">请选择</option>
                        <option value="1">中文（必须现实）</option>
                        <option value="2">英文</option>
                    </select>
                </div>
            </a>
            <a href="javascript:;" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">简历公开度设置</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select">
                        <option selected="" value="0">完全公开我的简历</option>
                        <option value="1">不公开（完全保密，任何人都搜索不到您的简历）</option>
                        <option value="2">部分公开，对如下企业保密</option>
                    </select>
                </div>
            </a>
            <a href="javascript:;" class="weui-cell weui-cell_select">
                <div class="weui-cell__hd">
                    <label for="name" class="weui-label">系统设置</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select">
                        <option selected="" value="0">系统刷新简历</option>
                        <option value="1">不允许系统推荐我的简历</option>
                        <option value="2">不接受系统向我推荐职位</option>
                    </select>
                </div>
            </a>
        </div>
    </div>
    <div class="mod_pos_item pr-0">
        <div class="weui-cells">
            <a href="javascript:;" class="weui-cell weui-cell_select" id='show-actions'>
              <div class="weui-cell__hd">
                <label for="name" class="weui-label">切换身份</label>
              </div>
              <div class="weui-cell__bd">
                <input class="weui-input" type="text" value="我要找工作">
             </div>
            </a>
        </div>
    </div>
    <!-- 底部按钮 -->
    <div class="mod_bot_btn">
        <a href="qyMine.html" class="weui-btn weui-btn_primary w-auto">退出当前账号</a>
    </div>
</div>