---
layout: default
title: 修改账号
---
<div class="mineAccNumEdit">

    <div class="weui-cells weui-cells_form">

        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <p class="text-danger">手机号将作为新账号</p>
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
                <label for="name" class="weui-label">旧密码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" value="13400000000">
            </div>
        </div>
        <div class="weui-cell weui-cell_select">
            <div class="weui-cell__hd">
               <label for="name" class="weui-label">手机号</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" placeholder="请输入手机号">
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
                <label for="name" class="weui-label">图形验证码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入验证码">
            </div>
            <div class="weui-cell__ft">
                <img class="weui-vcode-img" src="static/images/vcode.jpg">
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
                <label for="name" class="weui-label">验证码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输收到的验证码">
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn">获取验证码</button>
            </div>
        </div>
    </div>

    <!-- 底部按钮 -->
    <section class="mod_pos_btn">
        <div class="mod_pos_btn_air"><a href="mine.html">保存</a></div>
        <div class="mod_pos_btn_rea"><a href="mineResumeEdit.html">取消</a></div>
    </section>
</div>