<!-- 招聘广告 -->
<!-- <section class="mod_slide swiper-container1 topAd">
    <div class="mod_slide_inner swiper-wrapper">
        <ul class="mod_slide_list">
            <li class="mod_slide_list_item swiper-slide">
                <img src="https://dummyimage.com/750x340/0f78bc/fff.png&text=广告一(750x340)">
            </li>
            <li class="mod_slide_list_item swiper-slide">
                <img src="https://dummyimage.com/750x340/007bff/fff.png&text=广告二(750x340)">
            </li>
            <li class="mod_slide_list_item swiper-slide">
                <img src="https://dummyimage.com/750x340/fd7e14/fff.png&text=广告三(750x340)">
            </li>
        </ul>   
    </div>
    <div class="swiper-pagination"></div>
    <div class="mod_slide_indexs">
        <span class="mod_slide_indexs_item cur"></span>
        <span class="mod_slide_indexs_item"></span>
        <span class="mod_slide_indexs_item"></span>
    </div>
</section> -->

<!-- 公告 -->
<!-- <ul class="mod_bbs_msg_list">
    <li class="mod_bbs_msg_item">
        <p class="mod_bbs_msg_text">
            <i class="mod_sign">解读</i>如果你无法简洁的表达你的想法。
        </p>
    </li>
    <li class="mod_bbs_msg_item">
        <p class="mod_bbs_msg_text">
            <i class="mod_sign">前线</i>如果你无法简洁的表达你的想法，那只说明你还不够了解它。
        </p>
    </li>
    <li class="mod_bbs_msg_item">
        <p class="mod_bbs_msg_text">
            <i class="mod_sign">前线</i>如果你无法简洁的表达你的想法，那只说明你还不够了解它。
        </p>
    </li>
</ul> -->