<footer class="footer-navs layui-bg-gray text-dark">
    <a href="home.html" class="link {% if page.layout == "home" %} active {% endif %}">
        <i class="fa fa-home mr-1"></i> <span class="text">首页</span>
    </a>
    <a href="paidui.html" class="link {% if page.layout == "paidui" %} active {% endif %}">
        <i class="fa fa-heart-o mr-1"></i> <span class="text">找对象</span>
    </a> 
    <!-- 配对结束后公布结果 -->
    <a href="tsort.html" class="link {% if page.layout == "tsort" %} active {% endif %}">
        <i class="fa fa-users mr-1"></i> <span class="text">配对结果</span>
    </a>
    <a href="rule.html" class="link {% if page.layout == "rule" %} active {% endif %}">
        <i class="fa fa-file-text-o mr-1"></i> <span class="text">活动说明</span>
    </a>
</footer>