<footer class="footer-navs layui-bg-gray text-dark">
    <a href="index.html" class="link {% if page.layout == "index" %} active {% endif %}">
        <i class="fa fa-home mr-1" style="font-size:20px;"></i> <span class="text">首页</span>
    </a>
    <!-- <a href="tsort.html" class="link {% if page.layout == "tsort" %} active {% endif %}">
        <i class="fa fa-users mr-1"></i> <span class="text">参选人员</span>
    </a> -->
    <a href="peidui.html" class="link {% if page.layout == "peidui" %} active {% endif %}">
        <i class="fa fa-heart-o mr-1"></i> <span class="text">找对象</span>
    </a>
    <a href="rule.html" class="link {% if page.layout == "rule" %} active {% endif %}">
        <i class="fa fa-file-text-o mr-1"></i> <span class="text">活动说明</span>
    </a>
</footer>