[v-cloak] {
	display: none !important
}

.apply-title {
	font-size: 16px;
	color: #fff;
	width: 90%;
	height: 1.07rem;
	line-height: 1.07rem;
	text-align: center;
	background-color: #ff584f;
	position: relative
}

.apply-title .icon {
	position: absolute;
	top: -3px;
	left: -3px;
	width: 28px;
	height: 28px;
	transform: rotateZ(-8deg)
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center
}

.container .apply-form {
	width: 9rem;
	background-color: #ffffff;
	font-size: 14px;
	padding: .5rem;
	box-sizing: border-box;
	margin-bottom: 1rem;
	box-shadow: 0 .05rem .11rem 0 rgba(0, 0, 0, 0.1)
}

.container .apply-form .layui-form-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center
}

.container .apply-form .layui-form-item button {
	width: 90%
}

.container .apply-form .layui-form-item .layui-form-label {
	padding: 0;
	white-space: pre-wrap;
	margin-right: .3rem;
	text-align: left;
	width: 57px
}

.container .apply-form .layui-form-item .layui-input-block {
	margin: 0;
	flex: 1
}

.container .apply-form .layui-form-item .layui-input-block textarea[name=describe] {
	resize: none
}

.container .apply-form .upload-item {
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start
}

.container .apply-form .upload-item .layui-input-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap
}

.container .apply-form .upload-item .layui-input-block .preview-img {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: .05rem;
	margin-right: .1rem;
	margin-bottom: .1rem;
	overflow: hidden;
	position: relative
}

.container .apply-form .upload-item .layui-input-block .preview-img .img {
	width: 100%;
	height: 100%
}

.container .apply-form .upload-item .layui-input-block .preview-img .text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	color: #ffffff;
	background-color: #FF5722
}

.container .apply-form .upload-item .layui-input-block .upload-btn {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: .1rem;
	margin-bottom: .1rem;
	border-radius: .05rem;
	overflow: hidden;
	border: 1px solid #d7d7d7
}

.container .apply-form .upload-item .layui-input-block .upload-btn .webuploader-pick {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%
}

.container .apply-form .upload-item .layui-input-block .upload-btn .webuploader-pick .iconfont {
	margin-bottom: .3rem;
	font-size: 32px;
	color: #999
}

.container .apply-form .upload-item .layui-input-block .upload-btn .webuploader-pick .text {
	font-size: 14px;
	color: #999
}

.container .apply-form .upload-item .layui-input-block .tips .text {
	margin: 0 .1rem;
	font-size: 18px
}

.container .apply-form .upload-item .img-num {
	color: #999;
	font-size: 14px;
	margin-bottom: 12px
}

.container .apply-form .preview-item .layui-input-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap
}

.container .apply-form .preview-item .layui-input-block .preview-img {
	width: 32%;
	max-height: 3rem;
	margin-bottom: .1rem;
	margin-right: .05rem
}

.webuploader-container {
	position: relative
}

.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px)
}

.webuploader-pick {
	width: 100%;
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-size: 12px;
	color: #fff;
	text-align: center;
	border-radius: 1px;
	overflow: hidden
}

.webuploader-pick-disable {
	opacity: .6;
	pointer-events: none
}