/* 重写 */
.c-float-modePop {
    width: 96%;
    min-width: 240px;
    max-width: 640px;
    z-index: 9999;
    position: fixed;
    border-radius: 3px;
    /*overflow: hidden;*/
}
.c-float-modePop{
  .content{
    padding:0 10px;
    p{
      margin-bottom:10px;
      text-align: left;
    }
  }
}
.tx_input,.tx_input1{
   width: 220px;
   border:1px solid #eee;
   padding: 10px;
   height:50px;
   line-height:50px;
}