---
layout: pages1
title: 销售管理-门票改期
---
<!-- 新增门票改期 -->
<div class="page-content" style="padding: 5px;">
    <div class="dingdan_content" style="padding:10px;margin-bottom: 0;">
        <!-- <div class="layui-input-block" style="margin-left:0;display:flex;align-items: center;">
            <label>门票条码</label>
            <input type="text" class="text_add" placeholder="" style="margin-left:10px"/>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" style="width:80px;margin-left:10px">查找</button>
        </div> -->
        <ul class="add_xsgl">
            <li class="date">
                <span>门票条码:</span> <input type="text" class="text_add3" placeholder="" style="width:220px;margin-left: 10px;"/><button type="button" class="layui-btn layui-btn-primary" style="margin-left:10px">查找</button>
            </li>
            <li><span>票类名称:</span> 
                <p style="height:38px;line-height:38px;width:173px;margin-left:10px;">海洋馆</p>
            </li>
            <li><span>购票时间:</span> 
                <p style="height:38px;line-height:38px;width:173px;margin-left:10px;">2019-01-06</p>
            </li>
            <li><span>门票类型:</span> 
                <p style="height:38px;line-height:38px;width:173px;margin-left:10px;">成人票</p>
            </li>
            <li><span>生效时间:</span> 
                <p style="height:38px;line-height:38px;width:173px;margin-left:10px;">2019-01-06</p>
            </li>
            <li><span>门票状态:</span> 
                <p style="height:38px;line-height:38px;width:173px;margin-left:10px;">正常</p>
            </li>
            <li><span>失效时间:</span> 
                <p style="height:38px;line-height:38px;width:173px;margin-left:10px;">2019-01-06</p>
            </li>
            <li class="date">
                <span>有效期从:</span> <input type="text" class="text_add3" id="ylDate" style="margin-left:10px;width:300px;">
            </li>
            <li class="date">
                <span>至:</span> <input type="text" class="text_add3" id="ylEndDate" style="margin-left:10px;width:300px;">
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>