---
layout: pages1
title: 销售管理-退票处理
---
<!-- 退票 -->
<div class="page-content" style="padding: 5px;">
    <div class="layui-input-block find_smtm">
        <label>扫描条码</label>
        <input type="text" class="text_add" placeholder="" style="margin-left:10px"/>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">查找</button>
    </div>
    <div class="dingdan_content">
        <h3>门票信息</h3>
        <ul>
            <li><span>票类名称:</span> </li>
            <li><span>销售员:</span> </li>
            <li><span>条码:</span> </li>
            <li><span>允进次数:</span> </li>
            <li><span>门票类型:</span> </li>
            <li><span>状态:</span> </li>
        </ul>
    </div>
    <div class="dingdan_content">
       <h3>购票信息</h3>
       <ul>
            <li><span>购票时间:</span> </li>
            <li><span>付款方式:</span> </li>
            <li><span>生效时间:</span> </li>
            <li><span>银行卡号:</span> </li>
            <li><span>失效时间:</span> </li>
            <li><span>售出价格:</span> </li>
       </ul>
   </div>
</div>