---
layout: pages1
title: 销售管理-折扣券
---
<!-- 抵扣券详情 -->
<div class="page-content" style="padding:10px;">
    <div class="dingdan_content">
        <h2>抵扣券详情</h2>
        <div class="layui-input-block" style="margin-left:0;padding:10px 0">
          <form class="layui-form layui-form-pane" action="" style="display: flex;align-items: center;">
            <input type="text" class="text_add3" placeholder="请输入券码进行查询" />
            <button type="button" class="layui-btn layui-btn-primary mr-4" style="width:80px;margin-left:10px">查询</button>
          </form>
          <form class="layui-form layui-form-pane" action="" style="display: flex;align-items: center;">
            <label style="margin-left: 10px;">充值金额:</label>
            <input type="text" class="text_add3" value="0"/>
            <button type="button" class="layui-btn layui-btn-primary" style="margin-left:10px">充值</button>
            <button type="button" class="layui-btn layui-btn-primary" style="margin-left:10px">导出</button> 
          </form>
        </div>
        <ul class="dkq_content">
          <li><span>券名:</span>BK191220000011</li>
          <li><span>券码:</span>已出票</li>
          <li><span>有效期:</span>210元</li>
          <li><span>充值总金额:</span>210元</li>
          <li> </li>
          <li><span>余额:</span>38元</li>
        </ul>
        <div style="clear:both"></div>
    </div>
    <div class="dingdan_list">
       <table class="layui-hide" id="xsgl_02" lay-filter="test"></table>
    </div>
</div>