---
layout: pages1
title: 销售管理-网上购票订单查询
---
<!-- 网上购票订单查询 -->
<div class="easyui-layout ticket" style="width:100%;height:950px;">
    <div class="xpck ticket_right" data-options="region:'center',border:false">
      <div class="xpck_left1">
        <form class="layui-form layui-form-pane" action="">
          <h2>检索</h2>
          <ul> 
            <li><label>退款日期:</label><input type="text" class="layui-input text_add2" id="ylDate"></li>
            <li><label>至:</label><input type="text" class="layui-input text_add2" id="ylEndDate"></li>
            <li><label>手机号码:</label><input type="text" class="layui-input text_add2"></li>
            <li><label>订单编号:</label><input type="text" class="layui-input text_add2"></li>
            <li>
                <label>付款方式:</label>
                <div class="layui-input-block" id="paymet" lay-filter="paymet" style="margin-left:0;"></div>
            </li>
            <li>
                <label>销售类型:</label>
                <div class="layui-input-block" id="xstype" lay-filter="xstype" style="margin-left:0;"></div>
            </li>
            <li>
                <label>是否需要导览:</label>
                <div class="layui-input-block" id="daolan" lay-filter="daolan" style="margin-left:0;"></div>
            </li>
            <li>
                <label>订单状态:</label>
                <div class="layui-input-block" id="ddzt" lay-filter="ddzt" style="margin-left:0;"></div>
            </li>
            <li style="text-align: center;">
                <button type="button" class="layui-btn layui-btn-sm">清空</button> <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">查询</button>
            </li>
          </ul>
        </form>
        <p>注：付款方式和销售类型可多选</p>
      </div>
      <div class="xpck_right1">
        <div class="dingdan_content1">
            <h2>订单信息</h2>
            <div class="layui-input-block" style="margin-left:0;padding:10px 0;display: flex;align-items: center;">
                <label>取票号:</label>
                <input type="text" class="text_add" placeholder="" />    
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" style="width:80px;margin-left:10px">查询</button>
            </div>
        </div>
        <table class="layui-hide" id="xsgl_09" lay-filter="test"></table>
        <script type="text/html" id="barDemo">
            <!-- <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> -->
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
      </div>
    </div>
</div>