---
layout: pages1
title: 销售管理-门票改期
---
<!-- 门票改期 -->
<div class="easyui-layout ticket" style="width:100%;height:950px;">
    <!-- <div data-options="region:'west',border:false" class="leftChaXun" style="width:15%;border:1px solid #dddddd;">
    </div> -->
    <div class="xpck ticket_right" data-options="region:'center',border:false">
      <div class="xpck_left1">
        <form class="layui-form layui-form-pane" action="">
           <h2>按以下条件进行查询</h2>
           <ul>
            <li><label>操作日期:</label><input type="text" class="text_add2" id="ylDate"></li>
            <li><label>至:</label><input type="text" class="text_add2" id="ylEndDate"></li>
            <li><label>票类名称:</label><input type="text" class="text_add2"></li>
            <li><label>操作人:</label><input type="text" class="text_add2"></li>
            <li><hr/></li>
            <li><label>门票条码:</label><input type="text" class="text_add2"></li>
            <li style="text-align: center;">
                <button type="button" class="layui-btn">重置</button> <button type="button" class="layui-btn layui-btn-primary">查询</button>
            </li>
          </ul>
         </form>
      </div>
      <div class="xpck_right1">
        <div class="dingdan_content1">
            <div class="layui-input-block" style="margin-left:0;display: flex;align-items: center;">
                <button type="button" class="layui-btn layui-btn-normal" id="piaolei_add"><i class="layui-icon">&#xe608;</i> 新增门票改期</button>
            </div>
            <table class="layui-hide" id="xsgl_07" lay-filter="test"></table>
        </div>
      </div>
    </div>
</div>