---
layout: pages1
title: 销售管理-散客销售票
---
<!-- 散客销售票 -->
<div class="easyui-layout ticket" style="width:100%;height:950px;">
     <!-- 票类检索 -->
    <div class="pljs ticket_left" data-options="region:'west',border:false">
        <h2>检索</h2>
        <ul class="easyui-tree" data-options="url:'../../json/left_menu/jbxx_menu.json',method:'get',animate:true,dnd:true"></ul>
        <!-- <ul id="tt" class="easyui-tree">
            <li>
                <span>狮子城</span>
                <ul>
                   <li >
                       <span>成人票</span>
                       <ul>
                           <li>平日票</li>
                           <li>周末/节假票</li>
                       </ul>
                   </li>
                   <li>
                       <span>儿童票</span>
                       <ul>
                           <li>平日票</li>
                           <li>周末/节假票</li>
                       </ul>
                   </li>
                   <li><span>不分成人儿童</span></li>
                   <li><span>年卡</span></li>
                   <li><span>正价/半价票</span></li>
                   <li><span>停售票</span></li>
                   <li><span>套售票</span></li>
                   <li><span>卡丁车票</span></li>
                   <li><span>夏令海洋馆</span></li>
                   <li>
                       <span>奇奇之家</span>
                       <ul>
                          <li><span>奇奇套票</span></li>
                          <li><span>游泳</span></li>
                       </ul>
                   </li>
                   <li><span>大门票</span></li>
                   <li><span>CS馆</span></li>
                </ul>
            </li>
        </ul> -->
    </div>
    
    <!-- 售票窗口 -->
    <div class="xpck ticket_right" data-options="region:'center',border:false">
        <div class="xpck_left">
            <form class="layui-form layui-form-pane" action="">
                <div class="xpck_left_group">
                    <div class="xpck_lg_top">
                        <label class="title">海洋世界(成人)</label>
                        <!-- 增加数量 -->
                        <div class="Choice">
                        <button class="" type="button" id="reduce" style="float:left;">-</button>
                        <input class="" type="text" id="Qty" readonly="readonly" name="Qty" value="1">
                        <button class="current" type="button" id="add" style="float:left;">+</button>
                        </div>
                    </div>
                    <div class="xpck_lg_down">
                        <div class="layui-input-block">
                            <select name="" lay-filter="aihao" style="margin-right:10px;">
                                <option value="0">全票</option>
                                <option value="1">半价票</option>
                                <option value="2">免费票</option>
                                <option value="3">自定义折扣</option>
                            </select>
                        </div>
                        <input type="text" name="" value="0.00" class="text_add2" style="width:100px;margin:0 5px;">
                        <button class="layui-btn layui-btn-primary" type="button" style="width: 100px;">选择门票</button>
                    </div>
                </div>
                <div class="xpck_left_group">
                    <div class="xpck_lg_top">
                    <label class="title">海洋世界(成人)</label>
                    <!-- 增加数量 -->
                    <div class="fr Choice">
                        <button class="" type="button" id="reduce" style="float:left;">-</button>
                        <input class="" type="text" id="Qty" readonly="readonly" name="Qty" value="1" style="float:left;">
                        <button class="current" type="button" id="add" style="float:left;">+</button>
                    </div>
                    </div>
                    <div class="xpck_lg_down">
                        <div class="layui-input-block">
                        <select name="" lay-filter="aihao" style="margin-right:10px;">
                            <option value="0">全票</option>
                            <option value="1">半价票</option>
                            <option value="2">免费票</option>
                            <option value="3">自定义折扣</option>
                        </select>
                        </div>
                        <input type="text" name="" value="0.00" class="text_add2" style="width:100px;margin:0 5px;">
                        <button class="layui-btn layui-btn-primary" type="button" style="width: 100px;">选择门票</button>
                    </div>
                </div>
                <div class="xpck_left_group">
                    <div class="xpck_lg_top">
                    <label class="title">海洋世界(成人)</label>
                    <!-- 增加数量 -->
                    <div class="fr Choice">
                        <button class="" type="button" id="reduce" style="float:left;">-</button>
                        <input class="" type="text" id="Qty" readonly="readonly" name="Qty" value="1" style="float:left;">
                        <button class="current" type="button" id="add" style="float:left;">+</button>
                    </div>
                    </div>
                    <div class="xpck_lg_down">
                        <div class="layui-input-block">
                        <select name="" lay-filter="aihao" style="margin-right:10px;">
                            <option value="0">全票</option>
                            <option value="1">半价票</option>
                            <option value="2">免费票</option>
                            <option value="3">自定义折扣</option>
                            </select>
                        </div>
                        <input type="text" name="" value="0.00" class="text_add2" style="width:100px;margin:0 5px;">
                        <button class="layui-btn layui-btn-primary" type="button" style="width: 100px;">选择门票</button>
                </div>
                </div>
            </form>
        </div>
        <div class="xpck_right">
            <div class="layui-input-block" style="margin-left:0;padding-bottom:10px;">
                <div class="xpck_right_btn" style="display: flex;align-items: center;">
                  <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">挂单[F2]</button>
                  <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">取单[F3]</button>
                  <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">清空[F9]</button>
                  <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">结算[F5]</button>
                  <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">混合[F6]</button>
                  <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">上一单[F8]</button>
                  <strong style="margin-left:10px">挂单数:<label>0</label></strong>
                  <strong style="margin-left:10px">票数:<label>0</label></strong>
                </div>
            </div>
            <div style="background-color: #ffffff;">
                <table class="layui-hide" id="xsgl_01" lay-filter="test"></table>
                <script type="text/html" id="barDemo">
                    <!-- <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> -->
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>  
        </div>
    </div>
</div>