//购买数量
.ti_con{
   .piao_01{
      border-bottom:0 !important;
   }
}
.piao_type{
   .Choice{
        height: 1.3rem;
        margin-right:0.2rem; 
        margin-top:0.25rem;
        button{
            width: 24px;
            height: 24px;
            line-height: 22px;
            color: #666;
            text-align: center;
            list-style: none;
            border:0;
            font-size: 1rem;
            border: 1px solid $blue-light;
            border-radius: 4px;
            background: #fff;
            color:$blue-light;
            cursor: pointer;
        }
        .current{
            border: 1px solid $blue-light;
            background: $blue-light;
            color:#fff;
        }
        input{
            width: 36px;
            height: 24px;
            text-align: center;
            list-style: none;
            font-size:$font-14;
            border: 1px solid #dedede;
            color:$blue-light;
            border-radius:0;
        }
   }
}