<div class="mod_pos_item">
	<div class="weui-cells">
			<div class="weui-cell">
				<div class="weui-cell__hd">
								<label for="name" class="weui-label">查看应聘</label>
				</div>
				<div class="weui-cell__bd">
						<select class="weui-select w-100" name="select1">
								<option selected="" value="1">内跟单员</option>
								<option value="2">2保安队长</option>
								<option value="3">外跟单员123</option>
						</select>
				</div>
			</div>
			<div class="weui-cell pt-0 pb-0 pr-0">
				<div class="weui-cell__hd">
						<label for="name" class="weui-label">应聘者查找</label>
				</div>
				<div class="weui-cell__bd">
					 <div class="weui-cell weui-cell_select pl-0">
						 <div class="weui-cell__bd">
					   	 <input class="weui-input w-100 text-left" type="text" placeholder="请选择类型"/>
						 </div>
					 </div>
					 <div class="weui-cell pl-0">
						 <div class="weui-cell__bd">
						   <input class="weui-input w-100 text-left" type="text" placeholder="请输入求职者"/>
					   </div>
					 </div>
				</div>
			</div>
			<div class="weui-cell pt-0 pb-0 pr-0">
				<div class="weui-cell__hd">
					<label for="name" class="weui-label">简历类型</label>
				</div>
				<div class="weui-cell__bd">
					<div class="weui-cell pl-0">
						<div class="weui-cell__bd">
								<div class="form-check">
										<input class="form-check-input" type="radio" name="exampleRadios" id="x1" value="option1" checked>
										<label class="form-check-label w-100" for="x1">全部</label>
								</div>
						</div>
					</div>
					<div class="weui-cell pl-0">
						<div class="weui-cell__bd">
								<div class="form-check">
										<input class="form-check-input" type="radio" name="exampleRadios" id="x2" value="option2">
										<label class="form-check-label w-100" for="x2">主动应聘</label>
								</div>
						</div>
					</div>
					<div class="weui-cell pl-0">
						<div class="weui-cell__bd">
								<div class="form-check">
										<input class="form-check-input" type="radio" name="exampleRadios" id="x3" value="option2">
										<label class="form-check-label w-100" for="x3">系统推荐</label>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="weui-cell pt-0 pb-0 pr-0">
				<div class="weui-cell__hd">
					 <label for="name" class="weui-label">查看状态</label>
				</div>
				<div class="weui-cell__bd">
						<div class="weui-cell pl-0">
								<div class="weui-cell__bd">
										<div class="form-check">
												<input class="form-check-input" type="radio" name="exampleRadios" id="x1" value="option1" checked>
												<label class="form-check-label w-100" for="x1">全部</label>
										</div>
								</div>
						</div>
						<div class="weui-cell pl-0">
								<div class="weui-cell__bd">
										<div class="form-check">
												<input class="form-check-input" type="radio" name="exampleRadios" id="x2" value="option2">
												<label class="form-check-label w-100" for="x2">已查看</label>
										</div>
								</div>
						</div>
						<div class="weui-cell pl-0">
								<div class="weui-cell__bd">
										<div class="form-check">
												<input class="form-check-input" type="radio" name="exampleRadios" id="x3" value="option2">
												<label class="form-check-label w-100" for="x3">未查看</label>
										</div>
								</div>
						</div>
				</div>
			</div>
			<div class="weui-cell">
				<a href="javascript:;" class="btn btn-outline-primary btn-block border-0 p-0"><i class="fa fa-search"></i> 开始搜查</a>
			</div>
	</div>
</div>