<div class="mod_pos_item" style="display: none;">
	<div class="weui-cells">
	 <div class="MaxHeight500">
	{% if page.layout == "qyMine/qyEntTalPoo" %}
				<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
									<label for="name" class="weui-label">查看应聘</label>
					</div>
					<div class="weui-cell__bd">
							<select class="weui-select w-100" name="select1">
									<option value="0">（全部）</option>
									<option value="1">web前端</option>
									<option value="2">磨床师傅</option>
									<option value="3">外跟单员</option>
							</select>
					</div>
				</div>
				<div class="weui-cell pt-0 pb-0 pr-0">
					<div class="weui-cell__hd">
							<label for="name" class="weui-label">应聘者查找</label>
					</div>
					<div class="weui-cell__bd">
						<div class="weui-cell weui-cell_select pl-0">
							<div class="weui-cell__bd">
									<select class="weui-select w-100" name="select1">
											<option value="0">不限类型</option>
											<option value="1">编号</option>
											<option value="2">姓名</option>
											<option value="3">性别</option>
											<option value="4">学历</option>
											<option value="5">毕业学校</option>
											<option value="6">现所在地</option>
											<option value="7">电子邮件</option>
											<option value="8">所学专业</option>
									</select>
							</div>
						</div>
						<div class="weui-cell pl-0">
							<div class="weui-cell__bd">
								<input class="weui-input w-100 text-left" type="text" placeholder="请输入求职者"/>
							</div>
						</div>
					</div>
				</div>
				<div class="weui-cell pt-0 pb-0 pr-0">
					<div class="weui-cell__hd">
						<label for="name" class="weui-label">简历类型</label>
					</div>
					<div class="weui-cell__bd">
						<div class="weui-cell pl-0">
							<div class="weui-cell__bd">
									<div class="form-check">
											<input class="form-check-input" type="radio" name="exampleRadios" id="x1" value="option1" checked>
											<label class="form-check-label w-100" for="x1">全部</label>
									</div>
							</div>
						</div>
						<div class="weui-cell pl-0">
							<div class="weui-cell__bd">
									<div class="form-check">
											<input class="form-check-input" type="radio" name="exampleRadios" id="x2" value="option2">
											<label class="form-check-label w-100" for="x2">主动应聘</label>
									</div>
							</div>
						</div>
						<div class="weui-cell pl-0">
							<div class="weui-cell__bd">
									<div class="form-check">
											<input class="form-check-input" type="radio" name="exampleRadios" id="x3" value="option2">
											<label class="form-check-label w-100" for="x3">系统推荐</label>
									</div>
							</div>
						</div>
					</div>
				</div>
				<div class="weui-cell pt-0 pb-0 pr-0">
						<div class="weui-cell__hd">
							<label for="name" class="weui-label">查看状态</label>
						</div>
						<div class="weui-cell__bd">
							<div class="weui-cell pl-0">
								<div class="weui-cell__bd">
										<div class="form-check">
												<input class="form-check-input" type="radio" name="exampleRadios" id="x1" value="option1" checked>
												<label class="form-check-label w-100" for="x1">全部</label>
										</div>
								</div>
							</div>
							<div class="weui-cell pl-0">
								<div class="weui-cell__bd">
										<div class="form-check">
												<input class="form-check-input" type="radio" name="exampleRadios" id="x2" value="option2">
												<label class="form-check-label w-100" for="x2">未查看</label>
										</div>
								</div>
							</div>
							<div class="weui-cell pl-0">
								<div class="weui-cell__bd">
										<div class="form-check">
												<input class="form-check-input" type="radio" name="exampleRadios" id="x3" value="option2">
												<label class="form-check-label w-100" for="x3">已查看</label>
										</div>
								</div>
							</div>
						</div>
					</div>
				<div class="weui-cell pt-0 pb-0 pr-0">
						<div class="weui-cell__hd">
							<label for="name" class="weui-label">查看状态</label>
						</div>
						<div class="weui-cell__bd">
							<div class="weui-cell pl-0">
								<div class="weui-cell__bd">
										<div class="form-check">
												<input class="form-check-input" type="radio" name="exampleRadios" id="x1" value="option1" checked>
												<label class="form-check-label w-100" for="x1">全部</label>
										</div>
								</div>
							</div>
							<div class="weui-cell pl-0">
								<div class="weui-cell__bd">
										<div class="form-check">
												<input class="form-check-input" type="radio" name="exampleRadios" id="x2" value="option2">
												<label class="form-check-label w-100" for="x2">未查看</label>
										</div>
								</div>
							</div>
							<div class="weui-cell pl-0">
								<div class="weui-cell__bd">
										<div class="form-check">
												<input class="form-check-input" type="radio" name="exampleRadios" id="x3" value="option2">
												<label class="form-check-label w-100" for="x3">已查看</label>
										</div>
								</div>
							</div>
						</div>
					</div>
	{% endif %}
	{% if page.layout == "qyMine/qyInvInterRec" %}
				<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
									<label for="name" class="weui-label">查看应聘</label>
					</div>
					<div class="weui-cell__bd text-right">
							<select class="weui-select w-100" name="select1">
									<option value="0">（全部）</option>
									<option value="1">web前端</option>
									<option value="2">磨床师傅</option>
									<option value="3">外跟单员</option>
							</select>
					</div>
				</div>
				<div class="weui-cell pt-0 pb-0 pr-0">
				<div class="weui-cell__hd">
						<label for="name" class="weui-label">应聘者查找</label>
				</div>
				<div class="weui-cell__bd pr-0">
						<div class="weui-cell weui-cell_select pl-0">
								<div class="weui-cell__bd">
										<select class="weui-select w-100" name="select1">
												<option value="0">不限类型</option>
												<option value="1">编号</option>
												<option value="2">姓名</option>
												<option value="3">性别</option>
												<option value="4">学历</option>
												<option value="5">毕业学校</option>
												<option value="6">现所在地</option>
												<option value="7">电子邮件</option>
												<option value="8">所学专业</option>
										</select>
								</div>
						</div>
						<div class="weui-cell pl-0">
								<div class="weui-cell__bd">
										<input class="weui-input w-100 text-left" type="text" placeholder="请输入求职者"/>
								</div>
						</div>
					</div>
				</div>
	{% endif %}
	{% if page.layout == "qyMine/qyJobRecycle" %}
				<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
									<label for="name" class="weui-label">部门</label>
					</div>
					<div class="weui-cell__bd text-right">
						<input class="weui-input w-25 text-right" type="text" placeholder="请选择"/>
					</div>
				</div>
				<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
									<label for="name" class="weui-label w-100">职位</label>
					</div>
					<div class="weui-cell__bd text-right">
						<input class="weui-input w-25 text-right" type="text" placeholder="请选择"/>
					</div>
				</div>
				<div class="weui-cell weui-cell_select">
					<div class="weui-cell__hd">
									<label for="name" class="weui-label w-100">关键字</label>
					</div>
					<div class="weui-cell__bd text-right">
						<input class="weui-input w-25 text-right" type="text" placeholder="请输入"/>
					</div>
				</div>
	{% endif %}
	{% if page.layout == "qyMine/qyPostMan" %}
				<div class="weui-cell weui-cell_select">
						<div class="weui-cell__hd">
								<label for="name" class="weui-label">部门</label>
						</div>
						<div class="weui-cell__bd">
								<input class="weui-input text-right" type="text" placeholder="请选择" />
						</div>
				</div>
				<div class="weui-cell weui-cell_select">
						<div class="weui-cell__hd">
								<label for="name" class="weui-label">状态</label>
						</div>
						<div class="weui-cell__bd">
								<input class="weui-input text-right" type="text" placeholder="请选择" />
						</div>
				</div>
				<div class="weui-cell">
						<div class="weui-cell__hd">
								<label for="name" class="weui-label">关键字</label>
						</div>
						<div class="weui-cell__bd">
								<input class="weui-input text-right" type="text" placeholder="请输入" />
						</div>
				</div>
	{% endif %}
	{% if page.layout == "qyMine/qyRecPos" %}
				<div class="weui-cell pt-0 pb-0 pr-0">
						<div class="weui-cell__hd">
							<label for="name" class="weui-label">应聘者查找</label>
						</div>
						<div class="weui-cell__bd pr-0 pl-3">
								<div class="weui-cell weui-cell_select pl-0">
									<div class="weui-cell__bd">
											<select class="weui-select w-100" name="select1">
													<option value="1" selected="">编号</option>
													<option value="2">姓名</option>
													<option value="3">性别</option>
													<option value="4">学历</option>
													<option value="5">毕业学校</option>
													<option value="6">现所在地</option>
													<option value="7">电子邮件</option>
													<option value="8">所学专业</option>
											</select>
									</div>
								</div>
								<div class="weui-cell pl-0">
									<div class="weui-cell__bd">
										<input class="weui-input w-100 text-left" type="text" placeholder="请输入求职者"/>
									</div>
								</div>
						</div>
				</div>
				<div class="weui-cell weui-cell_select">
						<div class="weui-cell__hd">
										<label for="name" class="weui-label">处理状态</label>
						</div>
						<div class="weui-cell__bd pl-3">
								<select class="weui-select w-100" name="select1">
										<option selected="" value="1">内跟单员</option>
										<option value="2">2保安队长</option>
										<option value="3">外跟单员123</option>
								</select>
						</div>
				</div>
	{% endif %}
	</div>
	  <div class="weui-cell">
			<a href="javascript:void(0);" class="btn btn-secondary btn-block border-0 p-2" id="searchBtn">
				<i class="fa fa-search"></i> 开始搜查</a>
		</div>
  </div>
</div>