<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>狮子城-奇奇主题酒店</title>
    {% include header.html %}
    {% include script.html %}
</head>
<body>
    {{content}}
    <script src="../../static/web/src/layui.js" charset="utf-8"></script>
    {% if page.layout == "page/fangtaitu/fangtaitu" %}
        {% include script/fangtaituJs.html %}
    {% endif %}
    {% if page.layout == "page/fjguanli/fjguanli" %}
        {% include script/fjguanliJs.html %}
    {% endif %}
    {% if page.layout == "page/fjguanli/wxfang" %}
        {% include script/wxfangJs.html %}
    {% endif %}
    {% if page.layout == "page/fjguanli/fxguanli" %}
        {% include script/fxguanliJs.html %}
    {% endif %}
    {% if page.layout == "page/yonghu/yhchaxun" %}
        {% include script/yhchaxunJs.html %}
    {% endif %}
    {% if page.layout == "page/dingdan/dingdan" %}
        {% include script/dingdanJs.html %}
    {% endif %}
    {% if page.layout == "page/fangdan/fangdan" %}
        {% include script/fangdanJs.html %}
    {% endif %}
    {% if page.layout == "page/fangjia/fangjia" %}
        {% include script/fangjiaJs.html %}
    {% endif %}
</body>
</html>