---
layout: default
title: 添加请假
---
<div class="addLeave">
    <form class="layui-form layui-form-pane1" action="" lay-filter="first" style="width:100%">
        <div class="p-3">

            <div class="layui-form-item">
                <label class="layui-form-label" style="width:100px;">申请人</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required|name" required placeholder="请输入签到人" autocomplete="off" class="layui-input">
                </div>
            </div>
                
            <div class="layui-form apply-form" style="width:100%">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">所属公司</label>
                    <div class="layui-input-block">
                        <input type="text" name="number" lay-verify="required|name" value="816002" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">部门</label>
                    <div class="layui-input-block">
                        <select name="interest" lay-filter="interest">
                            <option value="0">网络部</option>
                            <option value="1">市场部</option>
                            <option value="2">客服部</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">职位</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required|name" required placeholder="签到主题" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">请假时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" lay-verify="required|address" required placeholder="请选择请假时间" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">上班时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" lay-verify="required|address" required placeholder="请选择上班时间" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">请假类型</label>
                    <div class="layui-input-block">
                        <select name="interest" lay-filter="interest">
                            <option value="0">年假</option>
                            <option value="1">产假</option>
                            <option value="2">工伤假</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label" style="width:100px;">事由</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>
                    </div>
                </div>

            </div>

        </div>
    </form>
</div>