---
layout: default
title: 签到记录
---
<header class="search">
    <div class="search_header search_bg_Ter_Whi">
        <div class="search_header_box">
            <div class="search_left w-2"><a href="javascript:history.back()"><i class="fa fa-angle-left fa-lg"></i></a></div>
            <div class="search_center"><a href="javascript:"> 签到记录 </a></div>
            <div class="search_right w-2"><a href=""></a></div>
        </div>
    </div>
</header>
<div class="attPunch">
    <div class="weui-cells">
        <div class="weui-cell mb-2">
            <div class="weui-cell__hd">
                <svg class="icon mr-2 mt-1 text-success" aria-hidden="true">
                <use xlink:href="#icon-riqi"></use>
                </svg>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="checkin-time" type="text" value="2018年12月12日">
            </div>
            <div class="weui_cell_ft">
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </div>
    <div class="weui-cells">

        <div class="weui-cell mb-2">
            <div class="weui-cell__bd">
                <a href="checkInDail.html">
                    <div class="leaveType">
                        <span class="text-dark">签到</span>｜<span class="text-success">完成</span>
                    </div>
                    <div class="leaveTime">
                        <span>2019-03-13 09:41</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="weui-cell mb-2">
            <div class="weui-cell__bd">
                <a href="checkInDail.html">
                    <div class="leaveType">
                        <span class="text-dark">签到</span>｜<span class="text-danger">失败</span></div>
                    <div class="leaveTime">
                        <span>2019-03-13 09:41</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="weui-cell mb-2">
            <div class="weui-cell__bd">
                <a href="checkInDail.html">
                    <div class="leaveType">
                        <span class="text-dark">签到</span>｜<span class="text-danger">失败</span></div>
                    <div class="leaveTime">
                        <span>2019-03-13 09:41</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <a href="checkInDail.html">
                <div class="leaveType">
                    <span class="text-dark">签到</span>｜<span class="text-success">完成</span>
                <div class="leaveTime">
                    <span>2019-03-13 09:41</span>
                </div>
                </a>
            </div>
        </div>

    </div>
</div>