---
layout: default
title: 考勤系统
---
<div class="status">
    <div>
        <a href="CheckIn.html" class="sta_tit_box">
            <img src="static/images/icon/24.png" alt="">
            <p class="pt-2">签到</p>
        </a>
        <a href="leave.html" class="sta_tit_box mt-5">
           <img src="static/images/icon/25.png" alt="">
           <p class="pt-2">请假</p>
        </a>
    </div>
</div>
<!-- <div class="daily">
    <div class="weui-grids">
        <a href="CheckIn.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/24.png" alt="">
            </div>
            <p class="weui-grid__label">签到</p>
        </a>
        <a href="leave.html" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="static/images/icon/25.png" alt="">
            </div>
            <p class="weui-grid__label">请假</p>
        </a>
    </div>
</div> -->