---
layout: default
title: 请假记录
---
<header class="search">
    <div class="search_header search_bg_Ter_Whi">
        <div class="search_header_box">
            <div class="search_left w-2"><a href="javascript:history.back()"><i class="fa fa-angle-left fa-lg"></i></a></div>
            <div class="search_center"><a href="javascript:"> 请假记录 </a></div>
            <div class="search_right w-2"><a href=""></a></div>
        </div>
    </div>
</header>
<div class="attPunch">
    <div class="weui-cells">
        <div class="weui-cell">
        <div class="weui-cell__hd">
            <svg class="icon mr-2 mt-1 text-success" aria-hidden="true">
            <use xlink:href="#icon-riqi"></use>
            </svg>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="date2" type="text" value="2018年12月12日">
        </div>
        <div class="weui_cell_ft">
            <i class="fa fa-angle-down"></i>
        </div>
        </div>
    </div>
    <div class="weui-cells">

        <div class="weui-cell">
        <div class="weui-cell__bd pr-0 mr-0">
            <h4><span class="mr-2">网络技术部</span><small>.Net后端工程师</small></h4>
            <section>
            <small><a href="mineResumeView.html" class="text-danger">黄先生</a></small>
            <small>打卡 <em>0</em> 次</span> | <span>2018-12-10 09:41</small>
            </section>
        </div>
        </div>

        <div class="weui-cell">
        <div class="weui-cell__bd pr-0 mr-0">
            <h4><span class="mr-2">网络技术部</span><small>H5前端工程师</small></h4>
            <section>
            <small><a href="mineResumeView.html" class="text-danger">黄先生</a></small>
            <small>打卡 <em>0</em> 次</span> | <span>2018-12-10 09:41</small>
            </section>
        </div>
        </div>

        <div class="weui-cell">
        <div class="weui-cell__bd pr-0 mr-0">
            <h4><span class="mr-2">网络技术部</span><small>网页设计</small></h4>
            <section>
            <small><a href="mineResumeView.html" class="text-danger">黄先生</a></small>
            <small>打卡 <em>0</em> 次</span> | <span>2018-12-10 09:41</small>
            </section>
        </div>
        </div>

        <div class="weui-cell">
        <div class="weui-cell__bd pr-0 mr-0">
            <h4><span class="mr-2">网络技术部</span><small>网络平台运营</small></h4>
            <section>
            <small><a href="mineResumeView.html" class="text-danger">黄先生</a></small>
            <small>打卡 <em>0</em> 次</span> | <span>2018-12-10 09:41</small>
            </section>
        </div>
        </div>

    </div>
</div>