---
layout: default
title: 请假记录
---
<header class="search">
    <div class="search_header search_bg_Ter_Whi border-0">
        <div class="search_header_box">
            <div class="search_left w-2"><a href="javascript:history.back()"><i class="fa fa-angle-left fa-lg"></i></a></div>
            <div class="search_center"><a href="javascript:"> 请假记录 </a></div>
            <div class="search_right w-2"><a href=""></a></div>
        </div>
    </div>
</header>
<div class="attPunch mb-5">
    <div class="weui-cells">
        <div class="weui-cell border-0">
            <div class="weui-cell__hd">
                <svg class="icon mr-2 mt-1 text-success" aria-hidden="true">
                <use xlink:href="#icon-riqi"></use>
                </svg>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="checkin-time" type="text" value="2018年12月12日">
            </div>
            <div class="weui_cell_ft">
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </div>
    <div class="p-2">
        <button type="submit" class="btn btn-danger btn-block p-2 m-0" id="addLeaveSornd">+ 添加请假</button>
    </div>
    <div class="weui-cells">
        <div class="weui-cell mb-2 border-0">
            <div class="weui-cell__bd">
              <a href="leaveDail.html">
                <div class="leaveType">
                    <span class="text-dark">病假</span>｜<span class="text-danger">审核中</span> <small class="badge badge-info">补</small></div>
                <div class="leaveTime">
                    <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                </div>
              </a>    
            </div>
        </div>
        <div class="weui-cell mb-2">
            <div class="weui-cell__bd">
               <a href="leaveDail.html">
                 <div class="leaveType">
                    <span class="text-dark">事假</span>｜<span class="text-danger">审核中</span></div>
                 <div class="leaveTime">
                   <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                 </div>
               </a>
            </div>
        </div>
        <div class="weui-cell mb-2">
            <div class="weui-cell__bd">
               <a href="leaveDail.html">
                    <div class="leaveType">
                        <span class="text-dark">年假</span>｜<span class="text-success">已同意</span></div>
                    <div class="leaveTime">
                      <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-cell mb-2">
            <div class="weui-cell__bd">
              <a href="leaveDail.html">
                <div class="leaveType">
                    <span class="text-dark">工假</span>｜<span class="text-primary">已反馈</span></div>
                <div class="leaveTime">
                <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                </div>
              </a>
            </div>
        </div>
        <div class="weui-cell mb-2">
                <div class="weui-cell__bd">
                   <a href="leaveDail.html">
                     <div class="leaveType">
                        <span class="text-dark">事假</span>｜<span class="text-danger">审核中</span></div>
                     <div class="leaveTime">
                       <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                     </div>
                   </a>
                </div>
        </div>
        <div class="weui-cell mb-2">
            <div class="weui-cell__bd">
                <a href="leaveDail.html">
                    <div class="leaveType">
                        <span class="text-dark">年假</span>｜<span class="text-success">已同意</span></div>
                    <div class="leaveTime">
                        <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-cell mb-2">
            <div class="weui-cell__bd">
                <a href="leaveDail.html">
                <div class="leaveType">
                    <span class="text-dark">工假</span>｜<span class="text-primary">已反馈</span></div>
                <div class="leaveTime">
                <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                </div>
                </a>
            </div>
        </div>
        <div class="weui-cell mb-2">
                <div class="weui-cell__bd">
                    <a href="leaveDail.html">
                        <div class="leaveType">
                        <span class="text-dark">事假</span>｜<span class="text-danger">审核中</span></div>
                        <div class="leaveTime">
                        <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-cell mb-2">
            <div class="weui-cell__bd">
                <a href="leaveDail.html">
                    <div class="leaveType">
                        <span class="text-dark">年假</span>｜<span class="text-success">已同意</span></div>
                    <div class="leaveTime">
                        <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-cell mb-2">
            <div class="weui-cell__bd">
                <a href="leaveDail.html">
                <div class="leaveType">
                    <span class="text-dark">工假</span>｜<span class="text-primary">已反馈</span></div>
                <div class="leaveTime">
                <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                </div>
                </a>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
              <a href="leaveDail.html">
                <div class="leaveType">
                    <span class="text-dark">其他</span>｜<span class="text-success">已同意</span></div>
                <div class="leaveTime">
                  <span>2018-12-10 09:41</span> ~ <span>2018-12-10 09:41</span>
                </div>
              </a>
            </div>
        </div>
    </div>
</div>


<div id="add-main1" style="display: none;">
     <form class="layui-form layui-form-pane1" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">申请人</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" required placeholder="请输入签到人" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">所属公司</label>
            <div class="layui-input-block">
                <input type="text" name="number" lay-verify="required" value="816002" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">部门</label>
            <div class="layui-input-block">
                <select name="interest" lay-filter="interest">
                    <option value="0">网络部</option>
                    <option value="1">市场部</option>
                    <option value="2">客服部</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">职位</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" required placeholder="签到主题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">请假时间</label>
            <div class="layui-input-block">
                <input type="text" name="address" lay-verify="required" required placeholder="请选择请假时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">上班时间</label>
            <div class="layui-input-block">
                <input type="text" name="address" lay-verify="required" required placeholder="请选择上班时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">请假类型</label>
            <div class="layui-input-block">
                <select name="interest" lay-filter="interest">
                    <option value="0">年假</option>
                    <option value="1">产假</option>
                    <option value="2">工伤假</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" style="width:100px;">事由</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="save">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="closeBtn">关闭</button>
            </div>
        </div>
     </form>
</div>